Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

libnetwork_test: isolate tests from each other
  libnetwork/firewall_linux_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/resolver_test.go
  libnetwork/service_common_test.go
Owners: none

libnet/d/bridge: fix race condition in test case
  libnetwork/drivers/bridge/bridge_test.go
Owners: none

libnetwork: stop caching global netlink handle
  libnetwork/netutils/utils_linux.go
Owners: none

libnet/d/bridge: fix bridgeInterface.addresses()
  libnetwork/drivers/bridge/interface.go
Owners: none

libnetwork_test: stop controllers at end of test
  libnetwork/sandbox_test.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Owners: none

libnet/d/bridge: use fresh PortAllocator in tests
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_test.go
Owners: none

libnetwork_test: overhaul TestParallel
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
Owners: none

libnetwork_test: improve OptionBoltdbWithRandomDBFile
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_test.go
  libnetwork/sandbox_test.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Owners: none

replace distribution/digestset with opencontainers/go-digest/digestset
  image/store.go
  vendor/github.com/opencontainers/go-digest/digestset/set.go
  vendor/modules.txt
Owners: none

builder/remotecontext/gitutils: switch back to os/exec
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

pkg/archive: switch back to os/exec
  pkg/archive/archive.go
Owners: none

vendor: golang.org/x/sys v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/cpu/cpu_other_ppc64x.go
  vendor/golang.org/x/sys/unix/asm_bsd_ppc64.s
  vendor/golang.org/x/sys/unix/dirent.go
  vendor/golang.org/x/sys/unix/mkall.sh
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_libc.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix_gc.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_illumos_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysctl_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsysctl_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_illumos_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sync v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/time v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/bpf/vm_instructions.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/socket/mmsghdr_unix.go
  vendor/golang.org/x/net/internal/socket/msghdr_linux.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/net/trace/trace.go
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/modules.txt
Owners: none

image: store.restore(): use more structured logs
  image/store.go
Owners: none

restore behaviour of allocator.insertBitMask which returned a fully used up set. Required for moby/swarmkit #3081/#3083
  libnetwork/ipam/allocator.go
Owners: none

logger: remove logentries driver
  daemon/logdrivers_linux.go
  daemon/logdrivers_windows.go
  daemon/logger/logentries/logentries.go
  vendor.mod
  vendor.sum
  vendor/github.com/bsphere/le_go/.gitignore
  vendor/github.com/bsphere/le_go/.travis.yml
  vendor/github.com/bsphere/le_go/LICENSE
  vendor/github.com/bsphere/le_go/README.md
  vendor/github.com/bsphere/le_go/le.go
  vendor/modules.txt
Owners: none

logger: remove logentries driver
  daemon/logdrivers_linux.go
  daemon/logdrivers_windows.go
  daemon/logger/logentries/logentries.go
  vendor.mod
  vendor.sum
  vendor/github.com/bsphere/le_go/.gitignore
  vendor/github.com/bsphere/le_go/.travis.yml
  vendor/github.com/bsphere/le_go/LICENSE
  vendor/github.com/bsphere/le_go/README.md
  vendor/github.com/bsphere/le_go/le.go
  vendor/modules.txt
Owners: none

restore behaviour of allocator.insertBitMask which returned a fully used up set. Required for moby/swarmkit #3081/#3083
  libnetwork/ipam/allocator.go
Owners: none

ci(actions): migrate to file-based commands
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none

ci(actions): bump outdated actions on Linux
  .github/workflows/ci.yml
Owners: none

Fix grammar in README.md
  README.md
Owners: none

ci(actions): migrate to file-based commands
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none

ci(actions): bump outdated actions on Linux
  .github/workflows/ci.yml
Owners: none

chore: update supported go version to 1.18+
  hack/go-mod-prepare.sh
  hack/vendor.sh
  pkg/plugins/discovery.go
  pkg/plugins/utils.go
  pkg/plugins/utils_go1.16.go
  vendor.mod
Owners: @tianon

vendor: gotest.tools v3.3.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/internal/source/version.go
  vendor/modules.txt
Owners: none

vendor: gotest.tools/v3 v3.4.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/skip/skip.go
  vendor/modules.txt
Owners: none

vendor: github.com/google/go-cmp v0.5.9 to remove golang.org/x/xerrors dep
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Owners: none

Add an ExitPid field for `State` struct to record exit process id. Compare the pid of start event with c.ExitPid, if equal we should not set the container to running state.
  container/state.go
  daemon/monitor.go
Owners: none

fix vendor.mod: add hashicorp/go-multierror as direct dependency
  vendor.mod
Owners: none

vendor: github.com/moby/buildkit v0.10.6
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/spec_windows.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/worker/worker.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.6
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/spec_windows.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/worker/worker.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Owners: none

update containerd binary to v1.6.10
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.6.10
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

cleanup: drop .DEREK.yml
  .DEREK.yml
Owners: none

ignorefiles: cleanup
  .dockerignore
  .gitignore
Owners: none

cleanup: drop historical CHANGELOG.md
  CHANGELOG.md
Owners: none

hack/validate: drop changelog-related steps
  hack/validate/changelog-date-descending
  hack/validate/changelog-well-formed
  hack/validate/default
Owners: @tianon

vendor: github.com/rootless-containers/rootlesskit v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/modules.txt
Owners: none
