Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

builder: enable shm-size and ulimit for buildkit
  builder/builder-next/builder.go
Owners: @tonistiigi

builder: add buildinfo for buildkit
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/exporter/export.go
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

ci: buildkit integration test
  .github/workflows/ci.yml
  hack/buildkit-ref
Owners: @tianon

[20.10] vendor: containerd 7cfa023d95d37076d5ab035003d4839f4b6ba791
  vendor.conf
  vendor/github.com/containerd/containerd/oci/spec.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
Owners: none

Mount (accessible) host devices in --privileged rootless containers
  daemon/oci_linux.go
  integration/container/run_linux_test.go
Owners: none

[20.10] update containerd binary to 1.5.11
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.2
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.6.2
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/oci/spec.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

Remove comment that is no longer relevant
  daemon/images/service.go
Owners: none

log error message when receiving an unexpected type error
  errdefs/http_helpers.go
Owners: none

errdefs: move GetHTTPErrorStatusCode to api/server/httpstatus
  api/server/errorhandler.go
  api/server/httpstatus/status.go
  api/server/httputils/errors_deprecated.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
  errdefs/http_helpers.go
Owners: none

Jenkinsfile: windows-2022: add stage with Hyper-V isolation
  Jenkinsfile
Owners: none

Jenkinsfile: windows-2022: disable Windows Defender
  Jenkinsfile
Owners: none

Jenkinsfile: windows-2022-hyperv: run with --storage-opt size=40G
  Jenkinsfile
Owners: none

hack/ci/windows.ps1: print command to build busybox
  hack/ci/windows.ps1
Owners: @tianon

contrib/busybox: use mkdir -p to prevent errors if directories exist
  contrib/busybox/Dockerfile
Owners: none

daemon: use RWMutex for stateCounter
  daemon/metrics.go
Owners: none

daemon: graphdriver: some minor cleanup
  daemon/graphdriver/driver.go
Owners: none

daemon: require storage-driver to be set if the driver is deprecated
  daemon/graphdriver/driver.go
  daemon/info.go
Owners: none

registry: remove dependency on rootlesskit, add `SetCertsDir()`
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/docker.go
  registry/config.go
  registry/config_unix.go
  registry/config_windows.go
Owners: none

update RootlessKit to v1.0.0
  hack/dockerfile/install/rootlesskit.installer
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: @tianon

API: add "Swarm" header to _ping endpoint
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  daemon/cluster/swarm.go
  docs/api/version-history.md
  integration/system/ping_test.go
Owners: none

client: Ping(): add handling for swarm status headers
  api/types/swarm/swarm.go
  api/types/types.go
  client/ping.go
  client/ping_test.go
Owners: none

Break out `setupWindowsDevices` and add tests
  daemon/oci_windows.go
  daemon/oci_windows_test.go
  integration/container/devices_windows_test.go
  integration/internal/container/ops.go
Owners: none

Allow Windows Devices to be activated for HyperV Isolation
  daemon/oci_windows.go
  daemon/oci_windows_test.go
  integration/container/devices_windows_test.go
Owners: none

Pass TestPsListContainersFilterCreated if other created containers exist
  integration-cli/docker_cli_ps_test.go
Owners: none

Suport vpci-class-guid in the non-containerd backend
  integration/container/devices_windows_test.go
  libcontainerd/local/local_windows.go
Owners: none

Implement :// separator for arbitrary Windows Device IDTypes
  daemon/oci_windows.go
  daemon/oci_windows_test.go
  docs/api/version-history.md
  integration/container/devices_windows_test.go
  libcontainerd/local/local_windows.go
Owners: none

vendor: github.com/moby/buildkit d7744bc
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

distribution: use correct platform matcher for containerd
  distribution/pull_v2_unix.go
Owners: none

Volodymyr Zelenskyy added
  pkg/namesgenerator/names-generator.go
Owners: none

postImagesCreate does actually produce JSON sequence (rfc7464).
  api/server/router/image/image_routes.go
  api/swagger.yaml
Owners: none

/events also produces application/json-seq
  api/server/router/system/system_routes.go
  api/swagger.yaml
  client/events.go
Owners: none

SDK client to send Accept header with supported content types
  api/swagger.yaml
  client/image_create.go
Owners: none

JSONProgressOutput can check io.Writer has MediaType and adjust format accordingly
  api/common.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/mediaWriter.go
  pkg/streamformatter/streamformatter.go
Owners: none

document API changes
  docs/api/version-history.md
Owners: none

move MediaTypeWriter to streamformatter package
  api/common.go
  api/server/router/image/image_routes.go
  pkg/streamformatter/mediaWriter.go
  pkg/streamformatter/streamformatter.go
Owners: none

postImagePush also produces json sequence for push progress
  client/image_push.go
Owners: none

docs: fix (table) formatting, fix some broken links
  docs/reference/commandline/dockerd.md
Owners: none

Switch to gender neutral terms
  CONTRIBUTING.md
  MAINTAINERS
  ROADMAP.md
  distribution/push_v2.go
  libnetwork/bitseq/sequence.go
  pkg/README.md
  pkg/namesgenerator/names-generator.go
  project/REVIEWING.md
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/github.com/docker/distribution/manifests.go
  vendor/github.com/docker/swarmkit/manager/scheduler/scheduler.go
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/google/certificate-transparency-go/asn1/asn1.go
  vendor/github.com/opencontainers/go-digest/CONTRIBUTING.md
  vendor/github.com/prometheus/procfs/mountstats.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
Owners: @thaJeztah
