Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

hack/generate-authors.sh: refactor and simplify
  hack/generate-authors.sh
Owners: @tianon

.mailmap: cleanup and additions
  .mailmap
Owners: none

AUTHORS: regenerate
  AUTHORS
Owners: none

hack/generate-authors.sh: refactor and simplify
  hack/generate-authors.sh
Owners: @tianon

.mailmap: cleanup and additions
  .mailmap
Owners: none

AUTHORS: regenerate
  AUTHORS
Owners: none

client/list: Handle SharedSize
  client/image_list.go
  client/image_list_test.go
Owners: none

client/list: Handle SharedSize
  client/image_list.go
  client/image_list_test.go
Owners: none

testing: move fuzzers over from OSS-Fuzz
  daemon/logger/jsonfilelog/fuzz_test.go
  daemon/logger/jsonfilelog/jsonlog/fuzz_test.go
  libnetwork/etchosts/fuzz_test.go
  oci/fuzz_test.go
  pkg/archive/fuzz_test.go
  pkg/tailfile/fuzz_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/AdaLogics/go-fuzz-headers/LICENSE
  vendor/github.com/AdaLogics/go-fuzz-headers/README.md
  vendor/github.com/AdaLogics/go-fuzz-headers/consumer.go
  vendor/github.com/AdaLogics/go-fuzz-headers/funcs.go
  vendor/github.com/AdaLogics/go-fuzz-headers/sql.go
  vendor/modules.txt
  volume/mounts/fuzz_test.go
Owners: none

libnetwork: use go-immutable-radix instead of radix
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  vendor.mod
  vendor.sum
  vendor/github.com/armon/go-radix/.gitignore
  vendor/github.com/armon/go-radix/.travis.yml
  vendor/github.com/armon/go-radix/LICENSE
  vendor/github.com/armon/go-radix/README.md
  vendor/github.com/armon/go-radix/radix.go
  vendor/modules.txt
Owners: none

hack: update default CLI version to 20.10.21
  hack/dockerfile/install/dockercli.installer
Owners: @tianon

archive: add TestCmdStreamDeadlock
  pkg/archive/archive_test.go
Owners: none

archive: refactor race fixing logic to prevent potential deadlock
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

Enable `process_vm_readv` and `process_vm_writev` for kernel > 4.8
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

seccomp: add support for "swapcontext" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

profiles: seccomp: add syscalls related to PKU in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

seccomp: allow "bpf", "perf_event_open", gated by CAP_BPF, CAP_PERFMON
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

archive: improve path splitting logic
  daemon/archive_unix.go
Owners: none

distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Owners: none

distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Owners: none

distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Owners: none

ci(buildkit): update buildkit ref to fix issue with alpine image
  .github/workflows/buildkit.yml
Owners: none

ci(buildkit): update buildkit ref to fix issue with alpine image
  .github/workflows/buildkit.yml
Owners: none

builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Owners: @tonistiigi

builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Owners: @tonistiigi

[23.0] remove libtrust tests
  integration-cli/docker_cli_daemon_test.go
  integration/daemon/daemon_test.go
Owners: none

daemon/config: remove and local trustkey utilities
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
  daemon/trustkey.go
  daemon/trustkey_test.go
Owners: none

use ad-hoc libtrust key
  cmd/dockerd/options.go
  daemon/daemon.go
  daemon/images/image_push.go
  daemon/images/service.go
  daemon/trustkey.go
  daemon/trustkey_test.go
  distribution/config.go
Owners: none

distribution: use ad-hoc trustkey for tests
  distribution/push_v2.go
Owners: none

distribution: remove unused RequireSchema2
  distribution/config.go
  distribution/pull_v2.go
  distribution/push_v2.go
Owners: none

update delve version
  Dockerfile
Owners: none

Add Kevin Alvarez ("crazy-max") to curators
  MAINTAINERS
Owners: none

Better not pretend to be an active currator
  MAINTAINERS
Owners: none

Add Bjorn Neergaard to maintainers
  MAINTAINERS
Owners: none

update to go1.19.4
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to go1.19.4
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update to go1.18.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none
