Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Extract PluginPrivilegeItem as explicit type definition
  api/swagger.yaml
Owners: none

Lock down docker root dir perms.
  daemon/container_operations_unix.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/zfs/zfs.go
Owners: @dmcgowan

chrootarchive: don't create parent dirs outside of chroot
  pkg/chrootarchive/archive.go
Owners: none

libnetwork: move resolvconf consts into the resolvconf package
  integration-cli/docker_cli_run_test.go
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/types/types.go
Owners: none

libnetwork: remove resolvconf/dns package
  libnetwork/resolvconf/dns/resolvconf.go
  libnetwork/resolvconf/resolvconf.go
  libnetwork/sandbox_dns_unix.go
Owners: none

move pkg/ioutils.HashData() to libnetwork/resolvconf
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/resolvconf/utils.go
  libnetwork/resolvconf/utils_test.go
  pkg/ioutils/readers.go
  pkg/ioutils/readers_test.go
Owners: none

fix go-digest to make sure the algorithms are registered
  pkg/ioutils/readers.go
Owners: none

libnetwork/resolvconf: remove README.md
  libnetwork/resolvconf/README.md
Owners: none

Dockerfile: update to docker/dockerfile:1.3, and remove temporary fix
  Dockerfile
Owners: none

Dockerfile: remove aufs-tools, as it's not available on bullseye
  Dockerfile
  Dockerfile.simple
Owners: none

integration/libnetwork: make delInterface() a t.Helper()
  integration/network/service_test.go
Owners: none

Jenkinsfile: windows 2022 LTSC mcr.microsoft.com/windows/servercore:ltsc2022
  Jenkinsfile
Owners: none

Dockerfile: update to debian bullseye
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
Owners: none

Dockerfile: add back libseccomp-dev to cross-compile runc
  Dockerfile
Owners: none

Dockerfile: frozen images: update to bullseye, remove buildpack-dep
  Dockerfile
  Dockerfile.e2e
  contrib/nnp-test/Dockerfile
  contrib/syscall-test/Dockerfile
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/fixtures_linux_daemon_test.go
  integration/build/build_userns_linux_test.go
  pkg/archive/archive_unix_test.go
  testutil/environment/protect.go
Owners: none

go.yml
  .github/workflows/go.yml
Owners: none

google.yml
  .github/workflows/google.yml
Owners: none

analysis.yml
  .github/workflows/shiftleft-analysis.yml
Owners: none

docs: use "console" code-hint for shell examples
  docs/reference/commandline/dockerd.md
Owners: none

libcontainerd/local: fix GoDoc
  libcontainerd/local/local_windows.go
Owners: none

add SetContainerBaseFS to set container's base fs
  daemon/create_unix.go
  daemon/daemon.go
Owners: none

api/types/versions: simplify compare if versions are equal
  api/types/versions/compare.go
Owners: none

daemon/delete: rename var that collided with import, remove output var
  daemon/delete.go
Owners: none

daemon: cleanupContainer(): pass ContainerRmConfig as parameter
  daemon/create.go
  daemon/delete.go
Owners: none

Fix a typo in project/GOVERANCE.md
  project/GOVERNANCE.md
Owners: @thaJeztah

add SetContainerBaseFS to set container's base fs
  daemon/create_unix.go
  daemon/daemon.go
Owners: none

info: remove "expected" check for tini version
  daemon/info_unix.go
  dockerversion/version_lib.go
  hack/make/.go-autogen
Owners: @tianon

update runc binary to v1.0.2
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: github.com/opencontainers/runc v1.0.2
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
Owners: none

hack/vendor.sh: allow go version to be specified with .0
  hack/vendor.sh
Owners: @tianon

api/types/events: add "Type" type for event-type enum
  api/types/events/events.go
  client/events_test.go
  daemon/events/events.go
  daemon/events/filter.go
Owners: none

vendor: update tar-split to v0.11.2
  vendor.conf
  vendor/github.com/vbatts/tar-split/go.mod
  vendor/github.com/vbatts/tar-split/tar/storage/getter.go
Owners: none

vendor: update archive/tar to match Go 1.17.0
  vendor/archive/tar/stat_actime1.go
  vendor/archive/tar/stat_actime2.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/tar_test.go
Owners: none

Only check if route overlaps routes with scope: LINK
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

Include platform information in the docker pull msg
  distribution/pull_v2.go
Owners: none

fix potential goroutine leak by making channel non-blocking Signed-off-by: Shihao Xia <charlesxsh@hotmail.com>
  container/state.go
Owners: none

Remove platform argument from Puller interface.
  distribution/pull.go
  distribution/pull_v2.go
  distribution/registry_unit_test.go
Owners: none

cmd/dockerd: add the link of "the documentation"
  cmd/dockerd/daemon.go
Owners: none

libnetwork/types: remove GetMinimalIPNet() as it's unused
  libnetwork/types/types.go
Owners: none

libnetwork/types: remove PortBinding.FromString() as it's unused
  libnetwork/types/types.go
  libnetwork/types/types_test.go
Owners: none
