Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

hack: remove a workaround for go-tools
  hack/validate/golangci-lint.yml
Owners: @tianon

Update Go to 1.17.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Adjust deprecation comments
  pkg/fileutils/fileutils.go
Owners: none

cmd/dockerd: produce error when using discovery options
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix_test.go
Owners: none

The flag ForceStopAsyncSend was added to fluent logger lib in v1.9.0
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
Owners: none

distribution: validate blob type
  distribution/manifest.go
  distribution/manifest_test.go
Owners: none

docker-rootless-setuptools.sh: use context after install
  contrib/dockerd-rootless-setuptool.sh
Owners: none

daemon: remove discovery-related config handling
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/daemon.go
  daemon/info.go
  daemon/reload.go
Owners: none

Ensure system clock was set
  contrib/init/systemd/docker.service
Owners: none

daemon: remove daemon.discoveryWatcher
  daemon/daemon.go
Owners: none

fix potential goroutine leak by making channel non-blocking Signed-off-by: Shihao Xia <charlesxsh@hotmail.com>
  container/state.go
Owners: none

test: use os.CreateTemp instead of ioutil.TempFile
  daemon/logger/local/read_test.go
Owners: none

vendor: github.com/opencontainers/runc v1.0.3
  vendor.conf
Owners: none

daemon/logger: test followLogs' handleDecodeErr case
  daemon/logger/loggerutils/logfile_test.go
Owners: none

hack: remove non-existent directories from golangci-lint's skip-dirs
  hack/validate/golangci-lint.yml
Owners: @tianon

hack: do not exclude SQL-related checks
  hack/validate/golangci-lint.yml
Owners: @tianon

update runc binary to v1.0.3
  hack/dockerfile/install/runc.installer
Owners: @tianon

integration-cli: delete existing docker0 bridge to prevent it interfering
  integration-cli/docker_cli_daemon_test.go
Owners: none

Add an option to specify log format for awslogs driver
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

libnetwork: remove external DS-based host discovery
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/config/libnetwork.toml
  libnetwork/controller.go
  libnetwork/hostdiscovery/hostdiscovery.go
  libnetwork/hostdiscovery/hostdiscovery_api.go
  libnetwork/hostdiscovery/hostdiscovery_test.go
  libnetwork/hostdiscovery/libnetwork.toml
Owners: none

libnetwork: remove zookeeper-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-zookeeper.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/zookeeper/zookeeper.go
  vendor/github.com/samuel/go-zookeeper/LICENSE
  vendor/github.com/samuel/go-zookeeper/README.md
  vendor/github.com/samuel/go-zookeeper/zk/conn.go
  vendor/github.com/samuel/go-zookeeper/zk/constants.go
  vendor/github.com/samuel/go-zookeeper/zk/flw.go
  vendor/github.com/samuel/go-zookeeper/zk/lock.go
  vendor/github.com/samuel/go-zookeeper/zk/server_help.go
  vendor/github.com/samuel/go-zookeeper/zk/server_java.go
  vendor/github.com/samuel/go-zookeeper/zk/structs.go
  vendor/github.com/samuel/go-zookeeper/zk/tracer.go
  vendor/github.com/samuel/go-zookeeper/zk/util.go
Owners: none

libnetwork: replace consul with boltdb in test
  libnetwork/drivers/overlay/overlay_test.go
Owners: none

libnetwork: remove consul-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-consul-host.bats
  libnetwork/test/integration/dnet/overlay-consul.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/consul/consul.go
  vendor/github.com/hashicorp/consul/LICENSE
  vendor/github.com/hashicorp/consul/README.md
  vendor/github.com/hashicorp/consul/api/README.md
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/event.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/raw.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/status.go
Owners: none

remove pkg/discovery as it's now unused
  pkg/discovery/README.md
  pkg/discovery/backends.go
  pkg/discovery/discovery.go
  pkg/discovery/discovery_test.go
  pkg/discovery/entry.go
  pkg/discovery/file/file.go
  pkg/discovery/file/file_test.go
  pkg/discovery/generator.go
  pkg/discovery/generator_test.go
  pkg/discovery/kv/kv.go
  pkg/discovery/kv/kv_test.go
  pkg/discovery/memory/memory.go
  pkg/discovery/memory/memory_test.go
  pkg/discovery/nodes/nodes.go
  pkg/discovery/nodes/nodes_test.go
Owners: none

libnetwork: remove more config bits related to external k/v stores
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/network.go
Owners: none

Fixed exec resize success code in API docs
  api/swagger.yaml
Owners: none

daemon/logger: refactor followLogs to write more unit tests
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
Owners: none

Added error codes for exec resize in API docs
  api/swagger.yaml
Owners: none

daemon/logger: replace flaky TestFollowLogsHandleDecodeErr
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

docs: fixing /exec/{id}/resize response code in API documentation
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

update containerd binary to v1.5.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon: load and cache sysInfo on initialization
  daemon/container_linux.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
Owners: none

Add unit test for (*Pattern).compile
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

vendor: github.com/fluent/fluent-logger-golang 1.6.1
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/proto.go
Owners: none

vendor: github.com/fluent/fluent-logger-golang v1.8.0
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
Owners: none

fluentd: Turn ForceStopAsyncSend true when async connect is used
  daemon/logger/fluentd/fluentd.go
Owners: none

docs/daemon: replace deprecated '-g' option for '--data-root'
  docs/reference/commandline/dockerd.md
Owners: none

Update Go to 1.17.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update Go to 1.16.13
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Removed the slack archives
  CONTRIBUTING.md
Owners: none
