Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Don't remove containerd's container after exit
  daemon/delete.go
Owners: none

list images matching digest to discover all tags
  daemon/containerd/image.go
Owners: none

GetImage to return image tags with details
  api/server/router/image/image_routes.go
  daemon/containerd/image.go
  daemon/images/image.go
  image/image.go
Owners: none

ContainerChanges is not implemented by snapshotter-based ImageService
  daemon/changes.go
Owners: none

daemon: Fix not initialized network controller
  daemon/daemon.go
Owners: none

builder-next: reenable runc executor
  builder/builder-next/controller.go
Owners: @tonistiigi

builder-next: enable more cache backends
  builder/builder-next/controller.go
  vendor.mod
  vendor.sum
  vendor/github.com/dimchansky/utfbom/.gitignore
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/dimchansky/utfbom/LICENSE
  vendor/github.com/dimchansky/utfbom/README.md
  vendor/github.com/dimchansky/utfbom/utfbom.go
  vendor/github.com/golang-jwt/jwt/v4/.gitignore
  vendor/github.com/golang-jwt/jwt/v4/LICENSE
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/doc.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/hmac.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/none.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/rsa.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/signing_method.go
  vendor/github.com/golang-jwt/jwt/v4/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/tonistiigi/go-actions-cache/LICENSE
  vendor/github.com/tonistiigi/go-actions-cache/api.md
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/readerat.go
  vendor/github.com/tonistiigi/go-actions-cache/retry.go
  vendor/modules.txt
Owners: @tonistiigi

prefer error over panic where possible
  daemon/changes.go
Owners: none

remove GetLayerByID from ImageService interface
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  daemon/containerd/image_exporter.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/export.go
  daemon/image_service.go
  daemon/images/image_exporter.go
Owners: none

Use getImage() to get the image when deleting
  daemon/containerd/image_delete.go
Owners: none

c8d/prune: Handle filters, don't delete used
  daemon/containerd/image.go
  daemon/containerd/image_list.go
  daemon/containerd/image_prune.go
  daemon/containerd/service.go
Owners: none

c8d/pull: Don't unpack manually
  daemon/containerd/image_pull.go
Owners: none

c8d/exporter: Use configured snapshotter instead of default
  daemon/containerd/image_exporter.go
Owners: none

Create a lease for the snapshots we prepare
  daemon/create.go
  daemon/delete.go
Owners: none

Pass the containerd client when Applying oci options
  daemon/oci_linux.go
Owners: none

c8d/daemon: Mount root and fill BaseFS
  daemon/containerd/mount.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/image_service.go
  daemon/images/mount.go
Owners: none

Implement image history
  daemon/containerd/image_history.go
Owners: none

Add ExposedPorts and Volumes to the image returned
  daemon/containerd/image.go
Owners: none

c8d/progress: Fix progress not ending
  daemon/containerd/progress.go
Owners: none

docs: swagger: update description for default builder version
  docs/api/v1.42.yaml
Owners: none

docs: swagger: update description for default builder version
  docs/api/v1.42.yaml
Owners: none

Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] Update to go 1.18.7 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  vendor/archive/tar/format.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/testdata/pax-bad-hdr-large.tar.bz2
  vendor/archive/tar/writer.go
  vendor/archive/tar/writer_test.go
Owners: none

Volume prune: only prune anonymous volumes by default
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
  hack/make/test-docker-py
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/convert_test.go
  volume/service/opts/opts.go
  volume/service/service.go
  volume/service/service_test.go
Owners: @tianon

pkg/directory: Size(): add back type-casts to account for platform differences
  pkg/directory/directory_unix.go
Owners: none

pkg/directory: remove unused MoveToSubdir() utility
  pkg/directory/directory.go
  pkg/directory/directory_test.go
Owners: none

pkg/directory: minor refactor of Size()
  pkg/directory/directory.go
  pkg/directory/directory_unix.go
  pkg/directory/directory_windows.go
Owners: none

pkg/fsutils: deprecate in favor of containerd/continuity/fs
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/fsutils/fsutils_linux.go
  pkg/fsutils/fsutils_linux_test.go
Owners: @dmcgowan

pkg/system: move GetExitCode() to pkg/idtools, and un-export
  pkg/idtools/idtools_unix.go
  pkg/system/exitcode.go
Owners: none

pkg/system: unconvert
  pkg/system/stat_windows.go
Owners: none

Lock OS threads when exec'ing with Pdeathsig
  daemon/graphdriver/overlay2/mount.go
  libcontainerd/supervisor/remote_daemon.go
  libnetwork/portmapper/proxy_linux.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/diff_unix.go
  pkg/reexec/command_linux.go
Owners: @dmcgowan

vendor: github.com/opencontainers/selinux v1.10.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Owners: none

Volume prune: only prune anonymous volumes by default
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
  hack/make/test-docker-py
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/convert_test.go
  volume/service/opts/opts.go
  volume/service/service.go
  volume/service/service_test.go
Owners: @tianon

pkg/fsutils: deprecate in favor of containerd/continuity/fs
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/fsutils/fsutils_linux.go
  pkg/fsutils/fsutils_linux_test.go
Owners: @dmcgowan

remove aliases for deprecated pkg/urlutil
  hack/make.ps1
  hack/validate/pkg-imports
  pkg/urlutil/deprecated.go
Owners: @tianon

remove aliases for deprecated pkg/fsutils
  pkg/fsutils/fsutils_linux.go
Owners: none

fix typo
  daemon/images/image.go
Owners: none

remove aliases for deprecated pkg/pubsub
  pkg/pubsub/publisher.go
Owners: none

vendor: github.com/opencontainers/selinux v1.10.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Owners: none
