Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

pkg/system: remove Umask() utility
  pkg/archive/archive_linux_test.go
  pkg/archive/diff.go
  pkg/archive/diff_unix.go
  pkg/archive/diff_windows.go
  pkg/chrootarchive/diff_unix.go
  pkg/system/umask.go
  pkg/system/umask_windows.go
Owners: none

pkg/system: move maxTime init() back to Chtimes code
  pkg/system/chtimes.go
  pkg/system/init.go
Owners: none

pkg/system: add note about maxTime
  pkg/system/chtimes.go
Owners: none

pkg/system: rename maxTime and re-use, define unixEpochTime, update GoDoc
  pkg/system/chtimes.go
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_test.go
  pkg/system/chtimes_windows_test.go
Owners: none

pkg/system: windows: setCTime(): remove redundant conversion
  pkg/system/chtimes_windows.go
Owners: none

pkg/system: use t.TempDir(), remove some test-utils
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_test.go
  pkg/system/chtimes_windows_test.go
  pkg/system/lstat_unix_test.go
  pkg/system/stat_unix_test.go
  pkg/system/utimes_unix_test.go
Owners: none

pkg/system: rename some tests to be more descriptive
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_test.go
  pkg/system/chtimes_windows_test.go
Owners: none

pkg/system: fix missing assertions and use sub-tests for ChTimes
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_test.go
  pkg/system/chtimes_windows_test.go
Owners: none

pkg/idtools: mkdirAs() be more explicit about ignored args on Windows
  pkg/idtools/idtools_windows.go
Owners: none

daemon/graphdriver: use strconv instead of fmt.Sprintf
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/zfs/zfs.go
Owners: none

daemon/logger: use strconv instead of fmt.Sprintf()
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/local/local_test.go
  daemon/logger/splunk/splunk_test.go
Owners: @samuelkarp

client: use strconv instead of fmt.Sprintf()
  client/build_prune.go
Owners: none

libnetwork: use strconv instead of fmt.Sprintf()
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/windows/windows.go
  libnetwork/networkdb/networkdbdiagnostic.go
  libnetwork/service_linux.go
  libnetwork/types/types.go
Owners: none

daemon: use strconv instead of fmt.Sprintf()
  daemon/config/config.go
  daemon/keys.go
  daemon/kill.go
  daemon/links/links_test.go
  daemon/reload_unix.go
  daemon/resize.go
  daemon/runtime_unix.go
Owners: none

integration(-cli): remove some redundant formatting
  integration-cli/docker_cli_inspect_test.go
  integration/container/checkpoint_test.go
Owners: none

pkg/idtools: mkdirAs(): move var and comment to where it's used
  pkg/idtools/idtools_unix.go
Owners: none

pkg/idtools: remove unused CanAccess() stub for Windows
  pkg/idtools/idtools_windows.go
Owners: none

layer: gofumpt
  layer/filestore.go
  layer/filestore_test.go
  layer/layer_test.go
  layer/layer_unix_test.go
  layer/migration_test.go
  layer/mount_test.go
  layer/ro_layer.go
Owners: none

layer: use strconv instead of fmt.Sprintf()
  layer/filestore.go
Owners: none

pkg/loopback: use ioctl helpers from x/sys/unix
  pkg/loopback/attach_loopback.go
  pkg/loopback/ioctl.go
  pkg/loopback/loop_wrapper.go
  pkg/loopback/loopback.go
Owners: none

pkg/idtools: CanAccess(): reorder checks to allow early return
  pkg/idtools/idtools_unix.go
Owners: none

pkg/idtools: format code with gofumpt
  pkg/idtools/idtools_unix_test.go
Owners: none

pkg/idtools: don't use system.MkdirAll() where not needed
  pkg/idtools/idtools_unix.go
Owners: none

pkg/idtools: cleanup errors
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/usergroupadd_linux.go
Owners: none

pkg/pidfile: windows: replace magic consts for golang.org/x/sys consts
  pkg/pidfile/pidfile_windows.go
Owners: none

pkg/pidfile: replace uses of windows.Close() with windows.CloseHandle()
  pkg/pidfile/pidfile_windows.go
Owners: none

pkg/system: remove solaris left-over
  pkg/system/stat_solaris.go
Owners: none

builder: use filepath.WalkDir instead of filepath.Walk
  builder/dockerfile/copy.go
  builder/dockerfile/copy_unix.go
  builder/remotecontext/tarsum.go
Owners: @tonistiigi

daemon/graphdriver/btrfs: use filepath.WalkDir instead of filepath.Walk
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

daemon/graphdriver/devmapper: use filepath.WalkDir instead of filepath.Walk
  daemon/graphdriver/devmapper/deviceset.go
Owners: @rhvgoyal

pkg/archive: use filepath.WalkDir instead of filepath.Walk
  pkg/archive/archive.go
  pkg/archive/changes_other.go
  pkg/archive/copy_unix_test.go
  pkg/archive/diff.go
  pkg/archive/utils_test.go
Owners: none

oci: use filepath.WalkDir instead of filepath.Walk
  oci/devices_linux.go
Owners: none

libnetwork/drivers/overlay: use filepath.WalkDir instead of filepath.Walk
  libnetwork/drivers/overlay/ov_network.go
Owners: none

testutil: use filepath.WalkDir instead of filepath.Walk
  testutil/daemon/daemon_linux.go
Owners: none

integration-cli: remove uses of pkg/system.Stat()
  integration-cli/docker_cli_cp_to_container_unix_test.go
  integration-cli/docker_cli_userns_test.go
Owners: none

integration: remove uses of pkg/system.Stat()
  integration/container/mounts_linux_test.go
Owners: none

client: remove solaris build-tag, simplify and gofumpt
  client/client_unix.go
Owners: none

docs: update deprecation status for "overlay2.override_kernel_check"
  docs/reference/commandline/dockerd.md
Owners: none

integration/plugin: remove deprecated overlay2.override_kernel_check
  integration/plugin/graphdriver/external_test.go
Owners: none

daemon/graphdriver/overlay2: remove deprecated overrideKernelCheck
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan
