Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

ci: enhance tests distribution
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none

ci: fix branch filter pattern in buildkit workflow
  .github/workflows/buildkit.yml
Owners: none

builder: define GetRemotes for the worker
  builder/builder-next/worker/worker.go
Owners: @tonistiigi

vendor: update buildkit to latest v0.11
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remotecache/inline/inline.go
  vendor/modules.txt
Owners: none

ci: fix branch filter pattern in buildkit workflow
  .github/workflows/buildkit.yml
Owners: none

builder: define GetRemotes for the worker
  builder/builder-next/worker/worker.go
Owners: @tonistiigi

Fix TLS configuration resolution for buildkit
  daemon/daemon.go
  daemon/daemon_test.go
Owners: none

Dockerfile/shell: Install buildx cli plugin
  Dockerfile
Owners: none

Fix TLS configuration resolution for buildkit
  daemon/daemon.go
  daemon/daemon_test.go
Owners: none

vendor: update buildkit to latest v0.10
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/metadata.go
  vendor/modules.txt
Owners: none

profiles/apparmor: remove version-conditional constraints (< 2.8.96)
  profiles/apparmor/template.go
Owners: none

contrib/apparmor: remove version-conditionals (< 2.9) from template
  contrib/apparmor/template.go
Owners: none

libnet/ipam: stop eagerly stringifying debug logs
  libnetwork/ipam/allocator.go
Owners: none

libnetwork: Always use an IPv4 to (re)create default bridge
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/netutils/utils_freebsd.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
  libnetwork/netutils/utils_windows.go
  libnetwork/network.go
Owners: none

libnetwork: fix docker is incredibly slow to start many containers in parallel even on a many-core machine
  daemon/container_operations.go
Owners: none

libnetwork/networkdb: make go test -race ./libnetwork/networkdb pass
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnet/networkdb: use atomics for stats counters
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/networkdb/networkdbdiagnostic.go
Owners: none

libnetwork: check DNS loopback with user DNS opts
  libnetwork/sandbox_dns_unix.go
Owners: none

[23.0] vendor: github.com/containerd/containerd v1.6.17
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

Do not log connection info before the connection exists
  libnetwork/resolver.go
Owners: none

Add managers for Windows drivers
  libnetwork/drivers/windows/manager.go
Owners: none

add new maintainers!
  MAINTAINERS
Owners: none

libnetwork: check DNS loopback with user DNS opts
  libnetwork/sandbox_dns_unix.go
Owners: none

vendor: golang.org/x/sys v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/cpu/cpu_gccgo_x86.c
  vendor/golang.org/x/sys/cpu/endian_big.go
  vendor/golang.org/x/sys/cpu/endian_little.go
  vendor/golang.org/x/sys/unix/gccgo_c.c
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/timestruct.go
  vendor/golang.org/x/sys/unix/xattr_bsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/svc/debug/service.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.7.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.7.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/ipv6/dgramopt.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/modules.txt
Owners: none

Migrate away from things deprecated in Go 1.20
  libnetwork/bitmap/sequence_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/resolver.go
  pkg/archive/archive.go
Owners: none

Fix loop-closure bugs in tests
  distribution/xfer/download_test.go
  integration/build/build_test.go
Owners: none

distribution/xfer: fix download fencepost bug
  distribution/xfer/download.go
  distribution/xfer/download_test.go
Owners: none

daemon: handle EISDIR error from runtime
  daemon/errors.go
Owners: none

d/l/awslogs: fix ineffective Add in test
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

api/s/r/swarm: log backend errors at Debug level
  api/server/router/swarm/cluster_routes.go
Owners: none

vendor: github.com/containerd/containerd v1.6.18
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/api/services/content/v1/content.pb.go
  vendor/github.com/containerd/containerd/images/archive/importer.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

Revert "apparmor: Check if apparmor_parser is available"
  daemon/apparmor_default.go
Owners: none

api/s/r/swarm: log backend errors at Debug level
  api/server/router/swarm/cluster_routes.go
Owners: none

Do not log connection info before the connection exists
  libnetwork/resolver.go
Owners: none

correct the condition based on the previous commit as the current one allows any network on cloud to ping without adhering to any security protocols
  daemon/oci_linux.go
Owners: none

libnet/ipam: fix racy, flaky unit test
  libnetwork/ipam/allocator_test.go
Owners: none

update to go1.19.6
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

libnetwork: add regression test for issue 44575
  libnetwork/resolver.go
  libnetwork/resolver_test.go
Owners: none
