Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Handle docker start inside overlayfs
  daemon/runtime_unix.go
Owners: none

vendor: golang.org/x/text v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Add GetLibHome stub for non-linux OS
  pkg/homedir/homedir_others.go
Owners: none

vendor: golang.org/x/net v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Owners: none

hack: typo in displayed platform name
  hack/make/.binary
Owners: @tianon

Dockerfile: fix PKG_CONFIG for xx
  Dockerfile
Owners: none

hack: name for target ARM architecture not specified
  hack/make/.binary
Owners: @tianon

c8d: Fix resolving truncated id to a descriptor
  daemon/containerd/image.go
Owners: none

images: Pass context to commit related operations
  builder/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals.go
  builder/dockerfile/mockbackend_test.go
  daemon/commit.go
  daemon/containerd/image_commit.go
  daemon/image_service.go
  daemon/images/image_commit.go
Owners: @tonistiigi

vendor: golang.org/x/text v0.6.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Owners: none

Add GetLibHome stub for non-linux OS
  pkg/homedir/homedir_others.go
Owners: none

[20.10] vendor: libnetwork 05b93e0d3a95952f70c113b0bc5bdb538d7afdd7
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_windows.go
Owners: @tianon

Disable chrootarchive.init() on Windows
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_unix.go
Owners: none

Disable chrootarchive.init() on Windows
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_unix.go
Owners: none

Dockerfile: use clang to build dockerd/docker-proxy
  Dockerfile
Owners: none

Dockerfile: smoke tests for static builds
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
Owners: none

Dockerfile: use clang to build dockerd/docker-proxy
  Dockerfile
Owners: none

Dockerfile: smoke tests for static builds
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
Owners: none

libnetwork/config: remove "Experimental" and "Debug" options
  daemon/daemon.go
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/drivers_freebsd.go
  libnetwork/drivers_linux.go
  libnetwork/drivers_windows.go
Owners: none

libnetwork: remove old integration tests
  libnetwork/test/integration/README.md
  libnetwork/test/integration/daemon-configs.bats
  libnetwork/test/integration/daemon.cfg
  libnetwork/test/integration/dnet/bridge.bats
  libnetwork/test/integration/dnet/dnet.bats
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/multi.bats
  libnetwork/test/integration/dnet/overlay-local.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  libnetwork/test/integration/dnet/simple.bats
  libnetwork/test/integration/helpers.bash
Owners: none

libnetwork/config: inline ProcessOptions
  libnetwork/config/config.go
Owners: none

libnetwork/config: remove ParseConfig()
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/config/libnetwork.toml
Owners: none

libnetwork/config: merge DaemonCfg into Config
  builder/builder-next/executor_unix.go
  daemon/container_operations.go
  daemon/network.go
  libnetwork/agent.go
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/controller.go
  libnetwork/firewall_linux_test.go
  libnetwork/sandbox_externalkey_unix.go
Owners: @tonistiigi

libnetwork/config: inline LoadDefaultScopes()
  libnetwork/config/config.go
Owners: none

libnetwork: fix empty-lines (revive)
  libnetwork/agent.go
  libnetwork/bitseq/sequence.go
  libnetwork/controller.go
  libnetwork/datastore/datastore_test.go
  libnetwork/datastore/mock_store.go
  libnetwork/default_gateway.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/link.go
  libnetwork/drivers/bridge/port_mapping.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/drivers/bridge/setup_ipv6_test.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ov_serf.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/endpoint.go
  libnetwork/errors_test.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/null/null_test.go
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/networkdb/cluster.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/route_linux.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/resolver.go
  libnetwork/resolver_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/service_common.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
Owners: none

libnetwork/config: rename ParseConfigOptions() to New()
  libnetwork/config/config.go
  libnetwork/controller.go
Owners: none

libnetwork: Support IPv6 in arrangeUserFilterRule()
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Owners: none

Dockerfile: prefer ld for building against arm64
  Dockerfile
Owners: none

Dockerfile: prefer ld for building against arm64
  Dockerfile
Owners: none

hack: remove -installsuffix build flag
  hack/make.sh
Owners: @tianon

hack: remove unnecessary vars in make.sh script
  hack/make.sh
  hack/make/.binary
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Owners: @tianon

hack: remove ORIG_BUILDFLAGS var
  hack/make.sh
Owners: @tianon

hack: display build cmd when DOCKER_DEBUG set
  hack/make/.binary
  hack/make/.go-autogen
Owners: @tianon

fix blockThreshold full bug
  pkg/ioutils/bytespipe.go
Owners: none

ioutils: add regression test for bytespipe deadlock
  pkg/ioutils/bytespipe_test.go
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230119195359-904c221ac281
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/storeobject.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/networkallocator.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230119195359-904c221ac281
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/storeobject.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/networkallocator.go
  vendor/modules.txt
Owners: none

hack: check if cross-compiling before setting ARM target name
  hack/make/.binary
Owners: @tianon

hack: check if cross-compiling before setting ARM target name
  hack/make/.binary
Owners: @tianon

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
