Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

daemon/logger: fix empty-lines (revive)
  daemon/logger/adapter_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/sharedtemp.go
  daemon/logger/loggerutils/sharedtemp_test.go
  daemon/logger/ring_test.go
  daemon/logger/syslog/syslog.go
Owners: @samuelkarp

daemon/graphdriver: fix empty-lines (revive)
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/graphtest/graphbench_unix.go
  daemon/graphdriver/graphtest/testutil.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/zfs/zfs.go
Owners: @rhvgoyal, @dmcgowan

daemon/images: fix empty-lines (revive)
  daemon/images/image_delete.go
  daemon/images/image_search.go
  daemon/images/images.go
  daemon/images/store.go
Owners: none

client: fix empty-lines (revive)
  client/events.go
  client/events_test.go
Owners: none

api/server: fix empty-lines (revive)
  api/server/middleware/version.go
  api/server/router/build/build_routes.go
  api/server/router/swarm/helpers_test.go
Owners: none

opts: fix empty-lines (revive)
  opts/address_pools_test.go
  opts/opts_test.go
Owners: none

daemon: fix empty-lines (revive)
  daemon/container_operations.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
  daemon/network.go
  daemon/network/filter_test.go
  daemon/oci_linux.go
  daemon/reload_test.go
  daemon/restart.go
  daemon/seccomp_linux_test.go
Owners: none

cmd/dockerd: fix empty-lines (revive)
  cmd/dockerd/daemon.go
  cmd/dockerd/trap/trap_linux_test.go
Owners: none

runconfig, oci, image, layer, distribution: fix empty-lines (revive)
  distribution/manifest_test.go
  distribution/xfer/download.go
  image/fs_test.go
  image/tarexport/save.go
  layer/layer_unix_test.go
  oci/devices_linux.go
  registry/config_test.go
  runconfig/config_test.go
Owners: none

Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Owners: none

replace pkg/fileutils Matching funcs with github.com/moby/patternmatcher
  builder/remotecontext/detect.go
  pkg/archive/archive.go
  pkg/fileutils/deprecated.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/patternmatcher/LICENSE
  vendor/github.com/moby/patternmatcher/NOTICE
  vendor/github.com/moby/patternmatcher/patternmatcher.go
  vendor/modules.txt
Owners: @tonistiigi

libnetwork/resolvconf: removed unused GetIfChanged() and GetLastModified()
  libnetwork/resolvconf/resolvconf.go
Owners: none

libnetwork/osl: fix GoDoc formatting
  libnetwork/osl/sandbox.go
Owners: none

libnetwork: fix some whitespace formatting
  libnetwork/libnetwork_linux_test.go
  libnetwork/sandbox_dns_windows.go
Owners: none

libnetwork: use object-literal for some structs
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/sandbox.go
Owners: none

libnetwork: sandbox.updateDNS(): use const for file permissions
  libnetwork/sandbox_dns_unix.go
Owners: none

Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Owners: none

Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Owners: none

Test if pivot_root can be used from a user ns
  pkg/chrootarchive/chroot_linux.go
Owners: none

Update awslogs driver batching documentation.
  daemon/logger/awslogs/cloudwatchlogs.go
Owners: @samuelkarp

libnetwork: remove some outdated comments
  libnetwork/sandbox.go
Owners: none

produce progress events polling ctrd's content.Store
  daemon/containerd/image_pull.go
  daemon/containerd/progress.go
Owners: none

add support for image tag
  api/server/backend/build/backend.go
  api/server/backend/build/tag.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/commit.go
  daemon/containerd/image_tag.go
  daemon/image_service.go
  daemon/images/image_import.go
  daemon/images/image_tag.go
Owners: none

containerd: Implement push
  daemon/containerd/image_push.go
Owners: none

containerd: Push progress
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
  daemon/containerd/resolver.go
Owners: none

daemon/containerd: Implement prune
  daemon/containerd/image_prune.go
Owners: none

compute container's layer size
  api/server/router/container/backend.go
  api/server/router/container/inspect.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/image_unix.go
  daemon/images/image_windows.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_windows.go
  daemon/list.go
  daemon/prune.go
Owners: none

Implement run using the containerd snapshotter
  daemon/containerd/image.go
  daemon/containerd/service.go
  daemon/create.go
  daemon/daemon.go
  daemon/oci_linux.go
  daemon/start.go
Owners: none

introduce GetImageOpts to manage image inspect data in backend
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/types/image/opts.go
  daemon/containerd/image.go
  daemon/containerd/image_history.go
  daemon/image_service.go
  daemon/images/image.go
  daemon/images/image_history.go
  image/image.go
Owners: none

introduce image.EventLogger to manage image lifecycle events
  daemon/containerd/image_events.go
  daemon/image_service.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_exporter.go
  daemon/images/image_import.go
  daemon/images/image_pull.go
  daemon/images/image_push.go
  daemon/images/image_tag.go
  daemon/images/service.go
  image/events.go
  image/tarexport/load.go
  image/tarexport/save.go
  image/tarexport/tarexport.go
Owners: none

Only use the image exporter in build if we don't use containerd
  builder/builder-next/builder.go
Owners: @tonistiigi

implement docker system df
  api/server/router/system/system_routes.go
  daemon/containerd/service.go
Owners: none

Fix `docker system df`
  daemon/containerd/service.go
  daemon/disk_usage.go
  daemon/start.go
Owners: none

Fix linting issues
  daemon/containerd/image.go
  daemon/containerd/progress.go
Owners: none

containerd/save: Export only present platform manifests
  daemon/containerd/image_exporter.go
Owners: none

Introduce support for docker commit
  builder/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals.go
  builder/dockerfile/mockbackend_test.go
  daemon/commit.go
  daemon/containerd/image.go
  daemon/containerd/image_commit.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_commit.go
Owners: @tonistiigi

Don't try to restore containers on restart with contaienrd
  daemon/daemon.go
Owners: none

Pass the current snapshotter to the buildkit worker
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  cmd/dockerd/daemon.go
Owners: @tonistiigi

let buildx know we support containerd snapshotter
  builder/builder-next/controller.go
Owners: @tonistiigi

c8d/pull: Add options for stargz/nydus snapshotters
  daemon/containerd/image_pull.go
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/nydus-snapshotter/LICENSE
  vendor/github.com/containerd/nydus-snapshotter/pkg/label/handler.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/label/label.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/containerd/stargz-snapshotter/fs/config/config.go
  vendor/github.com/containerd/stargz-snapshotter/fs/source/source.go
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
