Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

hack: display build cmd when DOCKER_DEBUG set
  hack/make/.binary
  hack/make/.go-autogen
Owners: @tianon

vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/pelletier/go-toml v1.9.5
  vendor.mod
  vendor.sum
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/modules.txt
Owners: none

libnetwork: delete CHANGELOG.md
  libnetwork/CHANGELOG.md
Owners: none

Revert "update containerd binary to v1.7.0-beta.3"
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon: identify container exits by ProcessID
  daemon/monitor.go
  libcontainerd/remote/client.go
Owners: none

Wait longer for exit events on Windows
  daemon/kill.go
  integration/container/wait_test.go
Owners: none

daemon: identify container exits by ProcessID
  daemon/monitor.go
Owners: none

libc8d/local: set task id to container id
  libcontainerd/local/local_windows.go
Owners: none

libc8d/remote: name task fifos after task ID
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
Owners: none

Dockerfile: Make it easier to use ctr in shell container
  Dockerfile
Owners: none

vendor: github.com/tonistiigi/fsutil v0.0.0-20221114235510-0127568185cf
  vendor.mod
  vendor.sum
  vendor/github.com/tonistiigi/fsutil/Dockerfile
  vendor/github.com/tonistiigi/fsutil/chtimes_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_nowindows.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/device_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/device_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/stat_sysv.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_freebsd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unixnobsd.go
  vendor/github.com/tonistiigi/fsutil/docker-bake.hcl
  vendor/github.com/tonistiigi/fsutil/followlinks.go
  vendor/github.com/tonistiigi/fsutil/fs.go
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Owners: none

github: apply patch for CNI test that was incorrectly skipped
  .github/workflows/buildkit.yml
Owners: none

daemon/c8d: Implement save and load
  daemon/containerd/image_exporter.go
Owners: none

docs: fix JSON format error
  image/spec/v1.2.md
Owners: none

when i accidentally deleted some dependencies, after next reboot i did not understand for long time why docker could not start in user space.
  contrib/dockerd-rootless.sh
Owners: none

graphdriver/overlay2: usingMetacopy ENOTSUP is non-fatal
  daemon/graphdriver/overlay2/check.go
Owners: @dmcgowan

A little bit better
  contrib/dockerd-rootless.sh
Owners: none

Classic builder with containerd
  daemon/containerd/cache.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_search.go
  daemon/containerd/image_squash.go
  daemon/containerd/service.go
Owners: none

Add image "cache"
  daemon/containerd/cache.go
Owners: none

graphdriver/overlay2: usingMetacopy ENOTSUP is non-fatal
  daemon/graphdriver/overlay2/check.go
Owners: @dmcgowan

Dockerfile: configure code dir as "safe" directory
  Dockerfile
Owners: none

libnet/d/ipvlan: gracefully migrate from older dbs
  libnetwork/drivers/ipvlan/ipvlan_store.go
Owners: none

gha: switch buildkit back to upstream for testing
  .github/workflows/buildkit.yml
  vendor.mod
Owners: none

Implement run using the containerd snapshotter
  daemon/containerd/image_snapshot.go
  daemon/containerd/mount.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/delete.go
  daemon/image_service.go
  daemon/images/image.go
  daemon/images/mount.go
  daemon/oci_linux.go
  daemon/start.go
Owners: none

Dockerfile: configure code dir as "safe" directory
  Dockerfile
Owners: none

libnet/d/ipvlan: gracefully migrate from older dbs
  libnetwork/drivers/ipvlan/ipvlan_store.go
Owners: none

apparmor: Check if apparmor_parser is available
  daemon/apparmor_default.go
Owners: none

[23.0] vendor: github.com/moby/buildkit v0.10.7-0.20230206124303-b8fdb4b78da0
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/contrib/seccomp/kernelversion/kernel_linux.go
  vendor/github.com/containerd/containerd/snapshots/overlay/overlayutils/check.go
  vendor/github.com/containerd/stargz-snapshotter/LICENSE
  vendor/github.com/containerd/stargz-snapshotter/NOTICE.md
  vendor/github.com/moby/buildkit/cache/remotecache/inline/inline.go
  vendor/github.com/moby/buildkit/snapshot/diffapply_unix.go
  vendor/modules.txt
Owners: none

apparmor: Check if apparmor_parser is available
  daemon/apparmor_default.go
Owners: none

ci: enhance tests distribution
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none

ci: update gotestlist to 0.3.1
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none

Dockerfile: configure code dir as "safe" directory
  Dockerfile
Owners: none

daemon: Pass ctx to image tagging operations
  api/server/backend/build/backend.go
  api/server/backend/build/tag.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/commit.go
  daemon/containerd/image_tag.go
  daemon/image_service.go
  daemon/images/image_import.go
  daemon/images/image_tag.go
Owners: none

daemon/imageService: Remove TagImageWithReference
  api/server/backend/build/backend.go
  api/server/backend/build/tag.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/commit.go
  daemon/image_service.go
  daemon/images/image_import.go
  daemon/images/image_tag.go
Owners: none

daemon/c8d: Implement TagImageWithReference
  daemon/containerd/image_tag.go
  daemon/containerd/soft_delete.go
Owners: none

api/tag: Reject digested target references
  api/server/router/image/image_routes.go
Owners: none

c8d/import: Use danglingImageName instead of hardcoded
  daemon/containerd/image_import.go
Owners: none

api: Extract parsing reference from repo and tag
  api/server/httputils/form.go
  api/server/router/container/container_routes.go
  api/server/router/image/image_routes.go
  api/types/backend/backend.go
  daemon/commit.go
Owners: none

ci: update gotestlist to 0.3.1
  .github/workflows/.windows.yml
  .github/workflows/test.yml
Owners: none
