Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

integration/plugin: remove deprecated overlay2.override_kernel_check
  integration/plugin/graphdriver/external_test.go
Owners: none

daemon/graphdriver/overlay2: remove deprecated overrideKernelCheck
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

daemon/graphdriver/windows: use go-winio.GetFileSystemType()
  daemon/graphdriver/windows/windows.go
  vendor/github.com/Microsoft/go-winio/pkg/fs/fs_windows.go
  vendor/modules.txt
Owners: @johnstep

daemon/graphdriver/windows: Remove() don't use defer() in a loop
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

cmd/dockerd: replace deprecated windows.IsAnInteractiveSession()
  cmd/dockerd/service_windows.go
Owners: none

cmd/dockerd: use golang.org/x/sys/windows.SetStdHandle()
  cmd/dockerd/service_windows.go
Owners: none

Replace overlay2 mount reexec with in-proc impl
  daemon/graphdriver/overlay2/mount.go
Owners: @dmcgowan

cmd/dockerd: use golang.org/x/sys Service.SetRecoveryActions()
  cmd/dockerd/service_windows.go
Owners: none

Change restart delay for Windows service to 15s
  cmd/dockerd/service_windows.go
Owners: none

cmd/dockerd: use golang.org/x/sys/windows.SetStdHandle()
  cmd/dockerd/service_windows.go
Owners: none

cmd/dockerd: use golang.org/x/sys Service.SetRecoveryActions()
  cmd/dockerd/service_windows.go
Owners: none

Change restart delay for Windows service to 15s
  cmd/dockerd/service_windows.go
Owners: none

cmd/dockerd: remove Windows EventLog logging hook
  cmd/dockerd/service_windows.go
  vendor/golang.org/x/sys/windows/svc/eventlog/install.go
  vendor/golang.org/x/sys/windows/svc/eventlog/log.go
  vendor/modules.txt
Owners: none

WIP: change ETW provider name to "docker" to match old logger
  .github/workflows/.windows.yml
  cmd/dockerd/docker_windows.go
Owners: none

fix force remove for cluster volumes
  api/server/router/volume/volume_routes.go
  api/server/router/volume/volume_routes_test.go
Owners: none

WIP: try old name again
  .github/workflows/.windows.yml
Owners: none

hack: allow pkg/ to import internal/ packages
  hack/make.ps1
  hack/validate/pkg-imports
Owners: @tianon

daemon/graphdriver/windows: use go-winio.GetFileSystemType()
  daemon/graphdriver/windows/windows.go
  vendor/github.com/Microsoft/go-winio/pkg/fs/fs_windows.go
  vendor/modules.txt
Owners: @johnstep

cmd/dockerd: replace deprecated windows.IsAnInteractiveSession()
  cmd/dockerd/service_windows.go
Owners: none

daemon/graphdriver/windows: Remove() don't use defer() in a loop
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

cmd/dockerd: use golang.org/x/sys/windows.SetStdHandle()
  cmd/dockerd/service_windows.go
Owners: none

Change restart delay for Windows service to 15s
  cmd/dockerd/service_windows.go
Owners: none

cmd/dockerd: use golang.org/x/sys Service.SetRecoveryActions()
  cmd/dockerd/service_windows.go
Owners: none

builder: explicitly set CWD for all git commands
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: modernize TestCheckoutGit
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: isolate git from local system
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: make git config isolation opt-in
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

pkg/system: compile volume-path regex once, and update GoDoc
  pkg/system/filesys_windows.go
Owners: none

pkg/system: create SecurityAttribute only once (Windows)
  pkg/system/filesys_windows.go
Owners: none

pkg/system: update volumePath regex to allow returning earlier
  pkg/system/filesys_windows.go
Owners: none

pkg/system: synchronize mkdirall() with latest os.MkDirAll()
  pkg/system/filesys_windows.go
Owners: none

daemon/logger/etwlogs: rewrite to use go-winio/pkg/etw
  daemon/logger/etwlogs/etwlogs_windows.go
Owners: none

pkg/pidfile: pkg/pidfile: use strconv instead of fmt.Sprintf(), and unconvert
  pkg/pidfile/pidfile.go
Owners: none

pkg/pidfile: don't ignore all errors when reading file
  pkg/pidfile/pidfile.go
Owners: none

pkg/pidfile: reduce cyclomatic complexity, and small optimisation
  pkg/pidfile/pidfile.go
Owners: none

pkg/pidfile: remove PIDFile type, rename New() to Write()
  cmd/dockerd/daemon.go
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Owners: none

pkg/idtools: don't use system.Stat() on unix
  pkg/idtools/idtools_unix.go
Owners: none

pkg/idtools: simplify if-statement
  pkg/idtools/idtools_unix.go
Owners: none

pkg/idtools: remove CanAccess(), and move to daemon
  daemon/daemon_unix.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Owners: none

pkg/idtools: setPermissions() accept Identity as argument
  pkg/idtools/idtools_unix.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
