Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

rootless: support `--ipc=host`
  integration/container/ipcmode_linux_test.go
  pkg/rootless/specconv/specconv_linux.go
Owners: none

rootless: support `--ipc=host`
  integration/container/ipcmode_linux_test.go
  pkg/rootless/specconv/specconv_linux.go
Owners: none

libnetwork/bitseq: add marshal/unmarshal tests
  libnetwork/bitseq/sequence_test.go
Owners: none

libnetwork/bitmap: dup from package bitseq
  libnetwork/bitmap/sequence.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/bitmap/store.go
Owners: none

libnetwork/bitmap: remove datastore concerns
  libnetwork/bitmap/sequence.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/bitmap/store.go
Owners: none

libnetwork/bitmap: optimize binary serialization
  libnetwork/bitmap/sequence.go
Owners: none

libnetwork/bitseq: refactor in terms of bitmap
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/bitseq/store.go
Owners: none

libnetwork/bitseq: make mutex an unexported field
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/store.go
Owners: none

libnetwork/bitseq: refactor JSON marshaling
  libnetwork/bitseq/sequence.go
Owners: none

c8d: Implement image history
  daemon/containerd/image_history.go
Owners: none

c8d/progress: Update progress when finished
  daemon/containerd/progress.go
Owners: none

libnetwork/netutils: refactor GenerateRandomName
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

libnetwork/netutils: clean up GenerateIfaceName
  libnetwork/netutils/utils_linux.go
Owners: none

libnetwork/windows/overlay: drop unused variables
  libnetwork/drivers/windows/overlay/overlay_windows.go
Owners: none

api/types/filters: Add GetBoolOrDefault
  api/types/filters/errors.go
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Owners: none

Use GetBoolOrDefault to remove duplicated invalidFilter usages
  daemon/errors.go
  daemon/images/image_list.go
  daemon/images/image_prune.go
  daemon/images/image_search.go
  daemon/images/locals.go
  daemon/list.go
  plugin/backend_linux.go
  plugin/errors.go
  volume/service/convert.go
  volume/service/errors.go
Owners: @cpuguy83

daemon: let libnetwork assign default bridge IPAM
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
Owners: none

libnetwork/netutils: drop ElectInterfaceAddresses
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

libnw: untangle IPAM allocator from global state
  libnetwork/drivers_ipam.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipams/builtin/builtin_unix.go
  libnetwork/ipams/builtin/builtin_windows.go
  libnetwork/ipamutils/utils.go
Owners: none

libnw/ipamutils: make local defaults immutable
  libnetwork/ipamutils/utils.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

client: improve error messaging on crash
  client/container_wait.go
  client/container_wait_test.go
Owners: none

libnetwork: drop (*Controller).ReloadConfiguration
  libnetwork/controller.go
Owners: none

libnetwork/config: remove vestiges of global scope
  libnetwork/bitseq/sequence_test.go
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/datastore/datastore.go
  libnetwork/datastore/datastore_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/libnetwork_test.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
Owners: none

libnetwork/drvregistry: drop unused args
  libnetwork/controller.go
  libnetwork/drvregistry/drvregistry.go
Owners: none

libnetwork: remove more datastore scope plumbing
  daemon/network.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/endpoint_cnt.go
  libnetwork/error.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Owners: none

libnet: convert to new-style driver registration
  libnetwork/cmd/ovrouter/ovrouter.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/brmanager/brmanager.go
  libnetwork/drivers/host/host.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/ipvlan/ivmanager/ivmanager.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/drivers/macvlan/mvmanager/mvmanager.go
  libnetwork/drivers/null/null.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/overlay_test.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/remote/driver.go
  libnetwork/drivers/windows/overlay/overlay_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/drivers_freebsd.go
  libnetwork/drivers_linux.go
  libnetwork/drivers_windows.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
Owners: none

libnetwork/drvregistry: split up the registries
  libnetwork/driverapi/driverapi.go
  libnetwork/drvregistry/drvregistry.go
  libnetwork/drvregistry/drvregistry_test.go
  libnetwork/drvregistry/ipams.go
  libnetwork/drvregistry/ipams_test.go
  libnetwork/drvregistry/networks.go
  libnetwork/drvregistry/networks_test.go
Owners: none

libnet: un-plumb datastores from IPAM inits
  libnetwork/controller.go
  libnetwork/drivers_ipam.go
  libnetwork/drvregistry/drvregistry_test.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipams/builtin/builtin_unix.go
  libnetwork/ipams/builtin/builtin_windows.go
  libnetwork/ipams/null/null.go
  libnetwork/ipams/remote/remote.go
  libnetwork/ipams/windowsipam/windowsipam.go
Owners: none

libnetwork/bit{seq,map}: delete CheckConsistency()
  libnetwork/bitmap/sequence.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/sequence_test.go
Owners: none

libnetwork: drop DatastoreConfig discovery type
  libnetwork/discoverapi/discoverapi.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/parallel_test.go
  libnetwork/ipam/store.go
  libnetwork/ipam/structures.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipams/windowsipam/windowsipam.go
Owners: none

libnetwork/ipam: skip Destroy()ing bitseq.Handle values
  libnetwork/ipam/allocator.go
  libnetwork/ipam/structures.go
Owners: none

vendor: github.com/pelletier/go-toml v1.9.5
  vendor.mod
  vendor.sum
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

update containerd binary to v1.7.0-beta.3
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[23.0] update containerd binary to v1.6.16
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[20.10] update containerd binary to v1.6.16
  hack/dockerfile/install/containerd.installer
Owners: @tianon

client: improve error messaging on crash
  client/container_wait.go
  client/container_wait_test.go
Owners: none

hack: remove ORIG_BUILDFLAGS var
  hack/make.sh
Owners: @tianon

hack: remove unnecessary vars in make.sh script
  hack/make.sh
  hack/make/.binary
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Owners: @tianon

hack: remove -installsuffix build flag
  hack/make.sh
Owners: @tianon

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
