Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

vendor: github.com/opencontainers/selinux v1.11.0
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/pkg/pwalk/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalk/pwalk.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Owners: none

vendor: github.com/coreos/go-systemd/v22 v22.5.0
  vendor.mod
  vendor.sum
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/godbus/dbus/v5 v5.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/godbus/dbus/v5/auth.go
  vendor/github.com/godbus/dbus/v5/conn.go
  vendor/github.com/godbus/dbus/v5/conn_other.go
  vendor/github.com/godbus/dbus/v5/dbus.go
  vendor/github.com/godbus/dbus/v5/doc.go
  vendor/github.com/godbus/dbus/v5/escape.go
  vendor/github.com/godbus/dbus/v5/export.go
  vendor/github.com/godbus/dbus/v5/homedir.go
  vendor/github.com/godbus/dbus/v5/homedir_dynamic.go
  vendor/github.com/godbus/dbus/v5/homedir_static.go
  vendor/github.com/godbus/dbus/v5/message.go
  vendor/github.com/godbus/dbus/v5/server_interfaces.go
  vendor/github.com/godbus/dbus/v5/sig.go
  vendor/github.com/godbus/dbus/v5/transport_unix.go
  vendor/github.com/godbus/dbus/v5/transport_zos.go
  vendor/github.com/godbus/dbus/v5/variant.go
  vendor/modules.txt
Owners: none

vendor: github.com/imdario/mergo v0.3.13
  vendor.mod
  vendor.sum
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.16.3
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/fse/decompress.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decodeheader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/README.md
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_amd64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_asm.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_other.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runtime-spec v1.1.0-rc.1
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

libn/d/overlay: enforce encryption on sandbox init
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/peerdb.go
Owners: none

libnet/d/overlay: extract VNI match rule builder
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

libnet/d/overlay: add BPF-powered VNI matcher
  libnetwork/drivers/overlay/bpf.go
  libnetwork/drivers/overlay/bpf_test.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_bpf.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

vendor: github.com/opencontainers/image-spec v1.1.0-rc2.0.20221005185240-3a7f492d3f1b
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/artifact.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

tesdt
  libcontainerd/local/local_windows.go
Owners: none

ci: enable BuildKit tests with containerd integration worker
  .github/workflows/buildkit.yml
  vendor.mod
Owners: none

builder-next: disable mergeop and diffop
  builder/builder-next/controller.go
Owners: @tonistiigi

builder-next: disable mergeop and diffop
  builder/builder-next/controller.go
Owners: @tonistiigi

ci: disable testing mergeop and diffop with the dockerd worker
  .github/workflows/buildkit.yml
Owners: none

ci: disable testing mergeop and diffop with the dockerd worker
  .github/workflows/buildkit.yml
Owners: none

TestDaemonRestartKillContainers: Fix loop capture
  integration/container/restart_test.go
Owners: none

StartWithLogFile: Fix d.cmd race
  testutil/daemon/daemon.go
Owners: none

Add workflow to automatically cherry-pick on merge
  .github/workflows/backport.yml
  hack/backport-pr.sh
Owners: @tianon

Rename contrib/check-config.sh to contrib/Chibuike25t/moby
  contrib/Chibuike25t/moby
Owners: none

registry/search: pass User-Agent through headers
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  registry/endpoint_test.go
  registry/endpoint_v1.go
  registry/registry_test.go
  registry/search.go
Owners: none

libnet/d/overlay: document some encryption code
  libnetwork/drivers/overlay/encryption.go
Owners: none

libn/d/overlay: enforce encryption on sandbox init
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/peerdb.go
Owners: none

libnet/d/overlay: extract VNI match rule builder
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

libnet/d/overlay: add BPF-powered VNI matcher
  libnetwork/drivers/overlay/bpf.go
  libnetwork/drivers/overlay/bpf_test.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_bpf.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Owners: none

Silence GRPC logs unless our log level is debug
  cmd/dockerd/docker.go
  cmd/dockerd/grpclog.go
Owners: none

Respect --latest option in ContainerList
  client/container_list.go
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230315203717-e28e8ba9bc83
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/modules.txt
Owners: none

dockerversion: DockerUserAgent(): use sync.Once to construct User-Agent
  dockerversion/useragent.go
Owners: none

TestDaemonRestartKillContainers: Fix loop capture
  integration/container/restart_test.go
Owners: none

StartWithLogFile: Fix d.cmd race
  testutil/daemon/daemon.go
Owners: none

TestDaemonRestartKillContainers: Fix loop capture
  integration/container/restart_test.go
Owners: none

StartWithLogFile: Fix d.cmd race
  testutil/daemon/daemon.go
Owners: none

Use limit 1 when Latest is set
  client/container_list.go
Owners: none

libnet/d/overlay: insert the input-drop rule
  libnetwork/drivers/overlay/encryption.go
Owners: none

libnet/d/overlay: insert the input-drop rule
  libnetwork/drivers/overlay/encryption.go
Owners: none

[20.10] vendor: libnetwork c5aa85f9b25f0acaec8591ced679cb9fb5b9e32c
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/overlay/bpf.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption_bpf.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption_u32.go
  vendor/github.com/docker/libnetwork/drivers/overlay/joinleave.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_network.go
  vendor/github.com/docker/libnetwork/drivers/overlay/peerdb.go
Owners: none

client: Add buildkit ClientOpts
  client/buildkit.go
Owners: none
