Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Fix `make BIND_DIR=. DOCKER_SYSTEMD=1 shell`
  Dockerfile
  hack/dind-systemd
Owners: @tianon

logger/journald: simplify build constraints
  daemon/logger/journald/doc.go
  daemon/logger/journald/journald.go
  daemon/logger/journald/journald_unsupported.go
Owners: none

logger/journald: simplify control flow
  daemon/logger/journald/read.go
Owners: none

logger/journald: follow the thread-safety rules
  daemon/logger/journald/read.go
Owners: none

logger/journald: refactor cgo out of business logic
  daemon/logger/journald/internal/sdjournal/cursor.go
  daemon/logger/journald/internal/sdjournal/doc.go
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_native.go
Owners: none

logger/journald: rewrite reader w/o cursors
  Dockerfile
  daemon/logger/journald/internal/export/export.go
  daemon/logger/journald/internal/export/export_test.go
  daemon/logger/journald/internal/export/testdata/export-serialization.golden
  daemon/logger/journald/internal/fake/sender.go
  daemon/logger/journald/internal/sdjournal/cursor.go
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/journald/journald.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_test.go
  daemon/logger/loggertest/logreader.go
  hack/test/unit
  vendor.mod
  vendor/gotest.tools/v3/assert/opt/opt.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/modules.txt
Owners: @tianon

logger/*: fix reading w/ non-monotonic timestamps
  daemon/logger/journald/read.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

logger/journald: implement --follow correctly
  daemon/logger/journald/journald.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_test.go
  daemon/logger/loggertest/logreader.go
Owners: none

libcontainerd: switch generated containerd.toml to v2 (v1 is deprecated)
  cmd/dockerd/daemon.go
  libcontainerd/supervisor/remote_daemon.go
Owners: none

Fix file capabilities droping in Dockerfile
  daemon/graphdriver/copy/copy.go
Owners: none

daemon: support other containerd runtimes (MVP)
  daemon/daemon_unix.go
  daemon/runtime_unix.go
  daemon/runtime_unix_test.go
  integration-cli/docker_cli_daemon_test.go
  integration/container/run_linux_test.go
  integration/internal/container/ops.go
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/doc.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.pb.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.proto
  vendor/github.com/containerd/containerd/pkg/shutdown/shutdown.go
  vendor/github.com/containerd/containerd/pkg/ttrpcutil/client.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/publisher.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_darwin.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_freebsd.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_linux.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/task/doc.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.proto
  vendor/github.com/containerd/containerd/sys/reaper/reaper_unix.go
  vendor/github.com/containerd/containerd/sys/reaper/reaper_utils_linux.go
  vendor/modules.txt
Owners: none

Fix file capabilities droping in Dockerfile
  daemon/graphdriver/copy/copy.go
Owners: none

Fix file capabilities droping in Dockerfile
  daemon/graphdriver/copy/copy.go
Owners: none

integration-cli: Make service process live forever
  integration-cli/docker_cli_service_logs_test.go
Owners: none

libcontainerd: switch generated containerd.toml to v2 (v1 is deprecated)
  cmd/dockerd/daemon.go
  libcontainerd/supervisor/remote_daemon.go
Owners: none

info: add Features field to show feature-configuration
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  daemon/info.go
  docs/api/version-history.md
Owners: none

Implement ImageDelete for containerd
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_delete.go
  daemon/image_service.go
  daemon/images/image_delete.go
  daemon/images/image_prune.go
Owners: none

Support Zstandard archive compression
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

integration: Add TestContainerWithAutoRemoveCanBeRestarted
  integration/container/restart_test.go
  integration/internal/container/states.go
Owners: none

integration: TestWaitRestartedContainer
  integration/container/wait_test.go
Owners: none

state/Wait: Fix race when reading exit status
  container/container.go
  container/state.go
  container/state_test.go
Owners: none

daemon/restart: Don't mutate AutoRemove when restarting
  daemon/monitor.go
  daemon/restart.go
  daemon/start.go
Owners: none

daemon: support other containerd runtimes (MVP)
  daemon/daemon_unix.go
  daemon/runtime_unix.go
  daemon/runtime_unix_test.go
  integration-cli/docker_cli_daemon_test.go
  integration/container/run_linux_test.go
  integration/internal/container/ops.go
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/doc.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.pb.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.proto
  vendor/github.com/containerd/containerd/pkg/shutdown/shutdown.go
  vendor/github.com/containerd/containerd/pkg/ttrpcutil/client.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/publisher.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_darwin.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_freebsd.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_linux.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/task/doc.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.proto
  vendor/github.com/containerd/containerd/sys/reaper/reaper_unix.go
  vendor/github.com/containerd/containerd/sys/reaper/reaper_utils_linux.go
  vendor/modules.txt
Owners: none

Add support for custom root CAs in dev containers
  .gitignore
  Dockerfile
  hack/dockerfile/certs/README.md
Owners: @tianon

api: add const for 'X-Registry-Auth'
  api/server/middleware/cors.go
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/swarm/cluster_routes.go
  api/types/registry/authconfig.go
  client/distribution_inspect.go
  client/image_create.go
  client/image_create_test.go
  client/image_pull_test.go
  client/image_push.go
  client/image_push_test.go
  client/image_search.go
  client/image_search_test.go
  client/plugin_install.go
  client/plugin_push.go
  client/plugin_push_test.go
  client/plugin_upgrade.go
  client/service_create.go
  client/service_update.go
Owners: none

api/types: move AuthConfig to registry types
  api/types/auth.go
  api/types/backend/build.go
  api/types/client.go
  api/types/registry/authconfig.go
Owners: none

api/server/router: use types/registry.AuthConfig
  api/server/router/build/build_routes.go
  api/server/router/distribution/backend.go
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/backend.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
Owners: none

client: use types/registry.AuthConfig
  client/image_build_test.go
  client/interface.go
  client/login.go
Owners: none

daemon/cluster: use types/registry.AuthConfig
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/services.go
Owners: none

daemon/images: use types/registry.AuthConfig
  daemon/images/image_builder.go
  daemon/images/image_pull.go
  daemon/images/image_push.go
  daemon/images/image_search.go
  daemon/images/image_search_test.go
Owners: none

distribution: use types/registry.AuthConfig
  distribution/config.go
  distribution/metadata/v2_metadata_service.go
  distribution/pull_v2_test.go
  distribution/push_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
Owners: none

daemon: use types/registry.AuthConfig
  daemon/auth.go
  daemon/image_service.go
Owners: none

plugin: use types/registry.AuthConfig
  api/server/router/plugin/plugin_routes.go
  plugin/backend_linux.go
  plugin/backend_unsupported.go
  plugin/fetch_linux.go
  plugin/registry.go
Owners: @cpuguy83

registry: use types/registry.AuthConfig
  registry/auth.go
  registry/auth_test.go
  registry/registry_test.go
  registry/service.go
  registry/session.go
Owners: none

testutil, integration: use types/registry.AuthConfig
  integration/plugin/common/plugin_test.go
  integration/system/login_test.go
  testutil/fixtures/plugin/plugin.go
Owners: none

daemon/containerd: use types/registry.AuthConfig
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/image_search.go
Owners: none

client: linting: fix "invalid auth header" error
  client/image_pull_test.go
  client/image_push_test.go
  client/image_search_test.go
  client/plugin_push_test.go
Owners: none

api: add registry.DecodeAuthConfig, registry.DecodeAuthConfigBody
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/plugin_routes.go
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Owners: none

api: add registry.EncodeAuthConfig
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Owners: none

api: swagger: add missing "platform" query-arg on create
  api/swagger.yaml
  docs/api/version-history.md
Owners: none
