Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

consider digest and ignore tag when both are set
  daemon/containerd/image.go
Owners: none

docker run --platform
  daemon/containerd/image.go
Owners: none

Add ExposedPorts and Volumes to the image returned
  daemon/containerd/image.go
Owners: none

Return the image ID on inspect
  daemon/containerd/image.go
  image/image.go
Owners: none

daemon/containerd: minor cleanup (to be squashed)
  daemon/containerd/image.go
Owners: none

list images matching digest to discover all tags
  daemon/containerd/image.go
Owners: none

Refactor resolving/getting images
  daemon/containerd/image.go
Owners: none

integration-cli: remove uses of ioutils.TempDir
  integration-cli/docker_api_containers_test.go
Owners: none

pkg/longpath: fix package GoDoc
  pkg/longpath/longpath.go
Owners: none

pkg/ioutils: unify TempDir implementation
  pkg/ioutils/temp_unix.go
  pkg/ioutils/tempdir.go
Owners: none

pkg/ioutils: TempDir: move to pkg/longpath
  builder/builder-next/adapters/snapshot/layer.go
  builder/dockerfile/copy.go
  builder/remotecontext/archive.go
  container/view.go
  pkg/ioutils/tempdir.go
  pkg/ioutils/tempdir_deprecated.go
  pkg/longpath/longpath.go
Owners: @tonistiigi

pkg/sysinfo: unify NumCPU implementation
  pkg/sysinfo/numcpu.go
  pkg/sysinfo/numcpu_linux.go
  pkg/sysinfo/numcpu_other.go
  pkg/sysinfo/numcpu_windows.go
Owners: none

pkg/sysinfo: remove github.com/docker/go-units dependency
  pkg/sysinfo/meminfo_unix_test.go
Owners: none

pkg/system: move memory-info types to pkg/systeminfo
  daemon/info.go
  daemon/stats_collector.go
  pkg/sysinfo/meminfo.go
  pkg/sysinfo/meminfo_linux.go
  pkg/sysinfo/meminfo_unix_test.go
  pkg/sysinfo/meminfo_unsupported.go
  pkg/sysinfo/meminfo_windows.go
  pkg/system/meminfo_deprecated.go
  pkg/system/meminfo_unsupported.go
Owners: none

pkg/sysinfo: unify ReadMemInfo implementation
  pkg/sysinfo/meminfo.go
  pkg/sysinfo/meminfo_linux.go
  pkg/sysinfo/meminfo_unsupported.go
  pkg/sysinfo/meminfo_windows.go
Owners: none

daemon/cluster: use strings.Cut()
  daemon/cluster/executor/container/controller.go
  daemon/cluster/executor/container/executor.go
Owners: none

graphdriver: windows: use strings.Cut()
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

api/types/filters: use strings.Cut()
  api/types/filters/parse.go
Owners: none

pkg/tarsum: use strings.Cut() and minor refactor
  pkg/tarsum/tarsum.go
  pkg/tarsum/versioning.go
Owners: none

api/types: use strings.Cut()
  api/types/types.go
Owners: none

builder/dockerfile: use strings.Cut()
  builder/dockerfile/dispatchers.go
Owners: @tonistiigi

builder/remotecontext/git: use strings.Cut()
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

volume: use strings.Cut() and minor refactor
  volume/local/local.go
  volume/mounts/linux_parser.go
  volume/mounts/windows_parser.go
Owners: none

api/types/time: use strings.Cut()
  api/types/time/timestamp.go
Owners: none

client: use strings.Cut()
  client/client.go
  client/ping.go
Owners: none

daemon/events: use strings.Cut()
  daemon/events/testutils/testutils.go
Owners: none

daemon/links: use strings.Cut()
  daemon/links/links.go
Owners: none

cmd/dockerd: use strings.Cut()
  cmd/dockerd/daemon.go
Owners: none

daemon/logger: use strings.Cut()
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/loginfo.go
Owners: none

integration/internal: use strings.Cut() and minor refactor
  integration/internal/container/ops.go
Owners: none

libcontainerd/local: use strings.Cut()
  libcontainerd/local/utils_windows.go
Owners: none

integration-cli: links: use gotest.tools compare and assert.Check
  integration-cli/docker_cli_links_test.go
Owners: none

pkg/parsers/kernel: use strings.Cut() and minor refactor
  pkg/parsers/kernel/kernel_darwin.go
Owners: none

pkg/parsers/operatingsystem: don't use strings.SplitN()
  pkg/parsers/operatingsystem/operatingsystem_linux.go
Owners: none

opts: use strings.Cut() and refactor parseDaemonHost()
  opts/address_pools.go
  opts/env.go
  opts/hosts.go
  opts/hosts_test.go
  opts/opts.go
  opts/runtime.go
Owners: none

plugin: use strings.Cut()
  plugin/defs.go
  plugin/v2/settable.go
Owners: @cpuguy83

integration-cli: use strings.Cut()
  integration-cli/docker_cli_build_test.go
Owners: none

daemon/graphdriver/zfs: use strings.Cut, and refactor
  daemon/graphdriver/zfs/zfs_freebsd.go
Owners: none

libnetwork: use strings.Cut() and minor refactor
  libnetwork/etchosts/etchosts.go
  libnetwork/netlabel/labels.go
  libnetwork/sandbox_dns_unix.go
Owners: none

pkg/parsers: use strings.Cut(), and cleanup error-messages
  pkg/parsers/parsers.go
  pkg/parsers/parsers_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
