Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Updated AUTHORS file
  AUTHORS
Owners: none

daemon: set container exit when related shim process dead abnormally
  daemon/monitor.go
Owners: none

Fixed broken links in project documentation files.
  project/BRANCHES-AND-TAGS.md
  project/RELEASE-PROCESS.md
Owners: @thaJeztah

vendor: replace vndr with `go mod vendor`
  .gitattributes
  .gitignore
  Dockerfile
  hack/README.md
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  hack/go-mod-prepare.sh
  hack/validate/vendor
  hack/vendor.sh
  project/PACKAGERS.md
  vendor.conf
  vendor.mod
  vendor.sum
Owners: @tianon, @thaJeztah

Makefile: use volume for go mod cache when running dev-container
  Makefile
Owners: none

Revert "[20.10] update containerd binary to v1.4.12"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.11"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.10"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.9"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary v1.4.8"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.7"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.6"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Revert "[20.10] update containerd binary to v1.4.5"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.0
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.1
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.2
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Update containerd binary to v1.5.3
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary v1.4.8
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.5
  hack/dockerfile/install/containerd.installer
Owners: @tianon

info: remove "expected" check for tini version
  daemon/info_unix.go
  dockerversion/version_lib.go
  hack/make/.go-autogen
Owners: @tianon

remove deprecated "nokmem" build-tag for runc
  hack/dockerfile/install/runc.installer
Owners: @tianon

Dockerfile: remove GOPROXY override (was for go < 1.14)
  hack/dockerfile/install/rootlesskit.installer
Owners: @tianon

Dockerfile: use version for some utilities instead of commit-sha
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/rootlesskit.installer
  hack/dockerfile/install/runc.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/tini.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Dockerfile: use "go install" to install utilities
  Dockerfile.windows
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Dockerfile: update gotestsum to v1.7.0
  Dockerfile.windows
  hack/dockerfile/install/gotestsum.installer
Owners: @tianon

Update containerd binary to v1.5.6
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Update containerd binary to v1.5.7
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.8
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update runc binary to v1.0.3
  hack/dockerfile/install/runc.installer
Owners: @tianon

update containerd binary to v1.5.9
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon/logger: read the length header correctly
  daemon/logger/local/read.go
  daemon/logger/local/read_test.go
  daemon/logger/loggerutils/logfile.go
Owners: none

daemon/logger: test followLogs' handleDecodeErr case
  daemon/logger/loggerutils/logfile_test.go
Owners: none

daemon/logger: refactor followLogs to write more unit tests
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
Owners: none

daemon/logger: replace flaky TestFollowLogsHandleDecodeErr
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

Fix for lack of syncromization in daemon/update.go
  daemon/update.go
Owners: none

Jenkinsfile: remove Windows RS1 as it reached end of support
  Jenkinsfile
Owners: none

docker-py: skip CreateContainerTest::test_create_with_device_cgroup_rules
  hack/make/test-docker-py
Owners: @tianon

Add RestartPolicy "no" to swagger docs
  docs/api/v1.41.yaml
Owners: none

Add "changes" query parameter for /image/create to swagger docs
  docs/api/v1.41.yaml
Owners: none

Fix ContainerSummary swagger docs
  docs/api/v1.41.yaml
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
