Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

vendor: github.com/containerd/containerd v1.6.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/image.go
  vendor/github.com/containerd/containerd/pkg/kmutex/kmutex.go
  vendor/github.com/containerd/containerd/pkg/kmutex/noop.go
  vendor/github.com/containerd/containerd/unpacker.go
  vendor/modules.txt
Owners: none

api: rename ContainerWaitOKBody to container.WaitResponse
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/deprecated.go
  api/types/container/wait_exit_error.go
  api/types/container/wait_response.go
  client/container_wait.go
  client/container_wait_test.go
  client/interface.go
Owners: none

imports: remove "volumetypes" aliases for api/types/volume
  api/server/router/volume/volume_routes.go
  client/volume_inspect_test.go
  client/volume_list.go
  daemon/cluster/executor/container/container.go
  integration/plugin/authz/authz_plugin_v2_test.go
Owners: none

api/types: rename volume.VolumeUsageData to volume.UsageData
  api/swagger.yaml
  api/types/deprecated.go
  api/types/volume/volume.go
  volume/service/convert.go
Owners: none

api: rename volume.VolumeListOKBody to volume.ListResponse
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  api/types/volume/deprecated.go
  api/types/volume/list_response.go
  client/interface.go
  client/volume_list.go
  client/volume_list_test.go
Owners: none

api: rename volume.VolumeCreateBody to volume.CreateOptions
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  api/types/volume/create_options.go
  api/types/volume/deprecated.go
  client/interface.go
  client/volume_create.go
  client/volume_create_test.go
  daemon/cluster/executor/container/container.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/system/event_test.go
  integration/volume/volume_test.go
Owners: none

api: swagger: move ContainerCreateResponse to definitions
  api/swagger.yaml
  api/types/container/container_create.go
  api/types/container/container_create_created_body.go
  hack/generate-swagger-api.sh
Owners: @tianon

api: rename container.ContainerCreateCreatedBody to container.CreateResponse
  api/swagger.yaml
  api/types/container/create_response.go
  api/types/container/deprecated.go
Owners: none

update uses of container.ContainerCreateCreatedBody to CreateResponse
  api/server/router/container/backend.go
  builder/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/mockbackend_test.go
  client/container_create.go
  client/container_create_test.go
  client/interface.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/create.go
  integration/internal/container/container.go
Owners: @tonistiigi

health: Start probe timeout after exec starts
  daemon/health.go
  daemon/metrics.go
Owners: none

Order docker.service before kubelet.service
  contrib/init/systemd/docker.service
Owners: none

daemon: daemon.initNetworkController(): dont return the controller
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Owners: none

daemon/config: remove uses of pointers for ints
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/daemon.go
  daemon/images/service.go
  daemon/reload.go
Owners: none

vendor: github.com/Microsoft/go-winio v0.5.2
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_nonwindows.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/grantvmgroupaccess.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/sys v0.0.0-20220405210540-1e041c57c461
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_bsd.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_linux_amd64.go
  vendor/golang.org/x/sys/unix/syscall_linux_arm64.go
  vendor/golang.org/x/sys/unix/syscall_netbsd.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/continuity v0.3.0
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/continuity/AUTHORS
  vendor/github.com/containerd/continuity/driver/driver_unix.go
  vendor/github.com/containerd/continuity/driver/utils.go
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_device_unix.go
  vendor/github.com/containerd/continuity/fs/copy_irregular_freebsd.go
  vendor/github.com/containerd/continuity/fs/copy_irregular_unix.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_windows.go
  vendor/github.com/containerd/continuity/fs/diff.go
  vendor/github.com/containerd/continuity/fs/dtype_linux.go
  vendor/github.com/containerd/continuity/sysx/generate.sh
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/opts.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/cache/util/fsutil.go
  vendor/github.com/moby/buildkit/client/client.go
  vendor/github.com/moby/buildkit/client/llb/marshal.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/ociindex/ociindex.go
  vendor/github.com/moby/buildkit/executor/oci/hosts.go
  vendor/github.com/moby/buildkit/executor/oci/resolvconf.go
  vendor/github.com/moby/buildkit/exporter/local/export.go
  vendor/github.com/moby/buildkit/exporter/tar/export.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/snapshot/localmounter_unix.go
  vendor/github.com/moby/buildkit/solver/cacheopts.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/backend.go
  vendor/github.com/moby/buildkit/solver/llbsolver/mounts/mount.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/diff.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec_binfmt.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/merge.go
  vendor/github.com/moby/buildkit/solver/pb/ops.pb.go
  vendor/github.com/moby/buildkit/solver/pb/ops.proto
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/archutil/check_unix.go
  vendor/github.com/moby/buildkit/util/buildinfo/buildinfo.go
  vendor/github.com/moby/buildkit/util/contentutil/buffer.go
  vendor/github.com/moby/buildkit/util/imageutil/schema1.go
  vendor/github.com/moby/buildkit/util/overlay/overlay_linux.go
  vendor/github.com/moby/buildkit/util/resolver/resolver.go
  vendor/github.com/moby/buildkit/util/winlayers/applier.go
  vendor/github.com/moby/buildkit/version/version.go
  vendor/modules.txt
Owners: none

opts: ParseTCPAddr(): extract parsing logic, consistent errors
  daemon/cluster/cluster.go
  daemon/cluster/listen_addr.go
  daemon/cluster/swarm.go
  opts/hosts.go
  opts/hosts_test.go
Owners: none

seccomp: support riscv64
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

api: postContainersStop, postContainersRestart remove redundant validation
  api/server/router/container/container_routes.go
Owners: none

vendor: github.com/opencontainers/selinux v1.10.1
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/modules.txt
Owners: none

when created, workdir is owned by user, not root
  container/container.go
  daemon/create_unix.go
  integration/container/create_test.go
Owners: none

vendor: github.com/containerd/containerd v1.6.4
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

update containerd binary to v1.6.4
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.4
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon: separate daemon ID from trust-key
  daemon/daemon.go
  daemon/id.go
  integration/daemon/daemon_test.go
Owners: none

daemon: only create trust-key if DOCKER_ALLOW_SCHEMA1_PUSH_DONOTUSE is set
  daemon/daemon.go
  integration-cli/docker_cli_daemon_test.go
Owners: none

libcontainerd: SignalProcess(): accept syscall.Signal
  daemon/exec.go
  daemon/kill.go
  daemon/util_test.go
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

daemon: killWithSignal, killPossiblyDeadProcess: accept syscall.Signal
  daemon/container_operations_unix.go
  daemon/kill.go
  daemon/stop.go
  pkg/system/process_unix.go
Owners: none

container: StopSignal(): return syscall.Signal
  container/container.go
  container/container_unit_test.go
  daemon/stop.go
Owners: none

plugin: Executor.Signal() accept syscall.Signal
  plugin/executor/containerd/containerd.go
  plugin/manager.go
  plugin/manager_linux.go
  plugin/manager_linux_test.go
Owners: @cpuguy83

daemon: daemon.ContainerKill() accept stop-signal as string
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  builder/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/mockbackend_test.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/kill.go
  libcontainerd/local/local_windows.go
Owners: @tonistiigi

daemon: fix some minor nits
  daemon/kill.go
Owners: none

api/server: fix stray import in container_routes.go
  api/server/router/container/container_routes.go
Owners: none

feat(container/secrets): mount container secrets
  container/container_unix.go
Owners: none

feat(container): add Secrets to container Config
  api/types/container/config.go
Owners: none

fix(container): simplify Container.SecretFilePath method signature
  container/container.go
  container/container_unix.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
Owners: none

feat(container): prepare secrets at initialization
  daemon/container.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/swarmkit/LICENSE
  vendor/github.com/docker/swarmkit/identity/doc.go
  vendor/github.com/docker/swarmkit/identity/randomid.go
  vendor/modules.txt
Owners: none

feat(container/secret): create container secret files on the host
  daemon/container_operations_unix.go
Owners: none

fix(deps): reuse existing swarmkit dependency
  daemon/container.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/swarmkit/LICENSE
  vendor/github.com/docker/swarmkit/identity/doc.go
  vendor/github.com/docker/swarmkit/identity/randomid.go
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
