Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

libnetwork: setup DNS resolver without reexec
  libnetwork/resolver_unix.go
Owners: none

libnetwork: fwmarker without reexec
  libnetwork/service_linux.go
Owners: none

libnetwork: drop (resolver).resolverKey field
  libnetwork/network_windows.go
  libnetwork/resolver.go
  libnetwork/resolver_test.go
  libnetwork/sandbox_dns_unix.go
Owners: none

ipamutils: use RWMutex to allow concurrent reads
  libnetwork/ipamutils/utils.go
Owners: none

ipamutils: un-export global variables, and use accessors instead
  libnetwork/ipamutils/utils.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

ipamutils: reformat for readability, and improve godoc
  libnetwork/ipamutils/utils.go
Owners: none

ipamutils: generate default pools on first use, instead of init()
  libnetwork/ipamutils/utils.go
Owners: none

WIP: split local and global
  libnetwork/ipamutils/utils.go
Owners: none

libnetwork: Remove iptables nat rule when hairpin is disabled
  libnetwork/drivers/bridge/setup_ip_tables.go
Owners: none

vendor: github.com/vishvananda/netns v0.0.1
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_unspecified.go
  vendor/modules.txt
Owners: none

imageService: Rename ExportImage to SaveImage
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_exporter.go
  daemon/image_service.go
  daemon/images/image_exporter.go
Owners: none

imageService: Rename (Load/Save)Image to plural *Images
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_exporter.go
  daemon/image_service.go
  daemon/images/image_builder.go
  daemon/images/image_exporter.go
Owners: none

imageService: Rename ImportImage to ImportImageRootFS
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_import.go
  daemon/image_service.go
  daemon/images/image_import.go
Owners: none

libnetwork: don't embed mutex in sandbox
  libnetwork/sandbox.go
Owners: none

libnetwork: don't embed mutex in controller
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/network.go
  libnetwork/sandbox.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_store.go
  libnetwork/service_common.go
  libnetwork/store.go
Owners: none

libnetwork: return concrete-typed *Controller
  builder/builder-next/builder.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/network.go
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/default_gateway.go
  libnetwork/default_gateway_freebsd.go
  libnetwork/default_gateway_linux.go
  libnetwork/default_gateway_windows.go
  libnetwork/endpoint.go
  libnetwork/endpoint_test.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
  libnetwork/firewall_others.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/sandbox.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_externalkey_windows.go
  libnetwork/sandbox_store.go
  libnetwork/sandbox_test.go
  libnetwork/service_common.go
  libnetwork/service_common_test.go
  libnetwork/service_unsupported.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Owners: @tonistiigi

libnetwork: return concrete-typed *Sandbox
  builder/builder-next/executor_unix.go
  daemon/container_operations.go
  daemon/network.go
  daemon/rename.go
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/default_gateway.go
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/resolver_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_store.go
  libnetwork/service_common_test.go
  libnetwork/service_linux.go
  libnetwork/service_windows.go
Owners: @tonistiigi

libnetwork: don't embed mutex in endpoint
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/sandbox.go
Owners: none

libnetwork: don't embed mutex in network
  libnetwork/network.go
  libnetwork/store.go
Owners: none

libnetwork: return concrete-typed *Endpoint
  builder/builder-next/executor_unix.go
  daemon/container_operations.go
  daemon/network.go
  daemon/network_windows.go
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/default_gateway.go
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/endpoint_info_unix.go
  libnetwork/endpoint_info_windows.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/sandbox.go
  libnetwork/sandbox_store.go
  libnetwork/service_linux.go
  libnetwork/service_windows.go
  libnetwork/store.go
Owners: @tonistiigi

vendor: github.com/vishvananda/netns v0.0.1
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_unspecified.go
  vendor/modules.txt
Owners: none

vendor: github.com/vishvananda/netns v0.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/doc.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/ipvs v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/ipvs/.golangci.yml
  vendor/github.com/moby/ipvs/LICENSE
  vendor/github.com/moby/ipvs/README.md
  vendor/github.com/moby/ipvs/constants_linux.go
  vendor/github.com/moby/ipvs/ipvs_linux.go
  vendor/github.com/moby/ipvs/netlink_linux.go
  vendor/modules.txt
Owners: none

homedir: fallback to user.Current().homeDir if XDG_DATA_HOME/XDG_CONFIG_HOME and HOME are unset
  pkg/homedir/homedir_linux.go
Owners: none

fix: the logic of the protocol in loadListeners
  cmd/dockerd/daemon.go
Owners: none

Revert "libnetwork: Support IPv6 in arrangeUserFilterRule()"
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Owners: none

libnetwork: Support IPv6 in arrangeUserFilterRule() (redux)
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Owners: none

Revert "Updated outdated docker contributing guidelines link"
  CONTRIBUTING.md
Owners: none

hack: name for target ARM architecture not specified
  hack/make/.binary
Owners: @tianon

hack: typo in displayed platform name
  hack/make/.binary
Owners: @tianon

Dockerfile: fix PKG_CONFIG for xx
  Dockerfile
Owners: none

ioutils: add regression test for bytespipe deadlock
  pkg/ioutils/bytespipe_test.go
Owners: none

fix blockThreshold full bug
  pkg/ioutils/bytespipe.go
Owners: none

vendor: github.com/vishvananda/netns v0.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/doc.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/ipvs v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/ipvs/.golangci.yml
  vendor/github.com/moby/ipvs/LICENSE
  vendor/github.com/moby/ipvs/README.md
  vendor/github.com/moby/ipvs/constants_linux.go
  vendor/github.com/moby/ipvs/ipvs_linux.go
  vendor/github.com/moby/ipvs/netlink_linux.go
  vendor/modules.txt
Owners: none

cmd/dockerd: use default SIGQUIT behaviour
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
Owners: none

daemon/config: support alternate (common) unicode encodings using a BOM
  daemon/config/config.go
  daemon/config/config_test.go
  vendor.mod
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/modules.txt
Owners: none

daemon/config: inform the user when the input JSON contains invalid UTF-8
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

daemon/config: clean up tests to use common helper
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows_test.go
Owners: none

Add additional loggig in case of error of renaming runtimes-old and removing it
  daemon/runtime_unix.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
