Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Rename Reservation to Reservations in the open API
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

overlay2: account for UserNS/userxattr in metacopy test
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlayutils/overlayutils.go
Owners: @dmcgowan

Apply performance tuning to new sandboxes also
  libnetwork/controller.go
  libnetwork/osl/namespace_linux.go
Owners: none

daemon/logger: improve jsonfilelog read benchmark
  daemon/logger/jsonfilelog/read_test.go
Owners: none

daemon/logger: add test suite for LogReaders
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local_test.go
  daemon/logger/loggertest/logreader.go
Owners: none

docs: api: add note about websocket attach streams
  docs/api/version-history.md
Owners: none

docs: api: /containers/{id}/attach/ws: remove unsupported query-args < v1.42
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs: api: /containers/{id}/attach/ws: remove unsupported query-args < v1.42
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

fix docker-proxy not statically linked
  hack/make/binary-proxy
Owners: @tianon

no gcc toolchain for windows arm64 available atm
  hack/make/.binary
  hack/make/binary-proxy
Owners: @tianon

fix ctr not statically linked
  hack/dockerfile/install/containerd.installer
Owners: @tianon

all: use unix.ByteSliceToString for utsname fields
  pkg/parsers/kernel/kernel_unix.go
  pkg/parsers/operatingsystem/operatingsystem_unix.go
  pkg/platform/architecture_unix.go
  profiles/seccomp/kernel_linux.go
Owners: none

daemon/linux: Set console size on creation
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/host_config.go
  client/container_create.go
  daemon/oci_linux.go
  daemon/oci_opts.go
  docs/api/version-history.md
  integration/container/run_linux_test.go
  integration/internal/container/ops.go
Owners: none

integration-cli: fix test rogue certs
  hack/generate-test-rogue-certs.sh
  integration-cli/fixtures/https/ca-rogue.pem
  integration-cli/fixtures/https/client-rogue-cert.pem
  integration-cli/fixtures/https/client-rogue-key.pem
  integration-cli/fixtures/https/server-rogue-cert.pem
  integration-cli/fixtures/https/server-rogue-key.pem
Owners: @tianon

introduce CreateMountpoint for parity between binds and mounts
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/mount/mount.go
  daemon/volumes.go
  docs/api/version-history.md
Owners: none

ci: windows gha workflow (unit test)
  .github/workflows/windows.yml
Owners: none

ci: windows gha workflow (integration test)
  .github/workflows/windows.yml
Owners: none

ci: windows gha workflow (build)
  .github/workflows/windows.yml
Owners: none

integration-cli: TestSlowStdinClosing is flaky on GitHub Runner
  integration-cli/docker_cli_run_test.go
Owners: none

integration-cli: TestRestartContainer is flaky on GitHub Runner
  integration-cli/docker_cli_restart_test.go
  testutil/environment/environment.go
Owners: none

integration-cli: refactor TestStartReturnCorrectExitCode
  integration-cli/docker_cli_restart_test.go
  integration-cli/docker_cli_start_test.go
Owners: none

daemon/logger: improve jsonfilelog read benchmark
  daemon/logger/jsonfilelog/read_test.go
Owners: none

daemon/logger: add test suite for LogReaders
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local_test.go
  daemon/logger/loggertest/logreader.go
Owners: none

daemon/logger: follow LogFile without file watches
  daemon/logger/jsonfilelog/read.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

daemon/logger: drain readers when logger is closed
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

daemon/logger: rotate log files, never truncate
  daemon/logger/loggerutils/file_unix.go
  daemon/logger/loggerutils/file_windows.go
  daemon/logger/loggerutils/file_windows_test.go
  daemon/logger/loggerutils/logfile.go
Owners: none

daemon/logger: fix refcounting decompressed files
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local_test.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/sharedtemp.go
  daemon/logger/loggerutils/sharedtemp_test.go
Owners: none

daemon/logger: remove ProducerGone from LogWatcher
  daemon/logger/adapter_test.go
  daemon/logger/journald/journald.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_unsupported.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/logger.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

daemon/logger/local: fix appending newlines
  daemon/logger/local/read.go
Owners: none

daemon/logger: open log reader synchronously
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/read.go
  daemon/logger/local/local.go
  daemon/logger/local/read.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

daemon/logger: hold LogFile lock less on ReadLogs
  daemon/logger/loggerutils/logfile.go
Owners: none

pkg/filenotify: delete unused package
  pkg/filenotify/filenotify.go
  pkg/filenotify/fsnotify.go
  pkg/filenotify/poller.go
  pkg/filenotify/poller_test.go
  vendor.mod
  vendor/github.com/fsnotify/fsnotify/.gitattributes
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/CONTRIBUTING.md
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.3
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/worker/workercontroller.go
  vendor/modules.txt
Owners: none

gha: temporarily override buildkit version for tests
  .github/workflows/ci.yml
  vendor.mod
Owners: none

ci(windows): upload coverage to codecov
  .github/workflows/windows.yml
  codecov.yml
  hack/make.ps1
Owners: @tianon

fix docker-proxy not statically linked
  hack/make/binary-proxy
Owners: @tianon

Use hashicorp/go-memdb instead of truncindex
  container/view.go
  container/view_test.go
  daemon/container.go
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/delete.go
  daemon/list.go
  pkg/truncindex/truncindex.go
  pkg/truncindex/truncindex_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/tchap/go-patricia/AUTHORS
  vendor/github.com/tchap/go-patricia/LICENSE
  vendor/github.com/tchap/go-patricia/patricia/children.go
  vendor/github.com/tchap/go-patricia/patricia/patricia.go
  vendor/modules.txt
Owners: none

Add swarm service, stack name, compose service, compose project to journald logger output fields.
  daemon/logger/journald/journald.go
Owners: none

vendor: github.com/Microsoft/hcsshim v0.9.3
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnspolicy.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/iocp.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/limits.go
  vendor/github.com/Microsoft/hcsshim/internal/queue/mq.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/iocp.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/winapi.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/modules.txt
Owners: none

Annotate some swagger documented types as int64
  api/swagger.yaml
  api/types/image_summary.go
  api/types/types.go
  docs/api/v1.41.yaml
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
