Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

builder: add missing doc comment
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder: explicitly set CWD for all git commands
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: make git config isolation opt-in
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: add missing doc comment
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder: isolate git from local system
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: modernize TestCheckoutGit
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: fix running git commands on Windows
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

gha: buildkit: remove "skip-integration-tests" from matrix
  .github/workflows/buildkit.yml
Owners: none

gha: buildkit: make checks more readable
  .github/workflows/buildkit.yml
Owners: none

gha: update buildkit to v0.10.5-6-ge27c8e24 to skip some tests
  .github/workflows/buildkit.yml
Owners: none

gha: update buildkit to v0.10.5-6-ge27c8e24 to skip some tests
  .github/workflows/buildkit.yml
Owners: none

Complete iptables initialization if ip6tables does not exist
  libnetwork/iptables/iptables.go
Owners: none

Guard exec with empty command when ip6tables not present
  libnetwork/iptables/iptables.go
Owners: none

Revert "testutil/registry: remove unused WithStdout(), WithStErr() opts"
  testutil/registry/ops.go
Owners: none

Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
Owners: none

skip TestImagePullStoredfDigestForOtherRepo() on Windows and rootless
  integration/image/pull_test.go
Owners: none

Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
Owners: none

Revert "testutil/registry: remove unused WithStdout(), WithStErr() opts"
  testutil/registry/ops.go
Owners: none

skip TestImagePullStoredfDigestForOtherRepo() on Windows and rootless
  integration/image/pull_test.go
Owners: none

skip TestImagePullStoredfDigestForOtherRepo() on Windows and rootless
  integration/image/pull_test.go
Owners: none

gha: buildkit: remove "skip-integration-tests" from matrix
  .github/workflows/buildkit.yml
Owners: none

gha: buildkit: make checks more readable
  .github/workflows/buildkit.yml
Owners: none

[20.10] vendor: github.com/moby/buildkit eeb7b65ab7d651770a5ec52a06ea7c96eb97a249 (v0.8 branch)
  vendor.conf
  vendor/github.com/armon/circbuf/LICENSE
  vendor/github.com/armon/circbuf/README.md
  vendor/github.com/armon/circbuf/circbuf.go
  vendor/github.com/armon/circbuf/go.mod
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/progress/logs/logs.go
Owners: none

builder/remotecontext/git: allow building on go1.18
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder/remotecontext/git: allow building on go1.18
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compatibility
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Owners: none

integration: download busybox-w32 from GitHub Release
  contrib/busybox/Dockerfile
Owners: none

update containerd binary to v1.6.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.9
  hack/dockerfile/install/containerd.installer
Owners: @tianon

libnetwork/testutils: restore netns on teardown
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/testutils/context_unix.go
Owners: none

integration: download busybox-w32 from GitHub Release
  contrib/busybox/Dockerfile
Owners: none

integration: download busybox-w32 from GitHub Release
  contrib/busybox/Dockerfile
Owners: none

Add manifest tag header to each request in push/pull
  distribution/manifest_headers.go
  distribution/manifest_headers_test.go
  distribution/pull_v2.go
  distribution/push_v2.go
  distribution/registry.go
Owners: none

libnetwork: drop InitOSContext()
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/ipvlan/ipvlan_endpoint.go
  libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/macvlan/macvlan_endpoint.go
  libnetwork/drivers/macvlan/macvlan_joinleave.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/netutils/utils_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/namespace_windows.go
  libnetwork/osl/sandbox_freebsd.go
Owners: none

libnetwork: fixup thread locking in Linux tests
  libnetwork/libnetwork_linux_test.go
Owners: none

libnetwork/osl: clean up Linux InvokeFunc()
  libnetwork/ns/init_linux.go
  libnetwork/osl/namespace_linux.go
Owners: none

libnet/d/overlay: restore thread netns
  libnetwork/drivers/overlay/ov_network.go
Owners: none

fix force remove for cluster volumes
  api/server/router/volume/volume_routes.go
  api/server/router/volume/volume_routes_test.go
Owners: none

Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  cmd/dockerd/config.go
Owners: none
