Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

integration-cli: TestRemoveContainerAfterLiveRestore use overlay2
  integration-cli/docker_cli_daemon_test.go
Owners: none

Set ExternalPortReserved for dummy proxy
  libnetwork/drivers/windows/windows.go
Owners: none

Fix validation of IpcMode, PidMode, UTSMode, CgroupnsMode
  daemon/daemon_unix.go
  daemon/oci_linux.go
  integration/container/create_test.go
Owners: none

vendor: libnetwork 2dab5620d4462865c6151e573b3e7fa5d3b8458b
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/vendor.conf
Owners: @tianon

vendor: hcsshim a11a2c44e8a4aa9d66314b1d759ef582df5ab5e8
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnspolicy.go
Owners: none

vendor: github.com/containerd/cgroups v1.0.4
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/cgroups/README.md
  vendor/github.com/containerd/cgroups/Vagrantfile
  vendor/github.com/containerd/cgroups/utils.go
  vendor/github.com/containerd/cgroups/v2/manager.go
  vendor/github.com/containerd/cgroups/v2/memory.go
  vendor/github.com/containerd/cgroups/v2/utils.go
  vendor/modules.txt
Owners: none

Fix constant `WARNING: No swap limit support` on cgroup v2 hosts
  pkg/sysinfo/cgroup2_linux.go
Owners: none

daemon/images: use gotest.tools for tests, and use sub-tests
  daemon/images/image_search_test.go
Owners: none

daemon/logger: Share buffers by sync.Pool
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/local/read_test.go
  daemon/logger/logger.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

integration: Add logs tests
  integration/container/logs_test.go
Owners: none

daemon/logger: Share buffers by sync.Pool
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/local/read_test.go
  daemon/logger/logger.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

update gotestsum to v1.8.1
  Dockerfile
  Dockerfile.windows
Owners: none

fix docker-proxy defunct
  libnetwork/portmapper/proxy_linux.go
Owners: none

replace deprecated gotest.tools' env.Patch() with t.SetEnv()
  client/client_test.go
  client/options_test.go
  daemon/logger/splunk/splunk_test.go
  integration/daemon/daemon_test.go
Owners: none

vendor: gotest.tools v3.2.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/assert_go113.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/compare_go113.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/modules.txt
Owners: none

builder: fix empty reference
  builder/builder-next/exporter/export.go
Owners: @tonistiigi

integration: TestPingSwarmHeader(): fix incorrect ping, and cleanup
  integration/system/ping_test.go
Owners: none

daemon: fix daemon.Shutdown, daemon.Cleanup not cleaning up overlay2 mounts
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
Owners: none

api: set default "Builder-Version" to "2" (BuildKit) on Linux
  api/server/router/build/build.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/system/ping_test.go
Owners: none

Delete v1.md
  image/spec/v1.md
Owners: none

WIP: update buildkit adapters to support hardlink merges.
  builder/builder-next/adapters/snapshot/snapshot.go
  daemon/graphdriver/driver.go
  daemon/graphdriver/fsdiff.go
  daemon/graphdriver/overlay2/overlay.go
  layer/layer.go
  layer/mounted_layer.go
Owners: @tonistiigi, @dmcgowan

archive: add human-readable hint to Lchown error
  pkg/archive/archive.go
Owners: none

testing: remove some defer cleanup in favor of test.Cleanup()
  builder/dockerfile/copy_test.go
  builder/remotecontext/remote_test.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/daemon_unix_test.go
  daemon/config/builder_test.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/oci_windows_test.go
  daemon/trustkey_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/container/ipcmode_linux_test.go
  integration/container/mounts_linux_test.go
  integration/container/remove_test.go
  quota/testhelpers.go
Owners: @tonistiigi

docs: api: adjust ContainerWaitResponse error as optional
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: swagger: adjust ContainerWaitResponse error as optional
  api/swagger.yaml
  api/types/container/wait_response.go
Owners: none

daemon/logger: Global buffer pools
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
Owners: none

daemon/logger: Put Message back as soon as possible
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
Owners: none

daemon/logger: Increase initial buffers size
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
Owners: none

exploratory attempt to expose ilayerstore as a ctrd Snapshotter
  layer/shapshotter.go
Owners: none

daemon/logger: Fix TestConcurrentLogging race test
  daemon/logger/loggerutils/logfile_race_test.go
Owners: none

vendor: github.com/moby/ipvs v1.0.2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/ipvs/constants.go
  vendor/github.com/moby/ipvs/netlink.go
  vendor/modules.txt
Owners: none

Ensure performance tuning is always applied
  libnetwork/service_linux.go
Owners: none

fix unclosed file-handles in tests
  daemon/graphdriver/driver_test.go
  daemon/trustkey_test.go
  pkg/directory/directory_test.go
  volume/service/db_test.go
  volume/service/restore_test.go
  volume/service/store_test.go
Owners: none

Jenkinsfile: remove Windows stages
  Jenkinsfile
  hack/ci/windows.ps1
Owners: @tianon

ci(windows): upload test reports with logs
  .github/workflows/windows.yml
Owners: none

Openrc: Depend on containerd init script
  contrib/init/openrc/docker.initd
Owners: none

overlay2: encapsulate mount data generation
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

overlay2: tidy up Init and Get logic
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

overlay2: encapsulate index=off test and report the result in the driver status
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

overlay2: shift global state into Driver struct
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan
