Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

registry: remove unused error return from HostCertsDir()
  daemon/daemon.go
  registry/registry.go
Owners: none

registry: remove ErrInvalidRepositoryName
  registry/config.go
  registry/service.go
Owners: none

registry: return "errdefs" compatible error types
  registry/config.go
  registry/config_test.go
  registry/endpoint_v1.go
  registry/errors.go
  registry/registry.go
  registry/service.go
  registry/service_v2.go
  registry/session.go
Owners: none

registry: remove unneeded alias for api/types/registry import
  registry/auth.go
  registry/auth_test.go
  registry/config.go
  registry/endpoint_v1.go
  registry/registry_mock_test.go
  registry/registry_test.go
  registry/service.go
  registry/session.go
  registry/types.go
Owners: none

registry: minor improvements and cleanup
  registry/auth.go
  registry/config.go
  registry/endpoint_v1.go
  registry/service.go
Owners: none

registry: defaultService: use sync.RWMutex
  registry/registry.go
  registry/service.go
  registry/service_v2.go
Owners: none

registry: make serviceConfig.loadInsecureRegistries() more atomic
  registry/config.go
Owners: none

registry: make defaultService.ServiceConfig() more idiomatic
  registry/config.go
  registry/service.go
Owners: none

registry: move allowNondistributableArtifacts, isSecureIndex to config
  registry/config.go
  registry/registry_test.go
  registry/service.go
  registry/service_v2.go
Owners: none

registry: serviceConfig: don't embed registry.ServiceConfig
  registry/config.go
Owners: none

oci: inheritable capability set should be empty
  daemon/exec_linux.go
  oci/defaults.go
  oci/oci.go
Owners: none

search: un-export registry.DefaultSearchLimit, and fix API status codes
  api/server/router/image/image_routes.go
  daemon/images/image_search_test.go
  integration-cli/docker_cli_search_test.go
  registry/service.go
  registry/session.go
Owners: none

api: filters: return correct status on invalid filters
  api/server/router/container/container_routes.go
  api/server/router/network/network_routes.go
  api/server/router/swarm/cluster_routes.go
  api/server/router/volume/volume_routes.go
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Owners: none

filters: lowercase error
  daemon/errors.go
  daemon/images/image_search_test.go
  daemon/images/locals.go
  daemon/list_test.go
  integration-cli/docker_cli_images_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_search_test.go
  integration-cli/docker_cli_volume_test.go
  plugin/errors.go
  volume/service/errors.go
Owners: @cpuguy83

search: remove parsing JSON filters out of the backend
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/images/image_search.go
  daemon/images/image_search_test.go
Owners: none

registry: remove unused Service.TLSConfig()
  registry/service.go
Owners: none

registry: un-export AuthTransport()
  registry/registry_test.go
  registry/session.go
Owners: none

registry: remove unused fallbackError
  registry/auth.go
  registry/service.go
Owners: none

vendor: github.com/containerd/fifo v1.0.0
  vendor.conf
  vendor/github.com/containerd/fifo/errors.go
  vendor/github.com/containerd/fifo/fifo.go
  vendor/github.com/containerd/fifo/go.mod
  vendor/github.com/containerd/fifo/handle_nolinux.go
  vendor/github.com/containerd/fifo/mkfifo_nosolaris.go
  vendor/github.com/containerd/fifo/raw.go
  vendor/github.com/containerd/fifo/readme.md
  vendor/github.com/containerd/fifo/utils.go
Owners: none

vendor: github.com/containerd/continuity v0.1.0
  vendor.conf
  vendor/github.com/containerd/continuity/README.md
  vendor/github.com/containerd/continuity/devices/devices_unix.go
  vendor/github.com/containerd/continuity/devices/mknod_freebsd.go
  vendor/github.com/containerd/continuity/devices/mknod_unix.go
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_darwinopenbsdsolaris.go
  vendor/github.com/containerd/continuity/fs/copy_freebsd.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/fs/copy_unix.go
  vendor/github.com/containerd/continuity/fs/du_unix.go
  vendor/github.com/containerd/continuity/go.mod
Owners: none

vendor: github.com/containerd/console v1.0.2
  vendor.conf
  vendor/github.com/containerd/console/README.md
  vendor/github.com/containerd/console/console_unix.go
  vendor/github.com/containerd/console/go.mod
  vendor/github.com/containerd/console/pty_freebsd_cgo.go
  vendor/github.com/containerd/console/pty_freebsd_nocgo.go
  vendor/github.com/containerd/console/pty_unix.go
  vendor/github.com/containerd/console/tc_freebsd_cgo.go
  vendor/github.com/containerd/console/tc_freebsd_nocgo.go
Owners: none

vendor: github.com/containerd/cgroups v1.0.1
  vendor.conf
  vendor/github.com/cilium/ebpf/link/cgroup.go
  vendor/github.com/cilium/ebpf/link/doc.go
  vendor/github.com/cilium/ebpf/link/iter.go
  vendor/github.com/cilium/ebpf/link/kprobe.go
  vendor/github.com/cilium/ebpf/link/link.go
  vendor/github.com/cilium/ebpf/link/netns.go
  vendor/github.com/cilium/ebpf/link/perf_event.go
  vendor/github.com/cilium/ebpf/link/program.go
  vendor/github.com/cilium/ebpf/link/raw_tracepoint.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/link/tracepoint.go
  vendor/github.com/containerd/cgroups/go.mod
  vendor/github.com/containerd/cgroups/net_cls.go
  vendor/github.com/containerd/cgroups/stats/v1/metrics.pb.go
  vendor/github.com/containerd/cgroups/subsystem.go
  vendor/github.com/containerd/cgroups/utils.go
  vendor/github.com/containerd/cgroups/v2/ebpf.go
  vendor/github.com/containerd/cgroups/v2/stats/metrics.pb.go
Owners: none

vendor: github.com/containerd/go-runc v1.0.0 (add version comment)
  vendor.conf
Owners: none

vendor: github.com/containerd/typeurl v1.0.2
  vendor.conf
  vendor/github.com/containerd/typeurl/README.md
  vendor/github.com/containerd/typeurl/go.mod
  vendor/github.com/containerd/typeurl/types.go
Owners: none

vendor: github.com/containerd/ttrpc v1.1.0
  vendor.conf
  vendor/github.com/containerd/ttrpc/README.md
  vendor/github.com/containerd/ttrpc/channel.go
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/containerd/ttrpc/codec.go
  vendor/github.com/containerd/ttrpc/config.go
  vendor/github.com/containerd/ttrpc/go.mod
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/containerd/ttrpc/services.go
  vendor/github.com/containerd/ttrpc/unixcreds_linux.go
Owners: none

pkg/fileutils: move pattern-matching code to separate files
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
  pkg/fileutils/patternmatcher.go
  pkg/fileutils/patternmatcher_test.go
Owners: none

pkg/fileutils: remove uses of gotest.tools
  pkg/fileutils/patternmatcher_test.go
Owners: none

Add support for nftables
  libnetwork/conntrack/conntrack.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/drivers/bridge/errors.go
  libnetwork/drivers/bridge/link.go
  libnetwork/drivers/bridge/link_test.go
  libnetwork/drivers/bridge/setup_firewalld.go
  libnetwork/drivers/bridge/setup_ip_forwarding.go
  libnetwork/drivers/bridge/setup_ip_forwarding_test.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/drivers/bridge/setup_tables.go
  libnetwork/drivers/bridge/setup_tables_test.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/filter.go
  libnetwork/firewall_linux.go
  libnetwork/firewallapi/firewallapi.go
  libnetwork/firewalld/firewalld.go
  libnetwork/firewalld/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
  libnetwork/nftables/conntrack.go
  libnetwork/nftables/nftables.go
  libnetwork/portmapper/mapper_linux.go
  libnetwork/portmapper/mapper_linux_test.go
  libnetwork/resolver_unix.go
  libnetwork/service_linux.go
Owners: none

client: remove wrapResponseError()
  client/checkpoint_list.go
  client/config_inspect.go
  client/config_remove.go
  client/container_copy.go
  client/container_inspect.go
  client/container_logs.go
  client/container_remove.go
  client/container_remove_test.go
  client/errors.go
  client/image_inspect.go
  client/image_remove.go
  client/image_remove_test.go
  client/network_inspect.go
  client/network_inspect_test.go
  client/network_remove.go
  client/node_inspect.go
  client/node_remove.go
  client/plugin_inspect.go
  client/plugin_list.go
  client/plugin_remove.go
  client/secret_inspect.go
  client/secret_remove.go
  client/service_inspect.go
  client/service_remove.go
  client/service_remove_test.go
  client/task_inspect.go
  client/volume_inspect.go
  client/volume_remove.go
  integration-cli/docker_api_containers_test.go
  integration/container/copy_test.go
Owners: none

errdefs: remove dependency on grpc, containerd, and distribution
  api/server/httputils/errors.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
  errdefs/adapter/adapters.go
  errdefs/http_helpers.go
Owners: none

api/server/httputils: remove dependencies as well
  api/server/httputils/errors.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
Owners: none

errdefs: move GetHTTPErrorStatusCode to api/server/httpstatus
  api/server/errorhandler.go
  api/server/httpstatus/status.go
  api/server/httputils/errors_deprecated.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
  errdefs/http_helpers.go
Owners: none

plugin: plumb contexts through
  api/server/router/plugin/backend.go
  api/server/router/plugin/plugin_routes.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/executor/container/executor.go
  plugin/backend_linux.go
  plugin/backend_unsupported.go
  plugin/manager.go
  plugin/manager_linux_test.go
Owners: @cpuguy83

libnetwork/overlay:fix join sandbox deadlock
  libnetwork/drivers/overlay/ov_network.go
Owners: none

client: remove unused Platform field from configWrapper
  client/container_create.go
Owners: none

client: remove containerd "platform" dependency
  client/container_create.go
Owners: none

plugin: plumb contexts through
  api/server/router/plugin/backend.go
  api/server/router/plugin/plugin_routes.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/executor/container/executor.go
  plugin/backend_linux.go
  plugin/backend_unsupported.go
  plugin/manager.go
  plugin/manager_linux_test.go
Owners: @cpuguy83

bridge: also flush conntrack entries when setting up endpoints
  libnetwork/drivers/bridge/bridge.go
Owners: none

debug
  integration-cli/docker_cli_build_test.go
Owners: none

builder: changes needed since buildkit 0.10.0
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/exporter/export.go
  builder/builder-next/worker/worker.go
Owners: @tonistiigi
