Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

client: container ps: don't set "limit" if none was set
  client/container_list.go
  client/container_list_test.go
Owners: none

distribution: use the maximum compatible platform by default
  daemon/create.go
  distribution/pull_v2.go
  distribution/pull_v2_unix.go
  vendor.mod
Owners: none

vendor: github.com/opencontainers/runc v1.1.1
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/modules.txt
Owners: none

update runc binary to v1.1.1
  hack/dockerfile/install/runc.installer
Owners: @tianon

tweak description of login/logout
  docs/reference/commandline/dockerd.md
Owners: none

Makefile: update buildx to v0.8.2
  Makefile
Owners: none

[20.10] vendor: github.com/docker/distribution v2.8.1
  vendor.conf
Owners: none

cmd/dockerd: update --ip6tables description to include "experimental"
  cmd/dockerd/config_unix.go
Owners: none

update runc binary to v1.1.0
  hack/dockerfile/install/runc.installer
Owners: @tianon

update runc binary to v1.1.1
  hack/dockerfile/install/runc.installer
Owners: @tianon

opts: ParseTCPAddr(): fix validation of hosts to not ignore path elements
  opts/hosts.go
  opts/hosts_test.go
Owners: none

daemon/config: fix TestReloadDefaultConfigNotExist if file exists
  daemon/config/config_test.go
Owners: none

daemon/config: Validate(): validate hosts
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

docs/api: update /containers/{id}/wait "condition" parameter (v1.30-v1.41)
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs/api: add missing 400 response for POST /containers/{id}/wait
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs: add missing KernelMemoryTCP to api v1.40 and v1.41
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

daemon: fix error-message for minimum allowed kernel-memory limit
  daemon/daemon_unix.go
Owners: none

api: docs: update docs for /images/{name}/json (API v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: fix warning about comment indentation (API v1.40-v1.41)
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

Correct type of Mounts in ContainerSummary in docs
  docs/api/v1.41.yaml
Owners: none

Correct type of Mounts in ContainerSummary in docs (v1.25-v1.40)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Owners: none

api: docs: remove deprecated RootFS.BaseLayer (API v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Owners: none

api: docs: document MountPoint fields (v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: add IPAMConfig on IPAM (v1.41)
  docs/api/v1.41.yaml
Owners: none

docs: cleanup swagger API with multiple examples (v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

doc: server API Correct ImagesCreate - platform parameter added in 1.32
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/version-history.md
Owners: none

api: docs: move Volume examples inline (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: move VolumeCreateOptions to definitions (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: move ContainerWaitResponse to definitions (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: fix indentation of HostConfig.SecurityOpt (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

Updated AUTHORS and .mailmap files
  .mailmap
  AUTHORS
Owners: none

plugin: plumb contexts through
  api/server/router/plugin/backend.go
  api/server/router/plugin/plugin_routes.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/executor/container/executor.go
  plugin/backend_linux.go
  plugin/backend_unsupported.go
  plugin/manager.go
  plugin/manager_linux_test.go
Owners: @cpuguy83

Yes
  LICENSE
Owners: none

Jenkinsfile: allow all ppc64le / s390x stages through checkbox
  Jenkinsfile
Owners: none

Makefile: install buildx from binary release, instead of building
  Dockerfile.buildx
  Makefile
Owners: none

Makefile: update buildx version to v0.6.0
  Makefile
Owners: none

Makefile: update buildx to v0.8.2
  Makefile
Owners: none

api/server/router/grpc: fix some nits in NewRouter()
  api/server/router/grpc/grpc.go
Owners: none

remove deprecated support for overlay(2) on backing FS without d_type (fstype=1)
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

daemon/graphdriver: remove unused graphdriver.IsInitialized()
  daemon/graphdriver/driver.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
