Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

libnetwork: extract fn for external DNS forwarding
  libnetwork/resolver.go
Owners: none

libnetwork: reply SERVFAIL on resolve error
  libnetwork/resolver.go
  libnetwork/resolver_test.go
Owners: none

libnetwork: refactor ServeDNS for readability
  libnetwork/resolver.go
Owners: none

libnetwork: truncate DNS msgs using library method
  libnetwork/resolver.go
Owners: none

libnetwork: extract dialExtDNS to method
  libnetwork/resolver.go
Owners: none

libnetwork: get rid of truncation red herring
  libnetwork/resolver.go
Owners: none

libnetwork: extract DNS client exchange to method
  libnetwork/resolver.go
Owners: none

libnetwork: reply SERVFAIL if DNS forwarding fails
  libnetwork/resolver.go
  libnetwork/resolver_test.go
Owners: none

libnetwork: use dns.Client for forwarded requests
  libnetwork/resolver.go
Owners: none

libnetwork: replace ad-hoc semaphore implementation
  libnetwork/resolver.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/modules.txt
Owners: none

libnetwork: fail loudly on resolver iptables setup
  libnetwork/resolver_unix.go
Owners: none

libnetwork: devirtualize Resolver type
  libnetwork/network.go
  libnetwork/resolver.go
  libnetwork/resolver_test.go
  libnetwork/resolver_unix.go
  libnetwork/resolver_windows.go
  libnetwork/sandbox.go
Owners: none

libnetwork: forward unknown PTR queries externally
  libnetwork/resolver.go
Owners: none

libnetwork/networkdb: make go test -race ./libnetwork/networkdb pass
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnet/networkdb: use atomics for stats counters
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/networkdb/networkdbdiagnostic.go
Owners: none

update to go1.19.6
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[23.0] update containerd binary to v1.6.18
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.7.0-beta.4
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

dependency: bump go.etcd.io/bbolt to v1.3.7
  vendor.mod
  vendor.sum
  vendor/go.etcd.io/bbolt/.gitignore
  vendor/go.etcd.io/bbolt/.travis.yml
  vendor/go.etcd.io/bbolt/Makefile
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_loong64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_unix_aix.go
  vendor/go.etcd.io/bbolt/bolt_windows.go
  vendor/go.etcd.io/bbolt/boltsync_unix.go
  vendor/go.etcd.io/bbolt/bucket.go
  vendor/go.etcd.io/bbolt/compact.go
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/doc.go
  vendor/go.etcd.io/bbolt/errors.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/mlock_unix.go
  vendor/go.etcd.io/bbolt/mlock_windows.go
  vendor/go.etcd.io/bbolt/node.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/go.etcd.io/bbolt/tx_check.go
  vendor/modules.txt
Owners: none

daemon: allow shimv2 runtimes to be configured
  api/types/types.go
  daemon/container_unix_test.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/runtime_unix.go
  daemon/runtime_unix_test.go
  daemon/runtime_windows.go
  daemon/start_unix.go
  libcontainerd/shimopts/convert.go
  plugin/executor/containerd/containerd.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/api.pb.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/api.proto
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/doc.go
  vendor/modules.txt
Owners: @cpuguy83

vendor: github.com/containerd/containerd v1.6.18
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/api/services/content/v1/content.pb.go
  vendor/github.com/containerd/containerd/images/archive/importer.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

Revert "apparmor: Check if apparmor_parser is available"
  daemon/apparmor_default.go
Owners: none

vendor: github.com/moby/buildkit v0.11.3
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/metadata.go
  vendor/github.com/moby/buildkit/exporter/containerimage/attestations.go
  vendor/github.com/moby/buildkit/exporter/util/epoch/parse.go
  vendor/github.com/moby/buildkit/frontend/attestations/sbom/sbom.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/solver/llbsolver/mounts/mount.go
  vendor/github.com/moby/buildkit/util/gitutil/git_ref.go
  vendor/modules.txt
Owners: none

chore: use http constants to replace numbers
  api/server/httputils/httputils_test.go
Owners: none

c8d/pull: Add CRI-compatible annotation of pulled content
  daemon/containerd/image_pull.go
  vendor/github.com/containerd/containerd/pkg/snapshotters/annotations.go
  vendor/modules.txt
Owners: none

Upgrade containerd/fifo to v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/fifo/.golangci.yml
  vendor/github.com/containerd/fifo/fifo.go
  vendor/github.com/containerd/fifo/handle_linux.go
  vendor/github.com/containerd/fifo/handle_nolinux.go
  vendor/github.com/containerd/fifo/raw.go
  vendor/modules.txt
Owners: none

Close DecompressStream after layer is downloaded
  distribution/xfer/download.go
Owners: none

docs/api: add v1.43 OpenAPI definitions
  docs/api/v1.43.yaml
Owners: none

Add the design PR process image
  docs/contributing/images/example_process.png
Owners: none

Add the advanced-contributing page
  docs/contributing/advanced-contributing.md
Owners: none

Fix an old link in the contribution docs
  docs/contributing/software-required.md
Owners: none

Fix broken links on CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Align contribution docs with header format
  docs/contributing/README.md
  docs/contributing/debug.md
  docs/contributing/set-up-dev-env.md
  docs/contributing/set-up-git.md
  docs/contributing/set-up-ide.md
  docs/contributing/software-req-win.md
  docs/contributing/test.md
  docs/contributing/who-written-for.md
Owners: none

fix contributing docs
  CONTRIBUTING.md
  docs/contributing/advanced-contributing.md
  docs/static_files/contribute.png
  docs/static_files/contributors.png
Owners: none

fix docker inspect doesn't contain init field
  daemon/inspect.go
Owners: none

correct the condition based on the previous commit as the current one allows any network on cloud to ping without adhering to any security protocols
  daemon/oci_linux.go
  daemon/oci_linux_test.go
Owners: none

AUTHORS: regenerate
  AUTHORS
Owners: none

c8d/tag: Don't create a separate error variable
  daemon/containerd/image_tag.go
Owners: none

vendor: golang.org/x/sys v0.5.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/cpu/cpu_gccgo_x86.c
  vendor/golang.org/x/sys/cpu/endian_big.go
  vendor/golang.org/x/sys/cpu/endian_little.go
  vendor/golang.org/x/sys/unix/gccgo_c.c
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/timestruct.go
  vendor/golang.org/x/sys/unix/xattr_bsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/svc/debug/service.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/text v0.7.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
