Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

docs: api: synchronise versioned API docs (v1.42)
  docs/api/v1.42.yaml
Owners: none

docs: api: synchronise versioned API docs (v1.39 - v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs: add 401 to possible status codes of /auth
  api/swagger.yaml
Owners: none

api: docs: add errorDetail to CreateImageInfo (v1.42)
  docs/api/v1.42.yaml
Owners: none

api: swagger: add errorDetail to CreateImageInfo
  api/swagger.yaml
Owners: none

docs: api: synchronise versioned API docs (v1.39 - v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs: api: synchronise versioned API docs (v1.42)
  docs/api/v1.42.yaml
Owners: none

registry: move v1 endpoint tests to endpoint_test.go
  registry/endpoint_test.go
  registry/registry_test.go
Owners: none

registry: remove Service interface
  daemon/daemon.go
  daemon/images/service.go
  daemon/search/service.go
  distribution/config.go
  registry/registry_test.go
  registry/service.go
  registry/service_v2.go
Owners: none

registry: move search-related code to separate files
  registry/auth.go
  registry/config.go
  registry/registry_test.go
  registry/search.go
  registry/search_endpoint_v1.go
  registry/search_endpoint_v1_test.go
  registry/search_service.go
  registry/search_session.go
  registry/search_test.go
  registry/service.go
Owners: none

registry: rename v1-endpoint tests to have a common prefix
  registry/endpoint_test.go
Owners: none

daemon: split image search to a separate service
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  api/types/registry/registry.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/search/errors.go
  daemon/search/service.go
  daemon/search/service_test.go
  registry/search_service.go
  registry/service.go
Owners: none

hack/make.sh: minor correctness improvements
  hack/make.sh
Owners: @tianon

hack: move integration test pid/socket out of tree
  hack/make.sh
  hack/make/.integration-daemon-start
  hack/make/.integration-daemon-stop
Owners: @tianon

plugins: Move GlobalSpecPaths into LocalRegistry
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_unix_test.go
  pkg/plugins/discovery_windows.go
  pkg/plugins/plugin_test.go
  pkg/plugins/plugins.go
  plugin/store.go
Owners: @cpuguy83

daemon/config: clean up tests to use common helper
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows_test.go
Owners: none

cmd/dockerd: use default SIGQUIT behaviour
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
Owners: none

CONTRIBUTING.md: drop reference to the Derek GitHub bot
  CONTRIBUTING.md
Owners: none

daemon/config: support alternate (common) unicode encodings using a BOM
  daemon/config/config.go
  daemon/config/config_test.go
  vendor.mod
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/modules.txt
Owners: none

update to go1.19.5
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to go1.19.5
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update to go1.18.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

daemon/config: inform the user when the input JSON contains invalid UTF-8
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

vendor: github.com/docker/libnetwork 374259e8316124ccf1fc38c0c0f3430f8d0e9c76
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/iptables/iptables.go
Owners: @tianon

daemon/import: Extract common logic to api
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/image_service.go
  daemon/images/image_import.go
Owners: none

api/import: Guard from Digested instead of Canonical reference
  api/server/router/image/image_routes.go
Owners: none

daemon/c8d: Implement import
  daemon/containerd/image_import.go
Owners: none

image/import: Make tag failure not a critical error
  api/server/router/image/image_routes.go
  daemon/images/image_import.go
Owners: none

api/import: Don't set default comment
  api/server/router/image/image_routes.go
Owners: none

daemon/config: inform the user when the configuration is not valid UTF-8
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

libnetwork: Remove iptables nat rule when hairpin is disabled
  libnetwork/drivers/bridge/setup_ip_tables.go
Owners: none

produce progress events polling ctrd's content.Store
  daemon/containerd/image_pull.go
  daemon/containerd/progress.go
  daemon/containerd/resolver.go
Owners: none

c8d/pull: Don't unpack manually
  daemon/containerd/image_pull.go
Owners: none

c8d/resolver: Fallback to http for insecure registries
  daemon/containerd/resolver.go
  daemon/containerd/service.go
  daemon/daemon.go
  registry/service.go
Owners: none

c8d/resolver: Use hosts from daemon configuration
  daemon/containerd/image_pull.go
  daemon/containerd/resolver.go
  daemon/containerd/service.go
  daemon/daemon.go
Owners: none

libnetwork: Clean up sysfs-based operations
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/sandbox_linux_test.go
Owners: none

libnetwork: create netns without reexec
  libnetwork/osl/namespace_linux.go
Owners: none

libnetwork: set IPv6 without reexec
  libnetwork/osl/namespace_linux.go
Owners: none

libnetwork: set default VLAN without reexec
  libnetwork/drivers/overlay/ov_network.go
Owners: none

libnetwork: addRedirectRules without reexec
  libnetwork/service_linux.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
