Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

volumes: fix error-handling when removing volumes with swarm enabled
  api/server/router/volume/volume_routes.go
  daemon/cluster/volumes.go
  integration/volume/volume_test.go
Owners: none

contrib/dockerize-disk.sh: Fix indentation
  contrib/dockerize-disk.sh
Owners: none

Dockerfile: Update shfmt to 3.6.0
  Dockerfile
Owners: none

Common WorkingDirectory
  libcontainerd/local/local_windows.go
Owners: none

Inline setCommandLineAndArgs
  libcontainerd/local/local_windows.go
Owners: none

Common ConsoleSize and EmulateConsole
  libcontainerd/local/local_windows.go
Owners: none

Move User
  libcontainerd/local/local_windows.go
Owners: none

libcontainer/windows: Fix process not being killed after stdio attach failure
  libcontainerd/local/local_windows.go
Owners: none

Common CreateStdErrPipe
  libcontainerd/local/local_windows.go
Owners: none

integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Owners: none

Common User
  libcontainerd/local/local_windows.go
Owners: none

Common Environment
  libcontainerd/local/local_windows.go
Owners: none

libcontainerd/windows: Extract createProcessConfig
  libcontainerd/local/local_windows.go
Owners: none

libcontainerd/windows: Common process creation
  libcontainerd/local/local_windows.go
Owners: none

windows/Start: Get pid from newProcess
  libcontainerd/local/local_windows.go
Owners: none

libcontainerd/windows: Don't reap on failure
  libcontainerd/local/local_windows.go
Owners: none

Fix pruning anon volume created from image config
  daemon/create_unix.go
  daemon/create_windows.go
  integration/internal/build/build.go
  integration/internal/container/container.go
  integration/volume/volume_test.go
Owners: none

ci: enable BuildKit tests with containerd integration worker
  .github/workflows/buildkit.yml
Owners: none

integration/volume: fix duplicate import
  integration/volume/volume_test.go
Owners: none

integration/plugin: fix duplicate import
  integration/plugin/common/plugin_test.go
Owners: none

libcontainerd/windows: Extract createProcessWithStdio
  libcontainerd/local/local_windows.go
Owners: none

enable tests
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/test_vars_test.go
Owners: none

ci: test buildkit features compat
  .github/workflows/buildkit.yml
Owners: none

libnetwork/i/setmatrix: un-embed the mutex
  libnetwork/internal/setmatrix/setmatrix.go
Owners: none

daemon/graphdriver/windows: InitFilter() don't use idtools.MkdirAllAndChown()
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

daemon/graphdriver/windows: rename vars that collided with imports
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

daemon/graphdriver/windows: remove fileFlagSequentialScan const
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

daemon/graphdriver/windows: cleanup errors
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

daemon/graphdriver/windows: use strings.EqualFold()
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

daemon/graphdriver/windows: remove some intermediate variables
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

libnetwork/i/setmatrix: devirtualize
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/network.go
  libnetwork/service.go
Owners: none

libnetwork/d/overlay: handle peer ops directly
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
Owners: none

Revert "libcontainerd/windows: Extract createProcessWithStdio"
  libcontainerd/local/local_windows.go
Owners: none

builder-next: disable mergeop and diffop
  .github/workflows/buildkit.yml
  builder/builder-next/controller.go
Owners: @tonistiigi

pkg/sysinfo: move MemInfo and ReadMemInfo to a separate package
  daemon/info.go
  daemon/stats_collector.go
  pkg/meminfo/meminfo.go
  pkg/meminfo/meminfo_linux.go
  pkg/meminfo/meminfo_unix_test.go
  pkg/meminfo/meminfo_unsupported.go
  pkg/meminfo/meminfo_windows.go
  pkg/system/meminfo_deprecated.go
Owners: none

api/types/container: put "valid" field as first check in tests
  api/types/container/hostconfig_unix_test.go
Owners: none

api/types/container: fix .Container() returning a name, when it shouldn't
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix_test.go
Owners: none

api/types/container: IpcMode: use common function for container-mode
  api/types/container/hostconfig.go
Owners: none

api/types/container: PidMode: fix validation for empty container name/ID
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix_test.go
Owners: none

libnet/d/overlay: document some encryption code
  libnetwork/drivers/overlay/encryption.go
Owners: none
