Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

distribution: remove Puller interface, remove redundant V1 checks
  distribution/pull.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/pull_v2_unix.go
  distribution/pull_v2_windows.go
  distribution/registry_unit_test.go
Owners: none

distribution: remove Pusher interface, NewPusher(), and redundant V1 checks
  distribution/push.go
  distribution/push_v2.go
  distribution/push_v2_test.go
Owners: none

distribution: remove RootFSFromConfig(), PlatformFromConfig() from ImageConfigStore
  distribution/config.go
  distribution/pull_v2.go
  distribution/push_v2.go
Owners: none

distribution: add GetRepository(), un-export NewV2Repository, ValidateRepoName
  daemon/images/image_pull.go
  distribution/pull.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/push_v2.go
  distribution/registry.go
  distribution/registry_unit_test.go
  distribution/repository.go
Owners: none

distribution: move newPusher() and newPuller() together with definition
  distribution/pull.go
  distribution/pull_v2.go
  distribution/push.go
  distribution/push_v2.go
Owners: none

test: use `T.Setenv` to set env vars in tests
  client/client_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/splunk/splunk_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_logout_test.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_run_unix_test.go
  pkg/archive/archive_test.go
  pkg/jsonmessage/jsonmessage_test.go
Owners: @samuelkarp

daemon: daemon.networkOptions(): don't pass Config as argument
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/reload_test.go
Owners: none

api/server: remove "Logging" from config
  api/server/middleware.go
  api/server/server.go
  cmd/dockerd/daemon.go
Owners: none

rootless: remove redundant sync.Once
  rootless/rootless.go
Owners: none

cmd/dockerd: don't call registry.SetCertsDir() twice
  cmd/dockerd/config_unix.go
Owners: none

Added Delve debugger to the development container (including instructions in the contribution guide).
  Dockerfile
  Makefile
  contrib/dockerd-rootless.sh
  docs/contributing/README.md
  docs/contributing/debug.md
  docs/contributing/images/goland_add_config.png
  docs/contributing/images/goland_debug_config.png
  docs/contributing/images/goland_run_debug_config.png
  docs/contributing/test.md
  hack/make/run
Owners: @tianon

Extended contribution guide with how to enable GoLand IDE syntax highlighting and code completion in Moby project
  docs/contributing/README.md
  docs/contributing/images/ide_custom_gopath.png
  docs/contributing/images/ide_go_modules_integration.png
  docs/contributing/images/ide_system_environment_gopath.png
  docs/contributing/set-up-ide.md
  docs/contributing/software-req-win.md
  docs/contributing/software-required.md
Owners: none

daemon/config: Validate(): validate log-level
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

cmd/dockerd: un-export config methods, and don't pass flags "twice"
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/options.go
  cmd/dockerd/options_test.go
Owners: none

cmd/dockerd: loadDaemonCliConfig(): minor cleanup
  cmd/dockerd/daemon.go
Owners: none

cmd/dockerd: normalize hosts when loading config
  cmd/dockerd/daemon.go
Owners: none

cmd/dockerd: change newAPIServerConfig() to only receive config.Config
  cmd/dockerd/daemon.go
Owners: none

cmd/dockerd: validate API configuration as part of --validate
  cmd/dockerd/daemon.go
Owners: none

chore: fix linguist for Dockerfile
  .gitattributes
Owners: none

update containerd binary to v1.6.3
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

cmd/dockerd: move storage-driver flag to unix-only file
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
Owners: none

cmd/dockerd: installCommonConfigFlags() re-group some flags
  cmd/dockerd/config.go
Owners: none

cmd/dockerd: remove some intermediate variables
  cmd/dockerd/config.go
Owners: none

cmd/dockerd: combine installRegistryServiceFlags with installCommonConfigFlags
  cmd/dockerd/config.go
Owners: none

cmd/dockerd: combine installUnixConfigFlags with installConfigFlags
  cmd/dockerd/config_common_unix.go
  cmd/dockerd/config_unix.go
Owners: none

cmd/dockerd: remove config_common_unix.go
  cmd/dockerd/config_common_unix.go
  cmd/dockerd/config_unix.go
Owners: none

cmd/dockerd: use flags.IPVar() instead of custom type
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
Owners: none

opts: remove IPOpt as it's no longer used
  opts/ip.go
  opts/ip_test.go
Owners: none

sync workflow + mapi afterwards
  .github/workflows/mapi.yml
  .github/workflows/sync.yml
Owners: none

update runc binary to v1.1.0
  hack/dockerfile/install/runc.installer
Owners: @tianon

update runc binary to v1.1.1
  hack/dockerfile/install/runc.installer
Owners: @tianon

Revert "[20.10] update containerd binary to 1.5.11"
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.1
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.2
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.3
  hack/dockerfile/install/containerd.installer
Owners: @tianon

configure stale bot
  .github/stale.yml
Owners: none

daemon/config: Reload(): normalize labels before validation
  daemon/config/config.go
Owners: none

daemon/config: MergeDaemonConfigurations() don't validate intermediates
  daemon/config/config.go
Owners: none

daemon/config: Reload(): add TODO for config reload logic
  daemon/config/config.go
Owners: none

daemon: reloadMaxDownloadAttempts() remove validation
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/reload.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
