Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Remove reference to "requireRegistryMatch"
  distribution/push_v2.go
Owners: none

hack/make: Don't add -buildmode=pie with -race
  hack/make/.binary
Owners: @tianon

hack: restore copy_binaries func
  hack/make/binary-daemon
Owners: @tianon

graphdriver/btrfs: drop version information
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/version.go
  daemon/graphdriver/btrfs/version_test.go
Owners: none

graphdriver/btrfs: use kernel UAPI headers
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

graphdriver/btrfs: use free wrapper consistently
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

PACKAGERS: update Btrfs graphdriver dependencies
  project/PACKAGERS.md
Owners: @thaJeztah

Dockerfile.*: drop libbtrfs
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
Owners: none

graphdriver/btrfs: needs kernel headers >= 4.12, not >= 4.7
  daemon/graphdriver/btrfs/btrfs.go
  project/PACKAGERS.md
Owners: @thaJeztah

integration-cli: Fix hanging TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Owners: none

integration-cli: Fix hanging TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Owners: none

[23.0] update containerd binary to v1.6.15
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[20.10] update containerd binary to v1.6.15
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.6.15
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.15
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

rootless: move ./rootless to ./pkg/rootless
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon.go
  cmd/dockerd/docker.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/oci_linux.go
  libnetwork/iptables/iptables.go
  pkg/plugins/discovery_unix.go
  pkg/rootless/rootless.go
  pkg/rootless/specconv/specconv_linux.go
Owners: none

Use user paths for plugin discovery in rootless mode
  pkg/homedir/homedir_linux.go
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_windows.go
Owners: none

libnetwork: Support IPv6 in arrangeUserFilterRule()
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Owners: none

Remove the registry.Service interface and use the struct
  daemon/daemon.go
  daemon/images/service.go
  distribution/config.go
  registry/registry_test.go
  registry/service.go
  registry/service_v2.go
Owners: none

Adjust "docker pull" for images that already exist to update blob mount possibilities
  distribution/pull_v2.go
Owners: none

daemon/config: ignore UTF-8 BOM in config JSON
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

daemon/config: group JSON preprocessing steps
  daemon/config/config.go
Owners: none

ci: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Owners: none

libnetwork: improve logs for DNS failures
  libnetwork/resolver.go
Owners: none

daemon/graphdriver: use strconv instead of fmt.Sprintf
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/zfs/zfs.go
Owners: none

graphdriver/btrfs: use free wrapper consistently
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

graphdriver/btrfs: use kernel UAPI headers
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

graphdriver/btrfs: drop version information
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/version.go
  daemon/graphdriver/btrfs/version_test.go
Owners: none

PACKAGERS: update Btrfs graphdriver dependencies
  project/PACKAGERS.md
Owners: @thaJeztah

Dockerfile.*: drop libbtrfs
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
Owners: none

graphdriver/btrfs: needs kernel headers >= 4.12, not >= 4.7
  daemon/graphdriver/btrfs/btrfs.go
  project/PACKAGERS.md
Owners: @thaJeztah

daemon/config: group JSON preprocessing steps
  daemon/config/config.go
Owners: none

daemon/config: ignore UTF-8 BOM in config JSON
  daemon/config/config.go
  daemon/config/config_test.go
Owners: none

daemon/config: New(): initialize config with platform-specific defaults
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_unix_test.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/docker.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows.go
  daemon/config/config_windows_test.go
  daemon/runtime_unix_test.go
Owners: none

Use user paths for plugin discovery in rootless mode
  pkg/homedir/homedir_linux.go
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_windows.go
Owners: none

rootless: move ./rootless to ./pkg/rootless
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon.go
  cmd/dockerd/docker.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/oci_linux.go
  libnetwork/iptables/iptables.go
  pkg/plugins/discovery_unix.go
  pkg/rootless/rootless.go
  pkg/rootless/specconv/specconv_linux.go
Owners: none

ci: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Owners: none

api: add "Listeners" field to /info, to help discover how the API is exposed
  api/swagger.yaml
  api/types/system/system.go
  api/types/types.go
  daemon/info.go
  docs/api/version-history.md
  integration/system/info_test.go
Owners: none

libnetwork: use example.com for tests and examples
  libnetwork/README.md
  libnetwork/cmd/readme_test/readme.go
  libnetwork/controller.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
Owners: none

builder/dockerfile: use example.com for tests
  builder/dockerfile/evaluator_test.go
Owners: @tonistiigi

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
