Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

graphdriver/overlayutils: use dependency injection to pass logger
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlayutils/overlayutils.go
  daemon/graphdriver/overlayutils/randomid.go
  daemon/graphdriver/overlayutils/userxattr.go
Owners: @dmcgowan

overlay2: factor checks out into overlayutils
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlayutils/indexoff.go
  daemon/graphdriver/overlayutils/metacopy.go
  daemon/graphdriver/overlayutils/nativediff.go
  daemon/graphdriver/overlayutils/overlayutils.go
Owners: @dmcgowan

overlay,overlay2,fuse-overlayfs: standardize on use of filepath over path
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlayutils/metacopy.go
  daemon/graphdriver/overlayutils/nativediff.go
  daemon/graphdriver/overlayutils/overlayutils.go
Owners: @dmcgowan

graphdriver/overlayutils: factor out common mount-testing code, use filepath over path
  daemon/graphdriver/overlayutils/metacopy.go
  daemon/graphdriver/overlayutils/nativediff.go
  daemon/graphdriver/overlayutils/overlayutils.go
  daemon/graphdriver/overlayutils/testmount.go
  daemon/graphdriver/overlayutils/userxattr.go
Owners: none

update golang to 1.18.3
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update golang to 1.17.11
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

AdditionalGids must include effective group ID
  daemon/oci_linux.go
Owners: none

ci: add concurrency check
  .github/workflows/ci.yml
  .github/workflows/windows.yml
Owners: none

fix flaky TestRunContainerWithRmFlag tests
  integration-cli/docker_cli_run_test.go
Owners: none

distribution: match manifest list resolution with containerd
  distribution/pull_v2.go
  distribution/pull_v2_unix.go
Owners: none

vendor: libnetwork f6ccccb1c082a432c2a5814aaedaca56af33d9ea
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/osl/namespace_linux.go
  vendor/github.com/docker/libnetwork/service_linux.go
Owners: @tianon

Revert "Added API to set ephemeral port allocator range."
  libnetwork/config/config.go
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_test.go
  libnetwork/portallocator/portallocator_unix.go
  libnetwork/portallocator/portallocator_windows.go
Owners: none

libnetwork/portallocator: un-export consts for defaults
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_unix.go
  libnetwork/portallocator/portallocator_windows.go
Owners: none

volume/local: add test for validation
  volume/local/local_linux_test.go
Owners: none

volume/local: localVolume.mount() move errors.Wrap()
  volume/local/local_unix.go
Owners: none

volume/local.New(): don't register volume before we're done
  volume/local/local.go
Owners: none

volume/local: make setOpts() a method of localVolume
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

volume/local.Create(): validate early
  volume/local/local.go
  volume/local/local_linux_test.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

volume/local: make "validateOpts()" a method on Root
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

volume/local: store both volume's "data" and "root" path
  volume/local/local.go
Owners: none

volume/local: extract saving options to a separate method
  volume/local/local.go
  volume/local/local_unix.go
Owners: none

volume/local.New() always unmount existing mounts
  volume/local/local.go
Owners: none

volume/local.New(): extract loading options to a function
  volume/local/local.go
Owners: none

Check ipt options before looking for ip6t
  libnetwork/iptables/iptables.go
Owners: none

Port pkg/system/mknod.go to FreeBSD
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_linux.go
Owners: none

system: unbreak build for darwin
  pkg/system/mknod_unix.go
Owners: none

update AUTHORS and mailmap
  .mailmap
  AUTHORS
Owners: none

Port pkg/system/mknod.go to FreeBSD
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_linux.go
Owners: none

system: unbreak build for darwin
  pkg/system/mknod_unix.go
Owners: none

Fix alphabetisation of possible names
  pkg/namesgenerator/names-generator.go
Owners: none

daemon.NewDaemon(): fix network feature detection on first start
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
Owners: none

update containerd binary to v1.6.5
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.5
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.6.5
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/services/server/config/config.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

daemon: remove support for deprecated io.containerd.runtime.v1.linux
  daemon/config/config.go
  daemon/daemon_unix.go
  daemon/info.go
  daemon/runtime_unix.go
Owners: none

hack: stop installing containerd-shim (io.containerd.runtime.v1.linux)
  hack/dockerfile/install/containerd.installer
  hack/make/binary-daemon
  hack/make/install-binary
Owners: @tianon

libcontainerd: remove support for runtime v1 API
  libcontainerd/remote/client.go
Owners: none

hack: remove error_on_leaked_containerd_shims
  hack/make/.integration-test-helpers
  hack/make/test-integration
Owners: @tianon

update containerd binary to v1.6.6
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.6.6
  hack/dockerfile/install/containerd.installer
Owners: @tianon
