Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Fixes #41871: Update daemon/daemon.go: resume healthcheck on restore
  daemon/daemon.go
  integration/container/restart_test.go
Owners: none

Update containerd binary to v1.5.7
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

registry: remove tlsConfigForMirror()
  registry/service.go
  registry/service_v2.go
Owners: none

Update Go to 1.17.3
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

libnetwork: ServeDNS(): don't panic on unsupported query types
  libnetwork/resolver.go
Owners: none

oci/caps: limit available capabilities to current environment
  oci/caps/utils.go
  oci/caps/utils_linux.go
  oci/caps/utils_other.go
  vendor.conf
  vendor/github.com/syndtr/gocapability/LICENSE
  vendor/github.com/syndtr/gocapability/capability/capability.go
  vendor/github.com/syndtr/gocapability/capability/capability_linux.go
  vendor/github.com/syndtr/gocapability/capability/capability_noop.go
  vendor/github.com/syndtr/gocapability/capability/enum.go
  vendor/github.com/syndtr/gocapability/capability/enum_gen.go
  vendor/github.com/syndtr/gocapability/capability/syscall_linux.go
Owners: none

log error message when receiving an unexpected type error
  errdefs/http_helpers.go
Owners: none

integration: skip TestDaemonProxy on rootless CI
  integration/daemon/daemon_test.go
Owners: none

registry: remove unused ToV1Endpoint()
  registry/service.go
Owners: none

vendor: Update go-winio to v0.5.1
  vendor.conf
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_64.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Owners: none

integration/daemon: use "windows" to skip tests
  integration/daemon/daemon_test.go
Owners: none

Revert "Dockerfile: CRIU: disable GPG validation, due to expired signing key"
  Dockerfile
Owners: none

Dockerfile.windows: update containerd binary to v1.5.8
  Dockerfile.windows
Owners: none

fix image spec JSON example
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
Owners: none

chrootarchive: don't create parent dirs outside of chroot
  pkg/chrootarchive/archive.go
Owners: none

distribution: do not retry unsupported layer media types
  distribution/push_v2.go
Owners: none

registry: inline newV1Endpoint() into newV1EndpointFromStr()
  registry/endpoint_v1.go
Owners: none

client: use subtests for TestNetworkInspect
  client/network_inspect_test.go
Owners: none

registry: remove use of iota for consts
  registry/types.go
Owners: none

integration-cli: remove manifest v2 schema 1 push tests
  integration-cli/docker_cli_push_test.go
Owners: none

bump up rootlesskit from v0.14.4 to v0.14.6
  hack/dockerfile/install/rootlesskit.installer
Owners: @tianon

testutil/daemon: ReadLogFile() trigger os.Sync() before reading
  testutil/daemon/daemon.go
Owners: none

Update Go to 1.17.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

buildkit: normalize build target and local platform
  builder/builder-next/adapters/containerimage/pull.go
Owners: @tonistiigi

libnetwork: improve consistency in log messages
  libnetwork/resolver.go
Owners: none

vendor: github.com/opencontainers/selinux v1.9.1
  vendor.conf
  vendor/github.com/bits-and-blooms/bitset/LICENSE
  vendor/github.com/bits-and-blooms/bitset/README.md
  vendor/github.com/bits-and-blooms/bitset/bitset.go
  vendor/github.com/bits-and-blooms/bitset/go.mod
  vendor/github.com/bits-and-blooms/bitset/popcnt.go
  vendor/github.com/bits-and-blooms/bitset/popcnt_19.go
  vendor/github.com/bits-and-blooms/bitset/popcnt_amd64.go
  vendor/github.com/bits-and-blooms/bitset/popcnt_amd64.s
  vendor/github.com/bits-and-blooms/bitset/popcnt_generic.go
  vendor/github.com/bits-and-blooms/bitset/trailing_zeros_18.go
  vendor/github.com/bits-and-blooms/bitset/trailing_zeros_19.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/go.mod
  vendor/github.com/opencontainers/selinux/pkg/pwalk/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
Owners: none

Dockerfile: switch CRIU install to Debian 11 "bullseye" packages
  Dockerfile
Owners: none

TestConntrackFlowsLeak: use busybox "nc"
  integration-cli/docker_cli_network_unix_test.go
Owners: none

Fixed docker.internal.gateway not displaying properly on live restore
  daemon/daemon_unix.go
Owners: none

info: unset cgroup-related fields when CgroupDriver == none
  daemon/info_unix.go
Owners: none

registry: EndPointV1.Ping() remove redundant "Standalone" and cleanup logs
  registry/endpoint_v1.go
Owners: none

Fix race in TestCreateServiceSecretFileMode, TestCreateServiceConfigFileMode
  integration/service/create_test.go
Owners: none

Port testutil/daemon to FreeBSD
  testutil/daemon/daemon_freebsd.go
  testutil/daemon/daemon_linux.go
  testutil/daemon/daemon_unix.go
Owners: none

Update containerd binary to v1.5.6
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Fix windows rxReservedNames
  volume/mounts/windows_parser.go
  volume/mounts/windows_parser_test.go
Owners: none

vendor: github.com/opencontainers/image-spec v1.0.2
  integration/plugin/common/plugin_test.go
  vendor.conf
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
Owners: none

vendor: github.com/containerd/containerd v1.5.8
  vendor.conf
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/images/image.go
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/remotes/docker/httpreadseeker.go
  vendor/github.com/containerd/containerd/remotes/docker/schema1/converter.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

testing: skip TestBuildWCOWSandboxSize for now
  integration/build/build_test.go
Owners: none

Jenkinsfile: update check-config script to latest version
  Jenkinsfile
Owners: none

daemon: move maskCredentials to config package
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/info.go
  daemon/info_test.go
Owners: none
