Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

vendor: github.com/containerd/containerd v1.6.6
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

codecov: disable "patch" status
  codecov.yml
Owners: none

Fixed clashing embedded DNS with `systemd-resolved`.
  libnetwork/sandbox_dns_unix.go
Owners: none

daemon: LogDaemonEventWithAttributes: don't call SystemInfo()
  daemon/events.go
  daemon/reload.go
Owners: none

More universal solution.
  libnetwork/sandbox_dns_unix.go
Owners: none

update runc binary to v1.1.3
  hack/dockerfile/install/runc.installer
Owners: @tianon

Correctly detect kernel's compiled-in swap support
  daemon/daemon_unix_test.go
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/cgroup2_linux_test.go
  pkg/sysinfo/testdata/proc/self/mock_root_cgroup
  pkg/sysinfo/testdata/proc/self/mock_sub_cgroup
  pkg/sysinfo/testdata/proc/swaps
  pkg/sysinfo/testdata/proc/sys/vm/swappiness
  pkg/sysinfo/testdata/sbin/swapon
  pkg/sysinfo/testdata/sys/fs/cgroup/desystemded/memory.swap.max
Owners: none

test: Add tests for logging
  daemon/logger/loggertest/logreader.go
  integration/container/logs_test.go
  integration/internal/termtest/stripansi.go
  integration/internal/termtest/stripansi_test.go
Owners: none

Dockerfile: DRY the cross-build architecture list
  Dockerfile
Owners: none

Dockerfile: add crun to dev image
  Dockerfile
  hack/dockerfile/etc/docker/daemon.json
Owners: @tianon

prefer containerd's WithUser
  daemon/oci_linux.go
Owners: none

introduce WithAdditionalGroups to manage --group-add flag
  daemon/oci_linux.go
Owners: none

validation: temporarily allows changes in integration-cli
  hack/validate/default
Owners: @tianon

ci(integration-cli): dynamically split tests in matrix
  .github/workflows/windows.yml
  Dockerfile.e2e
  docs/contributing/test.md
  hack/make/.integration-test-helpers
Owners: @tianon

ci(windows): test report summary output
  .github/workflows/windows.yml
Owners: none

ci(integration-cli): move integration-cli run to make script
  .github/workflows/windows.yml
  hack/make.ps1
Owners: @tianon

Prevent data race in version negotiation
  client/client.go
  client/container_list.go
  client/errors.go
  client/events.go
  client/image_list.go
  client/network_list.go
  client/plugin_list.go
  client/request.go
  client/service_create.go
  client/service_update.go
  client/volume_list.go
  client/volume_remove.go
Owners: none

volumes/service: NewStore: add more context to error
  volume/service/store.go
Owners: none

layer: layerstore.Cleanup(): improve some logging
  layer/layer_store.go
Owners: none

fix flaky TestRunContainerWithRmFlag tests (take 2)
  integration-cli/docker_cli_run_test.go
Owners: none

Move the inspect code away from the image service
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  cmd/dockerd/daemon.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/daemon.go
  daemon/images/image_inspect.go
Owners: none

introduce Containerd-snapshotter feature flag
  daemon/daemon.go
  daemon/oci_linux.go
Owners: none

Add new people to the curators list
  MAINTAINERS
Owners: none

container/exec: Support ConsoleSize
  api/server/router/container/backend.go
  api/server/router/container/exec.go
  api/swagger.yaml
  api/types/configs.go
  api/types/container/config.go
  api/types/types.go
  client/container_exec.go
  daemon/exec.go
  daemon/exec/exec.go
  daemon/health.go
  docs/api/version-history.md
  integration/container/exec_linux_test.go
  integration/container/run_linux_test.go
  integration/internal/container/exec.go
Owners: none

build: force unlazy of refs by calling extract
  builder/builder-next/exporter/export.go
  builder/builder-next/worker/worker.go
Owners: @tonistiigi

daemon: let shim binary of runtime configurable
  api/swagger.yaml
  api/types/types.go
  docs/api/version-history.md
Owners: none

vendor: github.com/moby/sys/mountinfo v0.6.2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_freebsdlike.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_openbsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/sys/mount v0.3.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

api: POST /containers/{id}/wait: fix validation for "condition" parameter
  api/server/router/container/container_routes.go
  integration/container/wait_test.go
Owners: none

fix typo (cluser -> cluster)
  libnetwork/cmd/ssd/README.md
  libnetwork/networkdb/networkdb_test.go
Owners: none

drivers/ipvlan: add ipvlan_flag option, support l3s ipvlan_mode
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/ipvlan/ipvlan_setup.go
  libnetwork/drivers/ipvlan/ipvlan_setup_test.go
  libnetwork/drivers/ipvlan/ipvlan_store.go
Owners: none

Extract ImageService interface from the image service
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_unix.go
Owners: none

[do not merge] enable retry-loop on newer versions of Windows as well
  daemon/graphdriver/windows/windows.go
Owners: @johnstep

vendor: un-pin github.com/coreos/pkg
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: un-pin github.com/coreos/systemd
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/hashicorp/go-multierror v1.1.1
  vendor.mod
  vendor.sum
  vendor/github.com/hashicorp/go-multierror/.travis.yml
  vendor/github.com/hashicorp/go-multierror/README.md
  vendor/github.com/hashicorp/go-multierror/append.go
  vendor/github.com/hashicorp/go-multierror/group.go
  vendor/github.com/hashicorp/go-multierror/multierror.go
  vendor/modules.txt
Owners: none

vendor: go.opencensus.io v0.23.0
  vendor.mod
  vendor.sum
  vendor/go.opencensus.io/.travis.yml
  vendor/go.opencensus.io/Makefile
  vendor/go.opencensus.io/plugin/ocgrpc/client.go
  vendor/go.opencensus.io/plugin/ocgrpc/client_metrics.go
  vendor/go.opencensus.io/plugin/ocgrpc/server.go
  vendor/go.opencensus.io/plugin/ocgrpc/server_metrics.go
  vendor/go.opencensus.io/plugin/ocgrpc/trace_common.go
  vendor/go.opencensus.io/stats/record.go
  vendor/go.opencensus.io/stats/view/aggregation.go
  vendor/go.opencensus.io/stats/view/aggregation_data.go
  vendor/go.opencensus.io/stats/view/collector.go
  vendor/go.opencensus.io/stats/view/export.go
  vendor/go.opencensus.io/stats/view/view_to_metric.go
  vendor/go.opencensus.io/stats/view/worker.go
  vendor/go.opencensus.io/stats/view/worker_commands.go
  vendor/go.opencensus.io/trace/basetypes.go
  vendor/go.opencensus.io/trace/lrumap.go
  vendor/go.opencensus.io/trace/spanstore.go
  vendor/go.opencensus.io/trace/trace.go
  vendor/go.opencensus.io/trace/trace_api.go
  vendor/modules.txt
Owners: none

vendor: un-pin github.com/matttproud/golang_protobuf_extensions
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/armon/go-metrics v0.0.0-20180917152333-f0300d1749da
  vendor.mod
  vendor.sum
  vendor/github.com/armon/go-metrics/.gitignore
  vendor/github.com/armon/go-metrics/README.md
  vendor/github.com/armon/go-metrics/inmem.go
  vendor/github.com/armon/go-metrics/inmem_endpoint.go
  vendor/github.com/armon/go-metrics/inmem_signal.go
  vendor/github.com/armon/go-metrics/metrics.go
  vendor/github.com/armon/go-metrics/sink.go
  vendor/github.com/armon/go-metrics/start.go
  vendor/github.com/armon/go-metrics/statsd.go
  vendor/github.com/armon/go-metrics/statsite.go
  vendor/modules.txt
Owners: none

vendor: github.com/hashicorp/serf v0.8.2, go-msgpack v0.5.3
  vendor.mod
  vendor.sum
  vendor/github.com/hashicorp/serf/coordinate/client.go
  vendor/github.com/hashicorp/serf/coordinate/config.go
  vendor/github.com/hashicorp/serf/coordinate/coordinate.go
  vendor/github.com/hashicorp/serf/serf/broadcast.go
  vendor/github.com/hashicorp/serf/serf/config.go
  vendor/github.com/hashicorp/serf/serf/delegate.go
  vendor/github.com/hashicorp/serf/serf/event.go
  vendor/github.com/hashicorp/serf/serf/internal_query.go
  vendor/github.com/hashicorp/serf/serf/keymanager.go
  vendor/github.com/hashicorp/serf/serf/messages.go
  vendor/github.com/hashicorp/serf/serf/ping_delegate.go
  vendor/github.com/hashicorp/serf/serf/query.go
  vendor/github.com/hashicorp/serf/serf/serf.go
  vendor/github.com/hashicorp/serf/serf/snapshot.go
  vendor/modules.txt
Owners: none
