Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

c8d: Implement prune
  daemon/containerd/image_prune.go
  daemon/containerd/service.go
Owners: none

c8d/list: Implement `until` filter
  daemon/containerd/image_list.go
  daemon/containerd/image_prune.go
Owners: none

vendor: github.com/moby/buildkit v0.10.7-0.20230412161310-d52b2d584242
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/opts.go
  vendor/github.com/moby/buildkit/cache/remotecache/local/local.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/util/contentutil/multiprovider.go
  vendor/modules.txt
Owners: none

Fix argument quoting bugs in dockerd-rootless.sh
  contrib/dockerd-rootless.sh
Owners: none

Fix returning errors from snapshotter.Prepare
  daemon/containerd/image_snapshot.go
Owners: none

builder-next: fix buildkit version
  builder/builder-next/worker/worker.go
  vendor.mod
Owners: @tonistiigi

docs(readme): add ci, release, license and go report badges
  README.md
Owners: none

daemon: remove deprecated AuFS storage driver
  contrib/check-config.sh
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/aufs/dirs.go
  daemon/graphdriver/aufs/mount.go
  daemon/graphdriver/driver.go
  daemon/graphdriver/driver_linux.go
  daemon/graphdriver/fsdiff.go
  daemon/graphdriver/register/register_aufs.go
  daemon/info.go
  project/ISSUE-TRIAGE.md
  project/PACKAGERS.md
Owners: @thaJeztah

api/server: getImagesJSON(): don't check version in a loop
  api/server/router/image/image_routes.go
Owners: none

libnet: remove package bitseq
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/bitseq/store.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/overlay/ovmanager/ovmanager_test.go
  libnetwork/idm/idm.go
  libnetwork/idm/idm_test.go
Owners: none

libnet/d/overlay: clean up iptables rules on network delete
  libnetwork/drivers/overlay/ov_network.go
Owners: none

vendor: branch change-idm-signature from github.com/akerouanton/swarmkit
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/portallocator.go
Owners: none

awslogs: fix non-blocking log drop bug
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

awslogs: fix non-blocking log drop bug
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

c8d: align "Size" and "VirtualSize" for images
  daemon/containerd/image_list.go
  daemon/containerd/service.go
Owners: none

Add no-new-privileges to SecurityOptions returned by /info
  api/swagger.yaml
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
  docs/api/version-history.md
Owners: none

API: deprecate VirtualSize field for /images/json and /images/{id}/json
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/image_summary.go
  api/types/types.go
  daemon/containerd/image_list.go
  daemon/images/image_list.go
  docs/api/version-history.md
  integration/system/disk_usage_test.go
Owners: none

daemon: skip TestGetInspectData when using containerd snapshotters
  daemon/inspect_test.go
Owners: none

daemon: setupFakeDaemon(): add fakeImageService
  daemon/oci_linux_test.go
Owners: none
