Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

fix: don't attempt to set unavailable capabilities in privileged mode
  oci/caps/utils.go
Owners: none

registry: EndPointV1.Ping() remove redundant "Standalone" and cleanup logs
  registry/endpoint_v1.go
Owners: none

[WIP] test runc changes around cgroup handling
  hack/dockerfile/install/runc.installer
Owners: @tianon

Closing reader for container logs
  client/container_logs.go
Owners: none

Fixes #41871: Update daemon/daemon.go: resume healthcheck on restore
  daemon/daemon.go
  integration/container/restart_test.go
Owners: none

Update Go to 1.17.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] Update Go to 1.16.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Add an option to specify log format for awslogs driver
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

Dockerfile: CRIU: disable GPG validation, due to expired signing key
  Dockerfile
Owners: none

libnetwork: ServeDNS(): don't panic on unsupported query types
  libnetwork/resolver.go
Owners: none

Revert "Dockerfile: CRIU: disable GPG validation, due to expired signing key"
  Dockerfile
Owners: none

Update most links in docs to use https by default
  docs/reference/commandline/dockerd.md
Owners: none

Dockerfile: switch CRIU install to Debian 11 "bullseye" packages
  Dockerfile
Owners: none

compression: support zstd with skippable frame
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

Update containerd binary to v1.5.6
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Update containerd binary to v1.5.7
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

libnetwork: improve consistency in log messages
  libnetwork/resolver.go
Owners: none

libnetwork: some minor refactoring / cleanup
  libnetwork/resolver.go
Owners: none

oci/caps: limit available capabilities to current environment
  oci/caps/utils.go
  oci/caps/utils_linux.go
  oci/caps/utils_other.go
  vendor.conf
  vendor/github.com/syndtr/gocapability/LICENSE
  vendor/github.com/syndtr/gocapability/capability/capability.go
  vendor/github.com/syndtr/gocapability/capability/capability_linux.go
  vendor/github.com/syndtr/gocapability/capability/capability_noop.go
  vendor/github.com/syndtr/gocapability/capability/enum.go
  vendor/github.com/syndtr/gocapability/capability/enum_gen.go
  vendor/github.com/syndtr/gocapability/capability/syscall_linux.go
Owners: none

vendor: Update go-winio to v0.5.1
  vendor.conf
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_64.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Owners: none

vendor: Update go-winio to v0.4.20
  vendor.conf
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdata.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/fieldopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider_unsupported.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/providerglobal.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_64.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/etwlogrus/hook.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/pkg/security/grantvmgroupaccess.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/privilege.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Owners: none

Port testutil/daemon to FreeBSD
  testutil/daemon/daemon_freebsd.go
  testutil/daemon/daemon_linux.go
  testutil/daemon/daemon_unix.go
Owners: none

Add container info log when create/start/stop a container successful
  daemon/create.go
  daemon/start.go
  daemon/stop.go
Owners: none

dockerd-rootless.sh: Fix variable not double quotes cause unexpected behavior
  contrib/dockerd-rootless.sh
Owners: none

Fix client_windows.go mkdir permission
  libcontainerd/remote/client_windows.go
Owners: none

buildkit: normalize build target and local platform
  builder/builder-next/adapters/containerimage/pull.go
Owners: @tonistiigi

CI: update docker-py to 5.0.3
  hack/make/test-docker-py
Owners: @tianon

daemon: fix TestVerifyPlatformContainerResources not capturing variable
  daemon/daemon_unix_test.go
Owners: none

buildkit: normalize build target and local platform
  builder/builder-next/adapters/containerimage/pull.go
Owners: @tonistiigi

Update NOTICE
  NOTICE
Owners: none

docker kill: fix bug where failed kills didnt fallback to unix kill
  daemon/container_operations_unix.go
  daemon/kill.go
Owners: none

docker daemon container stop refactor
  daemon/stop.go
Owners: none

Fix log statement 'failed to exit' timeout accuracy
  daemon/stop.go
Owners: none

Remove needless check
  contrib/dockerd-rootless.sh
Owners: none

dockerd-rootless.sh: Fix variable not double quotes cause unexpected behavior
  contrib/dockerd-rootless.sh
Owners: none

Fix racey TestHealthKillContainer
  integration/container/health_test.go
Owners: none

Fix racey TestHealthKillContainer
  integration/container/health_test.go
Owners: none

pkg/fileutils: escape additional regex meta characters
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

fix TestInvalidRemoteDriver() to check underlying error
  libnetwork/libnetwork_test.go
Owners: none

Fix race in TestCreateServiceSecretFileMode, TestCreateServiceConfigFileMode
  integration/service/create_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
