Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

daemon/config: move proxy settings to "proxies" struct within daemon.json
  daemon/config/config.go
  daemon/reload.go
  integration/daemon/daemon_test.go
Owners: none

hack/vendor.sh: allow go version to be specified with .0
  hack/vendor.sh
Owners: @tianon

vendor: update archive/tar to match Go 1.17.0
  vendor/archive/tar/stat_actime1.go
  vendor/archive/tar/stat_actime2.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/tar_test.go
Owners: none

Update Go to 1.17.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.3
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.17.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to go 1.17.8 to address CVE-2022-24921
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

maintainers: update metadata for samuelkarp
  .mailmap
  AUTHORS
  MAINTAINERS
Owners: none

missing windows arm64 arch detection
  pkg/platform/architecture_windows.go
Owners: none

Fix secret mounting with userns_remap enabled
  daemon/daemon.go
Owners: none

ci: update upload-artifact and download-artifact actions to v3
  .github/workflows/ci.yml
Owners: none

ci: set shorter retention period for artifacts
  .github/workflows/ci.yml
Owners: none

fix cross compilation for arm platforms
  hack/make/.binary
Owners: @tianon

ci: add cross job in ci workflow
  .github/workflows/ci.yml
  docker-bake.hcl
Owners: none

Activate ppc64le Jenkins CI
  Jenkinsfile
Owners: none

daemon/logger/gelf: remove uses of pkg/urlutil.IsTransportURL()
  daemon/logger/gelf/gelf.go
  daemon/logger/gelf/gelf_test.go
Owners: none

daemon/logger/splunk: remove uses of pkg/urlutil.IsURL()
  daemon/logger/splunk/splunk.go
Owners: none

daemon/logger/syslog: remove uses of pkg/urlutil.IsTransportURL()
  daemon/logger/syslog/syslog.go
  daemon/logger/syslog/syslog_test.go
  integration-cli/docker_cli_daemon_test.go
Owners: none

daemon/logger/fluentd: add coverage for ValidateLogOpt(), parseAddress()
  daemon/logger/fluentd/fluentd_test.go
  integration-cli/docker_cli_daemon_test.go
Owners: none

daemon/logger/fluentd: rename var that collided with import
  daemon/logger/fluentd/fluentd.go
Owners: none

daemon/logger/fluentd: make error-handling less DRY
  daemon/logger/fluentd/fluentd.go
Owners: none

daemon/logger/fluentd: validate path element
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
Owners: none

daemon/logger/fluentd: fix missing host, remove urlutil.IsTransportURL()
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
Owners: none

daemon/logger/fluentd: remove udp, tcp+tls, unixgram, add tls scheme
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
Owners: none

api/server/httputils: matchesContentType(): return error instead of logging
  api/server/httputils/httputils.go
  api/server/httputils/httputils_test.go
Owners: none

api/server/httputils: add ReadJSON() utility
  api/server/httputils/httputils.go
  api/server/httputils/httputils_test.go
  api/server/router/checkpoint/checkpoint_routes.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/container/copy.go
  api/server/router/container/exec.go
  api/server/router/network/network_routes.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/swarm/cluster_routes.go
  api/server/router/volume/volume_routes.go
  integration-cli/docker_api_exec_test.go
  integration/container/container_test.go
  integration/network/network_test.go
  integration/plugin/common/plugin_test.go
  integration/volume/volume_test.go
Owners: none

api/server/httputils: move WriteJSON() together with ReadJSON()
  api/server/httputils/httputils.go
  api/server/httputils/httputils_write_json.go
Owners: none

runconfig: ContainerDecoder(): fix handling of invalid JSON
  integration/container/container_test.go
  runconfig/config.go
  runconfig/config_test.go
  runconfig/hostconfig.go
Owners: none

pkg/urlutil: remove unused IsTransportURL()
  pkg/urlutil/urlutil.go
  pkg/urlutil/urlutil_test.go
Owners: none

pkg/urlutil: deprecate, and move to builder/remotecontext/urlutil
  builder/dockerfile/copy.go
  builder/remotecontext/detect.go
  builder/remotecontext/urlutil/urlutil.go
  builder/remotecontext/urlutil/urlutil_test.go
  hack/make.ps1
  hack/validate/pkg-imports
  pkg/urlutil/deprecated.go
Owners: @tonistiigi, @tianon

builder/remotecontext/urlutil: simplify and improve documentation
  builder/remotecontext/urlutil/urlutil.go
Owners: @tonistiigi

Jenkinsfile: add workaround for CVE-2022-24765
  Jenkinsfile
Owners: none

Jenkinsfile: add workaround for CVE-2022-24765
  Jenkinsfile
Owners: none

add documentation in set-up-dev-env.md
  docs/contributing/set-up-dev-env.md
Owners: none

metrics: DRY metric definitions
  daemon/metrics.go
Owners: none

use go-winres for cross to create Windows resources
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  cli/winresources/README.md
  cli/winresources/docker-proxy/winresources.go
  cli/winresources/docker.ico
  cli/winresources/dockerd/winresources.go
  cli/winresources/event_messages.bin
  cli/winresources/event_messages.mc
  cmd/docker-proxy/genwinres_windows.go
  cmd/dockerd/genwinres_windows.go
  hack/go-mod-prepare.sh
  hack/make/.go-autogen
  hack/make/.mkwinres
  hack/make/.resources-windows/common.rc
  hack/make/.resources-windows/dockerd.exe.manifest
  hack/make/.resources-windows/dockerd.rc
  hack/make/.resources-windows/resources.go
Owners: @tianon

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
