Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

cmd/dockerd: produce error when using discovery options
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix_test.go
Owners: none

daemon: remove discovery-related config handling
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/daemon.go
  daemon/info.go
  daemon/reload.go
Owners: none

integration-cli: use unique names for custom bridges
  integration-cli/docker_cli_daemon_test.go
Owners: none

daemon: remove discovery inits
  daemon/daemon_test.go
  daemon/reload_test.go
Owners: none

daemon: remove daemon.discoveryWatcher
  daemon/daemon.go
Owners: none

daemon: remove daemon/discovery as it's now unused
  daemon/discovery/discovery.go
  daemon/discovery/discovery_test.go
Owners: none

libnetwork: remove external DS-based host discovery
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/config/libnetwork.toml
  libnetwork/controller.go
  libnetwork/hostdiscovery/hostdiscovery.go
  libnetwork/hostdiscovery/hostdiscovery_api.go
  libnetwork/hostdiscovery/hostdiscovery_test.go
  libnetwork/hostdiscovery/libnetwork.toml
Owners: none

remove pkg/discovery as it's now unused
  pkg/discovery/README.md
  pkg/discovery/backends.go
  pkg/discovery/discovery.go
  pkg/discovery/discovery_test.go
  pkg/discovery/entry.go
  pkg/discovery/file/file.go
  pkg/discovery/file/file_test.go
  pkg/discovery/generator.go
  pkg/discovery/generator_test.go
  pkg/discovery/kv/kv.go
  pkg/discovery/kv/kv_test.go
  pkg/discovery/memory/memory.go
  pkg/discovery/memory/memory_test.go
  pkg/discovery/nodes/nodes.go
  pkg/discovery/nodes/nodes_test.go
Owners: none

libnetwork: remove zookeeper-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-zookeeper.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/zookeeper/zookeeper.go
  vendor/github.com/samuel/go-zookeeper/LICENSE
  vendor/github.com/samuel/go-zookeeper/README.md
  vendor/github.com/samuel/go-zookeeper/zk/conn.go
  vendor/github.com/samuel/go-zookeeper/zk/constants.go
  vendor/github.com/samuel/go-zookeeper/zk/flw.go
  vendor/github.com/samuel/go-zookeeper/zk/lock.go
  vendor/github.com/samuel/go-zookeeper/zk/server_help.go
  vendor/github.com/samuel/go-zookeeper/zk/server_java.go
  vendor/github.com/samuel/go-zookeeper/zk/structs.go
  vendor/github.com/samuel/go-zookeeper/zk/tracer.go
  vendor/github.com/samuel/go-zookeeper/zk/util.go
Owners: none

libnetwork: replace consul with boltdb in test
  libnetwork/drivers/overlay/overlay_test.go
Owners: none

libnetwork: remove consul-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-consul-host.bats
  libnetwork/test/integration/dnet/overlay-consul.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/consul/consul.go
  vendor/github.com/hashicorp/consul/LICENSE
  vendor/github.com/hashicorp/consul/README.md
  vendor/github.com/hashicorp/consul/api/README.md
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/event.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/raw.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/status.go
Owners: none

libnetwork: remove more config bits related to external k/v stores
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/network.go
Owners: none

xfer: fix a simple goroutine leak in unit test
  distribution/xfer/download_test.go
Owners: none

docs: fixing /exec/{id}/resize response code in API documentation
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

awslogs: replace channel-based mocks
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/awslogs/cwlogsiface_mock_test.go
Owners: @samuelkarp

awslogs: use gotest.tools/v3/assert more
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

Do not panic on empty quoted string argument
  opts/quotedstring.go
  opts/quotedstring_test.go
Owners: none

remove unused poule.yml
  poule.yml
Owners: none

hack/ci: remove unused entrypoint scripts
  hack/ci/arm
  hack/ci/experimental
  hack/ci/janky
  hack/ci/master
  hack/ci/powerpc
  hack/ci/z
Owners: @tianon

Jenkinsfile: remove Windows RS1 as it reached end of support
  Jenkinsfile
Owners: none

Correct neovim's bad behavior, inline variables for ApplyOSTweaks()
  libnetwork/controller.go
  libnetwork/osl/namespace_linux.go
Owners: none

pkg/namesgenerator: replace uses of fmt.Sprintf()
  pkg/namesgenerator/names-generator.go
  pkg/namesgenerator/names-generator_test.go
Owners: none

compression: add support for the zstd algorithm
  Dockerfile
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

Dockerfile: move installers into Dockerfile
  Dockerfile
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/tomll.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Makefile: remove passing proxy env-vars
  Makefile
Owners: none

Makefile: update bfirsh/redoc to 1.14.0, and fix swagger warnings
  Makefile
  api/swagger.yaml
Owners: none

registry: remove unused registry.ErrAlreadyExists
  registry/registry.go
Owners: none

Allow switching Windows runtimes.
  cmd/dockerd/config.go
  cmd/dockerd/config_common_unix.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_windows.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Owners: none

daemon.UsingSystemd(): don't call getCD() multiple times
  daemon/daemon_unix.go
Owners: none

Dockerfile: update test-registries to released versions
  Dockerfile
Owners: none

Dockerfile: CRIU: disable GPG validation, due to expired signing key
  Dockerfile
Owners: none

daemon.WithCommonOptions() fix detection of user-namespaces
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration/container/run_linux_test.go
Owners: none

Port pkg/system/mknod.go to FreeBSD
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_linux.go
Owners: none

Update Go to 1.17.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

vendor: github.com/containerd/containerd v1.5.7
  vendor.conf
  vendor/github.com/containerd/containerd/container_opts.go
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/metadata/content.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/bundle.go
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

TestBuildUserNamespaceValidateCapabilitiesAreV2: cleanup daemon storage
  integration/build/build_userns_linux_test.go
Owners: none

vendor: github.com/imdario/mergo v0.3.12
  vendor.conf
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/doc.go
  vendor/github.com/imdario/mergo/go.mod
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
Owners: none

Fix racey TestHealthKillContainer
  integration/container/health_test.go
Owners: none

fix TestInvalidRemoteDriver() to check underlying error
  libnetwork/libnetwork_test.go
Owners: none

daemon: simplify networking config
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Owners: none
