Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

compression: add support for the zstd algorithm
  Dockerfile
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

quota: Make package compile when `cgo` is disabled
  quota/projectquota_unsupported.go
Owners: none

quota: adjust build-tags to allow build without CGO
  quota/projectquota.go
  quota/testhelpers.go
Owners: none

42865 - Improve OomKillDisable error on cgroup2
  daemon/daemon_unix.go
  daemon/daemon_unix_test.go
Owners: none

Port pkg/system/mknod.go to FreeBSD
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_linux.go
Owners: none

hack/make/.go-autogen: fix some linting warnings, and tmpdir creation
  hack/make/.go-autogen
Owners: @tianon

hack/make: wrap lines for readability
  hack/make.ps1
  hack/make/.go-autogen.ps1
Owners: @tianon

hack/make/.go-autogen.ps1: add missing docs for parameters
  hack/make/.go-autogen.ps1
Owners: @tianon

[WIP] hack: add CompanyName to Windows manifest / metadata
  Dockerfile
  Makefile
  hack/make.ps1
  hack/make/.go-autogen
  hack/make/.go-autogen.ps1
  hack/make/.resources-windows/common.rc
Owners: @tianon

Bump swarmkit to get fix for rollback
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/orchestrator/update/updater.go
Owners: none

Remove KernelMemory option from /containers/create endpoint - remove KernelMemory option from `v1.42` api docs - remove KernelMemory warning on `/info` - update changes for `v1.42`
  api/server/router/container/container_routes.go
  api/swagger.yaml
  daemon/daemon_unix.go
  docs/api/version-history.md
  pkg/sysinfo/sysinfo_linux.go
Owners: none

Remove `KernelMemory` field from endpoints docs
  api/swagger.yaml
Owners: none

Allow switching Windows runtimes.
  cmd/dockerd/config.go
  cmd/dockerd/config_common_unix.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_windows.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Owners: none

doc: Add `default-runtime` opt to daemon.json
  docs/reference/commandline/dockerd.md
Owners: none

daemon.UsingSystemd(): don't call getCD() multiple times
  daemon/daemon_unix.go
Owners: none

Makefile: prune build-cache before building
  Makefile
Owners: none

daemon/listeners: use chgrp binary for docker.sock
  daemon/listeners/group_unix.go
  daemon/listeners/listeners_linux.go
Owners: none

Makefile: remove passing proxy env-vars
  Makefile
Owners: none

Dockerfile: move installers into Dockerfile
  Dockerfile
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/tomll.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Makefile: update bfirsh/redoc to 1.14.0, and fix swagger warnings
  Makefile
  api/swagger.yaml
Owners: none

Dockerfile: update test-registries to released versions
  Dockerfile
Owners: none

Update check-config.sh
  contrib/check-config.sh
Owners: none

Update LICENCE
  LICENSE
Owners: none

Create LICENSE
  LICENSE
Owners: none

Implement test essentials
  daemon/logger/jsonfilelog/jsonfilelog_test.go
Owners: none

Partial messages are being registered
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/jsonfilelog/jsonlog/jsonlogbytes.go
Owners: none

Add id, ordinal and last to partial logs
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/jsonfilelog/jsonlog/jsonlogbytes.go
Owners: none

Apply peformance tuning to new sandboxes also
  libnetwork/controller.go
  libnetwork/osl/namespace_linux.go
Owners: none

tarexport: optimize logging in Load function
  image/tarexport/load.go
Owners: none

[20.10] update containerd binary to v1.4.10
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[20.10] update containerd binary to v1.4.11
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Lock down docker root dir perms.
  daemon/container_operations_unix.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/zfs/zfs.go
Owners: @dmcgowan

chrootarchive: don't create parent dirs outside of chroot
  pkg/chrootarchive/archive.go
Owners: none

new security-opt: privileged-without-host-devices
  container/container.go
  daemon/daemon_unix.go
  daemon/oci_linux.go
Owners: none

registry: remove unused registry.ErrAlreadyExists
  registry/registry.go
Owners: none

registry: remove tlsConfigForMirror()
  registry/service.go
  registry/service_v2.go
Owners: none

registry: remove unused ToV1Endpoint()
  registry/service.go
Owners: none

registry: inline newV1Endpoint() into newV1EndpointFromStr()
  registry/endpoint_v1.go
Owners: none

registry: trimV1Address(): simplify trimming trailing slash
  registry/endpoint_v1.go
Owners: none

registry: remove use of iota for consts
  registry/types.go
Owners: none
