Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Add integration test for #38995, #43390
  hack/dind
  hack/dind-systemd
  integration/container/mounts_linux_test.go
Owners: @tianon

pkg/archive: create whiteout temp dir under dest
  pkg/archive/diff.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/diff_windows.go
Owners: none

pkg/chrootarchive: stop reexec'ing before chroot
  pkg/archive/archive.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/go_linux.go
  pkg/chrootarchive/init_unix.go
Owners: none

Revert "Use real chroot if daemon is running in a user namespace"
  pkg/chrootarchive/chroot_linux.go
Owners: none

daemon: refactor isOnlineFSOperationPermitted
  daemon/archive.go
  daemon/archive_unix.go
  daemon/archive_windows.go
Owners: none

Add reusable chroot and unshare utilities
  internal/mounttree/switchroot_linux.go
  internal/unshare/unshare_linux.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/archive_windows.go
  pkg/chrootarchive/chroot_linux.go
  pkg/chrootarchive/chroot_unix.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/go_linux.go
Owners: none

daemon: drop Windows-only code from archive_unix.go
  daemon/archive_unix.go
Owners: none

integration: test more copy edge-cases
  integration/container/copy_test.go
Owners: none

daemon: dupe the archive implementation
  daemon/archive.go
  daemon/archive_unix.go
  daemon/archive_windows.go
Owners: none

daemon: archive in a dedicated mount namespace
  daemon/archive_unix.go
  daemon/containerfs_linux.go
  daemon/volumes_unix.go
Owners: none

container: make path resolution fns Windows-only
  container/archive_windows.go
Owners: none

docs: update link to docs contribution guide
  CONTRIBUTING.md
Owners: none

Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  docs/reference/commandline/dockerd.md
Owners: none

daemon: fix docs for config-default constants
  daemon/config/config.go
Owners: none

daemon: fix docs for config-default constants
  daemon/config/config.go
Owners: none

Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  cmd/dockerd/config.go
Owners: none

opts: TestParseLink(): add test-case for legacy format
  opts/opts_test.go
Owners: none

integration-cli: DockerPluginSuite: use gotest.tools compare utilities
  integration-cli/docker_cli_plugins_test.go
Owners: none

api/types/filters: add output to example
  api/types/filters/example_test.go
Owners: none

pkg/idtools: remove execCmd() utility
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/usergroupadd_linux.go
  pkg/idtools/utils_unix.go
Owners: none

Update to Go 1.19.3 to address CVE-2022-41716
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Remove errant "runtime.GOARCH" from debug message
  distribution/pull_v2.go
Owners: none

Remove long-deprecated "arm" fallback
  distribution/pull_v2_unix.go
Owners: none

Sort entries in pkg/namesgenerator
  pkg/namesgenerator/names-generator.go
Owners: none

implement docker system df
  api/server/router/system/system_routes.go
  daemon/containerd/service.go
  daemon/images/service.go
Owners: none

pkg/parsers/kernel: remove duplicate Package godoc
  pkg/parsers/kernel/kernel_unix.go
Owners: none

pkg/parsers/kernel: un-export Utsname
  pkg/parsers/kernel/uname_linux.go
  pkg/parsers/kernel/uname_unsupported.go
Owners: none

distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Owners: none

daemon/logger: fix godoc
  daemon/logger/logger.go
Owners: none

Fix containerd task deletion after failed start
  libcontainerd/remote/client.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

Fix containerd task deletion after failed start
  libcontainerd/remote/client.go
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221102165002-6341884e5fc9
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/volumes.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/volume.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/manager.go
  vendor/modules.txt
Owners: none

daemon/logger/etwlogs: replace deprecated EventWriteString
  daemon/logger/etwlogs/etwlogs_windows.go
Owners: none

daemon/logger/etwlogs: write structured events
  daemon/logger/etwlogs/etwlogs_windows.go
Owners: none

imageservice: Add context to various methods
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/swarm/backend.go
  api/server/router/swarm/cluster_routes.go
  builder/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/imageprobe.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_linux.go
  builder/dockerfile/internals_linux_test.go
  builder/dockerfile/internals_windows.go
  builder/dockerfile/mockbackend_test.go
  cmd/dockerd/daemon.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/swarm.go
  daemon/commit.go
  daemon/containerd/cache.go
  daemon/containerd/image_import.go
  daemon/create.go
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image_import.go
  daemon/list.go
  daemon/list_test.go
  daemon/monitor.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  daemon/oci_windows.go
  daemon/restart.go
  daemon/start.go
Owners: @tonistiigi

daemon/start: Revert passing ctx to ctr.Start
  daemon/start.go
Owners: none

builder: Don't store context in struct
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/imagecontext.go
  builder/dockerfile/imagecontext_test.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_windows.go
Owners: @tonistiigi

cmd/dockerd: Rewrite shutdownDaemon to use context timeout
  cmd/dockerd/daemon.go
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221102165002-6341884e5fc9
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/volumes.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/volume.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/manager.go
  vendor/modules.txt
Owners: none

distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
