Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Update containerd binary to v1.5.3
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.5.3
  vendor.conf
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/content/local/store_bsd.go
  vendor/github.com/containerd/containerd/content/local/store_openbsd.go
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/metadata/containers.go
  vendor/github.com/containerd/containerd/metadata/content.go
  vendor/github.com/containerd/containerd/remotes/docker/auth/fetch.go
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

[20.10] update containerd binary to v1.4.7
  hack/dockerfile/install/containerd.installer
Owners: @tianon

updated names-generator.go for alphabetization
  pkg/namesgenerator/names-generator.go
Owners: none

pkg/sysinfo.New() move v1 code to a newV1() function
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

pkg/sysinfo: move cgMounts to be a field in SysInfo
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

pkg/sysinfo.newV2() remove redundant path.Clean()
  pkg/sysinfo/cgroup2_linux.go
Owners: none

pkg/sysinfo: move cg2GroupPath to be a field in SysInfo
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
Owners: none

pkg/sysinfo: adjust Opt to set new field
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/sysinfo/sysinfo_other.go
  pkg/sysinfo/sysinfo_windows.go
Owners: none

pkg/sysinfo: move cg2Controllers to be a field in SysInfo and unify v1/v2
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

pkg/sysinfo: collect warnings in SysInfo struct
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

pkg/sysinfo.New(), daemon.RawSysInfo(): remove "quiet" argument
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/info.go
  daemon/oci_linux.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/requirements_unix_test.go
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/sysinfo/sysinfo_linux_test.go
  pkg/sysinfo/sysinfo_other.go
  runconfig/config.go
  runconfig/config_test.go
Owners: none

pkg/sysinfo: use correct name for AppArmor in t.Skip()
  pkg/sysinfo/sysinfo_linux_test.go
Owners: none

api/types: add GoDoc to Info.Warnings field
  api/types/types.go
Owners: none

Gofmt source code
  daemon/device_unix.go
Owners: none

Fix host-device discovery in rootless mode
  daemon/device_unix.go
  daemon/device_unix_test.go
  daemon/oci_linux.go
Owners: none

Mount host devices in --privileged rootless containers
  daemon/oci_linux.go
Owners: none

Add permalinks to the original code
  daemon/device_unix.go
  daemon/device_unix_test.go
Owners: none

pkg/signal: move signal.DumpStacks() to a separate package
  daemon/cluster/cluster.go
  daemon/cluster/swarm.go
  daemon/debugtrap_unix.go
  daemon/debugtrap_windows.go
  libnetwork/diagnostic/server.go
  pkg/signal/signal_deprecated.go
  pkg/signal/trap.go
  pkg/signal/trap_linux_test.go
  pkg/stack/stackdump.go
  pkg/stack/stackdump_test.go
Owners: none

pkg/signal: move Trap() to cmd/dockerd
  cmd/dockerd/daemon.go
  cmd/dockerd/trap/testfiles/main.go
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
Owners: none

pkg/signal: remove gotest.tools dependency
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_test.go
Owners: none

client: remove unused Platform field from configWrapper
  client/container_create.go
Owners: none

client: remove containerd "platform" dependency
  client/container_create.go
Owners: none

hack/vendor: add check for vendored archive/tar
  Dockerfile
  hack/validate/vendor
  hack/vendor.sh
Owners: @tianon

hack: add script to regenerate certificates
  hack/generate-test-certs.sh
Owners: @tianon

Update test certificates
  integration/testdata/https/ca.pem
  integration/testdata/https/client-cert.pem
  integration/testdata/https/client-key.pem
  integration/testdata/https/server-cert.pem
  integration/testdata/https/server-key.pem
Owners: none

pkg/fileutils: TestMatches: remove cases no longer valid for go1.16
  pkg/fileutils/fileutils_test.go
Owners: none

hack/ci/windows.ps1: disable go modules
  hack/ci/windows.ps1
Owners: @tianon

integration: ensurePlugin: disable go modules when building plugin
  integration/plugin/logging/helpers_test.go
  integration/plugin/volumes/helpers_test.go
  testutil/fixtures/plugin/plugin.go
Owners: none

API,daemon: support `types` URL parameter to /system/df
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  daemon/disk_usage.go
  docs/api/version-history.md
Owners: none

daemon: sort imports according to gofmt
  daemon/daemon.go
Owners: none

pkg/compute: add Singleton utility
  pkg/compute/compute.go
  pkg/compute/compute_test.go
Owners: none

daemon: expose disk usage functionality per object, parallelize
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/images/service.go
  volume/service/service.go
  volume/service/service_test.go
Owners: none

API,builder: move error wrapping into Builder.DiskUsage
  api/server/router/system/system_routes.go
  builder/builder-next/builder.go
Owners: @tonistiigi

API: add `/usage` endpoints per object type
  api/server/router/build/build.go
  api/server/router/build/build_routes.go
  api/server/router/container/backend.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  api/server/router/volume/backend.go
  api/server/router/volume/volume.go
  api/server/router/volume/volume_routes.go
Owners: none

API,cmd: pass buildkit into build router
  api/server/router/build/build.go
  cmd/dockerd/daemon.go
Owners: none

[ImgBot] Optimize images
  docs/static_files/contributors.png
  docs/static_files/moby-project-logo.png
  libnetwork/docs/cnm-model.jpg
  libnetwork/docs/images/network_flow_bridge.png
  libnetwork/docs/images/network_flow_overlay.png
Owners: none

seccomp: improve GoDoc for Seccomp fields
  profiles/seccomp/seccomp.go
Owners: none

seccomp: use oci-spec consts in tests
  profiles/seccomp/seccomp_test.go
Owners: none

seccomp: add additional unit-tests
  profiles/seccomp/seccomp_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
