Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

pkg/containerfs: drop Driver abstraction
  builder/remotecontext/archive.go
  builder/remotecontext/detect.go
  builder/remotecontext/detect_test.go
  builder/remotecontext/lazycontext.go
  builder/remotecontext/tarsum_test.go
  container/archive.go
  daemon/archive.go
  daemon/graphdriver/graphtest/graphbench_unix.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/graphdriver/graphtest/testutil.go
  daemon/graphdriver/graphtest/testutil_unix.go
  layer/layer_test.go
  layer/mount_test.go
  pkg/containerfs/containerfs.go
Owners: @tonistiigi

pkg/containerfs: delete Archiver, Driver
  builder/dockerfile/copy.go
  builder/dockerfile/internals.go
  pkg/containerfs/archiver.go
  pkg/containerfs/containerfs.go
Owners: @tonistiigi

pkg/containerfs: Remove NewLocalDriver()
  builder/dockerfile/copy.go
  builder/dockerfile/copy_test.go
  builder/dockerfile/copy_unix.go
  pkg/containerfs/containerfs.go
Owners: @tonistiigi

volume/mounts: drop unused LCOW parser
  volume/mounts/lcow_parser.go
  volume/mounts/lcow_parser_test.go
  volume/mounts/validate_test.go
Owners: none

daemon: clean up vestiges of ContainerFS
  daemon/archive.go
  daemon/export.go
Owners: none

pkg/containerfs: drop ContainerFS type alias
  builder/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/internals_test.go
  builder/dockerfile/mockbackend_test.go
  builder/remotecontext/archive.go
  builder/remotecontext/detect_test.go
  builder/remotecontext/lazycontext.go
  builder/remotecontext/tarsum.go
  container/container.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/driver.go
  daemon/graphdriver/driver.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/proxy.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/windows/windows.go
  daemon/graphdriver/zfs/zfs.go
  daemon/images/image_builder.go
  daemon/initlayer/setup_unix.go
  layer/layer.go
  layer/layer_test.go
  layer/mount_test.go
  layer/mounted_layer.go
  pkg/containerfs/containerfs.go
Owners: @tonistiigi, @rhvgoyal, @dmcgowan, @johnstep

chore(integration): delete outdated TODO comment
  integration/plugin/graphdriver/external_test.go
Owners: none

golangci-lint: update to v1.49.0
  Dockerfile
  daemon/graphdriver/vfs/quota_linux.go
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/journald/journald.go
  hack/validate/golangci-lint.yml
  libnetwork/network.go
  libnetwork/options/options_test.go
  libnetwork/sandbox.go
  pkg/devicemapper/devmapper.go
  volume/drivers/extpoint.go
Owners: @tianon

44151: docker network disconnect on not attached network error with container name
  daemon/container_operations.go
Owners: none

golangci-lint: update to v1.49.0
  Dockerfile
  daemon/graphdriver/vfs/quota_linux.go
  hack/validate/golangci-lint.yml
  libnetwork/network.go
  libnetwork/options/options_test.go
  libnetwork/sandbox.go
  pkg/devicemapper/devmapper.go
  volume/drivers/extpoint.go
Owners: @tianon

libnetwork/config: remove "Experimental" and "Debug" options
  daemon/daemon.go
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/drivers_freebsd.go
  libnetwork/drivers_linux.go
  libnetwork/drivers_windows.go
Owners: none

libnetwork/config: remove ParseConfig()
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/config/libnetwork.toml
Owners: none

libnetwork/config: merge DaemonCfg into Config
  builder/builder-next/executor_unix.go
  daemon/container_operations.go
  daemon/network.go
  libnetwork/agent.go
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/controller.go
  libnetwork/firewall_linux_test.go
  libnetwork/sandbox_externalkey_unix.go
Owners: @tonistiigi

libnetwork: remove old integration tests
  libnetwork/test/integration/README.md
  libnetwork/test/integration/daemon-configs.bats
  libnetwork/test/integration/daemon.cfg
  libnetwork/test/integration/dnet/bridge.bats
  libnetwork/test/integration/dnet/dnet.bats
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/multi.bats
  libnetwork/test/integration/dnet/overlay-local.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  libnetwork/test/integration/dnet/simple.bats
  libnetwork/test/integration/helpers.bash
Owners: none

libnetwork/config: inline ProcessOptions
  libnetwork/config/config.go
Owners: none

libnetwork/config: inline LoadDefaultScopes()
  libnetwork/config/config.go
Owners: none

windows: libcontainer: prefer bundled containerd.exe
  cmd/dockerd/daemon_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_options.go
Owners: none

Windows: Run containerd as managed process
  .github/workflows/.windows.yml
  cmd/dockerd/daemon_windows.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_windows.go
  daemon/daemon_windows.go
  daemon/start_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
Owners: none

refactor(pkg/archive): factor out createImpliedDirectories helper
  pkg/archive/archive.go
  pkg/archive/diff.go
Owners: none

libnetwork/config: rename ParseConfigOptions() to New()
  libnetwork/config/config.go
  libnetwork/controller.go
Owners: none

libnetwork: fix empty-lines (revive)
  libnetwork/agent.go
  libnetwork/bitseq/sequence.go
  libnetwork/controller.go
  libnetwork/datastore/datastore_test.go
  libnetwork/datastore/mock_store.go
  libnetwork/default_gateway.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/link.go
  libnetwork/drivers/bridge/port_mapping.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/drivers/bridge/setup_ipv6_test.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ov_serf.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/endpoint.go
  libnetwork/errors_test.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/null/null_test.go
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/networkdb/cluster.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/route_linux.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/resolver.go
  libnetwork/resolver_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/service_common.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
Owners: none

test(pkg/archive): add TestImpliedDirectoryPermissions
  pkg/archive/archive_test.go
Owners: none

Jenkinsfile: use Ubuntu 20.04 for DCO stage
  Jenkinsfile
Owners: none

swagger: update links to logo
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
Owners: none

swagger: update links to logo
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
Owners: none

swagger: update links to logo
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

pkg/idtools: mkdirAs(): fix infinite loops and repeated "chown"
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Owners: none

pkg/system: remove stubs for deprecated sequential functions
  pkg/system/filesys_deprecated.go
Owners: none

api/types: remove aliases for deprecated Volume and VolumeUsageData
  api/types/deprecated.go
Owners: none

pkg/signal: remove stubs for deprecated package
  pkg/signal/signal_deprecated.go
Owners: none

pkg/idtools: mkdirAs(): fix infinite loops and repeated "chown"
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Owners: none

refactor(pkg/archive): factor out createImpliedDirectories helper
  pkg/archive/archive.go
  pkg/archive/diff.go
Owners: none

test(pkg/archive): add TestImpliedDirectoryPermissions
  pkg/archive/archive_test.go
Owners: none

daemon: remove getPortMapInfo alias
  daemon/container_operations.go
  daemon/network.go
Owners: none

daemon: replace ErrRootFSReadOnly with errdefs
  daemon/archive.go
  daemon/container_operations.go
Owners: none

integration-cli: remove isCpCannotCopyReadOnly utility
  integration-cli/docker_cli_cp_to_container_test.go
  integration-cli/docker_cli_cp_utils_test.go
Owners: none

daemon: replace ErrVolumeReadonly with errdefs
  daemon/archive_unix.go
  daemon/volumes.go
Owners: none

daemon: replace ErrExtractPointNotDirectory with errdefs
  daemon/archive.go
Owners: none

api/types: fix empty-lines (revive)
  api/types/strslice/strslice_test.go
Owners: none

pkg/*: fix "empty-lines" (revive)
  pkg/archive/archive.go
  pkg/archive/archive_linux_test.go
  pkg/archive/changes.go
  pkg/archive/changes_posix_test.go
  pkg/archive/copy.go
  pkg/archive/copy_unix_test.go
  pkg/archive/diff_test.go
  pkg/authorization/api_test.go
  pkg/authorization/middleware_test.go
  pkg/authorization/middleware_unix_test.go
  pkg/authorization/response.go
  pkg/devicemapper/devmapper.go
  pkg/devicemapper/devmapper_wrapper.go
  pkg/directory/directory.go
  pkg/fileutils/fileutils_test.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/usergroupadd_linux.go
  pkg/ioutils/bytespipe_test.go
  pkg/ioutils/fswriters_test.go
  pkg/ioutils/writers_test.go
  pkg/loopback/attach_loopback.go
  pkg/namesgenerator/names-generator_test.go
  pkg/plugins/plugins.go
  pkg/sysinfo/sysinfo_linux_test.go
  pkg/system/meminfo_linux.go
  pkg/system/path.go
  pkg/tailfile/tailfile.go
  pkg/tarsum/fileinfosums_test.go
  pkg/tarsum/tarsum_test.go
Owners: none
