Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

all: replace strings.Replace with strings.ReplaceAll
  builder/dockerfile/dispatchers_windows.go
  daemon/links/links.go
  daemon/oci_linux.go
  distribution/manifest_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  libnetwork/cmd/diagnostic/main.go
  libnetwork/drivers/windows/windows.go
  libnetwork/osl/kernel/knobs_linux.go
  pkg/archive/copy.go
  pkg/stack/stackdump.go
  registry/config_windows.go
  testutil/environment/environment.go
  volume/mounts/linux_parser.go
  volume/mounts/windows_parser.go
  volume/service/store_test.go
Owners: @tonistiigi

Improved readability of the run hack script
  contrib/dockerd-rootless.sh
  hack/make/run
Owners: @tianon

oci: DefaultLinuxSpec(): annotate default devices
  oci/defaults.go
Owners: none

Use containerd OCI defaults where possible
  daemon/oci_linux.go
  oci/defaults.go
Owners: none

Remove unused distribution/metadata/V1IDService
  distribution/metadata/v1_id_service.go
  distribution/metadata/v1_id_service_test.go
Owners: none

Remove unused image/v1 code
  image/v1/imagev1.go
  image/v1/imagev1_test.go
Owners: none

testutil/registry: remove unused WithStdout(), WithStErr() opts
  testutil/registry/ops.go
Owners: none

daemon/initlayer: Init(): remove unused stub for Windows
  daemon/initlayer/setup_windows.go
Owners: none

update golang to 1.18.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

vendor: golang.org/x/sys v0.0.0-20220412211240-33da011f77ad
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sys/cpu/byteorder.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/unix/asm_linux_loong64.s
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Owners: none

[20.10] update golang to 1.17.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

introduce /images/json?containers=true parameter
  api/server/router/image/image_routes.go
  api/swagger.yaml
  docs/api/version-history.md
Owners: none

introduce ability to list containers in memoryStore with filters
  container/view.go
  daemon/daemon.go
  daemon/images/image_commit.go
  daemon/images/image_delete.go
  daemon/images/images.go
  daemon/images/service.go
Owners: none

docs: document use of $TEST_FILTER and removal of gocheck
  docs/contributing/test.md
  hack/make/.integration-test-helpers
Owners: @tianon

hack: place integration test daemon socket in $TMPDIR
  hack/make/.integration-daemon-start
Owners: @tianon

hack: remove allegedly stale windows workaround
  hack/make/.integration-daemon-start
Owners: @tianon

daemon/archive: attempt to resolve leaking mounts during cp
  container/container_unix.go
  daemon/volumes_unix.go
  integration/container/mounts_linux_test.go
Owners: none

libnetwork/iptables: preserve existing forward rules instead of re-creation
  libnetwork/iptables/iptables.go
Owners: none

Make it explicit raw|multiplexed stream implementation being used
  api/server/router/container/container_routes.go
  api/server/router/container/exec.go
  api/server/router/swarm/helpers.go
  api/swagger.yaml
  api/types/backend/backend.go
  api/types/client.go
  api/types/types.go
  client/container_attach.go
  client/container_exec.go
  client/hijack.go
  daemon/attach.go
  docs/api/version-history.md
  integration-cli/docker_api_attach_test.go
  integration/container/attach_test.go
Owners: none

update runc binary to v1.1.2
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: github.com/opencontainers/runc v1.1.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

update runc binary to v1.1.2
  hack/dockerfile/install/runc.installer
Owners: @tianon

Remove reference to deprecated IOCTL BTRFS_IOC_SUBVOL_CREATE
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/btrfs_test.go
Owners: none

Rework subvolDelete to a more efficient algorithm.
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/btrfs_test.go
Owners: none

btrfs graphdriver: replace C.CString to direct work with _GoString_
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

Remove "seccomp" build tag
  Dockerfile
  daemon/seccomp_disabled.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
  hack/test/unit
  integration-cli/requirements_unix_test.go
  integration-cli/test_vars_noseccomp_test.go
  integration-cli/test_vars_seccomp_test.go
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp_unsupported.go
  project/PACKAGERS.md
Owners: @tianon, @thaJeztah

volume/local: remove hack for downgrading docker 1.7 to 1.6
  volume/local/local.go
  volume/local/local_unix.go
Owners: none

volume/local: remove redundant Root.scopedPath(), Root.scope
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

volume/local.New(): remove some intermediate variables
  volume/local/local.go
Owners: none

volume/local.New(): remove redundant filepath.Base()
  volume/local/local.go
Owners: none

Add Swarm cluster volume supports
  api/server/router/volume/backend.go
  api/server/router/volume/volume.go
  api/server/router/volume/volume_routes.go
  api/server/router/volume/volume_routes_test.go
  api/swagger.yaml
  api/types/mount/mount.go
  api/types/swarm/node.go
  api/types/swarm/task.go
  api/types/volume/cluster_volume.go
  api/types/volume/create_options.go
  api/types/volume/options.go
  api/types/volume/volume.go
  api/types/volume/volume_update.go
  client/interface.go
  client/request.go
  client/volume_update.go
  client/volume_update_test.go
  cmd/dockerd/daemon.go
  daemon/cluster/convert/node.go
  daemon/cluster/convert/task.go
  daemon/cluster/convert/volume.go
  daemon/cluster/convert/volume_test.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/container_test.go
  daemon/cluster/executor/container/controller.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/executor/container/validate.go
  daemon/cluster/helpers.go
  daemon/cluster/volumes.go
  docs/api/version-history.md
  docs/cluster_volumes.md
  plugin/manager.go
Owners: @cpuguy83

api/types/swarm: Version: implement stringer interface
  api/types/swarm/common.go
  client/config_update.go
  client/node_update.go
  client/secret_update.go
  client/service_update.go
  client/swarm_update.go
  client/volume_update.go
Owners: none

Add support for CpuCount/CpuPercent to image build
  api/server/router/build/build_routes.go
  api/swagger.yaml
  api/types/client.go
  builder/dockerfile/internals.go
  client/image_build.go
Owners: @tonistiigi

Allow different syscalls from kernels 5.12 -> 5.16
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

overlay2: test for and report metacopy status
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

Remove mount spec backport
  daemon/daemon.go
  daemon/volumes.go
  daemon/volumes_unix_test.go
Owners: none

volume: mask password in cifs mount error messages
  volume/local/local.go
  volume/local/local_test.go
  volume/local/local_unix.go
Owners: none

Rename Reservation to Reservations in the open API
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

docs: remove documentation about deprecated cluster-store
  docs/reference/commandline/dockerd.md
Owners: none

wsContainersAttach attach to stdin/out/err streams as requested
  api/server/router/container/container_routes.go
  api/types/backend/backend.go
  docs/api/version-history.md
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
