Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

vendor: golang.org/x/net v0.2.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Owners: none

ci: define timeout for jobs
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
Owners: none

Makefile: always use buildx
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
Owners: none

vendor: google.golang.org/grpc v1.50.1
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/conn_state_evaluator.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer_grpc.pb.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/credentials/alts/internal/handshaker/handshaker.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker_grpc.pb.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/binarylog/binarylog.go
  vendor/google.golang.org/grpc/internal/binarylog/env_config.go
  vendor/google.golang.org/grpc/internal/binarylog/method_logger.go
  vendor/google.golang.org/grpc/internal/envconfig/observability.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcrand/grpcrand.go
  vendor/google.golang.org/grpc/internal/grpcutil/method.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/unix/unix.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/metadata/metadata.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Owners: none

update containerd binary to v1.7.0-beta.0
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Remove reference to deprecated IOCTL BTRFS_IOC_SUBVOL_CREATE
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/btrfs_test.go
Owners: none

Rework subvolDelete to a more efficient algorithm.
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/btrfs_test.go
Owners: none

btrfs graphdriver: replace C.CString to direct work with _GoString_
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

daemon: remove migrateTrustKeyID()
  daemon/daemon.go
  daemon/id.go
  integration-cli/docker_cli_daemon_test.go
  integration/daemon/daemon_test.go
Owners: none

daemon/config: remove TrustKeyPath, and local utilities
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
  daemon/config/config.go
  daemon/daemon.go
  daemon/trustkey.go
  daemon/trustkey_test.go
Owners: none

distribution: remove unused RequireSchema2
  distribution/config.go
  distribution/pull_v2.go
  distribution/push_v2.go
Owners: none

use ad-hoc libtrust key
  cmd/dockerd/options.go
  daemon/daemon.go
  daemon/images/image_push.go
  daemon/images/service.go
  daemon/trustkey.go
  daemon/trustkey_test.go
  distribution/config.go
Owners: none

distribution: use ad-hoc trustkey for tests
  distribution/push_v2.go
Owners: none

Jenkinsfile: Fix dev image build fox ppc64le/s390x archs
  Jenkinsfile
Owners: none

daemon/disk_usage: Use context aware singleflight
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/image_service.go
  daemon/images/image_list.go
  daemon/images/service.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
  vendor/resenje.org/singleflight/LICENSE
  vendor/resenje.org/singleflight/README.md
  vendor/resenje.org/singleflight/singleflight.go
  volume/service/service.go
Owners: none

pkg/system: deprecate DefaultPathEnv, move to oci
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  container/container.go
  oci/defaults.go
  pkg/system/path.go
  pkg/system/path_deprecated.go
  plugin/v2/plugin_linux.go
Owners: @tonistiigi, @cpuguy83

pkg/system: move GetLongPathName to integration-cli
  integration-cli/docker_cli_build_test.go
  integration-cli/utils_unix_test.go
  integration-cli/utils_windows_test.go
  pkg/system/path_unix.go
  pkg/system/path_windows.go
Owners: none

pkg/system: CheckSystemDriveAndRemoveDriveLetter: fix error format
  pkg/system/path_windows.go
  pkg/system/path_windows_test.go
Owners: none

pkg/system: move CheckSystemDriveAndRemoveDriveLetter to pkg/archive
  container/archive_windows.go
  daemon/archive_windows.go
  pkg/archive/path.go
  pkg/archive/path_unix.go
  pkg/archive/path_windows.go
  pkg/archive/path_windows_test.go
Owners: none

Windows: Run containerd as managed process
  .github/workflows/.windows.yml
  cmd/dockerd/daemon_windows.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_windows.go
  daemon/daemon_windows.go
  daemon/start_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
Owners: none

windows: libcontainer: prefer bundled containerd.exe
  cmd/dockerd/daemon_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_options.go
Owners: none

pkg/system: don't use "unsafe" to detect maxTime
  pkg/system/chtimes.go
Owners: none

pkg/system: use math.MaxIntXX consts to detect 32-bit platform
  pkg/system/chtimes.go
Owners: none

registry: session: remove unused id
  registry/session.go
Owners: none

registry: session: remove unused id
  registry/session.go
Owners: none

libnetwork: sandbox.setupDNS() simplify reading of resolv.conf
  libnetwork/sandbox_dns_unix.go
Owners: none

libnetwork: sandbox.setupDNS() don't parse host resolv.conf if not needed
  libnetwork/sandbox_dns_unix.go
Owners: none

libnetwork: sandbox.rebuildDNS() simplify reading of resolv.conf
  libnetwork/sandbox_dns_unix.go
Owners: none

libnetwork/drivers/overlay: getBridgeNamePrefix() simplify reading of resolv.conf
  libnetwork/drivers/overlay/ov_network.go
Owners: none

libnetwork: sandbox.rebuildDNS() make updating sandbox more atomic
  libnetwork/sandbox_dns_unix.go
Owners: none

libnetwork: sandbox.rebuildDNS() move variables closer to where they're used
  libnetwork/sandbox_dns_unix.go
Owners: none

libnetwork/netutils: FindAvailableNetwork(): simplify reading of resolv.conf
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_windows.go
Owners: none

Add implementation of wildcard DNS lookup for container aliases
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
Owners: none

Add sanity checking for modified svcMap while iterating through it. Suggestion from @DerZade Fixes https://github.com/moby/moby/pull/43444#discussion_r1033364679 Fixes #43442
  libnetwork/network.go
Owners: none

vendor.mod: remove outdated comment about replaced module
  vendor.mod
Owners: none

vendor.mod: remove outdated comment about replaced module
  vendor.mod
Owners: none

ignorefiles: cleanup
  .dockerignore
  .gitignore
Owners: none

ci: define timeout for jobs
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
Owners: none

Makefile: always use buildx
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
Owners: none

Jenkinsfile: Fix dev image build fox ppc64le/s390x archs
  Jenkinsfile
Owners: none
