Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Owners: none

pkg/chrootarchive: use t.TempDir()
  pkg/chrootarchive/archive_test.go
  pkg/chrootarchive/archive_unix_test.go
Owners: none

pkg/chrootarchive: TestChrootTarUntar fix copy/paste mistake
  pkg/chrootarchive/archive_test.go
Owners: none

pkg/chrootarchive: replace system.MkdirAll for os.Mkdir
  pkg/chrootarchive/archive_test.go
  pkg/chrootarchive/archive_unix_test.go
Owners: none

pkg/chrootarchive: gofumpt test files
  pkg/chrootarchive/archive_test.go
  pkg/chrootarchive/archive_unix_test.go
Owners: none

pkg/fileutils: improve tests
  pkg/fileutils/fileutils_test.go
Owners: none

pkg/fileutils: ReadSymlinkedDirectory: preserve underlying error
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

daemon: NewDaemon(): log message if containerd snapshotter is enabled
  daemon/daemon.go
Owners: none

daemon: add TEST_INTEGRATION_USE_SNAPSHOTTER for CI
  Jenkinsfile
  Makefile
  daemon/daemon.go
  hack/make/.integration-test-helpers
Owners: @tianon

daemon: NewDaemon(): check system requirements early
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
Owners: none

daemon: getPluginExecRoot(): pass config
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_windows.go
Owners: none

Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
Owners: none

registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Owners: none

registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Owners: none

Present a better error for "unmanifested" Windows builds
  daemon/daemon_windows.go
Owners: none

[20.10] vendor moby/buildkit v0.8.3-31-gc0149372
  vendor.conf
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/contentutil/buffer.go
  vendor/github.com/moby/buildkit/util/contentutil/source.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
Owners: none

daemon: NewDaemon(): replace system.MkdirAll for os.Mkdir where possible
  daemon/daemon.go
Owners: none

daemon: NewDaemon() fix import colliding with local variable
  daemon/daemon.go
Owners: none

vendor: github.com/moby/buildkit v0.10.5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/contentutil/buffer.go
  vendor/github.com/moby/buildkit/util/contentutil/source.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/contentutil/buffer.go
  vendor/github.com/moby/buildkit/util/contentutil/source.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/modules.txt
Owners: none

builder: modernize TestCheckoutGit
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: explicitly set CWD for all git commands
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: isolate git from local system
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: make git config isolation opt-in
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
Owners: none

builder: modernize TestCheckoutGit
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: explicitly set CWD for all git commands
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
Owners: none

builder: make git config isolation opt-in
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: isolate git from local system
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

Avoid iptables lock error for endpoint port mapping
  libnetwork/iptables/iptables.go
Owners: none

Signed-off-by: BobbyNie <bobbynie@139.com>
  contrib/download-frozen-image-v2.sh
Owners: none

Signed-off-by: BobbyNie <bobbynie@139.com>
  Dockerfile
Owners: none

builder: fix running git commands on Windows
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder: add missing doc comment
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder: make git config isolation opt-in
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: modernize TestCheckoutGit
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: explicitly set CWD for all git commands
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi

builder: fix running git commands on Windows
  builder/remotecontext/git/gitutils.go
Owners: @tonistiigi

builder: isolate git from local system
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Owners: @tonistiigi
