Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

vendor: github.com/containerd/containerd v1.6.7
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Makefile
  vendor/github.com/containerd/containerd/Makefile.linux
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/auth/parse.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

update containerd binary to v1.6.7
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update runc binary to v1.1.3
  hack/dockerfile/install/runc.installer
Owners: @tianon

update containerd binary to v1.6.7
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update runc binary to v1.1.3
  hack/dockerfile/install/runc.installer
Owners: @tianon

update containerd binary to v1.6.7
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor buildkit 8e2d9b9 (v0.10 branch)
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/modules.txt
Owners: none

vendor buildkit 8e2d9b9 (v0.10 branch)
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/modules.txt
Owners: none

add PID file to the docker.service
  contrib/init/systemd/docker.service
Owners: none

[projectquota] remove path from state if volume is deleted
  .gitignore
  quota/projectquota.go
  volume/local/local.go
Owners: none

vendor: github.com/containerd/containerd v1.6.7
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Makefile
  vendor/github.com/containerd/containerd/Makefile.linux
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/auth/parse.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

api/server/router/image: address some linter warnings
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
Owners: none

daemon, builder: rename variables that collided with imports
  builder/dockerfile/evaluator_test.go
  daemon/images/image_commit.go
  daemon/images/image_delete.go
  daemon/list.go
Owners: @tonistiigi

[projectquota] use quota state map appropriately
  quota/projectquota.go
  volume/local/local.go
Owners: none

[gitignore] remove .idea/ from .gitignore
  .gitignore
Owners: none

pkg/idtools: remove deprecated NewIdentityMapping, UIDS() and GIDS()
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix.go
Owners: none

cmd/dockerd: fix some minor issues in Windows implementation
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
Owners: none

golangci-lint: enable nolintlint
  hack/validate/golangci-lint.yml
Owners: @tianon

libcontainerd/supervisor: remove unused RWMutex
  libcontainerd/supervisor/remote_daemon.go
Owners: none

libcontainerd/supervisor: remove unused remote.rootDir
  libcontainerd/supervisor/remote_daemon.go
Owners: none

Filter images, not their summaries
  api/swagger.yaml
  daemon/images/image_list.go
  integration/image/list_test.go
Owners: none

List images with multiple before/after filters
  api/swagger.yaml
  daemon/images/image_list.go
Owners: none

libcontainerd/supervisor: platformCleanup(): use canonical socket address
  libcontainerd/supervisor/remote_daemon_linux.go
Owners: none

libcontainerd/supervisor: use correct logger
  libcontainerd/supervisor/remote_daemon.go
Owners: none

libcontainerd/supervisor: make supervisor adjust OOM score for containerd
  cmd/dockerd/daemon_unix.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_options_linux.go
Owners: none

libcontainerd/supervisor: store location of pidFile
  libcontainerd/supervisor/remote_daemon.go
Owners: none

libcontainerd/supervisor: store location of config-file
  libcontainerd/supervisor/remote_daemon.go
Owners: none

libcontainerd/supervisor: don't write log-level to config file
  cmd/dockerd/daemon.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_options.go
Owners: none

cmd/dockerd: initContainerD(): clean-up some logs
  cmd/dockerd/daemon_unix.go
  libcontainerd/supervisor/remote_daemon.go
Owners: none

cmd/dockerd: initContainerd() use early return
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
Owners: none

daemon/config: fix GoDoc for StockRuntimeName
  daemon/config/config_windows.go
Owners: none

libcontainerd/remote: clean-up logs in client code
  libcontainerd/remote/client.go
Owners: none

containerd/load: Load all platforms
  daemon/containerd/image_exporter.go
Owners: none

integration-cli: Correct emptyfs id under c8d
  hack/make/.ensure-emptyfs
  integration-cli/docker_cli_inspect_test.go
Owners: @tianon

containerd/save: Export only present platform manifests
  daemon/containerd/image_exporter.go
Owners: none

Stop locking container exec store while starting
  daemon/exec.go
  daemon/exec/exec.go
Owners: none

Update container OOMKilled flag immediately
  api/swagger.yaml
  container/container.go
  container/state.go
  daemon/monitor.go
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
Owners: none

Refactor libcontainerd to minimize c8d RPCs
  container/container.go
  container/exec.go
  container/state.go
  container/state_test.go
  daemon/checkpoint.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/delete_test.go
  daemon/exec.go
  daemon/exec_linux.go
  daemon/exec_linux_test.go
  daemon/exec_windows.go
  daemon/health.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_test.go
  daemon/inspect_windows.go
  daemon/kill.go
  daemon/monitor.go
  daemon/pause.go
  daemon/resize.go
  daemon/resize_test.go
  daemon/start.go
  daemon/top_unix.go
  daemon/top_windows.go
  daemon/unpause.go
  daemon/update.go
  daemon/util_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/local/process_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

Share logic to create-or-replace a container
  daemon/start.go
  libcontainerd/replace.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

Lock container when deleting its root directory
  daemon/delete.go
Owners: none
