Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

update containerd binary to v1.5.10
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Dockerfile.windows; update containerd binary to v1.5.10
  Dockerfile.windows
Owners: none

update containerd binary to v1.5.10
  hack/dockerfile/install/containerd.installer
Owners: @tianon

pkg/parsers: support Windows 11; drop ProductName
  pkg/parsers/operatingsystem/operatingsystem_windows.go
  pkg/parsers/operatingsystem/windows_os_string.go
  pkg/parsers/operatingsystem/windows_os_string_test.go
Owners: none

Fix incorrect operating system information reported on Windows
  pkg/parsers/operatingsystem/operatingsystem_windows.go
Owners: none

pkg/archive: DetectCompression(): use bytes.HasPrefix()
  pkg/archive/archive.go
Owners: none

compression: support zstd with skippable frame
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

compression: add support for the zstd algorithm
  Dockerfile
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

api: remove unused RootFS.BaseLayer
  api/types/types.go
Owners: none

api: docs: remove deprecated RootFS.BaseLayer (current API version)
  api/swagger.yaml
Owners: none

api: docs: remove deprecated RootFS.BaseLayer (API v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Owners: none

distribution: retry downloading schema config on retryable error
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/xfer/transfer.go
Owners: none

distribution: retry downloading schema config on retryable error
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/xfer/transfer.go
Owners: none

api: swagger: move Volume examples inline
  api/swagger.yaml
Owners: none

api: docs: move Volume examples inline (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: swagger: move VolumeCreateOptions to definitions
  api/swagger.yaml
  api/types/volume/volume_create.go
  api/types/volume/volume_create_body.go
  hack/generate-swagger-api.sh
Owners: @tianon

api: docs: move VolumeCreateOptions to definitions (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: swagger: move ContainerWaitResponse to definitions
  api/swagger.yaml
  api/types/container/container_wait.go
  api/types/container/container_wait_o_k_body.go
  api/types/container/container_wait_o_k_body_error.go
  hack/generate-swagger-api.sh
Owners: @tianon

api: docs: move ContainerWaitResponse to definitions (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: swagger: fix indentation of HostConfig.SecurityOpt
  api/swagger.yaml
Owners: none

api: docs: fix indentation of HostConfig.SecurityOpt (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

remove deprecated pkg/mount
  pkg/mount/deprecated.go
  pkg/mount/deprecated_linux.go
  pkg/mount/deprecated_unix.go
Owners: none

remove deprecated pkg/term, pkg/term/windows
  pkg/term/deprecated.go
  pkg/term/deprecated_unix.go
  pkg/term/windows/deprecated.go
  pkg/term/windows/windows_test.go
Owners: none

remove deprecated pkg/locker
  pkg/locker/locker.go
Owners: none

remove deprecated pkg/symlink
  pkg/symlink/deprecated.go
Owners: none

remove deprecated builder/dockerignore
  builder/dockerignore/deprecated.go
Owners: @tonistiigi

Fix the misuse of syscall's return value
  pkg/parsers/operatingsystem/operatingsystem_windows.go
Owners: none

Add locking to the ZFS driver
  daemon/graphdriver/zfs/zfs.go
Owners: none

client: use canonical names for HTTP Headers
  client/request.go
Owners: none

Correct type of Mounts in ContainerSummary
  api/swagger.yaml
Owners: none

Correct type of Mounts in ContainerSummary in docs
  docs/api/v1.41.yaml
Owners: none

Correct type of Mounts in ContainerSummary in docs (v1.25-v1.40)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Owners: none

client: various small test-improvements
  client/client_test.go
Owners: none

client: TestGetAPIPath(): update test to use more realistic results
  client/client_test.go
Owners: none

client: TestNegotiateAPIVersion(), TestClientRedirect(): use sub-tests
  client/client_test.go
Owners: none

client: improve GoDoc, and minor touch-ups
  client/client.go
  client/client_unix.go
  client/client_windows.go
  client/options.go
Owners: none

client: add const for environment variables, and document them
  client/client.go
  client/client_unix.go
  client/client_windows.go
  client/envvars.go
  client/options.go
Owners: none

daemon: remove v1 shim configuration for containerd
  cmd/dockerd/daemon_unix.go
  daemon/config/config.go
  vendor/github.com/containerd/containerd/pkg/process/deleted_state.go
  vendor/github.com/containerd/containerd/pkg/process/exec.go
  vendor/github.com/containerd/containerd/pkg/process/exec_state.go
  vendor/github.com/containerd/containerd/pkg/process/init.go
  vendor/github.com/containerd/containerd/pkg/process/init_state.go
  vendor/github.com/containerd/containerd/pkg/process/io.go
  vendor/github.com/containerd/containerd/pkg/process/io_util.go
  vendor/github.com/containerd/containerd/pkg/process/process.go
  vendor/github.com/containerd/containerd/pkg/process/types.go
  vendor/github.com/containerd/containerd/pkg/process/utils.go
  vendor/github.com/containerd/containerd/pkg/stdio/platform.go
  vendor/github.com/containerd/containerd/pkg/stdio/stdio.go
  vendor/github.com/containerd/containerd/runtime/events.go
  vendor/github.com/containerd/containerd/runtime/monitor.go
  vendor/github.com/containerd/containerd/runtime/runtime.go
  vendor/github.com/containerd/containerd/runtime/task.go
  vendor/github.com/containerd/containerd/runtime/task_list.go
  vendor/github.com/containerd/containerd/runtime/typeurl.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/bundle.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/process.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/runtime.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/task.go
  vendor/github.com/containerd/containerd/runtime/v1/shim.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client_unix.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/local.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_unix.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/doc.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/shim.proto
  vendor/github.com/containerd/containerd/sys/reaper/reaper_unix.go
  vendor/github.com/containerd/containerd/sys/reaper/reaper_utils_linux.go
  vendor/modules.txt
Owners: none

pkg/sysinfo: remove libcontainer dependency
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

api: swagger: document MountPoint fields
  api/swagger.yaml
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
