Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

libnetwork/types: remove TransportPort.FromString() as it's unused
  libnetwork/types/types.go
  libnetwork/types/types_test.go
Owners: none

use defer to unlock mutex
  pkg/ioutils/bytespipe.go
Owners: none

pkg/sysinfo: use containerd/pkg/seccomp.IsEnabled()
  pkg/sysinfo/sysinfo_linux.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp_linux.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp_unsupported.go
Owners: none

libnetwork: remove API, as it's no longer used
  libnetwork/api/api.go
  libnetwork/api/api_linux_test.go
  libnetwork/api/types.go
Owners: none

api: add const for 'X-Registry-Auth'
  api/server/middleware/cors.go
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/swarm/cluster_routes.go
  api/types/auth.go
  client/distribution_inspect.go
  client/image_create.go
  client/image_create_test.go
  client/image_pull_test.go
  client/image_push.go
  client/image_push_test.go
  client/image_search.go
  client/image_search_test.go
  client/plugin_install.go
  client/plugin_push.go
  client/plugin_push_test.go
  client/plugin_upgrade.go
  client/service_create.go
  client/service_update.go
Owners: none

libnetwork: fix some linting issues
  libnetwork/network.go
Owners: none

libnetwork/ipamapi: godoc fixes
  libnetwork/ipamapi/contract.go
Owners: none

client: use subtests for TestNetworkInspect
  client/network_inspect_test.go
Owners: none

overlay2: async umount until kernel can process umount syscall completely
  daemon/graphdriver/counter.go
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

vendor.conf: replace vanity URL for code.cloudfoundry.org/clock (broken)
  vendor.conf
Owners: none

WIP temporarily use vndr fork
  hack/dockerfile/install/vndr.installer
Owners: @tianon

daemon.WithCommonOptions() fix detection of user-namespaces
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration/container/run_linux_test.go
Owners: none

libnetwork: use Optimistic DAD if available
  libnetwork/osl/interface_linux.go
Owners: none

pkg/plugins: fix compatibility with go1.16
  pkg/plugins/discovery.go
  pkg/plugins/utils.go
  pkg/plugins/utils_go1.16.go
Owners: none

Added pride month to namegenerator
  pkg/namesgenerator/names-generator.go
Owners: none

api/swagger: fix up event-types and move to definitions
  api/swagger.yaml
Owners: none

api/swagger: rename PluginPrivilegeItem to PluginPrivilege
  api/swagger.yaml
Owners: none

api/swagger: move DistributionInspect to definitions
  api/swagger.yaml
Owners: none

remove deprecated "nokmem" build-tag for runc
  hack/dockerfile/install/runc.installer
Owners: @tianon

Dockerfile: remove GOPROXY override (was for go < 1.14)
  hack/dockerfile/install/rootlesskit.installer
Owners: @tianon

Dockerfile: use version for some utilities instead of commit-sha
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/rootlesskit.installer
  hack/dockerfile/install/runc.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/tini.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Dockerfile: use "go install" to install utilities
  Dockerfile.windows
  hack/dockerfile/install/golangci_lint.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/shfmt.installer
  hack/dockerfile/install/tomll.installer
  hack/dockerfile/install/vndr.installer
Owners: @tianon

Dockerfile: update gotestsum to v1.7.0
  Dockerfile.windows
  hack/dockerfile/install/gotestsum.installer
Owners: @tianon

Update seccomp policy to allow clone3()
  profiles/seccomp/default.json
Owners: none

Display the statistics after docker pull is finished.
  distribution/xfer/download.go
  pkg/jsonmessage/jsonmessage.go
  pkg/progress/progress.go
  pkg/streamformatter/streamformatter.go
Owners: none

docker save: adjust timestamp on the duplicated layers.
  image/tarexport/save.go
  pkg/system/chtimes.go
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_nowindows.go
  pkg/system/chtimes_windows.go
Owners: none

Update names-generator.go
  pkg/namesgenerator/names-generator.go
Owners: none

Changing random number generation using the crypto/rand package instead of math/rand (G404)
  pkg/namesgenerator/cmd/names-generator/main.go
  pkg/namesgenerator/names-generator.go
  pkg/namesgenerator/names-generator_test.go
Owners: none

libnetwork/overlay:fix join sandbox deadlock
  libnetwork/drivers/overlay/peerdb.go
Owners: none

libnetwork/overlay:remove unused peerInit function
  libnetwork/drivers/overlay/peerdb.go
Owners: none

cmd/dockerd: add the link of "the documentation"
  cmd/dockerd/daemon.go
Owners: none

update runc binary to v1.0.2
  hack/dockerfile/install/runc.installer
Owners: @tianon

seccomp: add support for "clone3" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
Owners: none

pkg/namesgenerator: replace uses of fmt.Sprintf()
  pkg/namesgenerator/names-generator.go
  pkg/namesgenerator/names-generator_test.go
Owners: none

- Changed the sprintf() usage and replaced strconv() for stringify the integers - Closures got shorter - Because of low performance and more memory usage, math/rand is used instead of crypto/rand
  pkg/namesgenerator/names-generator.go
  pkg/namesgenerator/names-generator_test.go
Owners: none

Update Go to 1.17.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.16.8
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Mount host's certificate bundles
  contrib/dockerd-rootless.sh
Owners: none

[do not merge] testing Jenkins after GitHub API changes
  Jenkinsfile
Owners: none

Use private network address for default-address-pools setting in daemon.json example
  docs/reference/commandline/dockerd.md
Owners: none
