Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

hack: update buildmode pie condition
  hack/make/.binary
Owners: @tianon

IAmStatic not used anymore
  dockerversion/version_lib.go
  hack/make.sh
  hack/make/.go-autogen
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Owners: @tianon

hack: use PKG_CONFIG var when checking libdevmapper
  hack/make.sh
Owners: @tianon

bake: define additional vars
  docker-bake.hcl
Owners: none

ci: add extra steps to check artifacts
  .github/workflows/ci.yml
Owners: none

ci: use GITHUB_REF and GITHUB_SHA to set version and commit
  docker-bake.hcl
  hack/make.sh
Owners: @tianon

bake: define DESTDIR
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  docker-bake.hcl
Owners: none

Dockerfile: rename dev stages
  Dockerfile
  Makefile
  docker-bake.hcl
Owners: none

docs: contributing docs update for cross comp
  docs/contributing/README.md
  docs/contributing/ctn-build.md
Owners: none

Dockerfile: add "all" stage to build binaries and extra tools
  .github/workflows/ci.yml
  Dockerfile
  docker-bake.hcl
Owners: none

use errors.Is() to handle image store errors
  daemon/images/image_list.go
  image/store.go
  layer/layer_test.go
Owners: none

vendor: github.com/tonistiigi/fsutil v0.0.0-20220930225714-4638ad635be5
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/exporter/local/export.go
  vendor/github.com/moby/buildkit/exporter/tar/export.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/tonistiigi/fsutil/Dockerfile
  vendor/github.com/tonistiigi/fsutil/chtimes_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_nowindows.go
  vendor/github.com/tonistiigi/fsutil/copy/device_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/device_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/stat_sysv.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_freebsd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unixnobsd.go
  vendor/github.com/tonistiigi/fsutil/docker-bake.hcl
  vendor/github.com/tonistiigi/fsutil/followlinks.go
  vendor/github.com/tonistiigi/fsutil/fs.go
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Owners: none

image: make ID an alias for Digest
  api/server/router/image/image_routes.go
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/builder-next/exporter/export.go
  daemon/images/image.go
  daemon/images/image_delete.go
  daemon/images/image_history.go
  daemon/images/image_list.go
  daemon/images/image_prune.go
  daemon/images/image_tag.go
  daemon/images/service.go
  daemon/list_test.go
  distribution/config.go
  image/image.go
  image/image_test.go
  image/store.go
  image/store_test.go
  image/tarexport/load.go
  image/tarexport/save.go
Owners: @tonistiigi

hack: remove containerutility script
  hack/make/containerutility
Owners: @tianon

Dockerfile: use TARGETPLATFORM to build Docker
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  docker-bake.hcl
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
  hack/README.md
  hack/make.sh
  hack/make/.binary
  hack/make/binary-daemon
  hack/make/cross
  hack/make/cross-platform-dependent
Owners: @tianon

hack: update buildmode pie condition
  hack/make/.binary
Owners: @tianon

IAmStatic not used anymore
  dockerversion/version_lib.go
  hack/make.sh
  hack/make/.go-autogen
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Owners: @tianon

bake: define DESTDIR
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  docker-bake.hcl
Owners: none

hack: use PKG_CONFIG var when checking libdevmapper
  hack/make.sh
Owners: @tianon

hack: do not set buildmode pie for statically linked binary
  Dockerfile
  hack/make/.binary
  hack/make/binary-daemon
  hack/make/binary-proxy
Owners: @tianon

Dockerfile: add "all" stage to build binaries and extra tools
  .github/workflows/ci.yml
  Dockerfile
  docker-bake.hcl
Owners: none

ci: add extra steps to check artifacts
  .github/workflows/ci.yml
Owners: none

ci: use GITHUB_REF and GITHUB_SHA to set version and commit
  docker-bake.hcl
  hack/make.sh
Owners: @tianon

Dockerfile: rename dev stages
  Dockerfile
  Makefile
  docker-bake.hcl
Owners: none

bake: define additional vars
  docker-bake.hcl
Owners: none

docs: contributing docs update for cross comp
  docs/contributing/README.md
  docs/contributing/ctn-build.md
Owners: none

Fix volume CreatedAt being altered on initialization
  integration/volume/volume_test.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

Fix volume CreatedAt being altered on initialization
  integration/volume/volume_test.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Owners: none

`GenerateRandomName` now panics when `size` is over 64. Fixes #44362
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

Updated outdated docker contributing guidelines link
  CONTRIBUTING.md
Owners: none

`GenerateRandomName` now returns an error instead of panicing in the case of `size` being greater than 64.
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

The fatal message in the test now states "An error should be returned ..."
  libnetwork/netutils/utils_linux_test.go
Owners: none

Fixed bug in the test where the error was checked for not being nil, when it should be checking for nil.
  libnetwork/netutils/utils_linux_test.go
Owners: none

Clear conntrack entries for published UDP ports
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/iptables/conntrack.go
Owners: none

hack: restore copy_binaries func
  hack/make/binary-daemon
Owners: @tianon

hack/make: Don't add -buildmode=pie with -race
  hack/make/.binary
Owners: @tianon

add support for image inspect with containerd-integration
  api/server/router/image/image_routes.go
  daemon/containerd/image.go
  daemon/images/image.go
  image/image.go
  pkg/platforms/platforms.go
Owners: none

integration-cli: Fix hanging TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Owners: none

Clear conntrack entries for published UDP ports
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/iptables/conntrack.go
Owners: none

hack/make: Don't add -buildmode=pie with -race
  hack/make/.binary
Owners: @tianon
