Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230406225228-75e92ce14ff7
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/drivers_network_windows.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/manager.go
  vendor/modules.txt
Owners: none

docker-rootless-setuptools.sh: improve readability of messages
  contrib/dockerd-rootless-setuptool.sh
Owners: none

c8d: Set the process user on exec
  daemon/exec_linux.go
Owners: none

Vendor containerd 1.6.x with the readonly mount fix
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/images/archive/exporter.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/modules.txt
Owners: none

pkg/platform: rename files for consistency
  pkg/platform/platform_unix.go
  pkg/platform/platform_windows.go
Owners: none

pkg/platform: move package doc to platform-agnostic file
  pkg/platform/platform.go
  pkg/platform/platform_unix.go
Owners: none

pkg/platform: replace use of deprecated syscall.Syscall
  pkg/platform/platform_windows.go
Owners: none

pkg/platform: use const for OSType, improve GoDoc
  pkg/platform/platform.go
  pkg/platform/platform_windows.go
Owners: none

pkg/platform: un-export consts that are only for internal use
  pkg/platform/platform_windows.go
Owners: none

pkg/platform: deprecate OSType in favor or runtime.GOOS
  daemon/info.go
  pkg/platform/platform.go
Owners: none

daemon: move code related to stats together
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/stats_unix.go
  daemon/stats_windows.go
Owners: none

use consistent alias for containerd's errdefs package
  api/server/httpstatus/status.go
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/snapshot/snapshot.go
  daemon/images/image.go
  daemon/images/store.go
  daemon/images/store_test.go
  distribution/manifest.go
  distribution/manifest_test.go
  integration/container/pause_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  plugin/fetch_linux.go
Owners: @tonistiigi, @cpuguy83

golangci-lint: enable importas linter to force consistent aliases
  hack/validate/golangci-lint.yml
Owners: @tianon

vendor: github.com/ishidawataru/sctp v0.0.0-20230406120618-7ff4192f6ff2
  vendor.mod
  vendor.sum
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/modules.txt
Owners: none

split GetRepository from ImageService
  cmd/dockerd/daemon.go
  daemon/containerd/image_pull.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_pull.go
Owners: none

Dockerfile: update xx to 1.2.1
  Dockerfile
Owners: none

Added timeout to validate job in github actions
  .github/workflows/test.yml
Owners: none

libnet/ipam: Lazily sub-divide pools into subnets
  daemon/config/config_test.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/parallel_test.go
  libnetwork/ipam/structures.go
  libnetwork/ipam/utils.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipamutils/utils.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/netutils/utils_linux_test.go
Owners: none

libnetwork: clean up inDelete network atomically
  libnetwork/network.go
Owners: none

Deprecate dockerd's api-cors-header parameter
  api/server/middleware/cors.go
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/info.go
Owners: none

docs/reference: remove mention of DOCKER_NOWARN_KERNEL_VERSION
  docs/reference/commandline/dockerd.md
Owners: none

docs/reference: dockerd: use table for env-vars
  docs/reference/commandline/dockerd.md
Owners: none

docs/reference: dockerd: update seccomp flag description
  docs/reference/commandline/dockerd.md
Owners: none

docs/reference: dockerd: remove default oom-score-adjust
  docs/reference/commandline/dockerd.md
Owners: none

docs: update dockerd usage output for new proxy-options
  docs/reference/commandline/dockerd.md
Owners: none

Fix error checking when pulling from an insecure registry
  daemon/containerd/resolver.go
Owners: none

daemon: deprecate --oom-score-adjust for the daemon
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon_unix.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  libcontainerd/supervisor/remote_daemon_options_linux.go
Owners: none

[20.10] test containerd binary v1.7.0
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.7.0
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon: touch-up flag description for --seccomp-profile
  cmd/dockerd/config_unix.go
Owners: none

vendor: github.com/ishidawataru/sctp v0.0.0-20230406120618-7ff4192f6ff2
  vendor.mod
  vendor.sum
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/modules.txt
Owners: none

c8d/list: Implement `label` and `label!` filter
  daemon/containerd/handlers.go
  daemon/containerd/image_list.go
Owners: none

images/Children: Return error
  daemon/containerd/image_children.go
  daemon/image_service.go
  daemon/images/service.go
  daemon/list.go
Owners: none

Fix argument quoting bugs in dockerd-rootless.sh
  contrib/dockerd-rootless.sh
Owners: none

vendor: github.com/moby/buildkit v0.11.6-0.20230413154110-58fc08b01a03
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_common.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_linux.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/modules.txt
Owners: none

Revert "Skip Buildkit digest tests"
  .github/workflows/buildkit.yml
Owners: none

update runc binary to v1.1.6
  Dockerfile
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: golang.org/x/text v0.8.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.8.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
