Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

integration-cli: fix empty-lines (revive)
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_api_inspect_test.go
  integration-cli/docker_api_swarm_node_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_cli_attach_unix_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_health_test.go
  integration-cli/docker_cli_history_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_links_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_prune_unix_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_pull_test.go
  integration-cli/docker_cli_rmi_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_service_health_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_cli_swarm_unix_test.go
Owners: none

daemon/cluster: fix empty-lines (revive)
  daemon/cluster/convert/container.go
  daemon/cluster/convert/network.go
  daemon/cluster/convert/service.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/health_test.go
  daemon/cluster/services.go
Owners: none

volume: fix empty-lines (revive)
  volume/local/local_test.go
  volume/local/local_unix.go
  volume/mounts/parser_test.go
  volume/mounts/windows_parser.go
  volume/service/service_test.go
Owners: none

plugin: fix empty-lines (revive)
  plugin/backend_linux.go
  plugin/manager_linux.go
  plugin/v2/settable_test.go
Owners: @cpuguy83

integration: fix empty-lines (revive)
  integration/config/config_test.go
  integration/container/daemon_linux_test.go
  integration/container/logs_test.go
  integration/container/restart_test.go
  integration/container/wait_test.go
  integration/internal/requirement/requirement_linux.go
  integration/network/service_test.go
  integration/plugin/logging/read_test.go
  integration/secret/secret_test.go
  integration/service/create_test.go
  integration/service/list_test.go
  integration/system/event_test.go
Owners: none

testutil: fix empty-lines (revive)
  testutil/daemon/plugin.go
  testutil/fakecontext/context.go
  testutil/fixtures/load/frozen.go
Owners: none

builder: fix empty-lines (revive)
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/dockerfile/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/internals_test.go
  builder/remotecontext/detect_test.go
Owners: @tonistiigi

daemon/images: fix empty-lines (revive)
  daemon/images/image_delete.go
  daemon/images/image_list.go
  daemon/images/image_search.go
  daemon/images/image_squash.go
  daemon/images/store.go
Owners: none

daemon/logger: fix empty-lines (revive)
  daemon/logger/adapter_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/sharedtemp.go
  daemon/logger/loggerutils/sharedtemp_test.go
  daemon/logger/ring_test.go
  daemon/logger/syslog/syslog.go
Owners: @samuelkarp

daemon/graphdriver: fix empty-lines (revive)
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/graphtest/graphbench_unix.go
  daemon/graphdriver/graphtest/testutil.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/zfs/zfs.go
Owners: @rhvgoyal, @dmcgowan

opts: fix empty-lines (revive)
  opts/address_pools_test.go
  opts/opts_test.go
Owners: none

daemon: fix empty-lines (revive)
  daemon/container_operations.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
  daemon/network.go
  daemon/network/filter_test.go
  daemon/oci_linux.go
  daemon/reload_test.go
  daemon/restart.go
  daemon/seccomp_linux_test.go
Owners: none

api/server: fix empty-lines (revive)
  api/server/middleware/version.go
  api/server/router/build/build_routes.go
  api/server/router/swarm/helpers_test.go
Owners: none

runconfig, oci, image, layer, distribution: fix empty-lines (revive)
  distribution/manifest_test.go
  distribution/xfer/download.go
  image/fs_test.go
  image/tarexport/save.go
  layer/layer_unix_test.go
  oci/devices_linux.go
  registry/config_test.go
  runconfig/config_test.go
Owners: none

client: fix empty-lines (revive)
  client/events.go
  client/events_test.go
Owners: none

cmd/dockerd: fix empty-lines (revive)
  cmd/dockerd/daemon.go
  cmd/dockerd/trap/trap_linux_test.go
Owners: none

contrib: make dockerd-rootless-setuptool.sh more robust
  contrib/dockerd-rootless-setuptool.sh
Owners: none

logger/journald: unlock OS threads
  daemon/logger/journald/read.go
Owners: none

contrib: make dockerd-rootless-setuptool.sh more robust
  contrib/dockerd-rootless-setuptool.sh
Owners: none

docker-rootless-setuptools.sh: use context after install
  contrib/dockerd-rootless-setuptool.sh
Owners: none

contrib: make dockerd-rootless-setuptool.sh more robust
  contrib/dockerd-rootless-setuptool.sh
Owners: none

oci.DevicesFromPath() switch to use containerd implementation
  oci/defaults.go
  oci/devices_linux.go
  oci/devices_linux_test.go
Owners: none

hack/install: Build from docker/cli instead docker-ce
  hack/dockerfile/install/dockercli.installer
Owners: @tianon

hack/install: Add missing official cli binaries
  hack/dockerfile/install/dockercli.installer
Owners: @tianon

hack/install/cli: Update cli to 18.06.3-ce
  hack/dockerfile/install/dockercli.installer
Owners: @tianon

pkg: replace some README's with GoDoc package descriptions
  pkg/archive/README.md
  pkg/archive/archive.go
  pkg/reexec/README.md
  pkg/reexec/reexec.go
  pkg/stringid/README.md
  pkg/sysinfo/README.md
  pkg/sysinfo/sysinfo.go
Owners: none

pkg/fileutils: remove gotest.tools as dependency, use t.TempDir()
  pkg/fileutils/fileutils_test.go
Owners: none

migrate pkg/pubsub to github.com/moby/pubsub
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/events/events.go
  daemon/stats/collector.go
  pkg/pubsub/publisher.go
  pkg/pubsub/publisher_test.go
  plugin/manager.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/pubsub/LICENSE
  vendor/github.com/moby/pubsub/NOTICE
  vendor/github.com/moby/pubsub/publisher.go
  vendor/modules.txt
Owners: @cpuguy83

pkg/fileutils: remove gotest.tools as dependency, use t.TempDir()
  pkg/fileutils/fileutils_test.go
Owners: none

migrate pkg/pubsub to github.com/moby/pubsub
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/events/events.go
  daemon/stats/collector.go
  pkg/pubsub/publisher.go
  pkg/pubsub/publisher_test.go
  plugin/manager.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/pubsub/LICENSE
  vendor/github.com/moby/pubsub/NOTICE
  vendor/github.com/moby/pubsub/publisher.go
  vendor/modules.txt
Owners: @cpuguy83

replace pkg/fileutils Matching funcs with github.com/moby/patternmatcher
  builder/remotecontext/detect.go
  pkg/archive/archive.go
  pkg/fileutils/deprecated.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/patternmatcher/LICENSE
  vendor/github.com/moby/patternmatcher/NOTICE
  vendor/github.com/moby/patternmatcher/patternmatcher.go
  vendor/modules.txt
Owners: @tonistiigi

pkg/*: fix "empty-lines" (revive)
  pkg/archive/archive.go
  pkg/archive/archive_linux_test.go
  pkg/archive/changes.go
  pkg/archive/changes_posix_test.go
  pkg/archive/copy.go
  pkg/archive/copy_unix_test.go
  pkg/archive/diff_test.go
  pkg/authorization/api_test.go
  pkg/authorization/middleware_test.go
  pkg/authorization/middleware_unix_test.go
  pkg/authorization/response.go
  pkg/devicemapper/devmapper.go
  pkg/devicemapper/devmapper_wrapper.go
  pkg/directory/directory.go
  pkg/fileutils/fileutils_test.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/usergroupadd_linux.go
  pkg/ioutils/bytespipe_test.go
  pkg/ioutils/fswriters_test.go
  pkg/ioutils/writers_test.go
  pkg/loopback/attach_loopback.go
  pkg/namesgenerator/names-generator_test.go
  pkg/plugins/plugins.go
  pkg/sysinfo/sysinfo_linux_test.go
  pkg/system/meminfo_linux.go
  pkg/system/path.go
  pkg/tailfile/tailfile.go
  pkg/tarsum/fileinfosums_test.go
  pkg/tarsum/tarsum_test.go
Owners: none

integration-cli: fix empty-lines (revive)
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_api_inspect_test.go
  integration-cli/docker_api_swarm_node_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_cli_attach_unix_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_health_test.go
  integration-cli/docker_cli_history_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_links_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_prune_unix_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_pull_test.go
  integration-cli/docker_cli_rmi_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_service_health_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_cli_swarm_unix_test.go
Owners: none

api/types: fix empty-lines (revive)
  api/types/strslice/strslice_test.go
Owners: none

builder: fix empty-lines (revive)
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/dockerfile/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/internals_test.go
  builder/remotecontext/detect_test.go
Owners: @tonistiigi

integration: fix empty-lines (revive)
  integration/config/config_test.go
  integration/container/daemon_linux_test.go
  integration/container/logs_test.go
  integration/container/restart_test.go
  integration/container/wait_test.go
  integration/internal/requirement/requirement_linux.go
  integration/network/service_test.go
  integration/plugin/logging/read_test.go
  integration/secret/secret_test.go
  integration/service/create_test.go
  integration/service/list_test.go
  integration/system/event_test.go
Owners: none

daemon/cluster: fix empty-lines (revive)
  daemon/cluster/convert/container.go
  daemon/cluster/convert/network.go
  daemon/cluster/convert/service.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/health_test.go
  daemon/cluster/services.go
Owners: none

plugin: fix empty-lines (revive)
  plugin/backend_linux.go
  plugin/manager_linux.go
  plugin/v2/settable_test.go
Owners: @cpuguy83

volume: fix empty-lines (revive)
  volume/local/local_test.go
  volume/local/local_unix.go
  volume/mounts/parser_test.go
  volume/mounts/windows_parser.go
  volume/service/service_test.go
Owners: none

testutil: fix empty-lines (revive)
  testutil/daemon/plugin.go
  testutil/fakecontext/context.go
  testutil/fixtures/load/frozen.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
