Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

errdefs: don't string-match context-deadline errors
  errdefs/helpers.go
Owners: none

daemon/cluster: don't string-match context-deadline errors
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/noderunner.go
Owners: none

pkg/ioutils: don't string-match context-deadline errors
  pkg/ioutils/readers_test.go
Owners: none

integration-cli: don't string-match context-deadline errors
  integration-cli/docker_api_swarm_test.go
Owners: none

Use os.IsTimeOut() instead of custom handling
  client/request.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/noderunner.go
  integration-cli/docker_api_swarm_test.go
  pkg/ioutils/readers_test.go
Owners: none

daemon: rename some vars that collided with imports
  daemon/inspect.go
Owners: none

daemon: remove some intermediate vars, use struct-literals
  daemon/inspect.go
  daemon/inspect_linux.go
Owners: none

daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

[20.10] fix broken vanity-URL for code.cloudfoundry.org
  hack/dockerfile/install/vndr.installer
  vendor.conf
Owners: @tianon

integration-cli: remove inspectMountPointJSON()
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_utils_test.go
Owners: none

integration-cli: remove waitInspectWithArgs()
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_utils_test.go
Owners: none

api/types/container: fix validation for UTSMode, UsernsMode, PidMode
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix_test.go
Owners: none

Update delve version
  Dockerfile
Owners: none

Update delve version
  Dockerfile
Owners: none

vendor: github.com/docker/libnetwork 1f3b98be6833a93f254aa0f765ff55d407dfdd69
  vendor.conf
  vendor/github.com/docker/libnetwork/bitseq/sequence.go
  vendor/github.com/docker/libnetwork/datastore/datastore.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_int8.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_uint8.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_unsupported.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_bridgenetfiltering.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_tables.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ostweaks_unsupported.go
  vendor/github.com/docker/libnetwork/drivers/windows/port_mapping.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows_store.go
  vendor/github.com/docker/libnetwork/endpoint_info_unix.go
  vendor/github.com/docker/libnetwork/endpoint_info_windows.go
  vendor/github.com/docker/libnetwork/firewall_others.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_unix.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_windows.go
  vendor/github.com/docker/libnetwork/ipams/remote/api/api.go
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/network_unix.go
  vendor/github.com/docker/libnetwork/network_windows.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.pb.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs_unsupported.go
  vendor/github.com/docker/libnetwork/osl/namespace_unsupported.go
  vendor/github.com/docker/libnetwork/osl/sandbox_unsupported.go
  vendor/github.com/docker/libnetwork/portmapper/mapper.go
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/resolver_unix.go
  vendor/github.com/docker/libnetwork/resolver_windows.go
  vendor/github.com/docker/libnetwork/sandbox_dns_unix.go
  vendor/github.com/docker/libnetwork/sandbox_dns_windows.go
  vendor/github.com/docker/libnetwork/sandbox_externalkey_unix.go
  vendor/github.com/docker/libnetwork/sandbox_externalkey_windows.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_unsupported.go
  vendor/github.com/docker/libnetwork/store.go
Owners: none

Revert "[20.10] fix broken vanity-URL for code.cloudfoundry.org"
  hack/dockerfile/install/vndr.installer
  vendor.conf
Owners: @tianon

api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Owners: none

Revert "seccomp: block socket calls to AF_VSOCK in default profile"
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Owners: none

api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Owners: none

Fix EditorConfig file name
  contrib/.editorconfig
Owners: none

daemon/logger/gcplogs: remove ensureHomeIfIAmStatic workaround
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gcplogs/gcplogging_linux.go
  daemon/logger/gcplogs/gcplogging_others.go
Owners: none

daemon/graphdriver/devicemapper: simplify Udev log, and update link
  daemon/graphdriver/devmapper/deviceset.go
Owners: @rhvgoyal

daemon/logger/gcplogs: remove ensureHomeIfIAmStatic workaround
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gcplogs/gcplogging_linux.go
  daemon/logger/gcplogs/gcplogging_others.go
Owners: none

daemon/graphdriver/devicemapper: simplify Udev log, and update link
  daemon/graphdriver/devmapper/deviceset.go
Owners: @rhvgoyal

libnetwork/iptables: Fix test panic when execute only one test
  libnetwork/iptables/iptables_test.go
Owners: none

Check ipt options before looking for ip6t
  libnetwork/iptables/iptables.go
Owners: none

Merge iptables.probe() into iptables.detectIptables()
  libnetwork/iptables/iptables.go
Owners: none

Always use iptables -C to look for rules
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Owners: none

image: deprecate IDFromDigest()
  daemon/images/image.go
  daemon/list_test.go
  distribution/config.go
  image/image.go
  image/store.go
  image/tarexport/save.go
Owners: none

image: store.restore(): use more structured logs
  image/store.go
Owners: none

daemon/images: imageKey() accept string
  daemon/images/image.go
  daemon/images/store.go
  daemon/images/store_test.go
Owners: none

image: store: rename vars that collided with types or shadowed vars
  image/store.go
Owners: none

client: defaultHTTPClient() accept URL
  client/client.go
  client/client_test.go
  client/client_unix.go
  client/client_windows.go
  client/options_test.go
Owners: none

client: defaultHTTPClient(): don't ignore transport errors
  client/client.go
Owners: none

Dockerfile: use TARGETPLATFORM to build Docker
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  docker-bake.hcl
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
  hack/README.md
  hack/make.sh
  hack/make/.binary
  hack/make/binary-daemon
  hack/make/cross
  hack/make/cross-platform-dependent
Owners: @tianon

hack: remove containerutility script
  hack/make/containerutility
Owners: @tianon

hack: do not set buildmode pie for statically linked binary
  Dockerfile
  hack/make/.binary
  hack/make/binary-daemon
  hack/make/binary-proxy
Owners: @tianon

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
