Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

api: docs: document MountPoint fields (v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api/types: add godoc on MountPoint
  api/types/types.go
Owners: none

vendor: github.com/docker/distribution v2.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/modules.txt
Owners: none

vendor: github.com/bsphere/le_go v0.0.0-20200109081728-fc06dab2caa8
  vendor.mod
  vendor.sum
  vendor/github.com/bsphere/le_go/.travis.yml
  vendor/github.com/bsphere/le_go/le.go
  vendor/modules.txt
Owners: none

[20.10] bump swarmkit for config size increase
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/controlapi/config.go
Owners: none

update containerd binary to v1.6.1
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

plugin: remove unused pluginRegistryService
  plugin/manager.go
Owners: @cpuguy83

plugin: add EndpointResolver interface
  plugin/manager.go
  plugin/registry.go
Owners: @cpuguy83

layer: remove layerstore.setOS(), layerstore.getOS()
  layer/filestore_unix.go
  layer/filestore_windows.go
  layer/layer_store.go
  layer/ro_layer.go
Owners: none

Support STOPSIGNAL instruction in commit change
  builder/dockerfile/builder.go
Owners: @tonistiigi

docs: dockerd: fix broken link in blockquote area
  docs/reference/commandline/dockerd.md
Owners: none

api: swagger: add IPAMConfig on IPAM
  docs/api/v1.41.yaml
Owners: none

ci: simple gha workflow to build docker daemon
  .github/workflows/ci.yml
  docker-bake.hcl
Owners: none

version: add RootlessKit, slirp4netns, and VPNKit version
  daemon/info_unix.go
  hack/dockerfile/install/rootlesskit.installer
  rootless/rootless.go
  vendor.mod
  vendor.sum
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_aix.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/rootless-containers/rootlesskit/LICENSE
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/api.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/client/client.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/openapi.yaml
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/modules.txt
Owners: @tianon

cleanup swagger API with multiple examples
  api/swagger.yaml
Owners: none

client: ImageSearch(): don't send limit if none was specified
  client/image_search.go
Owners: none

docs: cleanup swagger API with multiple examples (v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api: docs: add IPAMConfig on IPAM (v1.41)
  docs/api/v1.41.yaml
Owners: none

api: swagger: add IPAMConfig on IPAM
  api/swagger.yaml
Owners: none

staticcheck: ignore "SA1019: strings.Title is deprecated"
  daemon/logger/templates/templates.go
  pkg/plugins/pluginrpc-gen/template.go
Owners: none

update golang to 1.18.0
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

pkg/system: remove deprecated (and unused) windows consts
  pkg/system/syscall_windows.go
Owners: none

Allow sharing UTS namespace of another container
  api/swagger.yaml
  api/types/container/host_config.go
  daemon/container_operations_unix.go
  daemon/oci_linux.go
  integration/container/utsmode_linux_test.go
  runconfig/errors.go
  runconfig/hostconfig_unix.go
Owners: none

Only check if route overlaps routes with scope: LINK
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
Owners: @tianon

Remove KernelMemory option from /containers/create and /update endpoints
  api/server/router/container/container_routes.go
  api/swagger.yaml
  daemon/daemon_unix.go
  docs/api/version-history.md
  pkg/sysinfo/sysinfo_linux.go
Owners: none

Update handling of deprecated kernel (tcp) memory options
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  daemon/daemon_unix.go
  docs/api/version-history.md
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Owners: none

api/types: fix KernelMemory deprecation comment, and omitempty
  api/swagger.yaml
  api/types/container/host_config.go
  docs/api/version-history.md
Owners: none

pkg/system: move IsWindowsClient to pkg/parsers/operatingsystem
  daemon/daemon_windows.go
  pkg/parsers/operatingsystem/operatingsystem_windows.go
  pkg/system/syscall_windows.go
Owners: none

vendor: golang.org/x/crypto v0.0.0-20220315160706-3147a52a75dd
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/ocsp/ocsp.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Owners: none

registry: tests: remove unused mock code and use gotest.tools
  registry/auth_test.go
  registry/registry_mock_test.go
  registry/registry_test.go
Owners: none

registry: add TODO for removing ParseSearchIndexInfo()
  registry/config.go
Owners: none

registry: remove TODO for removing localhost as insecure by default
  registry/config.go
Owners: none

registry: remove unused RepositoryData and ImgData
  registry/types.go
Owners: none

registry: remove unused authConfig from Session
  registry/service.go
  registry/session.go
Owners: none

registry: un-export DefaultService
  daemon/images/image_search_test.go
  registry/registry_test.go
  registry/service.go
  registry/service_v2.go
Owners: none

registry: un-export HTTPClient() and NewTransport()
  registry/auth.go
  registry/endpoint_test.go
  registry/endpoint_v1.go
  registry/registry.go
  registry/registry_test.go
Owners: none

registry: un-export V1Endpoint and NewV1Endpoint()
  registry/endpoint_test.go
  registry/endpoint_v1.go
  registry/registry_test.go
  registry/service.go
  registry/session.go
Owners: none

registry: un-export Ping(), PingResult, remove v1Endpoint.Path()
  registry/endpoint_v1.go
  registry/registry_test.go
  registry/session.go
  registry/types.go
Owners: none

registry: un-export Session, remove NewSession()
  registry/registry_test.go
  registry/service.go
  registry/session.go
Owners: none

registry: un-export config.LoadXXX() functions
  registry/config.go
  registry/config_test.go
  registry/service.go
Owners: none
