Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Jenkinsfile: remove cross stage (moved to gha)
  Jenkinsfile
Owners: none

Dockerfile: refactor Dockerfile.simple and create gha workflow
  .github/workflows/simple.yml
  Dockerfile.simple
  docker-bake.hcl
Owners: none

docs: contributing docs update for cross comp
  docs/contributing/README.md
  docs/contributing/ctn-build.md
Owners: none

riscv64 support
  docker-bake.hcl
  hack/make/.binary
Owners: @tianon

update runc to v1.1.4 pre
  hack/dockerfile/install/runc.installer
Owners: @tianon

Dockerfile: use TARGETPLATFORM with scopeo for frozen images stage
  Dockerfile
  testutil/fixtures/load/frozen.go
Owners: none

integration-cli: rewrite TestBuildAPIDockerFileRemote without "find"
  integration-cli/docker_api_build_test.go
Owners: none

daemon: make the snapshotter configurable
  daemon/containerd/image_exporter.go
  daemon/containerd/image_list.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/oci_linux.go
Owners: none

Push image faster by using pigz to compress
  distribution/push.go
  distribution/push_v2.go
Owners: none

info: add driver-type
  daemon/containerd/service.go
Owners: none

daemon: kill exec process on ctx cancel
  daemon/exec.go
  daemon/health.go
  integration/container/health_test.go
Owners: none

Fix incorrect use of loop variables in parallel tests.
  daemon/logger/loggerutils/logfile_test.go
  distribution/xfer/download_test.go
  integration/build/build_test.go
Owners: none

Push image faster by using pigz to compress
  distribution/push.go
  distribution/push_v2.go
Owners: none

ci: print Windows daemon event log timestamps
  .github/workflows/windows.yml
Owners: none

daemon: kill exec process on ctx cancel
  daemon/exec.go
  daemon/health.go
  integration/container/health_test.go
Owners: none

[20.10 backport] daemon: kill exec process on ctx cancel
  daemon/exec.go
  integration/container/health_test.go
Owners: none

client: remove deprecated IsErrUnauthorized, IsErrNotImplemented
  client/errors.go
Owners: none

client: remove redundant pluginPermissionDenied
  client/errors.go
  client/plugin_install.go
Owners: none

client: remove deprecated WithDialer() option
  client/options.go
Owners: none

daemon: don't set ignoreImagesArgsEscaped, managed where not needed
  daemon/create.go
Owners: none

client: remove deprecated WithDialer() option
  client/options.go
Owners: none

vendor: github.com/containerd/containerd v1.6.8
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

Test: wait for network changes in TestNetworkDBNodeJoinLeaveIteration
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnetwork/drivers/ipvlan: fix missing IpvlanFlag field in config JSON
  libnetwork/drivers/ipvlan/ipvlan_store.go
Owners: none

libnetwork/drivers/ipvlan: fix missing IpvlanFlag field in config JSON
  libnetwork/drivers/ipvlan/ipvlan_store.go
Owners: none

contrib: update Windows busybox to FRP-4716-g31467ddfc
  contrib/busybox/Dockerfile
Owners: none

daemon: capture output of killed health checks
  daemon/health.go
  integration/container/health_test.go
Owners: none

integration-cli: add utility to check if snapshotters are enabled
  integration-cli/docker_cli_inspect_test.go
  integration-cli/requirements_test.go
Owners: none

daemon: getInspectData(): skip graphdriver data for snapshotters
  daemon/inspect.go
Owners: none

daemon: getInspectData(): reduce cyclomatic complexity
  daemon/inspect.go
Owners: none

client: disable deprecated NewClient() and NewEnvClient()
  client/client_deprecated.go
Owners: none

client: disable deprecated NewClient() and NewEnvClient()
  client/client_deprecated.go
Owners: none

Update container OOMKilled flag immediately
  api/swagger.yaml
  container/container.go
  container/state.go
  daemon/monitor.go
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
Owners: none

Stop locking container exec store while starting
  daemon/exec.go
  daemon/exec/exec.go
Owners: none

integration: synchronize TestWaitConditions
  integration/container/wait_test.go
Owners: none

Lock container when deleting its root directory
  daemon/delete.go
Owners: none

Refactor libcontainerd to minimize c8d RPCs
  container/container.go
  container/exec.go
  container/state.go
  container/state_test.go
  daemon/checkpoint.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/delete_test.go
  daemon/exec.go
  daemon/exec_linux.go
  daemon/exec_linux_test.go
  daemon/exec_windows.go
  daemon/health.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_test.go
  daemon/inspect_windows.go
  daemon/kill.go
  daemon/monitor.go
  daemon/pause.go
  daemon/resize.go
  daemon/resize_test.go
  daemon/start.go
  daemon/top_unix.go
  daemon/top_windows.go
  daemon/unpause.go
  daemon/update.go
  daemon/util_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/local/process_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

Share logic to create-or-replace a container
  daemon/start.go
  libcontainerd/replace.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

daemon: Maintain container exec-inspect invariant
  daemon/exec.go
  daemon/health.go
  daemon/inspect.go
  daemon/monitor.go
Owners: none

gha: temporarily pin BuildKit integration test version
  .github/workflows/ci.yml
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
