Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

daemon/images: use types/registry.AuthConfig
  daemon/images/image_builder.go
  daemon/images/image_pull.go
  daemon/images/image_push.go
  daemon/images/image_search.go
  daemon/images/image_search_test.go
Owners: none

distribution: use types/registry.AuthConfig
  distribution/config.go
  distribution/metadata/v2_metadata_service.go
  distribution/pull_v2_test.go
  distribution/push_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
Owners: none

plugin: use types/registry.AuthConfig
  api/server/router/plugin/plugin_routes.go
  plugin/backend_linux.go
  plugin/backend_unsupported.go
  plugin/fetch_linux.go
  plugin/registry.go
Owners: @cpuguy83

api: add registry.DecodeAuthConfig, registry.DecodeAuthConfigBody
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/plugin_routes.go
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Owners: none

client: linting: fix "invalid auth header" error
  client/image_pull_test.go
  client/image_push_test.go
  client/image_search_test.go
  client/plugin_push_test.go
Owners: none

registry: use types/registry.AuthConfig
  registry/auth.go
  registry/auth_test.go
  registry/registry_test.go
  registry/service.go
  registry/session.go
Owners: none

testutil, integration: use types/registry.AuthConfig
  integration/plugin/common/plugin_test.go
  integration/system/login_test.go
  testutil/fixtures/plugin/plugin.go
Owners: none

api: add registry.EncodeAuthConfig
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Owners: none

vendor: github.com/philhofer/fwd v1.1.2
  vendor.mod
  vendor.sum
  vendor/github.com/philhofer/fwd/README.md
  vendor/github.com/philhofer/fwd/reader.go
  vendor/github.com/philhofer/fwd/writer.go
  vendor/github.com/philhofer/fwd/writer_appengine.go
  vendor/github.com/philhofer/fwd/writer_tinygo.go
  vendor/github.com/philhofer/fwd/writer_unsafe.go
  vendor/modules.txt
Owners: none

vendor: github.com/tinylib/msgp v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/tinylib/msgp/msgp/errors.go
  vendor/github.com/tinylib/msgp/msgp/extension.go
  vendor/github.com/tinylib/msgp/msgp/json.go
  vendor/github.com/tinylib/msgp/msgp/read.go
  vendor/github.com/tinylib/msgp/msgp/read_bytes.go
  vendor/github.com/tinylib/msgp/msgp/unsafe.go
  vendor/github.com/tinylib/msgp/msgp/write.go
  vendor/github.com/tinylib/msgp/msgp/write_bytes.go
  vendor/modules.txt
Owners: none

vendor: github.com/philhofer/fwd v1.1.2
  vendor.mod
  vendor.sum
  vendor/github.com/philhofer/fwd/README.md
  vendor/github.com/philhofer/fwd/reader.go
  vendor/github.com/philhofer/fwd/writer.go
  vendor/github.com/philhofer/fwd/writer_appengine.go
  vendor/github.com/philhofer/fwd/writer_tinygo.go
  vendor/github.com/philhofer/fwd/writer_unsafe.go
  vendor/modules.txt
Owners: none

vendor: github.com/tinylib/msgp v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/tinylib/msgp/msgp/errors.go
  vendor/github.com/tinylib/msgp/msgp/extension.go
  vendor/github.com/tinylib/msgp/msgp/json.go
  vendor/github.com/tinylib/msgp/msgp/read.go
  vendor/github.com/tinylib/msgp/msgp/read_bytes.go
  vendor/github.com/tinylib/msgp/msgp/unsafe.go
  vendor/github.com/tinylib/msgp/msgp/write.go
  vendor/github.com/tinylib/msgp/msgp/write_bytes.go
  vendor/modules.txt
Owners: none

daemon: CreateNetwork: remove redundant error check
  daemon/network.go
Owners: none

daemon: fix GetContainer() returning (nil, nil)
  daemon/container.go
Owners: none

daemon: don't checkpoint container until registered
  daemon/container.go
  daemon/start.go
Owners: none

daemon: drop side effect from registerLinks()
  daemon/daemon_unix.go
Owners: none

hack: introduce validate/no-module
  .gitignore
  hack/validate/no-module
Owners: @tianon

hack: replace go-mod-prepare.sh with wrapper script
  .github/workflows/buildkit.yml
  hack/buildkit-ref
  hack/go-mod-prepare.sh
  hack/vendor.sh
  hack/with-go-mod.sh
Owners: @tianon

hack/vendor.sh: allow running tidy & vendor separately
  hack/vendor.sh
Owners: @tianon

hack/validate/vendor: split tidy from vendor
  hack/validate/vendor
Owners: @tianon

hack/validate/vendor: clean up license validation step
  hack/validate/vendor
Owners: @tianon

hack/go-mod-prepare.sh: find root robustly; make steps transparent
  hack/go-mod-prepare.sh
Owners: @tianon

hack: replace go-mod-prepare.sh with wrapper script
  .github/workflows/buildkit.yml
  hack/buildkit-ref
  hack/go-mod-prepare.sh
  hack/vendor.sh
  hack/with-go-mod.sh
Owners: @tianon

hack: introduce validate/no-module
  .gitignore
  hack/validate/no-module
Owners: @tianon

daemon: fix GetContainer() returning (nil, nil)
  daemon/container.go
Owners: none

daemon: don't checkpoint container until registered
  daemon/container.go
  daemon/start.go
Owners: none

daemon: drop side effect from registerLinks()
  daemon/daemon_unix.go
Owners: none

cli: remove unused Errors type
  cli/error.go
Owners: none

cli: move cobra customizations into cmd/dockerd
  cmd/dockerd/cobra.go
  cmd/dockerd/docker.go
  cmd/dockerd/error.go
  cmd/dockerd/required.go
Owners: none

cli: remove cli/config package, integrate into cmd/dockerd
  cli/config/configdir.go
  cmd/dockerd/options.go
  cmd/dockerd/options_test.go
Owners: none

create Security.md
  SECURITY.md
Owners: none

daemon/config: rename CommonTLSOptions to TLSOptions
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/config/config.go
Owners: none

daemon/config: remove deprecated RootDeprecated field
  cmd/dockerd/config.go
  daemon/config/config.go
Owners: none

builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Owners: @tonistiigi

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221215132206-0da442b2780f
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20221215132206-0da442b2780f
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Dockerfile: add dummy stage
  Dockerfile
Owners: none

Dockerfile: add cross compilation helper
  Dockerfile
Owners: none

Dockerfile: containerd cross build with TARGETPLATFORM
  Dockerfile
Owners: none

Dockerfile: DOCKER_STATIC arg
  Dockerfile
  docker-bake.hcl
Owners: none
