Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Resolve and store manifest when creating container
  container/container.go
  daemon/containerd/image.go
  daemon/containerd/image_commit.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/image.go
Owners: none

TestLogs: Increase stop check poll timeout on Windows
  integration/container/logs_test.go
Owners: none

integration: Extract StopContainerWindowsPollTimeout const
  integration/container/logs_test.go
  integration/container/stop_test.go
  integration/container/wait_test.go
Owners: none

regenerate AUTHORS
  AUTHORS
Owners: none

vendor: github.com/moby/buildkit v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/capture.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/predicate.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/buildkit v0.10.7-0.20230306143919-70f2ad56d3e5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/util/buildinfo/buildinfo.go
  vendor/modules.txt
Owners: none

c8d/daemon: Mount root and fill BaseFS
  daemon/containerd/mount.go
  daemon/daemon_unix.go
  daemon/images/mount.go
Owners: none

connhelper: Allow socket path when using SSH
  docs/reference/commandline/dockerd.md
Owners: none

builder-next: enable more cache backends
  builder/builder-next/controller.go
  vendor.mod
  vendor.sum
  vendor/github.com/dimchansky/utfbom/.gitignore
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/dimchansky/utfbom/LICENSE
  vendor/github.com/dimchansky/utfbom/README.md
  vendor/github.com/dimchansky/utfbom/utfbom.go
  vendor/github.com/golang-jwt/jwt/v4/.gitignore
  vendor/github.com/golang-jwt/jwt/v4/LICENSE
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v4/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/doc.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v4/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519.go
  vendor/github.com/golang-jwt/jwt/v4/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/hmac.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/none.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/rsa.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v4/signing_method.go
  vendor/github.com/golang-jwt/jwt/v4/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/tonistiigi/go-actions-cache/LICENSE
  vendor/github.com/tonistiigi/go-actions-cache/api.md
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/readerat.go
  vendor/github.com/tonistiigi/go-actions-cache/retry.go
  vendor/modules.txt
Owners: @tonistiigi

ci: enable BuildKit tests with containerd integration worker
  .github/workflows/buildkit.yml
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230302163403-80a528a86877
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/plugin/plugin.go
  vendor/github.com/moby/swarmkit/v2/internal/csi/capability/capability.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/convert.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/constraintenforcer/constraint_enforcer.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/jobs/orchestrator.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230302163403-80a528a86877
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/plugin/plugin.go
  vendor/github.com/moby/swarmkit/v2/internal/csi/capability/capability.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/convert.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/constraintenforcer/constraint_enforcer.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/jobs/orchestrator.go
  vendor/modules.txt
Owners: none

contrib/dockerize-disk.sh: Fix indentation
  contrib/dockerize-disk.sh
Owners: none

Dockerfile: Update shfmt to 3.6.0
  Dockerfile
Owners: none

Remove unused Dockerfile.e2e
  Dockerfile.e2e
  hack/test/e2e-run.sh
Owners: @tianon

libnet/d/overlay: extract VNI match rule builder
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

libnet/d/overlay: document some encryption code
  libnetwork/drivers/overlay/encryption.go
Owners: none

libnet/d/overlay: add BPF-powered VNI matcher
  libnetwork/drivers/overlay/bpf.go
  libnetwork/drivers/overlay/bpf_test.go
  libnetwork/drivers/overlay/encryption_bpf.go
  libnetwork/drivers/overlay/encryption_u32.go
Owners: none

c8d: Compute container's layer size
  api/server/router/container/backend.go
  api/server/router/container/inspect.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/image_unix.go
  daemon/images/image_windows.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_windows.go
  daemon/list.go
  daemon/prune.go
Owners: none

libcontainerd: Upgrade to typeurl/v2
  libcontainerd/remote/client.go
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/typeurl/v2/.gitignore
  vendor/github.com/containerd/typeurl/v2/LICENSE
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/doc.go
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/modules.txt
Owners: none

c8d/inspect: Add digested reference to details
  daemon/containerd/image.go
Owners: none

builder/overrides: Add consts for attribute key names
  builder/builder-next/exporter/overrides/wrapper.go
Owners: @tonistiigi

c8d/builder: Store untagged images as dangling
  builder/builder-next/exporter/overrides/wrapper.go
Owners: @tonistiigi

Add warning about firewall bypasses
  Dockerfile
  daemon/create.go
  daemon/create_unix.go
  daemon/create_windows.go
Owners: none

Move GetLayerFolders away from the image service
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/image_unix.go
  daemon/images/image_windows.go
  daemon/oci_windows.go
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

Fix listener parsering regression when no addr set
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_linux_test.go
  cmd/dockerd/main_linux_test.go
Owners: none

update to go1.20.2
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[23.0] update to go1.19.7
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

remove GetLayerByID from ImageService interface
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  daemon/containerd/image_exporter.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/export.go
  daemon/image_service.go
  daemon/images/image_exporter.go
  daemon/images/service.go
Owners: none

Move filtered registry search out of image service
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  cmd/dockerd/daemon.go
  daemon/containerd/image_search.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_search.go
  registry/search.go
  registry/search_test.go
  registry/service.go
  registry/session.go
Owners: none

registry: return concrete service type
  daemon/containerd/resolver.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/images/service.go
  distribution/config.go
  registry/registry_test.go
  registry/search.go
  registry/service.go
  registry/service_v2.go
Owners: none

Add initial streams implementation
  api/server/router/streams/backend.go
  api/server/router/streams/routes.go
  api/server/router/streams/stream.go
  api/types/streams/stream.go
  client/interface.go
  client/streams.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/streams/service.go
  daemon/streams/store.go
  daemon/streams/store_test.go
  daemon/streams/stream.go
  daemon/streams/stream_linux.go
  daemon/streams/stream_windows.go
  errdefs/is.go
  vendor.mod
  vendor.sum
  vendor/github.com/cpuguy83/pipes/README.md
  vendor/github.com/cpuguy83/pipes/copier_linux.go
  vendor/github.com/cpuguy83/pipes/pipes_linux.go
  vendor/github.com/cpuguy83/pipes/read.go
  vendor/github.com/cpuguy83/pipes/read_linux.go
  vendor/github.com/cpuguy83/pipes/write.go
  vendor/github.com/cpuguy83/pipes/write_linux.go
  vendor/modules.txt
Owners: none

Use streams with container attach
  api/server/router/container/container_routes.go
  api/types/backend/backend.go
  api/types/client.go
  client/container_attach.go
  client/interface.go
  daemon/attach.go
  daemon/streams/stream.go
  integration/container/attach_test.go
  integration/internal/container/container.go
Owners: none

integration/volumes: TestVolumesRemove: add coverage for force/no-force
  integration/volume/volume_test.go
Owners: none

update containerd binary to v1.7.0
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

volumes: fix error-handling when removing volumes with swarm enabled
  api/server/router/volume/volume_routes.go
  daemon/cluster/volumes.go
  integration/volume/volume_test.go
Owners: none

Fix pruning anon volume created from image config
  daemon/create_unix.go
  daemon/create_windows.go
  integration/internal/build/build.go
  integration/internal/container/container.go
  integration/volume/volume_test.go
Owners: none

integration/volumes: TestVolumesRemove: add coverage for force/no-force
  integration/volume/volume_test.go
Owners: none
