Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

runtime: enable optional containerd-shim based runtime support
  api/types/types.go
  daemon/runtime_unix.go
  daemon/start_unix.go
Owners: none

fileutils: Avoid compiling a regexp for simple patterns
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

integration-cli: delete existing docker0 bridge to prevent it interfering
  integration-cli/docker_cli_daemon_test.go
Owners: none

daemon: remove discovery related tests
  daemon/config/config_test.go
  daemon/daemon_unix_test.go
  daemon/reload_test.go
Owners: none

integration(-cli): remove discovery related tests
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/system/info_linux_test.go
Owners: none

cmd/dockerd: produce error when using discovery options
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix_test.go
Owners: none

daemon: remove discovery-related config handling
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/daemon.go
  daemon/info.go
  daemon/reload.go
Owners: none

integration-cli: use unique names for custom bridges
  integration-cli/docker_cli_daemon_test.go
Owners: none

daemon: remove discovery inits
  daemon/daemon_test.go
  daemon/reload_test.go
Owners: none

daemon: remove daemon.discoveryWatcher
  daemon/daemon.go
Owners: none

daemon: remove daemon/discovery as it's now unused
  daemon/discovery/discovery.go
  daemon/discovery/discovery_test.go
Owners: none

libnetwork: remove external DS-based host discovery
  libnetwork/config/config.go
  libnetwork/config/config_test.go
  libnetwork/config/libnetwork.toml
  libnetwork/controller.go
  libnetwork/hostdiscovery/hostdiscovery.go
  libnetwork/hostdiscovery/hostdiscovery_api.go
  libnetwork/hostdiscovery/hostdiscovery_test.go
  libnetwork/hostdiscovery/libnetwork.toml
Owners: none

remove pkg/discovery as it's now unused
  pkg/discovery/README.md
  pkg/discovery/backends.go
  pkg/discovery/discovery.go
  pkg/discovery/discovery_test.go
  pkg/discovery/entry.go
  pkg/discovery/file/file.go
  pkg/discovery/file/file_test.go
  pkg/discovery/generator.go
  pkg/discovery/generator_test.go
  pkg/discovery/kv/kv.go
  pkg/discovery/kv/kv_test.go
  pkg/discovery/memory/memory.go
  pkg/discovery/memory/memory_test.go
  pkg/discovery/nodes/nodes.go
  pkg/discovery/nodes/nodes_test.go
Owners: none

libnetwork: remove zookeeper-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-zookeeper.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/zookeeper/zookeeper.go
  vendor/github.com/samuel/go-zookeeper/LICENSE
  vendor/github.com/samuel/go-zookeeper/README.md
  vendor/github.com/samuel/go-zookeeper/zk/conn.go
  vendor/github.com/samuel/go-zookeeper/zk/constants.go
  vendor/github.com/samuel/go-zookeeper/zk/flw.go
  vendor/github.com/samuel/go-zookeeper/zk/lock.go
  vendor/github.com/samuel/go-zookeeper/zk/server_help.go
  vendor/github.com/samuel/go-zookeeper/zk/server_java.go
  vendor/github.com/samuel/go-zookeeper/zk/structs.go
  vendor/github.com/samuel/go-zookeeper/zk/tracer.go
  vendor/github.com/samuel/go-zookeeper/zk/util.go
Owners: none

libnetwork: replace consul with boltdb in test
  libnetwork/drivers/overlay/overlay_test.go
Owners: none

libnetwork: remove consul-related code and tests
  libnetwork/datastore/datastore.go
  libnetwork/docs/overlay.md
  libnetwork/store.go
  libnetwork/test/integration/dnet/helpers.bash
  libnetwork/test/integration/dnet/overlay-consul-host.bats
  libnetwork/test/integration/dnet/overlay-consul.bats
  libnetwork/test/integration/dnet/run-integration-tests.sh
  vendor.conf
  vendor/github.com/docker/libkv/store/consul/consul.go
  vendor/github.com/hashicorp/consul/LICENSE
  vendor/github.com/hashicorp/consul/README.md
  vendor/github.com/hashicorp/consul/api/README.md
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/catalog.go
  vendor/github.com/hashicorp/consul/api/event.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/kv.go
  vendor/github.com/hashicorp/consul/api/lock.go
  vendor/github.com/hashicorp/consul/api/raw.go
  vendor/github.com/hashicorp/consul/api/semaphore.go
  vendor/github.com/hashicorp/consul/api/session.go
  vendor/github.com/hashicorp/consul/api/status.go
Owners: none

fix(client): Actually use DOCKER_HOST
  client/client.go
Owners: none

libnetwork: remove more config bits related to external k/v stores
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/network.go
Owners: none

vendor: replace vndr with `go mod vendor`
  .gitattributes
  .gitignore
  Dockerfile
  hack/README.md
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  hack/go-mod-prepare.sh
  hack/validate/vendor
  hack/vendor.sh
  project/PACKAGERS.md
  vendor.conf
  vendor.mod
Owners: @tianon, @thaJeztah

fix blockThreshold is full error
  pkg/ioutils/bytespipe.go
Owners: none

vendor: github.com/fluent/fluent-logger-golang v1.9.0
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/version.go
Owners: none

hack: use golangci-lint to find io/ioutil
  hack/validate/golangci-lint.yml
Owners: @tianon

test: use os.CreateTemp instead of ioutil.TempFile
  daemon/logger/local/read_test.go
Owners: none

use a duration string
  daemon/logger/splunk/splunk.go
  daemon/logger/splunk/splunk_test.go
Owners: none

handle negative duration case
  daemon/logger/splunk/splunk.go
  daemon/logger/splunk/splunk_test.go
Owners: none

correct package
  daemon/logger/splunk/splunk.go
Owners: none

Ensure system clock was set
  contrib/init/systemd/docker.service
Owners: none

The flag ForceStopAsyncSend was added to fluent logger lib in v1.9.0
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
Owners: none

daemon/logger: refactor followLogs to write more unit tests
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
Owners: none

daemon/logger: replace flaky TestFollowLogsHandleDecodeErr
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile_test.go
Owners: none

hack: remove non-existent directories from golangci-lint's skip-dirs
  hack/validate/golangci-lint.yml
Owners: @tianon

hack: do not exclude SQL-related checks
  hack/validate/golangci-lint.yml
Owners: @tianon

hack: remove a workaround for go-tools
  hack/validate/golangci-lint.yml
Owners: @tianon

Use syscall.Timespec.Unix
  daemon/graphdriver/copy/copy.go
  pkg/system/chtimes_linux_test.go
Owners: none

vendor: bump etcd v3.3.27
  vendor.conf
  vendor/github.com/coreos/etcd/pkg/fileutil/lock_linux.go
  vendor/github.com/coreos/etcd/version/version.go
Owners: none

Fixed exec resize success code in API docs
  api/swagger.yaml
Owners: none

Added error codes for exec resize in API docs
  api/swagger.yaml
Owners: none

Update LICENSE
  LICENSE
Owners: none

daemon: remove discovery related tests
  daemon/config/config_test.go
  daemon/daemon_unix_test.go
  daemon/reload_test.go
Owners: none

integration(-cli): remove discovery related tests
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/system/info_linux_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
