Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Fix flaky TestPortMappingV6Config
  libnetwork/drivers/bridge/port_mapping_test.go
Owners: none

update containerd binary to v1.5.8
  hack/dockerfile/install/containerd.installer
Owners: @tianon

daemon: make sure proxy settings are sanitized when printing
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/reload.go
  integration/daemon/daemon_test.go
Owners: none

testutil: daemon.Cleanup(): cleanup more directories
  testutil/daemon/daemon.go
Owners: none

vendor: github.com/Microsoft/hcsshim v0.8.22
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/go.mod
  vendor/github.com/Microsoft/hcsshim/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
Owners: none

Lock down docker root dir perms.
  daemon/container_operations_unix.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/zfs/zfs.go
Owners: @dmcgowan

libnetwork: some minor refactoring / cleanup
  libnetwork/resolver.go
Owners: none

pkg/fileutils: escape additional regex meta characters
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

cmd/dockerd: create panic.log file without readonly flag
  cmd/dockerd/service_windows.go
Owners: none

dockerd-rootless.sh: Fix variable not double quotes cause unexpected behavior
  contrib/dockerd-rootless.sh
Owners: none

CI: update docker-py to 5.0.3
  hack/make/test-docker-py
Owners: @tianon

Add more error details on plugin get
  pkg/plugins/plugins.go
Owners: none

vendor: github.com/moby/sys/mount v0.3.0, mountinfo v0.5.0, signal v0.6.0, symlink v0.2.0
  integration/container/kill_test.go
  vendor.conf
  vendor/github.com/moby/sys/mount/flags_bsd.go
  vendor/github.com/moby/sys/mount/flags_unix.go
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/mount/mount_errors.go
  vendor/github.com/moby/sys/mount/mount_unix.go
  vendor/github.com/moby/sys/mount/mounter_freebsd.go
  vendor/github.com/moby/sys/mount/mounter_linux.go
  vendor/github.com/moby/sys/mount/mounter_openbsd.go
  vendor/github.com/moby/sys/mount/mounter_unsupported.go
  vendor/github.com/moby/sys/mountinfo/go.mod
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/github.com/moby/sys/signal/go.mod
  vendor/github.com/moby/sys/signal/signal.go
  vendor/github.com/moby/sys/signal/signal_darwin.go
  vendor/github.com/moby/sys/signal/signal_freebsd.go
  vendor/github.com/moby/sys/signal/signal_linux.go
  vendor/github.com/moby/sys/signal/signal_linux_mipsx.go
  vendor/github.com/moby/sys/signal/signal_unix.go
  vendor/github.com/moby/sys/signal/signal_unsupported.go
  vendor/github.com/moby/sys/signal/signal_windows.go
  vendor/github.com/moby/sys/symlink/fs_unix.go
  vendor/github.com/moby/sys/symlink/fs_windows.go
  vendor/github.com/moby/sys/symlink/go.mod
Owners: none

registry: trimV1Address(): simplify trimming trailing slash
  registry/endpoint_v1.go
Owners: none

compression: support zstd with skippable frame
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Owners: none

Add http(s) proxy properties to daemon configuration
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/info.go
  integration/daemon/daemon_test.go
Owners: none

runconfig: decodeContainerConfig() return early if there's no HostConfig
  runconfig/config.go
  runconfig/config_unix.go
  runconfig/hostconfig.go
  runconfig/hostconfig_unix.go
  runconfig/hostconfig_windows.go
Owners: none

daemon: fix TestVerifyPlatformContainerResources not capturing variable
  daemon/daemon_unix_test.go
Owners: none

fluentd: Turn ForceStopAsyncSend true when async connect is used
  daemon/logger/fluentd/fluentd.go
Owners: none

daemon/logger: read the length header correctly
  daemon/logger/local/read.go
  daemon/logger/local/read_test.go
  daemon/logger/loggerutils/logfile.go
Owners: none

Fix grammar for "does not exist"
  libnetwork/networkdb/cluster.go
Owners: none

Fix missing parent info case in MatchesUsingParentResults
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

daemon.WithDevices(): use containerd's HostDevices()
  daemon/oci_linux.go
Owners: none

Update Go to 1.17.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

vendor: bump etcd v3.3.27
  vendor.conf
  vendor/github.com/coreos/etcd/pkg/fileutil/lock_linux.go
  vendor/github.com/coreos/etcd/version/version.go
Owners: none

pkg/fileutils: Track incremental pattern match results against each pattern
  pkg/archive/archive.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

seccomp: add support for "swapcontext" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

system: unbreak build for darwin
  pkg/system/mknod_unix.go
Owners: none

vendor: github.com/Microsoft/hcsshim v0.8.23
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/options/runhcs.pb.go
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/options/runhcs.proto
  vendor/github.com/Microsoft/hcsshim/go.mod
Owners: none

vendor: github.com/fluent/fluent-logger-golang v1.8.0
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
Owners: none

integration-cli: use unique names for custom bridges
  integration-cli/docker_cli_daemon_test.go
Owners: none

hack: use golangci-lint to find io/ioutil
  hack/validate/golangci-lint.yml
Owners: @tianon

daemon: remove discovery inits
  daemon/daemon_test.go
  daemon/reload_test.go
Owners: none

vendor: github.com/fluent/fluent-logger-golang v1.9.0
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/version.go
Owners: none

Use syscall.Timespec.Unix
  daemon/graphdriver/copy/copy.go
  pkg/system/chtimes_linux_test.go
Owners: none

daemon: remove daemon/discovery as it's now unused
  daemon/discovery/discovery.go
  daemon/discovery/discovery_test.go
Owners: none

integration(-cli): remove discovery related tests
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/system/info_linux_test.go
Owners: none

daemon: remove discovery related tests
  daemon/config/config_test.go
  daemon/daemon_unix_test.go
  daemon/reload_test.go
Owners: none

vendor: github.com/containerd/ttrpc v1.1.0
  vendor.conf
  vendor/github.com/containerd/ttrpc/README.md
  vendor/github.com/containerd/ttrpc/channel.go
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/containerd/ttrpc/codec.go
  vendor/github.com/containerd/ttrpc/config.go
  vendor/github.com/containerd/ttrpc/go.mod
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/containerd/ttrpc/services.go
  vendor/github.com/containerd/ttrpc/unixcreds_linux.go
Owners: none

go.mod: golang.org/x/crypto 5770296d904e90f15f38f77dfc2e43fdf5efc083
  vendor.conf
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_generic.go
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/README
  vendor/golang.org/x/crypto/curve25519/internal/field/fe.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_generic.go
  vendor/golang.org/x/crypto/go.mod
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/poly1305.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/nacl/secretbox/secretbox.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa20_amd64.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/server.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
