Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

vendor: github.com/containerd/containerd v1.6.11
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/leases/lease.go
  vendor/github.com/containerd/containerd/rootfs/diff.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.11
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/leases/lease.go
  vendor/github.com/containerd/containerd/rootfs/diff.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

[23.0] update containerd binary to v1.6.11
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[20.10] update containerd binary to v1.6.11
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Update delve version
  Dockerfile
Owners: none

docs: add 401 to possible status codes of /auth
  api/swagger.yaml
Owners: none

vendor: golang.org/x/net v0.4.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.12
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

[20.10] update containerd binary to v1.6.12 (addresses CVE-2022-23471)
  hack/dockerfile/install/containerd.installer
Owners: @tianon

[23.0] update containerd binary to v1.6.12 (addresses CVE-2022-23471)
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

libcontainerd/remote: remove stray import comment
  libcontainerd/remote/client_io_windows.go
Owners: none

vendor: github.com/containerd/containerd v1.6.12
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

container: use const for null-terminator
  container/view.go
Owners: none

container: ViewDB: return typed system errors
  container/view.go
  daemon/daemon.go
  daemon/names.go
Owners: none

container: ViewDB: GetByPrefix() return typed errors
  container/view.go
  daemon/container.go
Owners: none

container: ViewDB: use errdefs for non-existing containers
  container/view.go
  daemon/container.go
  daemon/list.go
Owners: none

daemon: filterByNameIDMatches() fix error handling
  daemon/list.go
Owners: none

container: ViewDB: use logrus.WithError()
  container/view.go
Owners: none

image/store: Use errdefs for errors
  image/store.go
  image/store_test.go
Owners: none

[20.10] update gotestsum to v1.8.2
  Dockerfile.windows
  hack/dockerfile/install/gotestsum.installer
Owners: @tianon

List images with multiple since/before filters
  daemon/images/image_list.go
  integration/image/list_test.go
Owners: none

go.mod: github.com/miekg/dns v1.1.43
  vendor.mod
  vendor.sum
  vendor/github.com/miekg/dns/.travis.yml
  vendor/github.com/miekg/dns/Makefile.release
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/listen_no_reuseport.go
  vendor/github.com/miekg/dns/listen_reuseport.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/svcb.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/modules.txt
Owners: none

vendor: github.com/klauspost/compress v1.15.12
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.s
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/modules.txt
Owners: none

vendor: github.com/opencontainers/runc v1.1.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.2.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/crypto v0.2.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/pkcs12/internal/rc2/rc2.go
  vendor/golang.org/x/crypto/salsa20/salsa/hsalsa20.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa208.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa20_ref.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/modules.txt
Owners: none

vendor: github.com/go-logr/logr v1.2.3
  vendor.mod
  vendor.sum
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/modules.txt
Owners: none

vendor: github.com/prometheus/client_golang v1.14.0
  vendor.mod
  vendor.sum
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/doc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/almost_equal.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/timer.go
  vendor/github.com/prometheus/client_model/go/metrics.pb.go
  vendor/modules.txt
Owners: none

vendor: golang.org/x/net v0.4.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/modules.txt
Owners: none

use consistent alias for gotest.tools/v3/assert/cmp
  daemon/images/store_test.go
  daemon/logger/loggerutils/cache/log_cache_test.go
  daemon/logger/loggerutils/sharedtemp_test.go
  image/store_test.go
Owners: none

Remove uses of deprecated go-digest.NewDigestFromHex, go-digest.Digest.Hex
  builder/remotecontext/tarsum.go
  daemon/images/image_prune.go
  distribution/metadata/v2_metadata_service.go
  image/fs.go
  image/fs_test.go
  image/store_test.go
  image/tarexport/save.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_save_load_test.go
  layer/filestore.go
  layer/layer_store.go
  layer/layer_test.go
  testutil/registry/registry.go
Owners: @tonistiigi

image/store: Use errdefs for errors
  image/store.go
  image/store_test.go
Owners: none

ImageService.ImageHistory(): pass context
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_history.go
  daemon/image_service.go
  daemon/images/image_history.go
Owners: none

manage image inspect data in backend
  api/server/router/image/image_routes.go
  api/types/image/opts.go
  daemon/images/image.go
  image/image.go
Owners: none

api: add const for 'X-Registry-Auth'
  api/server/middleware/cors.go
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/swarm/cluster_routes.go
  api/types/registry/authconfig.go
  client/distribution_inspect.go
  client/image_create.go
  client/image_create_test.go
  client/image_pull_test.go
  client/image_push.go
  client/image_push_test.go
  client/image_search.go
  client/image_search_test.go
  client/plugin_install.go
  client/plugin_push.go
  client/plugin_push_test.go
  client/plugin_upgrade.go
  client/service_create.go
  client/service_update.go
Owners: none

api/types: move AuthConfig to registry types
  api/types/auth.go
  api/types/backend/build.go
  api/types/client.go
  api/types/registry/authconfig.go
Owners: none

api/server/router: use types/registry.AuthConfig
  api/server/router/build/build_routes.go
  api/server/router/distribution/backend.go
  api/server/router/distribution/distribution_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/plugin/backend.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
Owners: none

client: use types/registry.AuthConfig
  client/image_build_test.go
  client/interface.go
  client/login.go
Owners: none

daemon/cluster: use types/registry.AuthConfig
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/services.go
Owners: none

daemon: use types/registry.AuthConfig
  daemon/auth.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
