Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

use go-winres for windows build and cleanup autogen and winresources
  .gitignore
  Dockerfile.windows
  Makefile
  cmd/dockerd/docker_windows.go
  dockerversion/version_lib.go
  hack/ci/windows.ps1
  hack/make.ps1
  hack/make/.go-autogen.ps1
  vendor.mod
  vendor/modules.txt
Owners: @tianon

add instructions to generate events message table bin
  cli/winresources/README.md
Owners: none

daemon/config: remove unneeded alias
  daemon/config/config_linux.go
Owners: none

daemon: move default namespaces to daemon/config
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/daemon.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

daemon: move DefaultShutdownTimeout to daemon/config
  cmd/dockerd/config.go
  daemon/config/config.go
Owners: none

Fix up the tests after the big rebase
  integration-cli/docker_cli_daemon_test.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/setup_tables.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/filter.go
  libnetwork/firewall_linux_test.go
  libnetwork/firewallapi/firewallapi.go
  libnetwork/firewalld/firewalld.go
  libnetwork/firewalld/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/nftables/nftables.go
  libnetwork/portmapper/mapper_linux.go
  libnetwork/resolver_unix.go
  libnetwork/service_linux.go
Owners: none

client: CopyToContainer(), CopyFromContainer(): remove status-code handling
  client/container_copy.go
  client/container_copy_test.go
  integration/container/copy_test.go
Owners: none

update golang to 1.18.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update golang to 1.17.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

api: improve documentation of ContainerConfig type
  api/swagger.yaml
  api/types/types.go
Owners: none

Log HNS policylist removal failures
  libnetwork/service_windows.go
Owners: none

Delay network deletion until after lb cleanup
  libnetwork/network.go
  libnetwork/service_common.go
Owners: none

Cleanup servicebindings only on Windows
  libnetwork/network.go
Owners: none

api: docs: improve documentation of ContainerConfig type (API v1.30-v1.41)
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

client: ContainerKill(): don't send signal query-param if none was set
  client/container_kill.go
Owners: none

api: swagger: document ImageSummary fields
  api/swagger.yaml
  api/types/image_summary.go
  api/types/types.go
Owners: none

docs: api: document ImageSummary fields (api v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

libnetwork: don't use strings.Fields() to improve performance
  libnetwork/service_linux.go
Owners: none

daemon: rename some variables, import-aliases and receivers
  daemon/content.go
  daemon/delete.go
  daemon/seccomp_linux_test.go
  daemon/stop.go
Owners: none

daemon: cleanupContainer(): pass ContainerRmConfig as parameter
  daemon/create.go
  daemon/delete.go
Owners: none

daemon: move default stop-timeout to containerStop()
  daemon/daemon.go
  daemon/delete.go
  daemon/restart.go
  daemon/stop.go
Owners: none

daemon: containerStop(): use a regular "defer" to log container event
  daemon/stop.go
Owners: none

backend: add StopOptions to ContainerRestart and ContainerStop
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/types/container/config.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/daemon.go
  daemon/delete.go
  daemon/restart.go
  daemon/stop.go
Owners: none

API: add "signal" parameter to container stop and restart endpoints
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/config.go
  daemon/stop.go
  docs/api/version-history.md
Owners: none

client, integration-cli: remove unneeded import aliases
  client/interface.go
  integration-cli/docker_api_containers_test.go
Owners: none

client: ContainerStop(), ContainerRestart(): support stop-signal
  client/container_restart.go
  client/container_restart_test.go
  client/container_stop.go
  client/container_stop_test.go
  client/interface.go
  integration-cli/docker_api_containers_test.go
  integration/container/pause_test.go
  integration/container/rename_test.go
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
  integration/container/wait_test.go
Owners: none

api/types/time: remove DurationToSecondsString() utility as it's no longer used
  api/types/time/duration_convert.go
  api/types/time/duration_convert_test.go
Owners: none

opts: TestParseDockerDaemonHost(), TestParseTCP() remove workaround
  opts/hosts_test.go
Owners: none

opts: ParseTCPAddr(): remove workaround for go1.5
  opts/hosts.go
Owners: none

opts: re-order test-cases and use more consistent values
  opts/hosts_test.go
Owners: none

opts: use subtests, and split checks
  opts/hosts_test.go
Owners: none

opts: TestParseHost(): also check the error
  opts/hosts_test.go
Owners: none

panic() instead of logrus.Fatal() in init funcs
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/etwlogs/etwlogs_windows.go
  daemon/logger/fluentd/fluentd.go
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gelf/gelf.go
  daemon/logger/journald/journald.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/logentries/logentries.go
  daemon/logger/splunk/splunk.go
  daemon/logger/syslog/syslog.go
  integration-cli/check_test.go
  libnetwork/ipamutils/utils.go
Owners: @samuelkarp

pkg/chrootarchive: remove redundant init() stub for Windows
  pkg/chrootarchive/init_windows.go
Owners: none

api: move types.Volume to volume.Volume
  api/types/deprecated.go
  api/types/volume/volume.go
  hack/generate-swagger-api.sh
Owners: @tianon

api: swagger: move VolumeListResponse to definitions
  api/swagger.yaml
  api/types/volume/volume_list.go
  api/types/volume/volume_list_o_k_body.go
  hack/generate-swagger-api.sh
Owners: @tianon

api: docs: move VolumeListResponse to definitions (v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Owners: none

api/types: replace uses of deprecated types.Volume with volume.Volume
  api/server/router/volume/backend.go
  api/types/types.go
  client/interface.go
  client/volume_create.go
  client/volume_create_test.go
  client/volume_inspect.go
  client/volume_inspect_test.go
  client/volume_list_test.go
  daemon/cluster/executor/backend.go
  daemon/disk_usage.go
  daemon/volumes.go
  integration-cli/docker_cli_external_volume_driver_test.go
  integration/system/disk_usage_test.go
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/service.go
Owners: none

distribution: un-export ImageTypes, make ImagePullConfig.Schema2Types optional
  daemon/images/image_pull.go
  distribution/config.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
Owners: none

distribution: un-export internal errors and error-utilities
  distribution/errors.go
  distribution/errors_test.go
  distribution/pull.go
  distribution/pull_v2.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
