Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

pkg/system: IsProcessAlive() remove redundant type-cast
  pkg/system/process_unix.go
Owners: none

pkg/system: IsProcessZombie() ignore "os.ErrNotExist" errors
  daemon/container_operations_unix.go
  pkg/system/process_unix.go
Owners: none

pkg/system: IsProcessZombie() skip conversion to string, use bytes instead
  pkg/system/process_unix.go
Owners: none

move pkg/system: process to a separate package
  daemon/container_operations_unix.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
  pkg/process/doc.go
  pkg/process/process_unix.go
  pkg/process/process_windows.go
  pkg/system/process_deprecated.go
  pkg/system/process_windows.go
Owners: none

cmd/dockerd: adjust error message for pidfile changes
  cmd/dockerd/daemon.go
Owners: none

pkg/pidfile, pkg/process: use single implementation for process alive
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_darwin.go
  pkg/pidfile/pidfile_unix.go
  pkg/pidfile/pidfile_windows.go
  pkg/process/process_unix.go
  pkg/process/process_windows.go
Owners: none

pkg/process: Alive(): fix PID 0, -1, negative values
  pkg/process/process_test.go
  pkg/process/process_unix.go
Owners: none

pkg/pidfile: implement Read()
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Owners: none

pkg/pidfile: Write(): don't automatically create parent directories
  cmd/dockerd/daemon.go
  pkg/pidfile/pidfile.go
Owners: none

pkg/pidfile: Write(): take pid as argument
  cmd/dockerd/daemon.go
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Owners: none

libcontainerd/supervisor: use pkg/pidfile for reading and writing pidfile
  libcontainerd/supervisor/remote_daemon.go
Owners: none

libnetwork: make tests less dependent on others
  libnetwork/libnetwork_linux_test.go
Owners: none

libnetwork: fix TestParallel "bad file descriptor"
  libnetwork/libnetwork_linux_test.go
Owners: none

libnetwork: Skip setIPv6 if unavailable
  libnetwork/osl/namespace_linux.go
Owners: none

libnetwork: Move bridge.IsV6Listenable to netutils
  libnetwork/drivers/bridge/port_mapping.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/netutils/utils_linux.go
Owners: none

Update to Go 1.19.3 to address CVE-2022-41716
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

[20.10] update to Go 1.18.8 to address CVE-2022-41716
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Owners: none

Remove long-deprecated "arm" fallback
  distribution/pull_v2_unix.go
Owners: none

pkg/directory: Size(): add back type-casts to account for platform differences
  pkg/directory/directory_unix.go
Owners: none

pkg/system: remove Umask() utility
  pkg/archive/archive_linux_test.go
  pkg/archive/diff.go
  pkg/archive/diff_unix.go
  pkg/archive/diff_windows.go
  pkg/chrootarchive/diff_unix.go
  pkg/system/umask.go
  pkg/system/umask_windows.go
Owners: none

pkg/system: move GetExitCode() to pkg/idtools, and un-export
  pkg/idtools/idtools_unix.go
  pkg/system/exitcode.go
Owners: none

pkg/system: unconvert
  pkg/system/stat_windows.go
Owners: none

pkg/directory: remove unused MoveToSubdir() utility
  pkg/directory/directory.go
  pkg/directory/directory_test.go
Owners: none

pkg/directory: minor refactor of Size()
  pkg/directory/directory.go
  pkg/directory/directory_unix.go
  pkg/directory/directory_windows.go
Owners: none

Revert "validation: temporarily allows changes in integration-cli"
  hack/validate/default
Owners: @tianon

pkg/system: MkdirAllWithACL(): remove "perm" argument
  daemon/container_operations_windows.go
  daemon/daemon_windows.go
  pkg/system/filesys_windows.go
Owners: none

vendor: github.com/google/go-cmp v0.5.9 to remove golang.org/x/xerrors dep
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Owners: none

vendor: gotest.tools/v3 v3.4.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/skip/skip.go
  vendor/modules.txt
Owners: none

Add Steve Jobs as a surename in the right list
  pkg/namesgenerator/names-generator.go
Owners: none

go.mod: github.com/miekg/dns v1.1.43
  vendor.mod
  vendor.sum
  vendor/github.com/miekg/dns/.travis.yml
  vendor/github.com/miekg/dns/Makefile.release
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/listen_no_reuseport.go
  vendor/github.com/miekg/dns/listen_reuseport.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/svcb.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/modules.txt
Owners: none

Fix swagger docs for ImageSummary
  api/swagger.yaml
Owners: none

replace distribution/digestset with opencontainers/go-digest/digestset
  image/store.go
  vendor/github.com/opencontainers/go-digest/digestset/set.go
  vendor/modules.txt
Owners: none

Remove uses of deprecated go-digest.NewDigestFromHex, go-digest.Digest.Hex
  builder/remotecontext/tarsum.go
  daemon/images/image_prune.go
  distribution/metadata/v2_metadata_service.go
  image/fs.go
  image/fs_test.go
  image/store_test.go
  image/tarexport/save.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_save_load_test.go
  layer/filestore.go
  layer/layer_store.go
  layer/layer_test.go
  testutil/registry/registry.go
Owners: @tonistiigi

libnet/osl: stop assuming caller thread is clean
  libnetwork/osl/namespace_linux.go
Owners: none

libnet/datastore: stop sharing defaultScopes singleton
  libnetwork/datastore/datastore.go
Owners: none

libnetwork_test: pass controller into createTestNetwork
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
Owners: none

libnetwork_test: remove in-container special case
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/endpoint_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/sandbox_test.go
  libnetwork/testutils/context_unix.go
  libnetwork/testutils/net.go
Owners: none

libnet/testutils: spawn goroutines in test OS ctxs
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/resolver_test.go
  libnetwork/testutils/context.go
  libnetwork/testutils/context_unix.go
  libnetwork/testutils/context_windows.go
Owners: none

libnet/d/bridge: configure store when opts missing
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/drivers/bridge/setup_ip_tables_test.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
