Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Update to Go 1.19.3 to address CVE-2022-41716
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to golang 1.19
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to go1.19.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update to go 1.19.1 to address CVE-2022-27664, CVE-2022-32190
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

vendor: update stdlib archive/tar for go1.19
  vendor/archive/tar/common.go
  vendor/archive/tar/format.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
  vendor/archive/tar/testdata/pax-bad-hdr-large.tar.bz2
  vendor/archive/tar/writer.go
  vendor/archive/tar/writer_test.go
Owners: none

update to go1.19.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update to go1.19.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

api: Remove <none> in Repo(Tags|Digests) for >= 1.43
  api/server/router/image/image_routes.go
  daemon/images/image_prune.go
  docs/api/version-history.md
  testutil/environment/protect.go
Owners: none

Wait longer for exit events on Windows
  daemon/kill.go
  integration/container/wait_test.go
Owners: none

api/server: drop unused Config struct
  api/server/server.go
  api/server/server_test.go
  cmd/dockerd/daemon.go
Owners: none

Fix the contribution guide flow
  CONTRIBUTING.md
  docs/contributing/README.md
  docs/contributing/advanced-contributing.md
  docs/contributing/ctn-build.md
  docs/contributing/debug.md
  docs/contributing/getting-started.md
  docs/contributing/set-up-dev-env.md
  docs/contributing/set-up-git.md
  docs/contributing/set-up-ide.md
  docs/contributing/software-req-win.md
  docs/contributing/software-required.md
Owners: none

[23.0] update containerd binary to v1.6.19
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/Microsoft/hcsshim v0.9.7
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

registry: acquire mutex in IsInsecureRegistry
  registry/service.go
Owners: none

Make default options for newly created networks configurable
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/network.go
  integration/network/network_test.go
  opts/opts.go
  opts/opts_test.go
Owners: none

api/server: delete Wait method
  api/server/server.go
  cmd/dockerd/daemon.go
Owners: none

libcontainerd/client: Fix checkpoint not being set
  libcontainerd/remote/client.go
Owners: none

libcontainerd/client: Rename `cp` to `checkpoint`
  libcontainerd/remote/client.go
Owners: none

daemon/config: remove AuthzMiddleware field
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/daemon.go
Owners: none

libcontainerd: create unstarted tasks
  daemon/start.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Owners: @cpuguy83

daemon: set libnetwork sandbox key w/o OCI hook
  daemon/oci_linux.go
  daemon/start.go
  libnetwork/osl/namespace_linux.go
  oci/namespaces.go
Owners: none

builder-next: pass whole Opt struct to newExecutor
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
Owners: @tonistiigi

builder-next: setup network namespace w/o OCI hook
  builder/builder-next/builder.go
  builder/builder-next/executor_unix.go
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/daemon.go
  libcontainerd/remote/c8dclient.go
  vendor/github.com/moby/buildkit/executor/containerdexecutor/executor.go
  vendor/modules.txt
Owners: @tonistiigi

libnetwork: remove unused libnetwork-setkey reexec
  libnetwork/controller.go
  libnetwork/sandbox_externalkey.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_externalkey_windows.go
Owners: none

`docker image ls`: handle multi-platform images
  daemon/containerd/image_list.go
Owners: none

builder: Remove buildkit's build information
  builder/builder-next/exporter/export.go
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

vendor: buildkit v0.11.4-0.20230228113103-218e934edfba
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remote.go
  vendor/github.com/moby/buildkit/client/llb/definition.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/exporter/containerimage/exptypes/types.go
  vendor/github.com/moby/buildkit/exporter/containerimage/opts.go
  vendor/github.com/moby/buildkit/snapshot/diffapply_unix.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/util/buildinfo/buildinfo.go
  vendor/github.com/moby/buildkit/util/buildinfo/types/types.go
  vendor/github.com/moby/buildkit/util/imageutil/buildinfo.go
  vendor/modules.txt
Owners: none

builder/exporter: Remove commented unused const
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

vendor: github.com/Microsoft/hcsshim v0.9.7
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/modules.txt
Owners: none

vendor: github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

libnet/ipam: fix racy, flaky unit test
  libnetwork/ipam/allocator_test.go
Owners: none

c8d/list: Support dangling filter
  daemon/containerd/image_list.go
Owners: none

Add support for devices in swarm
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
Owners: none

reference: rename variables that collided with type / import
  reference/store.go
Owners: none

reference: use t.TempDir() for tests
  reference/store_test.go
Owners: none

reference: don't string-match errors in tests, and fix error format
  reference/store.go
  reference/store_test.go
Owners: none

reference: add test-coverage for digested references
  reference/store_test.go
Owners: none

layer: NewStoreFromOptions(): include driver-name in error message
  layer/layer_store.go
Owners: none

Introduce support for docker commit
  daemon/containerd/image_commit.go
  daemon/containerd/service.go
  daemon/daemon.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
