Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Update to go 1.18.6 to address CVE-2022-27664, CVE-2022-32190
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update to go 1.18.6 to address CVE-2022-27664, CVE-2022-32190
  .github/workflows/.windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

daemon/images: manifestMatchesPlatform() punch through context
  daemon/images/image.go
Owners: none

Wrap local calls to the content and lease service
  daemon/content.go
  daemon/daemon.go
Owners: none

update to golang 1.19
  .github/workflows/.windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  daemon/content.go
  libnetwork/resolvconf/resolvconf_linux_test.go
Owners: none

Update to go 1.19.1 to address CVE-2022-27664, CVE-2022-32190
  .github/workflows/.windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

prefer Errorf for errors with parameters
  api/types/filters/parse.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  pkg/archive/copy.go
  pkg/parsers/kernel/kernel.go
Owners: none

ImageService.GetImage(): pass context
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/image.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image.go
  daemon/images/image_builder.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_history.go
  daemon/images/image_list.go
  daemon/images/image_pull.go
  daemon/images/image_tag.go
  daemon/list.go
  daemon/oci_windows.go
Owners: none

imageservice: add contexts to various methods
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/swarm/backend.go
  api/server/router/swarm/cluster_routes.go
  builder/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/imageprobe.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_linux.go
  builder/dockerfile/internals_linux_test.go
  builder/dockerfile/internals_windows.go
  builder/dockerfile/mockbackend_test.go
  cmd/dockerd/daemon.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/swarm.go
  daemon/commit.go
  daemon/containerd/cache.go
  daemon/containerd/image_import.go
  daemon/create.go
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image_import.go
  daemon/list.go
  daemon/list_test.go
  daemon/monitor.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  daemon/oci_windows.go
  daemon/restart.go
  daemon/start.go
Owners: @tonistiigi

api/server/backend/build: remove Tagger and NewTagger
  api/server/backend/build/backend.go
  api/server/backend/build/tag.go
Owners: none

containerd-integration: prefer error over panic where possible
  daemon/changes.go
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_history.go
  daemon/containerd/image_import.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/image_search.go
  daemon/containerd/image_squash.go
  daemon/containerd/image_tag.go
  daemon/containerd/service.go
Owners: none

update to golang 1.19
  .github/workflows/.windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  daemon/content.go
  libnetwork/resolvconf/resolvconf_linux_test.go
Owners: none

Update to go 1.19.1 to address CVE-2022-27664, CVE-2022-32190
  .github/workflows/.windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

ci: gha test workflow for integration and unit test
  .github/actions/setup-runner/action.yml
  .github/workflows/test.yml
  Makefile
  docker-bake.hcl
Owners: none

integration: TestNetworkLoopbackNat is broken on GitHub Runner
  Makefile
  hack/make/.integration-test-helpers
  integration/container/nat_test.go
Owners: @tianon

ci(test): upload reports
  .github/workflows/test.yml
Owners: none

integration-cli: TestPluginInstallImage broken on GitHub Runner
  integration-cli/docker_cli_plugins_test.go
Owners: none

integration-cli: TestEventsOOM* broken on GitHub Runner
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/requirements_test.go
  testutil/environment/environment.go
Owners: none

ci: fix .windows workflow name
  .github/workflows/.windows.yml
Owners: none

ci(test): send coverage to codecov
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
  hack/make/.integration-test-helpers
  hack/test/unit
Owners: @tianon

integration: TestNetworkLoopbackNat is broken on GitHub Runner
  Makefile
  hack/make/.integration-test-helpers
  integration/container/nat_test.go
Owners: @tianon

ci: gha test workflow for integration and unit test
  .github/actions/setup-runner/action.yml
  .github/workflows/test.yml
  Makefile
  docker-bake.hcl
Owners: none

integration-cli: TestEventsOOM* broken on GitHub Runner
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/requirements_test.go
  testutil/environment/environment.go
Owners: none

ci(test): upload reports
  .github/workflows/test.yml
Owners: none

ci(test): send coverage to codecov
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
  hack/make/.integration-test-helpers
  hack/test/unit
Owners: @tianon

ci: fix .windows workflow name
  .github/workflows/.windows.yml
Owners: none

integration-cli: TestPluginInstallImage broken on GitHub Runner
  integration-cli/docker_cli_plugins_test.go
Owners: none

Jenkinsfile: remove steps moved to GitHub Actions
  Jenkinsfile
Owners: none

use consistent alias for gotest.tools/v3/assert/cmp
  daemon/images/store_test.go
  daemon/logger/loggerutils/cache/log_cache_test.go
  daemon/logger/loggerutils/sharedtemp_test.go
  image/store_test.go
Owners: none

Jenkinsfile: remove steps moved to GitHub Actions
  Jenkinsfile
Owners: none

Wrap local calls to the content and lease service
  daemon/content.go
  daemon/daemon.go
Owners: none

Update some tests for supplementary group permissions
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
Owners: none

Update some tests for supplementary group permissions
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
Owners: none

AdditionalGids must include effective group ID
  daemon/oci_linux.go
Owners: none

Update some tests for supplementary group permissions
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
Owners: none

ci(test): validate job matrix
  .github/workflows/test.yml
  Makefile
Owners: none

Update uses of Image platform fields in OCI image-spec
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

Update uses of Image platform fields in OCI image-spec
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

[20.10] Update uses of Image platform fields in OCI image-spec
  builder/builder-next/exporter/writer.go
Owners: @tonistiigi

Revert "validation: temporarily allows changes in integration-cli"
  hack/validate/default
Owners: @tianon
