Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

Add const for "unconfined" and default seccomp profiles
  daemon/config/config.go
  daemon/info.go
  daemon/seccomp_disabled.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
  integration-cli/docker_cli_info_unix_test.go
Owners: none

daemon/config: rename the default seccomp profile to "builtin"
  daemon/config/config.go
Owners: none

Fix daemon.json and daemon --seccomp-profile not accepting "unconfined"
  cmd/dockerd/config_unix.go
  daemon/daemon_unix.go
  daemon/seccomp_linux.go
  integration/daemon/daemon_test.go
Owners: none

daemon: allow "builtin" as valid value for seccomp profiles
  daemon/daemon_unix.go
  daemon/seccomp_linux.go
  integration/daemon/daemon_test.go
Owners: none

daemon: move custom seccomp profile warning from CLI to daemon side
  daemon/info.go
Owners: none

daemon: normalize seccomp profile as part of setupSeccompProfile()
  daemon/daemon_unix.go
  daemon/info.go
Owners: none

Update Go to 1.16.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Update Go to 1.16.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

archive: big refactor with containerfs to remove duplicates from LCOW
  builder/dockerfile/internals.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/archive/archive_windows.go
  pkg/archive/archive_windows_test.go
  pkg/archive/copy.go
  pkg/containerfs/archiver.go
Owners: @tonistiigi

wip: remove containerfs dependency
  pkg/archive/archive.go
Owners: none

daemon: simplify networking config
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Owners: none

runconfig: decodeContainerConfig() return early if there's no HostConfig
  runconfig/config.go
  runconfig/config_unix.go
  runconfig/hostconfig.go
  runconfig/hostconfig_unix.go
  runconfig/hostconfig_windows.go
Owners: none

Jenkinsfile: update Windows 2022 insider to latest tag (10.0.20348.1)
  Jenkinsfile
Owners: none

daemon: sort imports according to gofmt
  daemon/daemon.go
Owners: none

daemon,volume: share disk usage computations
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/images/service.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  volume/service/service.go
Owners: none

docs/api: add node about concurrency on /system/df endpoint
  docs/api/version-history.md
Owners: none

container: un-export DefaultStopTimeout
  container/container.go
  container/container_unit_test.go
  container/container_unix.go
  container/container_windows.go
Owners: none

pkg/signal: remove DefaultStopSignal const
  container/container.go
  container/container_unit_test.go
  container/container_unix.go
  container/container_windows.go
  pkg/signal/signal_deprecated.go
Owners: none

api,hack: add VolumeUsage type
  api/swagger.yaml
  api/types/volume.go
  api/types/volume_usage.go
  api/types/volume_usage_data.go
  hack/generate-swagger-api.sh
Owners: @tianon

daemon,volume,api: use VolumeUsage type in DiskUsage
  api/types/types.go
  client/disk_usage_test.go
  daemon/disk_usage.go
  docs/api/version-history.md
  integration/system/disk_usage_test.go
  volume/service/service.go
Owners: none

api: preserve DiskUsage.Volumes JSON schema pre-1.42
  api/server/router/system/system_routes.go
Owners: none

daemon: WithCapabilities(): drop CAP_NET_BIND_SERVICE if not needed
  daemon/oci_linux.go
  daemon/oci_linux_test.go
Owners: none

integration/network: remove IsUserNamespace in favor of testenv equivalent
  integration/network/dns_test.go
  integration/network/helpers.go
  integration/network/helpers_windows.go
  integration/network/network_test.go
Owners: none

integration/network: remove unused CheckKernelMajorVersionGreaterOrEqualThen
  integration/network/helpers.go
Owners: none

Jenkinsfile: also run unit-tests on rootless
  Jenkinsfile
Owners: none

Add more optimal MatchesUsingParentResult method, use it in pkg/archive
  pkg/archive/archive.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

Rename Matches to MatchesOrParentMatches
  builder/remotecontext/detect.go
  pkg/archive/archive.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: @tonistiigi

Test fix for Windows compatibility
  pkg/fileutils/fileutils_test.go
Owners: none

Improve push output.
  distribution/push_v2.go
Owners: none

Windows CI: Add support for testing with containerd
  Dockerfile.windows
  Jenkinsfile
  cmd/dockerd/daemon_windows.go
  daemon/start_windows.go
  hack/ci/windows.ps1
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_commit_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/requirements_test.go
  integration/container/exec_test.go
  pkg/system/init_windows.go
  testutil/environment/environment.go
Owners: @tianon

pkg/archive: Use pigz for compression in docker push
  cmd/dockerd/config.go
  daemon/config/config.go
  distribution/push.go
  distribution/push_v2.go
  distribution/xfer/upload.go
  distribution/xfer/upload_test.go
  pkg/archive/archive.go
Owners: none

libnetwork: remove unused "testutils" imports
  cmd/docker-proxy/network_proxy_test.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/config/config_test.go
  libnetwork/datastore/datastore_test.go
  libnetwork/driverapi/driverapi_test.go
  libnetwork/drivers/host/host_test.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/drivers/null/null_test.go
  libnetwork/drivers/overlay/overlay_test.go
  libnetwork/drivers/overlay/ovmanager/ovmanager_test.go
  libnetwork/drivers/overlay/peerdb_test.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/drvregistry/drvregistry_test.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/hostdiscovery/hostdiscovery_test.go
  libnetwork/idm/idm_test.go
  libnetwork/internal/caller/caller_test.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/null/null_test.go
  libnetwork/ipams/remote/remote_test.go
  libnetwork/ipams/windowsipam/windowsipam_test.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/iptables/iptables_test.go
  libnetwork/netlabel/labels_test.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/options/options_test.go
  libnetwork/osl/kernel/knobs_linux_test.go
  libnetwork/portallocator/portallocator_test.go
  libnetwork/portmapper/mapper_linux_test.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/types/types_test.go
Owners: none

testutil: don't import "opts" package
  testutil/daemon/daemon.go
  testutil/request/request.go
Owners: none

bump up rootlesskit to v0.14.4
  hack/dockerfile/install/rootlesskit.installer
Owners: @tianon

Windows CI: Make sure that correct version of containerd-shim-runhcs-v1.exe is used
  hack/ci/windows.ps1
Owners: @tianon

Add RestartPolicy "no" to swagger docs
  api/swagger.yaml
Owners: none

Use explicit object names for improved swagger based code generation
  api/swagger.yaml
Owners: none

Add "changes" query parameter for /image/create to swagger docs
  api/swagger.yaml
Owners: none

Fix swagger docs to match the opencontainers image-spec
  api/swagger.yaml
Owners: none

Fix ContainerSummary swagger docs
  api/swagger.yaml
Owners: none
