Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

daemon/images.NewImageService() don't print debug logs
  daemon/daemon.go
  daemon/images/service.go
Owners: none

api: postImagesCreate(): rename ambiguous err variable
  api/server/router/image/image_routes.go
Owners: none

api: postImagesCreate(): use local variable for platform
  api/server/router/image/image_routes.go
Owners: none

integration-cli: TestImportBadURL: use proper rfc6761 "invalid domain"
  integration-cli/docker_cli_import_test.go
Owners: none

Add support for platform (os and architecture) on image import
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  daemon/images/image_import.go
  docs/api/version-history.md
  integration/image/import_test.go
Owners: none

layer: remove unused error return from .Size() and .DiffSize()
  builder/builder-next/adapters/snapshot/snapshot.go
  daemon/images/image_history.go
  daemon/images/image_inspect.go
  daemon/images/image_prune.go
  daemon/images/image_unix.go
  daemon/images/images.go
  daemon/images/service.go
  distribution/config.go
  distribution/xfer/download_test.go
  layer/empty.go
  layer/empty_test.go
  layer/layer.go
  layer/layer_store.go
  layer/layer_test.go
  layer/layer_unix_test.go
  layer/ro_layer.go
Owners: @tonistiigi

daemon/images: ImageService.LookupImage(): minor cleanup
  daemon/images/image_inspect.go
Owners: none

distribution: PushLayer.Size(): remove unused error return
  distribution/config.go
  distribution/push_v2.go
Owners: none

[WIP] Separate static binary for chrootarchive
  cmd/docker-chrootarchive/archive.go
  cmd/docker-chrootarchive/assert_static.go
  cmd/docker-chrootarchive/chroot_linux.go
  cmd/docker-chrootarchive/chroot_unix.go
  cmd/docker-chrootarchive/common.go
  cmd/docker-chrootarchive/cve-2019-14271.go
  cmd/docker-chrootarchive/diff.go
  cmd/docker-chrootarchive/main.go
  cmd/docker-chrootarchive/notcgo.go
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_test.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/command_unix.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/init_unix.go
  pkg/chrootarchive/init_windows.go
  pkg/chrootarchive/sysprocattr_linux.go
  pkg/chrootarchive/sysprocattr_other.go
Owners: none

daemon/images: remove leftover LCOW platform checks
  daemon/images/image_delete.go
  daemon/images/image_history.go
  daemon/images/image_import.go
  daemon/images/image_inspect.go
  daemon/images/images.go
Owners: none

image: remove leftover LCOW platform checks
  image/store.go
  image/tarexport/save.go
Owners: none

builder/dockerfile: remove leftover LCOW platform checks
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
Owners: @tonistiigi

daemon: remove leftover LCOW platform checks
  daemon/create.go
  daemon/delete.go
  daemon/export.go
Owners: none

ImageService.ReleaseLayer(): remove unused containerOS argument
  daemon/delete.go
  daemon/export.go
  daemon/images/service.go
Owners: none

daemon.cleanupContainer() remove named return variable
  daemon/delete.go
Owners: none

layer: remove OS from layerstore
  daemon/daemon.go
  integration/image/remove_unix_test.go
  layer/layer_store.go
  layer/layer_test.go
  layer/migration_test.go
  layer/ro_layer.go
Owners: none

pkg/system: remove unused HasWin32KSupport()
  pkg/system/syscall_windows.go
  pkg/system/syscall_windows_test.go
Owners: none

pkg/system: rewrite IsWindowsClient() using golang.org/x/sys/windows
  pkg/system/syscall_windows.go
Owners: none

Correct the logging
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

Like tell me why no quota
  daemon/graphdriver/overlay2/overlay.go
Owners: @dmcgowan

daemon/graphdriver/fuse-overlayfs: Init(): fix directory permissions (staticcheck)
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
Owners: none

seccomp: add support for Landlock syscalls in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

client/request.go:157:8: SA1019: err.Temporary is deprecated (staticcheck)
  client/request.go
Owners: none

Update dockerd.md
  docs/reference/commandline/dockerd.md
Owners: none

Added famous person
  pkg/namesgenerator/names-generator.go
Owners: none

pkg/namesgenerator: remove names-generator binary
  pkg/namesgenerator/cmd/names-generator/main.go
Owners: none

hack/vendor.sh: run "go mod tidy" before vendoring
  hack/validate/vendor
  hack/vendor.sh
Owners: @tianon

update runc binary to v1.1.0
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: github.com/docker/distribution v2.8.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.gometalinter.json
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/.travis.yml
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Owners: none

[20.10] vendor: github.com/docker/distribution v2.8.0
  vendor.conf
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
Owners: none

daemon/logger/awslogs: suppress false positive on hardcoded creds (gosec)
  daemon/logger/awslogs/cloudwatchlogs.go
Owners: @samuelkarp

client.NewClientWithOpts(): remove redundant type assertion (gosimple)
  client/client.go
Owners: none

libnetwork: fix unhandled errors in tests (ineffassign)
  libnetwork/libnetwork_test.go
Owners: none

integration-cli: SA5011: possible nil pointer dereference (staticcheck)
  integration-cli/docker_utils_test.go
Owners: none

Dockerfile: update golangci-lint v1.44.0
  Dockerfile
  hack/validate/golangci-lint.yml
Owners: @tianon

daemon/graphdriver/fuse-overlayfs: Init(): fix directory permissions (staticcheck)
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
Owners: none

oci: inheritable capability set should be empty
  daemon/exec_linux.go
  oci/defaults.go
  oci/oci.go
Owners: none

contrib/check-config.sh: make NETFILTER_XT_MATCH_IPVS optional
  contrib/check-config.sh
Owners: none

client: extract FromEnv parts to separate WithXX options
  client/options.go
  client/options_test.go
Owners: none

Freeze the namesgenerator package against new additions
  pkg/namesgenerator/names-generator.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
