Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

integration: synchronize TestWaitConditions
  integration/container/wait_test.go
Owners: none

introduce GetImageOpts to manage image inspect data in backend
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/types/image/opts.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/image.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image.go
  daemon/images/image_builder.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_history.go
  daemon/images/image_list.go
  daemon/images/image_pull.go
  daemon/images/image_tag.go
  daemon/list.go
  daemon/oci_windows.go
Owners: none

Added dryRun parameter to container prune tests
  client/container_prune_test.go
Owners: none

daemon: restore(): remove platform-check (was used for LCOW)
  daemon/daemon.go
Owners: none

daemon: restore(): remove fallback for legacy containers
  daemon/daemon.go
Owners: none

daemon: Mount(): use container's driver information for error-message
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/images/service.go
Owners: none

daemon/config: New(): initialize config with platform-specific defaults
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_unix_test.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/docker.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows.go
  daemon/config/config_windows_test.go
  daemon/runtime_unix_test.go
Owners: none

cmd/dockerd: use initialized config in tests
  cmd/dockerd/daemon_test.go
Owners: none

daemon/config: use initialized config in more tests
  daemon/config/config_linux_test.go
Owners: none

Makefile: update buildx to v0.9.0
  Makefile
Owners: none

vendor: github.com/containerd/containerd v1.6.8
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

gosec: G404: Use of weak random number generator
  pkg/namesgenerator/names-generator.go
  testutil/stringutils.go
Owners: none

daemon/logger/journald: fix linting errors
  daemon/logger/journald/read.go
Owners: none

client: S1031: unnecessary nil check around range (gosimple)
  client/request.go
Owners: none

staticcheck: SA4001: &*x will be simplified to x. It will not copy x
  daemon/logger/local/local_test.go
  daemon/volumes_unix_test.go
Owners: none

gosimple: S1039: unnecessary use of fmt.Sprintf
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_build_test.go
  integration/plugin/graphdriver/external_test.go
  pkg/devicemapper/devmapper.go
  pkg/jsonmessage/jsonmessage_test.go
Owners: none

gosec: G601: Implicit memory aliasing in for loop
  builder/dockerfile/builder.go
  daemon/container.go
  distribution/push_v2.go
  libcontainerd/remote/client.go
  plugin/v2/plugin.go
Owners: @tonistiigi, @cpuguy83

G601: Implicit memory aliasing in for loop
  daemon/cluster/executor/container/adapter.go
  daemon/network.go
Owners: none

unused: ignore false positives
  integration/build/build_session_test.go
  integration/container/checkpoint_test.go
  integration/network/service_test.go
Owners: none

daemon/stats: fix notRunningErr / notFoundErr detected as unused (false positive)
  daemon/stats/collector.go
Owners: none

pkg/archive: RebaseArchiveEntries(): ignore G110
  pkg/archive/copy.go
Owners: none

daemon/splunk: ignore G402: TLS MinVersion too low for now
  daemon/logger/splunk/splunk.go
Owners: none

if-return: redundant if ...; err != nil check (revive)
  builder/builder-next/adapters/snapshot/snapshot.go
  plugin/fetch_linux.go
Owners: @tonistiigi, @cpuguy83

reformat "nolint" comments
  builder/builder-next/worker/gc_unix.go
  daemon/config/config_unix.go
  daemon/daemon_unix.go
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/devmapper/devmapper_test.go
  daemon/network.go
  daemon/top_unix.go
  integration/internal/network/network.go
  oci/oci.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/devicemapper/devmapper.go
  pkg/loopback/loopback.go
  pkg/system/chtimes_linux_test.go
  pkg/system/stat_linux.go
  volume/drivers/extpoint.go
Owners: @tonistiigi, @rhvgoyal

daemon/config: error strings should not be capitalized
  daemon/config/config_unix.go
Owners: none

daemon: var-declaration: should omit type bool (revive)
  daemon/list.go
Owners: none

graphdriver: temporarily ignore unsafeptr: possible misuse of reflect.SliceHeader
  daemon/graphdriver/graphtest/graphtest_unix.go
Owners: none

golangci.yml: update regex for ignoring SA1019
  hack/validate/golangci-lint.yml
Owners: @tianon

golangci.yml: skip some tests
  hack/validate/golangci-lint.yml
Owners: @tianon

golangci.yml: do not limit max reported issues
  hack/validate/golangci-lint.yml
Owners: @tianon

registry: trimV1Address(): simplify trimming trailing slash
  registry/endpoint_v1.go
Owners: none

client/request.go:157:8: SA1019: err.Temporary is deprecated (staticcheck)
  client/request.go
Owners: none

daemon/logger/awslogs: suppress false positive on hardcoded creds (gosec)
  daemon/logger/awslogs/cloudwatchlogs.go
Owners: @samuelkarp

client.NewClientWithOpts(): remove redundant type assertion (gosimple)
  client/client.go
Owners: none

integration-cli: SA5011: possible nil pointer dereference (staticcheck)
  integration-cli/docker_utils_test.go
Owners: none

Dockerfile: update golangci-lint v1.44.0
  hack/dockerfile/install/golangci_lint.installer
  hack/validate/golangci-lint.yml
Owners: @tianon

daemon: make config reloading more transactional
  daemon/reload.go
  daemon/reload_test.go
  daemon/reload_unix.go
  daemon/reload_windows.go
  registry/service.go
Owners: none

staticcheck: ignore "SA1019: strings.Title is deprecated"
  daemon/logger/templates/templates.go
  pkg/plugins/pluginrpc-gen/template.go
Owners: none

update golang to 1.18.0
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

daemon/graphdriver: don't unmount graphdriver root
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/devmapper/driver.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/mount/mount_unix.go
  vendor/modules.txt
Owners: @rhvgoyal, @dmcgowan

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
