Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

seccomp: Use explicit DefaultErrnoRet
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/fixtures/example.json
  profiles/seccomp/seccomp_test.go
Owners: none

Update config.go
  daemon/logger/local/config.go
Owners: none

Update local.go
  daemon/logger/local/local.go
Owners: none

libnetwork: wait until t.Deadline() instead of hardcoded value
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnetwork/networkdb: consistently wait for nodes in tests
  libnetwork/networkdb/networkdb_test.go
Owners: none

Replace deprecated microsoft/windowsservercore:latest image
  Dockerfile.windows
  opts/hosts_windows.go
  testutil/environment/environment.go
Owners: none

WIP WIP make more changes
  Dockerfile.windows
  testutil/environment/environment.go
Owners: none

[WIP] Add stdio support for execs
  container/stream/streamv2/stdio/client.go
  container/stream/streamv2/stdio/local.go
  container/stream/streamv2/stdio/local_unix.go
  container/stream/streamv2/stdio/server.go
  container/stream/streamv2/stdio/stdio.pb.go
  container/stream/streamv2/stdio/stdio.proto
  container/stream/streamv2/stream.go
  daemon/exec.go
  daemon/exec/exec.go
  daemon/health.go
Owners: none

Fix builder mock nil channel
  builder/dockerfile/mockbackend_test.go
Owners: @tonistiigi

hack/test/unit: run libnetwork tests sequentially
  Jenkinsfile
  hack/test/unit
Owners: @tianon

pkg/compute: add Singleton utility
  pkg/compute/compute.go
  pkg/compute/compute_test.go
Owners: none

daemon: sort imports according to gofmt
  daemon/daemon.go
Owners: none

API,cmd: pass buildkit into build router
  api/server/router/build/build.go
  cmd/dockerd/daemon.go
Owners: none

API,builder: move error wrapping into Builder.DiskUsage
  api/server/router/system/system_routes.go
  builder/builder-next/builder.go
Owners: @tonistiigi

daemon: expose disk usage functionality per object, parallelize
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/images/service.go
  volume/service/service.go
  volume/service/service_test.go
Owners: none

Revert "Temporarily disable CAP_PERFMON, CAP_BPF, and CAP_CHECKPOINT_RESTORE"
  oci/caps/utils.go
Owners: none

bump up rootlesskit to v0.14.4
  hack/dockerfile/install/rootlesskit.installer
Owners: @tianon

oci/caps: remove hack for RHEL6 kernels
  oci/caps/utils.go
Owners: none

oci/caps: rename some vars that conflicted with imports / built-ins
  oci/caps/utils.go
Owners: none

oci/caps: minor optimization in init
  oci/caps/utils.go
Owners: none

oci/caps: generate list of all capabilities on "init"
  oci/caps/utils.go
Owners: none

oci/caps: use map for capabilities to simplify lookup
  oci/caps/utils.go
Owners: none

oci/caps: improve error message for unsupported capabilities
  oci/caps/utils.go
Owners: none

oci/caps: simplify, and remove types that were not needed
  oci/caps/utils.go
Owners: none

API: add `/usage` endpoints per object type
  api/server/router/build/build.go
  api/server/router/build/build_routes.go
  api/server/router/container/backend.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  api/server/router/volume/backend.go
  api/server/router/volume/volume.go
  api/server/router/volume/volume_routes.go
  client/build_disk_usage.go
  client/build_disk_usage_test.go
  client/container_disk_usage.go
  client/container_disk_usage_test.go
  client/image_disk_usage.go
  client/image_disk_usage_test.go
  client/volume_disk_usage.go
  client/volume_disk_usage_test.go
Owners: none

API,hack: introduce Usage-specific object types
  api/swagger.yaml
  api/types/image_usage.go
  api/types/types.go
  api/types/volume.go
  api/types/volume_usage.go
  api/types/volume_usage_data.go
  hack/generate-swagger-api.sh
Owners: @tianon

API,daemon: use smaller object Usage types
  api/server/router/build/build.go
  api/server/router/build/build_routes.go
  api/server/router/container/backend.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  api/server/router/system/system_routes.go
  api/server/router/volume/backend.go
  api/server/router/volume/volume.go
  api/server/router/volume/volume_routes.go
  api/types/types.go
  builder/builder-next/builder.go
  client/build_disk_usage.go
  client/build_usage.go
  client/build_usage_test.go
  client/container_disk_usage.go
  client/container_usage.go
  client/container_usage_test.go
  client/image_usage.go
  client/image_usage_test.go
  client/volume_usage.go
  client/volume_usage_test.go
  daemon/daemon.go
  daemon/images/service.go
  daemon/usage.go
  volume/service/service.go
Owners: @tonistiigi

daemon: refactor container listing
  daemon/list.go
Owners: none

daemon: simplify container usage computation
  daemon/usage.go
Owners: none

daemon: paralellize disk usage computations
  daemon/disk_usage.go
Owners: none

daemon/images: optimize `repoDigests` and `repoTags` construction
  daemon/images/images.go
Owners: none

daemon/images: optimize danglingOnly queries
  daemon/images/images.go
Owners: none

daemon/images: add utility for ranging over chain IDs
  daemon/images/images.go
Owners: none

api/types: hostconfig: define consts for IpcMode
  api/server/router/container/container_routes.go
  api/types/container/host_config.go
  cmd/dockerd/config_unix.go
  daemon/config/config_linux.go
  daemon/daemon_unix.go
  daemon/oci_linux_test.go
  integration/container/ipcmode_linux_test.go
Owners: none

api/types: hostconfig: create enum for CgroupnsMode
  api/server/router/container/container_routes.go
  api/types/container/host_config.go
  cmd/dockerd/config_unix.go
  daemon/config/config_linux.go
  daemon/daemon_unix.go
Owners: none

api/types: hostconfig: clean up enum for Isolation
  api/types/container/host_config.go
Owners: none

api/types: hostconfig: fix LogMode enum
  api/types/container/host_config.go
  daemon/logger/loggerutils/cache/local_cache.go
Owners: none

API: discard `/system/df` `type` parameter pre-1.42
  api/server/router/system/system_routes.go
Owners: none

client: deprecate client.CustomHTTPHeaders()
  client/client.go
Owners: none

client: remove deprecated SetCustomHTTPHeaders(), CustomHTTPHeaders()
  client/client.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
