Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah

fix some linting issues (errCheck, misspell, unconvert)
  nat.go
  nat_test.go
  sort.go
  sort_test.go
Owners: none

integration: copy loop variable into parallel test closures
  integration/container/container_test.go
  integration/network/network_test.go
  integration/plugin/common/plugin_test.go
  integration/volume/volume_test.go
Owners: none

replace pkg/signal with moby/sys/signal v0.5.0
  api/server/router/container/container_routes.go
  builder/dockerfile/dispatchers.go
  container/container.go
  container/container_unit_test.go
  daemon/container.go
  daemon/exec.go
  daemon/kill.go
  pkg/signal/README.md
  pkg/signal/signal_deprecated.go
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_test.go
  vendor.conf
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/signal/go.mod
  vendor/github.com/moby/sys/signal/signal.go
  vendor/github.com/moby/sys/signal/signal_darwin.go
  vendor/github.com/moby/sys/signal/signal_freebsd.go
  vendor/github.com/moby/sys/signal/signal_linux.go
  vendor/github.com/moby/sys/signal/signal_linux_mipsx.go
  vendor/github.com/moby/sys/signal/signal_unix.go
  vendor/github.com/moby/sys/signal/signal_unsupported.go
  vendor/github.com/moby/sys/signal/signal_windows.go
Owners: @tonistiigi

API: add Plaform (OS and Architecture) to /containers/json
  api/swagger.yaml
  api/types/types.go
  container/container.go
  container/view.go
  daemon/container.go
  daemon/create.go
  docs/api/version-history.md
  integration/container/ps_test.go
Owners: none

API: omit container platform information on API < v1.42
  api/server/router/container/container_routes.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
Owners: none

daemon/container: normalize Platform with containerd.platforms
  daemon/container.go
Owners: none

api/types.ImagePlatform: implement String()
  api/types/types.go
Owners: none

fix a typo
  daemon/images/image_pull.go
Owners: none

fileutils: Fix incorrect handling of "**/foo" pattern
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Owners: none

integration: remove deprecated endpoint test
  integration/container/container_test.go
Owners: none

btrfs: annotate error with human-readable hint string
  daemon/graphdriver/btrfs/btrfs.go
Owners: none

volume/mounts: pre-compile regular expressions
  volume/mounts/lcow_parser.go
  volume/mounts/windows_parser.go
Owners: none

volume/mounts: minor formatting and linting fixes
  volume/mounts/windows_parser.go
Owners: none

volume/mounts: rename windowsSplitRawSpec() to splitRawSpec()
  volume/mounts/lcow_parser.go
  volume/mounts/windows_parser.go
Owners: none

volume/mounts: add destination validation to "validators"
  volume/mounts/lcow_parser.go
  volume/mounts/windows_parser.go
Owners: none

volume/mounts: remove windowsValidateRegex() utility
  volume/mounts/lcow_parser.go
  volume/mounts/windows_parser.go
Owners: none

seccomp: add support for "clone3" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Owners: none

API,daemon: support `type` URL parameter to /system/df
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  client/disk_usage.go
  client/disk_usage_test.go
  client/interface.go
  daemon/disk_usage.go
  docs/api/version-history.md
  integration/build/build_session_test.go
  integration/system/disk_usage_test.go
Owners: none

daemon, oci: remove LCOW bits
  daemon/create.go
  daemon/create_windows.go
  daemon/daemon_windows.go
  daemon/oci_windows.go
  oci/defaults.go
Owners: none

hack/ci: remove LCOW from examples, and fix minor linting issue
  hack/ci/windows.ps1
Owners: @tianon

distribution: remove LCOW code
  distribution/config.go
  distribution/pull_v2.go
Owners: none

system: remove LCOWSupported() utility
  builder/dockerfile/dispatchers_test.go
  pkg/system/image_os.go
Owners: @tonistiigi

remove various LCOW bits (container, image, pkg/containerfs)
  container/container.go
  image/tarexport/save.go
  pkg/archive/copy.go
  pkg/containerfs/containerfs.go
Owners: none

libcontainerd/local: remove LCOW bits
  libcontainerd/local/local_windows.go
Owners: none

The `--network-control-plane-mtu` daemon flag did not have validationin the daemon, causing invalid values to be silently ignored.
  cmd/dockerd/docker.go
  daemon/daemon.go
Owners: none

builder/dockerfile: copy: remove LCOW code
  builder/dockerfile/copy.go
  builder/dockerfile/copy_unix.go
  builder/dockerfile/copy_windows.go
Owners: @tonistiigi

builder/dockerfile: remove fromSlash() and separator() utils
  builder/dockerfile/copy.go
  builder/dockerfile/internals.go
Owners: @tonistiigi

builder/dockerfile: make containsWildcards() platform-specific again
  builder/dockerfile/copy.go
  builder/dockerfile/copy_unix.go
  builder/dockerfile/copy_windows.go
Owners: @tonistiigi

builder/dockerfile: make normalizeDest() platform-specific again
  builder/dockerfile/copy_unix.go
  builder/dockerfile/copy_windows.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_windows_test.go
Owners: @tonistiigi

vendor: github.com/docker/swarmkit 3629f50980f6c0dd5ccd7dbfa0956b57ea0cd78d
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/state/raft/raft.go
  vendor/github.com/docker/swarmkit/vendor.conf
Owners: none

pkg/archive: remove some debug logs
  pkg/archive/archive.go
Owners: none

pkg/archive: DetectCompression(): use bytes.HasPrefix()
  pkg/archive/archive.go
Owners: none

pkg/archive: gzDecompress(): use local vars for MOBY_DISABLE_PIGZ
  pkg/archive/archive.go
Owners: none

[20.10] update containerd binary to v1.4.9
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary to v1.5.5
  hack/dockerfile/install/containerd.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.5.5
  vendor.conf
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

client: remove unused Platform field from configWrapper
  client/container_create.go
Owners: none

client: remove containerd "platform" dependency
  client/container_create.go
Owners: none

1. Made changes to container_routes.go to post dry run 2. Added dry run option to ContainersPrune in prune.go
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/types/types.go
  client/container_prune.go
  client/interface.go
  client/utils.go
  daemon/prune.go
  dockerversion/version_autogen.go
  dockerversion/version_autogen_unix.go
Owners: none

1. Removed unused functions and structs 2. Added comments
  api/server/router/container/container_routes.go
  api/types/types.go
  client/container_prune.go
  client/utils.go
  daemon/prune.go
  dockerversion/version_autogen.go
  dockerversion/version_autogen_unix.go
Owners: none
