Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

ci: enable debug to dump buildkit logs
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Owners: none

ci: increase gha cache timeout
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Owners: none

vendor: gotest.tools v3.3.0
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/internal/source/version.go
  vendor/modules.txt
Owners: none

Remove the OS check when creating a container
  daemon/create.go
Owners: none

Add integration test for #38995, #43390
  hack/dind
  hack/dind-systemd
  integration/container/mounts_linux_test.go
Owners: @tianon

daemon: fix mount loop on 'docker cp'
  daemon/daemon_unix.go
Owners: none

client: TestNewClientWithOpsFromEnv(): use sub-tests
  client/client_test.go
Owners: none

Remove the OS check when creating a container
  daemon/create.go
Owners: none

vendor: github.com/github.com/coreos/go-systemd v22.4.0
  vendor.mod
  vendor.sum
  vendor/github.com/coreos/go-systemd/v22/activation/files_unix.go
  vendor/github.com/coreos/go-systemd/v22/daemon/watchdog.go
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/modules.txt
Owners: none

pkg/archive: adjust permissions for parent directories
  pkg/archive/diff.go
Owners: none

Dockerfile: add cross compilation helper
  Dockerfile
Owners: none

Dockerfile: use TARGETVARIANT for frozen images script
  Dockerfile
  contrib/download-frozen-image-v2.sh
Owners: none

Dockerfile: remove hardcoded platform for vpnkit stage
  Dockerfile
  hack/make/.integration-daemon-start
Owners: @tianon

Dockerfile: handle multi base image for riscv64 and armel support
  Dockerfile
  docker-bake.hcl
Owners: none

Dockerfile: containerd cross
  Dockerfile
  docker-bake.hcl
Owners: none

Dockerfile: add dummy stage
  Dockerfile
Owners: none

Dockerfile: pin criu version and build from source
  Dockerfile
Owners: none

Dockerfile: tini cross
  Dockerfile
Owners: none

Dockerfile: runc cross
  Dockerfile
Owners: none

Dockerfile: containerutility cross
  Dockerfile
Owners: none

Dockerfile: rootlesskit cross
  Dockerfile
Owners: none

Dockerfile: use TARGETPLATFORM for delve stage and verify
  Dockerfile
Owners: none

Dockerfile: verify and better cache for dockercli stage
  Dockerfile
Owners: none

Dockerfile: align deps format and output
  Dockerfile
Owners: none

Dockerfile: verify and better cache for go-swagger stage
  Dockerfile
Owners: none

Dockerfile: GO111MODULE=on by default
  Dockerfile
Owners: none

Dockerfile: use global scope platform args for registry stage and verify
  Dockerfile
Owners: none

Dockerfile: better cache for crun stage
  Dockerfile
Owners: none

Dockerfile: enhanced for cross compilation
  .dockerignore
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  Dockerfile
  Jenkinsfile
  Makefile
  cli/winresources/docker-proxy/winresources.go
  cli/winresources/dockerd/winresources.go
  docker-bake.hcl
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
  hack/make.sh
  hack/make/.binary
  hack/make/.go-autogen
  hack/make/.integration-daemon-start
  hack/make/.integration-test-helpers
  hack/make/.mkwinres
  hack/make/README.md
  hack/make/binary
  hack/make/binary-daemon
  hack/make/binary-proxy
  hack/make/containerutility
  hack/make/cross
  hack/make/cross-platform-dependent
  hack/make/dynbinary
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
  hack/make/install-binary
  hack/make/install-proxy
Owners: @tianon

Dockerfile: smoke test stage and gha workflow
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
Owners: none

Dockerfile: add "all" stage to build binaries and extra tools
  .github/workflows/ci.yml
  Dockerfile
  docker-bake.hcl
Owners: none

docs: contributing docs update for cross comp
  docs/contributing/README.md
  docs/contributing/ctn-build.md
Owners: none

Dockerfile: refactor Dockerfile.simple and create gha workflow
  .github/workflows/simple.yml
  Dockerfile.simple
  docker-bake.hcl
Owners: none

riscv64 cross comp support
  docker-bake.hcl
  hack/make/.binary
Owners: @tianon

vendor: github.com/github.com/coreos/go-systemd v22.4.0
  vendor.mod
  vendor.sum
  vendor/github.com/coreos/go-systemd/v22/activation/files_unix.go
  vendor/github.com/coreos/go-systemd/v22/daemon/watchdog.go
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/modules.txt
Owners: none

vendor: github.com/moby/sys/sequential v0.5.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

vendor: github.com/moby/sys/sequential v0.5.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

pkg/containerfs: Trim away Driver interface part 1
  builder/remotecontext/lazycontext.go
  pkg/containerfs/archiver.go
  pkg/containerfs/containerfs.go
Owners: @tonistiigi

pkg/containerfs: drop PathDriver abstraction
  builder/dockerfile/copy.go
  builder/remotecontext/archive.go
  builder/remotecontext/detect_test.go
  builder/remotecontext/lazycontext.go
  builder/remotecontext/tarsum.go
  builder/remotecontext/tarsum_test.go
  container/archive.go
  daemon/archive.go
  daemon/graphdriver/graphtest/graphbench_unix.go
  daemon/graphdriver/graphtest/testutil.go
  daemon/graphdriver/graphtest/testutil_unix.go
  layer/layer_test.go
  layer/mount_test.go
  pkg/archive/copy.go
  pkg/containerfs/containerfs.go
  pkg/system/path.go
  pkg/system/path_unix.go
  pkg/system/path_windows.go
  pkg/system/path_windows_test.go
  vendor/github.com/containerd/continuity/pathdriver/path_driver.go
  vendor/modules.txt
Owners: @tonistiigi

pkg/containerfs: make ResolveScopedPath a free fn
  builder/dockerfile/copy.go
  builder/remotecontext/archive.go
  builder/remotecontext/detect.go
  container/container.go
  pkg/containerfs/containerfs.go
  pkg/containerfs/containerfs_unix.go
  pkg/containerfs/containerfs_windows.go
Owners: @tonistiigi

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
