Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Update delve version
  Dockerfile
Owners: none

libnet/d/windows: log EnableInternalDNS val after setting it
  libnetwork/drivers/windows/windows.go
Owners: none

Prefer loading `docker-init` from an appropriate "libexec" directory
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/oci_linux.go
Owners: none

vendor: github.com/moby/buildkit v0.11.5
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/client/llb/definition.go
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_common.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_linux.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/snapshot/localmounter_unix.go
  vendor/github.com/moby/buildkit/solver/llbsolver/history.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/util/rootless/mountopts/mountopts_linux.go
  vendor/github.com/moby/buildkit/util/rootless/mountopts/mountopts_others.go
  vendor/github.com/moby/buildkit/util/strutil/strutil.go
  vendor/modules.txt
Owners: none

Upgrade containerd/fifo to v1.1.0
  vendor.conf
  vendor/github.com/containerd/fifo/errors.go
  vendor/github.com/containerd/fifo/fifo.go
  vendor/github.com/containerd/fifo/go.mod
  vendor/github.com/containerd/fifo/handle_linux.go
  vendor/github.com/containerd/fifo/handle_nolinux.go
  vendor/github.com/containerd/fifo/mkfifo_nosolaris.go
  vendor/github.com/containerd/fifo/raw.go
  vendor/github.com/containerd/fifo/readme.md
  vendor/github.com/containerd/fifo/utils.go
Owners: none

Set BuildKit version and revision at build time
  .github/workflows/buildkit.yml
  Dockerfile
  builder/builder-next/worker/worker.go
  hack/buildkit-ref
  hack/make/.binary
  hack/with-go-mod.sh
Owners: @tonistiigi, @tianon

Add laurazard as curator
  MAINTAINERS
Owners: none

Add akerouanton as curator
  MAINTAINERS
Owners: none

integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Owners: none

integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Owners: none

Move buildkit client opts to new package
  client/buildkit.go
  client/buildkit/buildkit.go
Owners: none

libn/i/setmatrix: make generic and constructorless
  libnetwork/controller.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
  libnetwork/service.go
  libnetwork/service_common.go
  vendor.mod
  vendor.sum
  vendor/github.com/deckarep/golang-set/.travis.yml
  vendor/github.com/deckarep/golang-set/README.md
  vendor/github.com/deckarep/golang-set/set.go
  vendor/github.com/deckarep/golang-set/threadsafe.go
  vendor/github.com/deckarep/golang-set/threadunsafe.go
  vendor/github.com/deckarep/golang-set/v2/.gitignore
  vendor/github.com/deckarep/golang-set/v2/LICENSE
  vendor/github.com/deckarep/golang-set/v2/README.md
  vendor/github.com/deckarep/golang-set/v2/iterator.go
  vendor/github.com/deckarep/golang-set/v2/new_improved.jpeg
  vendor/github.com/deckarep/golang-set/v2/set.go
  vendor/github.com/deckarep/golang-set/v2/threadsafe.go
  vendor/github.com/deckarep/golang-set/v2/threadunsafe.go
  vendor/modules.txt
Owners: none

Parse image specification better
  contrib/download-frozen-image-v2.sh
Owners: none

c8d/inspect: Handle dangling images
  daemon/containerd/image.go
Owners: none

Update `github.com/containerd/containerd` to the HEAD of `release/1.6` and vendor
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.golangci.yml
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/api/services/containers/v1/containers.pb.go
  vendor/github.com/containerd/containerd/api/services/containers/v1/containers.proto
  vendor/github.com/containerd/containerd/api/services/content/v1/content.proto
  vendor/github.com/containerd/containerd/api/services/images/v1/images.pb.go
  vendor/github.com/containerd/containerd/api/services/images/v1/images.proto
  vendor/github.com/containerd/containerd/api/services/introspection/v1/introspection.pb.go
  vendor/github.com/containerd/containerd/api/services/introspection/v1/introspection.proto
  vendor/github.com/containerd/containerd/api/services/snapshots/v1/snapshots.pb.go
  vendor/github.com/containerd/containerd/api/services/snapshots/v1/snapshots.proto
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_unix.go
  vendor/github.com/containerd/containerd/archive/tarheader/tarheader.go
  vendor/github.com/containerd/containerd/archive/tarheader/tarheader_unix.go
  vendor/github.com/containerd/containerd/containerstore.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/diff/walking/differ.go
  vendor/github.com/containerd/containerd/image_store.go
  vendor/github.com/containerd/containerd/images/converter/default.go
  vendor/github.com/containerd/containerd/metadata/boltutil/helpers.go
  vendor/github.com/containerd/containerd/mount/mount.go
  vendor/github.com/containerd/containerd/mount/temp.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_nonlinux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_unix.go
  vendor/github.com/containerd/containerd/oci/spec_opts_windows.go
  vendor/github.com/containerd/containerd/oci/utils_unix.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/doc.go
  vendor/github.com/containerd/containerd/reference/docker/reference.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim.go
  vendor/modules.txt
Owners: none

c8d: add support for `docker diff`
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  daemon/changes.go
  daemon/containerd/image_changes.go
  daemon/image_service.go
  daemon/images/image_changes.go
Owners: none

Skip Buildkit digest tests
  .github/workflows/buildkit.yml
Owners: none

c8d/commit: Use manifest digest for dangling image
  daemon/containerd/image_commit.go
Owners: none

vendor: github.com/opencontainers/runc v1.1.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Owners: none

update runc binary to v1.1.5
  Dockerfile
  hack/dockerfile/install/runc.installer
Owners: @tianon

update runc binary to v1.1.5
  Dockerfile
  hack/dockerfile/install/runc.installer
Owners: @tianon

libnet/d/windows: log EnableInternalDNS val after setting it
  libnetwork/drivers/windows/windows.go
Owners: none

Fix grammar in docs by adding omitted word
  docs/reference/commandline/dockerd.md
Owners: none

Add the events services to the containerd image service
  daemon/containerd/image_events.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_events.go
Owners: none

images/push: Accept reference
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_push.go
  daemon/image_service.go
  daemon/images/image_push.go
Owners: none

c8d: Implement push
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
  daemon/containerd/store.go
Owners: none

update to go1.19.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

c8d: push: addressing some nits
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Owners: none

vendor: github.com/containerd/ttrpc v1.1.1
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/ttrpc/server.go
  vendor/modules.txt
Owners: none

vendor: opencontainers/image-spec v1.1.0-rc2.0.20221005185240-3a7f492d3f1b
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Owners: none

libnetwork: sbState: rename ExtDNS2 back to ExtDNS
  libnetwork/sandbox_store.go
Owners: none

vendor: github.com/containerd/containerd v1.6.20
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Owners: none

update containerd binary to v1.6.20
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Owners: @tianon

libnetwork/netutils: drop ElectInterfaceAddresses
  libnetwork/netutils/utils_freebsd.go
  libnetwork/netutils/utils_windows.go
Owners: none

daemon: let libnetwork assign default bridge IPAM
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
Owners: none

c8d/push: Sync mountableBlobs access
  daemon/containerd/image_push.go
Owners: none

c8d/push: Log error if releasing the lease failed
  daemon/containerd/image_push.go
Owners: none

c8d/push: Add distribution source labels only on success
  daemon/containerd/image_push.go
Owners: none

c8d/push: Parse source labels with multiple sources
  daemon/containerd/image_push.go
Owners: none

c8d/push: Ignore :port when comparing source repository
  daemon/containerd/image_push.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
