Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

vendor: golang.org/x/net v0.7.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/ipv6/dgramopt.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/modules.txt
Owners: none

api: Move Repo(Digests|Tags) <none> fallback from daemon
  api/server/router/image/image_routes.go
  daemon/images/image_list.go
Owners: none

dependency: bump go.etcd.io/bbolt to v1.3.7
  vendor.mod
  vendor.sum
  vendor/go.etcd.io/bbolt/.gitignore
  vendor/go.etcd.io/bbolt/.travis.yml
  vendor/go.etcd.io/bbolt/Makefile
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_loong64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_unix_aix.go
  vendor/go.etcd.io/bbolt/bolt_windows.go
  vendor/go.etcd.io/bbolt/boltsync_unix.go
  vendor/go.etcd.io/bbolt/bucket.go
  vendor/go.etcd.io/bbolt/compact.go
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/doc.go
  vendor/go.etcd.io/bbolt/errors.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/mlock_unix.go
  vendor/go.etcd.io/bbolt/mlock_windows.go
  vendor/go.etcd.io/bbolt/node.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/go.etcd.io/bbolt/tx_check.go
  vendor/modules.txt
Owners: none

Upgrade containerd/fifo to v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/fifo/.golangci.yml
  vendor/github.com/containerd/fifo/fifo.go
  vendor/github.com/containerd/fifo/handle_linux.go
  vendor/github.com/containerd/fifo/handle_nolinux.go
  vendor/github.com/containerd/fifo/raw.go
  vendor/modules.txt
Owners: none

Fix loop-closure bugs in tests
  distribution/xfer/download_test.go
  integration/build/build_test.go
Owners: none

distribution/xfer: make off-by-one error a feature
  distribution/xfer/download_test.go
Owners: none

Upgrade to golangci-lint v1.51.2
  Dockerfile
  libnetwork/networkdb/cluster.go
Owners: none

Fix numbering in set-up-ide.md
  docs/contributing/set-up-ide.md
Owners: none

d/l/awslogs: fix ineffective Add in test
  daemon/logger/awslogs/cloudwatchlogs_test.go
Owners: @samuelkarp

daemon: handle EISDIR error from runtime
  daemon/errors.go
Owners: none

Migrate away from things deprecated in Go 1.20
  libnetwork/bitseq/sequence_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/resolver.go
  pkg/archive/archive.go
Owners: none

Upgrade to golangci-lint v1.51.2
  Dockerfile
  libnetwork/networkdb/cluster.go
Owners: none

Upgrade to Go 1.20
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  hack/with-go-mod.sh
Owners: @tianon

Upgrade to Go 1.20.1
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

docs: drop dated comments about graphdrivers
  docs/reference/commandline/dockerd.md
Owners: none

Upgrade to Go 1.20
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  hack/with-go-mod.sh
Owners: @tianon

Upgrade to Go 1.20.1
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

c8d/list: Fix Repo(Digests|Tags) for untagged images
  daemon/containerd/image_list.go
  daemon/containerd/soft_delete.go
Owners: none

libnet/networkdb: fix nil-dereference panic in test
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnet/networkdb: fix nil-dereference panic in test
  libnetwork/networkdb/networkdb_test.go
Owners: none

libnet/ipam: simplify the data model
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/structures.go
  libnetwork/ipam/utils.go
Owners: none

libnet/ipam: get rid of superfluous closure
  libnetwork/ipam/allocator.go
  libnetwork/ipam/structures.go
Owners: none

libnet/ipam: inline parsePoolRequest function
  libnetwork/ipam/allocator.go
Owners: none

libnet/ipam: drop vestiges of custom addrSpaces
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/parallel_test.go
  libnetwork/ipam/structures.go
Owners: none

libnet/ipam: use netip types internally
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/structures.go
  libnetwork/ipam/utils.go
  libnetwork/ipbits/ipbits.go
  libnetwork/ipbits/ipbits_test.go
  libnetwork/ipbits/uint128.go
Owners: none

daemon: add annotations to container HostConfig
  api/server/router/container/container_routes.go
  api/types/container/hostconfig.go
  daemon/container.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  docs/api/v1.43.yaml
  docs/api/version-history.md
  integration/container/create_test.go
  integration/container/inspect_test.go
Owners: none

hack: do not exclude SQL-related checks
  hack/validate/golangci-lint.yml
Owners: @tianon

hack: remove non-existent directories from golangci-lint's skip-dirs
  hack/validate/golangci-lint.yml
Owners: @tianon

hack: remove a workaround for go-tools
  hack/validate/golangci-lint.yml
Owners: @tianon

fix some minor linting issues
  distribution/pull_v2_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_daemon_test.go
Owners: none

linting: error strings should not be capitalized (revive)
  client/request.go
  daemon/network.go
Owners: none

hack: update golangci-lint to v1.46.2
  hack/dockerfile/install/golangci_lint.installer
  hack/validate/golangci-lint.yml
Owners: @tianon

replace golint with revive, as it's deprecated
  daemon/network.go
  hack/validate/golangci-lint.yml
  integration/internal/network/network.go
Owners: @tianon

fix formatting of "nolint" tags for go1.19
  pkg/devicemapper/devmapper.go
  volume/drivers/extpoint.go
Owners: none

linting: gosec: fix or suppress G112, G114 in test code
  contrib/httpserver/server.go
  integration/plugin/logging/cmd/close_on_start/main.go
  integration/plugin/logging/cmd/discard/main.go
  integration/plugin/logging/cmd/dummy/main.go
  integration/plugin/volumes/cmd/dummy/main.go
  testutil/fixtures/plugin/basic/basic.go
  volume/testutils/testutils.go
Owners: none

golangci-lint: update to v1.49.0
  daemon/graphdriver/vfs/quota_linux.go
  hack/dockerfile/install/golangci_lint.installer
  hack/validate/golangci-lint.yml
  pkg/devicemapper/devmapper.go
  volume/drivers/extpoint.go
Owners: @tianon

set ReadHeaderTimeout to address G112: Potential Slowloris Attack (gosec)
  api/server/server.go
  cmd/dockerd/metrics.go
  daemon/metrics_unix.go
Owners: none

linting: host:port in url should be constructed with net.JoinHostPort
  integration-cli/docker_cli_daemon_test.go
  opts/hosts_test.go
Owners: none

vendor: update stdlib archive/tar for go1.19.2
  vendor/archive/tar/format.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/testdata/pax-bad-hdr-large.tar.bz2
  vendor/archive/tar/writer.go
  vendor/archive/tar/writer_test.go
Owners: none

Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
