Repository moby/moby, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tonistiigi, @tianon, @rhvgoyal, @dmcgowan, @johnstep, @samuelkarp, @cpuguy83, @thaJeztah

Bump go 1.16.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

update archive/tar patch for go 1.16
  patches/0001-archive-tar-do-not-populate-user-group-names.patch
Owners: none

updated vendored archive/tar to go1.16.5
  vendor/archive/tar/common.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
  vendor/archive/tar/strconv_test.go
  vendor/archive/tar/tar_test.go
  vendor/archive/tar/writer_test.go
Owners: none

Bump go 1.16.6 (addresses CVE-2021-34558)
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Owners: none

Add http proxy properties to daemon configuration
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/info.go
Owners: none

seccomp: setupSeccomp(): update errors and remove redundant check
  integration-cli/docker_cli_run_unix_test.go
  profiles/seccomp/seccomp_linux.go
Owners: none

seccomp: Seccomp: embed oci-spec LinuxSeccomp, add support for seccomp flags
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_test.go
Owners: none

Makefile: do not tag docker-dev image with GIT_BRANCH
  Makefile
Owners: none

update runc binary to v1.0.1
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: github.com/opencontainers/runc v1.0.1
  vendor.conf
  vendor/github.com/opencontainers/runc/go.mod
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fscommon/fscommon.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fscommon/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/devices.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/network.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/device_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/test/escape.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
Owners: none

vendor: github.com/cilium/ebpf v0.6.2
  vendor.conf
  vendor/github.com/cilium/ebpf/asm/func.go
  vendor/github.com/cilium/ebpf/asm/func_string.go
  vendor/github.com/cilium/ebpf/asm/instruction.go
  vendor/github.com/cilium/ebpf/asm/load_store.go
  vendor/github.com/cilium/ebpf/asm/opcode.go
  vendor/github.com/cilium/ebpf/collection.go
  vendor/github.com/cilium/ebpf/elf_reader.go
  vendor/github.com/cilium/ebpf/examples/README.md
  vendor/github.com/cilium/ebpf/examples/go.mod
  vendor/github.com/cilium/ebpf/examples/kprobe/bpf/kprobe_example.c
  vendor/github.com/cilium/ebpf/examples/uretprobe/bpf/uretprobe_example.c
  vendor/github.com/cilium/ebpf/internal/btf/btf.go
  vendor/github.com/cilium/ebpf/internal/btf/btf_types.go
  vendor/github.com/cilium/ebpf/internal/btf/btf_types_string.go
  vendor/github.com/cilium/ebpf/internal/btf/core.go
  vendor/github.com/cilium/ebpf/internal/btf/ext_info.go
  vendor/github.com/cilium/ebpf/internal/btf/types.go
  vendor/github.com/cilium/ebpf/internal/elf.go
  vendor/github.com/cilium/ebpf/internal/endian.go
  vendor/github.com/cilium/ebpf/internal/errors.go
  vendor/github.com/cilium/ebpf/internal/ptr.go
  vendor/github.com/cilium/ebpf/internal/syscall.go
  vendor/github.com/cilium/ebpf/internal/unix/types_linux.go
  vendor/github.com/cilium/ebpf/internal/unix/types_other.go
  vendor/github.com/cilium/ebpf/link/iter.go
  vendor/github.com/cilium/ebpf/link/kprobe.go
  vendor/github.com/cilium/ebpf/link/perf_event.go
  vendor/github.com/cilium/ebpf/link/platform.go
  vendor/github.com/cilium/ebpf/link/program.go
  vendor/github.com/cilium/ebpf/link/syscalls.go
  vendor/github.com/cilium/ebpf/link/tracepoint.go
  vendor/github.com/cilium/ebpf/link/uprobe.go
  vendor/github.com/cilium/ebpf/linker.go
  vendor/github.com/cilium/ebpf/map.go
  vendor/github.com/cilium/ebpf/prog.go
  vendor/github.com/cilium/ebpf/syscalls.go
  vendor/github.com/cilium/ebpf/types.go
  vendor/github.com/cilium/ebpf/types_string.go
Owners: none

vendor: github.com/coreos/go-systemd/v22 v22.3.2
  vendor.conf
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
Owners: none

vendor: github.com/sirupsen/logrus v1.8.1
  vendor.conf
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
Owners: none

API,daemon: support `types` URL parameter to /system/df
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  daemon/disk_usage.go
  docs/api/version-history.md
Owners: none

Add const for "unconfined" and "default" seccomp profiles
  daemon/config/config.go
  daemon/info.go
  daemon/seccomp_disabled.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
Owners: none

Fix daemon.json and daemon --seccomp-profile not accepting "unconfined"
  cmd/dockerd/config_unix.go
  daemon/daemon_unix.go
  daemon/seccomp_linux.go
  integration/daemon/daemon_test.go
Owners: none

daemon: allow "default" as valid value for seccomp profiles
  daemon/daemon_unix.go
  daemon/seccomp_linux.go
  integration/daemon/daemon_test.go
Owners: none

daemon: move custom seccomp profile warning from CLI to daemon side
  daemon/info.go
Owners: none

daemon: normalize seccomp profile as part of setupSeccompProfile()
  daemon/daemon_unix.go
  daemon/info.go
Owners: none

testing: refactor uses of "getPrefixAndSlashFromDaemonPlatform()"
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_restart_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_volume_test.go
  integration-cli/utils_test.go
  integration/container/remove_test.go
Owners: none

integration-cli: remove some redundant fmt.Sprintf()
  integration-cli/docker_cli_run_test.go
Owners: none

Fix ContainerSummary swagger docs
  api/swagger.yaml
Owners: none

Add RestartPolicy "no" to swagger docs
  api/swagger.yaml
Owners: none

Use explicit object names for improved swagger based code generation
  api/swagger.yaml
Owners: none

Use explicit object names for improved swagger based code generation
  api/swagger.yaml
Owners: none

Fix swagger docs to match the opencontainers image-spec
  api/swagger.yaml
Owners: none

Add "changes" query parameter for /image/create to swagger docs
  api/swagger.yaml
Owners: none

daemon/images: optimize danglingOnly queries
  daemon/images/images.go
Owners: none

daemon/images: optimize `repoDigests` and `repoTags` construction
  daemon/images/images.go
Owners: none

daemon/images: add utility for ranging over chain IDs
  daemon/images/images.go
Owners: none

daemon/images: cache image size computations
  daemon/images/image_delete.go
  daemon/images/images.go
  daemon/images/service.go
Owners: none

[20.10] update containerd binary v1.4.8
  hack/dockerfile/install/containerd.installer
Owners: @tianon

update containerd binary v1.4.8
  hack/dockerfile/install/containerd.installer
Owners: @tianon

Makefile: update buildx version to v0.6.0
  Makefile
Owners: none

update runc binary to v1.0.1
  hack/dockerfile/install/runc.installer
Owners: @tianon

vendor: github.com/containerd/containerd v1.5.4
  vendor.conf
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_freebsd.go
  vendor/github.com/containerd/containerd/archive/tar_mostunix.go
  vendor/github.com/containerd/containerd/archive/tar_unix.go
  vendor/github.com/containerd/containerd/archive/tar_windows.go
  vendor/github.com/containerd/containerd/version/version.go
Owners: none

[WIP] replace pkg/signal with moby/sys/signal
  api/server/router/container/container_routes.go
  builder/dockerfile/dispatchers.go
  cmd/dockerd/daemon.go
  container/container.go
  container/container_unit_test.go
  daemon/container.go
  daemon/exec.go
  daemon/kill.go
  pkg/signal/README.md
  pkg/signal/signal_deprecated.go
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_test.go
  vendor.conf
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/signal/go.mod
  vendor/github.com/moby/sys/signal/signal.go
  vendor/github.com/moby/sys/signal/signal_darwin.go
  vendor/github.com/moby/sys/signal/signal_freebsd.go
  vendor/github.com/moby/sys/signal/signal_linux.go
  vendor/github.com/moby/sys/signal/signal_linux_mipsx.go
  vendor/github.com/moby/sys/signal/signal_unix.go
  vendor/github.com/moby/sys/signal/signal_unsupported.go
  vendor/github.com/moby/sys/signal/signal_windows.go
Owners: @tonistiigi

Revert "Temporarily disable CAP_PERFMON, CAP_BPF, and CAP_CHECKPOINT_RESTORE"
  oci/caps/utils.go
Owners: none

storage-driver: promote overlay2, make Btrfs and ZFS opt-in
  daemon/graphdriver/driver_linux.go
Owners: none

nat: remove unused portSpecTemplate const (deadcode)
  nat.go
Owners: none

.github/CODEOWNERS:

# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

builder/**                              @tonistiigi
contrib/mkimage/**                      @tianon
daemon/graphdriver/devmapper/**         @rhvgoyal 
daemon/graphdriver/overlay/**           @dmcgowan
daemon/graphdriver/overlay2/**          @dmcgowan
daemon/graphdriver/windows/**           @johnstep
daemon/logger/awslogs/**                @samuelkarp  
hack/**                                 @tianon
plugin/**                               @cpuguy83
project/**                              @thaJeztah
