Repository moby/moby, pull requests merged in 2018-07, with the labels that each got.

#37379 Update documents of `dispatchAdd`
  builder/dockerfile/dispatchers.go
Labels: area/builder, status/2-code-review

#37371 bump libnetwork to 430c00a
  hack/dockerfile/install/proxy.installer
  integration-cli/docker_cli_network_unix_test.go
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/ipam/allocator.go
  vendor/github.com/docker/libnetwork/ipam/structures.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/networkdb/delegate.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/hashicorp/go-sockaddr/ifaddr.go
  vendor/github.com/hashicorp/go-sockaddr/ifaddrs.go
  vendor/github.com/hashicorp/go-sockaddr/ipv4addr.go
  vendor/github.com/hashicorp/go-sockaddr/rfc.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_linux.go
  vendor/github.com/hashicorp/go-sockaddr/sockaddr.go
Labels: area/networking, impact/changelog, status/4-merge

#37242 Whitelist syscalls linked to CAP_SYS_NICE in default seccomp profile
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, impact/documentation, status/4-merge

#37368 builder: return image ID in API when using buildkit
  api/server/backend/build/backend.go
  api/server/router/build/build_routes.go
  builder/builder-next/builder.go
  builder/dockerfile/builder.go
  pkg/streamformatter/streamformatter.go
  pkg/streamformatter/streamformatter_test.go
Labels: area/api, area/builder, impact/api, kind/experimental, status/2-code-review

#37385 vendor: update buildkit to 9acf51e491
  builder/builder-next/adapters/containerimage/pull.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/remotecache/export.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_norunmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/bflag.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_unix.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_windows.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
Labels: area/builder, status/4-merge

#37381 api: Change Platform field back to string (temporary workaround)
  api/server/router/build/build_routes.go
  api/types/client.go
  builder/builder-next/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/internals.go
  client/image_build.go
Labels: area/api, area/builder, impact/api, status/4-merge

#37380 Update documents of `Detect`
  builder/remotecontext/detect.go
Labels: status/2-code-review

#37388 add vim-plug setting
  contrib/syntax/vim/README.md
Labels: status/3-docs-review

#37393 Added "--no-cache" to apk call to reduce alpine base image by 10-12% …
  contrib/mkimage-alpine.sh
Labels: status/2-code-review

#37392 update fsnotify to v1.4.7
  vendor.conf
  vendor/github.com/fsnotify/fsnotify/kqueue.go
Labels: area/logging, status/2-code-review

#37378 Fix bindmount autocreate race
  daemon/volumes.go
  volume/mounts/mounts.go
Labels: status/2-code-review

#37157 Adds a few more names to the name generator.
  pkg/namesgenerator/names-generator.go
Labels: status/4-merge

#37399 Bump swarmkit to include task reaper fixes and more metrics.
  vendor.conf
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/storeobject.go
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
  vendor/github.com/docker/swarmkit/manager/metrics/collector.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/taskreaper/task_reaper.go
Labels: area/swarm, status/4-merge

#37404 Add /proc/acpi to masked paths
  oci/defaults.go
Labels: area/runtime, area/security, impact/changelog, status/4-merge

#37411 vendor: update containerd to b41633746
  vendor.conf
  vendor/github.com/containerd/console/console_linux.go
  vendor/github.com/containerd/containerd/cio/io.go
  vendor/github.com/containerd/containerd/container.go
  vendor/github.com/containerd/containerd/oci/spec_unix.go
  vendor/github.com/containerd/containerd/runtime/linux/process.go
  vendor/github.com/containerd/containerd/runtime/linux/task.go
  vendor/github.com/containerd/containerd/runtime/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/shim/v1/shim.pb.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/containerd/ttrpc/LICENSE
  vendor/github.com/containerd/ttrpc/README.md
  vendor/github.com/containerd/ttrpc/channel.go
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/containerd/ttrpc/codec.go
  vendor/github.com/containerd/ttrpc/config.go
  vendor/github.com/containerd/ttrpc/handshake.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/containerd/ttrpc/services.go
  vendor/github.com/containerd/ttrpc/types.go
  vendor/github.com/containerd/ttrpc/unixcreds_linux.go
  vendor/github.com/containerd/typeurl/types.go
  vendor/github.com/stevvooe/ttrpc/codec.go
  vendor/github.com/stevvooe/ttrpc/config.go
Labels: area/runtime, status/2-code-review

#37415 Fix typo on test.md
  docs/contributing/test.md
Labels: status/0-triage

#37409 Fix faulty error type checking in removeNetwork()
  daemon/cluster/executor/container/adapter.go
Labels: status/2-code-review

#37372 Improve scalability of the Linux load balancing
  daemon/network.go
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/default_gateway.go
  vendor/github.com/docker/libnetwork/diagnostic/types.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge_store.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_endpoint.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_store.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_endpoint.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_store.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption.go
  vendor/github.com/docker/libnetwork/drivers/overlay/joinleave.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ostweaks_linux.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_endpoint.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_network.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlay.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlay.pb.go
  vendor/github.com/docker/libnetwork/drivers/remote/driver.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/ov_endpoint_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/overlay.pb.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows_store.go
  vendor/github.com/docker/libnetwork/endpoint.go
  vendor/github.com/docker/libnetwork/endpoint_info.go
  vendor/github.com/docker/libnetwork/ipam/allocator.go
  vendor/github.com/docker/libnetwork/ipam/structures.go
  vendor/github.com/docker/libnetwork/ipams/remote/remote.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/networkdb/broadcast.go
  vendor/github.com/docker/libnetwork/networkdb/cluster.go
  vendor/github.com/docker/libnetwork/networkdb/delegate.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.pb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdbdiagnostic.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs_linux.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs_unsupported.go
  vendor/github.com/docker/libnetwork/osl/namespace_linux.go
  vendor/github.com/docker/libnetwork/osl/sandbox.go
  vendor/github.com/docker/libnetwork/sandbox.go
  vendor/github.com/docker/libnetwork/sandbox_dns_unix.go
  vendor/github.com/docker/libnetwork/sandbox_store.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_linux.go
  vendor/github.com/docker/libnetwork/service_unsupported.go
  vendor/github.com/docker/libnetwork/service_windows.go
  vendor/github.com/docker/libnetwork/store.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/docker/libnetwork/vendor.conf
Labels: area/networking, impact/changelog, status/2-code-review

#37419 Pass log-level to containerd
  cmd/dockerd/daemon_unix.go
  libcontainerd/remote_daemon.go
  libcontainerd/remote_daemon_linux.go
  libcontainerd/remote_daemon_windows.go
Labels: area/runtime, impact/changelog, status/4-merge

#37398 mkimage-alpine.sh: Removed the "-i -t" arguments from the smoke test calling printf (the…
  contrib/mkimage-alpine.sh
Labels: status/2-code-review

#37425 Bump containerd daemon to v1.1.1
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/4-merge

#37424 Bump libnetwork to d00ceed44cc447c77f25cdf5d59e83163bdcb4c9
  vendor.conf
  vendor/github.com/docker/libnetwork/osl/namespace_linux.go
  vendor/github.com/docker/libnetwork/vendor.conf
Labels: area/networking, status/2-code-review

#37413 Ensure RUN instruction to run without Healthcheck
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/internals.go
Labels: area/builder, status/2-code-review

#37437 Various formatting fixes / compilation issues caught by Go 1.11
  daemon/cluster/controllers/plugin/controller.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/kill.go
  daemon/logger/loggerutils/logfile.go
  daemon/monitor.go
  daemon/reload.go
  daemon/unpause.go
Labels: status/4-merge

#37436 Bump gometalinter to v2.0.6
  hack/dockerfile/install/gometalinter.installer
Labels: area/testing, status/4-merge

#37440 Fix error string in docker CLI test
  integration-cli/docker_cli_run_test.go
Labels: platform/windows, status/2-code-review

#37446 lcow: fix debug in startServiceVMIfNotRunning()
  daemon/graphdriver/lcow/lcow.go
Labels: status/2-code-review

#37445 vendor: update continuity to 0377f7d767206
  vendor.conf
  vendor/github.com/containerd/continuity/driver/driver_unix.go
  vendor/github.com/containerd/continuity/driver/lchmod_linux.go
  vendor/github.com/containerd/continuity/driver/lchmod_unix.go
  vendor/github.com/containerd/continuity/fs/du.go
  vendor/github.com/containerd/continuity/fs/du_unix.go
  vendor/github.com/containerd/continuity/fs/du_windows.go
  vendor/github.com/containerd/continuity/sysx/chmod_darwin.go
  vendor/github.com/containerd/continuity/sysx/chmod_darwin_386.go
  vendor/github.com/containerd/continuity/sysx/chmod_darwin_amd64.go
  vendor/github.com/containerd/continuity/sysx/chmod_freebsd.go
  vendor/github.com/containerd/continuity/sysx/chmod_freebsd_amd64.go
  vendor/github.com/containerd/continuity/sysx/chmod_linux.go
  vendor/github.com/containerd/continuity/sysx/chmod_solaris.go
  vendor/github.com/containerd/continuity/sysx/xattr_darwin.go
Labels: status/4-merge

#37451 Refactor daemon.info to reduce cyclomatic complexity
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
Labels: status/2-code-review

#37449 Remove stray uses of "golang.org/x/net/context"
  api/templates/server/operation.gotmpl
  client/build_cancel.go
  client/hijack_test.go
Labels: status/4-merge

#37454 Fix golint warning on generated "volume" types
  api/swagger.yaml
  api/types/volume/volume_create.go
  api/types/volume/volume_list.go
Labels: status/2-code-review

#37396 Return error if basename is expanded to blank
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
Labels: area/builder, impact/changelog, platform/windows, status/4-merge

#37457 moved integration tests from docker_cli_config_create_test.go to integration/config
  integration-cli/docker_cli_config_create_test.go
  integration/config/config_test.go
Labels: status/2-code-review

#37477 Fix flaky TestExternalGraphDriver/pull test
  integration/plugin/graphdriver/external_test.go
Labels: area/testing, status/2-code-review

#37484 Update swarmkit to 68266392a176434d282760d2d6d0ab4c68edcae6
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
  vendor/github.com/docker/swarmkit/manager/scheduler/scheduler.go
  vendor/github.com/docker/swarmkit/node/node.go
Labels: area/swarm, status/2-code-review

#37483 Use constant for task runtime value
  integration/service/plugin_test.go
Labels: area/testing, status/2-code-review

#37467 Bump containerd daemon to v1.1.2
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review

#37500 Add osusergo build tar for static binaries
  hack/dockerfile/install/containerd.installer
  hack/make.sh
  hack/make/dynbinary-daemon
Labels: status/4-merge

#37499 vendor: bump google/certificate-transparency-go to 1.0.20
  vendor.conf
  vendor/github.com/google/certificate-transparency-go/client/configpb/multilog.pb.go
  vendor/github.com/google/certificate-transparency-go/client/logclient.go
  vendor/github.com/google/certificate-transparency-go/client/multilog.go
  vendor/github.com/google/certificate-transparency-go/jsonclient/client.go
  vendor/github.com/google/certificate-transparency-go/serialization.go
  vendor/github.com/google/certificate-transparency-go/signatures.go
  vendor/github.com/google/certificate-transparency-go/tls/types.go
  vendor/github.com/google/certificate-transparency-go/types.go
  vendor/github.com/google/certificate-transparency-go/x509/ptr_sysptr_windows.go
  vendor/github.com/google/certificate-transparency-go/x509/ptr_uint_windows.go
  vendor/github.com/google/certificate-transparency-go/x509/root_windows.go
  vendor/github.com/google/certificate-transparency-go/x509/verify.go
  vendor/github.com/google/certificate-transparency-go/x509/x509.go
Labels: status/2-code-review

#37498 pkg/tarsum: fix unit test for Go 1.11+
  pkg/tarsum/tarsum_test.go
Labels: status/4-merge

#37515 Revendor Microsoft/opengcs @ v0.3.8
  vendor.conf
  vendor/github.com/Microsoft/opengcs/client/config.go
  vendor/github.com/Microsoft/opengcs/service/gcsutils/remotefs/remotefs.go
Labels: platform/windows, status/4-merge

#37519 Add configuration option for cri-containerd
  cmd/dockerd/config.go
  cmd/dockerd/daemon_unix.go
  daemon/config/config.go
  libcontainerd/remote_daemon_linux.go
  libcontainerd/remote_daemon_options.go
Labels: area/runtime, docs/revisit, impact/changelog, impact/documentation, status/4-merge

#37492 migrate service update integration tests from integration-cli to integration/service package
  integration-cli/docker_cli_service_update_test.go
  integration/service/update_test.go
Labels: area/testing, status/4-merge

#37514 Adds LinuxMetadata support by default on Windows
  libcontainerd/client_local_windows.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/interface.go
Labels: impact/changelog, kind/experimental, platform/windows, status/2-code-review

#37545 Revert "migrated service integration tests from integration-cli/docke…
  integration-cli/docker_cli_service_update_test.go
  integration/service/update_test.go
Labels: status/4-merge

#37551 pkg/system: return nil explicitly
  pkg/system/rm.go
Labels: status/2-code-review

#37542 integration: fix log message
  internal/test/daemon/daemon.go
Labels: area/testing, status/4-merge

#37462 Remove slash prefix when matching name filters (Fixes #37453)
  daemon/list.go
  daemon/list_test.go
Labels: status/4-merge

#37543 Don not lose an error message from d.StartWithError in d.Start
  internal/test/daemon/daemon.go
Labels: area/testing, status/4-merge

#37567 Bump mergo to v0.3.6
  vendor.conf
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/merge.go
Labels: status/4-merge

#37570 loggerutils: fix a typo
  daemon/logger/loggerutils/logfile.go
Labels: status/4-merge

#36630 client: add WithDialContext() and client.Dialer()
  client/client.go
  client/hijack.go
  client/interface.go
  client/session.go
Labels: status/2-code-review
