Repository moby/moby, pull requests merged in 2018-02, with the labels that each got.

#36221 Migrate secret list tests from integration-cli to api tests
  integration-cli/docker_cli_secret_ls_test.go
  integration/secret/secret_test.go
Labels: status/2-code-review

#36260 Migrate docker_api_inspect_unix_test.go to integration api test
  integration-cli/docker_api_inspect_unix_test.go
  integration/container/inspect_test.go
Labels: status/2-code-review

#36259 Migrate TestKillDifferentUserContainer to api test
  integration-cli/docker_cli_kill_test.go
  integration/container/kill_test.go
Labels: status/2-code-review

#36242 c.RWLayer: check for nil before use
  daemon/changes.go
  daemon/daemon.go
  daemon/inspect.go
  daemon/inspect_test.go
  daemon/oci_windows.go
Labels: status/2-code-review

#36265 Rename integration/util to integration/internal
  hack/make/.integration-test-helpers
  integration/build/build_test.go
  integration/container/create_test.go
  integration/container/exec_test.go
  integration/container/health_test.go
  integration/container/inspect_test.go
  integration/container/kill_test.go
  integration/container/links_linux_test.go
  integration/container/nat_test.go
  integration/container/ps_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/container/stats_test.go
  integration/container/stop_test.go
  integration/container/update_linux_test.go
  integration/image/commit_test.go
  integration/image/import_test.go
  integration/internal/request/client.go
  integration/internal/requirement/requirement.go
  integration/internal/swarm/service.go
  integration/network/delete_test.go
  integration/plugin/authz/authz_plugin_test.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/secret/secret_test.go
  integration/service/create_test.go
  integration/service/inspect_test.go
  integration/service/network_test.go
  integration/system/event_test.go
  integration/system/info_linux_test.go
  integration/system/info_test.go
  integration/system/login_test.go
  integration/system/version_test.go
Labels: status/4-merge

#36266 Add an integration/internal/container helper package
  integration/container/inspect_test.go
  integration/container/kill_test.go
  integration/container/main_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/internal/container/container.go
  integration/internal/container/ops.go
Labels: status/4-merge

#36257 Fix timeout issue of `InspectNetwork` on AArch64
  integration/network/inspect_test.go
Labels: area/testing, platform/arm, status/4-merge

#36275 Fix typos in daemon directory
  daemon/cluster/controllers/plugin/controller.go
  daemon/graphdriver/lcow/lcow.go
  daemon/logger/logger.go
Labels: status/2-code-review

#36273 Migrate container pause tests to api tests
  integration-cli/docker_cli_pause_test.go
  integration/container/pause_test.go
  integration/internal/request/client.go
Labels: status/4-merge

#36249 Fix container cleanup on daemon restart
  integration/container/daemon_linux_test.go
  libcontainerd/client_daemon.go
Labels: status/4-merge

#36285 Migrates session tests in integration-cli to api tests
  integration-cli/docker_api_session_test.go
  integration/session/main_test.go
  integration/session/session_test.go
Labels: status/2-code-review

#36279 Update api tests to use the newly added container helper package
  integration/container/stop_test.go
  integration/container/update_linux_test.go
  integration/service/network_test.go
  integration/system/event_test.go
Labels: status/2-code-review

#36283 Migrates several swarm secrets from integration-cli to api tests
  integration-cli/docker_api_swarm_secret_test.go
  integration/secret/secret_test.go
Labels: status/2-code-review

#36270 Fix TLS from environment variables in client
  client/client.go
Labels: status/2-code-review

#36234 Migrate config list tests from integration-cli to api tests
  integration-cli/docker_cli_config_ls_test.go
  integration/config/config_test.go
  integration/config/main_test.go
Labels: status/2-code-review

#36261 Migrate docker_cli_oom_killed_test.go to api tests
  integration-cli/docker_cli_oom_killed_test.go
  integration/container/kill_test.go
Labels: status/2-code-review

#36284 Migrate some update restart tests to api tests
  integration-cli/docker_cli_update_test.go
  integration/container/update_test.go
Labels: status/4-merge

#36246 Fix string type for buildargs API definition
  api/swagger.yaml
Labels: area/api, area/docs, status/4-merge

#36268 Windows: Bump to final RS3 build number
  integration-cli/docker_api_containers_windows_test.go
  integration-cli/docker_cli_run_test.go
  libcontainerd/client_local_windows.go
Labels: status/2-code-review

#36299 Fix typo and incorrect return value in pkg
  pkg/system/path.go
  pkg/tailfile/tailfile.go
Labels: status/0-triage

#36291 Migrates several swarm configs tests from integration-cli to api tests
  integration-cli/docker_api_swarm_config_test.go
  integration/config/config_test.go
Labels: status/2-code-review

#36222 Update runc to 6c55f98695e902427906eed2c799e566e3d3dfb5
  hack/dockerfile/binaries-commits
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
Labels: area/runtime, status/4-merge

#36271 Use TagImage in Commit
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/commit.go
  daemon/image_tag.go
Labels: status/4-merge

#36269 Remove interim env var LCOW_API_PLATFORM_IF_OMITTED
  api/server/router/build/build_routes.go
  api/server/router/image/image_routes.go
Labels: status/2-code-review

#36301 Remove some maintainers 👼
  MAINTAINERS
  poule.yml
Labels: status/3-docs-review

#35749 Update go-swagger installation steps in Dockerfile
  Dockerfile
  Dockerfile.aarch64
Labels: status/2-code-review

#36305 Fix log tail with empty logs
  daemon/logger/loggerutils/logfile.go
  integration/container/logs_test.go
Labels: area/logging, status/2-code-review

#35892 Updated docker-on-docker build-notes.
  Dockerfile
Labels: status/4-merge

#36237 Do not recursive unmount on cleanup of zfs/btrfs
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/zfs/zfs.go
Labels: area/storage/btrfs, area/storage/zfs, status/2-code-review

#36315 Move commit to container backend
  api/server/router/container/backend.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
  cmd/dockerd/daemon.go
Labels: status/2-code-review

#36308 Bump containerd to 1.0.2 (cfd04396dc68220d1cecbe686a6cc3aa5ce3667c)
  hack/dockerfile/binaries-commits
  vendor.conf
  vendor/github.com/containerd/cgroups/blkio.go
  vendor/github.com/containerd/cgroups/errors.go
  vendor/github.com/containerd/go-runc/runc.go
  vendor/github.com/containerd/go-runc/utils.go
  vendor/github.com/stevvooe/ttrpc/channel.go
  vendor/github.com/stevvooe/ttrpc/client.go
  vendor/github.com/stevvooe/ttrpc/server.go
Labels: area/runtime, status/2-code-review

#36298 Fix `DockerNetworkInternalMode` issue
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.armhf
  Dockerfile.e2e
  Dockerfile.ppc64le
  Dockerfile.s390x
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/fixtures/load/frozen.go
  internal/test/environment/protect.go
Labels: status/2-code-review

#36320 Migrate container diff tests in integration-cli to api tests.
  integration-cli/docker_cli_diff_test.go
  integration/container/diff_test.go
Labels: status/2-code-review

#36055 Use rslave propagation for mounts from daemon root
  daemon/oci_linux.go
  daemon/volumes.go
  daemon/volumes_linux.go
  daemon/volumes_linux_test.go
  daemon/volumes_windows.go
  integration/container/mounts_linux_test.go
Labels: impact/changelog, status/2-code-review

#36318 Update docker-py to 5e28dcaace5f7b70cbe44c313b7a3b288fa38916
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.armhf
  Dockerfile.ppc64le
  Dockerfile.s390x
Labels: status/4-merge

#36322 Fix import path
  integration/container/mounts_linux_test.go
Labels: area/testing, status/4-merge

#36274 Bump SwarmKit to f74983e7c015a38a81c8642803a78b8322cf7eac
  integration-cli/docker_cli_swarm_test.go
  vendor.conf
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/ca/certificates.go
  vendor/github.com/docker/swarmkit/ca/keyreadwriter.go
  vendor/github.com/docker/swarmkit/ca/keyutils/keyutils.go
  vendor/github.com/docker/swarmkit/ca/pkcs8/pkcs8.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/networkallocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/portallocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/controlapi/task.go
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/global/global.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/task.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/taskreaper/task_reaper.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/update/updater.go
  vendor/github.com/docker/swarmkit/node/node.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
Labels: area/swarm, impact/changelog, status/2-code-review

#36304 Don't restore image if layer does not exist
  image/store.go
Labels: area/images, status/2-code-review

#36323 Remove unused method from multireader package
  daemon/logger/loggerutils/multireader/multireader.go
Labels: status/2-code-review

#34900 Create and send codecov report
  .gitignore
  client/client_test.go
  codecov.yml
  hack/ci/janky
  hack/test/unit
Labels: area/testing, status/2-code-review

#36306 Move log validator logic after plugins are loaded
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/logs.go
  integration-cli/docker_cli_daemon_test.go
  integration/plugin/logging/cmd/cmd_test.go
  integration/plugin/logging/cmd/dummy/main.go
  integration/plugin/logging/cmd/dummy/main_test.go
  integration/plugin/logging/helpers_test.go
  integration/plugin/logging/validation_test.go
Labels: status/4-merge

#36335 Sync binary commits with vndr
  hack/dockerfile/binaries-commits
  vendor.conf
Labels: status/4-merge

#36144 Produce errors when empty ids are passed into inspect calls.
  client/config_inspect.go
  client/config_inspect_test.go
  client/container_inspect.go
  client/container_inspect_test.go
  client/distribution_inspect.go
  client/distribution_inspect_test.go
  client/image_inspect.go
  client/image_inspect_test.go
  client/network_inspect.go
  client/network_inspect_test.go
  client/node_inspect.go
  client/node_inspect_test.go
  client/plugin_inspect.go
  client/plugin_inspect_test.go
  client/secret_inspect.go
  client/secret_inspect_test.go
  client/service_inspect.go
  client/service_inspect_test.go
  client/task_inspect.go
  client/task_inspect_test.go
  client/volume_inspect.go
  client/volume_inspect_test.go
Labels: status/2-code-review

#36303 Cleanup unnecessary and duplicate functions in `daemon_unix.go`
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/image_inspect.go
Labels: status/2-code-review

#36339 Update containerd/continuity to fix ARM 32-bit builds
  vendor.conf
  vendor/github.com/containerd/continuity/fs/stat_linux.go
  vendor/github.com/containerd/continuity/sysx/xattr_openbsd.go
  vendor/github.com/containerd/continuity/sysx/xattr_unsupported.go
Labels: status/4-merge

#35510 Display a warn message when there is binding ports and net mode is host
  daemon/container.go
  daemon/container_unix_test.go
Labels: impact/changelog, status/4-merge

#36329 builder: fix wrong cache hits building from tars
  integration/build/build_test.go
  pkg/tarsum/tarsum.go
Labels: area/builder, status/4-merge

#36256 graphdriver: Fix RefCounter memory leak
  daemon/graphdriver/counter.go
Labels: area/storage, status/2-code-review

#36330 test: clean/migrate some docker ps cli-only integration tests
  daemon/list.go
  daemon/list_test.go
  integration-cli/docker_cli_ps_test.go
  integration/container/links_linux_test.go
Labels: area/testing, status/4-merge

#36107 Ensure daemon root is unmounted on shutdown
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/oci_linux.go
Labels: status/2-code-review

#33922 Support SCTP port mapping (bump up API to v1.37)
  api/swagger.yaml
  api/types/swarm/network.go
  daemon/cluster/executor/container/controller.go
  docs/api/version-history.md
  hack/dockerfile/binaries-commits
  vendor.conf
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/tlsconfig/certpool_other.go
  vendor/github.com/docker/libnetwork/agent.pb.go
  vendor/github.com/docker/libnetwork/agent.proto
  vendor/github.com/docker/libnetwork/drivers/bridge/port_mapping.go
  vendor/github.com/docker/libnetwork/drivers/windows/labels.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/portallocator/portallocator.go
  vendor/github.com/docker/libnetwork/portmapper/mapper.go
  vendor/github.com/docker/libnetwork/portmapper/proxy.go
  vendor/github.com/docker/libnetwork/service_linux.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/ishidawataru/sctp/LICENSE
  vendor/github.com/ishidawataru/sctp/README.md
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
Labels: area/networking, impact/api, impact/changelog, status/2-code-review

#36326 Add/use container.Exec() to integration
  integration/container/update_linux_test.go
  integration/internal/container/exec.go
Labels: area/testing, status/2-code-review

#36361 integration/TestUpdateMemory: fix false failure
  integration/container/update_linux_test.go
Labels: status/4-merge

#35898 test.md improvements and corrections
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
Labels: status/3-docs-review

#35829 Perform plugin mounts in the runtime
  daemon/graphdriver/plugin.go
  daemon/graphdriver/proxy.go
  daemon/logger/adapter.go
  daemon/logger/plugin.go
  daemon/metrics.go
  daemon/metrics_unix.go
  integration-cli/docker_cli_daemon_plugins_test.go
  pkg/plugingetter/getter.go
  pkg/plugins/plugins_unix.go
  pkg/plugins/plugins_windows.go
  plugin/defs.go
  plugin/manager.go
  plugin/manager_linux.go
  plugin/manager_windows.go
  plugin/store.go
  plugin/v2/plugin.go
  plugin/v2/plugin_linux.go
  volume/drivers/adapter.go
  volume/drivers/extpoint.go
  volume/testutils/testutils.go
Labels: status/2-code-review

#34899 [client] Remove duplicate NewClient functions
  client/client.go
  client/client_test.go
  client/interface.go
  client/request.go
  client/request_test.go
  hack/make/.integration-daemon-start
  integration-cli/daemon/daemon.go
  integration-cli/daemon/daemon_swarm.go
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_containers_windows_test.go
  integration-cli/docker_api_exec_resize_test.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_api_ipcmode_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_plugins_test.go
  integration-cli/request/request.go
  integration-cli/trust_server_test.go
  integration/internal/request/client.go
  integration/plugin/authz/authz_plugin_test.go
Labels: status/2-code-review

#33702 Templated secrets and configs
  api/server/router/swarm/cluster_routes.go
  api/swagger.yaml
  api/types/swarm/config.go
  api/types/swarm/secret.go
  container/container.go
  container/container_unix.go
  container/container_windows.go
  daemon/cluster/convert/config.go
  daemon/cluster/convert/secret.go
  daemon/cluster/executor/container/executor.go
  daemon/configs.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  integration/config/config_test.go
  integration/internal/swarm/service.go
  integration/secret/secret_test.go
Labels: impact/api, impact/changelog, status/4-merge

#36366 Adjust minimum API version for templated configs/secrets
  api/common.go
  api/server/router/swarm/cluster_routes.go
  docs/api/version-history.md
Labels: area/api, status/2-code-review

#36368 Add /proc/keys to masked paths
  oci/defaults.go
Labels: status/4-merge

#36370 Update authors
  .mailmap
  AUTHORS
Labels: status/0-triage, status/3-docs-review

#36209 Remove broken container check from image prune
  daemon/prune.go
Labels: status/2-code-review

#36336 Split binary installers/commit scripts
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.armhf
  Dockerfile.e2e
  Dockerfile.ppc64le
  Dockerfile.s390x
  Dockerfile.simple
  hack/dockerfile/binaries-commits
  hack/dockerfile/install-binaries.sh
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/dockercli.installer
  hack/dockerfile/install/gometalinter.installer
  hack/dockerfile/install/install.sh
  hack/dockerfile/install/proxy.installer
  hack/dockerfile/install/runc.installer
  hack/dockerfile/install/tini.installer
  hack/dockerfile/install/tomlv.installer
  hack/dockerfile/install/vndr.installer
  hack/make/.go-autogen
  vendor.conf
Labels: status/4-merge

#36371 Bump swarmkit
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
Labels: area/swarm, status/4-merge

#36363 Fix TestAttachAfterDetach to work with latest client
  integration-cli/docker_cli_attach_unix_test.go
Labels: status/2-code-review

#36373 Move daemon image code in preparation for ImageService
  daemon/commit.go
  daemon/events.go
  daemon/image_commit.go
  daemon/image_events.go
  daemon/image_prune.go
  daemon/image_windows.go
  daemon/oci_windows.go
  daemon/prune.go
Labels: status/2-code-review

#36376 Fix Dockerfile.e2e build
  Dockerfile.e2e
Labels: status/4-merge

#35967 Windows: Pass back system errors on container exit
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers.go
  container/state.go
  daemon/monitor.go
  libcontainerd/client_local_windows.go
  libcontainerd/types.go
Labels: platform/windows, status/4-merge

#36387 Clean the teardown process of network test
  integration-cli/docker_experimental_network_test.go
Labels: status/2-code-review

#36392 Golint fix up
  daemon/graphdriver/btrfs/btrfs.go
Labels: status/4-merge

#36164 Content encoding negotiation added to archive request.
  api/server/router/container/copy.go
  vendor.conf
  vendor/github.com/golang/gddo/LICENSE
  vendor/github.com/golang/gddo/README.markdown
  vendor/github.com/golang/gddo/httputil/buster.go
  vendor/github.com/golang/gddo/httputil/header/header.go
  vendor/github.com/golang/gddo/httputil/httputil.go
  vendor/github.com/golang/gddo/httputil/negotiate.go
  vendor/github.com/golang/gddo/httputil/respbuf.go
  vendor/github.com/golang/gddo/httputil/static.go
  vendor/github.com/golang/gddo/httputil/transport.go
Labels: status/2-code-review

#36384 Update docker-py
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.armhf
  Dockerfile.ppc64le
  Dockerfile.s390x
Labels: area/testing, status/2-code-review

#36393 Move containerIsStopped/containerIsInState to integration/internal/container
  integration/container/diff_test.go
  integration/container/inspect_test.go
  integration/container/kill_test.go
  integration/container/links_linux_test.go
  integration/container/nat_test.go
  integration/container/pause_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/container/stats_test.go
  integration/container/stop_test.go
  integration/container/update_linux_test.go
  integration/container/update_test.go
  integration/internal/container/states.go
Labels: status/2-code-review

#35100 Updates the Dockerfile to use multi-stage
  Dockerfile
Labels: area/project, status/4-merge

#36338 builder: fix layer lifecycle leak
  builder/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/imagecontext.go
  builder/dockerfile/internals.go
  builder/dockerfile/mockbackend_test.go
  daemon/build.go
  integration/build/build_test.go
Labels: area/builder, status/2-code-review

#36406 Migrate some config secret tests to api test
  integration-cli/docker_cli_secret_create_test.go
  integration/secret/secret_test.go
Labels: area/testing, status/4-merge

#36424 Fix typos in builder and client
  builder/dockerfile/instructions/commands.go
  client/client_test.go
Labels: status/4-merge

#36292 Migrate volumes tests in integration-cli to api tests
  integration-cli/docker_api_volumes_test.go
  integration/internal/container/ops.go
  integration/volume/main_test.go
  integration/volume/volume_test.go
Labels: area/testing, status/4-merge

#36391 Update e2e run script
  hack/test/e2e-run.sh
Labels: status/4-merge

#36272 Fix empty LogPath with non-blocking logging mode
  container/container.go
  container/container_unit_test.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/loggerutils/logfile.go
Labels: area/api, area/logging, status/2-code-review

#36240 Extract ImageService from Daemon
  cmd/dockerd/daemon.go
  daemon/cluster/cluster.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/attachment.go
  daemon/cluster/executor/container/controller.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/executor/container/health_test.go
  daemon/cluster/executor/container/validate_test.go
  daemon/cluster/noderunner.go
  daemon/cluster/services.go
  daemon/commit.go
  daemon/container.go
  daemon/container_operations_windows.go
  daemon/create.go
  daemon/daemon.go
  daemon/delete.go
  daemon/disk_usage.go
  daemon/export.go
  daemon/image.go
  daemon/image_events.go
  daemon/images/cache.go
  daemon/images/image.go
  daemon/images/image_builder.go
  daemon/images/image_commit.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_exporter.go
  daemon/images/image_history.go
  daemon/images/image_import.go
  daemon/images/image_inspect.go
  daemon/images/image_prune.go
  daemon/images/image_pull.go
  daemon/images/image_push.go
  daemon/images/image_search.go
  daemon/images/image_search_test.go
  daemon/images/image_tag.go
  daemon/images/image_unix.go
  daemon/images/image_windows.go
  daemon/images/images.go
  daemon/images/locals.go
  daemon/images/service.go
  daemon/info.go
  daemon/inspect.go
  daemon/list.go
  daemon/metrics.go
  daemon/oci_windows.go
  daemon/prune.go
  daemon/reload.go
  daemon/reload_test.go
  daemon/start.go
Labels: status/2-code-review

#36267 Windows: Remove servicing mode
  daemon/monitor.go
  daemon/monitor_linux.go
  daemon/monitor_windows.go
  daemon/oci_windows.go
  integration-cli/docker_cli_run_test.go
  libcontainerd/client_local_windows.go
  libcontainerd/types.go
Labels: platform/windows, status/2-code-review

#36293 Migrate several docker rm tests to api tests
  integration-cli/docker_cli_rm_test.go
  integration/container/remove_test.go
Labels: area/testing, status/2-code-review

#36375 Frozen busybox latest glibc
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.armhf
  Dockerfile.e2e
  Dockerfile.ppc64le
  Dockerfile.s390x
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_experimental_network_test.go
  integration-cli/fixtures/load/frozen.go
  internal/test/environment/protect.go
Labels: status/4-merge

#36430 Migrate config inspect test to api test
  integration-cli/docker_cli_config_inspect_test.go
  integration/config/config_test.go
Labels: area/testing, status/4-merge

#36429 Clean up a temp dir created in container unit test
  container/container_unit_test.go
Labels: area/testing, status/4-merge

#36434 Migrate some container copy tests to integration
  integration-cli/docker_cli_cp_from_container_test.go
  integration-cli/docker_cli_cp_to_container_test.go
  integration-cli/docker_cli_cp_utils_test.go
  integration/container/copy_test.go
Labels: area/testing, status/4-merge

#36425 Follow-up fixes on multi-stage moby's Dockerfile
  Dockerfile
Labels: status/2-code-review
