Repository moby/moby, pull requests merged in 2018-08, with the labels that each got.

#37438 fix the race condition in the integration test TestRunContainerWithBridgeNone
  integration-cli/docker_cli_daemon_test.go
  integration/network/helpers.go
  integration/network/network_test.go
Labels: area/testing, status/2-code-review

#37573 Temporarily disable failing tests on Windows RS3
  integration-cli/docker_api_images_test.go
Labels: area/testing, status/4-merge

#37485 Systemd-resolved proper handling
  daemon/config/config.go
  daemon/config/config_common_unix.go
  daemon/config/config_unix.go
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  hack/dockerfile/install/proxy.installer
  internal/procfs/procfs_linux.go
  internal/procfs/procfs_linux_test.go
  vendor.conf
  vendor/github.com/docker/libnetwork/README.md
  vendor/github.com/docker/libnetwork/agent.go
  vendor/github.com/docker/libnetwork/bitseq/sequence.go
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/datastore/datastore.go
  vendor/github.com/docker/libnetwork/datastore/mock_store.go
  vendor/github.com/docker/libnetwork/diagnostic/server.go
  vendor/github.com/docker/libnetwork/driverapi/driverapi.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_setup.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_state.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_setup.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption.go
  vendor/github.com/docker/libnetwork/drivers/overlay/joinleave.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_network.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlay.go
  vendor/github.com/docker/libnetwork/drivers/overlay/peerdb.go
  vendor/github.com/docker/libnetwork/drivers/remote/api/api.go
  vendor/github.com/docker/libnetwork/drvregistry/drvregistry.go
  vendor/github.com/docker/libnetwork/internal/caller/caller.go
  vendor/github.com/docker/libnetwork/internal/setmatrix/setmatrix.go
  vendor/github.com/docker/libnetwork/iptables/firewalld.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/ipvs/netlink.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/networkdb/cluster.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.pb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.proto
  vendor/github.com/docker/libnetwork/networkdb/networkdbdiagnostic.go
  vendor/github.com/docker/libnetwork/osl/interface_linux.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs.go
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/resolver.go
  vendor/github.com/docker/libnetwork/sandbox.go
  vendor/github.com/docker/libnetwork/sandbox_dns_unix.go
  vendor/github.com/docker/libnetwork/service.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_linux.go
Labels: area/networking, area/systemd, status/2-code-review

#37489 -buildmode=pie is not supported on Linux on MIPS either
  hack/make/.binary
Labels: status/2-code-review

#37465 namesgenerator: new adjective, two inspiring Computing Science authors
  pkg/namesgenerator/names-generator.go
Labels: status/3-docs-review

#37541 Migrate some ipc container test from integration-cli to integration
  integration-cli/docker_api_ipcmode_test.go
  integration/container/ipcmode_test.go
Labels: area/testing, status/2-code-review

#37583 Don't invoke HCS shutdown if terminate called; removes unused vars and no-op calls
  libcontainerd/client_local_windows.go
Labels: status/2-code-review

#37586 Bump SwarmKit to 8852e8840e30d69db0b39a4a3d6447362e17c64f
  vendor.conf
  vendor/github.com/docker/swarmkit/agent/agent.go
  vendor/github.com/docker/swarmkit/agent/session.go
  vendor/github.com/docker/swarmkit/ca/certificates.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/task.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/taskreaper/task_reaper.go
  vendor/github.com/docker/swarmkit/manager/state/raft/transport/peer.go
  vendor/github.com/docker/swarmkit/vendor.conf
Labels: area/swarm, status/2-code-review

#37609 Fix the several typos detected by github.com/client9/misspell
  Dockerfile
  MAINTAINERS
  builder/builder-next/adapters/containerimage/pull.go
  daemon/container_operations_unix.go
  daemon/oci_linux.go
  daemon/reload.go
  daemon/volumes_linux.go
  errdefs/helpers_test.go
  hack/make.sh
  volume/mounts/mounts.go
Labels: status/4-merge

#37443 Add in two new names for names-generator
  pkg/namesgenerator/names-generator.go
Labels: status/2-code-review

#37635 integration-cli: error logging improvements
  integration-cli/check_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_config_create_test.go
  integration-cli/docker_cli_cp_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_daemon_plugins_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_external_volume_driver_unix_test.go
  integration-cli/docker_cli_login_test.go
  integration-cli/docker_cli_logout_test.go
  integration-cli/docker_cli_logs_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_plugins_test.go
  integration-cli/docker_cli_push_test.go
  integration-cli/docker_cli_restart_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_search_test.go
  integration-cli/docker_cli_secret_create_test.go
  integration-cli/docker_cli_service_create_test.go
  integration-cli/docker_cli_service_health_test.go
  integration-cli/docker_cli_service_update_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_cli_swarm_unix_test.go
Labels: area/testing, status/2-code-review

#37412 Select polling based watcher for docker log file watcher on Windows
  daemon/logger/loggerutils/logfile.go
Labels: area/logging, platform/windows, status/2-code-review

#37640 Bump API version to 1.39
  api/common.go
Labels: status/2-code-review

#37600 Fix #28814: use emulation for ConEmu and ConsoleZ
  pkg/term/term_windows.go
Labels: platform/windows, status/4-merge

#37597 builder: do not cancel buildkit status request
  builder/builder-next/builder.go
Labels: status/2-code-review

#37472 Do not return "<unknown>" in /info response
  api/server/router/system/system_routes.go
  daemon/info.go
  docs/api/version-history.md
Labels: impact/api, status/2-code-review

#37149 libcontainerd: split client and daemon supervision
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  daemon/daemon.go
  libcontainerd/client_daemon.go
  libcontainerd/client_local_windows.go
  libcontainerd/remote_daemon_options.go
  libcontainerd/remote_daemon_options_linux.go
  libcontainerd/remote_local.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_options.go
  libcontainerd/supervisor/remote_daemon_options_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
  libcontainerd/supervisor/utils_linux.go
  libcontainerd/supervisor/utils_windows.go
  libcontainerd/types.go
  libcontainerd/utils_windows.go
  plugin/executor/containerd/containerd.go
Labels: area/runtime, status/2-code-review

#37657 Swagger: bump API version to v1.39
  api/swagger.yaml
Labels: area/api, area/docs, status/4-merge

#37660 vndr go-connections to v0.4.0
  vendor.conf
  vendor/github.com/docker/go-connections/tlsconfig/config.go
Labels: status/2-code-review

#37613 builder: implement PullParent option with buildkit
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/builder.go
Labels: area/builder, status/4-merge

#37563 LCOW: Ensure platform is populated on COPY/ADD
  builder/dockerfile/copy.go
Labels: area/builder, status/4-merge

#37659 LCOW: Mount to short container paths to avoid command-line length limit
  builder/remotecontext/detect.go
  daemon/graphdriver/lcow/lcow.go
  daemon/graphdriver/lcow/lcow_svm.go
Labels: kind/experimental, platform/windows, status/2-code-review

#37612 Expose license status in Info
  Makefile
  api/swagger.yaml
  api/types/types.go
  daemon/info.go
  daemon/licensing.go
  daemon/licensing_test.go
  dockerversion/version_lib.go
  docs/api/version-history.md
  hack/make/.go-autogen
  hack/make/.go-autogen.ps1
Labels: impact/api, impact/changelog, status/2-code-review

#37092 Add "local" log driver
  api/types/plugins/logdriver/entry.pb.go
  api/types/plugins/logdriver/entry.proto
  container/container.go
  daemon/logdrivers_linux.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/jsonfilelog/read.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/config.go
  daemon/logger/local/doc.go
  daemon/logger/local/local.go
  daemon/logger/local/local_test.go
  daemon/logger/local/read.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
  pkg/tailfile/tailfile.go
  pkg/tailfile/tailfile_test.go
Labels: area/logging, impact/changelog, impact/documentation, kind/feature, status/4-merge

#37593 [enhancement] add optional fields in daemon.json to enable buildkit
  api/server/router/build/build.go
  api/server/router/build/build_routes.go
  api/server/router/system/system.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  client/ping.go
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
Labels: area/builder, impact/api, status/2-code-review

#37675 Remove now unused multireader.
  daemon/logger/loggerutils/multireader/multireader.go
  daemon/logger/loggerutils/multireader/multireader_test.go
Labels: area/logging, status/4-merge

#37620 buildkit: enable net modes and bridge
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
  daemon/network.go
  vendor.conf
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/client/build.go
  vendor/github.com/moby/buildkit/client/buildid/metadata.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/prune.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/control/gateway/gateway.go
  vendor/github.com/moby/buildkit/executor/executor.go
  vendor/github.com/moby/buildkit/executor/oci/hosts.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_nosecrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_secrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_nosecrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_secrets.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/solver/pb/ops.pb.go
  vendor/github.com/moby/buildkit/solver/pb/ops.proto
  vendor/github.com/moby/buildkit/util/entitlements/entitlements.go
  vendor/github.com/moby/buildkit/util/network/network.go
  vendor/github.com/moby/buildkit/vendor.conf
Labels: area/builder, status/2-code-review, status/failing-ci

#37604 Block task starting until node attachments are ready
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/adapter_test.go
  daemon/cluster/executor/container/controller.go
  daemon/network/settings.go
Labels: status/4-merge

#37558 Global Default Address Pool feature support
  api/swagger.yaml
  api/types/swarm/swarm.go
  daemon/cluster/convert/swarm.go
  daemon/cluster/noderunner.go
  daemon/cluster/swarm.go
  docs/api/version-history.md
  integration/network/service_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/ops.go
  internal/test/daemon/swarm.go
  vendor.conf
  vendor/github.com/docker/libnetwork/ipam/allocator.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_unix.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_windows.go
  vendor/github.com/docker/libnetwork/ipamutils/utils.go
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/control.proto
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/manager/allocator/allocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/drivers_ipam.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/networkallocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/controlapi/cluster.go
  vendor/github.com/docker/swarmkit/manager/controlapi/node.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/node/node.go
  vendor/github.com/docker/swarmkit/vendor.conf
Labels: area/networking, impact/api, status/4-merge

#37679 Disable TestExecWindowsOpenHandles on RS5 temporarily
  integration-cli/docker_cli_exec_test.go
Labels: area/testing, platform/windows, status/2-code-review

#37502 Add "Warnings" to /info endpoint, and move detection to the daemon
  api/swagger.yaml
  api/types/types.go
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
  docs/api/version-history.md
Labels: impact/api, impact/changelog, status/4-merge

#37636 Add unit test for swarm labels on containers
  daemon/cluster/executor/container/container_test.go
Labels: area/testing, status/2-code-review

#37686 remove experimental guard for buildkit
  api/server/router/build/build_routes.go
  api/server/router/session/session.go
Labels: area/builder, impact/changelog, kind/experimental, status/2-code-review

#37684 Add warning if REST API is accessible through an insecure connection
  daemon/info.go
  integration/system/info_test.go
Labels: area/security, kind/enhancement, status/4-merge

#37688 Fix logic when enabling buildkit
  api/server/router/build/build_routes.go
  daemon/config/config.go
Labels: status/0-triage

#37691 builder: temporarily disable bridge networking when using buildkit
  builder/builder-next/executor_unix.go
  vendor.conf
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/vendor.conf
Labels: status/2-code-review

#37650 Add support for filtering on node labels
  api/swagger.yaml
  daemon/cluster/filters.go
  docs/api/version-history.md
Labels: area/swarm, impact/api, impact/changelog, status/4-merge

#37699 builder: fix bridge networking when using buildkit
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
  vendor.conf
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/util/network/host.go
  vendor/github.com/moby/buildkit/util/network/network.go
  vendor/github.com/moby/buildkit/util/network/none.go
Labels: area/builder, status/4-merge

#37696 Fix incorrect spelling in error message
  daemon/logger/jsonfilelog/jsonfilelog.go
Labels: area/logging, status/2-code-review

#37695 Use errors.Wrap() in daemon errors, and cleanup messages
  cmd/dockerd/daemon.go
  integration-cli/docker_cli_daemon_test.go
  internal/test/daemon/daemon.go
Labels: status/4-merge

#37674 Revendor Microsoft/hcsshim and go-winio, plus container/containerd
  daemon/daemon.go
  libcontainerd/supervisor/remote_daemon.go
  vendor.conf
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/github.com/Microsoft/hcsshim/container.go
  vendor/github.com/Microsoft/hcsshim/interface.go
  vendor/github.com/Microsoft/hcsshim/legacy.go
  vendor/github.com/containerd/containerd/archive/tar_windows.go
  vendor/github.com/containerd/containerd/client.go
  vendor/github.com/containerd/containerd/client_opts.go
  vendor/github.com/containerd/containerd/vendor.conf
Labels: platform/windows, status/2-code-review

#37721 fixed typo (becuase -> because)
  daemon/logger/loggerutils/logfile.go
Labels: status/0-triage

#37718 integration-cli: fix TestAttachDetach, rm TestAttachDetachTruncatedID
  integration-cli/docker_cli_attach_unix_test.go
Labels: status/2-code-review

#37726 hack/make.ps1: know where we failed
  hack/make.ps1
Labels: area/testing, status/2-code-review

#37728 Fix regression when filtering container names using a leading slash
  daemon/list.go
  daemon/list_test.go
Labels: status/2-code-review

#37727 Bump Go to 1.10.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review

#37739 Fix relabeling local volume source dir
  daemon/volumes.go
Labels: area/security/selinux, status/2-code-review
