Repository moby/moby, pull requests merged in 2018-11, with the labels that each got.

#38120 update libnetwork to fix iptables compatibility on debian
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/iptables/iptables.go
Labels: area/networking, status/2-code-review

#38127 Integration tests fixes and cleanups
  integration-cli/check_test.go
  integration-cli/docker_api_swarm_node_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_utils_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/daemon_unix.go
  internal/test/daemon/node.go
  internal/test/daemon/swarm.go
Labels: area/testing, status/2-code-review

#38136 Remove myself from codeowners of client
  .github/CODEOWNERS
Labels: area/project, status/4-merge

#38133 Cleanup volume integration tests
  integration/volume/volume_test.go
Labels: area/testing, status/2-code-review

#38117 Fix some doc strings in the volume package
  volume/service/service.go
  volume/service/store.go
Labels: status/4-merge

#38029 fixes checkpoint rm fail
  daemon/checkpoint.go
Labels: status/2-code-review

#38053 builder: fix bugs when pruning buildkit cache with filters
  builder/builder-next/builder.go
Labels: area/builder, status/2-code-review

#37845 Allow to override the Makefile's `DOCKER_MOUNT` variable
  Makefile
Labels: status/2-code-review

#38143 Bump Golang to 1.11.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/4-merge

#38125 Add an op func to override Client.scheme
  client/client.go
Labels: status/2-code-review

#38003 mount: add BindOptions.NonRecursive (API v1.40)
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/mount/mount.go
  container/mounts_unix.go
  daemon/cluster/convert/container.go
  daemon/oci_linux.go
  daemon/volumes_unix.go
  docs/api/version-history.md
  integration/container/mounts_linux_test.go
  integration/internal/container/ops.go
  integration/internal/container/states.go
  volume/mounts/linux_parser.go
Labels: area/security, area/volumes, impact/api, impact/changelog, status/2-code-review

#38161 Remove duplicate CONTRIBUTING.md
  project/CONTRIBUTING.md
Labels: area/project, status/0-triage, status/3-docs-review

#38159 Bump BurntSushi/toml to v0.3.1
  hack/dockerfile/install/tomlv.installer
  vendor.conf
Labels: status/4-merge

#38123 Bump SwarmKit to 8d8689d5a94ac42406883a4cef89b3a5eaec3d11
  vendor.conf
  vendor/github.com/docker/swarmkit/agent/secrets/secrets.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/identity/combined_id.go
  vendor/github.com/docker/swarmkit/manager/dispatcher/assignments.go
  vendor/github.com/docker/swarmkit/manager/drivers/secrets.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/taskreaper/task_reaper.go
  vendor/github.com/docker/swarmkit/manager/state/raft/transport/transport.go
  vendor/github.com/docker/swarmkit/manager/state/store/networks.go
  vendor/github.com/docker/swarmkit/manager/state/store/services.go
Labels: area/swarm, status/2-code-review

#38128 Do not enable kmem on RHEL7 kernels
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/libcontainer/README.md
Labels: area/runtime, status/2-code-review

#37831 apparmor: allow receiving of signals from 'docker kill'
  profiles/apparmor/apparmor.go
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/4-merge

#38218 Add missing default address pool fields to swagger
  api/swagger.yaml
Labels: area/api, area/docs, status/4-merge

#38213 Add a note about updating runc / runc vendoring
  hack/dockerfile/install/runc.installer
  vendor.conf
Labels: area/runtime, status/4-merge

#38168 Update containerd to 1.2x
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/runtime/proc/proc.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/exec.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/exec_state.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/init.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/init_state.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/reaper.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_syscall.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
Labels: area/runtime, status/2-code-review

#38244 vendor: update buildkit to v0.3.3
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_norunmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_secrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_ssh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_nosecrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_nossh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_secrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_ssh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/session/session.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/util/contentutil/refs.go
  vendor/github.com/moby/buildkit/util/rootless/specconv/specconv_linux.go
  vendor/github.com/moby/buildkit/vendor.conf
  vendor/github.com/tonistiigi/fsutil/walker.go
Labels: area/builder, impact/changelog, status/4-merge

#38226 builder: avoid unset credentials in containerd
  builder/builder-next/adapters/containerimage/pull.go
Labels: status/0-triage

#38238 builder: deprecate prune filter `unused-for` in favor of `until`
  api/swagger.yaml
  builder/builder-next/builder.go
Labels: area/api, area/builder, impact/api, impact/changelog, status/2-code-review

#38204 Add CONFIG_IP_VS_PROTO_TCP, CONFIG_IP_VS_PROTO_UDP, IP_NF_TARGET_REDIRECT to check-config.sh
  contrib/check-config.sh
Labels: area/networking, kind/enhancement, status/2-code-review

#38231 bump swarmkit to bc032e24784ea618044ee438fedec3458abb2ef9
  vendor.conf
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
Labels: area/swarm, status/4-merge

#38245 Update containerd to v1.2.1-rc.0
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/init.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_linux.go
  vendor/github.com/containerd/containerd/vendor.conf
Labels: area/runtime, rebuild/windowsRS5-process, status/2-code-review

#38171 cli: fix images filter when use multi reference filter
  daemon/images/images.go
  integration/image/list_test.go
Labels: impact/changelog, status/2-code-review

#38102 VXLAN UDP Port configuration support
  api/server/router/swarm/cluster_routes.go
  api/swagger.yaml
  api/types/swarm/swarm.go
  daemon/cluster/convert/swarm.go
  daemon/cluster/listen_addr.go
  daemon/cluster/noderunner.go
  daemon/cluster/swarm.go
  docs/api/version-history.md
  integration/network/service_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/ops.go
  internal/test/daemon/swarm.go
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_utils.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlay.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlayutils/utils.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/ca/server.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/drivers_ipam.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/networkallocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/controlapi/cluster.go
  vendor/github.com/docker/swarmkit/manager/controlapi/service.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/node/node.go
  vendor/github.com/docker/swarmkit/vendor.conf
Labels: area/networking, area/swarm, impact/api, impact/changelog, impact/documentation, status/2-code-review

#38239 filters: add Clone() method
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Labels: status/4-merge

#37982 pkg/archive fixes, and port most unit tests to Windows
  pkg/archive/archive_test.go
  pkg/archive/changes.go
  pkg/archive/changes_test.go
  pkg/archive/changes_unix.go
  pkg/archive/changes_windows.go
  pkg/archive/diff.go
  pkg/archive/diff_test.go
Labels: status/4-merge

#38277 Windows: Tie busybox to specific version
  hack/ci/windows.ps1
Labels: area/testing, status/4-merge

#38263 Fix log output when don't use formatted
  hack/integration-cli-on-swarm/agent/worker/worker.go
Labels: status/0-triage

#38278 Windows: busybox to v1.1, update tests accordingly
  hack/ci/windows.ps1
  integration-cli/docker_cli_build_test.go
Labels: status/4-merge

#37638 Add --device support for Windows
  daemon/oci_windows.go
  libcontainerd/client_local_windows.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/interface.go
Labels: status/4-merge

#37043 Add memory.kernelTCP support for linux
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/host_config.go
  api/types/types.go
  daemon/daemon_unix.go
  daemon/info_unix.go
  docs/api/version-history.md
  integration/container/run_linux_test.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Labels: impact/api, impact/changelog, status/4-merge

#38282 Add warning to /info if KernelMemoryTCP is not supported
  daemon/info_unix.go
Labels: status/2-code-review

#38281 Minor docs touch-ups for KernelMemoryTCP support
  api/swagger.yaml
  api/types/container/host_config.go
Labels: status/3-docs-review

#38284 Rely on request.Context() cancellation
  api/server/router/build/build.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/image/image.go
  api/server/router/local.go
  api/server/router/network/network.go
  api/server/router/plugin/plugin.go
  api/server/router/swarm/cluster.go
  api/server/router/system/system.go
  api/server/router/volume/volume.go
  api/server/server.go
  vendor.conf
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/context_gorilla.go
  vendor/github.com/gorilla/mux/context_native.go
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/middleware.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/github.com/gorilla/mux/test_helpers.go
Labels: status/2-code-review

#38291 builder: fix inefficient networking config
  builder/builder-next/executor_unix.go
Labels: area/builder, area/networking, kind/performance, status/2-code-review

#37302 oci: include the domainname in "kernel.domainname"
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration/container/run_linux_test.go
Labels: status/1-design-review

#38299 Masked /proc/asound
  oci/defaults.go
Labels: area/runtime, area/security, status/2-code-review
