Repository moby/moby, pull requests merged in 2018-04, with the labels that each got.

#36756 Fix FIFO, sockets and device files when run in user NS
  daemon/graphdriver/copy/copy.go
Labels: status/0-triage

#36745 Fix a misused network object name
  integration-cli/docker_cli_network_unix_test.go
Labels: status/4-merge

#36770 Fix tests for pkg/archive
  pkg/archive/archive_test.go
Labels: status/4-merge

#36724 Add target field to build API docs
  api/swagger.yaml
Labels: area/api, area/docs, status/4-merge

#36762 Add quotation marks for $CURDIR
  Makefile
Labels: status/2-code-review

#36774 update libnetwork to improve scalabiltiy of bridge network isolation rules
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/README.md
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_tables.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdbdiagnostic.go
  vendor/github.com/docker/libnetwork/resolver.go
Labels: area/networking, impact/changelog, status/2-code-review

#36749 containerd: update to 1.0.3 release
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/cgroups/blkio.go
  vendor/github.com/containerd/cgroups/cgroup.go
  vendor/github.com/containerd/cgroups/control.go
  vendor/github.com/containerd/cgroups/cpu.go
  vendor/github.com/containerd/cgroups/cpuacct.go
  vendor/github.com/containerd/cgroups/cpuset.go
  vendor/github.com/containerd/cgroups/devices.go
  vendor/github.com/containerd/cgroups/errors.go
  vendor/github.com/containerd/cgroups/freezer.go
  vendor/github.com/containerd/cgroups/hierarchy.go
  vendor/github.com/containerd/cgroups/hugetlb.go
  vendor/github.com/containerd/cgroups/memory.go
  vendor/github.com/containerd/cgroups/named.go
  vendor/github.com/containerd/cgroups/net_cls.go
  vendor/github.com/containerd/cgroups/net_prio.go
  vendor/github.com/containerd/cgroups/paths.go
  vendor/github.com/containerd/cgroups/perf_event.go
  vendor/github.com/containerd/cgroups/pids.go
  vendor/github.com/containerd/cgroups/state.go
  vendor/github.com/containerd/cgroups/subsystem.go
  vendor/github.com/containerd/cgroups/systemd.go
  vendor/github.com/containerd/cgroups/ticks.go
  vendor/github.com/containerd/cgroups/utils.go
  vendor/github.com/containerd/cgroups/v1.go
Labels: area/cli, area/runtime, impact/changelog, status/4-merge

#36779 Update Golang to 1.9.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  contrib/builder/deb/aarch64/debian-jessie/Dockerfile
  contrib/builder/deb/aarch64/debian-stretch/Dockerfile
  contrib/builder/deb/aarch64/ubuntu-trusty/Dockerfile
  contrib/builder/deb/aarch64/ubuntu-xenial/Dockerfile
  contrib/builder/deb/amd64/debian-jessie/Dockerfile
  contrib/builder/deb/amd64/debian-stretch/Dockerfile
  contrib/builder/deb/amd64/debian-wheezy/Dockerfile
  contrib/builder/deb/amd64/ubuntu-trusty/Dockerfile
  contrib/builder/deb/amd64/ubuntu-xenial/Dockerfile
  contrib/builder/deb/amd64/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/amd64/ubuntu-zesty/Dockerfile
  contrib/builder/deb/armhf/debian-jessie/Dockerfile
  contrib/builder/deb/armhf/raspbian-jessie/Dockerfile
  contrib/builder/deb/armhf/ubuntu-trusty/Dockerfile
  contrib/builder/deb/armhf/ubuntu-xenial/Dockerfile
  contrib/builder/deb/armhf/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-trusty/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-xenial/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/s390x/ubuntu-xenial/Dockerfile
  contrib/builder/deb/s390x/ubuntu-yakkety/Dockerfile
  contrib/builder/rpm/amd64/amazonlinux-latest/Dockerfile
  contrib/builder/rpm/amd64/centos-7/Dockerfile
  contrib/builder/rpm/amd64/fedora-24/Dockerfile
  contrib/builder/rpm/amd64/fedora-25/Dockerfile
  contrib/builder/rpm/amd64/opensuse-13.2/Dockerfile
  contrib/builder/rpm/amd64/oraclelinux-6/Dockerfile
  contrib/builder/rpm/amd64/oraclelinux-7/Dockerfile
  contrib/builder/rpm/amd64/photon-1.0/Dockerfile
  contrib/builder/rpm/armhf/centos-7/Dockerfile
  contrib/builder/rpm/ppc64le/centos-7/Dockerfile
  contrib/builder/rpm/ppc64le/fedora-24/Dockerfile
  contrib/builder/rpm/ppc64le/opensuse-42.1/Dockerfile
  contrib/builder/rpm/s390x/clefos-base-s390x-7/Dockerfile
  contrib/builder/rpm/s390x/opensuse-tumbleweed-1/Dockerfile
Labels: impact/changelog, status/4-merge

#36728 Fix Windows layer leak when write fails
  daemon/graphdriver/windows/windows.go
Labels: platform/windows, status/4-merge

#36769 daemon/cluster: handle partial attachment entries during configure
  daemon/cluster/executor/container/executor.go
Labels: status/4-merge

#36806 config integration tests use unique resource names
  integration/config/config_test.go
Labels: status/4-merge

#36808 Always make sysfs read-write with privileged
  daemon/oci_linux.go
  integration-cli/docker_cli_run_test.go
Labels: status/4-merge

#36824 Move integration-cli daemon package to internal/test…
  integration-cli/check_test.go
  integration-cli/daemon/daemon.go
  integration/container/daemon_linux_test.go
  integration/container/export_test.go
  integration/container/mounts_linux_test.go
  integration/container/restart_test.go
  integration/network/inspect_test.go
  integration/network/macvlan_test.go
  integration/plugin/authz/main_test.go
  integration/plugin/logging/main_test.go
  integration/plugin/logging/validation_test.go
  integration/plugin/volumes/main_test.go
  integration/plugin/volumes/mounts_test.go
  integration/secret/main_test.go
  integration/service/main_test.go
  integration/system/cgroupdriver_systemd_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/daemon_unix.go
  internal/test/daemon/daemon_windows.go
  internal/test/daemon/ops.go
Labels: area/testing, status/2-code-review

#36768 Don't make container mount unbindable
  daemon/container_operations_unix.go
  integration/container/mounts_linux_test.go
Labels: status/2-code-review, status/4-merge

#35518 pkg: devmapper: dynamically load dm_task_deferred_remove
  hack/make.sh
  pkg/devicemapper/devmapper_wrapper_dynamic_deferred_remove.go
  pkg/devicemapper/devmapper_wrapper_dynamic_dlsym_deferred_remove.go
  pkg/devicemapper/devmapper_wrapper_no_deferred_remove.go
Labels: area/storage/devicemapper, status/4-merge

#36827 remove the retries for service update
  integration-cli/daemon/daemon_swarm.go
  integration-cli/docker_cli_service_update_test.go
  integration-cli/docker_cli_swarm_test.go
Labels: area/swarm, area/testing, status/2-code-review

#36826 Make internal/test/daemon.Daemon swarm aware
  integration-cli/check_test.go
  integration-cli/daemon/daemon.go
  integration-cli/daemon/daemon_swarm.go
  integration-cli/daemon_swarm_hack_test.go
  integration-cli/docker_api_swarm_node_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_prune_unix_test.go
  integration-cli/docker_cli_service_logs_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/internal/swarm/service.go
  internal/test/daemon/config.go
  internal/test/daemon/daemon.go
  internal/test/daemon/node.go
  internal/test/daemon/ops.go
  internal/test/daemon/secret.go
  internal/test/daemon/service.go
  internal/test/daemon/swarm.go
Labels: status/2-code-review

#36722 Migrate test-integration-cli experimental ipvlan test to integration
  integration-cli/docker_experimental_network_test.go
  integration/internal/container/ops.go
  integration/network/helpers.go
  integration/network/ipvlan/ipvlan_test.go
  integration/network/ipvlan/main_test.go
  integration/network/macvlan/macvlan_test.go
  integration/network/macvlan/main_test.go
  integration/network/macvlan_test.go
Labels: area/networking, area/testing, status/4-merge

#36595 copy: avoid using all system memory with authz plugins
  integration/plugin/authz/authz_plugin_test.go
  pkg/authorization/response.go
Labels: area/plugins, priority/P0, process/cherry-pick, status/2-code-review

#36727 ci: quote bash variable
  hack/ci/janky
Labels: status/2-code-review

#35831 Improve partial message support in logger
  api/types/backend/backend.go
  daemon/logger/adapter.go
  daemon/logger/copier.go
  daemon/logger/copier_test.go
  daemon/logger/journald/journald.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/logger.go
  daemon/logger/logger_test.go
Labels: area/logging, status/4-merge

#36778 Using authorization plugin, I changed Content-Type check routine.
  pkg/authorization/authz.go
  pkg/authorization/authz_unix_test.go
Labels: status/2-code-review

#36840 Bump libnetwork commit
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/overlay/ostweaks_linux.go
  vendor/github.com/docker/libnetwork/networkdb/delegate.go
Labels: status/4-merge

#36839 Move and refactor integration-cli/registry to internal/test
  integration-cli/check_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_cli_registry_user_agent_test.go
  integration-cli/docker_cli_v2_only_test.go
  integration-cli/docker_utils_test.go
  integration-cli/registry/requirement.go
  integration-cli/requirements_test.go
  internal/test/registry/ops.go
  internal/test/registry/registry.go
  internal/test/registry/registry_mock.go
Labels: area/testing, status/2-code-review

#36845 Refactor code in cmd/dockerd/daemon.go
  cmd/dockerd/daemon.go
  daemon/cluster/cluster.go
Labels: status/4-merge

#35739 Bump Golang to 1.10.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  contrib/builder/deb/aarch64/debian-jessie/Dockerfile
  contrib/builder/deb/aarch64/debian-stretch/Dockerfile
  contrib/builder/deb/aarch64/ubuntu-trusty/Dockerfile
  contrib/builder/deb/aarch64/ubuntu-xenial/Dockerfile
  contrib/builder/deb/amd64/debian-jessie/Dockerfile
  contrib/builder/deb/amd64/debian-stretch/Dockerfile
  contrib/builder/deb/amd64/debian-wheezy/Dockerfile
  contrib/builder/deb/amd64/ubuntu-trusty/Dockerfile
  contrib/builder/deb/amd64/ubuntu-xenial/Dockerfile
  contrib/builder/deb/amd64/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/amd64/ubuntu-zesty/Dockerfile
  contrib/builder/deb/armhf/debian-jessie/Dockerfile
  contrib/builder/deb/armhf/raspbian-jessie/Dockerfile
  contrib/builder/deb/armhf/ubuntu-trusty/Dockerfile
  contrib/builder/deb/armhf/ubuntu-xenial/Dockerfile
  contrib/builder/deb/armhf/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-trusty/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-xenial/Dockerfile
  contrib/builder/deb/ppc64le/ubuntu-yakkety/Dockerfile
  contrib/builder/deb/s390x/ubuntu-xenial/Dockerfile
  contrib/builder/deb/s390x/ubuntu-yakkety/Dockerfile
  contrib/builder/rpm/amd64/amazonlinux-latest/Dockerfile
  contrib/builder/rpm/amd64/centos-7/Dockerfile
  contrib/builder/rpm/amd64/fedora-24/Dockerfile
  contrib/builder/rpm/amd64/fedora-25/Dockerfile
  contrib/builder/rpm/amd64/opensuse-13.2/Dockerfile
  contrib/builder/rpm/amd64/oraclelinux-6/Dockerfile
  contrib/builder/rpm/amd64/oraclelinux-7/Dockerfile
  contrib/builder/rpm/amd64/photon-1.0/Dockerfile
  contrib/builder/rpm/armhf/centos-7/Dockerfile
  contrib/builder/rpm/ppc64le/centos-7/Dockerfile
  contrib/builder/rpm/ppc64le/fedora-24/Dockerfile
  contrib/builder/rpm/ppc64le/opensuse-42.1/Dockerfile
  contrib/builder/rpm/s390x/clefos-base-s390x-7/Dockerfile
  contrib/builder/rpm/s390x/opensuse-tumbleweed-1/Dockerfile
  daemon/logger/adapter_test.go
  hack/make.ps1
  pkg/archive/archive.go
  pkg/containerfs/archiver.go
  pkg/tarsum/tarsum.go
  pkg/tarsum/tarsum_test.go
  vendor.conf
  vendor/archive/tar/LICENSE
  vendor/archive/tar/README.md
  vendor/archive/tar/common.go
  vendor/archive/tar/format.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/stat_actime1.go
  vendor/archive/tar/stat_actime2.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
  vendor/archive/tar/writer.go
Labels: impact/changelog, status/2-code-review

#36738 Windows: Add GetLayerPath implementation in graphdriver
  daemon/graphdriver/windows/windows.go
Labels: status/2-code-review

#36862 Some enhancement in integration tests
  integration/container/create_test.go
  integration/container/export_test.go
  integration/system/cgroupdriver_systemd_test.go
Labels: area/testing, status/2-code-review

#36854 [test/integration] Small daemon refactoring and add swarm init/join helpers
  integration-cli/check_test.go
  integration-cli/daemon/daemon.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_external_graphdriver_unix_test.go
  integration-cli/docker_cli_external_volume_driver_unix_test.go
  integration-cli/docker_cli_info_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_plugins_test.go
  integration-cli/docker_hub_pull_suite_test.go
  integration/build/build_session_test.go
  integration/build/build_squash_test.go
  integration/config/config_test.go
  integration/internal/swarm/service.go
  integration/network/inspect_test.go
  integration/network/ipvlan/ipvlan_test.go
  integration/network/service_test.go
  integration/secret/secret_test.go
  integration/service/create_test.go
  integration/service/inspect_test.go
  integration/service/network_test.go
  internal/test/daemon/ops.go
  internal/test/daemon/service.go
  internal/test/daemon/swarm.go
Labels: area/testing, status/2-code-review

#36838 Clean some integration-cli/fixtures package/files
  integration-cli/check_test.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_cli_plugins_test.go
  integration-cli/docker_cli_save_load_test.go
  integration-cli/fixtures/deploy/default.yaml
  integration-cli/fixtures/deploy/remove.yaml
  integration-cli/fixtures/deploy/secrets.yaml
  integration-cli/fixtures/notary/delgkey1.crt
  integration-cli/fixtures/notary/delgkey1.key
  integration-cli/fixtures/notary/delgkey2.crt
  integration-cli/fixtures/notary/delgkey2.key
  integration-cli/fixtures/notary/delgkey3.crt
  integration-cli/fixtures/notary/delgkey3.key
  integration-cli/fixtures/notary/delgkey4.crt
  integration-cli/fixtures/notary/delgkey4.key
  integration-cli/fixtures/notary/gen.sh
  integration-cli/fixtures/notary/localhost.cert
  integration-cli/fixtures/notary/localhost.key
  integration-cli/fixtures/secrets/default
  integration-cli/fixtures_linux_daemon_test.go
  integration-cli/testdata/emptyLayer.tar
  integration/plugin/logging/helpers_test.go
  integration/plugin/volumes/helpers_test.go
  integration/plugin/volumes/mounts_test.go
  internal/test/environment/environment.go
  internal/test/fixtures/load/frozen.go
  internal/test/fixtures/plugin/basic/basic.go
  internal/test/fixtures/plugin/plugin.go
Labels: area/testing, status/2-code-review

#36841 Migrate image tag tests from integration-cli to api tests
  integration-cli/docker_cli_tag_test.go
  integration/image/tag_test.go
Labels: area/testing, status/2-code-review

#36866 Add myself to poule to get 2w/old PRs
  poule.yml
Labels: status/2-code-review

#36880 Bump SwarmKit to 9c2aa152c3054371b833483a7ddad8d15052ec4f
  vendor.conf
  vendor/github.com/docker/swarmkit/LICENSE
  vendor/github.com/docker/swarmkit/agent/agent.go
  vendor/github.com/docker/swarmkit/agent/config.go
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/objects.proto
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/taskreaper/task_reaper.go
  vendor/github.com/docker/swarmkit/manager/role_manager.go
  vendor/github.com/docker/swarmkit/manager/scheduler/scheduler.go
  vendor/github.com/docker/swarmkit/manager/state/store/memory.go
  vendor/github.com/docker/swarmkit/node/node.go
Labels: area/swarm, impact/changelog, status/4-merge

#36858 Standardize artefact path for all build stages
  Dockerfile
Labels: status/2-code-review

#36637 No global volume driver store
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/daemon_unix_test.go
  daemon/daemon_windows.go
  daemon/disk_usage.go
  daemon/info.go
  daemon/prune.go
  daemon/volumes.go
  daemon/volumes_unix.go
  integration-cli/docker_cli_daemon_test.go
  volume/drivers/adapter.go
  volume/drivers/extpoint.go
  volume/drivers/extpoint_test.go
  volume/drivers/proxy.go
  volume/drivers/proxy_test.go
  volume/store/restore.go
  volume/store/restore_test.go
  volume/store/store.go
  volume/store/store_test.go
Labels: area/volumes, status/4-merge

#36848 Relax some libcontainerd client locking
  libcontainerd/client_daemon.go
Labels: area/runtime, status/2-code-review

#36894 Bump golang.org/x/net to go1.10 release commit
  vendor.conf
  vendor/golang.org/x/net/README
  vendor/golang.org/x/net/README.md
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http2/configure_transport.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/go18.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/not_go18.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/idna/idna.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/golang.org/x/net/trace/events.go
  vendor/golang.org/x/net/trace/trace.go
Labels: status/2-code-review

#36865 Migrate TestAPISwarmServicesPlugin to integration
  integration-cli/docker_api_swarm_service_test.go
  integration/internal/swarm/service.go
  integration/service/plugin_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/plugin.go
  internal/test/daemon/swarm.go
Labels: area/testing, status/2-code-review

#36886 Migrate test-integration-cli experimental plugin tests to integration
  integration-cli/docker_cli_daemon_plugins_test.go
  integration/internal/requirement/requirement.go
  integration/plugin/graphdriver/external_test.go
  integration/plugin/graphdriver/main_test.go
Labels: area/testing, status/2-code-review

#36875 [test/integration-cli] small cleanups of FIXME(s)
  integration-cli/check_test.go
  integration-cli/daemon/daemon.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_prune_unix_test.go
  integration-cli/docker_cli_service_health_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/daemon_unix.go
  internal/test/daemon/daemon_windows.go
Labels: area/testing, status/2-code-review

#36896 Move mount parsing to separate package.
  container/container.go
  container/container_unix.go
  daemon/archive_unix.go
  daemon/container.go
  daemon/create_windows.go
  daemon/daemon_unix.go
  daemon/oci_linux.go
  daemon/volumes.go
  daemon/volumes_unit_test.go
  daemon/volumes_unix.go
  daemon/volumes_unix_test.go
  daemon/volumes_windows.go
  volume/mounts/lcow_parser.go
  volume/mounts/linux_parser.go
  volume/mounts/mounts.go
  volume/mounts/parser.go
  volume/mounts/parser_test.go
  volume/mounts/validate.go
  volume/mounts/validate_test.go
  volume/mounts/validate_unix_test.go
  volume/mounts/validate_windows_test.go
  volume/mounts/volume_copy.go
  volume/mounts/volume_unix.go
  volume/mounts/volume_windows.go
  volume/mounts/windows_parser.go
  volume/store/store.go
  volume/volume.go
Labels: status/4-merge

#36887 pkg/term add build tag for netbsd
  pkg/term/termios_bsd.go
Labels: status/4-merge

#36492 36478 storage-drivers log format standardization
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/mount.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/devmapper/driver.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/zfs/zfs.go
  daemon/graphdriver/zfs/zfs_freebsd.go
  daemon/graphdriver/zfs/zfs_linux.go
Labels: status/4-merge

#36744 TestDaemonNoSpaceLeftOnDeviceError: simplify
  integration-cli/docker_cli_daemon_test.go
Labels: area/testing, status/4-merge

#36888 Make testing helpers as such…
  integration/internal/requirement/requirement.go
  integration/internal/swarm/service.go
  internal/test/daemon/config.go
  internal/test/daemon/container.go
  internal/test/daemon/daemon.go
  internal/test/daemon/daemon_unix.go
  internal/test/daemon/node.go
  internal/test/daemon/secret.go
  internal/test/daemon/service.go
  internal/test/daemon/swarm.go
  internal/test/environment/clean.go
  internal/test/environment/protect.go
  internal/test/fakecontext/context.go
  internal/test/fakegit/fakegit.go
  internal/test/fakestorage/fixtures.go
  internal/test/fakestorage/storage.go
  internal/test/helper.go
  internal/test/registry/registry.go
  internal/test/registry/registry_mock.go
  internal/test/request/request.go
Labels: area/testing, status/4-merge

#36912 Remove daemon dependency on api packages
  api/server/router/network/backend.go
  api/server/router/network/network.go
  api/server/router/system/backend.go
  api/server/router/system/system.go
Labels: status/2-code-review

#36879 Extra check before unmounting on shutdown
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
Labels: status/2-code-review

#36091 pkg/mount improvements
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/graphdriver/zfs/zfs.go
  daemon/oci_linux.go
  integration-cli/docker_cli_daemon_plugins_test.go
  pkg/mount/mount.go
  pkg/mount/mount_unix_test.go
  pkg/mount/mounter_linux_test.go
  pkg/mount/mountinfo_freebsd.go
  pkg/mount/mountinfo_linux.go
  pkg/mount/mountinfo_linux_test.go
  pkg/mount/mountinfo_unsupported.go
  pkg/mount/mountinfo_windows.go
  volume/local/local.go
  volume/local/local_test.go
Labels: status/4-merge

#36922 Some improvement in restart_test.go
  integration/container/restart_test.go
Labels: area/testing, status/2-code-review

#36927 Fix version mismatch in API the documentation
  api/swagger.yaml
Labels: status/3-docs-review

#36920 context.WithTimeout: do call the cancel func
  daemon/cluster/swarm.go
  pkg/ioutils/readers_test.go
Labels: status/4-merge

#36913 Skip some tests requires root uid when run as user…
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/internals_test.go
  builder/remotecontext/tarsum_test.go
  daemon/config/config_test.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix_test.go
  pkg/archive/changes_test.go
  pkg/chrootarchive/archive_test.go
  pkg/idtools/idtools_unix_test.go
  pkg/system/rm_test.go
  plugin/manager_linux_test.go
  registry/registry_test.go
  registry/service_v1_test.go
  volume/local/local_test.go
  volume/store/store_test.go
Labels: area/testing, status/4-merge

#36599 LCOW: Implement `docker save`
  daemon/graphdriver/lcow/lcow.go
  image/tarexport/save.go
Labels: impact/changelog, kind/experimental, platform/windows, status/4-merge

#36935 Fix issues with running volume tests as non-root.
  volume/local/local_test.go
  volume/store/store.go
  volume/store/store_test.go
Labels: area/testing, area/volumes, status/4-merge

#36905 Bump SwarmKit to remove deprecated grpc metadata wrappers
  vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/dispatcher.pb.go
  vendor/github.com/docker/swarmkit/api/health.pb.go
  vendor/github.com/docker/swarmkit/api/logbroker.pb.go
  vendor/github.com/docker/swarmkit/api/raft.pb.go
  vendor/github.com/docker/swarmkit/api/resource.pb.go
  vendor/github.com/docker/swarmkit/api/watch.pb.go
  vendor/github.com/docker/swarmkit/ca/forward.go
Labels: status/2-code-review

#36924 restartmanager: do not apply restart policy on created containers
  daemon/daemon.go
  integration/container/restart_test.go
Labels: status/2-code-review

#36946 Bump tini to v0.18.0
  hack/dockerfile/install/tini.installer
Labels: area/runtime, impact/changelog, kind/enhancement, status/4-merge

#36816 Dockerbuilder: use the arch info from base image
  image/image.go
Labels: area/builder, impact/changelog, status/2-code-review

#36944 Skip some test on remote daemon for e2e run(s)
  integration/build/build_session_test.go
  integration/build/build_squash_test.go
  integration/container/daemon_linux_test.go
  integration/container/restart_test.go
  integration/internal/swarm/service.go
  integration/plugin/authz/main_test.go
  integration/plugin/graphdriver/external_test.go
  integration/plugin/logging/validation_test.go
  integration/plugin/volumes/mounts_test.go
  integration/service/plugin_test.go
  integration/volume/volume_test.go
Labels: area/testing, status/2-code-review

#36918 add verification to check if escapeKeys have elements (pkg/term/proxy.go)
  pkg/term/proxy.go
  pkg/term/proxy_test.go
Labels: status/2-code-review
