Repository moby/moby, pull requests merged in 2018-06, with the labels that each got.

#37190 Allow to add any args when doing a make run
  Makefile
  hack/make/run
Labels: status/4-merge

#37191 use unique names for resources in integration tests of secret package
  integration/secret/secret_test.go
Labels: area/testing, status/4-merge

#36688 Extract volume interaction to a volumes service
  api/server/router/volume/backend.go
  api/server/router/volume/volume_routes.go
  cmd/dockerd/daemon.go
  container/container_unix.go
  daemon/cluster/cluster.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/attachment.go
  daemon/cluster/executor/container/controller.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/executor/container/health_test.go
  daemon/cluster/executor/container/validate_test.go
  daemon/cluster/noderunner.go
  daemon/create.go
  daemon/create_unix.go
  daemon/create_windows.go
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/delete.go
  daemon/disk_usage.go
  daemon/errors.go
  daemon/images/image_prune.go
  daemon/inspect.go
  daemon/list.go
  daemon/mounts.go
  daemon/prune.go
  daemon/volumes.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_external_volume_driver_unix_test.go
  pkg/directory/directory_unix.go
  volume/drivers/adapter.go
  volume/drivers/extpoint.go
  volume/service/by.go
  volume/service/convert.go
  volume/service/db.go
  volume/service/db_test.go
  volume/service/default_driver.go
  volume/service/default_driver_stubs.go
  volume/service/errors.go
  volume/service/opts/opts.go
  volume/service/restore.go
  volume/service/restore_test.go
  volume/service/service.go
  volume/service/service_linux_test.go
  volume/service/service_test.go
  volume/service/store.go
  volume/service/store_test.go
  volume/service/store_unix.go
  volume/service/store_windows.go
  volume/testutils/testutils.go
Labels: area/volumes, status/4-merge

#37194 fix a failed test
  integration-cli/docker_cli_run_unix_test.go
Labels: area/testing, status/4-merge

#37211 Fix wrong assertion in volume/service package
  volume/service/service_linux_test.go
Labels: area/testing, status/4-merge

#37209 bump libnetwork to 3931ba4d815e385ab97093c64477b82f14dadefb
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ipv4.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_setup.go
  vendor/github.com/docker/libnetwork/endpoint.go
  vendor/github.com/docker/libnetwork/ipam/allocator.go
  vendor/github.com/docker/libnetwork/resolver.go
  vendor/github.com/docker/libnetwork/sandbox.go
  vendor/github.com/docker/libnetwork/sandbox_store.go
  vendor/github.com/docker/libnetwork/types/types.go
Labels: area/networking, status/4-merge

#36644 api: add MaskedPaths and ReadonlyPaths options
  api/swagger.yaml
  api/types/container/host_config.go
  daemon/create_unix.go
  daemon/oci_linux.go
  integration/container/create_test.go
Labels: impact/api, impact/changelog, status/2-code-review

#37232 Mark @thajeztah as a MAINTAINER…
  MAINTAINERS
Labels: status/4-merge

#37215 container links integration tests use unique names
  integration/container/links_linux_test.go
Labels: area/testing, status/4-merge

#37231 use unique names for resources in create service integration tests
  integration/service/create_test.go
Labels: area/testing, status/4-merge

#37183 Add support for `init` on services
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  integration/internal/swarm/service.go
  integration/service/create_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/ops.go
Labels: area/api, area/swarm, impact/api, impact/changelog, status/4-merge

#34218 Close readclosers returned by DecompressStream
  pkg/archive/archive.go
  pkg/archive/diff.go
  plugin/blobstore.go
Labels: status/4-merge

#37189 Refactor and cleanup the intermediate container creation
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals.go
Labels: area/builder, status/4-merge

#37235 [vim] Be case insensitive for D in dockerfile
  contrib/syntax/vim/ftdetect/dockerfile.vim
Labels: status/2-code-review

#37234 Fix daemon panic on restart when a plugin is running
  plugin/executor/containerd/containerd.go
  plugin/manager.go
  plugin/manager_linux.go
  plugin/manager_linux_test.go
  plugin/manager_windows.go
Labels: area/plugins, status/4-merge

#37195 Refactor macvlan network integration tests to use network.Create
  integration/internal/network/network.go
  integration/internal/network/ops.go
  integration/network/macvlan/macvlan_test.go
Labels: area/testing, status/4-merge

#36161 When link id is empty for overlay2, do not remove this link.
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/4-merge

#37236 Clean up in TestNegotiateAPIVersionEmpty
  client/client_test.go
Labels: area/testing, status/4-merge

#37184 Fix fd leak on attach
  container/stream/attach.go
  daemon/attach.go
Labels: status/4-merge

#37172 Fix race condition between exec start and resize.
  daemon/exec.go
  daemon/exec/exec.go
  daemon/resize.go
  daemon/resize_test.go
  daemon/util_test.go
  integration-cli/docker_api_exec_resize_test.go
Labels: status/2-code-review

#36687 Use stdlib TLS dialer
  client/hijack.go
  client/hijack_test.go
  client/tlsconfig_clone.go
  client/tlsconfig_clone_go17.go
Labels: status/4-merge

#37250 vendor: update containerd to 63522d9
  cmd/dockerd/daemon_unix.go
  daemon/start_unix.go
  libcontainerd/client_daemon.go
  plugin/executor/containerd/containerd.go
  vendor.conf
  vendor/github.com/containerd/console/console_linux.go
  vendor/github.com/containerd/console/console_windows.go
  vendor/github.com/containerd/containerd/cio/io_unix.go
  vendor/github.com/containerd/containerd/container_opts_unix.go
  vendor/github.com/containerd/containerd/content/content.go
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/content/proxy/content_store.go
  vendor/github.com/containerd/containerd/images/image.go
  vendor/github.com/containerd/containerd/metadata/content.go
  vendor/github.com/containerd/containerd/oci/spec_opts_unix.go
  vendor/github.com/containerd/containerd/oci/spec_opts_windows.go
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/remotes/docker/schema1/converter.go
  vendor/github.com/containerd/containerd/remotes/handlers.go
  vendor/github.com/containerd/containerd/runtime/linux/bundle.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/deleted_state.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/exec.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/exec_state.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/init.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/init_state.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/io.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/process.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/types.go
  vendor/github.com/containerd/containerd/runtime/linux/proc/utils.go
  vendor/github.com/containerd/containerd/runtime/linux/process.go
  vendor/github.com/containerd/containerd/runtime/linux/runctypes/doc.go
  vendor/github.com/containerd/containerd/runtime/linux/runctypes/runc.pb.go
  vendor/github.com/containerd/containerd/runtime/linux/runctypes/runc.proto
  vendor/github.com/containerd/containerd/runtime/linux/runtime.go
  vendor/github.com/containerd/containerd/runtime/linux/task.go
  vendor/github.com/containerd/containerd/runtime/proc/proc.go
  vendor/github.com/containerd/containerd/runtime/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/shim/client/client_linux.go
  vendor/github.com/containerd/containerd/runtime/shim/client/client_unix.go
  vendor/github.com/containerd/containerd/runtime/shim/local.go
  vendor/github.com/containerd/containerd/runtime/shim/reaper.go
  vendor/github.com/containerd/containerd/runtime/shim/service.go
  vendor/github.com/containerd/containerd/runtime/shim/service_linux.go
  vendor/github.com/containerd/containerd/runtime/shim/service_unix.go
  vendor/github.com/containerd/containerd/runtime/shim/v1/doc.go
  vendor/github.com/containerd/containerd/runtime/shim/v1/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/shim/v1/shim.proto
  vendor/github.com/containerd/containerd/services/server/server.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/task_opts.go
  vendor/github.com/containerd/containerd/task_opts_linux.go
  vendor/github.com/containerd/containerd/vendor.conf
Labels: area/runtime, status/4-merge

#37255 refactor delete network integration tests to use network package
  integration/network/delete_test.go
Labels: area/testing, status/2-code-review

#37259 Dockerfile*: bump Go to 1.10.3
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/0-triage

#37239 Upgrade imdario/mergo to v0.3.5
  integration-cli/docker_cli_events_unix_test.go
  vendor.conf
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
Labels: status/2-code-review

#37276 Fix link anchors in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: status/3-docs-review

#37270 refactored service network integration tests to use the network package
  integration/network/service_test.go
Labels: area/testing, status/2-code-review

#37280 Don't fail to start daemon if builder source is not available
  builder/builder-next/worker/worker.go
Labels: status/4-merge

#37279 Create service integration tests use network package
  integration/internal/network/ops.go
  integration/service/create_test.go
Labels: area/testing, status/4-merge

#37292 Fix compilation on 32bit machines
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/util/libcontainer_specconv/example.go
  vendor/github.com/moby/buildkit/vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
Labels: area/builder, area/runtime, status/4-merge

#37295 Updated path to be consistent w/ current Windows build process
  docs/contributing/software-req-win.md
Labels: status/0-triage

#37294 lcow: Allow the client to adjust capabilities and device cgroup rules
  daemon/caps/utils.go
  daemon/oci.go
  daemon/oci_linux.go
  daemon/oci_windows.go
Labels: impact/changelog, kind/experimental, platform/windows, status/4-merge

#37312 Update to containerd v1.1.1-rc.1
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#37315 Fix TestDaemonNoSpaceLeftOnDeviceError
  integration-cli/docker_cli_daemon_test.go
Labels: area/testing, status/2-code-review

#37304 Fix flaky test TestServiceGet
  volume/testutils/testutils.go
Labels: status/2-code-review

#37285 refactored remaining macvlan integration tests to use network package
  integration/internal/network/ops.go
  integration/network/macvlan/macvlan_test.go
Labels: area/testing, status/4-merge

#37313 Update overlay2 to use naive diff for changes
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlay2/overlay_test.go
  pkg/archive/changes_linux.go
Labels: status/2-code-review

#37264 refactor network inspect integration tests to use network package
  integration/internal/network/ops.go
  integration/network/inspect_test.go
Labels: area/testing, status/4-merge

#37293 migrate TestAPINetworkCreateDelete from integration-cli/ to integration/
  integration-cli/docker_api_network_test.go
  integration/network/delete_test.go
Labels: area/testing, status/2-code-review

#37331 Just satisfying my OCD - fixed comment spacing
  pkg/namesgenerator/names-generator.go
Labels: status/4-merge

#37249 add integration test guidelines
  TESTING.md
Labels: status/3-docs-review

#37298 integration/service/network integration tests to use network package
  integration/internal/network/ops.go
  integration/service/network_test.go
Labels: area/testing, status/4-merge

#37347 Update comments about `InitRouter`
  api/server/server.go
Labels: status/4-merge

#37355 vendor: update containerd to 08f7ee98
  vendor.conf
  vendor/github.com/containerd/containerd/images/image.go
  vendor/github.com/containerd/containerd/platforms/database.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/containerd/containerd/runtime/shim/client/client.go
  vendor/github.com/containerd/containerd/vendor.conf
Labels: status/4-merge

#37357 Update containerd to v1.1.1-rc.2
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/4-merge

#37356 LCOW: lazycontext: Use correct lstat, fix archive check
  builder/remotecontext/lazycontext.go
  pkg/archive/archive.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/archive/archive_windows.go
  pkg/archive/archive_windows_test.go
Labels: area/builder, platform/windows, status/4-merge

#37156 Move network conversions out of API router
  api/server/router/network/backend.go
  api/server/router/network/filter.go
  api/server/router/network/network_routes.go
  api/types/configs.go
  api/types/network/network.go
  daemon/cluster.go
  daemon/cluster/networks.go
  daemon/network.go
  daemon/network/filter.go
  daemon/network/filter_test.go
  daemon/prune.go
Labels: area/api, area/networking, status/4-merge

#37364 Update Microsoft/go-winio to 0.4.8
  vendor.conf
  vendor/github.com/Microsoft/go-winio/pipe.go
Labels: platform/windows, status/4-merge

#37370 Re-add support for a custom .bashrc file in build env
  Dockerfile
Labels: status/2-code-review

#37369 LCOW: Prefer Windows over Linux in a manifest list
  distribution/pull_v2_windows.go
Labels: kind/experimental, platform/windows, status/2-code-review
