Repository moby/moby, pull requests merged in 2018-09, with the labels that each got.

#37734 pkg/filenotify/poller fixes
  pkg/filenotify/poller.go
Labels: status/4-merge

#37692 allow features option live reloading
  api/server/router/build/build.go
  api/server/router/build/build_routes.go
  api/server/router/system/system.go
  api/server/router/system/system_routes.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/reload.go
Labels: area/builder, area/daemon, status/4-merge

#37651 builder: add prune options to the API
  api/server/backend/build/backend.go
  api/server/router/build/backend.go
  api/server/router/build/build_routes.go
  api/swagger.yaml
  api/types/types.go
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/imagerefchecker/checker.go
  client/build_prune.go
  client/interface.go
  integration/build/build_session_test.go
Labels: area/api, area/builder, impact/api, status/2-code-review

#37666 Added two new adjectives and four new names to names-generator.go
  pkg/namesgenerator/names-generator.go
Labels: status/3-docs-review

#37761 client: dial tls on Dialer if tls config is set
  client/client.go
Labels: status/0-triage

#37758 Fix supervisor healthcheck throttling
  libcontainerd/supervisor/remote_daemon.go
Labels: status/2-code-review

#37665 Fix docker --init with /dev bind mount
  daemon/oci_linux.go
Labels: impact/changelog, status/2-code-review

#37690 api/server, dockerversion: modify context key
  api/server/httputils/httputils.go
  api/server/middleware/version.go
  api/server/server.go
  dockerversion/useragent.go
Labels: status/2-code-review

#37770 Windows: Go1.11: Use long path in TestBuildSymlinkBreakout
  integration-cli/docker_cli_build_test.go
  pkg/system/path_unix.go
  pkg/system/path_windows.go
Labels: area/testing, platform/windows, status/2-code-review

#37738 builder: remove unused netnsRoot field in builder-next
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
Labels: status/4-merge

#37771 vendor: update tar-split
  integration/build/build_test.go
  vendor.conf
  vendor/github.com/vbatts/tar-split/README.md
  vendor/github.com/vbatts/tar-split/archive/tar/common.go
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/github.com/vbatts/tar-split/archive/tar/stat_actime1.go
  vendor/github.com/vbatts/tar-split/archive/tar/stat_actime2.go
  vendor/github.com/vbatts/tar-split/archive/tar/stat_unix.go
  vendor/github.com/vbatts/tar-split/archive/tar/strconv.go
  vendor/github.com/vbatts/tar-split/archive/tar/writer.go
Labels: status/4-merge

#37794 Fix typos in comment
  daemon/cluster/executor/container/controller.go
  daemon/graphdriver/lcow/lcow.go
  daemon/oci_linux_test.go
Labels: status/3-docs-review

#37788 fix typos
  integration-cli/requirements_test.go
Labels: status/3-docs-review

#37783 Fix various spell errors
  CHANGELOG.md
  api/types/stats.go
  cmd/dockerd/daemon.go
  integration/service/create_test.go
Labels: status/3-docs-review

#37787 Update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/2-code-review

#37782 fix a couple of typo
  daemon/links/links.go
  dockerversion/version_lib.go
  hack/make/.go-autogen
  hack/make/.go-autogen.ps1
Labels: status/3-docs-review

#37801 Fix typo dont->don't
  api/types/stats.go
Labels: status/3-docs-review

#37712 Windows: Try to detach sandbox on cleanup to avoid permission denied
  daemon/graphdriver/windows/windows.go
  vendor.conf
  vendor/github.com/Microsoft/go-winio/ea.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd.go
Labels: platform/windows, status/2-code-review

#37576 daemon.ContainerLogs(): fix resource leak on follow
  daemon/attach.go
  daemon/logger/adapter.go
  daemon/logger/adapter_test.go
  daemon/logger/journald/read.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local.go
  daemon/logger/logger.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
  daemon/logs.go
Labels: area/logging, status/2-code-review

#37778 Revendor Microsoft/hcsshim @v0.7.3
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/guid/guid.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/watcher.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/safefile/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/timeout/timeout.go
Labels: platform/windows, status/2-code-review

#37516 migrate container wait integration tests from integration-cli to integration/container package
  integration-cli/docker_cli_wait_test.go
  integration/container/wait_test.go
Labels: status/2-code-review

#37820 TestStartReturnCorrectExitCode: show error
  integration-cli/docker_cli_start_test.go
Labels: status/2-code-review

#37829 Update copyright years
  LICENSE
  pkg/symlink/LICENSE.APACHE
  pkg/symlink/LICENSE.BSD
Labels: status/4-merge

#37819 daemon/logger/journald: simplify readers field
  daemon/logger/journald/journald.go
  daemon/logger/journald/read.go
Labels: area/logging, status/2-code-review

#37644 propagate the dockerd cgroup-parent config to buildkitd
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  builder/builder-next/worker/worker.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  vendor.conf
  vendor/github.com/moby/buildkit/api/types/worker.pb.go
  vendor/github.com/moby/buildkit/api/types/worker.proto
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/workers.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/util/throttle/throttle.go
  vendor/github.com/moby/buildkit/worker/worker.go
Labels: area/builder, status/2-code-review

#37780 pkg/progress: work around closing closed channel panic
  pkg/progress/progress.go
Labels: status/2-code-review

#37773 TestServiceWithDefaultAddressPoolInit: avoid panic
  integration/network/service_test.go
Labels: area/networking, status/4-merge

#37741 fix typos in experimental.go and buildargs.go
  api/server/router/experimental.go
  builder/dockerfile/buildargs.go
Labels: status/4-merge

#37759 Add fail fast path when containerd fails on startup
  libcontainerd/supervisor/remote_daemon.go
Labels: area/runtime, status/2-code-review

#37736 Global Default AddressPool - Update
  daemon/cluster/listen_addr.go
  daemon/cluster/noderunner.go
  daemon/cluster/swarm.go
  integration/network/service_test.go
  vendor.conf
  vendor/github.com/docker/swarmkit/agent/session.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
  vendor/github.com/docker/swarmkit/manager/allocator/allocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/drivers_ipam.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/networkallocator.go
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/controlapi/cluster.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/node/node.go
Labels: area/swarm, status/2-code-review

#37854 daemon/images: removed "found leaked image layer" warning, because it…
  daemon/images/service.go
Labels: status/2-code-review

#37847 Loosen permissions on /etc/docker directory
  daemon/trustkey.go
Labels: status/2-code-review

#37861 fix typos in service.go and plugin.go
  daemon/cluster/convert/service.go
  internal/test/fixtures/plugin/plugin.go
Labels: status/2-code-review

#37871 fix daemon won't start bug caused by daemon.json and cli flags duplications
  daemon/config/config.go
Labels: status/1-design-review

#37885 Remove the redundant integration test TestExportContainerWithOutputAndImportImage
  integration-cli/docker_cli_export_import_test.go
Labels: status/4-merge

#37852 add support for "registry-mirrors" and "insecure-registries" to buildkit
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/remotecache/registry/registry.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/util/resolver/resolver.go
  vendor/github.com/moby/buildkit/vendor.conf
Labels: area/builder, status/4-merge

#37899 builder: vendor buildkit to 39404586a50d1b9d0fb1c578cf0f4de7bdb7afe5
  builder/builder-next/controller.go
  builder/builder-next/worker/worker.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/gc.go
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/metadata.go
  vendor/github.com/moby/buildkit/cache/metadata/metadata.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/client/client.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/resolver.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/workers.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/image.go
  vendor/github.com/moby/buildkit/session/grpchijack/hijack.go
  vendor/github.com/moby/buildkit/session/sshforward/copy.go
  vendor/github.com/moby/buildkit/session/sshforward/generate.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.pb.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.proto
  vendor/github.com/moby/buildkit/snapshot/blobmapping/snapshotter.go
  vendor/github.com/moby/buildkit/solver/bboltcachestorage/storage.go
  vendor/github.com/moby/buildkit/solver/cachemanager.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/pb/const.go
  vendor/github.com/moby/buildkit/solver/pb/ops.pb.go
  vendor/github.com/moby/buildkit/solver/pb/ops.proto
  vendor/github.com/moby/buildkit/solver/scheduler.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/source/http/httpsource.go
  vendor/github.com/moby/buildkit/source/local/local.go
  vendor/github.com/moby/buildkit/util/contentutil/copy.go
  vendor/github.com/moby/buildkit/util/contentutil/fetcher.go
  vendor/github.com/moby/buildkit/util/contentutil/multiprovider.go
  vendor/github.com/moby/buildkit/util/contentutil/refs.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/github.com/moby/buildkit/util/imageutil/schema1.go
  vendor/github.com/moby/buildkit/vendor.conf
  vendor/github.com/moby/buildkit/worker/cacheresult.go
  vendor/github.com/moby/buildkit/worker/worker.go
Labels: status/0-triage

#37851 migrated ipc integration tests to integration/container
  integration-cli/docker_api_ipcmode_test.go
  integration-cli/docker_cli_daemon_test.go
  integration/container/ipcmode_test.go
  internal/test/environment/environment.go
Labels: status/2-code-review

#37846 builder: use buildkit's GC for build cache
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/worker/gc.go
  builder/builder-next/worker/gc_unix.go
  builder/builder-next/worker/gc_windows.go
  cmd/dockerd/daemon.go
  daemon/config/builder.go
  daemon/config/config.go
Labels: area/builder, status/4-merge

#37585 Include original error when translating distribution errors
  distribution/errors.go
Labels: area/distribution, status/2-code-review

#37703 daemon/setMounts(): remove dead code
  daemon/oci_linux.go
Labels: status/2-code-review

#37904 fixes display text in Multiple IDs found with provided prefix
  pkg/truncindex/truncindex.go
Labels: status/2-code-review

#37701 Add support for sysctl options in services
  api/server/router/swarm/cluster_routes.go
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  docs/api/version-history.md
  integration/internal/swarm/service.go
  integration/service/create_test.go
Labels: impact/api, impact/changelog, impact/documentation, status/2-code-review

#37907 Remove 'docker-' prefix for containerd and runc binaries
  api/swagger.yaml
  builder/builder-next/executor_unix.go
  cmd/dockerd/daemon.go
  contrib/docker-machine-install-bundle.sh
  daemon/daemon_unix.go
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  hack/make/.binary-setup
  hack/make/.integration-test-helpers
  hack/make/binary-daemon
  integration-cli/check_test.go
  integration-cli/docker_cli_daemon_test.go
  internal/test/daemon/daemon.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
Labels: status/4-merge

#37887 typo fix retreived
  volume/service/opts/opts.go
Labels: status/3-docs-review

#37400 Allow mount type npipe on service/stack
  api/swagger.yaml
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/validate.go
  daemon/cluster/executor/container/validate_windows_test.go
Labels: status/2-code-review

#37875 Bump Microsoft/opengcs to v0.3.9
  vendor.conf
  vendor/github.com/Microsoft/opengcs/client/createext4vhdx.go
  vendor/github.com/Microsoft/opengcs/client/process.go
  vendor/github.com/Microsoft/opengcs/service/gcsutils/README
  vendor/github.com/Microsoft/opengcs/vsockexec/vsockexec.c
Labels: status/2-code-review

#37879 go {build,test}: rm -i option, add go cache volume
  Makefile
  docs/contributing/set-up-dev-env.md
  hack/integration-cli-on-swarm/README.md
  hack/make.sh
  hack/test/unit
Labels: status/4-merge

#37926 Fix typo
  integration-cli/docker_cli_swarm_test.go
Labels: status/4-merge

#37928 vendor buildkit to 8f4dff0d16ea91cb43315d5f5aa4b27f4fe4e1f2
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/cache/contenthash/path.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/gateway/client/client.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/solver/edge.go
  vendor/github.com/moby/buildkit/solver/jobs.go
Labels: status/2-code-review

#37927 Remove redundant config & secret integration tests
  integration-cli/docker_cli_config_create_test.go
  integration-cli/docker_cli_secret_create_test.go
Labels: status/2-code-review

#37925 Update containerd to v1.1.4
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review

#37850 daemon: propagate exec-root to libnetwork-setkey
  daemon/oci_linux.go
  hack/dockerfile/install/proxy.installer
  internal/test/daemon/daemon.go
  vendor.conf
  vendor/github.com/docker/libnetwork/config/config.go
  vendor/github.com/docker/libnetwork/sandbox_externalkey_unix.go
Labels: area/networking, status/2-code-review
