Repository moby/moby, pull requests merged in 2018-05, with the labels that each got.

#36522 Allow awslogs to use non-blocking mode
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, docs/revisit, impact/changelog, status/2-code-review

#36960 Fix the target name issue for multi-stage build
  builder/dockerfile/builder.go
  builder/dockerfile/instructions/commands.go
  integration-cli/docker_cli_build_test.go
Labels: status/2-code-review

#36396 Allow user to specify default address pools for docker networks
  cmd/dockerd/config_unix.go
  daemon/config/config.go
  daemon/config/config_unix.go
  daemon/daemon.go
  daemon/daemon_unix.go
  integration/network/service_test.go
  opts/address_pools.go
  opts/address_pools_test.go
Labels: impact/changelog, impact/documentation, status/4-merge

#36906 Bump docker/distribution to 83389a148052d74ac602f5f1d62f86ff2f3c4aa5
  distribution/pull_v2_unix.go
  distribution/pull_v2_windows.go
  distribution/push_v2_test.go
  distribution/registry.go
  vendor.conf
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/context/context.go
  vendor/github.com/docker/distribution/context/doc.go
  vendor/github.com/docker/distribution/context/http.go
  vendor/github.com/docker/distribution/context/logger.go
  vendor/github.com/docker/distribution/context/trace.go
  vendor/github.com/docker/distribution/context/util.go
  vendor/github.com/docker/distribution/context/version.go
  vendor/github.com/docker/distribution/manifest/schema1/config_builder.go
  vendor/github.com/docker/distribution/manifest/schema1/reference_builder.go
  vendor/github.com/docker/distribution/manifest/schema2/builder.go
  vendor/github.com/docker/distribution/manifests.go
  vendor/github.com/docker/distribution/metrics/prometheus.go
  vendor/github.com/docker/distribution/registry.go
  vendor/github.com/docker/distribution/registry/api/errcode/handler.go
  vendor/github.com/docker/distribution/registry/client/auth/challenge/authchallenge.go
  vendor/github.com/docker/distribution/registry/client/auth/session.go
  vendor/github.com/docker/distribution/registry/client/blob_writer.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/storage/cache/cachedblobdescriptorstore.go
  vendor/github.com/docker/distribution/registry/storage/cache/memory/memory.go
  vendor/github.com/docker/distribution/tags.go
  vendor/github.com/docker/distribution/vendor.conf
Labels: status/1-design-review

#36985 Update hcsshim to v0.6.10
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/baselayer.go
  vendor/github.com/Microsoft/hcsshim/hcsshim.go
  vendor/github.com/Microsoft/hcsshim/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/hnsnetwork.go
  vendor/github.com/Microsoft/hcsshim/hnspolicy.go
  vendor/github.com/Microsoft/hcsshim/hnspolicylist.go
  vendor/github.com/Microsoft/hcsshim/importlayer.go
  vendor/github.com/Microsoft/hcsshim/legacy.go
  vendor/github.com/Microsoft/hcsshim/legacy18.go
  vendor/github.com/Microsoft/hcsshim/legacy19.go
  vendor/github.com/Microsoft/hcsshim/safeopen.go
  vendor/github.com/Microsoft/hcsshim/zhcsshim.go
Labels: status/2-code-review

#36994 Add windows recycle bin test and update hcsshim to v0.6.11
  integration-cli/docker_api_build_windows_test.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/README.md
  vendor/github.com/Microsoft/hcsshim/legacy.go
Labels: status/2-code-review

#36979 Bump swarmkit to bd69f6e8e301645afd344913fa1ede53a0a111fb
  vendor.conf
  vendor/github.com/docker/swarmkit/ca/certificates.go
  vendor/github.com/docker/swarmkit/ca/keyreadwriter.go
  vendor/github.com/docker/swarmkit/ca/keyutils/keyutils.go
  vendor/github.com/docker/swarmkit/fips/fips.go
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/deks.go
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
  vendor/github.com/docker/swarmkit/manager/encryption/encryption.go
  vendor/github.com/docker/swarmkit/manager/state/raft/storage/storage.go
  vendor/github.com/docker/swarmkit/node/node.go
Labels: area/swarm, status/2-code-review

#36921 Warn when reserved-namespace engine labels are configured
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
Labels: impact/changelog, impact/deprecation, status/2-code-review

#36612 TestPostContainersAttach: minor improvements
  integration-cli/docker_api_attach_test.go
Labels: area/testing, status/4-merge

#36975 Bump go version to 1.10.2
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review

#37016 Export BuildArgs type from dockerfile package
  builder/dockerfile/buildargs.go
  builder/dockerfile/buildargs_test.go
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  builder/dockerfile/evaluator_test.go
Labels: area/builder, status/4-merge

#36159 Fluentd Log Driver: Add partial flag into record
  daemon/logger/fluentd/fluentd.go
Labels: area/logging, impact/changelog, status/2-code-review

#37029 Fix fluentd partial detection
  daemon/logger/fluentd/fluentd.go
Labels: area/logging, status/4-merge

#36815 refactor: simplify code to make function getExecConfig more readable
  daemon/exec.go
Labels: status/2-code-review

#37031 Fix daemon.getSourceMount() for /
  daemon/oci_linux.go
  daemon/oci_linux_test.go
Labels: status/2-code-review

#37041 overlay2: remove unused cdMountFrom() helper function
  daemon/graphdriver/overlay2/overlay_test.go
Labels: area/storage/overlay, area/testing, status/2-code-review

#36289 [backport] Add 17.03.2 CHANGELOG
  CHANGELOG.md
Labels: status/3-docs-review

#37047 Re-order CHANGELOG.md to pass `make validate` test
  CHANGELOG.md
Labels: status/3-docs-review

#37049 Fix incorrect link in version-history.md
  docs/api/version-history.md
Labels: status/0-triage

#37052 Fix missing plugin name in message
  internal/test/daemon/plugin.go
Labels: area/plugins, status/2-code-review

#37045 Fixing network inspect for swarm
  daemon/cluster/convert/network.go
  integration/network/inspect_test.go
Labels: area/networking, area/swarm, status/4-merge

#36991 daemon.setMounts(): copy slice in place
  daemon/oci_linux.go
Labels: status/2-code-review

#37040 overlay: do not ignore invalid storage-driver options
  daemon/graphdriver/overlay/overlay.go
Labels: area/storage/overlay, impact/changelog, status/2-code-review

#37034 Add metrics for log failures/partials
  daemon/logger/copier.go
  daemon/logger/metrics.go
Labels: impact/changelog, status/2-code-review

#37030 Refactor service create integration tests to use swarm CreateService
  integration/service/create_test.go
Labels: area/testing, status/4-merge

#37060 Fix swagger volume type generation
  api/server/router/volume/volume_routes.go
  api/types/volume/volume_create.go
  api/types/volume/volume_list.go
  client/interface.go
  client/volume_create.go
  client/volume_create_test.go
  client/volume_list.go
  client/volume_list_test.go
  daemon/cluster/executor/container/container.go
  hack/generate-swagger-api.sh
  hack/integration-cli-on-swarm/host/volume.go
  hack/validate/gometalinter.json
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/volume/volume_test.go
Labels: area/api, status/4-merge

#37044 Avoid unique name usage in TestDockerNetworkConnectAlias
  integration/service/network_test.go
Labels: status/4-merge

#37063 Fix some issues in logfile reader and rotation
  daemon/logger/loggerutils/logfile.go
Labels: status/4-merge

#37062 Fix race conditions in logs API
  daemon/logs.go
Labels: area/logging, impact/changelog, status/2-code-review

#37028 Fix logging plugin crash unrecoverable
  daemon/logger/plugin_unix.go
  integration/internal/container/ops.go
  integration/plugin/logging/cmd/close_on_start/main.go
  integration/plugin/logging/cmd/close_on_start/main_test.go
  integration/plugin/logging/logging_test.go
Labels: area/plugins, status/4-merge

#37051 image spec v1 formatting fix
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
Labels: status/3-docs-review

#37070 Fix logging test type
  integration/plugin/logging/logging_test.go
Labels: area/testing, status/4-merge

#37003 Fix integration tests and integration cli to run on older versions
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_create_test.go
  integration-cli/docker_api_exec_resize_test.go
  integration-cli/docker_api_exec_test.go
  integration-cli/docker_api_ipcmode_test.go
  integration-cli/docker_api_logs_test.go
  integration-cli/docker_api_network_test.go
  integration-cli/docker_api_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_commit_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_links_test.go
  integration-cli/docker_cli_netmode_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_save_load_test.go
  integration-cli/docker_cli_start_test.go
  integration-cli/docker_deprecated_api_v124_test.go
  integration-cli/requirements_test.go
  integration/build/build_test.go
  integration/container/exec_test.go
  integration/container/pause_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/container/stop_test.go
  integration/image/commit_test.go
  integration/network/delete_test.go
  integration/network/service_test.go
  integration/system/event_test.go
  integration/volume/volume_test.go
Labels: area/testing, status/4-merge

#37064 jsonmessage: pass message to aux callback
  pkg/jsonmessage/jsonmessage.go
Labels: status/2-code-review

#37076 Fix flaky test case of `TestExecInteractiveStdinClose`
  integration-cli/docker_cli_exec_unix_test.go
Labels: status/2-code-review

#37071 Extend client API with custom HTTP requests
  client/client.go
  client/interface.go
Labels: area/api, status/4-merge

#37074 Fix typos
  pkg/fileutils/fileutils.go
  pkg/namesgenerator/names-generator.go
  pkg/stdcopy/stdcopy_test.go
Labels: status/4-merge

#35410 Replace 'precpu' with 'percpu' in API docs.
  api/swagger.yaml
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
Labels: area/api, area/docs, status/4-merge

#37101 Rewrote data-root escape error message
  volume/local/local.go
Labels: status/2-code-review

#37091 Fix some linting issues
  api/server/server.go
  builder/fscache/fscache.go
  client/swarm_unlock_test.go
  cmd/dockerd/daemon_unix.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/zfs/zfs.go
  daemon/volumes_windows.go
  integration/service/network_test.go
  libcontainerd/client_daemon_linux.go
  pkg/archive/archive_windows.go
  plugin/manager_linux.go
Labels: area/testing, status/2-code-review

#37088 Fix typos: remove duplicated "the"
  api/swagger.yaml
  daemon/cluster/controllers/plugin/controller.go
  errdefs/is.go
  pkg/stdcopy/stdcopy.go
  plugin/v2/plugin.go
Labels: status/4-merge

#37022 Add additional message when backendfs is extfs without d_type support
  daemon/graphdriver/overlayutils/overlayutils.go
Labels: area/storage/overlay, status/2-code-review

#37011 Construct and add 'LABEL' command from 'label' option to last stage
  builder/dockerfile/builder.go
  builder/dockerfile/builder_test.go
  builder/dockerfile/instructions/commands.go
  builder/dockerfile/parser/line_parsers.go
  builder/dockerfile/parser/line_parsers_test.go
  integration/build/build_test.go
Labels: area/builder, status/4-merge

#37090 Make integration tests less noisy
  internal/test/environment/clean.go
Labels: area/testing, status/4-merge

#36995 aufs: log why aufs is not supported
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/mount.go
Labels: area/storage/aufs, status/4-merge

#37086 Some slight tweaks for the integration test
  hack/make.sh
  integration-cli/docker_cli_exec_unix_test.go
  integration/internal/swarm/service.go
Labels: area/testing, status/2-code-review

#37111 bump libnetwork to eb6b2a57955e5c149d47c3973573216e8f8baa09
  vendor.conf
  vendor/github.com/docker/libnetwork/bitseq/sequence.go
  vendor/github.com/docker/libnetwork/cluster/provider.go
  vendor/github.com/docker/libnetwork/drivers/overlay/encryption.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_network.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ovmanager/ovmanager.go
  vendor/github.com/docker/libnetwork/ipam/allocator.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/networkdb/cluster.go
  vendor/github.com/docker/libnetwork/networkdb/delegate.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/vendor.conf
Labels: area/networking, status/2-code-review

#36962 Fix swagger file type for ExecIds
  api/swagger.yaml
Labels: area/api, status/3-docs-review

#37106 Bump spf13/cobra to v0.0.3, pflag to v1.0.1
  cli/cobra.go
  cmd/dockerd/docker.go
  cmd/dockerd/options.go
  vendor.conf
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/github.com/spf13/pflag/README.md
  vendor/github.com/spf13/pflag/bytes.go
  vendor/github.com/spf13/pflag/count.go
  vendor/github.com/spf13/pflag/duration_slice.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/int16.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/github.com/spf13/pflag/string_slice.go
Labels: area/cli, status/2-code-review

#37113 Update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/3-docs-review

#35402 Improve GetTimestamp parsing
  api/types/time/timestamp.go
  api/types/time/timestamp_test.go
  client/container_logs.go
  client/container_logs_test.go
  client/service_logs.go
  client/service_logs_test.go
Labels: impact/api, status/4-merge

#37105 more fixes on integration
  integration-cli/docker_cli_inspect_test.go
  integration/plugin/logging/logging_test.go
  internal/test/environment/environment.go
Labels: area/testing, status/4-merge

#37130 skip feature/test added which is breaking ee
  integration/build/build_test.go
Labels: status/0-triage

#37119 TestContainerAPITop: fix flakyness
  integration-cli/docker_api_containers_test.go
Labels: status/2-code-review

#37121 Set item-type for ExecIDs
  api/swagger.yaml
Labels: area/api, area/docs, status/3-docs-review

#36750 pkg/mount/TestMount: fix wrt selinux
  pkg/mount/mounter_linux_test.go
Labels: area/testing, status/4-merge

#35246 Output network attachment task information
  api/swagger.yaml
  api/types/swarm/runtime.go
  api/types/swarm/task.go
  daemon/cluster/convert/service.go
  daemon/cluster/convert/service_test.go
  daemon/cluster/convert/task.go
  daemon/cluster/services.go
  docs/api/version-history.md
Labels: area/api, area/networking, area/swarm, impact/api, impact/changelog, status/2-code-review

#37133 Bump continuity
  vendor.conf
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/copy_linux.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_386.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_amd64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_arm.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_arm64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_ppc64.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_ppc64le.go
  vendor/github.com/containerd/continuity/sysx/xattr_linux_s390x.go
Labels: impact/changelog, status/4-merge

#37136 Use go-systemd const instead of magic string in Linux version of dockerd
  cmd/dockerd/daemon_linux.go
  daemon/listeners/listeners_linux.go
  vendor.conf
  vendor/github.com/coreos/go-systemd/NOTICE
  vendor/github.com/coreos/go-systemd/README.md
  vendor/github.com/coreos/go-systemd/activation/files.go
  vendor/github.com/coreos/go-systemd/activation/listeners.go
  vendor/github.com/coreos/go-systemd/activation/packetconns.go
  vendor/github.com/coreos/go-systemd/daemon/sdnotify.go
  vendor/github.com/coreos/go-systemd/daemon/watchdog.go
  vendor/github.com/coreos/go-systemd/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/dbus/methods.go
  vendor/github.com/coreos/go-systemd/dbus/set.go
  vendor/github.com/coreos/go-systemd/dbus/subscription.go
  vendor/github.com/coreos/go-systemd/journal/journal.go
Labels: area/systemd, status/4-merge

#37141 Update API version to v1 38
  api/common.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/build/build_test.go
Labels: area/api, impact/api, impact/changelog, status/4-merge

#37143 Alternative failure mitigation of `TestExecInteractiveStdinClose`
  integration-cli/docker_cli_exec_unix_test.go
Labels: area/testing, status/2-code-review

#37166 Add `t.Name()` to tests so that service names are unique
  integration/network/inspect_test.go
  integration/network/service_test.go
Labels: area/testing, status/4-merge

#37131 Optimize ContainerTop() aka docker top
  daemon/daemon_linux_test.go
  daemon/daemon_test.go
  daemon/reload_test.go
  daemon/top_unix.go
Labels: status/4-merge

#37017 Move plugin client creation to the extension point
  api/swagger.yaml
  api/types/plugin.go
  daemon/graphdriver/plugin.go
  daemon/graphdriver/proxy.go
  daemon/logger/plugin.go
  daemon/metrics.go
  daemon/metrics_unix.go
  pkg/plugingetter/getter.go
  pkg/plugins/plugins.go
  plugin/manager_linux.go
  plugin/v2/plugin.go
  plugin/v2/plugin_unsupported.go
  volume/drivers/adapter.go
  volume/drivers/extpoint.go
Labels: area/plugins, status/2-code-review

#36874 daemon.ContainerStop(): fix for a negative timeout
  client/container_stop.go
  container/container_unit_test.go
  container/container_unix.go
  daemon/stop.go
  integration/container/stop_test.go
Labels: status/2-code-review

#37169 add api version checking for tests from new feature
  integration/network/service_test.go
Labels: status/4-merge

#37134 builder: fix processing of invalid substitusion syntax
  builder/dockerfile/shell/envVarTest
  builder/dockerfile/shell/lex.go
  builder/dockerfile/shell/lex_test.go
Labels: area/builder, status/2-code-review

#37179 fix mis-used skip condition
  integration/network/service_test.go
Labels: area/testing, status/4-merge

#37178 builder: fix layer leak on multi-stage wildcard copy
  builder/dockerfile/copy.go
Labels: area/builder, status/4-merge

#37174 Be explicit about github.com prefix being a legacy feature
  pkg/urlutil/urlutil.go
Labels: area/builder, status/4-merge

#37177 Move plugin client to separate interface
  daemon/graphdriver/plugin.go
  daemon/logger/plugin.go
  daemon/metrics.go
  pkg/plugingetter/getter.go
  volume/drivers/extpoint.go
Labels: area/plugins, status/2-code-review
