Repository moby/moby, pull requests merged in 2018-10, with the labels that each got.

#37888 oldName release too early when docker rename
  daemon/rename.go
Labels: status/2-code-review

#37929 Move the syslog syscall to be gated by CAP_SYS_ADMIN or CAP_SYSLOG
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security, area/security/seccomp, impact/changelog, status/2-code-review

#37933 Tweak bind mount errors
  integration-cli/docker_api_containers_test.go
  volume/mounts/parser_test.go
  volume/mounts/validate.go
Labels: status/2-code-review

#37953 Dockerfile.e2e: simplify apk calls
  Dockerfile.e2e
Labels: status/0-triage

#37951 gd/dm: fix error message
  daemon/graphdriver/devmapper/device_setup.go
Labels: area/storage/devicemapper, status/2-code-review

#37950 Bump Golang 1.11.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/0-triage

#37934 Masking proxy credentials from URL when displayed in system info
  api/swagger.yaml
  daemon/info.go
  daemon/info_test.go
Labels: area/api, impact/api, impact/changelog, status/4-merge

#37949 Fix for default-addr-pool-mask-length param max value check
  daemon/cluster/listen_addr.go
Labels: status/4-merge

#37966 make xattr EPERM non-fatal in createTarFile
  pkg/archive/archive.go
Labels: status/4-merge

#37968 Remove version-checks for containerd and runc
  daemon/info_unix.go
  dockerversion/version_lib.go
  hack/make/.go-autogen
Labels: status/4-merge

#37975 Remove duplicated words in daemon files
  daemon/graphdriver/lcow/lcow.go
  daemon/graphdriver/windows/windows.go
  daemon/logger/logger.go
Labels: status/0-triage

#37973 bump up buildkit
  builder/fscache/fscache.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/cache/contenthash/filehash.go
  vendor/github.com/moby/buildkit/cache/contenthash/filehash_unix.go
  vendor/github.com/moby/buildkit/cache/contenthash/filehash_windows.go
  vendor/github.com/moby/buildkit/cache/fsutil.go
  vendor/github.com/moby/buildkit/cache/util/fsutil.go
  vendor/github.com/moby/buildkit/client/build.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/control/gateway/gateway.go
  vendor/github.com/moby/buildkit/executor/oci/hosts.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_nossh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_ssh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_nosecrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_nossh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_ssh.go
  vendor/github.com/moby/buildkit/frontend/gateway/client/client.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/caps.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/gateway.pb.go
  vendor/github.com/moby/buildkit/frontend/gateway/pb/gateway.proto
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/tracing/multispan.go
  vendor/github.com/moby/buildkit/vendor.conf
  vendor/github.com/tonistiigi/fsutil/diff.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_windows.go
  vendor/github.com/tonistiigi/fsutil/fs.go
  vendor/github.com/tonistiigi/fsutil/hardlinks.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/github.com/tonistiigi/fsutil/send.go
  vendor/github.com/tonistiigi/fsutil/stat.go
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/github.com/tonistiigi/fsutil/stat_windows.go
  vendor/github.com/tonistiigi/fsutil/types/generate.go
  vendor/github.com/tonistiigi/fsutil/types/stat.pb.go
  vendor/github.com/tonistiigi/fsutil/types/stat.proto
  vendor/github.com/tonistiigi/fsutil/types/wire.pb.go
  vendor/github.com/tonistiigi/fsutil/types/wire.proto
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/github.com/tonistiigi/fsutil/walker_windows.go
Labels: status/0-triage

#36537 LCOW: Log stderr on failures to ease diagnosis
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/internals_test.go
  daemon/graphdriver/lcow/lcow_svm.go
Labels: platform/windows, status/2-code-review

#37977 Remove duplicated words in pkg files
  pkg/fileutils/fileutils.go
  pkg/plugins/plugins.go
  pkg/streamformatter/streamformatter.go
Labels: status/4-merge

#37983 Add layer id to NaiveDiffDriver untar timing log
  daemon/graphdriver/fsdiff.go
Labels: status/2-code-review

#37981 Fix typo
  integration-cli/docker_cli_swarm_test.go
Labels: status/4-merge

#37936 Added two new scientists to the namesgenerator
  pkg/namesgenerator/names-generator.go
Labels: status/2-code-review

#37992 Poule: Add Windows RS5 rebuild
  poule.yml
Labels: status/2-code-review

#37988 Fix typo: adapater -> adapter
  daemon/metrics.go
  daemon/metrics_unix.go
Labels: status/4-merge

#38002 Remove unneeded check for binary-commits
  integration/system/info_linux_test.go
Labels: area/testing, status/4-merge

#38000 Windows: Client: Allow process isolation [RS5+]
  daemon/daemon_windows.go
Labels: impact/changelog, platform/windows, status/2-code-review

#38001 bugfix: wait for stdin creation before CloseIO
  libcontainerd/client_daemon.go
Labels: status/2-code-review

#38006 client: use io.LimitedReader for reading HTTP error
  client/request.go
  client/request_test.go
Labels: status/4-merge

#38017 Deprecate "devicemapper" storage driver, and add warning
  daemon/graphdriver/driver.go
  daemon/info.go
Labels: area/storage, area/storage/devicemapper, impact/changelog, impact/deprecation, impact/documentation, status/4-merge

#38023 bump buildkit to c7bb575343df0cbfeab8b5b28149630b8153fcc6
  vendor.conf
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/snapshot/blobmapping/snapshotter.go
  vendor/github.com/moby/buildkit/solver/index.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/util/contentutil/refs.go
Labels: area/builder, status/2-code-review

#38026 Fix mount propagation for btrfs
  daemon/graphdriver/btrfs/btrfs.go
  pkg/mount/sharedsubtree_linux.go
Labels: status/0-triage

#37993 overlay2: use index=off if possible (fix EBUSY on mount)
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlay2/randomid.go
Labels: area/storage/overlay, status/2-code-review

#38031 Vendor libnetwork
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows_store.go
  vendor/github.com/docker/libnetwork/ipvs/constants.go
  vendor/github.com/docker/libnetwork/ipvs/ipvs.go
  vendor/github.com/docker/libnetwork/ipvs/netlink.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/osl/namespace_linux.go
  vendor/github.com/docker/libnetwork/osl/sandbox.go
  vendor/github.com/docker/libnetwork/resolver.go
  vendor/github.com/docker/libnetwork/sandbox.go
  vendor/github.com/docker/libnetwork/service_linux.go
Labels: status/0-triage

#37589 README: Update Github url for vim syntax plugin
  contrib/syntax/vim/README.md
Labels: status/2-code-review

#38048 bump up runc
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
Labels: status/4-merge

#38040 Add more API doc details on service update version.
  api/swagger.yaml
Labels: status/3-docs-review

#38046 Only add CONTAINER_PARTIAL_MESSAGE if not the last partial
  daemon/logger/journald/journald.go
Labels: area/logging, status/2-code-review

#38032 Add IMAGE_NAME attribute to journald log events
  daemon/logger/journald/journald.go
Labels: rebuild/*, status/2-code-review

#38057 builder: fix private pulls on buildkit
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, status/2-code-review

#38052 Use net/http instead of x/ctxhttp
  client/request.go
Labels: status/2-code-review

#38056 Bump swarmkit to a84c01f49091167dd086c26b45dc18b38d52e4d9
  vendor.conf
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/scheduler/filter.go
  vendor/github.com/docker/swarmkit/manager/scheduler/pipeline.go
Labels: area/swarm, status/2-code-review

#38013 Properly type handles to prevent overflows on 32 bit Windows targets
  cmd/dockerd/service_windows.go
Labels: status/2-code-review

#37986 awslogs: account for UTF-8 normalization in limits
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, status/2-code-review

#37781 Don't fail on two concurrent reference.store.AddDigest calls
  reference/store.go
  reference/store_test.go
Labels: status/2-code-review

#38067 builder: fix duplicate mount release
  builder/builder-next/adapters/snapshot/snapshot.go
Labels: area/builder, status/4-merge

#37944 Return more context on awslogs create failure
  daemon/logger/awslogs/cloudwatchlogs.go
Labels: area/logging, rebuild/windowsRS5-process, status/2-code-review

#37999 LCOW: ApplyDiff() use tar2ext4, not SVM
  daemon/graphdriver/lcow/lcow.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/ext4/internal/compactext4/compact.go
  vendor/github.com/Microsoft/hcsshim/ext4/internal/format/format.go
  vendor/github.com/Microsoft/hcsshim/ext4/tar2ext4/tar2ext4.go
  vendor/github.com/Microsoft/hcsshim/ext4/tar2ext4/vhdfooter.go
  vendor/github.com/Microsoft/hcsshim/version.go
Labels: area/builder, platform/windows, status/2-code-review

#38069 Document ambiguous Version field for ServiceUpdate
  client/service_update.go
Labels: rebuild/windowsRS5-process, status/2-code-review

#38089 Update API version to v1.40
  api/common.go
  api/server/router/swarm/cluster_routes.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/service/create_test.go
Labels: area/api, impact/api, impact/changelog, status/4-merge

#38103 cluster: set bigger grpc limit for array requests
  daemon/cluster/cluster.go
  daemon/cluster/services.go
  daemon/cluster/tasks.go
Labels: area/swarm, status/4-merge

#38115 Fix double "unix://" scheme in TestInfoAPIWarnings
  integration/system/info_test.go
Labels: area/testing, status/4-merge
