Repository moby/moby, pull requests merged in 2019-01, with the labels that each got.

#38407 Add two configurable options to awslogs driver
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: status/0-triage

#38464 client/request: wrap some errors
  client/request.go
Labels: status/2-code-review

#38451 Skip TestInfoAPIWarnings on remote daemons
  integration/system/info_test.go
Labels: area/testing, status/2-code-review

#38477 Follow up to PR 38407
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/testing, status/4-merge

#38473 Integration: use testenv.APIClient()
  integration/build/build_test.go
  integration/container/create_test.go
  integration/container/diff_test.go
  integration/container/exec_test.go
  integration/container/export_test.go
  integration/container/health_test.go
  integration/container/ipcmode_test.go
  integration/container/kill_test.go
  integration/container/links_linux_test.go
  integration/container/logs_test.go
  integration/container/mounts_linux_test.go
  integration/container/nat_test.go
  integration/container/pause_test.go
  integration/container/ps_test.go
  integration/container/remove_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/container/run_linux_test.go
  integration/container/stats_test.go
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
  integration/container/update_linux_test.go
  integration/container/update_test.go
  integration/image/commit_test.go
  integration/image/import_test.go
  integration/image/list_test.go
  integration/image/remove_test.go
  integration/image/tag_test.go
  integration/network/delete_test.go
  integration/system/event_test.go
  integration/system/info_linux_test.go
  integration/system/info_test.go
  integration/system/login_test.go
  integration/system/version_test.go
  integration/volume/volume_test.go
Labels: area/testing, status/4-merge

#38423 Disabled Flaky tests on powerpc and z
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
Labels: area/testing, status/0-triage

#38038 pkg/archive: support overlayfs in userns (Ubuntu kernel only)
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_other.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix_test.go
Labels: area/security/userns, area/storage/overlay, status/2-code-review

#38450 Replace deprecated grpc.ErrorDesc() and grpc.Code() calls
  api/server/httputils/errors.go
  daemon/errors.go
Labels: status/2-code-review

#38496 Add note to Dockerfile.windows to not change `FROM`
  Dockerfile.windows
Labels: status/2-code-review

#38409 fix typo
  daemon/checkpoint.go
Labels: status/4-merge

#38417 Test: Replace NewClient() with NewClientT()
  integration-cli/daemon/daemon_swarm.go
  integration-cli/docker_api_swarm_service_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/container/daemon_linux_test.go
  integration/container/export_test.go
  integration/container/ipcmode_test.go
  integration/container/restart_test.go
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
  integration/network/network_test.go
  integration/network/service_test.go
  integration/plugin/authz/authz_plugin_test.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/plugin/logging/validation_test.go
  integration/plugin/volumes/mounts_test.go
  integration/system/cgroupdriver_systemd_test.go
  integration/system/info_test.go
  internal/test/daemon/daemon.go
Labels: area/testing, status/2-code-review

#38493 Skip kernel-memory tests on RHEL/CentOS daemons
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/requirements_unix_test.go
  pkg/parsers/kernel/kernel_unix_test.go
Labels: area/testing, status/2-code-review

#38490 TestRenameAnonymousContainer: fix error msg
  integration/container/rename_test.go
Labels: area/testing, status/4-merge

#38497 Fix go vet issue in daemon/daemon.go
  daemon/daemon.go
Labels: status/2-code-review

#38480 Run TestImportExtremelyLargeImageWorks in parallel
  integration/image/import_test.go
Labels: area/testing, status/4-merge

#38482 Improve consistency in skipping tests
  integration/container/daemon_linux_test.go
  integration/container/export_test.go
  integration/container/ipcmode_linux_test.go
  integration/container/links_linux_test.go
  integration/container/logs_test.go
  integration/container/mounts_linux_test.go
  integration/container/nat_test.go
  integration/container/remove_test.go
  integration/container/rename_test.go
  integration/container/stop_linux_test.go
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
  integration/network/service_test.go
  integration/plugin/logging/logging_linux_test.go
  integration/service/inspect_test.go
  internal/test/fakestorage/storage.go
Labels: area/testing, status/4-merge

#38418 PowerShell: various cleanups / fixes
  hack/ci/windows.ps1
  hack/make.ps1
  hack/make/.go-autogen.ps1
Labels: status/2-code-review

#38509 Bump containerd to v1.2.2
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/vendor.conf
Labels: area/runtime, impact/changelog, status/2-code-review

#38499 Fix flaky test TestServiceUpdateSecrets
  integration/service/update_test.go
Labels: area/testing, status/0-triage

#38472 TestBuildMultiStageParentConfig: remove unneeded sleep and ImageList call
  integration/build/build_test.go
Labels: area/testing, status/2-code-review

#38456 Make errdefs helpers idempotent
  errdefs/helpers.go
Labels: status/4-merge

#38515 Use poll.WaitOn in authz_plugin_test.go
  integration/plugin/authz/authz_plugin_test.go
Labels: area/plugins, area/testing, status/2-code-review

#38354 Swagger: fix definition of IPAM driver options
  api/swagger.yaml
Labels: area/api, status/3-docs-review

#38529 Makefile: make help: fix newline wrapping, and missing targets
  Makefile
Labels: area/project, status/2-code-review

#38527 Shell scripts: remove bashisms and fix bare variables
  hack/dind
  hack/dockerfile/install/install.sh
  hack/make.sh
  hack/make/.binary
  hack/make/.detect-daemon-osarch
  hack/make/.ensure-emptyfs
  hack/make/.go-autogen
  hack/make/.integration-daemon-setup
  hack/make/.integration-daemon-start
  hack/make/.integration-daemon-stop
  hack/make/.integration-test-helpers
  hack/make/binary-daemon
  hack/make/cross
  hack/make/cross-platform-dependent
  hack/make/install-binary
  hack/make/run
  hack/make/test-docker-py
  hack/test/e2e-run.sh
  hack/validate/.validate
  hack/validate/changelog-date-descending
  hack/validate/changelog-well-formed
  hack/validate/dco
  hack/validate/default-seccomp
  hack/validate/deprecate-integration-cli
  hack/validate/pkg-imports
  hack/validate/swagger
  hack/validate/swagger-gen
  hack/validate/test-imports
  hack/validate/toml
  hack/validate/vendor
Labels: status/4-merge

#38530 Fix possible segfault in config reload
  daemon/reload.go
Labels: area/daemon, status/2-code-review

#38533 .DEREK.yml: add myself
  .DEREK.yml
  MAINTAINERS
Labels: status/3-docs-review

#38523 CI: Introduce flaky test finder
  Makefile
  hack/ci/janky
  hack/make/test-integration-flaky
Labels: area/testing, status/2-code-review

#38545 no need to set exec.Env to os.Environ() as it's the default
  hack/integration-cli-on-swarm/host/dockercmd.go
Labels: area/testing, status/2-code-review

#38548 Remove code duplication and consolidate networkIsRemoved
  integration/internal/network/states.go
  integration/network/inspect_test.go
  integration/service/create_test.go
Labels: area/testing, status/4-merge

#38459 Fix code typo error
  container/view.go
Labels: status/2-code-review

#38543 Fix: plugin-tests discarding current environment
  integration/plugin/logging/helpers_test.go
  integration/plugin/volumes/helpers_test.go
  internal/test/fixtures/plugin/plugin.go
Labels: area/plugins, area/testing, status/2-code-review

#38558 GetRunningTasks: pass client instead of daemon
  integration/config/config_test.go
  integration/internal/swarm/service.go
  integration/secret/secret_test.go
Labels: area/testing, status/2-code-review

#38546 reduce flakiness of TestSwarmLockUnlockCluster and TestSwarmJoinPromoteLocked
  integration-cli/docker_cli_swarm_test.go
Labels: area/testing, status/2-code-review

#38524 Update docker-py to 3.7.0
  Dockerfile
Labels: area/testing, status/2-code-review

#38555 Replace t.Fatal(err) with assert.NilError(err)
  integration/image/import_test.go
  integration/system/event_test.go
Labels: area/testing, status/2-code-review

#38566 Swagger: fix "task logs" outside of "tasks" section
  api/swagger.yaml
Labels: area/api, area/docs, status/3-docs-review

#38568 Fix ping-tests using wrong status-code
  client/ping_test.go
Labels: area/api, area/testing, status/2-code-review

#37974 Add containerd, runc, and docker-init versions to /version
  daemon/info.go
  daemon/info_unix.go
  daemon/info_unix_test.go
  daemon/info_windows.go
Labels: impact/api, impact/changelog, status/4-merge

#38552 Make TestEventsFilterLabels less flaky
  integration-cli/docker_cli_events_test.go
Labels: area/testing, status/2-code-review

#38557 Integration tests: remove some duplicated code, and preserve context
  integration/internal/swarm/states.go
  integration/network/inspect_test.go
  integration/network/service_test.go
  integration/service/create_test.go
Labels: area/testing, status/2-code-review

#38556 Refactor TestInspectNetwork
  integration/network/inspect_test.go
Labels: area/testing, status/2-code-review

#38567 TestCgroupDriverSystemdMemoryLimit: use skip.If()
  integration/system/cgroupdriver_systemd_test.go
Labels: area/testing, status/2-code-review

#38572 Replace t.Fatal(err) with assert.NilError(t, err)
  integration/container/update_linux_test.go
  integration/plugin/volumes/helpers_test.go
Labels: status/4-merge

#38487 Error on empty dockerfile
  builder/remotecontext/detect.go
  integration/build/build_test.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_secrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_ssh.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/snapshot/snapshotter.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/vendor.conf
Labels: area/builder, status/2-code-review

#38553 Slightly speed up TestAPISwarmNodeDrainPause
  integration-cli/docker_api_swarm_node_test.go
Labels: area/testing, status/2-code-review

#38481 Run volume-tests again remote daemons as well
  integration/volume/volume_test.go
Labels: area/testing, area/volumes, status/2-code-review

#38605 Use assert.NilError() instead of assert.Assert()
  client/hijack_test.go
  daemon/daemon_linux_test.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local_test.go
  daemon/logger/loggerutils/logfile_test.go
  integration/plugin/authz/authz_plugin_test.go
  integration/plugin/logging/logging_linux_test.go
  integration/plugin/volumes/mounts_test.go
  pkg/tailfile/tailfile_test.go
  plugin/executor/containerd/containerd_test.go
  volume/service/service_linux_test.go
  volume/service/service_test.go
  volume/service/store_test.go
Labels: area/testing, status/4-merge

#38422 Makes a few modifications to the name generator.
  pkg/namesgenerator/names-generator.go
Labels: status/4-merge

#38621 REVIEWING.md: Fix status 4 merge label
  project/REVIEWING.md
Labels: status/4-merge

#38598 Move serviceRunningTasksCount to integration/internal/swarm
  integration/internal/swarm/states.go
  integration/network/inspect_test.go
  integration/service/create_test.go
Labels: area/testing, status/2-code-review

#38629 Bump Golang 1.11.5 (CVE-2019-6486)
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/4-merge

#38606 Move client opts, and deprecated client constructors to separate files
  client/client.go
  client/client_deprecated.go
  client/options.go
Labels: status/2-code-review

#38398 replace gotty with aec, since gotty hasn't been updated since very lo…
  pkg/jsonmessage/jsonmessage.go
  pkg/jsonmessage/jsonmessage_test.go
  vendor.conf
  vendor/github.com/Nvveen/Gotty/LICENSE
  vendor/github.com/Nvveen/Gotty/README
  vendor/github.com/Nvveen/Gotty/attributes.go
  vendor/github.com/Nvveen/Gotty/gotty.go
  vendor/github.com/Nvveen/Gotty/parser.go
  vendor/github.com/Nvveen/Gotty/types.go
  vendor/github.com/morikuni/aec/LICENSE
  vendor/github.com/morikuni/aec/README.md
  vendor/github.com/morikuni/aec/aec.go
  vendor/github.com/morikuni/aec/ansi.go
  vendor/github.com/morikuni/aec/builder.go
  vendor/github.com/morikuni/aec/sgr.go
Labels: status/4-merge

#38380 Add support for exact list of capabilities + capAdd / capDrop refactor
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/host_config.go
  daemon/container.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  docs/api/version-history.md
  integration-cli/docker_api_containers_test.go
  integration/container/create_test.go
  oci/caps/utils.go
  oci/defaults.go
  oci/oci.go
Labels: area/api, area/swarm, impact/changelog, status/1-design-review

#38635 Fix some typos in ROADMAP.md
  ROADMAP.md
Labels: status/3-docs-review

#38644 Fatalf -> Fatal
  integration/secret/secret_test.go
Labels: area/testing, status/4-merge

#38604 Remove use of deprecated client.NewClient()
  client/hijack_test.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_daemon_test.go
Labels: area/testing, status/4-merge

#38634 pkg/archive:CopyTo(): fix for long dest filename
  pkg/archive/copy.go
  pkg/archive/copy_unix_test.go
Labels: status/2-code-review

#38625 Remove "docs maintainers" section
  MAINTAINERS
Labels: area/docs, area/project, status/3-docs-review

#38653 Fix nil pointer derefence on failure to connect to containerd
  libcontainerd/supervisor/remote_daemon.go
Labels: area/runtime, status/4-merge

#38569 Add Cache-Control headers to disable caching /_ping endpoint
  api/server/router/system/system_routes.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/system/ping_test.go
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#38658 Use 17.06 stable channel for CLI used in CI
  hack/dockerfile/install/dockercli.installer
  hack/make.ps1
Labels: area/cli, area/testing, status/2-code-review

#38570 Add HEAD support for /_ping endpoint
  api/server/router/system/system.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  client/ping.go
  client/ping_test.go
  client/request.go
  docs/api/version-history.md
  integration/system/ping_test.go
  internal/test/request/request.go
Labels: area/api, impact/api, impact/changelog, status/4-merge

#38609 Adding builder version
  api/server/router/system/system_routes.go
  api/types/types.go
  integration/system/info_test.go
Labels: status/2-code-review
