Repository moby/moby, pull requests merged in 2019-08, with the labels that each got.

#39644 projectquota: protect concurrent map access
  daemon/graphdriver/quota/projectquota.go
  daemon/graphdriver/quota/types.go
Labels: area/storage/overlay, process/cherry-pick, status/2-code-review

#39628 Improvements to the test runners
  Makefile
  hack/make.ps1
  hack/make/.integration-test-helpers
  hack/make/test-integration
  integration/plugin/logging/cmd/close_on_start/main_test.go
  integration/plugin/logging/cmd/cmd_test.go
  integration/plugin/logging/cmd/dummy/main_test.go
  integration/plugin/volumes/cmd/cmd_test.go
  integration/plugin/volumes/cmd/dummy/main_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39638 added entry for running unit tests with junit report
  .gitignore
  Dockerfile
  Jenkinsfile
  hack/dockerfile/install/gotestsum.installer
  hack/test/unit
Labels: area/testing, process/cherry-pick, status/0-triage

#39656 Jenkinsfile cleanup and improvements
  Jenkinsfile
Labels: area/testing, status/2-code-review

#39655 hack: fix mixed tabs/spaces for indentation
  hack/generate-swagger-api.sh
  hack/make/.integration-daemon-start
  hack/make/dynbinary
  hack/make/test-integration-flaky
  hack/test/unit
  hack/validate/changelog-date-descending
  hack/validate/changelog-well-formed
  hack/validate/deprecate-integration-cli
  hack/validate/swagger
  hack/validate/swagger-gen
Labels: area/testing, status/2-code-review

#39645 container: avoid a data race in container/health.go
  container/health.go
Labels: status/0-triage

#39657 Add support for setting a test filter
  Makefile
  TESTING.md
  hack/make/.integration-test-helpers
Labels: area/testing, status/2-code-review

#39646 Cast Dev and Rdev of Stat_t to uint64 for mips
  daemon/daemon_unix.go
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/devmapper/deviceset.go
  pkg/loopback/loopback.go
  pkg/system/stat_linux.go
Labels: status/2-code-review

#39653 Fix "no such file or directory" warning when unmounting IPC mount
  container/container_unix.go
Labels: process/cherry-pick, status/2-code-review

#39635 Dockerfile: use --no-install-recommends for all stages
  Dockerfile
Labels: process/cherry-pick, status/2-code-review

#39661 Some additional Jenkinsfile improvements
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39673 fix client.HTTPClient() not returning a copy
  client/client.go
Labels: area/api, status/2-code-review

#39627 Add ci info to docs
  docs/contributing/test.md
Labels: area/docs, area/project, status/3-docs-review

#39672 zfs: fix incorrect permissions (staticcheck)
  daemon/graphdriver/zfs/zfs.go
Labels: area/storage/zfs, status/2-code-review

#39681 Remove btrfs_noversion build tag, no longer needed
  daemon/graphdriver/btrfs/version.go
  daemon/graphdriver/btrfs/version_none.go
  daemon/graphdriver/btrfs/version_test.go
  hack/make.sh
Labels: area/storage/btrfs, process/cherry-pick, status/4-merge

#39687 vendor: update buildkit to f5a55a95
  builder/builder-next/worker/worker.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/metadata/metadata.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/utils.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/exporter/tar/export.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_norunsecurity.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runsecurity.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runmount.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands_runsecurity.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/solver/result.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/386_binary.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/386_check.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/386_check_386.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/detect.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/ppc64le_binary.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/ppc64le_check.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/ppc64le_check_ppc64le.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/s390x_binary.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/s390x_check.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/s390x_check_s390x.go
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/network/network.go
  vendor/github.com/moby/buildkit/worker/worker.go
Labels: status/0-triage

#39689 devicemapper: remove some dead / unused code
  pkg/devicemapper/devmapper.go
  pkg/devicemapper/devmapper_wrapper.go
Labels: area/storage/devicemapper, process/cherry-pick, status/2-code-review

#39669 Set locale to fix yamlllint
  hack/validate/swagger
Labels: area/testing, process/cherry-pick, status/4-merge

#39684 Improve integration test detector
  hack/make/test-integration-flaky
Labels: area/testing, process/cherry-pick, status/4-merge

#39683 builder-next: ensure timestamps set for metadata commands
  builder/builder-next/exporter/writer.go
Labels: area/builder, status/2-code-review

#39679 Update Microsoft/go-winio v0.4.14
  vendor.conf
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdata.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/fieldopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider_unsupported.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etwlogrus/hook.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
Labels: platform/windows, process/cherry-pick, status/4-merge

#39698 make.ps1: Run-IntegrationTests(): set working directory for test suite
  hack/make.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39703 Fix regression in handling of NotFound err during startup ENGCORE-929
  daemon/daemon.go
Labels: area/runtime, platform/windows, process/cherry-picked, status/2-code-review, status/4-merge

#38859 Fixes for reading journald logs
  daemon/logger/journald/journald.go
  daemon/logger/journald/read.go
Labels: area/logging, status/2-code-review

#39709 Jenkinsfile: remove "experimental" stage
  Jenkinsfile
  hack/ci/experimental
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#39685 Jenkinsfile: avoid errors from find
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/4-merge

#39714 docker-py: skip PullImageTest::test_pull_invalid_platform
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#39734 Fix some spelling mistakes
  MAINTAINERS
  api/swagger.yaml
  integration-cli/docker_cli_restart_test.go
Labels: status/3-docs-review

#39682 Reduce time of integration tests
  Jenkinsfile
  Makefile
  hack/make/.integration-daemon-stop
  hack/make/test-integration
  internal/test/daemon/daemon.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39719 Jenkinsfile: collect junit.xml for all architectures
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39720 Dockerfile: use DEBIAN_FRONTEND=noninteractive
  Dockerfile
Labels: area/testing, status/2-code-review

#39738 Bump golang 1.12.8 (CVE-2019-9512, CVE-2019-9514)
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  TESTING.md
  opts/hosts_test.go
Labels: area/security, process/cherry-pick, status/2-code-review

#39743 Dockerfile: update CRIU to v3.12
  Dockerfile
Labels: area/testing, status/2-code-review

#39745 vendor: update buildkit to v0.6.1
  vendor.conf
  vendor/github.com/moby/buildkit/cache/remotecache/import.go
  vendor/github.com/moby/buildkit/cache/remotecache/inline/inline.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/utils.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/solver/combinedcache.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
Labels: area/builder, process/cherry-pick, status/2-code-review

#39755 Bump Golang 1.12.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, process/cherry-pick, status/2-code-review

#39754 builder-next: avoid double unmounting mountable
  builder/builder-next/adapters/snapshot/snapshot.go
Labels: area/builder, process/cherry-picked, status/4-merge

#39752 Fixups for 39695 - edit comments, redundant asserts
  builder/dockerfile/copy.go
  integration/build/build_test.go
Labels: area/builder, process/cherry-pick, status/2-code-review

#39761 builder-next: close build context upload on cancel
  builder/builder-next/reqbodyhandler.go
Labels: area/builder, process/cherry-pick, status/4-merge

#39716 docker-py: fix linting, generate junit.xml, save bundles, and various improvements
  Jenkinsfile
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#39759 Fix phrasing when referring to the freezer cgroup
  api/swagger.yaml
  container/state.go
Labels: status/4-merge

#39763 mkimage-yum.sh: Fix install of additional packages
  contrib/mkimage-yum.sh
Labels: area/contrib, status/2-code-review

#39710 initBridgeDriver: minor cleanup and linting fixes
  daemon/daemon_unix.go
Labels: area/daemon, status/2-code-review

#39753 add options.NoLchown option to createTar call
  pkg/archive/diff.go
Labels: status/2-code-review

#39774 Fix testcase name
  integration-cli/docker_cli_build_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39721 Jenkinsfile: run DCO check before everything else
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39749 fix docker rmi stucking
  daemon/images/image_delete.go
Labels: area/images, status/2-code-review

#39717 Dockerfile: add python3-wheel back again (for yamllint)
  Dockerfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39782 builder-next: close progress on layer export error
  builder/builder-next/exporter/export.go
Labels: area/builder, process/cherry-pick, status/2-code-review

#39781 vendor: update buildkit to 588c73e1e4
  builder/builder-next/adapters/snapshot/snapshot.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/snapshot/localmounter.go
  vendor/github.com/moby/buildkit/snapshot/localmounter_unix.go
  vendor/github.com/moby/buildkit/snapshot/localmounter_windows.go
  vendor/github.com/moby/buildkit/snapshot/snapshotter.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/refmanager.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
Labels: process/cherry-pick, status/2-code-review

#39707 Use more functionality from golang.org/x/sys/unix
  pkg/dmesg/dmesg_linux.go
  pkg/loopback/attach_loopback.go
  pkg/loopback/ioctl.go
  pkg/loopback/loop_wrapper.go
  pkg/loopback/loopback.go
  pkg/system/utimes_freebsd.go
  pkg/system/utimes_unix.go
Labels: status/2-code-review

#39786 Update containerd to v1.2.8
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, process/cherry-pick, status/4-merge

#39780 Fix overlay2 busy error on mount
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, process/cherry-pick, status/2-code-review

#39578 Fix running in privileged mode against a daemon with --default-cgroupns-mode=host
  daemon/daemon_unix.go
  integration/container/run_cgroupns_linux_test.go
Labels: area/security/userns, area/testing, status/2-code-review

#39747 Jenkinsfile: Use new windows labels
  Jenkinsfile
  hack/ci/windows.ps1
  integration-cli/docker_cli_run_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39790 integration: fix some linting issues, and don't fail build on artifact uploads
  Jenkinsfile
  hack/make/.integration-test-helpers
Labels: area/testing, process/cherry-pick, status/2-code-review

#39797 Replace libprotobuf-c0-dev with libprotobuf-c-dev
  Dockerfile
Labels: process/cherry-pick, status/2-code-review

#39824 Add sigprocmask to default seccomp profile
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, process/cherry-pick, status/4-merge

#39828 daemon:containerStart() fix unhandled error for saveApparmorConfig
  daemon/start.go
Labels: area/daemon, status/4-merge

#39826 Fix compiling pkg/parsers/operatingsystem on unix
  pkg/parsers/operatingsystem/operatingsystem_unix.go
Labels: status/2-code-review

#39588 Improve readability of Windows connect error
  client/request.go
Labels: platform/windows, process/cherry-pick, status/4-merge

#39825 Fix getting the operating system on Darwin
  pkg/parsers/operatingsystem/operatingsystem_unix.go
Labels: status/2-code-review

#39830 windows.ps1: fix leaked NdisAdapters not being cleaned up on RS1
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39801 Use correct `LOOP_CTL_GET_FREE` API in `pkg/loopback`
  pkg/loopback/ioctl.go
Labels: status/2-code-review
