Repository moby/moby, pull requests merged in 2019-11, with the labels that each got.

#40091 Make binary output targets use own build cmd
  Dockerfile
  Makefile
Labels: area/project, area/testing, kind/bugfix, status/2-code-review

#40159 Rename DCO check param in Jenkinsfile
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#40167 Rename "v1" to "statsV1"
  daemon/daemon_unix.go
  libcontainerd/types/types_linux.go
Labels: area/runtime, kind/refactor, status/2-code-review

#39495 Update service networks documentation
  api/swagger.yaml
Labels: status/0-triage

#40032 Fix grpc withdialer deprecation warning
  daemon/daemon.go
  hack/validate/golangci-lint.yml
Labels: area/testing, kind/refactor, process/cherry-pick, status/2-code-review

#40077 Update "auto-generate" comments to improve detection by linters
  api/templates/server/operation.gotmpl
  api/types/container/container_changes.go
  api/types/container/container_create.go
  api/types/container/container_top.go
  api/types/container/container_update.go
  api/types/container/container_wait.go
  api/types/image/image_history.go
  api/types/volume/volume_create.go
  api/types/volume/volume_list.go
  hack/make/.go-autogen
Labels: area/testing, process/cherry-pick, status/2-code-review

#40187 Remove unused GlobalFlags
  testutil/daemon/daemon.go
Labels: area/testing, kind/refactor, status/2-code-review

#40144 integration/internal/container: fix a goroutine leak bug
  integration/internal/container/exec.go
Labels: area/testing, kind/bugfix, status/2-code-review

#40143 registry: add a critical section to protect authTransport.modReq
  registry/session.go
Labels: area/distribution, kind/bugfix, status/2-code-review

#40148 hack/validate/vendor: print diff for modified files
  hack/validate/vendor
Labels: area/testing, kind/enhancement, process/cherry-pick, status/2-code-review

#39764 Fix docker crash when creating namespaces with UID in /etc/subuid and /etc/subgid
  daemon/daemon_unix.go
Labels: kind/bugfix, rebuild/windowsRS1, status/4-merge

#40192 bump libnetwork 90afbb01e1d8acacb505a092744ea42b9f167377
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/firewall_linux.go
  vendor/github.com/docker/libnetwork/vendor.conf
Labels: area/networking, status/2-code-review

#39733 Windows: do not use parallelism on container restart
  daemon/daemon_windows.go
Labels: platform/windows, process/cherry-pick, status/2-code-review

#40163 Bump Golang 1.13.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, process/cherry-pick, status/2-code-review

#40210 overlay[2]: rm extra checks in init
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlayutils/overlayutils.go
Labels: status/4-merge

#40100 Some small (test) fixes/improvements
  daemon/container_unix_test.go
  daemon/daemon_unix_test.go
  daemon/health_test.go
  daemon/info_unix.go
  daemon/info_unix_test.go
  daemon/reload_test.go
  daemon/top_unix_test.go
Labels: area/daemon, area/testing, kind/refactor, status/2-code-review

#40212 Move DefaultCapabilities() to caps package
  daemon/oci_linux.go
  daemon/oci_windows.go
  oci/caps/defaults.go
  oci/defaults.go
Labels: status/2-code-review

#40135 pkg/system: make OSVersion an alias for hcsshim OSVersion
  integration-cli/docker_cli_start_test.go
  pkg/system/syscall_windows.go
Labels: kind/refactor, status/2-code-review

#39940 Change version parsing to support alternate runtimes
  daemon/info_unix.go
  daemon/info_unix_test.go
Labels: status/4-merge

#40249 remove use of deprecated os.SEEK_END
  daemon/logger/loggerutils/logfile.go
  distribution/pull_v2.go
Labels: kind/refactor, status/4-merge

#40234 Change gelf logger to comply with gelf spec
  daemon/logger/gelf/gelf.go
Labels: area/logging, impact/changelog, kind/bugfix, process/cherry-pick, status/4-merge

#40199 Disable integration/system tests that are failing on Windows with error "protocol not available"
  integration/system/info_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#40122 Update buildkit to containerd leases
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/snapshot/leasemanager.go
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/imagerefchecker/checker.go
  builder/builder-next/worker/worker.go
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/images/archive/exporter.go
  vendor/github.com/containerd/containerd/images/archive/reference.go
  vendor/github.com/containerd/containerd/lease.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_unix.go
  vendor/github.com/containerd/containerd/oci/spec_opts_windows.go
  vendor/github.com/containerd/containerd/pkg/process/deleted_state.go
  vendor/github.com/containerd/containerd/pkg/process/exec.go
  vendor/github.com/containerd/containerd/pkg/process/exec_state.go
  vendor/github.com/containerd/containerd/pkg/process/init.go
  vendor/github.com/containerd/containerd/pkg/process/init_state.go
  vendor/github.com/containerd/containerd/pkg/process/io.go
  vendor/github.com/containerd/containerd/pkg/process/utils.go
  vendor/github.com/containerd/containerd/reference/docker/reference.go
  vendor/github.com/containerd/containerd/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/remotes/docker/errdesc.go
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/task.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_linux.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/metadata.go
  vendor/github.com/moby/buildkit/cache/migrate_v2.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/executor/oci/resolvconf.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/snapshot/blobmapping/snapshotter.go
  vendor/github.com/moby/buildkit/snapshot/containerd/content.go
  vendor/github.com/moby/buildkit/snapshot/containerd/snapshotter.go
  vendor/github.com/moby/buildkit/snapshot/snapshotter.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/github.com/moby/buildkit/util/leaseutil/manager.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/github.com/opencontainers/runc/vendor.conf
Labels: area/builder, area/runtime, status/2-code-review

#40243 Use certs.d from XDG_CONFIG_HOME when in rootless mode (fixes #40236)
  registry/registry.go
Labels: area/rootless, kind/bugfix, process/cherry-pick

#40048 Update containerd to v1.3.1, runc v1.0.0-rc9
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/4-merge
