Repository moby/moby, pull requests merged in 2019-09, with the labels that each got.

#39831 Fix docker inspect for dutimgVersion
  hack/ci/windows.ps1
Labels: area/testing, process/cherry-pick, status/2-code-review

#39836 hack/make/binary-daemon: fix some linting issues
  hack/make/binary-daemon
Labels: area/testing, process/cherry-pick, status/2-code-review

#39842 Remove *_solaris.go files
  pkg/parsers/kernel/uname_solaris.go
  pkg/system/stat_solaris.go
Labels: status/4-merge

#39804 integration: windows.ps1: turn defender error into a warning
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39250 Enable DNS Lookups for CIFS Volumes
  volume/local/local_unix.go
Labels: area/volumes, impact/changelog, kind/enhancement, status/2-code-review

#39798 bump google.golang.org/grpc v1.23.0 (CVE-2019-9512, CVE-2019-9514, CVE-2019-9515)
  vendor.conf
  vendor/github.com/containerd/ttrpc/channel.go
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/containerd/ttrpc/config.go
  vendor/github.com/containerd/ttrpc/interceptor.go
  vendor/github.com/containerd/ttrpc/metadata.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/containerd/ttrpc/services.go
  vendor/github.com/containerd/ttrpc/types.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/balancer.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/base/balancer.go
  vendor/google.golang.org/grpc/balancer_conn_wrappers.go
  vendor/google.golang.org/grpc/balancer_v1_wrapper.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codes/codes.go
  vendor/google.golang.org/grpc/credentials/credentials.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/go.mod
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/internal/channelz/funcs.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/naming/naming.go
  vendor/google.golang.org/grpc/picker_wrapper.go
  vendor/google.golang.org/grpc/pickfirst.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/resolver_conn_wrapper.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/serviceconfig/serviceconfig.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
Labels: area/security, impact/changelog, process/cherry-pick, status/2-code-review

#39863 Jenkinsfile hack for auto-cancellation.
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39840 rootless: harden slirp4netns with mount namespace and seccomp
  contrib/dockerd-rootless.sh
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, process/cherry-pick, status/4-merge

#39677 daemon/ProcessEvent: make sure to cancel the contexts
  daemon/monitor.go
Labels: area/runtime, process/cherry-pick, status/2-code-review

#39868 Remove dead code from api server for router swapping
  api/server/router_swapper.go
  api/server/server.go
Labels: area/api, status/2-code-review

#39819 integration-cli: getContainerCount() fix trimming prefix
  integration-cli/docker_utils_test.go
Labels: area/testing, process/cherry-pick, status/4-merge

#39858 Jenkinsfile: create bundles for Windows stages
  Jenkinsfile
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39872 Poule: remove random assign
  poule.yml
Labels: area/project, status/2-code-review

#39848 docker-py: skip flaky AttachContainerTest::test_attach_no_stream
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#39800 pkg/term: refactor TestEscapeProxyRead
  pkg/term/proxy_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39884 Fix Service TTY test so signal handlers work
  integration-cli/docker_cli_swarm_test.go
Labels: area/testing, status/2-code-review

#39671 Fix flaky TestServiceWithDefaultAddressPoolInit
  integration/network/service_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39874 Update containerd to v1.2.9
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, process/cherry-pick, status/4-merge

#39873 Narrow dependencies of pkg/system
  pkg/system/path.go
Labels: status/2-code-review

#39887 Windows: skip flaky TestLogBlocking
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39897 Re-enable disable deprecate-integration-cli
  hack/validate/default
Labels: area/testing, process/cherry-pick, status/2-code-review

#39881 integration: TestInspect(): use swarm.RunningTasksCount
  integration/service/inspect_test.go
Labels: area/swarm, area/testing, process/cherry-pick, status/2-code-review

#39883 pkg/parsers/kernel: gofmt hex value (preparation for Go 1.13+)
  pkg/parsers/kernel/kernel_windows.go
Labels: process/cherry-pick, status/2-code-review

#39888 Move GOPATH out from under the GO source tree
  Dockerfile.windows
  docs/contributing/software-req-win.md
  hack/ci/windows.ps1
Labels: process/cherry-pick, status/2-code-review

#39415 seccomp: whitelist io-uring related system calls
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, status/4-merge

#39706 container.ConfigFilePath: use same signature on Windows
  container/container_windows.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
Labels: area/daemon, status/2-code-review

#39886 integration-cli: don't load busybox image on every daemon start
  integration-cli/check_test.go
  internal/test/daemon/swarm.go
Labels: area/swarm, area/testing, process/cherry-pick, status/2-code-review

#39818 awslogs: fix linting issues, and small refactoring
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, status/2-code-review

#39852 Return "invalid parameter" when linking to non-existing container
  daemon/daemon_unix.go
  integration/container/create_test.go
Labels: area/api, area/daemon, process/cherry-pick, status/2-code-review

#39902 integration-cli: remove unneeded sprintf's in asserts
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_attach_unix_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_commit_test.go
  integration-cli/docker_cli_cp_from_container_test.go
  integration-cli/docker_cli_cp_to_container_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_external_volume_driver_test.go
  integration-cli/docker_cli_history_test.go
  integration-cli/docker_cli_info_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_links_test.go
  integration-cli/docker_cli_netmode_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_plugins_test.go
  integration-cli/docker_cli_port_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_rmi_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_save_load_test.go
  integration-cli/docker_cli_service_create_test.go
  integration-cli/docker_cli_start_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_cli_userns_test.go
  integration-cli/docker_cli_volume_test.go
  integration-cli/docker_hub_pull_suite_test.go
  integration-cli/docker_utils_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39893 Jenkinsfile: shorten stage names for consistency and to fit Jenkins UI
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39900 Dockerfile: remove GOMETALINTER_OPTS
  Dockerfile
  hack/validate/gometalinter
Labels: area/testing, process/cherry-pick, status/4-merge

#39878 hack/ci/windows.ps1: stop tailing logs after stopping the daemon
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39802 integration: simplify parallel run destination
  Jenkinsfile
  Makefile
  hack/make/test-integration
Labels: area/testing, process/cherry-pick, status/2-code-review

#39849 Use unix.Uname instead of shelling out to uname on darwin/freebsd
  pkg/parsers/operatingsystem/operatingsystem_unix.go
  pkg/platform/architecture_linux.go
  pkg/platform/architecture_unix.go
Labels: status/4-merge

#39724 Jenkinsfile: create junit.xml for integration tests
  Jenkinsfile
  hack/make/.integration-test-helpers
Labels: area/testing, process/cherry-pick, status/2-code-review

#39879 hack/ci/windows.ps1: fix Go version check (due to trailing .0)
  Dockerfile.windows
  hack/make.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39913 Use unique names in integration/service/plugin_test.go
  integration/service/plugin_test.go
Labels: area/testing, status/2-code-review

#39789 Jenkinsfile: reduce CI time by disabling windows RS1
  Jenkinsfile
Labels: area/testing, invalid, process/cherry-pick, status/2-code-review

#39936 profiles: Fix file permissions on json files
  profiles/seccomp/default.json
  profiles/seccomp/fixtures/example.json
Labels: area/security/seccomp, status/4-merge

#39688 integration-cli/requirements: Skip windows specific isolation require…
  integration-cli/docker_cli_restart_test.go
  integration-cli/docker_cli_run_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39715 Unit test for getOrphan
  layer/filestore_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39932 Jenkinsfile: remove redundant -f Dockerfile
  Jenkinsfile
Labels: area/testing, status/2-code-review

#39930 hack/test/unit: fix custom TESTFLAGS not working
  hack/test/unit
Labels: area/testing, process/cherry-pick, status/2-code-review

#39911 hack: have integration-cli use gotestsum codepath
  Jenkinsfile
  docs/contributing/test.md
  hack/make/.integration-test-helpers
  integration-cli/check_test.go
  internal/test/suite/suite.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39942 testutil/daemon: group options under type
  integration-cli/daemon/daemon.go
  integration/internal/swarm/service.go
  integration/service/create_test.go
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39945 Disable TestPsListContainersFilterExited (Windows)
  integration-cli/docker_cli_ps_test.go
Labels: area/testing, platform/windows, process/cherry-pick

#39959 integration-cli: fix golint issues
  integration-cli/checker/checker.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39885 integration-cli: add more debugging for TestSwarmClusterRotateUnlockKey
  integration-cli/docker_cli_swarm_test.go
Labels: area/swarm, area/testing, status/2-code-review

#39549 Bump go 1.13.0
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review

#39965 integration-cli: run goimports
  integration-cli/docker_cli_ps_test.go
Labels: status/4-merge

#39876 integration-cli: update TestCreateWithWorkdir for Hyper-V isolation
  integration-cli/docker_cli_create_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39951 Fix base.Dial is deprecated: Use DialContext instead
  distribution/registry.go
  hack/validate/golangci-lint.yml
  registry/registry.go
Labels: area/distribution, status/2-code-review

#39967 bump libnetwork to 96bcc0dae898308ed659c5095526788a602f4726
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/driverapi/driverapi.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_forwarding.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows_store.go
  vendor/github.com/docker/libnetwork/network.go
Labels: area/networking, impact/changelog, process/cherry-pick, status/4-merge

#39917 Zap a fixed windows folder, add build number to folder inside
  Jenkinsfile
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39943 testutil/daemon: add NewDaemon without testingT
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
Labels: area/testing, status/2-code-review

#39968 awslogs: fix flaky TestLogBlocking unit test
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, area/testing, process/cherry-pick, status/2-code-review

#39969 logger: fix follow logs for max-file=1
  daemon/logger/loggerutils/logfile.go
Labels: area/logging, process/cherry-pick, status/2-code-review

#39956 Removed deprecated CloseNotifier logic
  hack/validate/golangci-lint.yml
  pkg/authorization/response.go
Labels: status/4-merge

#38930 Use fewer modprobes
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Labels: status/4-merge

#39972 Remove use of custom "testing" interfaces
  integration-cli/cli/build/build.go
  integration-cli/cli/cli.go
  integration-cli/daemon/daemon.go
  testutil/daemon/config.go
  testutil/daemon/container.go
  testutil/daemon/daemon.go
  testutil/daemon/daemon_unix.go
  testutil/daemon/daemon_windows.go
  testutil/daemon/node.go
  testutil/daemon/plugin.go
  testutil/daemon/secret.go
  testutil/daemon/service.go
  testutil/daemon/swarm.go
  testutil/environment/clean.go
  testutil/environment/environment.go
  testutil/environment/protect.go
  testutil/fakecontext/context.go
  testutil/fakegit/fakegit.go
  testutil/fakestorage/fixtures.go
  testutil/fakestorage/storage.go
  testutil/registry/registry.go
  testutil/registry/registry_mock.go
  testutil/request/request.go
Labels: area/testing, process/cherry-pick, status/4-merge

#39949 Adding ability to change max download attempts (carry 39413)
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/daemon.go
  daemon/images/service.go
  daemon/reload.go
  distribution/xfer/download.go
  distribution/xfer/download_test.go
Labels: area/daemon, area/distribution, impact/changelog, impact/documentation, status/2-code-review

#39982 Remove minsky and stallman
  pkg/namesgenerator/names-generator.go
Labels: process/cherry-pick, status/2-code-review

#39984 Jenkinsfile: move integration step cleanup to amd64 where it was intended to be
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39990 Update links/references to transferred repositories
  Dockerfile.windows
  Jenkinsfile
  docs/contributing/software-req-win.md
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39177 Add variant to image.Image and legacy builder
  api/types/types.go
  builder/dockerfile/imagecontext.go
  builder/dockerfile/imagecontext_test.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_test.go
  builder/dockerfile/mockbackend_test.go
  daemon/images/image_inspect.go
  distribution/config.go
  image/image.go
Labels: area/builder, area/distribution, status/2-code-review

#39980 testutil, integration: untangle image dependency
  integration/image/remove_unix_test.go
  testutil/daemon/daemon.go
  testutil/daemon/ops_unix.go
Labels: area/testing, status/2-code-review

#39975 homedir: remove idtools and libcontainer's user package dependencies
  daemon/logger/gcplogs/gcplogging_linux.go
  pkg/homedir/homedir_linux.go
  pkg/homedir/homedir_others.go
  pkg/homedir/homedir_unix.go
Labels: status/2-code-review

#39985 daemon/info: remove use of docker/go-connections
  daemon/info.go
Labels: area/daemon, status/2-code-review

#39993 Fix Engine API version history typo
  docs/api/version-history.md
Labels: area/api, area/docs, process/cherry-pick, status/4-merge

#39995 Update containerd to v1.2.10
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, area/security, impact/changelog, process/cherry-pick, status/2-code-review

#40001 Update runc to v1.0.0-rc8-92-g84373aaa (CVE-2019-16884)
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/README.md
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/blkio_device.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/devices.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsenter_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/vendor.conf
Labels: area/runtime, impact/changelog, process/cherry-pick, status/4-merge

#39999 bump golang 1.13.1 (CVE-2019-16276)
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, process/cherry-pick, status/4-merge

#39991 AppArmor: remove rules for linkgraph.db SQLite database
  contrib/apparmor/template.go
Labels: area/security, area/security/apparmor, process/cherry-pick, status/2-code-review

#40012 testutil: fix WithExperimental also setting "init"
  testutil/daemon/ops.go
Labels: area/testing, process/cherry-pick, status/4-merge

#40002 jhowardmsft --> lowenna
  MAINTAINERS
Labels: area/project, status/4-merge

#40016 integration-cli: fix DockerNetworkSuite not being run
  integration-cli/check_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40014 integration-cli: fix golint (copy/paste whoops)
  integration-cli/checker/checker.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40009 Fix pkg/pools staticcheck SA6002
  pkg/pools/pools.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39994 homedir: add cgo or osusergo buildtag constraints for unix
  pkg/homedir/homedir_unix.go
Labels: status/2-code-review

#40013 testutil: change some remaining options to be a daemon.Option
  integration/build/build_squash_test.go
  integration/internal/swarm/service.go
  integration/plugin/authz/main_test.go
  integration/plugin/graphdriver/external_test.go
  integration/service/create_test.go
  integration/service/plugin_test.go
  testutil/daemon/ops.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39144 builder entitlements configuration added.
  builder/builder-next/controller.go
  daemon/config/builder.go
Labels: area/builder, process/cherry-pick, status/2-code-review
