Repository moby/moby, pull requests merged in 2019-07, with the labels that each got.

#39444 builder-next: reset identitymapping if empty
  builder/builder-next/builder.go
Labels: area/builder, process/cherry-pick, status/4-merge

#39445 ioutils: Fixed a potential data race in bytespipe
  pkg/ioutils/bytespipe.go
Labels: status/0-triage

#39346 Fix more grpc list message sizes
  daemon/cluster/cluster.go
  daemon/cluster/swarm.go
Labels: process/cherry-pick, status/2-code-review

#39452 Improve select for daemon restart tests
  internal/test/daemon/daemon.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39453 Skip TestServiceRemoveKeepsIngressNetwork
  integration/network/service_test.go
Labels: area/testing, status/2-code-review

#39217 LCOW: Fix FROM scratch
  daemon/images/image_builder.go
Labels: area/builder, area/lcow, kind/experimental, platform/windows, process/cherry-pick, status/4-merge

#39390 Add info OSVersion to API changelog.
  docs/api/version-history.md
Labels: area/api, area/docs, status/3-docs-review

#39455 Remove cocky from names-generator
  pkg/namesgenerator/names-generator.go
Labels: process/cherry-pick, status/4-merge

#39462 Add realChroot for non linux/windows
  pkg/chrootarchive/chroot_unix.go
Labels: process/cherry-pick, status/2-code-review

#39383 Handle blocked I/O of exec'd processes
  container/container.go
  container/stream/streams.go
  daemon/exec/exec.go
  daemon/monitor.go
  integration-cli/docker_cli_exec_test.go
  libcontainerd/remote/client.go
Labels: area/runtime, process/cherry-pick, status/2-code-review

#39389 LCOW: fix using wrong shell for healthchecks
  daemon/health.go
Labels: area/lcow, kind/experimental, platform/windows, status/2-code-review

#39443 Make `ErrorResponse` implement `Error`
  api/types/error_response_ext.go
Labels: area/api, status/4-merge

#38441 Allow specifying environment variables when installing an engine plugin as a Swarm service
  api/types/swarm/runtime/plugin.pb.go
  api/types/swarm/runtime/plugin.proto
  daemon/cluster/controllers/plugin/controller.go
  integration/service/plugin_test.go
  internal/test/daemon/service.go
  plugin/defs.go
Labels: area/plugins, status/2-code-review

#39468 integration-cli: remove ExecSupport check
  integration-cli/docker_api_exec_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_exec_unix_test.go
  integration-cli/docker_cli_links_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/requirements_test.go
  integration-cli/test_vars_exec_test.go
  integration-cli/test_vars_noexec_test.go
Labels: area/testing, status/4-merge

#39471 Enhance container detection on some corner cases (carry #36038)
  pkg/parsers/operatingsystem/operatingsystem_linux.go
  pkg/parsers/operatingsystem/operatingsystem_linux_test.go
Labels: status/2-code-review

#39401 Update to using alpine 3.10
  Dockerfile.e2e
Labels: area/testing, status/2-code-review

#39474 Bump Golang 1.12.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge

#39469 integration-cli: remove defaultSleepImage constant
  integration-cli/benchmark_test.go
  integration-cli/docker_cli_service_scale_test.go
  integration-cli/docker_utils_test.go
  integration-cli/test_vars_unix_test.go
  integration-cli/test_vars_windows_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39470 integration-cli: remove unused requirements utils
  integration-cli/requirements_unix_test.go
Labels: area/testing, process/cherry-pick, status/4-merge

#39492 dockerd: update reload signal comment
  cmd/dockerd/daemon_unix.go
Labels: status/2-code-review

#39434 Send exec exit event on failures
  daemon/monitor.go
Labels: process/cherry-pick, status/2-code-review

#39508 Fix "Removing bundles/" not actually removing bundles
  hack/make.sh
Labels: area/testing, process/cherry-pick, status/4-merge

#39500 Add (hidden) flags to set containerd namespaces
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/daemon.go
  daemon/daemon_unix.go
  integration-cli/docker_cli_daemon_test.go
  internal/test/daemon/daemon.go
  plugin/executor/containerd/containerd.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39168 Harden TestClientWithRequestTimeout
  pkg/plugins/client_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39496 Ensure parent dir exists for mount cleanup file
  daemon/daemon_unix.go
Labels: process/cherry-pick, status/2-code-review

#39510 Don't log test initial test daemon ping failures
  internal/test/daemon/daemon.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39506 integration: organize bundle directory per test
  internal/test/daemon/daemon.go
Labels: area/testing, process/cherry-pick, status/2-code-review, status/4-merge

#39517 Fix Microsecond -> Millisecond.
  internal/test/daemon/daemon.go
Labels: process/cherry-pick, status/2-code-review

#39430 Integration: remove redundant checks in IPVLAN tests
  integration/network/ipvlan/ipvlan_test.go
  integration/network/ipvlan/main_test.go
  integration/network/ipvlan/main_windows_test.go
Labels: area/networking, area/testing, process/cherry-pick, status/4-merge

#39481 Use MemAvailable instead of MemFree to estimate actual available memory
  pkg/system/meminfo_linux.go
  pkg/system/meminfo_unix_test.go
Labels: impact/changelog, status/2-code-review

#39516 DockerSwarmSuite lock portIndex to work around race
  integration-cli/check_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39488 ContainerStats: return early on unsupported API versions
  daemon/stats.go
Labels: area/api, platform/windows, status/2-code-review

#39485 fix swagger.yaml #39484
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#39454 do not stop health check before sending signal
  daemon/kill.go
  integration/container/health_test.go
Labels: process/cherry-pick, status/4-merge

#39509 integration: fix cleanup of raft data
  internal/test/daemon/daemon.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39519 Fix indentation in some description [carry 38654]
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick, status/4-merge

#37836 TestServiceWithDefaultAddressPoolInit
  integration/network/service_test.go
Labels: area/networking, area/swarm, area/testing, status/2-code-review

#39431 Integration: remove redundant kernel version check for MACVlan
  integration/network/macvlan/macvlan_test.go
  integration/network/macvlan/main_test.go
  integration/network/macvlan/main_windows_test.go
Labels: area/networking, area/testing, process/cherry-pick, status/2-code-review

#39525 Update CONTRIBUTING.md to have an option to keep name anonymous if requested
  CONTRIBUTING.md
Labels: area/docs, area/project, area/security, status/3-docs-review

#39513 Sleep before restarting event processing
  libcontainerd/remote/client.go
Labels: process/cherry-pick, status/2-code-review

#39514 daemon: don't listen on the same address multiple times
  cmd/dockerd/daemon.go
Labels: area/api, area/daemon, process/cherry-pick, status/2-code-review

#39497 Propagate GetContainer error from event processor
  daemon/monitor.go
Labels: status/2-code-review

#39507 Cleanup "address" when connecting over a UNIX socket
  internal/test/daemon/daemon.go
Labels: area/testing, status/2-code-review

#39376 profiles/seccomp: improve profile conversion
  profiles/seccomp/seccomp.go
Labels: area/security/seccomp, status/2-code-review

#38020 Remove skip evaluation of symlinks to data root on IoT Core
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_windows.go
  pkg/system/syscall_windows.go
Labels: platform/windows, status/2-code-review

#39526 errdefs: remove unneeded recursive calls
  errdefs/http_helpers.go
Labels: area/api, status/2-code-review

#39529 Remove Codecov
  Jenkinsfile
  hack/ci/janky
Labels: area/testing, process/cherry-pick, status/4-merge

#39527 Fix error handling of incorrect --platform values
  errdefs/http_helpers.go
  integration/build/build_test.go
  integration/image/pull_test.go
Labels: area/api, area/runtime, process/cherry-pick, status/4-merge

#39329 build: buildkit now honors daemon's DNS config
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/metadata/metadata.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/cache/remotecache/import.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/cachestorage.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/parse.go
  vendor/github.com/moby/buildkit/cache/util/fsutil.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/executor/oci/resolvconf.go
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/gateway/grpcclient/client.go
  vendor/github.com/moby/buildkit/session/auth/auth.go
  vendor/github.com/moby/buildkit/session/content/caller.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/session/secrets/secrets.go
  vendor/github.com/moby/buildkit/session/sshforward/copy.go
  vendor/github.com/moby/buildkit/session/sshforward/ssh.go
  vendor/github.com/moby/buildkit/session/upload/upload.go
  vendor/github.com/moby/buildkit/solver/edge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/build.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/source.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
Labels: area/builder, process/cherry-pick, status/4-merge

#39537 Dockerfile: Use APT_MIRROR for security.debian.org as well
  Dockerfile
Labels: area/testing, process/cherry-pick, status/4-merge

#37147 Check for BRIDGE_VLAN_FILTERING in overlay section
  contrib/check-config.sh
Labels: area/contrib, status/2-code-review

#39540 allow running of single integration test
  hack/make/.integration-test-helpers
  hack/test/e2e-run.sh
Labels: area/testing, process/cherry-pick, status/4-merge

#39543 atomic: patch 64bit alignment on 32bit systems
  builder/builder-next/adapters/containerimage/pull.go
Labels: process/cherry-pick, status/4-merge

#39546 imporve hardcoded CC on cross compile
  hack/make/.binary
Labels: area/project, platform/arm, status/2-code-review

#39493 rootless: allow exposing dockerd TCP socket easily
  docs/rootless.md
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, process/cherry-pick, status/2-code-review

#39165 Updated mkimage-arch.sh
  contrib/mkimage-arch.sh
Labels: area/contrib, status/2-code-review

#39557 integration-cli: increase healthcheck timeout
  integration-cli/docker_cli_service_health_test.go
Labels: area/testing, process/cherry-pick, status/4-merge

#39531 integration-cli: fix swarm tests flakiness
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
  internal/test/daemon/node.go
  vendor.conf
  vendor/github.com/docker/swarmkit/agent/agent.go
  vendor/github.com/docker/swarmkit/agent/session.go
  vendor/github.com/docker/swarmkit/manager/dispatcher/dispatcher.go
  vendor/github.com/docker/swarmkit/manager/drivers/provider.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/restart/restart.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/service.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/update/updater.go
  vendor/github.com/docker/swarmkit/node/node.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39068 Bump docker-py to 4.0.2, and run tests from upstream repository
  Dockerfile
  Makefile
  hack/ci/janky
  hack/make/test-docker-py
Labels: area/testing, status/2-code-review

#39552 Be more conservative for Windows in TestFrequency for Splunk
  daemon/logger/splunk/splunk_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39560 Retry service updates on out of sequence errors
  integration-cli/daemon/daemon_swarm.go
  integration-cli/docker_cli_swarm_test.go
Labels: area/swarm, area/testing, process/cherry-pick, status/4-merge

#39258 Revert "Remove TestSearchCmdOptions test"
  integration-cli/docker_cli_search_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39548 Dockerfile: use GO_VERSION build-arg for overriding Go version
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  Makefile
  TESTING.md
  hack/ci/windows.ps1
Labels: area/testing, process/cherry-pick, status/2-code-review

#39554 integration: run build session tests on non-experimental
  integration/build/build_session_test.go
  integration/session/session_test.go
Labels: area/builder, area/testing, kind/experimental, process/cherry-pick, status/4-merge

#39575 Skip TestHealthKillContainer on Windows
  integration/container/health_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#39076 Remove hack MalformedHostHeaderOverride
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/hack/malformed_host_override.go
  cmd/dockerd/hack/malformed_host_override_test.go
Labels: area/api, impact/api, impact/changelog, impact/deprecation, status/2-code-review

#39582 Pin Dockerfile to -stretch variant because it's bust'd
  Dockerfile
  Dockerfile.simple
  hack/ci/windows.ps1
  hack/make.ps1
Labels: area/project, process/cherry-pick, status/2-code-review

#39586 Windows: fix Golang version checks for GO_VERSION build-arg
  hack/ci/windows.ps1
  hack/make.ps1
Labels: area/project, platform/windows, status/2-code-review

#39422 Don't try to load plugin without name
  pkg/plugins/plugins.go
Labels: area/plugins, status/2-code-review

#39585 Dockerfile.windows: trim .0 from Go versions
  Dockerfile.windows
Labels: area/project, process/cherry-pick, status/2-code-review

#39580 added hack/ci/master as entry point for master codeline checks
  hack/ci/master
Labels: process/cherry-pick, status/2-code-review

#39535 Set TIMEOUT according to architecture.
  hack/make.sh
  hack/make/.integration-test-helpers
  hack/make/test-integration-flaky
  hack/test/e2e-run.sh
Labels: area/testing, status/2-code-review

#39602 Add `FromClient` to test env execution
  internal/test/environment/environment.go
Labels: area/testing, status/2-code-review

#39603 Better logging for swarm tests
  internal/test/daemon/swarm.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39606 remove DOCKER_EXECDRIVER from Jenkinsfile
  Jenkinsfile
Labels: status/0-triage

#39594 use overlay2 for janky and experimental checks
  Jenkinsfile
Labels: area/testing, status/2-code-review

#39612 Fix CVE-2019-14271 loading of nsswitch based config inside chroot under Glibc
  pkg/chrootarchive/archive.go
Labels: status/4-merge

#39591 Add extra permission check in removal test
  integration/image/remove_unix_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39592 Added changes to integrate with the new Jenkins ci
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39616 Fix TestSwarmClusterRotateUnlockKey
  integration-cli/docker_cli_swarm_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39589 Prevent panic on network attach
  daemon/container_operations.go
Labels: area/networking, process/cherry-pick, status/2-code-review

#39569 integration-cli: remove redundant "testrequires"
  integration-cli/docker_cli_daemon_plugins_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_info_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_proxy_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_userns_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#39629 switch kr/pty to creack/pty v1.1.7
  NOTICE
  integration-cli/docker_cli_attach_unix_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_unix_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_save_load_unix_test.go
  integration-cli/docker_cli_update_unix_test.go
  vendor.conf
  vendor/github.com/creack/pty/LICENSE
  vendor/github.com/creack/pty/README.md
  vendor/github.com/creack/pty/doc.go
  vendor/github.com/creack/pty/ioctl.go
  vendor/github.com/creack/pty/ioctl_bsd.go
  vendor/github.com/creack/pty/ioctl_solaris.go
  vendor/github.com/creack/pty/pty_darwin.go
  vendor/github.com/creack/pty/pty_dragonfly.go
  vendor/github.com/creack/pty/pty_freebsd.go
  vendor/github.com/creack/pty/pty_linux.go
  vendor/github.com/creack/pty/pty_openbsd.go
  vendor/github.com/creack/pty/pty_solaris.go
  vendor/github.com/creack/pty/pty_unsupported.go
  vendor/github.com/creack/pty/run.go
  vendor/github.com/creack/pty/util.go
  vendor/github.com/creack/pty/util_solaris.go
  vendor/github.com/creack/pty/ztypes_386.go
  vendor/github.com/creack/pty/ztypes_amd64.go
  vendor/github.com/creack/pty/ztypes_arm.go
  vendor/github.com/creack/pty/ztypes_arm64.go
  vendor/github.com/creack/pty/ztypes_dragonfly_amd64.go
  vendor/github.com/creack/pty/ztypes_freebsd_386.go
  vendor/github.com/creack/pty/ztypes_freebsd_amd64.go
  vendor/github.com/creack/pty/ztypes_freebsd_arm.go
  vendor/github.com/creack/pty/ztypes_mipsx.go
  vendor/github.com/creack/pty/ztypes_openbsd_386.go
  vendor/github.com/creack/pty/ztypes_openbsd_amd64.go
  vendor/github.com/creack/pty/ztypes_ppc64.go
  vendor/github.com/creack/pty/ztypes_ppc64le.go
  vendor/github.com/creack/pty/ztypes_riscvx.go
  vendor/github.com/creack/pty/ztypes_s390x.go
  vendor/github.com/kr/pty/go.mod
Labels: area/testing, process/cherry-pick, status/2-code-review

#39636 Dockerfile: add back yamllint
  Dockerfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#39633 bump libnetwork to 09cdcc8c0eab3946c2d70e8f6225b05baf1e90d1
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_store.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_store.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/ipvs/netlink.go
  vendor/github.com/docker/libnetwork/ns/init_linux.go
Labels: area/networking, process/cherry-pick, status/2-code-review
