Repository moby/moby, pull requests merged in 2019-02, with the labels that each got.

#38520 Bump SwarmKit to 1a0ebd43b2d156983a695f90e56f4ecba6ced902
  integration/service/update_test.go
  vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/manager/controlapi/service.go
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/restart/restart.go
  vendor/github.com/docker/swarmkit/manager/orchestrator/update/updater.go
  vendor/github.com/docker/swarmkit/vendor.conf
Labels: area/swarm, status/2-code-review

#38655 Allow overriding repository and branch in validate scripts
  Makefile
  hack/validate/.validate
Labels: area/testing, status/2-code-review

#38673 Bump SwarmKit to fix proto capitalization
  vendor.conf
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
Labels: area/swarm, status/2-code-review

#38574 Improve 'no matching manifest' error message
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/pull_v2_unix.go
  distribution/pull_v2_windows.go
Labels: area/distribution, platform/windows, status/4-merge

#38137 seccomp: allow ptrace(2) for 4.8+ kernels
  api/types/seccomp.go
  profiles/seccomp/default.json
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, status/2-code-review

#38680 Windows CI: Dump possible panic log
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, status/4-merge

#38681 Vendor Microsoft/hcsshim @ v0.8.6
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/guestrequest/types.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/callback.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/log.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/watcher.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/hcserror/hcserror.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/interop.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/logfields/fields.go
  vendor/github.com/Microsoft/hcsshim/internal/safefile/safeopen.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/plan9_share.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/virtual_machine.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/activatelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createscratchlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/deactivatelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/destroylayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/expandscratchsize.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/exportlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getlayermountpath.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getsharedbaseimages.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/grantvmaccess.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/importlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerexists.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerutils.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/nametoguid.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/preparelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/unpreparelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/vendor.conf
  vendor/github.com/Microsoft/hcsshim/zsyscall_windows.go
Labels: status/4-merge

#38683 seccomp: review update for ptrace support
  profiles/seccomp/default.json
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_default.go
Labels: status/4-merge

#38684 hack: restore bundling vpnkit on amd64
  Dockerfile
  hack/make/.binary-setup
  hack/make/binary-daemon
  hack/make/install-binary
Labels: status/4-merge

#38679 bump up rootlesskit (fix armv7 compilation failure)
  hack/dockerfile/install/rootlesskit.installer
Labels: status/4-merge

#38678 LCOW: Don't fail image push when files have spaces
  daemon/graphdriver/lcow/lcow.go
Labels: status/2-code-review

#38580 Pass in network IDs during restart
  daemon/daemon_windows.go
Labels: area/networking, platform/windows, status/2-code-review

#38685 Fix go-vet issue
  cmd/dockerd/daemon.go
Labels: status/4-merge

#38693 hack: Have TIMEOUT take -test.count into account when testing for flakiness
  hack/make/test-integration-flaky
Labels: area/testing, status/2-code-review

#38701 Bump gorilla/mux to 1.7.0 (remove gorilla/context)
  vendor.conf
  vendor/github.com/gorilla/context/LICENSE
  vendor/github.com/gorilla/context/README.md
  vendor/github.com/gorilla/context/context.go
  vendor/github.com/gorilla/context/doc.go
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/context.go
  vendor/github.com/gorilla/mux/context_gorilla.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
Labels: status/2-code-review

#38692 Vendor opencontainers/runtime-spec 29686dbc
  vendor.conf
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
Labels: status/4-merge

#38677 hack: no need to git fetch in CI
  Makefile
  hack/validate/.validate
Labels: area/testing, status/2-code-review

#38716 Update runc to 6635b4f (fix CVE-2019-5736)
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review

#38717 Update containerd to 1.2.3
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_windows.go
  vendor/github.com/containerd/containerd/client.go
  vendor/github.com/containerd/containerd/content/local/locks.go
  vendor/github.com/containerd/containerd/contrib/seccomp/seccomp.go
  vendor/github.com/containerd/containerd/filters/scanner.go
  vendor/github.com/containerd/containerd/import.go
  vendor/github.com/containerd/containerd/metadata/content.go
  vendor/github.com/containerd/containerd/metadata/db.go
  vendor/github.com/containerd/containerd/metadata/gc.go
  vendor/github.com/containerd/containerd/metadata/snapshot.go
  vendor/github.com/containerd/containerd/mount/mountinfo_linux.go
  vendor/github.com/containerd/containerd/plugin/plugin.go
  vendor/github.com/containerd/containerd/process.go
  vendor/github.com/containerd/containerd/remotes/docker/auth.go
  vendor/github.com/containerd/containerd/remotes/docker/converter.go
  vendor/github.com/containerd/containerd/runtime/runtime.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/deleted_state.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/exec.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/exec_state.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/init.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/init_state.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/io.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/proc/utils.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/runtime.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/containerd/cri/pkg/util/strings.go
  vendor/github.com/containerd/cri/vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
Labels: area/runtime, status/2-code-review

#38728 dockerd: call StickRuntimeDirContents only in rootless mode
  cmd/dockerd/daemon.go
Labels: area/rootless, status/2-code-review

#38730 bump up rootlesskit (fix CentOS failure)
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, status/2-code-review

#38364 Delete stale containerd object on start failure
  daemon/start.go
Labels: status/4-merge

#38727 Update containerd runtime 1.2.4
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review

#38741 Windows:Update dumpstack event name
  daemon/debugtrap_windows.go
Labels: platform/windows, status/2-code-review

#38756 make test-integration: use correct dockerd binary
  hack/make/.integration-daemon-start
Labels: area/testing, status/2-code-review

#38758 Graphdriver: fix "device" mode not being detected if "character-device" bit is set
  daemon/graphdriver/copy/copy.go
Labels: area/storage, status/2-code-review

#38686 Completely remove deprecated `d.NewClient` from testing tools
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/network/service_test.go
  integration/service/plugin_test.go
  internal/test/daemon/daemon.go
  internal/test/daemon/plugin.go
  internal/test/daemon/swarm.go
Labels: area/testing, status/2-code-review

#38632 Add support for GMSA CredentialSpecs from Swarmkit configs
  api/server/router/swarm/cluster_routes.go
  api/server/router/swarm/helpers.go
  api/server/router/swarm/helpers_test.go
  api/swagger.yaml
  api/types/swarm/config.go
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/convert/service_test.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/container_test.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/oci_windows.go
  docs/api/version-history.md
Labels: status/2-code-review

#38783 Windows: Disable 2 restart tests on Hyper-V isolation
  integration-cli/docker_cli_restart_test.go
Labels: status/2-code-review

#32519 Add pids-limit support in docker update
  api/swagger.yaml
  api/types/container/host_config.go
  api/types/types.go
  container/container_unix.go
  container/container_windows.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/info_unix.go
  daemon/oci_linux.go
  daemon/update_linux.go
  integration/container/update_linux_test.go
Labels: impact/api, impact/changelog, impact/cli, status/4-merge

#38428 Testing: create new daemon (only) if needed
  integration/build/build_session_test.go
  integration/build/build_squash_test.go
  integration/session/session_test.go
  internal/test/daemon/daemon.go
Labels: area/testing, status/2-code-review

#38792 Add new PidsLimit options to API version history
  api/swagger.yaml
  api/types/container/host_config.go
  docs/api/version-history.md
Labels: status/2-code-review

#38786 fix hack/dockerfile/install/containerd.installer lf statment's operator
  hack/dockerfile/install/containerd.installer
Labels: status/4-merge

#38800 Increase grpc limit for GetConfigs api
  daemon/cluster/configs.go
Labels: status/0-triage

#38782 Windows: Fix restart for Hyper-V containers
  daemon/restart.go
Labels: platform/windows, status/2-code-review

#38791 Fix container update resetting pidslimit on older API clients
  api/server/router/container/container_routes.go
  integration/container/update_linux_test.go
Labels: status/2-code-review

#38737 Fix stopped containers with restart-policy showing as "restarting"
  daemon/monitor.go
Labels: status/2-code-review

#31551 Network: add support for 'dangling' filter
  api/types/network/network.go
  daemon/network/filter.go
  daemon/network/filter_test.go
Labels: area/api, impact/api, status/4-merge

#38790 Refactor setting graph driver name
  daemon/daemon.go
Labels: status/2-code-review

#38805 Add more details to RunningTasksCount
  integration/internal/swarm/states.go
Labels: area/testing, status/2-code-review

#38675 Refactor pkg/sysinfo
  pkg/sysinfo/sysinfo_linux.go
Labels: status/2-code-review

#38565 Add Jenkinsfile
  Jenkinsfile
Labels: area/project, area/testing, status/0-triage

#38810 docs follow-ups for networks "dangling" filter
  api/swagger.yaml
  api/types/network/network.go
  docs/api/version-history.md
Labels: area/api, area/docs, status/4-merge

#38806 builder-next: fixes for rootless mode
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
Labels: area/builder, area/rootless, status/4-merge

#38808 Update Derek behaviour
  .DEREK.yml
Labels: area/project, status/2-code-review
