Repository moby/moby, pull requests merged in 2019-03, with the labels that each got.

#38813 Had `HasExperimental()` to cluster backend
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/services.go
Labels: status/2-code-review

#38780 pkg/mount: remove unused ParseTmpfsOptions
  pkg/mount/flags.go
Labels: status/2-code-review

#38820 Add new option to specify tag information to mkimage-yum.sh
  contrib/mkimage-yum.sh
Labels: area/contrib, status/2-code-review

#37874 Remove the rest of v1 manifest support
  Dockerfile
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  daemon/config/config.go
  daemon/daemon.go
  daemon/images/image_push.go
  daemon/images/service.go
  daemon/trustkey.go
  daemon/trustkey_test.go
  daemon/uuid.go
  distribution/config.go
  distribution/push_v2.go
  integration-cli/check_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_push_test.go
  integration/system/uuid_test.go
  internal/test/fixtures/plugin/plugin.go
  registry/config.go
  registry/service.go
Labels: area/distribution, impact/changelog, impact/deprecation, status/4-merge

#38452 integration/container: add a base test for C/R
  Dockerfile
  daemon/checkpoint.go
  integration/container/checkpoint_test.go
Labels: area/daemon, area/testing, status/2-code-review

#38843 TestDaemonRestartIpcMode: move to integration
  integration-cli/docker_cli_daemon_test.go
  integration/container/daemon_linux_test.go
  integration/container/kill_test.go
  integration/container/stop_test.go
  integration/container/update_test.go
  integration/internal/container/ops.go
Labels: status/2-code-review

#38855 Add Kir as maintainer
  MAINTAINERS
Labels: area/project, status/3-docs-review

#38831 bump swarmkit to 415dc72789e2b733ea884f09188c286ca187d8ec
  vendor.conf
  vendor/github.com/docker/swarmkit/api/ca.pb.go
  vendor/github.com/docker/swarmkit/api/control.pb.go
  vendor/github.com/docker/swarmkit/api/control.proto
  vendor/github.com/docker/swarmkit/api/objects.pb.go
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
  vendor/github.com/docker/swarmkit/api/types.pb.go
  vendor/github.com/docker/swarmkit/api/types.proto
  vendor/github.com/docker/swarmkit/manager/allocator/network.go
  vendor/github.com/docker/swarmkit/manager/controlapi/extension.go
  vendor/github.com/docker/swarmkit/manager/controlapi/resource.go
  vendor/github.com/docker/swarmkit/manager/state/raft/util.go
  vendor/github.com/docker/swarmkit/manager/state/store/resources.go
Labels: area/swarm, status/2-code-review

#37534 Fix error 500 on distribution endpoint
  api/server/httputils/errors.go
  api/server/router/distribution/distribution_routes.go
  daemon/images/image_pull.go
Labels: area/distribution, status/2-code-review

#38870 Update quota support to treat permission error as not supported
  daemon/graphdriver/quota/projectquota.go
Labels: area/storage, status/2-code-review

#38868 Switch to google/uuid
  container/view_test.go
  daemon/list_test.go
  daemon/uuid.go
  integration/system/uuid_test.go
  vendor.conf
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
Labels: status/4-merge

#38874 Minor error cleanups in projectquota
  daemon/graphdriver/quota/projectquota.go
Labels: area/storage, status/2-code-review

#38875 Revert "Adding builder version"
  api/server/router/system/system_routes.go
  api/types/types.go
  integration/system/info_test.go
Labels: area/api, area/builder, impact/api, status/2-code-review

#35621 daemon: use 'private' ipc mode by default
  api/server/router/container/container_routes.go
  daemon/config/config_unix.go
  daemon/container_operations_unix.go
  docs/api/version-history.md
  integration/container/ipcmode_linux_test.go
Labels: impact/changelog, status/2-code-review

#38873 Update containerd v1.2.5, runc 2b18fe1d885ee5083ef9f0838fee39b62d653e30
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/containerd/cgroups/README.md
  vendor/github.com/containerd/cgroups/blkio.go
  vendor/github.com/containerd/cgroups/cgroup.go
  vendor/github.com/containerd/cgroups/control.go
  vendor/github.com/containerd/cgroups/cpuset.go
  vendor/github.com/containerd/cgroups/devices.go
  vendor/github.com/containerd/cgroups/net_prio.go
  vendor/github.com/containerd/cgroups/opts.go
  vendor/github.com/containerd/cgroups/paths.go
  vendor/github.com/containerd/cgroups/subsystem.go
  vendor/github.com/containerd/cgroups/systemd.go
  vendor/github.com/containerd/cgroups/utils.go
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/image.go
  vendor/github.com/containerd/containerd/metadata/gc.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
  vendor/github.com/opencontainers/runc/vendor.conf
Labels: area/runtime, impact/changelog, status/2-code-review

#38860 Delete duplicate words
  client/client.go
  hack/ci/windows.ps1
Labels: status/0-triage

#38777 Making it possible to pass Windows credential specs directly to the engine
  Makefile
  daemon/oci_windows.go
  daemon/oci_windows_test.go
  integration-cli/docker_cli_run_test.go
Labels: impact/changelog, platform/windows, status/2-code-review

#38404 Bump Golang to 1.12.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#38886 minor touch-up in api/version-history.md
  docs/api/version-history.md
Labels: area/api, area/docs, status/3-docs-review

#38847 Enable buildkit for Makefile build target
  Makefile
Labels: status/2-code-review

#38828 Add DeviceRequests to HostConfig to support NVIDIA GPUs
  api/swagger.yaml
  api/types/container/host_config.go
  daemon/devices_linux.go
  daemon/errors.go
  daemon/nvidia_linux.go
  daemon/oci_linux.go
  docs/api/version-history.md
  pkg/capabilities/caps.go
  pkg/capabilities/caps_test.go
  vendor/github.com/containerd/containerd/contrib/nvidia/nvidia.go
Labels: impact/api, impact/changelog, status/2-code-review

#38898 builder-next: allow outputs configuration
  api/server/router/build/build_routes.go
  api/swagger.yaml
  api/types/client.go
  builder/builder-next/builder.go
  client/image_build.go
  docs/api/version-history.md
Labels: area/api, area/builder, impact/api, impact/changelog, status/4-merge

#38891 Return a warning when running in a two-manager setup
  api/server/router/system/system_routes.go
  api/types/swarm/swarm.go
  daemon/cluster/swarm.go
Labels: area/api, area/swarm, status/4-merge

#38907 Windows:Fix TestRunUserDefaults
  integration-cli/docker_cli_run_test.go
Labels: area/testing, status/4-merge

#38908 Windows (pre RS5) disableTestRunBindMounts
  integration-cli/docker_cli_run_test.go
Labels: status/0-triage

#38902 builder-next: fix squash
  api/server/backend/build/backend.go
Labels: area/builder, status/4-merge

#38888 image: do actual RootFS.DiffIDs copying in Clone()
  image/rootfs.go
Labels: area/builder, status/4-merge

#38916 Update authors and mailmap
  .mailmap
  AUTHORS
Labels: invalid, status/3-docs-review

#38910 Remove some redundant code and cleanup validation
  container/container_unix.go
  container/container_windows.go
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/create.go
  daemon/network.go
Labels: area/daemon, status/4-merge

#38917 vendor: update buildkit to e5b647a1a
  builder/builder-next/worker/worker.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/cache/refs.go
  vendor/github.com/moby/buildkit/client/llb/fileop.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/backend.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/refmanager.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/unpack.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/user_linux.go
  vendor/github.com/moby/buildkit/solver/llbsolver/file/user_nolinux.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/fileoptypes/types.go
  vendor/github.com/moby/buildkit/solver/llbsolver/result.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/solver/pb/ops.pb.go
  vendor/github.com/moby/buildkit/solver/pb/ops.proto
  vendor/github.com/moby/buildkit/util/flightcontrol/flightcontrol.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_nowindows.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_windows.go
  vendor/github.com/tonistiigi/fsutil/diskwriter.go
  vendor/github.com/tonistiigi/fsutil/stat_unix.go
  vendor/github.com/tonistiigi/fsutil/walker.go
Labels: area/builder, status/4-merge

#38897 builder-next: fix second cachekey for schema1
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, status/2-code-review

#38895 seccomp: whitelist io_pgetevents()
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, status/2-code-review

#38793 Some refactoring on PidsLimit
  api/server/router/container/container_routes.go
  daemon/daemon_unix.go
  integration/container/update_linux_test.go
  integration/internal/container/ops.go
Labels: status/2-code-review

#38624 Add new adjectives to the names generator
  pkg/namesgenerator/names-generator.go
Labels: status/0-triage

#38510 fix: simplify code logic
  daemon/stats/collector_unix.go
Labels: status/2-code-review

#38297 Revert "Add limit to page size used by overlay2 driver"
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/2-code-review

#38906 Fix for situation where swarm leave causes wait forever for agent to stop
  daemon/cluster/noderunner.go
Labels: area/swarm, status/2-code-review

#38405 Enable checkpoint/restore of containers with TTY
  daemon/checkpoint.go
Labels: kind/experimental, status/2-code-review

#38909 Fix client version not being pinned when set
  client/options.go
Labels: status/2-code-review

#38593 add vfs quota for daemon storage-opts
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/vfs/quota_linux.go
  daemon/graphdriver/vfs/quota_unsupported.go
Labels: status/2-code-review

#38182 Fix log
  integration/network/network_test.go
Labels: area/testing, status/2-code-review

#38579 Fix: network=host using wrong resolv.conf with systemd-resolved
  daemon/container_operations_unix.go
Labels: area/networking, status/2-code-review

#38462 [RFC] errdefs: remove "ErrAlreadyExists" because it's not an error
  errdefs/defs.go
  errdefs/helpers.go
  errdefs/helpers_test.go
  errdefs/http_helpers.go
  errdefs/is.go
Labels: area/api, status/4-merge

#38924 ContainerCreate shouldn't return warnings=nil
  daemon/create.go
Labels: status/4-merge

#38246 builder: add workaround for gcr auth issue
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, status/2-code-review

#38599 builder: fix `COPY --from` should preserve ownership
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals.go
  integration/build/build_test.go
  integration/build/testdata/Dockerfile.testBuildPreserveOwnership
Labels: area/builder, status/2-code-review

#38922 LCOW: Add VMGroup SID to layer.vhd; fix layer folder perm
  daemon/graphdriver/lcow/lcow.go
  pkg/system/filesys_windows.go
  vendor.conf
  vendor/github.com/Microsoft/go-winio/internal/etw/eventdata.go
  vendor/github.com/Microsoft/go-winio/internal/etw/eventmetadata.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/etw.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdata.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdatadescriptor.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdescriptor.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventmetadata.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/fieldopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/providerglobal.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/ptr64_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/ptr64_64.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/etwlogrus/hook.go
  vendor/github.com/Microsoft/go-winio/pkg/security/grantvmgroupaccess.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
Labels: area/lcow, kind/experimental, status/4-merge

#38871 Use original process spec for execs
  daemon/exec.go
  integration/container/exec_test.go
  integration/internal/container/ops.go
Labels: area/runtime, status/4-merge

#38933 Small gofmt fix
  integration-cli/docker_cli_run_test.go
Labels: status/2-code-review

#38944 gitutils: add validation for ref
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: area/builder, status/4-merge

#38937 bump swarmkit 18e7e58ea1a5ec016625a636d0d52500eea123bc
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/controlapi/node.go
  vendor/github.com/docker/swarmkit/manager/controlapi/service.go
Labels: area/swarm, status/2-code-review

#38853 integration-cli: don't build -test images if they already exist
  daemon/container_operations.go
  daemon/metrics.go
  distribution/pull_v1.go
  distribution/push_v2.go
  hack/validate/gometalinter.json
  integration-cli/fixtures_linux_daemon_test.go
  internal/test/environment/clean.go
  internal/test/environment/environment.go
  internal/test/environment/protect.go
  registry/auth.go
Labels: area/testing, status/2-code-review

#38918 bump opencontainers/selinux to v1.2
  daemon/create.go
  vendor.conf
  vendor/github.com/opencontainers/selinux/README.md
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
Labels: area/security/selinux, status/2-code-review

#38965 update containerd/cgroups 4994991857f9b0ae8dc439551e8bebdbb4bf66c1
  vendor.conf
  vendor/github.com/containerd/cgroups/cgroup.go
Labels: area/runtime, status/2-code-review

#38957 mkimage yum update
  contrib/mkimage-yum.sh
Labels: status/0-triage
