Repository moby/moby, pull requests merged in 2019-04, with the labels that each got.

#38945 Update nvidia_devices to call into nvidia-container-runtime-hook
  daemon/nvidia_linux.go
  pkg/capabilities/caps.go
Labels: status/2-code-review

#38959 Vendor Microsoft/hcsshim@ba3d6667
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/vendor.conf
Labels: status/2-code-review

#38984 Temporarily disable TestCheckpoint
  integration/container/checkpoint_test.go
Labels: area/testing, status/2-code-review

#38977 fix parseInfoFile does not handle spaces in filenames
  pkg/mount/mountinfo_linux.go
  pkg/mount/mountinfo_linux_test.go
Labels: status/2-code-review

#38990 Add undocumented /grpc endpoint and register BuildKit's controller
  api/server/backend/build/backend.go
  api/server/router/grpc/backend.go
  api/server/router/grpc/grpc.go
  api/server/router/grpc/grpc_routes.go
  builder/builder-next/builder.go
  client/hijack.go
  client/interface.go
  client/session.go
  cmd/dockerd/daemon.go
  integration/build/build_session_test.go
Labels: status/0-triage

#38913 rootless: expose ports automatically
  contrib/dockerd-rootless.sh
  docs/rootless.md
  hack/dockerfile/install/rootlesskit.installer
  hack/make/.binary-setup
  hack/make/binary-daemon
  hack/make/install-binary
Labels: area/rootless, status/2-code-review

#38991 daemon: fix mirrors validation
  daemon/daemon.go
Labels: status/0-triage

#38819 api: fix description about logs
  api/swagger.yaml
Labels: area/docs, status/3-docs-review

#38996 bump up rootlesskit
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, status/2-code-review

#38983 bump libnetwork to ebcade70ad1059b070d0040d798ecca359bc5fed
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/agent.go
  vendor/github.com/docker/libnetwork/default_gateway.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_forwarding.go
  vendor/github.com/docker/libnetwork/drivers/overlay/overlayutils/utils.go
  vendor/github.com/docker/libnetwork/drivers_experimental_linux.go
  vendor/github.com/docker/libnetwork/drivers_linux.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/ipvs/ipvs.go
  vendor/github.com/docker/libnetwork/ipvs/netlink.go
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/networkdb/cluster.go
Labels: impact/changelog, kind/experimental, status/2-code-review

#38998 bump sirupsen/logrus v1.4.1
  vendor.conf
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/alt_exit.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/logrus.go
  vendor/github.com/sirupsen/logrus/terminal_check_aix.go
  vendor/github.com/sirupsen/logrus/terminal_check_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_notappengine.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/crypto/ssh/terminal/util.go
  vendor/golang.org/x/crypto/ssh/terminal/util_aix.go
  vendor/golang.org/x/crypto/ssh/terminal/util_bsd.go
  vendor/golang.org/x/crypto/ssh/terminal/util_linux.go
  vendor/golang.org/x/crypto/ssh/terminal/util_plan9.go
  vendor/golang.org/x/crypto/ssh/terminal/util_solaris.go
  vendor/golang.org/x/crypto/ssh/terminal/util_windows.go
Labels: status/4-merge

#38997 bump opencontainers/selinux v1.2.1
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
Labels: area/security/selinux, status/2-code-review

#39002 Remove libcontainerd status type
  daemon/daemon.go
  daemon/util_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
  plugin/executor/containerd/containerd_test.go
Labels: area/runtime, status/2-code-review

#39006 Move docker-py tests to the end
  hack/ci/janky
Labels: area/testing, status/2-code-review

#39000 openrc: Modernize and sync settings
  contrib/init/openrc/docker.confd
  contrib/init/openrc/docker.initd
Labels: area/contrib, status/4-merge

#39014 bump google.golang.org/grpc v1.12.2
  vendor.conf
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/transport/http2_server.go
  vendor/google.golang.org/grpc/transport/http_util.go
  vendor/google.golang.org/grpc/transport/transport.go
Labels: status/2-code-review

#39026 fix containerd WaitTimeout
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
Labels: area/runtime, status/2-code-review

#39029 Remove deprecated filter functions
  api/types/filters/parse.go
  api/types/filters/parse_test.go
  builder/builder-next/builder.go
Labels: status/2-code-review

#38931 Remove in memory libcontainer containers map
  daemon/daemon.go
  daemon/util_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
  plugin/executor/containerd/containerd_test.go
Labels: area/runtime, status/4-merge

#39021 Remove the "err == nil" because is always equal nil.
  api/server/router/image/image_routes.go
Labels: status/2-code-review

#39016 Bump containerd v1.2.6, runc 029124da7af7360afa781a0234d1b083550f797c
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/cloned_binary.c
  vendor/github.com/opencontainers/runc/vendor.conf
Labels: area/runtime, impact/changelog, status/2-code-review

#39018 Vendor Libnetwork 48f8463
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/joinleave_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/ov_endpoint_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/peerdb_windows.go
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
Labels: area/networking, status/2-code-review

#39038 Adds PartialLogMetadata to encode protobuf for logger plugins
  daemon/logger/adapter.go
Labels: area/logging, status/2-code-review

#39034 Bump Golang 1.12.3
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review

#39044 client: define "Opt" type
  client/client.go
  client/options.go
  internal/test/request/request.go
Labels: status/4-merge

#39012 Bump various dependencies
  vendor.conf
  vendor/github.com/RackSec/srslog/README.md
  vendor/github.com/RackSec/srslog/dialer.go
  vendor/github.com/RackSec/srslog/formatter.go
  vendor/github.com/RackSec/srslog/srslog.go
  vendor/github.com/RackSec/srslog/writer.go
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences_dummy.go
  vendor/github.com/kr/pty/README.md
  vendor/github.com/kr/pty/ioctl.go
  vendor/github.com/kr/pty/pty_darwin.go
  vendor/github.com/kr/pty/pty_dragonfly.go
  vendor/github.com/kr/pty/pty_freebsd.go
  vendor/github.com/kr/pty/pty_linux.go
  vendor/github.com/kr/pty/pty_openbsd.go
  vendor/github.com/kr/pty/pty_unsupported.go
  vendor/github.com/kr/pty/run.go
  vendor/github.com/kr/pty/util.go
  vendor/github.com/kr/pty/ztypes_dragonfly_amd64.go
  vendor/github.com/kr/pty/ztypes_mipsx.go
  vendor/github.com/kr/pty/ztypes_openbsd_386.go
  vendor/github.com/kr/pty/ztypes_openbsd_amd64.go
  vendor/github.com/mattn/go-shellwords/shellwords.go
  vendor/github.com/mattn/go-shellwords/util_go15.go
  vendor/github.com/mattn/go-shellwords/util_posix.go
  vendor/github.com/mattn/go-shellwords/util_windows.go
  vendor/github.com/philhofer/fwd/reader.go
  vendor/github.com/tchap/go-patricia/README.md
  vendor/github.com/tchap/go-patricia/patricia/children.go
  vendor/github.com/tchap/go-patricia/patricia/patricia.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/gotest.tools/LICENSE
  vendor/gotest.tools/README.md
  vendor/gotest.tools/assert/cmp/compare.go
  vendor/gotest.tools/assert/cmp/result.go
  vendor/gotest.tools/assert/result.go
  vendor/gotest.tools/env/env.go
  vendor/gotest.tools/fs/file.go
  vendor/gotest.tools/fs/manifest.go
  vendor/gotest.tools/fs/ops.go
  vendor/gotest.tools/fs/path.go
  vendor/gotest.tools/fs/report.go
  vendor/gotest.tools/icmd/command.go
  vendor/gotest.tools/icmd/ops.go
  vendor/gotest.tools/internal/difflib/difflib.go
  vendor/gotest.tools/internal/source/defers.go
  vendor/gotest.tools/internal/source/source.go
  vendor/gotest.tools/poll/check.go
  vendor/gotest.tools/poll/poll.go
  vendor/gotest.tools/skip/skip.go
Labels: status/2-code-review

#39043 Fix empty WithVersion blocking version negotiation
  client/client_test.go
  client/options.go
Labels: area/api, status/4-merge

#39010 Support cross-compile for arm
  Dockerfile
  Makefile
  hack/make/.binary
Labels: status/4-merge

#39058 Reformat vendor.conf and pin all deps by git-sha
  vendor.conf
Labels: area/project, status/2-code-review

#39060 Add Katie Bouman to names generator
  pkg/namesgenerator/names-generator.go
Labels: status/3-docs-review

#39052 Add more import comments
  pkg/capabilities/caps.go
  pkg/capabilities/caps_test.go
  rootless/rootless.go
  rootless/specconv/specconv_linux.go
Labels: status/4-merge

#39042 Refactor few spec generation ops
  daemon/daemon_linux_test.go
  daemon/exec_linux.go
  daemon/oci_linux.go
  daemon/seccomp_disabled.go
  daemon/seccomp_linux.go
  daemon/seccomp_unsupported.go
Labels: area/runtime, status/4-merge

#38968 change hard code: add some overlay2 constant to replace the hard code.
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/4-merge

#39063 Bump Golang 1.12.4
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#39075 Update container name pattern in swagger.yaml
  api/swagger.yaml
Labels: area/api, area/docs, status/2-code-review

#39073 vendor.conf: reserve space for downstream projects
  vendor.conf
Labels: status/2-code-review

#38952 fluentd log driver. failed parse last partial message in fluentd #38951
  daemon/logger/fluentd/fluentd.go
Labels: area/logging, status/2-code-review

#39069 Fix DOCKER_CROSS being overwritten
  Makefile
Labels: status/2-code-review

#39072 Various minor vendoring bumps
  vendor.conf
  vendor/github.com/containerd/fifo/raw.go
  vendor/github.com/containerd/fifo/readme.md
  vendor/github.com/containerd/go-runc/README.md
  vendor/github.com/containerd/typeurl/LICENSE
  vendor/github.com/containerd/typeurl/README.md
  vendor/github.com/containerd/typeurl/doc.go
  vendor/github.com/containerd/typeurl/types.go
  vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  vendor/github.com/mistifyio/go-zfs/README.md
  vendor/github.com/mistifyio/go-zfs/utils.go
  vendor/github.com/mistifyio/go-zfs/utils_notsolaris.go
  vendor/github.com/mistifyio/go-zfs/utils_solaris.go
  vendor/github.com/mistifyio/go-zfs/zfs.go
  vendor/github.com/pborman/uuid/LICENSE
  vendor/github.com/pborman/uuid/README.md
  vendor/github.com/pborman/uuid/dce.go
  vendor/github.com/pborman/uuid/doc.go
  vendor/github.com/pborman/uuid/hash.go
  vendor/github.com/pborman/uuid/json.go
  vendor/github.com/pborman/uuid/node.go
  vendor/github.com/pborman/uuid/sql.go
  vendor/github.com/pborman/uuid/time.go
  vendor/github.com/pborman/uuid/util.go
  vendor/github.com/pborman/uuid/uuid.go
  vendor/github.com/pborman/uuid/version1.go
  vendor/github.com/pborman/uuid/version4.go
  vendor/github.com/syndtr/gocapability/capability/capability.go
  vendor/github.com/syndtr/gocapability/capability/capability_linux.go
  vendor/github.com/syndtr/gocapability/capability/enum.go
  vendor/github.com/syndtr/gocapability/capability/syscall_linux.go
Labels: status/4-merge

#39083 Bump fsnotify to HEAD.
  vendor.conf
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
Labels: status/2-code-review

#39055 Add client.WithTimeout() option
  client/options.go
  client/options_test.go
Labels: area/api, kind/enhancement, status/2-code-review

#39099 MAINTAINERS: update Akihiro Suda's email address
  .mailmap
  MAINTAINERS
Labels: area/project, status/3-docs-review

#39101 Update AUTHORS and .mailmap
  .mailmap
  AUTHORS
Labels: area/project, status/4-merge

#39095 Use existing Windows image for test instead of microsoft/nanoserver
  integration-cli/docker_cli_pull_test.go
Labels: area/testing, platform/windows, status/2-code-review

#39090 Add support for setting GOARM in cross target.
  hack/make/.binary
  hack/make/cross
  project/PACKAGERS.md
Labels: area/project, status/2-code-review

#39079 bump docker/swarmkit 59163bf75df38489d4a10392265d27156dc473c5
  vendor.conf
  vendor/code.cloudfoundry.org/clock/LICENSE
  vendor/code.cloudfoundry.org/clock/NOTICE
  vendor/code.cloudfoundry.org/clock/README.md
  vendor/code.cloudfoundry.org/clock/clock.go
  vendor/code.cloudfoundry.org/clock/package.go
  vendor/code.cloudfoundry.org/clock/ticker.go
  vendor/code.cloudfoundry.org/clock/timer.go
  vendor/github.com/docker/swarmkit/manager/allocator/cnmallocator/networkallocator.go
  vendor/github.com/docker/swarmkit/manager/role_manager.go
  vendor/github.com/docker/swarmkit/manager/state/raft/raft.go
  vendor/github.com/docker/swarmkit/node/node.go
  vendor/github.com/docker/swarmkit/vendor.conf
  vendor/github.com/pivotal-golang/clock/README.md
Labels: area/swarm, status/2-code-review

#39080 bump github.com/coreos/etcd v3.3.12
  vendor.conf
  vendor/github.com/coreos/etcd/snap/db.go
  vendor/github.com/coreos/etcd/snap/metrics.go
  vendor/github.com/coreos/etcd/version/version.go
Labels: status/2-code-review

#39074 Bump fluent/fluent-logger-golang v1.4.0
  daemon/logger/fluentd/fluentd.go
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/proto.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/proto_gen.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/test_message_gen.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/version.go
  vendor/github.com/tinylib/msgp/msgp/edit.go
  vendor/github.com/tinylib/msgp/msgp/errors.go
  vendor/github.com/tinylib/msgp/msgp/extension.go
  vendor/github.com/tinylib/msgp/msgp/purego.go
  vendor/github.com/tinylib/msgp/msgp/read.go
  vendor/github.com/tinylib/msgp/msgp/read_bytes.go
  vendor/github.com/tinylib/msgp/msgp/unsafe.go
  vendor/github.com/tinylib/msgp/msgp/write.go
Labels: area/logging, status/2-code-review

#39108 LCOW: (Experimental) Require RS5+ builds
  pkg/system/init_windows.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/guestrequest/types.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/callback.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/hcs.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/github.com/Microsoft/hcsshim/vendor.conf
Labels: area/lcow, impact/changelog, impact/deprecation, kind/experimental, platform/windows, status/4-merge

#39066 bump pkg/errors v0.8.1
  vendor.conf
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/stack.go
Labels: status/2-code-review

#39117 Add ability to override the version in make.ps1
  hack/make.ps1
Labels: area/packaging, status/4-merge

#39032 Add client.WithAPIVersionNegotiation() option
  client/client.go
  client/client_test.go
  client/hijack.go
  client/options.go
  client/request.go
Labels: kind/enhancement, status/2-code-review

#39091 Make CC toolchains available for other targets
  Dockerfile
Labels: area/project, status/4-merge

#39126 I can lose a screw if its on too loose
  daemon/cluster/swarm.go
Labels: status/4-merge

#39129 bump libnetwork 9ff9b57c344df5cd47443ad9e65702ec85c5aeb0
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/ov_endpoint_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/ov_network_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/port_mapping.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/portallocator/portallocator.go
  vendor/github.com/docker/libnetwork/portallocator/portallocator_windows.go
  vendor/github.com/docker/libnetwork/portmapper/mapper.go
  vendor/github.com/docker/libnetwork/portmapper/mapper_linux.go
  vendor/github.com/docker/libnetwork/portmapper/mapper_windows.go
  vendor/github.com/docker/libnetwork/portmapper/proxy_windows.go
Labels: area/networking, status/2-code-review

#39081 re-align userland-proxy with vendored version
  hack/dockerfile/install/proxy.installer
Labels: area/networking, status/2-code-review

#39103 Add Satoshi Nakamoto to names generator
  pkg/namesgenerator/names-generator.go
Labels: status/4-merge

#39132 vendor: update buildkit to 8818c67c
  builder/builder-next/controller.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/remotecache/local/local.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/image.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands.go
  vendor/github.com/moby/buildkit/session/upload/generate.go
  vendor/github.com/moby/buildkit/session/upload/upload.go
  vendor/github.com/moby/buildkit/session/upload/upload.pb.go
  vendor/github.com/moby/buildkit/session/upload/upload.proto
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/source/http/httpsource.go
  vendor/github.com/moby/buildkit/source/http/transport.go
  vendor/github.com/moby/buildkit/util/binfmt_misc/detect.go
Labels: area/builder, status/4-merge

#39128 bump docker/go-units v0.4.0
  vendor.conf
  vendor/github.com/docker/go-units/duration.go
  vendor/github.com/docker/go-units/ulimit.go
Labels: status/4-merge

#39115 Dockerfile.e2e fix TestBuildPreserveOwnership
  Dockerfile.e2e
Labels: area/testing, status/2-code-review

#39112 rootless: optional support for lxc-user-nic SUID binary
  contrib/dockerd-rootless.sh
  docs/rootless.md
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, status/4-merge

#39141 Updates daemon's remove link method to use more verbose error output.
  daemon/delete.go
Labels: status/4-merge

#39138 dockerd: fix rootless detection (alternative to #39024)
  cmd/dockerd/config_common_unix.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/docker.go
  docs/rootless.md
  opts/hosts.go
  rootless/rootless.go
Labels: area/rootless, status/1-design-review

#39116 Improve Dockerfile.e2e
  Dockerfile.e2e
  integration-cli/docker_api_containers_test.go
  integration/build/build_test.go
  integration/container/ipcmode_linux_test.go
  integration/container/run_linux_test.go
  integration/image/list_test.go
  integration/system/ping_test.go
  integration/system/uuid_test.go
  integration/volume/volume_test.go
Labels: area/testing, status/2-code-review

#39124 Revendor go-winio
  vendor.conf
  vendor/github.com/Microsoft/go-winio/file.go
  vendor/github.com/Microsoft/go-winio/hvsock.go
  vendor/github.com/Microsoft/go-winio/pipe.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/etw.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventdescriptor.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/eventopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/fieldopt.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/newprovider_unsupported.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/provider.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_32.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/wrapper_64.go
  vendor/github.com/Microsoft/go-winio/pkg/etw/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/etwlogrus/hook.go
  vendor/github.com/Microsoft/go-winio/pkg/guid/guid.go
  vendor/github.com/Microsoft/go-winio/syscall.go
  vendor/github.com/Microsoft/go-winio/zsyscall_windows.go
Labels: platform/arm, platform/windows, status/2-code-review

#39049 Add "import" statement to generated API types
  api/templates/server/operation.gotmpl
  api/types/container/container_changes.go
  api/types/container/container_create.go
  api/types/container/container_top.go
  api/types/container/container_update.go
  api/types/container/container_wait.go
  api/types/image/image_history.go
  api/types/volume/volume_create.go
  api/types/volume/volume_list.go
Labels: area/api, status/2-code-review

#39153 Update AUTHORS and mailmap
  .mailmap
  AUTHORS
Labels: area/project, status/3-docs-review

#38586 Use a regex to match labels
  daemon/logger/fluentd/fluentd.go
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gelf/gelf.go
  daemon/logger/gelf/gelf_test.go
  daemon/logger/journald/journald.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/logentries/logentries.go
  daemon/logger/loginfo.go
  daemon/logger/splunk/splunk.go
  daemon/logger/syslog/syslog.go
  daemon/logger/syslog/syslog_test.go
Labels: area/logging, rebuild/*, status/4-merge
