Repository moby/moby, pull requests merged in 2019-12, with the labels that each got.

#40186 Dockerd won't start if a network with the default subnet prefix already exists in HNS.
  daemon/daemon_windows.go
Labels: area/networking, kind/bugfix, platform/windows, status/2-code-review

#40283 Fix possible runtime panic in Lgetxattr
  pkg/system/xattrs_linux.go
Labels: area/images, kind/bugfix, process/cherry-pick, status/4-merge

#40178 builder/remotecontext: small refactor
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: area/builder, kind/refactor, status/2-code-review

#40295 Update containerd to v1.3.2
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#40280 Refresh maintainers list
  MAINTAINERS
Labels: area/project, status/4-merge

#39839 Testcase: Change time comparison logic.
  integration/volume/volume_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40179 builder/remotecontext: allow ssh:// for remote context URLs
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: area/builder, impact/changelog, impact/documentation, status/2-code-review

#40279 docs/rootless.md: move to https://docs.docker.com/engine/security/rootless/
  docs/rootless.md
Labels: area/docs, area/rootless, status/3-docs-review

#40180 Build binaries with minimal deps and remove autogen code
  .dockerignore
  .gitignore
  Dockerfile
  dockerversion/version_lib.go
  hack/make.sh
  hack/make/.go-autogen
Labels: area/project, kind/refactor, status/2-code-review

#40302 client.ImagePush(): default to ":latest" instead of "all tags"
  client/image_push.go
  client/image_push_test.go
Labels: area/api, area/distribution, impact/changelog, status/2-code-review

#40238 Allow client consumers like traefik to compile on illumos
  client/client_unix.go
Labels: status/4-merge

#40142 refactored integration/service/instead_test.go to ues unique resource…
  integration/service/inspect_test.go
Labels: area/testing, kind/refactor, status/2-code-review

#39845 integration-cli: re-enable TestRunAttachFailedNoLeak on RS3
  integration-cli/docker_cli_run_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/4-merge

#40108 bump google.golang.org/grpc v1.23.1
  vendor.conf
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
Labels: status/4-merge

#40268 Make sure that layers are removed from layerdb after succefull layer …
  integration/image/remove_unix_test.go
  layer/filestore.go
  layer/layer_store.go
Labels: area/storage, kind/bugfix, status/2-code-review

#40074 integration-cli: Fix `SA1019: httputil.ClientConn is deprecated`
  hack/validate/golangci-lint.yml
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_exec_resize_test.go
Labels: area/testing, status/2-code-review

#40317 rootless: fix proxying UDP packets
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, process/cherry-pick

#40259 api/server/router: use consts for HTTP methods
  api/server/router/local.go
Labels: area/api, kind/refactor, status/2-code-review

#40193 Volume plugin tests [integration/plugin/volumes] should always be executed - checks for OS Type should happen within the test
  integration/plugin/volumes/main_test.go
Labels: area/testing, platform/windows, status/2-code-review

#40257 bump containerd/go-runc a2952bc25f5116103a8b78f3817f6df759aa7def
  vendor.conf
  vendor/github.com/containerd/go-runc/runc.go
Labels: status/2-code-review

#40247 pkg/system: deprecate constants in favor of golang.org/x/sys/windows
  builder/dockerfile/copy_windows.go
  pkg/system/syscall_windows.go
Labels: kind/refactor, platform/windows, status/2-code-review

#40246 pkg/system: minor cleanups and remove use of deprecated system.GetOSVersion()
  daemon/daemon_windows.go
  pkg/parsers/operatingsystem/operatingsystem_windows.go
  pkg/system/syscall_windows.go
Labels: kind/refactor, platform/windows, status/2-code-review

#40146 libcontainerd: move hcsshim import to windows-only file
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
Labels: area/runtime, kind/refactor, status/2-code-review

#39998 Windows: Build and use gotestsum for running all tests
  Dockerfile.windows
  Jenkinsfile
  hack/ci/windows.ps1
  hack/make.ps1
Labels: area/testing, platform/windows, process/cherry-pick, status/4-merge

#40050 Jenkinsfile: force validate on master, and some fixes/improvements
  Jenkinsfile
  Makefile
  hack/validate/default
  hack/validate/default-seccomp
  hack/validate/deprecate-integration-cli
  hack/validate/golangci-lint
  hack/validate/pkg-imports
  hack/validate/swagger
  hack/validate/swagger-gen
  hack/validate/toml
  hack/validate/vendor
Labels: area/testing, process/cherry-pick, status/4-merge

#40326 Update Golang 1.13.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review
