Repository moby/moby, pull requests merged in 2020-07, with the labels that each got.

#41145 Upgrading the versions of images in Dockerfile.
  Dockerfile
  Dockerfile.e2e
  contrib/download-frozen-image-v1.sh
  contrib/mkimage.sh
  contrib/nnp-test/Dockerfile
  contrib/syscall-test/Dockerfile
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_cp_to_container_unix_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/fixtures_linux_daemon_test.go
  integration/container/nat_test.go
  integration/network/dns_test.go
  testutil/environment/protect.go
Labels: area/testing, status/2-code-review

#41029 vendor: opencontainers/selinux v1.5.2
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
Labels: area/security/selinux, status/2-code-review

#41157 info: improve "WARNING: Running in rootless-mode without cgroup"
  daemon/info_unix.go
Labels: area/rootless, kind/enhancement

#41025 update runc binary to v1.0.0-rc91
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, process/cherry-pick, status/2-code-review

#41186 daemon/stats: use const for clockTicksPerSecond
  daemon/stats/collector.go
  daemon/stats/collector_unix.go
  daemon/stats/collector_windows.go
Labels: kind/refactor, status/2-code-review

#41144 Revendor hcsshim to fix image import bug
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/baselayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/importlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/legacy.go
Labels: kind/bugfix, platform/windows, status/2-code-review

#41172 swagger: add DeviceRequests to container create, inspect example
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#41174 swagger: sync v1.40 and v1.39 formatting with current version
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#41168 Set minimum memory limit to 6M, to account for higher startup memory use
  daemon/daemon_unix.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_update_unix_test.go
  integration-cli/docker_deprecated_api_v124_test.go
Labels: impact/changelog, impact/documentation, status/2-code-review

#41083 info: add warnings about missing blkio cgroup support
  daemon/info_unix.go
Labels: impact/changelog, status/1-design-review

#41185 [19.03] vendor: buildkit dc6afa0f755f6cbb7e85f0df4ff4b87ec280cb32 (v0.6.4-15-gdc6afa0f)
  vendor.conf
  vendor/github.com/moby/buildkit/solver/exporter.go
Labels: area/builder, impact/changelog, status/2-code-review

#41192 [19.03 backport] vendor: hcsshim 9dcb42f100215f8d375b4a9265e5bba009217a85
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/README.md
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/options/runhcs.pb.go
  vendor/github.com/Microsoft/hcsshim/cmd/containerd-shim-runhcs-v1/options/runhcs.proto
  vendor/github.com/Microsoft/hcsshim/go.mod
  vendor/github.com/Microsoft/hcsshim/hnspolicy.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/cgo.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/syscall.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/utils.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnspolicy.go
  vendor/github.com/Microsoft/hcsshim/internal/schema1/schema1.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/devices.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/memory_2.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/virtual_pci_device.go
  vendor/github.com/Microsoft/hcsshim/internal/schema2/virtual_pci_function.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/activatelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/baselayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createscratchlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/deactivatelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/destroylayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/expandscratchsize.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/exportlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getlayermountpath.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getsharedbaseimages.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/grantvmaccess.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/importlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerexists.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerid.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerutils.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/legacy.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/nametoguid.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/preparelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/processimage.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/unpreparelayer.go
  vendor/github.com/Microsoft/hcsshim/layer.go
Labels: impact/changelog, kind/bugfix, platform/windows, status/4-merge

#41189 vendor: libnetwork 9e99af28df21367340c95a3863e31808d689c92a
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_device.go
  vendor/github.com/docker/libnetwork/iptables/firewalld.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/store.go
Labels: area/networking, impact/changelog, status/2-code-review

#40941 Don't use init() to set unpigz path
  pkg/archive/archive.go
Labels: status/2-code-review, status/4-merge

#40994 rm_test: fix goroutine leak
  pkg/system/rm_test.go
Labels: area/testing, status/2-code-review

#41182 Runtime configure shim
  api/types/types.go
  daemon/config/config.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/info.go
  daemon/reload_unix.go
  daemon/runtime_unix.go
  daemon/start.go
  daemon/start_unix.go
  daemon/start_windows.go
  daemon/util_test.go
  libcontainerd/libcontainerd_linux.go
  libcontainerd/libcontainerd_windows.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Labels: area/daemon, area/runtime, docs/revisit, impact/changelog, status/2-code-review

#41210 cgroup v1: change the default runtime to io.containerd.runc.v2
  daemon/runtime_unix.go
  daemon/start_unix.go
Labels: area/runtime, impact/changelog, kind/enhancement

#41214 Remove unused useShimV2()
  daemon/daemon_windows.go
  libcontainerd/libcontainerd_windows.go
Labels: kind/refactor, status/2-code-review

#40807 Improve error feedback when plugin does not implement desired interface
  daemon/logger/factory.go
  hack/make/test-docker-py
Labels: area/plugins, status/2-code-review

#40499 docker-py: override default API version to run all tests
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#41065 test-integration: support cgroup2
  hack/dind
  hack/make/.integration-daemon-start
  integration/container/run_cgroupns_linux_test.go
  integration/container/update_linux_test.go
Labels: area/testing, status/2-code-review

#41016 refactor some CPU RT and CFS code
  daemon/daemon_unix.go
  daemon/info_unix.go
  daemon/oci_linux.go
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
  runconfig/hostconfig_test.go
  runconfig/hostconfig_unix.go
Labels: kind/refactor, status/2-code-review

#41222 [19.03] vendor: moby/buildkit v0.6.4-20-g4cb720ef
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/tarsum.go
  vendor/github.com/moby/buildkit/cache/remotecache/inline/inline.go
Labels: area/builder, kind/bugfix, status/2-code-review

#41211 Bump Go 1.13.13
  Dockerfile
  Dockerfile.buildx
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: process/cherry-pick, status/2-code-review

#41221 testing: bump docker-py 4.2.2
  hack/make/test-docker-py
Labels: area/testing, status/2-code-review

#41224 Bump Golang 1.13.14
  Dockerfile
  Dockerfile.buildx
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, process/cherry-pick, status/4-merge

#41208 Remove use of mattn/go-shellwords
  pkg/parsers/kernel/kernel_darwin.go
  pkg/parsers/kernel/kernel_darwin_test.go
  pkg/parsers/operatingsystem/operatingsystem_linux.go
  pkg/parsers/operatingsystem/operatingsystem_linux_test.go
  vendor.conf
  vendor/github.com/mattn/go-shellwords/LICENSE
  vendor/github.com/mattn/go-shellwords/README.md
  vendor/github.com/mattn/go-shellwords/go.mod
  vendor/github.com/mattn/go-shellwords/shellwords.go
  vendor/github.com/mattn/go-shellwords/util_go15.go
  vendor/github.com/mattn/go-shellwords/util_posix.go
  vendor/github.com/mattn/go-shellwords/util_windows.go
Labels: kind/refactor, status/2-code-review

#40714 Add DefaultAddressPools to docker info
  api/swagger.yaml
  api/types/types.go
  daemon/info.go
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#41237 docs: add mention of DefaultAddressPools to API history
  docs/api/version-history.md
Labels: area/api, area/docs, status/3-docs-review

#41238 api/types: omit empty DefaultAddressPools
  api/types/types.go
Labels: area/api, impact/api, status/2-code-review

#41239 Fix log file rotation test.
  daemon/logger/loggerutils/logfile_test.go
Labels: area/testing, status/2-code-review

#41242 docs: add example calculations to container stats API
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#41235 [19.03 backport] Bump Golang 1.13.14
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#40711 merge default address pool flags with daemon config
  daemon/config/config_test.go
  opts/address_pools.go
Labels: area/daemon, kind/bugfix, process/cherry-pick, status/2-code-review

#41081 [19.03 backport] allocateNetwork: fix network sandbox not cleaned up on failure
  daemon/container_operations.go
Labels: area/networking, kind/bugfix, status/2-code-review

#41247 docs: sync swagger changes to v1.40 and v1.39
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, process/cherry-picked, status/3-docs-review

#41248 [19.03 backport] Swagger Updates
  api/swagger.yaml
  api/types/container/container_top.go
  api/types/volume.go
  api/types/volume/volume_create.go
  api/types/volume/volume_list.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, status/3-docs-review

#41267 Swagger: fix type for BuildCache CreatedAt and LastUsedAt
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, kind/bugfix, process/cherry-pick, status/3-docs-review

#41269 [19.03] vendor: moby/buildkit v0.6.4-26-ga1e4f48e
  vendor.conf
  vendor/github.com/moby/buildkit/cache/contenthash/filehash.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/cachestorage.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/chains.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
Labels: area/builder, status/2-code-review

#41249 Replace swarm Capabilites API with cap add/drop API
  api/server/router/container/container_routes.go
  api/server/router/swarm/helpers.go
  api/swagger.yaml
  api/types/container/host_config.go
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  daemon/container.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  docs/api/version-history.md
  integration/container/create_test.go
  integration/internal/swarm/service.go
  integration/service/create_test.go
  oci/caps/utils.go
  vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Labels: area/api, area/swarm, impact/api, impact/changelog, status/2-code-review, status/4-merge

#41270 Remove apt.dockerproject.org from test
  integration-cli/docker_cli_run_test.go
Labels: area/testing, process/cherry-picked, status/4-merge

#41236 Swagger: move system version response to definitions
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, impact/documentation, process/cherry-pick, status/4-merge

#41271 [19.03 backport] Remove apt.dockerproject.org from test
  integration-cli/docker_cli_run_test.go
Labels: area/testing, status/2-code-review

#41254 Deprecate KernelMemory
  api/swagger.yaml
  api/types/container/host_config.go
  api/types/types.go
  daemon/daemon_unix.go
  daemon/info_unix.go
  docs/api/version-history.md
Labels: impact/api, impact/changelog, impact/deprecation, status/2-code-review

#40826 ServiceCreate/ServiceUpdate: refactor and fix potential NPE
  client/service_create.go
  client/service_update.go
Labels: area/swarm, kind/bugfix, kind/refactor, status/2-code-review

#41277 [19.03 backport] bump up rootlesskit to v0.10.0
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, status/2-code-review

#41275 bump up rootlesskit to v0.10.0
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, kind/bugfix, process/cherry-pick

#41207 Remove some outdated terminology where possible
  builder/dockerfile/copy_windows.go
  distribution/xfer/transfer.go
  plugin/manager.go
  profiles/seccomp/seccomp_default.go
Labels: kind/refactor, status/2-code-review

#41279 [19.03] vendor: moby/buildkit v0.6.4-28-gda1f4bf1
  vendor.conf
  vendor/github.com/moby/buildkit/cache/refs.go
Labels: area/builder, impact/changelog, kind/bugfix, status/2-code-review

#41274 [19.03 backport] plugin: fix a double RLock bug
  plugin/store.go
Labels: area/plugins, kind/bugfix, status/2-code-review

#41273 [19.03 backport] Assorted swagger fixes
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, status/3-docs-review

#41282 vendor: docker/swarmkit 293aa2e66279a930999044cbf6d0e590baac16ff
  vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Labels: area/swarm, status/4-merge

#41283 vendor: vishvananda/netns db3c7e526aae966c4ccfa6c8189b693d6ac5d202
  vendor.conf
  vendor/github.com/vishvananda/netns/go.mod
  vendor/github.com/vishvananda/netns/netns.go
  vendor/github.com/vishvananda/netns/netns_linux.go
Labels: area/networking, kind/bugfix, process/cherry-picked, status/2-code-review

#41259 API: add "prune" events
  api/server/backend/build/backend.go
  api/swagger.yaml
  api/types/events/events.go
  cmd/dockerd/daemon.go
  daemon/images/image_prune.go
  daemon/prune.go
  docs/api/version-history.md
  volume/service/service.go
Labels: area/api, impact/api, impact/changelog, status/1-design-review

#41288 oci: correctly use user.GetExecUser interface
  daemon/oci_linux.go
Labels: area/runtime, kind/bugfix, process/cherry-picked, status/2-code-review

#41291 oci/deviceCgroup(): remove redundant variable
  oci/devices_linux.go
Labels: kind/refactor, status/2-code-review

#41281 vendor: update containerd/continuity efbc4488d8fe1bdc16bde3b2d2990d9b3a899165
  vendor.conf
  vendor/github.com/containerd/continuity/devices/devices_unix.go
  vendor/github.com/containerd/continuity/driver/driver.go
  vendor/github.com/containerd/continuity/driver/driver_unix.go
  vendor/github.com/containerd/continuity/driver/driver_windows.go
  vendor/github.com/containerd/continuity/fs/path.go
  vendor/github.com/containerd/continuity/go.mod
  vendor/github.com/containerd/continuity/syscallx/syscall_unix.go
  vendor/github.com/containerd/continuity/syscallx/syscall_windows.go
  vendor/github.com/containerd/continuity/sysx/file_posix.go
  vendor/github.com/containerd/continuity/sysx/xattr.go
  vendor/github.com/containerd/continuity/sysx/xattr_unsupported.go
Labels: kind/bugfix, status/2-code-review

#41284 Support ulimits on Swarm services.
  api/server/router/swarm/helpers.go
  api/server/router/swarm/helpers_test.go
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  docs/api/version-history.md
  vendor.conf
  vendor/github.com/docker/swarmkit/api/specs.pb.go
  vendor/github.com/docker/swarmkit/api/specs.proto
Labels: area/api, area/swarm, impact/api, impact/changelog, impact/documentation, status/2-code-review

#41227 Work around missing shim event
  daemon/kill.go
  daemon/monitor.go
Labels: area/runtime, kind/bugfix, process/cherry-pick, status/2-code-review

#41297 docker.service: Add multi-user.target to After= in unit file
  contrib/init/systemd/docker.service
Labels: area/packaging, area/systemd, impact/changelog, status/2-code-review

#41287 [19.03 backport] vendor: vishvananda/netns db3c7e526aae966c4ccfa6c8189b693d6ac5d202
  vendor.conf
  vendor/github.com/vishvananda/netns/go.mod
  vendor/github.com/vishvananda/netns/netns.go
  vendor/github.com/vishvananda/netns/netns_linux.go
Labels: area/networking, impact/changelog, kind/bugfix, status/2-code-review

#41301 fix buildkit nil panic when frontend image exists
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, status/4-merge
