Repository moby/moby, pull requests merged in 2020-03, with the labels that each got.

#40597 vendor: update opencontainers/selinux v1.3.3
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs.go
Labels: area/security/selinux, status/2-code-review

#40609 Update Windows ico
  hack/make/.resources-windows/dockerd.ico
  hack/make/.resources-windows/dockerd.png
Labels: platform/windows, status/4-merge

#40486 rootless: support `--exec-opt native.cgroupdriver=systemd`
  daemon/daemon_unix.go
  daemon/oci_linux.go
  hack/dockerfile/install/rootlesskit.installer
  rootless/specconv/specconv_linux.go
Labels: area/rootless, impact/changelog, kind/enhancement, status/2-code-review

#37470 Allow socket activation
  contrib/init/systemd/docker.socket
Labels: area/packaging, area/systemd, status/2-code-review

#40493 integration: use systemd when $DOCKER_SYSTEMD is set
  Dockerfile
  Makefile
  integration/system/cgroupdriver_systemd_test.go
Labels: area/systemd, area/testing, status/2-code-review

#40607 validate: add shfmt
  Dockerfile
  contrib/check-config.sh
  contrib/docker-machine-install-bundle.sh
  contrib/dockerd-rootless.sh
  contrib/dockerize-disk.sh
  contrib/download-frozen-image-v1.sh
  contrib/download-frozen-image-v2.sh
  contrib/gitdm/generate_aliases.sh
  contrib/init/openrc/docker.initd
  contrib/init/sysvinit-debian/docker
  contrib/init/sysvinit-redhat/docker
  contrib/mac-install-bundle.sh
  contrib/mkimage-alpine.sh
  contrib/mkimage-arch.sh
  contrib/mkimage-crux.sh
  contrib/mkimage-yum.sh
  contrib/mkimage.sh
  contrib/mkimage/busybox-static
  contrib/mkimage/debootstrap
  contrib/mkimage/mageia-urpmi
  contrib/nuke-graph-directory.sh
  contrib/report-issue.sh
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/proxy.installer
  hack/dockerfile/install/rootlesskit.installer
  hack/dockerfile/install/shfmt.installer
  hack/generate-authors.sh
  hack/make.sh
  hack/make/.binary
  hack/make/.detect-daemon-osarch
  hack/make/.integration-daemon-start
  hack/make/.integration-daemon-stop
  hack/make/.integration-test-helpers
  hack/make/binary-daemon
  hack/make/dynbinary-daemon
  hack/make/run
  hack/make/test-docker-py
  hack/make/test-integration
  hack/make/test-integration-flaky
  hack/test/e2e-run.sh
  hack/test/unit
  hack/validate/all
  hack/validate/dco
  hack/validate/default
  hack/validate/default-seccomp
  hack/validate/deprecate-integration-cli
  hack/validate/golangci-lint
  hack/validate/pkg-imports
  hack/validate/shfmt
  hack/validate/swagger
  hack/validate/swagger-gen
  hack/validate/toml
  integration-cli/fixtures/auth/docker-credential-shell-test
Labels: area/testing, kind/refactor, status/4-merge

#40614 Add warnings for deprecated "cluster" functions, and deprecate API fields
  api/swagger.yaml
  api/types/types.go
  daemon/config/config.go
  daemon/info.go
  docs/api/version-history.md
Labels: impact/changelog, impact/deprecation, status/2-code-review

#40630 Fix `make shell`
  Dockerfile
Labels: area/project, kind/bugfix, status/4-merge

#40631 Remove "could not get checksum with tar-split" debug message
  layer/migration.go
Labels: area/builder, status/2-code-review

#40635 rootless: launch rootlesskit with --propagation=rslave
  contrib/dockerd-rootless.sh
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, kind/enhancement, status/4-merge

#40596 vendor: bump libnetwork bf2bd42abc0a3734f12b5ec724e571434e42c669
  hack/dockerfile/install/proxy.installer
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge_store.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/ipvlan/ipvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_joinleave.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_network.go
  vendor/github.com/docker/libnetwork/iptables/firewalld.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.pb.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/godbus/dbus/LICENSE
  vendor/github.com/godbus/dbus/README.markdown
  vendor/github.com/godbus/dbus/auth.go
  vendor/github.com/godbus/dbus/auth_external.go
  vendor/github.com/godbus/dbus/auth_sha1.go
  vendor/github.com/godbus/dbus/call.go
  vendor/github.com/godbus/dbus/conn.go
  vendor/github.com/godbus/dbus/conn_darwin.go
  vendor/github.com/godbus/dbus/conn_other.go
  vendor/github.com/godbus/dbus/dbus.go
  vendor/github.com/godbus/dbus/decoder.go
  vendor/github.com/godbus/dbus/doc.go
  vendor/github.com/godbus/dbus/encoder.go
  vendor/github.com/godbus/dbus/export.go
  vendor/github.com/godbus/dbus/homedir.go
  vendor/github.com/godbus/dbus/homedir_dynamic.go
  vendor/github.com/godbus/dbus/homedir_static.go
  vendor/github.com/godbus/dbus/message.go
  vendor/github.com/godbus/dbus/object.go
  vendor/github.com/godbus/dbus/sig.go
  vendor/github.com/godbus/dbus/transport_darwin.go
  vendor/github.com/godbus/dbus/transport_generic.go
  vendor/github.com/godbus/dbus/transport_tcp.go
  vendor/github.com/godbus/dbus/transport_unix.go
  vendor/github.com/godbus/dbus/transport_unixcred_dragonfly.go
  vendor/github.com/godbus/dbus/transport_unixcred_linux.go
  vendor/github.com/godbus/dbus/variant.go
  vendor/github.com/godbus/dbus/variant_lexer.go
  vendor/github.com/godbus/dbus/variant_parser.go
Labels: area/networking, impact/changelog, status/2-code-review

#40650 fix backingFs assignment
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Labels: kind/bugfix, process/cherry-pick, status/4-merge

#40645 pkg/system: replace more uses of "syscall"
  pkg/system/path_windows.go
Labels: kind/refactor, status/2-code-review

#40625 Add TC for com.docker.network.host_ipv4 label
  integration/network/network_test.go
Labels: area/networking, area/testing, status/4-merge

#40538 hack: support $DOCKER_ROOTLESS for testing rootless
  Dockerfile
  Jenkinsfile
  Makefile
  hack/make/.integration-daemon-start
  hack/make/.integration-test-helpers
  hack/make/run
  integration/container/ipcmode_linux_test.go
  integration/container/kill_test.go
  integration/container/links_linux_test.go
  integration/container/mounts_linux_test.go
  integration/container/pause_test.go
  integration/container/run_linux_test.go
  integration/container/stats_test.go
  integration/container/update_linux_test.go
  integration/network/service_test.go
  testutil/daemon/daemon.go
  testutil/environment/environment.go
Labels: area/rootless, area/testing, status/4-merge

#40658 containerd.installer: install containerd-shim-runc-v2
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review

#40648 pkg/symlink: don't depend on pkg/system and pkg/longpath
  pkg/symlink/fs.go
  pkg/symlink/fs_unix.go
  pkg/symlink/fs_windows.go
Labels: kind/refactor, status/2-code-review

#40661 ci: update golangci-lint v1.23.8
  hack/dockerfile/install/golangci_lint.installer
Labels: area/testing, status/2-code-review

#40649 pkg/system: remove unused CommandLineToArgv
  pkg/system/syscall_unix.go
  pkg/system/syscall_windows.go
Labels: impact/deprecation, kind/refactor, platform/windows, status/2-code-review

#40656 Make mount.Mount() faster^W great again
  pkg/archive/archive_linux.go
  pkg/archive/archive_linux_test.go
  pkg/mount/mount.go
Labels: area/storage, status/2-code-review

#40637 EnsureRemoveAll, RecursiveUnmount: don't call Mounted around Unmount
  pkg/mount/mount.go
  pkg/system/rm.go
Labels: kind/performance, kind/refactor, status/4-merge

#40647 pkg/system: minor linting issues and refactor
  pkg/system/filesys_windows.go
  pkg/system/path_windows_test.go
  pkg/system/process_windows.go
Labels: kind/refactor, status/2-code-review

#40670 fix linting in pkg/mount
  pkg/mount/mount.go
Labels: area/testing, status/4-merge

#40669 Switch to s390x Ubuntu 18.04 (carry 40663)
  Jenkinsfile
Labels: area/testing, status/2-code-review

#40677 vendor: update fsnotify v1.4.9
  vendor.conf
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/go.mod
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
Labels: status/2-code-review

#39816 Remove `SystemInfo()` error handling.
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/executor.go
  daemon/daemon.go
  daemon/events.go
  daemon/info.go
Labels: status/4-merge

#40680 unit test on TestParseSignal failed within pkg/signal package on mips64el
  pkg/signal/signal_linux_mipsx.go
Labels: kind/bugfix, status/4-merge

#40558 [19.03 backport] various dockerfile changes and update to buster variant
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/dockercli.installer
  hack/dockerfile/install/gotestsum.installer
  hack/dockerfile/install/proxy.installer
  hack/dockerfile/install/runc.installer
  hack/dockerfile/install/tini.installer
  hack/dockerfile/install/tomlv.installer
  hack/dockerfile/install/vndr.installer
  hack/make/.integration-daemon-stop
  hack/make/containerutility
Labels: area/project, area/testing, kind/refactor

#40671 Move schema1 deprecation notice
  distribution/push_v2.go
Labels: area/distribution, impact/deprecation, kind/bugfix, process/cherry-pick, status/4-merge

#40652 [19.03 backport] fix backingFs assignment
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, kind/bugfix, status/4-merge

#40666 daemon: fail early if rootless && cgroupdriver == "systemd" && cgroup v1
  daemon/daemon_unix.go
Labels: area/rootless, status/2-code-review

#38788 service: support --mount type=bind,bind-nonrecursive
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  docs/api/version-history.md
Labels: area/swarm, impact/api, impact/changelog, status/2-code-review

#40633 update VPNKit
  Dockerfile
Labels: area/rootless, status/2-code-review

#40564 [19.03 backport] AppArmor fixes
  contrib/apparmor/template.go
Labels: area/security, area/security/apparmor, area/security/userns, kind/bugfix, status/2-code-review

#40718 vendor: bump libnetwork ef149a924dfde2e506ea3cb3f617d7d0fa96b8ee
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_forwarding.go
  vendor/github.com/docker/libnetwork/resolver.go
Labels: area/networking, status/4-merge

#40617 [19.03 backport] Update DNS library
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/resolver.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/miekg/dns/LICENSE
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/clientconfig.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/format.go
  vendor/github.com/miekg/dns/fuzz.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/go.mod
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/listen_go111.go
  vendor/github.com/miekg/dns/listen_go_not111.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/rawmsg.go
  vendor/github.com/miekg/dns/reverse.go
  vendor/github.com/miekg/dns/sanitize.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/scanner.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/singleinflight.go
  vendor/github.com/miekg/dns/smimea.go
  vendor/github.com/miekg/dns/tlsa.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/udp_windows.go
  vendor/github.com/miekg/dns/update.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/xfr.go
  vendor/github.com/miekg/dns/zcompress.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
Labels: area/networking, status/2-code-review

#40689 test-integration: support more rootless tests
  hack/dockerfile/install/rootlesskit.installer
  integration/container/daemon_linux_test.go
  integration/container/ipcmode_linux_test.go
  integration/container/restart_test.go
  integration/image/remove_unix_test.go
  integration/internal/swarm/service.go
  integration/network/inspect_test.go
  integration/network/macvlan/macvlan_test.go
  integration/network/network_test.go
  integration/plugin/authz/main_test.go
  integration/plugin/graphdriver/external_test.go
  integration/plugin/volumes/mounts_test.go
  integration/system/info_linux_test.go
  testutil/daemon/daemon.go
  testutil/daemon/daemon_unix.go
  testutil/daemon/daemon_windows.go
  testutil/daemon/ops.go
Labels: area/rootless, area/testing, status/2-code-review
