Repository moby/moby, pull requests merged in 2020-08, with the labels that each got.

#41306 Supplement the omission of pr#41145
  integration-cli/docker_cli_daemon_test.go
Labels: area/testing, status/2-code-review

#41295 Disable manifest v2 schema 1 push
  distribution/push_v2.go
  hack/make/.integration-daemon-start
Labels: area/distribution, impact/changelog, impact/deprecation, impact/documentation, status/2-code-review

#41292 Pass underlying network error in ErrorConnectionFailed
  client/request.go
Labels: kind/bugfix, process/cherry-pick, status/4-merge

#41310 update containerd to v1.3.7
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, process/cherry-pick, status/2-code-review

#41311 fix TestDaemonNoSpaceLeftOnDeviceError for mips64le
  integration-cli/docker_cli_daemon_test.go
Labels: area/testing, status/4-merge

#41317 Update runc binary to v1.0.0-rc92
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/4-merge

#41341 Wait for container exit before forcing handler
  daemon/kill.go
Labels: area/daemon, kind/bugfix, status/4-merge

#41339 Update tini v0.19.0
  hack/dockerfile/install/tini.installer
Labels: status/4-merge

#41340 Update docker-py to 4.3.0
  hack/make/test-docker-py
Labels: area/testing, status/4-merge

#41326 builder/remotecontext: use lowercase for error
  builder/dockerfile/internals_test.go
  builder/remotecontext/detect.go
Labels: area/builder, kind/refactor

#41329 Add more error message for ops when container limit use an device whi…
  daemon/daemon_unix.go
Labels: kind/enhancement, status/4-merge

#41316 Update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/3-docs-review

#41333 Bump Golang 1.13.15
  Dockerfile
  Dockerfile.buildx
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, process/cherry-picked, status/2-code-review

#41353 Add openat2 and faccessat2 to default seccomp profile.
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, process/cherry-pick, status/4-merge

#41327 Builder: print relative path if COPY/ADD source path was not found
  builder/dockerfile/copy.go
  integration-cli/docker_cli_build_test.go
Labels: area/builder, kind/enhancement, status/2-code-review

#41335 daemon.setupPathsAndSandboxOptions() skip resolving symlinks
  daemon/container_operations_unix.go
Labels: kind/refactor, status/2-code-review

#41357 opts: simplify ValidateEnv to use os.LookupEnv
  opts/env.go
  opts/env_test.go
Labels: kind/refactor, status/2-code-review

#41377 pkg/idtools: refactor to avoid string-splitting
  pkg/idtools/idtools_unix.go
  pkg/idtools/usergroupadd_linux.go
  pkg/idtools/utils_unix.go
Labels: area/security/userns, impact/changelog, status/2-code-review

#40982 update containerd binary to v1.4.0
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/4-merge
