Repository moby/moby, pull requests merged in 2020-02, with the labels that each got.

#40453 [19.03] update containerd 1.12.12, runc v1.0.0-rc10
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/README.md
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/cgroups.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/github.com/opencontainers/runc/vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
Labels: area/runtime, area/security/selinux, impact/changelog, status/2-code-review, status/4-merge

#40451 Check tmpfs mounts before create anon volume
  daemon/create_unix.go
  integration/container/create_test.go
  integration/internal/container/ops.go
Labels: kind/bugfix, status/2-code-review

#40465 Add vpnkit back to binary targets
  Dockerfile
Labels: area/project, kind/bugfix, status/4-merge

#40467 testing: bump docker-py to 4.2.0
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#40471 bump vndr v0.1.1
  hack/dockerfile/install/vndr.installer
Labels: area/testing, process/cherry-pick, status/2-code-review

#40469 update containerd binary to v1.3.3
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#40460 [19.03 backport] dockerd-rootless.sh: remove confusing code comment
  contrib/dockerd-rootless.sh
Labels: area/rootless, status/3-docs-review

#40487 swagger: document "node.platform.(arch|os)" constraints
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#40470 TestResumableRequestHeaderTooMuchFailures: prepare for Go 1.14 changes
  registry/resumable/resumablerequestreader_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40473 TestLoginFailsWithBadCredentials: prepare for Go 1.14 changes
  integration/system/login_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40488 Fix typos in dockerignore_test.go
  builder/dockerignore/dockerignore_test.go
Labels: area/testing, status/4-merge

#39086 Fluentd: add fluentd-async, fluentd-request-ack, and deprecate fluentd-async-connect
  daemon/logger/fluentd/fluentd.go
  docs/api/version-history.md
Labels: area/api, area/docs, area/logging, docs/revisit, impact/changelog, impact/deprecation, impact/documentation, kind/enhancement, status/2-code-review

#40491 API: remove deprecated "filter" parameter for API v1.41 and up
  api/server/router/image/image_routes.go
  docs/api/version-history.md
Labels: area/api, impact/changelog, impact/deprecation, status/2-code-review

#40501 fix goimports
  pkg/authorization/api_test.go
  reference/store_test.go
  runconfig/hostconfig_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40502 Fix more goimports
  daemon/logger/splunk/splunk_test.go
  integration-cli/docker_cli_build_test.go
  integration/build/build_test.go
  integration/image/remove_unix_test.go
  integration/service/jobs_test.go
Labels: area/testing, process/cherry-pick

#40497 Set the bip network value as the subnet
  daemon/daemon_unix.go
  integration/network/service_test.go
Labels: area/daemon, area/networking, kind/bugfix, process/cherry-pick, status/4-merge

#40506 Jenkinsfile: temporarily pin windows image to 10.0.17763.973
  Jenkinsfile
Labels: area/testing, status/4-merge

#40500 docker-py: skip flaky AttachContainerTest::test_attach_no_stream (again)
  hack/make/test-docker-py
Labels: area/testing, process/cherry-pick, status/2-code-review

#40394 enforce reserve internal labels.
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
  opts/opts.go
  opts/opts_test.go
Labels: impact/changelog, impact/deprecation, status/4-merge

#34958 Fixes #33434 - API docs to specify using base64url
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#40523 Fix go-swagger to work with Go 1.14
  Dockerfile
Labels: area/project, kind/bugfix, process/cherry-pick, status/2-code-review

#40489 Vendor check to succeed even if copyright information is not found
  hack/validate/vendor
Labels: area/testing, kind/bugfix, process/cherry-pick, status/4-merge

#40462 [19.03 backport] overlay[2]: rm extra checks in init
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/overlayutils/overlayutils.go
Labels: area/rootless, area/storage/overlay

#40533 [19.03] Update Golang 1.12.17
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#40540 [19.03] update containerd runtime v1.2.13
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#40490 [19.03 backport] swagger: document "node.platform.(arch|os)" constraints
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, area/docs, status/3-docs-review

#40542 vendor: golang.org/x/crypto 1d94cc7ab1c630336ab82ccb9c9cda72a875c382
  vendor.conf
Labels: status/2-code-review

#40481 Use condition variable to wake stats collector.
  daemon/stats/collector.go
Labels: kind/performance, process/cherry-pick

#40546 vendor: update opencontainers/selinux v1.3.1
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go.mod
Labels: area/security/selinux, process/cherry-picked, status/2-code-review

#40137 daemon: add grpc.WithBlock option
  daemon/daemon.go
Labels: area/runtime, status/2-code-review

#40526 Update windows container utility to fix compilation on gcc-mingw-w64 8.3
  hack/make/containerutility
Labels: area/project, process/cherry-pick, status/2-code-review

#40532 Update Golang 1.13.8
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#40551 [19.03 backport] Jenkinsfile: temporarily pin windows image to 10.0.17763.973
  Jenkinsfile
Labels: area/testing, platform/windows, status/2-code-review

#40549 [19.03 backport] Use condition variable to wake stats collector.
  daemon/stats/collector.go
Labels: impact/changelog, kind/performance, status/4-merge

#40555 [19.03 backport] daemon: add grpc.WithBlock option
  daemon/daemon.go
Labels: area/runtime, status/2-code-review

#40557 [19.03] vendor: update buildkit v0.6.4
  vendor.conf
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
Labels: area/builder, impact/changelog, kind/bugfix, status/2-code-review

#40560 [19.03 backport] Update API docs to specify using base64url
  api/swagger.yaml
Labels: area/api, area/docs, status/3-docs-review

#40547 [19.03 backport] vendor: update opencontainers/selinux v1.3.1
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go.mod
Labels: area/security/selinux, status/2-code-review

#40477 [19.03] Check tmpfs mounts before create anon volume
  daemon/create_unix.go
  integration/container/create_test.go
  integration/internal/container/ops.go
Labels: area/volumes, impact/changelog, status/2-code-review

#40570 docs: add API versions v1.25 - v1.29, v1.38 - v1.40
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, status/3-docs-review

#40575 [19.03 backport] docs: add API versions v1.25 - v1.29, v1.38 - v1.40
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, status/3-docs-review

#40475 Exec inspect field should be "ID" not "ExecID"
  api/types/client.go
  integration/container/exec_test.go
Labels: process/cherry-picked, status/2-code-review

#40512 Revert "Jenkinsfile: temporarily pin windows image to 10.0.17763.973"
  Jenkinsfile
Labels: area/testing, process/cherry-pick, status/2-code-review

#40586 [19.03] Revert "Jenkinsfile: temporarily pin windows image to 10.0.17763.973"
  Jenkinsfile
Labels: area/testing, status/2-code-review

#40585 pkg/system.getxattr: handle changed size case
  pkg/system/xattrs_linux.go
Labels: status/2-code-review

#40543 Upstream logging changes from Enterprise Edition
  container/container.go
  daemon/logdrivers_linux.go
  daemon/logdrivers_windows.go
  daemon/logger/factory.go
  daemon/logger/log_cache_opts.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/logger/loggerutils/cache/log_cache_test.go
  daemon/logger/loggerutils/cache/validate.go
  daemon/logs.go
  integration/plugin/logging/cmd/discard/driver.go
  integration/plugin/logging/cmd/discard/main.go
  integration/plugin/logging/cmd/discard/main_test.go
  integration/plugin/logging/read_test.go
Labels: area/logging, docs/revisit, impact/changelog, impact/documentation, kind/feature, status/2-code-review

#40583 Update CRIU to v3.13 "Silicon Willet"
  Dockerfile
Labels: area/testing, kind/experimental, status/2-code-review

#40576 Revert "Don't die when daemon cannot read certs.d"
  registry/registry.go
Labels: area/rootless, status/2-code-review

#40510 Deprecate '--cluster-xx' options and add warning
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
Labels: impact/deprecation, status/2-code-review

#40588 plugin: fix a double RLock bug
  plugin/store.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review

#40566 [19.03 backport] bump google.golang.org/grpc v1.23.1
  vendor.conf
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
Labels: status/2-code-review

#40594 daemon/cluster: add a missing Unlock
  daemon/cluster/swarm.go
Labels: kind/bugfix, process/cherry-pick, status/4-merge

#40461 [19.03 backport] Use certs.d from XDG_CONFIG_HOME when in rootless mode (fixes #40236)
  registry/registry.go
Labels: area/rootless, status/2-code-review

#40476 [19.03] Exec inspect field should be "ID" not "ExecID"
  api/types/client.go
  integration/container/exec_test.go
Labels: area/api, status/4-merge

#40604 [19.03 backport] daemon/cluster: add a missing Unlock
  daemon/cluster/swarm.go
Labels: kind/bugfix, status/2-code-review

#40601 vendor: update gotest.tools v3.0.2
  vendor.conf
  vendor/gotest.tools/v3/assert/assert.go
Labels: area/testing, kind/bugfix, process/cherry-pick, status/2-code-review
