Repository moby/moby, pull requests merged in 2020-06, with the labels that each got.

#41068 api/types: remove errdefs dependency
  api/server/router/network/network_routes.go
  api/types/network/network.go
Labels: area/api, kind/refactor, status/2-code-review

#41030 Add default sysctls to allow ping sockets and privileged ports with no capabilities
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration-cli/docker_cli_run_unix_test.go
Labels: impact/changelog, status/2-code-review

#40937 API: split types for Resources Reservations and Limits
  api/swagger.yaml
  api/types/swarm/task.go
  daemon/cluster/convert/service.go
Labels: area/api, impact/api, status/2-code-review

#41067 make install: install containerd-shim-runc-v2 + remove useless constants
  hack/make/.binary-setup
  hack/make/install-binary
Labels: status/2-code-review

#41020 allocateNetwork: fix network sandbox not cleaned up on failure
  daemon/container_operations.go
Labels: area/networking, kind/bugfix, status/2-code-review

#41078 Bump Golang 1.13.12
  Dockerfile
  Dockerfile.buildx
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: process/cherry-pick, status/2-code-review

#41018 remove group name from identity mapping
  daemon/daemon_unix.go
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Labels: area/security/userns, status/2-code-review

#41070 int/build/TestBuildWithEmptyLayers: prevent panic
  integration/build/build_test.go
Labels: area/testing, status/4-merge

#41085 int-cli/TestRunInvalidCPUShares: fix for newer runc
  integration-cli/docker_cli_run_unix_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40938 API: swarm: move PidsLimit to TaskTemplate.Resources
  api/server/router/swarm/helpers.go
  api/server/router/swarm/helpers_test.go
  api/swagger.yaml
  api/types/swarm/container.go
  api/types/swarm/task.go
  daemon/cluster/convert/container.go
  daemon/cluster/convert/service.go
  docs/api/version-history.md
  integration/internal/swarm/service.go
  integration/service/update_test.go
Labels: area/api, area/swarm, impact/api

#41075 Fixes #41010 skip empty lines
  daemon/logger/syslog/syslog.go
Labels: area/logging, status/2-code-review

#41082 [19.03 backport] Bump Golang 1.13.12
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#41099 Make script pass shellcheck
  contrib/download-frozen-image-v2.sh
Labels: area/contrib, status/4-merge

#41108 use containerd/sys to detect UserNamespaces
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/quota/projectquota.go
  daemon/oci_linux.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/chrootarchive/chroot_linux.go
  pkg/chrootarchive/diff_unix.go
  pkg/sysinfo/cgroup2_linux.go
Labels: area/security/userns, kind/refactor, status/2-code-review

#41117 fix code note when push all tags
  distribution/push_v2.go
Labels: status/4-merge

#41088 [19.03 backport] int-cli/TestRunInvalidCPUShares: fix for newer runc
  integration-cli/docker_cli_run_unix_test.go
Labels: area/testing, status/2-code-review

#41063 testing: bump docker-py 4.2.1
  hack/make/test-docker-py
Labels: area/testing, status/2-code-review

#41124 [19.03] vendor: docker/libnetwork 026aabaa659832804b01754aaadd2c0f420c68b6 (bump_19.03 branch)
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_device.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/store.go
Labels: area/networking, status/2-code-review

#41098 dockerd-rootless-setuptool.sh: use safer XRD on non-systemd hosts
  contrib/dockerd-rootless-setuptool.sh
Labels: area/rootless, status/2-code-review

#41149 project: remove obviously outdated docs
  project/ARM.md
  project/IRC-ADMINISTRATION.md
  project/PACKAGE-REPO-MAINTENANCE.md
  project/TOOLS.md
Labels: area/docs, status/3-docs-review

#41022 Better selection of DNS server
  daemon/container_operations_unix.go
Labels: area/networking, impact/changelog, status/2-code-review

#41150 Switch all Dockerfiles to use "buster" variant
  Dockerfile.buildx
  Dockerfile.simple
Labels: area/testing, process/cherry-pick, status/2-code-review

#41147 contrib: remove outdated examples and files
  contrib/REVIEWERS
  contrib/desktop-integration/README.md
  contrib/desktop-integration/chromium/Dockerfile
  contrib/desktop-integration/gparted/Dockerfile
  contrib/init/systemd/REVIEWERS
  contrib/init/upstart/REVIEWERS
  contrib/vagrant-docker/README.md
Labels: area/contrib, status/2-code-review

#41125 TestDaemonDNSFallback: increase timeout to reduce flakiness
  integration/network/dns_test.go
Labels: area/testing, status/2-code-review

#41140 TestUserNoEffectiveCapabilitiesNetBindService: conditionally set net.ipv4.ip_unprivileged_port_start
  integration-cli/docker_cli_run_unix_test.go
Labels: area/testing, status/2-code-review

#41146 dockerd-rootless.sh: allow specifying DOCKERD_ROOTLESS_ROOTLESSKIT_PORT_DRIVER
  contrib/dockerd-rootless.sh
Labels: area/rootless, kind/enhancement, process/cherry-pick, status/2-code-review

#41153 chrootarchive: fix "conversion from int to string yields a string of one rune"
  pkg/chrootarchive/archive_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#41158 seccomp: allow 'rseq' syscall in default seccomp profile
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, status/4-merge

#41155 fix typos and grammar in docs
  TESTING.md
  docs/contributing/test.md
Labels: area/docs, status/3-docs-review

#41159 update containerd to v1.3.5
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog

#41161 Fix status code for missing --volumes-from container
  daemon/volumes.go
  integration/container/create_test.go
Labels: area/api, kind/bugfix, status/2-code-review

#41151 fix gotestsum.installer installing wrong version
  Dockerfile.windows
  hack/dockerfile/install/gotestsum.installer
Labels: area/testing, process/cherry-pick, status/2-code-review
