Repository moby/moby, pull requests merged in 2020-09, with the labels that each got.

#41401 vendor: github.com/gorilla/mux v1.8.0
  vendor.conf
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
Labels: status/2-code-review

#41407 add partial metadata to journald logs
  daemon/logger/journald/journald.go
Labels: area/logging, impact/changelog, kind/enhancement

#41402 vendor: github.com/opencontainers/selinux v1.6.0
  vendor.conf
  vendor/github.com/opencontainers/selinux/README.md
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go.mod
  vendor/github.com/opencontainers/selinux/pkg/pwalk/pwalk.go
  vendor/github.com/willf/bitset/LICENSE
  vendor/github.com/willf/bitset/README.md
  vendor/github.com/willf/bitset/bitset.go
  vendor/github.com/willf/bitset/go.mod
  vendor/github.com/willf/bitset/popcnt.go
  vendor/github.com/willf/bitset/popcnt_19.go
  vendor/github.com/willf/bitset/popcnt_amd64.go
  vendor/github.com/willf/bitset/popcnt_amd64.s
  vendor/github.com/willf/bitset/popcnt_generic.go
  vendor/github.com/willf/bitset/trailing_zeros_18.go
  vendor/github.com/willf/bitset/trailing_zeros_19.go
Labels: area/security/selinux, status/2-code-review

#41228 Use IsServing to determine if c8d client is ready
  libcontainerd/remote/client.go
Labels: area/runtime, kind/refactor, status/2-code-review

#41431 vendor: containerd v1.4.0
  vendor.conf
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, status/4-merge

#41337 apparmor: permit signals from unconfined programs
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/2-code-review

#41432 swagger: fix MemTotal units in SystemInfo endpoint
  api/swagger.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#41360 Builder: Add 1 buffer to two channels to avoid blocking goroutine
  builder/dockerfile/containerbackend.go
  integration/plugin/logging/read_test.go
Labels: area/builder, kind/bugfix, status/2-code-review

#41441 Add fromStatT() implementation for NetBSD
  pkg/system/stat_netbsd.go
Labels: status/2-code-review

#41447 daemon/listeners: use pkg/errors
  daemon/listeners/listeners_linux.go
Labels: kind/refactor, status/2-code-review

#41395 Remove dependency in dockerd on libseccomp
  pkg/sysinfo/sysinfo_linux.go
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp_linux.go
  vendor.conf
  vendor/github.com/seccomp/libseccomp-golang/LICENSE
  vendor/github.com/seccomp/libseccomp-golang/README
  vendor/github.com/seccomp/libseccomp-golang/seccomp.go
  vendor/github.com/seccomp/libseccomp-golang/seccomp_internal.go
Labels: area/security/seccomp, kind/refactor, status/4-merge

#41445 fix integration test case TestExternalGraphDriver failed in mips arch
  integration/plugin/graphdriver/external_test.go
Labels: area/testing, status/2-code-review

#40408 [19.03 backport] update containerd binary v1.3.7
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog

#41334 [19.03 backport] Bump Golang 1.13.15
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#41312 [19.03 backport] Check for context error that is wrapped in url.Error
  client/request.go
Labels: kind/bugfix, status/2-code-review

#41446 [19.03 backport] swagger: fix MemTotal units in SystemInfo endpoint
  api/swagger.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, status/3-docs-review

#41451 [19.03] vendor: buildkit v0.6.4-32-gdf89d4dc
  vendor.conf
Labels: area/builder, status/2-code-review

#41448 Unify same fromStatT() implementation for FreeBSD and NetBSD
  pkg/system/stat_bsd.go
  pkg/system/stat_netbsd.go
Labels: kind/refactor, status/2-code-review

#41314 [19.03 backport] test-fixes for flaky test: TestCheckCapacityAndRotate
  daemon/logger/loggerutils/logfile_test.go
Labels: area/testing, kind/bugfix, status/2-code-review

#40599 Windows CI: Make sure that CI fails on any error
  Dockerfile.windows
  Jenkinsfile
  hack/ci/windows.ps1
  hack/dockerfile/install/gotestsum.installer
  hack/make.ps1
Labels: area/testing, kind/bugfix, platform/windows, status/2-code-review

#41450 update containerd vendor and binary to v1.4.1
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/contrib/seccomp/seccomp_default.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, status/2-code-review

#41460 vendor: github.com/syndtr/gocapability 42c35b4376354fd554efc7ad35e0b7f94e3a0ffb
  vendor.conf
  vendor/github.com/syndtr/gocapability/capability/enum.go
  vendor/github.com/syndtr/gocapability/capability/enum_gen.go
Labels: impact/changelog, status/2-code-review

#41466 vendor: docker/libnetwork d0951081b35fa4216fc4f0064bf065beeb55a74b
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_linux.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_device.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_network.go
  vendor/github.com/docker/libnetwork/drivers/macvlan/macvlan_setup.go
  vendor/github.com/docker/libnetwork/drivers/windows/overlay/ov_endpoint_windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/service_windows.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/docker/libnetwork/vendor.conf
Labels: area/networking, status/2-code-review

#41467 vendor: opencontainers/go-digest v1.0.0
  vendor.conf
  vendor/github.com/opencontainers/go-digest/LICENSE
  vendor/github.com/opencontainers/go-digest/README.md
  vendor/github.com/opencontainers/go-digest/algorithm.go
  vendor/github.com/opencontainers/go-digest/digest.go
  vendor/github.com/opencontainers/go-digest/digester.go
  vendor/github.com/opencontainers/go-digest/doc.go
  vendor/github.com/opencontainers/go-digest/go.mod
  vendor/github.com/opencontainers/go-digest/verifiers.go
Labels: status/2-code-review

#41463 Windows CI: Fix collecting the logs of the daemon under test
  hack/ci/windows.ps1
Labels: area/testing, platform/windows, status/2-code-review

#38469 Windows CI: Enable more integration tests
  integration/build/build_test.go
  integration/container/copy_test.go
  integration/container/exec_test.go
  integration/container/kill_test.go
  integration/container/nat_test.go
  integration/container/resize_test.go
  integration/image/remove_test.go
  integration/image/tag_test.go
  integration/volume/volume_test.go
Labels: area/testing, platform/windows, status/2-code-review

#41477 Windows CI: Force Download-File function to use TLS 1.2 (fix to RS1 CI)
  Dockerfile.windows
Labels: area/testing, platform/windows, process/cherry-pick

#41430 Revendor Microsoft/go-winio for 8gB file fix when importing or committing image layers
  daemon/graphdriver/windows/windows.go
  integration/build/build_test.go
  vendor.conf
  vendor/github.com/Microsoft/go-winio/archive/tar/LICENSE
  vendor/github.com/Microsoft/go-winio/archive/tar/common.go
  vendor/github.com/Microsoft/go-winio/archive/tar/reader.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atim.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atimespec.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_unix.go
  vendor/github.com/Microsoft/go-winio/archive/tar/writer.go
  vendor/github.com/Microsoft/go-winio/backuptar/strconv.go
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/go.mod
  vendor/github.com/Microsoft/go-winio/pipe.go
Labels: platform/windows, status/4-merge

#41486 api: clarify "v" option behavior in the container remove endpoint
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#41411 Simplify seccomp logic
  daemon/seccomp_linux.go
Labels: area/security/seccomp, kind/refactor, status/2-code-review

#41471 seccomp: refactor to use runtime-spec types where possible
  api/types/seccomp.go
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_unsupported.go
Labels: area/security/seccomp, kind/refactor, status/2-code-review

#41285 Sterner warnings and deprecation notice for unauthenticated tcp access
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/options.go
  daemon/config/config.go
  daemon/info.go
  integration-cli/docker_cli_daemon_test.go
Labels: area/api, area/daemon, area/security, impact/changelog, impact/deprecation, status/4-merge

#41482 daemon/graphdriver/copy: use IoctlFileClone from golang.org/x/sys/unix
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/copy/copy_cgo.go
  daemon/graphdriver/copy/copy_nocgo.go
  vendor.conf
  vendor/golang.org/x/sys/unix/fcntl_darwin.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_386.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm.go
  vendor/golang.org/x/sys/unix/zerrors_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_386.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_386.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_illumos_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/service.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/types_windows_386.go
  vendor/golang.org/x/sys/windows/types_windows_amd64.go
  vendor/golang.org/x/sys/windows/types_windows_arm.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
Labels: kind/refactor, status/2-code-review

#41293 [19.03 backport] oci: correctly use user.GetExecUser interface
  daemon/oci_linux.go
Labels: area/runtime, kind/bugfix, status/2-code-review

#41499 seccomp: add test for loading old JSON format
  profiles/seccomp/fixtures/default-old-format.json
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, area/testing, status/2-code-review

#41290 Simplify getUser() to use libcontainer built-in functionality
  daemon/exec_linux.go
  daemon/oci_linux.go
Labels: area/runtime, kind/refactor, status/2-code-review

#41473 Allow download-frozen-images to work without `go`
  Dockerfile
  contrib/download-frozen-image-v2.sh
Labels: area/testing, kind/refactor, status/4-merge

#41484 Remove redundant "os.IsNotExist" checks on os.RemoveAll()
  daemon/container_operations_unix.go
  plugin/manager.go
  plugin/manager_linux.go
Labels: kind/refactor, status/2-code-review

#41500 seccomp: remove dependency on oci package
  oci/fixtures/default-old-format.json
  oci/fixtures/default.json
  oci/fixtures/example.json
  oci/seccomp_test.go
  profiles/seccomp/fixtures/conditional_include.json
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, area/testing, kind/refactor, status/2-code-review
