Repository moby/moby, pull requests merged in 2020-04, with the labels that each got.

#40657 cgroup2: implement `docker stats`
  api/swagger.yaml
  daemon/daemon_unix.go
  libcontainerd/types/types_linux.go
  vendor/github.com/containerd/cgroups/v2/stats/doc.go
  vendor/github.com/containerd/cgroups/v2/stats/metrics.pb.go
  vendor/github.com/containerd/cgroups/v2/stats/metrics.proto
Labels: impact/api, impact/changelog, impact/documentation, status/4-merge

#40628 [19.03] Fix rate limiting for logger, increase refill rate
  daemon/cluster/executor/container/controller.go
Labels: area/logging, status/2-code-review

#40712 Fix CPU Stat value UsageInUsermode on Windows
  daemon/daemon_windows.go
Labels: kind/bugfix, platform/windows, process/cherry-pick, status/2-code-review

#40562 [19.03] backport Fix docker crash when creating namespaces with UID in /etc/subuid and /etc/subgid
  daemon/daemon_unix.go
Labels: area/security/userns, impact/changelog, kind/bugfix, status/4-merge

#40758 [19.03] vendor: containerd 481103c8793316c118d9f795cde18060847c370e
  vendor.conf
  vendor/github.com/containerd/containerd/platforms/compare.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
Labels: area/distribution, area/images, platform/arm, status/2-code-review

#40739 seccomp: add 64-bit time_t syscalls
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security, area/security/seccomp, process/cherry-pick, status/2-code-review

#40681 [19.03 backport] Move schema1 deprecation notice
  distribution/push_v2.go
Labels: area/distribution, kind/bugfix, status/4-merge

#40769 [19.03 backport] seccomp: add 64-bit time_t syscalls
  profiles/seccomp/default.json
  profiles/seccomp/seccomp_default.go
Labels: area/security/seccomp, impact/changelog, status/4-merge

#40757 build Dockerfile allows arg for base build FROM
  Dockerfile
Labels: status/4-merge

#40664 Add riscv64 support to the build scripts
  daemon/graphdriver/quota/projectquota.go
  daemon/graphdriver/quota/projectquota_unsupported.go
  hack/make/.binary
Labels: impact/changelog, status/4-merge

#40772 builder: fix concurrent map write
  builder/builder-next/builder.go
Labels: area/builder, kind/bugfix, process/cherry-pick, status/4-merge

#40773 Bump Golang 1.13.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: process/cherry-pick, status/4-merge

#40778 docs: add API versions v1.30 - v1.37
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#40779 [19.03 backport] docs: add API versions v1.30 - v1.37
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
Labels: area/api, area/docs, status/3-docs-review

#40780 [19.03 backport] builder: fix concurrent map write
  builder/builder-next/builder.go
Labels: area/builder, impact/changelog, kind/bugfix, status/2-code-review

#40417 [19.03 backport] Testing changes
  cmd/dockerd/daemon.go
  cmd/dockerd/metrics.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_service_create_test.go
  integration-cli/docker_cli_service_logs_test.go
  integration-cli/docker_cli_userns_test.go
  internal/test/environment/environment.go
Labels: area/testing, status/2-code-review

#40496 TestCatchAll, TestStopCatch: remove unneeded goroutine
  pkg/signal/signal_linux_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#40759 rootless: graduate from experimental
  Jenkinsfile
  cmd/dockerd/daemon.go
  contrib/dockerd-rootless.sh
  hack/make/.integration-daemon-start
  hack/make/run
  testutil/daemon/daemon.go
Labels: area/rootless, impact/changelog, impact/documentation, kind/experimental

#40592 [19.03 backport] Update Golang 1.13.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#40793 pkg/authorization: Fix test failures on macOS
  pkg/authorization/authz_unix_test.go
  pkg/authorization/middleware_unix_test.go
Labels: area/testing, kind/refactor, status/2-code-review

#40768 Rename newer build_shell target to build
  Makefile
Labels: kind/refactor, status/2-code-review

#40790 Only check variant if set on image.
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, kind/bugfix, status/2-code-review

#40798 api docs: fix broken link on GitHub
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#40777 Revert "vendor: update go.etcd.io/bbolt v1.3.4"
  vendor.conf
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/bolt_386.go
  vendor/go.etcd.io/bbolt/bolt_amd64.go
  vendor/go.etcd.io/bbolt/bolt_arm.go
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_unix_aix.go
  vendor/go.etcd.io/bbolt/bucket.go
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/freelist_hmap.go
  vendor/go.etcd.io/bbolt/go.mod
  vendor/go.etcd.io/bbolt/node.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/tx.go
Labels: status/2-code-review

#40794 swagger: clarify the meaning of Image field in ContainerInspect endpoint
  api/swagger.yaml
Labels: area/api, area/docs, status/3-docs-review

#40784 [19.03] vendor buildkit b26cff2413cc6a466f8739262efa13bd126f8fc7
  vendor.conf
  vendor/github.com/moby/buildkit/solver/cachemanager.go
Labels: area/builder, kind/bugfix, status/2-code-review

#40775 vendor: update go-events to fix alignment for 32bit systems
  vendor.conf
  vendor/github.com/docker/go-events/retry.go
Labels: kind/bugfix, platform/arm, process/cherry-pick, status/2-code-review

#40799 [19.03 backport] Fix TEST_FILTER to work for both "integration" and "integration-cli"
  hack/make/.integration-test-helpers
Labels: area/testing, kind/bugfix, status/2-code-review

#40800 [19.03 backport] api docs: fix broken link on GitHub
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
Labels: area/api, area/docs, status/3-docs-review

#40802 Bump Golang 1.13.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: process/cherry-picked, status/2-code-review

#40803 [19.03 backport] Bump Golang 1.13.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: impact/changelog, status/2-code-review

#40791 On startup, actually shutdown the container.
  daemon/daemon.go
  integration/container/daemon_test.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review

#39705 daemon: various nits and small fixes
  daemon/apparmor_default.go
  daemon/archive.go
  daemon/attach.go
  daemon/container.go
  daemon/container_linux.go
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/container_windows.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_test.go
  daemon/daemon_unix.go
  daemon/daemon_unix_test.go
  daemon/debugtrap_unix.go
  daemon/debugtrap_unsupported.go
  daemon/debugtrap_windows.go
  daemon/events_test.go
  daemon/exec.go
  daemon/exec_linux.go
  daemon/export.go
  daemon/health.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/list_test.go
  daemon/logs.go
  daemon/metrics.go
  daemon/network.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  daemon/pause.go
  daemon/restart.go
  daemon/start.go
  daemon/stats.go
  daemon/top_unix.go
  daemon/unpause.go
  daemon/update.go
  daemon/volumes_linux_test.go
  daemon/volumes_unix.go
Labels: area/daemon, kind/refactor, status/2-code-review

#40809 [19.03] update libnetwork b9bcf0c3fba9ef8897c9676c5b70ba0345b84b17
  vendor.conf
  vendor/github.com/docker/libnetwork/agent.go
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/network.go
Labels: area/networking, kind/bugfix, status/2-code-review

#39771 Integration: fix various issues in "config" and "secret" tests
  integration/config/config_test.go
  integration/secret/secret_test.go
Labels: area/testing, kind/refactor, process/cherry-pick, status/2-code-review

#40814 vendor: update buildkit to ae7ff174
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  registry/registry.go
  vendor.conf
  vendor/github.com/moby/buildkit/README.md
  vendor/github.com/moby/buildkit/cache/contenthash/tarsum.go
  vendor/github.com/moby/buildkit/cache/remotecache/registry/registry.go
  vendor/github.com/moby/buildkit/client/client.go
  vendor/github.com/moby/buildkit/client/llb/async.go
  vendor/github.com/moby/buildkit/client/llb/definition.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/client/llb/fileop.go
  vendor/github.com/moby/buildkit/client/llb/meta.go
  vendor/github.com/moby/buildkit/client/llb/resolver.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/client/llb/state.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/config.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/gcpolicy.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/gcpolicy_unix.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/gcpolicy_windows.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_runmount.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/solver/cachemanager.go
  vendor/github.com/moby/buildkit/solver/exporter.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/resolver/resolver.go
  vendor/github.com/moby/buildkit/util/tracing/tracing.go
  vendor/github.com/tonistiigi/fsutil/tarwriter.go
Labels: area/builder, impact/changelog, status/4-merge

#40816 swarm: fix API version detection
  api/server/router/swarm/cluster_routes.go
Labels: area/api, kind/bugfix, status/2-code-review

#40801 [19.03 backport] vendor: update go-events to fix alignment for 32bit systems
  vendor.conf
  vendor/github.com/docker/go-events/retry.go
Labels: kind/bugfix, platform/arm, status/2-code-review

#39728 Support reading multiple bytes in escapeProxy
  pkg/term/proxy.go
  pkg/term/proxy_test.go
Labels: status/2-code-review

#40822 update containerd to v1.3.4
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#40774 vendor: pkg/errors v0.9.1, mespath/go-jmespath v0.3.0
  vendor.conf
  vendor/github.com/jmespath/go-jmespath/README.md
  vendor/github.com/jmespath/go-jmespath/api.go
  vendor/github.com/jmespath/go-jmespath/go.mod
  vendor/github.com/jmespath/go-jmespath/parser.go
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
Labels: status/2-code-review

#40478 Add stats options to not prime the stats
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/backend/backend.go
  client/container_stats.go
  client/interface.go
  daemon/stats.go
  docs/api/version-history.md
  integration/container/stats_test.go
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#40749 add zombie check for container when killing it
  daemon/container_operations_unix.go
  pkg/system/process_unix.go
Labels: kind/bugfix, status/2-code-review

#39882 Add API support for PidsLimit on services
  api/server/router/swarm/helpers.go
  api/server/router/swarm/helpers_test.go
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  docs/api/version-history.md
  integration/internal/swarm/service.go
  integration/service/update_test.go
Labels: area/api, area/swarm, impact/changelog, status/4-merge

#40796 Reduce allocations for logfile reader
  daemon/logger/jsonfilelog/jsonlog/jsonlog.go
  daemon/logger/jsonfilelog/read.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/local_test.go
  daemon/logger/local/read.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Labels: area/logging, impact/changelog, kind/performance

#40828 fix --cluster-store-opt deprecation annotation
  cmd/dockerd/config.go
Labels: area/daemon, impact/deprecation, kind/bugfix, status/2-code-review

#40823 daemon: remove distribution/uuid package
  cmd/dockerd/daemon.go
  vendor/github.com/docker/distribution/uuid/uuid.go
Labels: area/daemon, kind/refactor, status/2-code-review

#40831 [19.03] vendor: swarmkit 0b8364e7d08aa0e972241eb59ae981a67a587a0e
  vendor.conf
  vendor/github.com/docker/swarmkit/agent/storage.go
  vendor/github.com/docker/swarmkit/agent/worker.go
Labels: area/swarm, kind/bugfix, status/2-code-review

#40565 [19.03 backport] Set the bip network value as the subnet
  daemon/daemon_unix.go
  integration/network/service_test.go
Labels: area/daemon, area/networking, kind/bugfix, status/2-code-review

#40563 [19.03 backport] Use FILE_SHARE_DELETE for log files on Windows.
  daemon/logger/loggerutils/file_unix.go
  daemon/logger/loggerutils/file_windows.go
  daemon/logger/loggerutils/file_windows_test.go
  daemon/logger/loggerutils/logfile.go
Labels: area/logging, impact/changelog, platform/windows, status/2-code-review

#37867 enhance storage-opt validation logic in overlay2 driver
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/2-code-review

#40766 LCOW: add "no_lcow" build tag to allow disabling lcow
  pkg/system/init_unix.go
  pkg/system/init_windows.go
  pkg/system/lcow.go
  pkg/system/lcow_unix.go
  pkg/system/lcow_unsupported.go
  pkg/system/lcow_windows.go
  project/PACKAGERS.md
Labels: area/lcow, status/2-code-review

#39946 Replace plugin distribution code w/ containerd
  integration/plugin/common/main_test.go
  integration/plugin/common/plugin_test.go
  plugin/backend_linux.go
  plugin/blobstore.go
  plugin/fetch_linux.go
  plugin/manager.go
  plugin/manager_linux.go
  plugin/progress.go
  plugin/registry.go
  plugin/v2/plugin.go
  testutil/fixtures/plugin/plugin.go
  testutil/registry/ops.go
  testutil/registry/registry.go
Labels: area/distribution, kind/refactor, status/2-code-review

#40825 Deprecate pkg/term and make it an alias for github.com/moby/term
  cli/cobra.go
  cmd/dockerd/docker.go
  container/stream/attach.go
  daemon/attach.go
  daemon/exec.go
  pkg/jsonmessage/jsonmessage.go
  pkg/jsonmessage/jsonmessage_test.go
  pkg/term/ascii_test.go
  pkg/term/deprecated.go
  pkg/term/deprecated_unix.go
  pkg/term/proxy_test.go
  pkg/term/term_linux_test.go
  pkg/term/windows/deprecated.go
  testutil/fixtures/load/frozen.go
  vendor.conf
  vendor/github.com/moby/term/LICENSE
  vendor/github.com/moby/term/README.md
  vendor/github.com/moby/term/ascii.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/proxy.go
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios_bsd.go
  vendor/github.com/moby/term/termios_linux.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/ansi_writer.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/windows/windows.go
  vendor/github.com/moby/term/winsize.go
Labels: impact/deprecation, kind/refactor, status/2-code-review

#40808 vendor: update libnetwork 1a17fb36132631a95fe6bb055b91e24a516ad81d
  vendor.conf
  vendor/github.com/docker/libnetwork/agent.go
  vendor/github.com/docker/libnetwork/controller.go
  vendor/github.com/docker/libnetwork/firewall_linux.go
  vendor/github.com/docker/libnetwork/firewall_others.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_unix.go
  vendor/github.com/docker/libnetwork/network.go
Labels: area/networking, impact/changelog, kind/bugfix, status/2-code-review

#40860 bump up rootlesskit to v0.9.4
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, process/cherry-pick, status/2-code-review

#40866 vendor: update moby/ipvs v1.0.1
  vendor.conf
  vendor/github.com/moby/ipvs/netlink.go
Labels: area/networking, status/2-code-review

#40863 [19.03 backport] bump up rootlesskit to v0.9.4
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, status/2-code-review

#40869 cmd/dockerd: remove outdated "experimental" annotation
  cmd/dockerd/config_unix.go
Labels: area/rootless, kind/experimental, status/2-code-review

#40874 Dockerfile: update syntax to 1.1.7-experimental
  Dockerfile
Labels: area/project, status/2-code-review

#40673 Simplify daemon.overlaySupportsSelinux(), fix use of bufio.Scanner.Err()
  daemon/daemon_unix.go
  pkg/idtools/idtools.go
Labels: area/security/selinux, kind/performance, kind/refactor, status/2-code-review

#40782 [19.03 backport] Switch to s390x Ubuntu 18.04
  Jenkinsfile
Labels: area/testing, kind/refactor, status/2-code-review

#40850 [19.03 backport] Update CRIU to v3.13 "Silicon Willet"
  Dockerfile
Labels: status/2-code-review

#40872 vendor konsorten/go-windows-terminal-sequences v1.0.3
  vendor.conf
  vendor/github.com/konsorten/go-windows-terminal-sequences/README.md
  vendor/github.com/konsorten/go-windows-terminal-sequences/sequences.go
Labels: process/cherry-pick, status/2-code-review
