Repository moby/moby, pull requests merged in 2021-08, with the labels that each got.

#42697 Update to containerd v1.5.5
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, impact/changelog, status/4-merge

#42559 Add `type` parameter to `/system/df`
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  client/disk_usage.go
  client/disk_usage_test.go
  client/interface.go
  daemon/disk_usage.go
  docs/api/version-history.md
  integration/build/build_session_test.go
  integration/system/disk_usage_test.go
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#42703 libnetwork: wait until t.Deadline() instead of hardcoded value
  libnetwork/networkdb/networkdb_test.go
Labels: area/networking, area/testing, kind/bugfix, status/2-code-review

#42649 seccomp: Use explicit DefaultErrnoRet
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/fixtures/example.json
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, impact/changelog, status/2-code-review

#42618 daemon/config: remove commonUnixBridgeConfig and CommonUnixConfig
  daemon/config/config.go
  daemon/config/config_common_unix.go
  daemon/config/config_common_unix_test.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_windows.go
  daemon/config/config_windows_test.go
  daemon/container_unix_test.go
Labels: area/daemon, kind/refactor, status/2-code-review

#42594 hack/test/unit: run `libnetwork` tests sequentially
  Jenkinsfile
  hack/test/unit
Labels: area/networking, area/testing, kind/bugfix, status/4-merge

#42708 bump up rootlesskit to v0.14.4
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, impact/changelog, process/cherry-pick, status/2-code-review

#42685 Remove LCOW (step 8): libcontainerd/local: remove LCOW bits
  libcontainerd/local/local_windows.go
Labels: status/2-code-review, kind/experimental, impact/deprecation, area/lcow

#42672 pkg/archive: remove some debug logs, and small cleanup
  pkg/archive/archive.go
Labels: status/4-merge, kind/refactor

#42684 Remove LCOW (step 7): remove LCOW bits from builder/dockerfile (copy)
  builder/dockerfile/copy.go
  builder/dockerfile/copy_unix.go
  builder/dockerfile/copy_windows.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_windows_test.go
Labels: status/2-code-review, kind/experimental, impact/deprecation, area/lcow

#42716 API: discard `/system/df` `type` parameter pre-1.42
  api/server/router/system/system_routes.go
Labels: area/api, status/4-merge

#41459 oci/caps: refactor, remove unused code, and improved error messages
  oci/caps/utils.go
Labels: status/2-code-review, status/4-merge, kind/refactor

#42527 Jenkinsfile: update Windows 2022 insider to latest tag (10.0.20348.1)
  Jenkinsfile
Labels: platform/windows, status/2-code-review, area/testing, process/cherry-pick

#42715 Share disk usage computation results between concurrent invocations
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/images/service.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  volume/service/service.go
Labels: area/api, status/4-merge, kind/enhancement, impact/changelog

#42201 rootless: btrfs: annotate error with human-readable hint string
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/storage/btrfs, status/4-merge, area/rootless

#42481 Fix daemon.json and daemon --seccomp-profile not accepting "unconfined", and rename default profile to "builtin"
  cmd/dockerd/config_unix.go
  daemon/config/config.go
  daemon/daemon_unix.go
  daemon/info.go
  daemon/seccomp_disabled.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
  integration-cli/docker_cli_info_unix_test.go
  integration/daemon/daemon_test.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp, area/daemon

#42720 Update Go to 1.16.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, process/cherry-picked

#42737 integration/network: remove dead code
  integration/network/dns_test.go
  integration/network/helpers.go
  integration/network/helpers_windows.go
  integration/network/network_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor

#42730 docs/api: add node about concurrency on /system/df endpoint
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#42676 fileutils: Fix incorrect handling of "**/foo" pattern
  builder/remotecontext/detect.go
  pkg/archive/archive.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Labels: area/builder, status/2-code-review

#42721 [20.10 backport] Update Go to 1.16.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog

#42673 volume/mounts: pre-compile regular expressions
  volume/mounts/lcow_parser.go
  volume/mounts/windows_parser.go
Labels: status/2-code-review, kind/refactor

#42510 libnetwork/portmapper: some minor cleaning up
  libnetwork/portmapper/mapper.go
  libnetwork/portmapper/mock_proxy_test.go
  libnetwork/portmapper/proxy.go
  libnetwork/portmapper/proxy_linux.go
Labels: status/2-code-review, area/networking, kind/refactor

#42756 libnetwork: remove unused "testutils" imports
  cmd/docker-proxy/network_proxy_test.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/config/config_test.go
  libnetwork/datastore/datastore_test.go
  libnetwork/driverapi/driverapi_test.go
  libnetwork/drivers/host/host_test.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/drivers/null/null_test.go
  libnetwork/drivers/overlay/overlay_test.go
  libnetwork/drivers/overlay/ovmanager/ovmanager_test.go
  libnetwork/drivers/overlay/peerdb_test.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/drvregistry/drvregistry_test.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/hostdiscovery/hostdiscovery_test.go
  libnetwork/idm/idm_test.go
  libnetwork/internal/caller/caller_test.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/null/null_test.go
  libnetwork/ipams/remote/remote_test.go
  libnetwork/ipams/windowsipam/windowsipam_test.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/iptables/iptables_test.go
  libnetwork/netlabel/labels_test.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/options/options_test.go
  libnetwork/osl/kernel/knobs_linux_test.go
  libnetwork/portallocator/portallocator_test.go
  libnetwork/portmapper/mapper_linux_test.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/types/types_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor

#42755 libnetwork: make resolvconf more self-contained
  integration-cli/docker_cli_run_test.go
  libnetwork/resolvconf/README.md
  libnetwork/resolvconf/dns/resolvconf.go
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/resolvconf/utils.go
  libnetwork/resolvconf/utils_test.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/types/types.go
  pkg/ioutils/readers.go
  pkg/ioutils/readers_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#42757 testutil: don't import "opts" package
  testutil/daemon/daemon.go
  testutil/request/request.go
Labels: status/2-code-review, area/testing, kind/refactor

#42621 Improve swagger.yaml to match the 1.41 api version
  api/swagger.yaml
Labels: area/api, status/2-code-review, area/docs, process/cherry-pick

#42763 Dockerfile: update syntax, switch to bullseye, add missing libseccomp-dev, remove build pack
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  contrib/nnp-test/Dockerfile
  contrib/syscall-test/Dockerfile
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/fixtures_linux_daemon_test.go
  integration/build/build_userns_linux_test.go
  integration/network/service_test.go
  pkg/archive/archive_unix_test.go
  testutil/environment/protect.go
Labels: status/2-code-review, area/testing, area/packaging

#42775 Fix a typo in project/GOVERNANCE.md
  project/GOVERNANCE.md
Labels: status/3-docs-review, area/docs, area/project

#42764 bump up runc v1.0.2
  hack/dockerfile/install/runc.installer
  vendor.conf
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/nsenter/nsexec.c
Labels: impact/changelog, process/cherry-pick

#42694 client: remove deprecated SetCustomHTTPHeaders(), CustomHTTPHeaders()
  client/client.go
Labels: area/api, status/2-code-review, impact/deprecation

#42779 hack/vendor.sh: allow go version to be specified with .0
  hack/vendor.sh
Labels: status/4-merge, process/cherry-pick, kind/bugfix

#42773 api/types/versions: simplify compare if versions are equal
  api/types/versions/compare.go
Labels: area/api, status/2-code-review, kind/refactor

#42776 info: remove "expected" check for tini version
  daemon/info_unix.go
  dockerversion/version_lib.go
  hack/make/.go-autogen
Labels: status/4-merge, area/daemon

#42768 libcontainerd/local: fix GoDoc
  libcontainerd/local/local_windows.go
Labels: status/2-code-review

#42780 vendor: update tar-split to v0.11.2
  vendor.conf
  vendor/github.com/vbatts/tar-split/go.mod
  vendor/github.com/vbatts/tar-split/tar/storage/getter.go
Labels: status/4-merge, area/performance

#42717 pkg/signal: remove DefaultStopSignal const, and un-export container.DefaultStopTimeout
  container/container.go
  container/container_unit_test.go
  container/container_unix.go
  container/container_windows.go
  pkg/signal/signal_deprecated.go
Labels: area/api, status/2-code-review

#41479 Windows CI: Add support for testing with containerd
  Dockerfile.windows
  Jenkinsfile
  cmd/dockerd/daemon_windows.go
  daemon/start_windows.go
  hack/ci/windows.ps1
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_commit_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/requirements_test.go
  integration/container/exec_test.go
  pkg/system/init_windows.go
  testutil/environment/environment.go
Labels: area/runtime, platform/windows, status/2-code-review, impact/changelog, area/testing

#42787 libnetwork: fix some linting issues
  libnetwork/ipamapi/contract.go
  libnetwork/network.go
Labels: status/4-merge, area/networking, kind/refactor

#42794 libnetwork: remove API, as it's no longer used
  libnetwork/api/api.go
  libnetwork/api/api_linux_test.go
  libnetwork/api/types.go
Labels: status/4-merge, area/networking, kind/refactor

#42796 pkg/sysinfo: use containerd/pkg/seccomp.IsEnabled()
  pkg/sysinfo/sysinfo_linux.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp_linux.go
  vendor/github.com/containerd/containerd/pkg/seccomp/seccomp_unsupported.go
Labels: status/4-merge, area/security/seccomp, area/daemon, kind/refactor

#42782 Remove platform argument from Puller interface.
  distribution/pull.go
  distribution/pull_v2.go
  distribution/registry_unit_test.go
Labels: area/distribution, status/2-code-review

#42797 pkg/plugins: fix compatibility with go1.16
  pkg/plugins/discovery.go
  pkg/plugins/utils.go
  pkg/plugins/utils_go1.16.go
Labels: status/2-code-review, kind/bugfix
