Repository moby/moby, pull requests merged in 2021-07, with the labels that each got.

#42587 Fix use of unsafe ptr #42444
  daemon/graphdriver/graphtest/graphtest_unix.go
Labels: area/testing, kind/refactor, status/2-code-review

#42550 Fix SharedSize computation in `ImageService.Image` for filtered requests
  daemon/images/images.go
Labels: kind/refactor, status/2-code-review

#42579 Run s390x tests on Ubuntu 20.04
  Jenkinsfile
Labels: area/testing, platform/ibm-z, process/cherry-picked, status/2-code-review

#42508 vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compatibility
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review

#42592 Dockerfile: update go-swagger to fix validation on Go1.16
  Dockerfile
Labels: area/testing, kind/bugfix, process/cherry-pick

#42047 Fix containers/create 404 response description
  docs/api/v1.41.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#42457 rootless: fix "x509: certificate signed by unknown authority" on openSUSE Tumbleweed
  contrib/dockerd-rootless.sh
Labels: area/rootless, kind/bugfix, process/cherry-pick

#42063 API: update API version to v1.42
  api/common.go
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#42596 API: fix 404 status description on container create
  api/swagger.yaml
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#42005 Refactor seccomp types to reuse runtime-spec, and add support for "ErrnoRet"
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/fixtures/example.json
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, impact/changelog, kind/enhancement, kind/refactor, status/2-code-review

#42607 Ensure empty build cache is represented as empty JSON array
  api/server/router/system/system_routes.go
  api/swagger.yaml
Labels: area/api, status/4-merge

#42608 Deprecate `BuilderSize` in API versions >= 1.42
  api/server/router/system/system_routes.go
  api/types/types.go
  docs/api/version-history.md
Labels: area/api, impact/api, impact/changelog, impact/deprecation, kind/experimental, status/2-code-review

#42622 Move containerd.service from Requires= to Wants=
  contrib/init/systemd/docker.service
Labels: area/packaging, area/runtime, area/systemd, impact/changelog, status/2-code-review

#42631 Bump go 1.16.6 (addresses CVE-2021-34558)
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: area/packaging, area/security, impact/changelog, status/2-code-review

#42595 [20.10 backport] Dockerfile: update go-swagger to fix validation on Go1.16
  Dockerfile
Labels: area/testing, kind/bugfix, status/2-code-review

#42634 Fix up vndr tooling
  hack/validate/vendor
  hack/vendor.sh
Labels: area/project, status/2-code-review

#42614 updated names-generator.go for alphabetization
  pkg/namesgenerator/names-generator.go
Labels: dco/no, kind/refactor, status/2-code-review

#42637 [20.10] update containerd binary to v1.4.7
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42568 [20.10 backport] update runc binary to v1.0.0 GA
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42602 [20.10 backport] API: fix 404 status description on container create
  api/swagger.yaml
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, area/docs, status/3-docs-review

#42613 [20.10] vendor github.com/Microsoft/hcsshim 64a2b71405dacf76c95600f4c756a991ad09cf7c (moby branch)
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
Labels: impact/changelog, kind/bugfix, platform/windows, status/2-code-review

#42591 [20.10 backport] Run s390x tests on Ubuntu 20.04
  Jenkinsfile
Labels: area/testing, platform/ibm-z, status/2-code-review

#42479 [20.10 backport] Fix setting swaplimit=true without checking
  pkg/sysinfo/cgroup2_linux.go
Labels: area/cgroup2, kind/bugfix

#42462 [20.10 backport] rootless: avoid /run/xtables.lock EACCES on SELinux hosts ; disable overlay2 if running with SELinux ; fix "x509: certificate signed by unknown authority" on openSUSE Tumbleweed
  contrib/dockerd-rootless.sh
  daemon/graphdriver/overlayutils/overlayutils.go
Labels: area/rootless, area/security/selinux, area/storage/overlay, status/4-merge

#42633 [20.10 backport] docker pull: warn when pulled single-arch image does not match --platform
  daemon/images/image_pull.go
Labels: area/distribution, impact/changelog, status/2-code-review

#42604 seccomp: Sync fields with runtime-spec fields
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, impact/changelog, kind/enhancement, status/2-code-review

#42642 [20.10 backport] various test-changes for Go 1.16
  Dockerfile
  hack/ci/windows.ps1
  hack/generate-test-certs.sh
  hack/validate/vendor
  hack/vendor.sh
  integration/plugin/logging/helpers_test.go
  integration/plugin/volumes/helpers_test.go
  integration/testdata/https/ca.pem
  integration/testdata/https/client-cert.pem
  integration/testdata/https/client-key.pem
  integration/testdata/https/server-cert.pem
  integration/testdata/https/server-key.pem
  pkg/fileutils/fileutils_test.go
  testutil/fixtures/plugin/plugin.go
Labels: area/testing, status/2-code-review

#42643 [20.10 backport] Bump go 1.16.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  patches/0001-archive-tar-do-not-populate-user-group-names.patch
  vendor/archive/tar/common.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
  vendor/archive/tar/strconv_test.go
  vendor/archive/tar/tar_test.go
  vendor/archive/tar/writer_test.go
Labels: impact/changelog, status/2-code-review

#42652 Makefile: do not tag docker-dev image with GIT_BRANCH
  Makefile
Labels: area/project, area/testing, status/2-code-review

#42625 Fix flaky libnetwork/networkdb tests
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/networkdb_test.go
  vendor.conf
  vendor/github.com/google/btree/LICENSE
  vendor/github.com/google/btree/README.md
  vendor/github.com/google/btree/btree.go
  vendor/github.com/google/btree/go.mod
  vendor/github.com/hashicorp/memberlist/README.md
  vendor/github.com/hashicorp/memberlist/alive_delegate.go
  vendor/github.com/hashicorp/memberlist/broadcast.go
  vendor/github.com/hashicorp/memberlist/config.go
  vendor/github.com/hashicorp/memberlist/event_delegate.go
  vendor/github.com/hashicorp/memberlist/go.mod
  vendor/github.com/hashicorp/memberlist/logging.go
  vendor/github.com/hashicorp/memberlist/memberlist.go
  vendor/github.com/hashicorp/memberlist/mock_transport.go
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/hashicorp/memberlist/net_transport.go
  vendor/github.com/hashicorp/memberlist/queue.go
  vendor/github.com/hashicorp/memberlist/security.go
  vendor/github.com/hashicorp/memberlist/state.go
  vendor/github.com/hashicorp/memberlist/transport.go
  vendor/github.com/hashicorp/memberlist/util.go
Labels: area/networking, area/testing, status/2-code-review

#42531 Add support for `shared-size` parameter for images queries
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/client.go
  daemon/disk_usage.go
  daemon/images/images.go
  docs/api/version-history.md
Labels: area/api, impact/api, impact/changelog, status/2-code-review

#42620 daemon: use object literal for stats
  daemon/daemon_unix.go
Labels: area/daemon, kind/refactor, status/2-code-review

#42648 seccomp.Seccomp: embed oci-spec LinuxSeccomp, add support for seccomp flags
  integration-cli/docker_cli_run_unix_test.go
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_test.go
Labels: area/security/seccomp, impact/changelog, kind/enhancement, status/2-code-review

#42639 pkg/sysinfo: assorted cleanup/refactoring for handling warnings and logging
  api/types/types.go
  cmd/dockerd/daemon.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/info.go
  daemon/oci_linux.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/requirements_unix_test.go
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/sysinfo/sysinfo_linux_test.go
  pkg/sysinfo/sysinfo_other.go
  pkg/sysinfo/sysinfo_unix.go
  pkg/sysinfo/sysinfo_windows.go
  runconfig/config.go
  runconfig/config_test.go
Labels: kind/refactor, status/2-code-review

#42132 Add an option to skip create log stream for awslogs driver
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, impact/api, impact/changelog, impact/documentation, status/4-merge

#42641 pkg/signal: make package self-contained (in preparation of moving to moby/sys)
  cmd/dockerd/daemon.go
  cmd/dockerd/trap/testfiles/main.go
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
  daemon/cluster/cluster.go
  daemon/cluster/swarm.go
  daemon/debugtrap_unix.go
  daemon/debugtrap_windows.go
  libnetwork/diagnostic/server.go
  pkg/signal/signal_deprecated.go
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_test.go
  pkg/stack/stackdump.go
  pkg/stack/stackdump_test.go
Labels: kind/refactor, status/2-code-review

#42657 [20.10] update containerd binary v1.4.8
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42656 Update containerd v1.5.4
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_freebsd.go
  vendor/github.com/containerd/containerd/archive/tar_mostunix.go
  vendor/github.com/containerd/containerd/archive/tar_unix.go
  vendor/github.com/containerd/containerd/archive/tar_windows.go
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, impact/changelog, status/4-merge

#42661 storage-driver: promote overlay2, make Btrfs and ZFS opt-in
  daemon/graphdriver/driver_linux.go
Labels: area/docs, area/storage, area/storage/btrfs, area/storage/overlay, area/storage/zfs, impact/changelog, status/4-merge

#42670 fix a typo
  daemon/images/image_pull.go
Labels: status/4-merge

#42616 replace pkg/signal with moby/sys/signal v0.5.0
  api/server/router/container/container_routes.go
  builder/dockerfile/dispatchers.go
  container/container.go
  container/container_unit_test.go
  daemon/container.go
  daemon/exec.go
  daemon/kill.go
  pkg/signal/README.md
  pkg/signal/signal_deprecated.go
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_test.go
  vendor.conf
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/signal/go.mod
  vendor/github.com/moby/sys/signal/signal.go
  vendor/github.com/moby/sys/signal/signal_darwin.go
  vendor/github.com/moby/sys/signal/signal_freebsd.go
  vendor/github.com/moby/sys/signal/signal_linux.go
  vendor/github.com/moby/sys/signal/signal_linux_mipsx.go
  vendor/github.com/moby/sys/signal/signal_unix.go
  vendor/github.com/moby/sys/signal/signal_unsupported.go
  vendor/github.com/moby/sys/signal/signal_windows.go
Labels: kind/refactor, status/2-code-review

#42666 Fix incorrect loop variable usage in parallel test closures
  integration/container/container_test.go
  integration/network/network_test.go
  integration/plugin/common/plugin_test.go
  integration/volume/volume_test.go
Labels: area/testing, kind/bugfix, status/2-code-review

#42658 Makefile: update buildx version to v0.6.0
  Makefile
Labels: area/testing, status/2-code-review

#42193 discovery & test: Fix goroutine leaks by adding 1 buffer to channel
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/graphdriver/devmapper/devmapper_test.go
  pkg/discovery/file/file.go
  pkg/discovery/memory/memory.go
  pkg/discovery/nodes/nodes.go
Labels: kind/bugfix, status/2-code-review

#41897 Updated check_config with cgroupv2 controllers
  contrib/check-config.sh
Labels: area/cgroup2, area/contrib, kind/enhancement, process/cherry-pick, status/4-merge

#42545 libnetwork: processEndpointDelete: Fix deadlock between getSvcRecords and processEndpointDelete
  libnetwork/store.go
Labels: area/networking, kind/bugfix, status/2-code-review

#42659 [20.10 backport] update runc binary to v1.0.1
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42683 Remove LCOW (step 6)
  builder/dockerfile/dispatchers_test.go
  container/container.go
  daemon/create.go
  daemon/create_windows.go
  daemon/daemon_windows.go
  daemon/oci_windows.go
  distribution/config.go
  distribution/pull_v2.go
  hack/ci/windows.ps1
  image/tarexport/save.go
  oci/defaults.go
  pkg/archive/copy.go
  pkg/containerfs/containerfs.go
  pkg/system/image_os.go
Labels: area/lcow, impact/deprecation, kind/experimental, status/2-code-review

#42679 vendor: github.com/docker/swarmkit 3629f50980f6c0dd5ccd7dbfa0956b57ea0cd78d
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/state/raft/raft.go
  vendor/github.com/docker/swarmkit/vendor.conf
Labels: area/swarm, status/2-code-review

#42695 [20.10] update containerd binary to v1.4.9
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/4-merge

#42681 seccomp: add support for "clone3" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: area/security/seccomp, impact/changelog, process/cherry-pick, status/4-merge

#42623 Remove containerd "platform" dependency from client
  client/container_create.go
Labels: area/api, kind/refactor, process/cherry-pick, status/2-code-review
