Repository moby/moby, pull requests merged in 2021-02, with the labels that each got.

#41964 [master] Fix Access to remapped root allows privilege escalation to real root (CVE-2021-21284)
  daemon/container_operations_unix.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/zfs/zfs.go
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix.go
  volume/local/local.go
Labels: area/security, area/security/userns, status/2-code-review

#41965 [master] Ensure AppArmor and SELinux profiles are applied when building with BuildKit
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  cmd/dockerd/daemon.go
  daemon/apparmor_default.go
  daemon/apparmor_default_unsupported.go
  vendor.conf
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/config.go
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/spec_windows.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/go.mod
Labels: area/builder, area/security/apparmor, status/2-code-review

#41966 [master] prevent an invalid image from crashing docker daemon (CVE-2021-21285)
  builder/builder-next/adapters/containerimage/pull.go
  distribution/pull_v2.go
Labels: area/distribution, area/security, status/4-merge

#41956 [20.10 backport] rootless: prevent the service hanging when stopping (set systemd KillMode to mixed)
  contrib/dockerd-rootless-setuptool.sh
Labels: area/rootless, area/systemd, impact/changelog, status/2-code-review

#41958 [20.10 backport] docker info: silence unhandleable warnings
  daemon/info_unix.go
Labels: area/cgroup2, impact/changelog, status/2-code-review

#41959 [20.10 backport] TestCgroupNamespacesRunOlderClient: support cgroup v2
  integration/container/run_cgroupns_linux_test.go
Labels: area/testing, status/2-code-review

#41919 Fix panic when starting container with invalid device cgroup rule
  oci/oci.go
  oci/oci_test.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review

#41995 Dockerfile.simple: Fix compile docker binary error with btrfs
  Dockerfile.simple
Labels: area/packaging, area/storage/btrfs, kind/bugfix, process/cherry-pick, status/4-merge

#41842 Reject null manifests during tar import
  daemon/images/image_exporter.go
  image/tarexport/load.go
  image/tarexport/load_test.go
Labels: area/distribution, area/images, kind/bugfix, status/2-code-review

#41320 Add test coverage to seccomp.
  daemon/seccomp_linux_test.go
Labels: area/security/seccomp, area/testing, status/4-merge

#41698 Move container exit state to after cleanup.
  daemon/monitor.go
Labels: area/daemon, process/cherry-pick, status/4-merge

#41567 Update array length check logic for preventing off-by-one error
  daemon/daemon_linux.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review

#42009 api/docs: fix NanoCPUs casing in swagger
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, area/docs, process/cherry-pick, status/3-docs-review

#42004 Fix userns-remap option when username & UID match
  pkg/idtools/idtools_unix.go
Labels: area/security/userns, kind/bugfix, process/cherry-pick, status/2-code-review

#41957 [20.10 backport] pkg/archive: allow mknodding FIFO inside userns
  pkg/archive/archive_unix.go
Labels: area/rootless, kind/bugfix, status/4-merge

#41948 [19.03 backport] pkg/archive: allow mknodding FIFO inside userns
  pkg/archive/archive_unix.go
Labels: area/rootless, kind/bugfix

#41994 Bump runc binary v1.0.0-rc93
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, process/cherry-pick, status/4-merge

#41984 archive: avoid creating parent dirs for XGlobalHeader
  pkg/archive/archive.go
  pkg/archive/archive_test.go
Labels: kind/bugfix, process/cherry-pick, status/2-code-review, status/4-merge

#41925 Jenkinsfile: add cgroup2
  Jenkinsfile
  integration/container/kill_test.go
Labels: area/cgroup2, area/testing, process/cherry-pick, status/4-merge

#42030 [20.10 backport] Jenkinsfile: add cgroup2
  Jenkinsfile
  integration/container/kill_test.go
Labels: area/cgroup2, area/testing, status/2-code-review

#41936 [testing] fix TestBuildUserNamespaceValidateCapabilitiesAreV2 failures
  integration/build/build_userns_linux_test.go
Labels: area/testing, kind/bugfix, process/cherry-picked, status/2-code-review

#42016 pkg/archive: Unpack() use 0755 permissions for missing directories
  pkg/archive/archive.go
  pkg/archive/archive_unix_test.go
Labels: area/builder, impact/changelog, kind/bugfix, process/cherry-picked, status/2-code-review

#41970 [20.10 backport] backport various testing fixes
  Dockerfile.buildx
  hack/make/test-docker-py
  integration/build/build_userns_linux_test.go
  integration/container/daemon_linux_test.go
Labels: area/testing, status/2-code-review

#41989 Update TestDaemonRestartWithLiveRestore: fix docker0 subnet missmatch
  integration/network/service_test.go
Labels: area/testing, status/2-code-review

#42000 [20.10 backport] Dockerfile.simple: Fix compile docker binary error with btrfs
  Dockerfile.simple
Labels: area/packaging, area/storage/btrfs, kind/bugfix, status/4-merge

#41975 [20.10 backport] Handle long log messages correctly on SizedLogger
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/copier.go
  daemon/logger/copier_test.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/logger/ring.go
Labels: area/logging, impact/changelog, kind/bugfix

#42021 Update rootlesskit to v0.13.1 to fix handling of IPv6 addresses
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, kind/bugfix, process/cherry-picked, status/2-code-review

#42031 Move cgroup v2 out of experimental
  daemon/info_unix.go
Labels: area/cgroup2, impact/changelog, status/2-code-review

#41955 Fallback to manifest list when no platform match
  daemon/create.go
  daemon/images/image.go
  daemon/images/images_test.go
Labels: area/distribution, area/images, process/cherry-pick, status/2-code-review

#42042 [20.10 backport] Update TestDaemonRestartWithLiveRestore: fix docker0 subnet missmatch
  integration/network/service_test.go
Labels: area/testing, kind/bugfix, status/2-code-review

#42025 [20.10 backport] Update rootlesskit to v0.13.1 to fix handling of IPv6 addresses
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, impact/changelog, kind/bugfix, status/2-code-review

#42014 [20.10 backport] update runc binary to v1.0.0-rc93
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42013 [20.10 backport] Fix userns-remap option when username & UID match
  pkg/idtools/idtools_unix.go
Labels: area/security/userns, kind/bugfix, status/2-code-review

#42012 [20.10 backport] api/docs: fix NanoCPUs casing in swagger
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, area/docs, status/3-docs-review

#42001 [20.10 backport] Fix daemon panic when starting container with invalid device cgroup rule
  oci/oci.go
  oci/oci_test.go
Labels: impact/changelog, kind/bugfix, status/2-code-review

#41977 [20.10 backport] assorted small fixes, docs changes, and contrib
  api/swagger.yaml
  contrib/check-config.sh
  daemon/daemon_unix.go
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  integration-cli/docker_cli_run_unix_test.go
Labels: area/api, area/cgroup2, area/contrib, area/daemon, area/docs, kind/bugfix, status/2-code-review

#41976 [20.10 backport] replace json.Unmarshal with NewFromJSON in Create
  image/store.go
  image/store_test.go
Labels: area/images, kind/bugfix, status/2-code-review

#41973 [20.10 backport] Fix builder inconsistent error on buggy platform
  daemon/images/image_builder.go
Labels: area/images, impact/changelog, kind/bugfix, status/2-code-review

#41972 [20.10 backport] builder: ensure libnetwork state file do not leak
  builder/builder-next/executor_unix.go
Labels: area/builder, area/networking, kind/bugfix, status/2-code-review

#41974 [20.10 backport] Add shim config for custom runtimes for plugins
  daemon/daemon.go
  daemon/runtime_unix.go
  daemon/runtime_windows.go
  daemon/start_unix.go
  integration/plugin/common/plugin_test.go
Labels: area/daemon, area/runtime, impact/changelog, kind/bugfix, status/2-code-review

#41971 [20.10 backport] profiles: seccomp: update to Linux 5.11 syscall list
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: area/security/seccomp, impact/changelog, status/2-code-review

#42045 [20.10] Fallback to manifest list when no platform match
  daemon/create.go
  daemon/images/image.go
  daemon/images/images_test.go
Labels: area/distribution, impact/changelog, status/2-code-review

#42044 Check the length of the correct variable #42039
  daemon/logger/loginfo.go
Labels: area/logging, dco/no, kind/bugfix, process/cherry-pick, status/2-code-review

#42035 builder: fix pull synchronization regression
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, kind/bugfix, process/cherry-pick

#42052 check-config.sh: add NETFILTER_XT_MARK
  contrib/check-config.sh
Labels: area/contrib, kind/enhancement, process/cherry-pick, status/4-merge

#42017 [20.10 backport]: avoid creating parent dirs for XGlobalHeader, and fix permissions
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix_test.go
Labels: area/builder, impact/changelog, kind/bugfix, status/4-merge

#41756 daemon: remove migration code from docker 1.11 to 1.12
  daemon/daemon.go
Labels: area/daemon, area/logging, kind/refactor, status/4-merge

#41884 Fix spurious error from "docker load"
  image/image.go
  image/image_test.go
  image/tarexport/load.go
Labels: area/images, kind/bugfix, status/4-merge

#42058 Update Swarmkit to pick up fixes to heartbeat period and stalled tasks
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/scheduler/scheduler.go
Labels: area/swarm, impact/changelog, kind/bugfix, process/cherry-pick, status/2-code-review

#42038 oci.Device() fix FileMode to match runtime spec
  oci/devices_linux.go
  oci/devices_linux_test.go
Labels: area/runtime, kind/bugfix, status/2-code-review

#42020 builder: fix blobs releasing via leases after pull
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/controller.go
Labels: area/builder, impact/changelog, kind/bugfix, process/cherry-pick, status/2-code-review

#42046 [20.10 backport] Check the length of the correct variable #42039
  daemon/logger/loginfo.go
Labels: area/logging, kind/bugfix, status/2-code-review

#42049 [20.10 backport] builder: fix pull synchronization regression
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, impact/changelog, kind/bugfix, status/2-code-review

#42065 [20.10 backport] builder: fix blobs releasing via leases after pull
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/controller.go
Labels: area/builder, impact/changelog, kind/bugfix, status/2-code-review

#42066 [20.10 backport] check-config.sh: add NETFILTER_XT_MARK
  contrib/check-config.sh
Labels: area/contrib, status/2-code-review

#42060 [20.10 backport] Update Swarmkit to pick up fixes to heartbeat period and stalled tasks
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/manager.go
  vendor/github.com/docker/swarmkit/manager/scheduler/scheduler.go
Labels: area/swarm, impact/changelog, kind/bugfix, status/2-code-review

#42034 dockerd-rootless.sh: prohibit running as root
  contrib/dockerd-rootless.sh
Labels: area/rootless, kind/refactor

#41960 dockerd-rootless.sh: add typo guard
  contrib/dockerd-rootless.sh
Labels: area/rootless, kind/enhancement, process/cherry-pick

#42070 [20.10 backport] dockerd-rootless.sh: add typo guard
  contrib/dockerd-rootless.sh
Labels: area/rootless, status/2-code-review

#42056 vendor: github.com/moby/buildkit v0.8.2
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/remotecache/v1/utils.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/bflag.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/parse.go
  vendor/github.com/moby/buildkit/frontend/gateway/container.go
  vendor/github.com/moby/buildkit/solver/llbsolver/errdefs/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec_binfmt.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/result.go
  vendor/github.com/moby/buildkit/solver/scheduler.go
  vendor/github.com/moby/buildkit/solver/types.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/resolver/authorizer.go
  vendor/github.com/moby/buildkit/worker/result.go
Labels: area/builder, impact/changelog, process/cherry-picked, status/2-code-review

#42061 [20.10 backport] vendor: github.com/moby/buildkit v0.8.2
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  vendor.conf
  vendor/github.com/moby/buildkit/cache/remotecache/v1/utils.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/bflag.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/parse.go
  vendor/github.com/moby/buildkit/frontend/gateway/container.go
  vendor/github.com/moby/buildkit/solver/llbsolver/errdefs/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec_binfmt.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/result.go
  vendor/github.com/moby/buildkit/solver/scheduler.go
  vendor/github.com/moby/buildkit/solver/types.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/resolver/authorizer.go
  vendor/github.com/moby/buildkit/worker/result.go
Labels: area/builder, impact/changelog, status/2-code-review

#42076 Update documentation links
  client/client.go
  contrib/dockerd-rootless-setuptool.sh
  contrib/dockerd-rootless.sh
  daemon/info.go
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/rootless.md
  pkg/authorization/authz.go
Labels: area/docs, process/cherry-pick, status/3-docs-review

#41485 plugin.Manager.setupNewPlugin() remove unused blobsums argument
  plugin/manager_linux.go
Labels: kind/refactor, status/2-code-review

#42094 pkg/archive: TestUntarParentPathPermissions requires root
  pkg/archive/archive_unix_test.go
Labels: area/testing, process/cherry-pick
