Repository moby/moby, pull requests merged in 2021-05, with the labels that each got.

#42343 Added missing test cleanup for temporary directory
  daemon/graphdriver/copy/copy_test.go
Labels: area/testing, status/2-code-review

#42077 rootless: Set service type to `notify`
  contrib/dockerd-rootless-setuptool.sh
Labels: area/rootless, area/systemd, kind/enhancement, status/2-code-review

#42348 Move Michael Crosby to alumni
  MAINTAINERS
Labels: area/project, status/3-docs-review

#42318 builder/dockerfile: add "ALL_PROXY" to list of default build args
  builder/dockerfile/buildargs.go
  builder/dockerfile/buildargs_test.go
Labels: area/builder, area/builder/classic-builder, impact/changelog, impact/dockerfile, kind/enhancement, status/2-code-review

#42292 [20.10] Bump hcsshim for error details fix
  daemon/errors.go
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
Labels: platform/windows, status/4-merge

#41620 container: make hostconfig.json non-world-readable (0600)
  container/container.go
Labels: area/daemon, area/security, impact/changelog, status/2-code-review

#42142 vendor: github.com/moby/sys/mountinfo v0.4.1, github.com/moby/sys/mount v0.2.0+
  vendor.conf
  vendor/github.com/moby/sys/mount/go.mod
  vendor/github.com/moby/sys/mount/mounter_freebsd.go
  vendor/github.com/moby/sys/mount/mounter_openbsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_filters.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/symlink/go.mod
Labels: status/2-code-review

#42329 grpc: make sure typed errors handler is installed
  api/server/router/grpc/grpc.go
Labels: area/builder, area/builder/buildkit, kind/bugfix, process/cherry-pick, status/2-code-review

#42360 oci/caps: remove unused GetCapability() and ValidateCapabilities()
  oci/caps/utils.go
Labels: status/2-code-review

#42370 Swarm config: use absolute paths for mount destination strings
  container/container.go
  container/container_unix.go
  container/container_windows.go
Labels: area/runtime, area/swarm, kind/bugfix, process/cherry-pick, status/2-code-review

#42374 Jenkinsfile: skip ppc64le and s390x by default on pull requests
  Jenkinsfile
Labels: area/testing, platform/ibm-power, platform/ibm-z, status/2-code-review

#42372 [20.10] update containerd binary to v1.4.5
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review

#42371 builder-next: relax second cache key requirements for schema1
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, area/builder/buildkit, kind/bugfix, process/cherry-pick, status/2-code-review

#42369 Update runc binary to v1.0.0-rc94
  hack/dockerfile/install/runc.installer
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_update_unix_test.go
  integration-cli/requirements_unix_test.go
  integration/container/run_linux_test.go
Labels: area/runtime, impact/changelog, process/cherry-pick, status/4-merge

#42383 update containerd binary to v1.5.1
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42388 [20.10 backport] Update runc binary to v1.0.0-rc94
  container/container.go
  container/container_unix.go
  container/container_windows.go
  hack/dockerfile/install/runc.installer
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_update_unix_test.go
  integration-cli/requirements_unix_test.go
  integration/container/run_linux_test.go
Labels: area/runtime, impact/changelog, status/2-code-review

#42384 hack/validate: skip DCO in "default"
  hack/validate/default
Labels: area/testing, status/2-code-review

#42373 Upstream systemd unit files from docker-ce-packaging repo
  contrib/init/systemd/docker.service
  contrib/init/systemd/docker.service.rpm
Labels: area/packaging, area/systemd, status/2-code-review

#42394 update runc binary to v1.0.0-rc95
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, process/cherry-picked, status/4-merge

#42395 [20.10 backport] update runc binary to v1.0.0-rc95
  hack/dockerfile/install/runc.installer
Labels: area/runtime, impact/changelog, status/4-merge

#42397 pkg/signal.CatchAll: ignore SIGURG on Linux
  pkg/signal/signal.go
  pkg/signal/signal_darwin.go
  pkg/signal/signal_freebsd.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_linux_test.go
  pkg/signal/signal_windows.go
Labels: process/cherry-pick, status/2-code-review, status/4-merge

#42399 update containerd binary to v1.5.2
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/2-code-review

#42398 [20.10] update containerd binary to v1.4.6
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog, status/4-merge

#42389 hack: add script to regenerate certificates and update test-certs
  hack/generate-test-certs.sh
  integration/testdata/https/ca.pem
  integration/testdata/https/client-cert.pem
  integration/testdata/https/client-key.pem
  integration/testdata/https/server-cert.pem
  integration/testdata/https/server-key.pem
Labels: area/testing, process/cherry-pick, status/2-code-review

#42390 pkg/fileutils: TestMatches: remove cases no longer valid for go1.16
  pkg/fileutils/fileutils_test.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#42382 [20.10 backport] builder-next: relax second cache key requirements for schema1
  builder/builder-next/adapters/containerimage/pull.go
Labels: area/builder, area/builder/buildkit, kind/bugfix, status/2-code-review

#41949 Makefile: install buildx from binary release, instead of building
  Dockerfile.buildx
  Makefile
Labels: area/testing, status/2-code-review

#42391 Disable go modules when compiling binaries used in tests
  hack/ci/windows.ps1
  integration/plugin/logging/helpers_test.go
  integration/plugin/volumes/helpers_test.go
  testutil/fixtures/plugin/plugin.go
Labels: area/testing, process/cherry-pick, status/2-code-review

#42339 Add security privilege needed to write layers to VHDX
  daemon/graphdriver/windows/windows.go
Labels: platform/windows, status/2-code-review

#42412 vendor: github.com/docker/libnetwork 64b7a4574d1426139437d20e81c0b6d391130ec8
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/port_mapping.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/ishidawataru/sctp/NOTICE
  vendor/github.com/ishidawataru/sctp/go.mod
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
Labels: area/networking, impact/changelog, kind/bugfix, process/cherry-picked, status/2-code-review

#42415 pkg/signal: ignore SIGURG on all platforms
  pkg/signal/signal.go
  pkg/signal/signal_darwin.go
  pkg/signal/signal_freebsd.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_windows.go
Labels: process/cherry-picked, status/4-merge

#42421 [20.10 backport] pkg/signal: ignore SIGURG on all platforms
  pkg/signal/signal.go
  pkg/signal/signal_darwin.go
  pkg/signal/signal_freebsd.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_windows.go
Labels: status/2-code-review

#42413 [20.10 backport] vendor: github.com/docker/libnetwork 64b7a4574d1426139437d20e81c0b6d391130ec8
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/port_mapping.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/vendor.conf
  vendor/github.com/ishidawataru/sctp/NOTICE
  vendor/github.com/ishidawataru/sctp/go.mod
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
Labels: area/networking, impact/changelog, kind/bugfix, status/2-code-review

#42418 vendor: github.com/fluent/fluent-logger-golang 1.6.1
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/proto.go
Labels: area/logging, kind/bugfix, status/2-code-review

#42320 #42316 Wait for `run` goroutine to exit before `Close`
  daemon/logger/ring.go
Labels: area/logging, kind/bugfix, status/2-code-review

#42405 Add Samuel Karp as a maintainer
  MAINTAINERS
Labels: area/project, status/3-docs-review

#42410 contrib/check-config.sh: Make script POSIX
  contrib/check-config.sh
Labels: area/contrib, kind/refactor, status/2-code-review

#41212 hack/vendor: add check for vendored archive/tar
  Dockerfile
  hack/validate/vendor
  hack/vendor.sh
Labels: area/testing, process/cherry-pick, status/4-merge

#42291 Limit the rate at which logger errors are logged into daemon logs
  daemon/logger/copier.go
  daemon/logger/logger_error.go
  daemon/logger/ring.go
Labels: area/logging, status/2-code-review, status/4-merge
