Repository moby/moby, pull requests merged in 2021-11, with the labels that each got.

#42984 [Windows] cmd/dockerd: create panic.log file without readonly flag
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, process/cherry-pick, area/daemon, kind/bugfix

#42971 [20.10 backport] Fix race in TestCreateServiceSecretFileMode, TestCreateServiceConfigFileMode
  integration/service/create_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#42994 vendor: github.com/containerd/containerd v1.5.7
  vendor.conf
  vendor/github.com/containerd/containerd/container_opts.go
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/metadata/content.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/bundle.go
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, status/2-code-review

#43002 bump up rootlesskit from v0.14.4 to v0.14.6
  hack/dockerfile/install/rootlesskit.installer
Labels: status/2-code-review, area/rootless

#42989 [20.10] Update Go to 1.16.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog

#42152 info: unset cgroup-related fields when CgroupDriver == none
  daemon/info_unix.go
Labels: impact/changelog, process/cherry-pick, area/rootless, kind/bugfix

#42990 Update Go to 1.17.3
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog

#42738 client: use subtests for TestNetworkInspect
  client/network_inspect_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#42987 [20.10 backport] [Windows]] cmd/dockerd: create panic.log file without readonly flag
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#42995 TestBuildUserNamespaceValidateCapabilitiesAreV2: cleanup daemon storage
  integration/build/build_userns_linux_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, process/cherry-picked, kind/bugfix

#43009 testing: skip TestBuildWCOWSandboxSize for now
  integration/build/build_test.go
Labels: platform/windows, status/2-code-review, area/testing, process/cherry-pick

#43008 [20.10 backport] TestBuildUserNamespaceValidateCapabilitiesAreV2: cleanup daemon storage
  integration/build/build_userns_linux_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, kind/bugfix

#43010 Jenkinsfile: update check-config script to latest version
  Jenkinsfile
Labels: status/4-merge, area/testing

#42726 daemon: simplify networking config
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#42992 vendor: github.com/imdario/mergo v0.3.12
  vendor.conf
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/doc.go
  vendor/github.com/imdario/mergo/go.mod
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
Labels: status/4-merge

#42999 log error message when receiving an unexpected type error
  errdefs/http_helpers.go
Labels: status/2-code-review

#42785 Fixed docker.internal.gateway not displaying properly on live restore
  daemon/daemon_unix.go
Labels: status/2-code-review, area/networking, kind/bugfix

#42996 Fix windows rxReservedNames
  volume/mounts/windows_parser.go
  volume/mounts/windows_parser_test.go
Labels: platform/windows, status/2-code-review, kind/bugfix

#43028 [20.10] fix vendor validation
  vendor.conf
Labels: status/2-code-review, kind/bugfix

#43025 Update containerd binary and vendor to v1.5.8
  hack/dockerfile/install/containerd.installer
  vendor.conf
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/images/image.go
  vendor/github.com/containerd/containerd/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/remotes/docker/httpreadseeker.go
  vendor/github.com/containerd/containerd/remotes/docker/schema1/converter.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/version/version.go
Labels: area/runtime, status/4-merge, impact/changelog

#43024 [20.10] update containerd binary to v1.4.12
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, impact/changelog

#43023 [20.10] vendor: github.com/moby/buildkit v0.8.3-4-gbc07b2b8
  vendor.conf
  vendor/github.com/moby/buildkit/util/imageutil/config.go
Labels: status/2-code-review

#43026 vendor: github.com/opencontainers/image-spec v1.0.2
  integration/plugin/common/plugin_test.go
  vendor.conf
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
Labels: status/2-code-review

#43027 [20.10 backport] vendor: github.com/opencontainers/image-spec v1.0.2
  integration/plugin/common/plugin_test.go
  vendor.conf
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
Labels: status/2-code-review

#43004 [20.10 backport] info: unset cgroup-related fields when CgroupDriver == none
  daemon/info_unix.go
Labels: status/2-code-review, area/rootless

#42993 vendor: github.com/Microsoft/hcsshim v0.8.22
  vendor.conf
  vendor/github.com/Microsoft/hcsshim/go.mod
  vendor/github.com/Microsoft/hcsshim/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
Labels: status/2-code-review

#43029 integration-cli: remove manifest v2 schema 1 push tests
  integration-cli/docker_cli_push_test.go
Labels: area/distribution, status/2-code-review, area/testing

#43032 Dockerfile.windows: update containerd binary to v1.5.8
  Dockerfile.windows
Labels: status/2-code-review

#43017 Fix flaky TestPortMappingV6Config
  libnetwork/drivers/bridge/port_mapping_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#43031 TestConntrackFlowsLeak: use busybox "nc"
  integration-cli/docker_cli_network_unix_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor

#43042 fix image spec JSON example
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
Labels: status/3-docs-review, area/docs

#43045 distribution: validate blob type
  distribution/manifest.go
  distribution/manifest_test.go
Labels: area/distribution, status/4-merge, kind/bugfix
