Repository moby/moby, pull requests merged in 2021-10, with the labels that each got.

#42836 [20.10 backport] seccomp: add support for "clone3" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
Labels: status/2-code-review, area/security/seccomp

#42869 [20.10 backport] quota: adjust build-tags to allow build without CGO
  quota/projectquota.go
  quota/testhelpers.go
Labels: status/2-code-review

#42843 [20.10 backport] cmd/dockerd: add the link of "the documentation"
  cmd/dockerd/daemon.go
Labels: status/2-code-review

#42908 registry: remove unused registry.ErrAlreadyExists
  registry/registry.go
Labels: area/distribution, status/4-merge, kind/refactor
