Repository moby/moby, pull requests merged in 2021-01, with the labels that each got.

#41851 docs: fix typos in API docs
  api/swagger.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/docs, status/3-docs-review

#41857 Fix Error in daemon_unix.go and docker_cli_run_unit_test.go
  daemon/daemon_unix.go
  integration-cli/docker_cli_run_unix_test.go
Labels: kind/bugfix, status/2-code-review

#41855 Make test work with rootless mode
  integration/container/daemon_linux_test.go
Labels: area/rootless, area/testing, status/2-code-review

#41863 builder: ensure libnetwork state files do not leak
  builder/builder-next/executor_unix.go
Labels: area/builder, area/networking, kind/bugfix, process/cherry-pick, status/2-code-review

#41701 replace json.Unmarshal with NewFromJSON in Create
  image/store.go
  image/store_test.go
Labels: kind/bugfix, status/2-code-review

#41869 contrib/check-config.sh: fixes for cgroup v2 and kernel v5.x
  contrib/check-config.sh
Labels: area/contrib, status/4-merge

#41724 Use v2 capabilities in layer archives
  integration/build/build_userns_linux_test.go
  pkg/archive/archive.go
Labels: area/builder, area/images, status/2-code-review

#41865 integration: fix TestBuildUserNamespaceValidateCapabilitiesAreV2 not using frozen image
  integration/build/build_userns_linux_test.go
Labels: area/testing, kind/bugfix, status/4-merge

#41883 volumes/local: gofmt
  volume/local/local_unix.go
Labels: kind/refactor, status/4-merge

#41909 Handle long log messages correctly on SizedLogger
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/copier.go
  daemon/logger/copier_test.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/logger/ring.go
Labels: area/logging, kind/bugfix, status/4-merge

#41873 Fix builder inconsistent error on buggy platform
  daemon/images/image_builder.go
Labels: area/images, kind/bugfix, status/4-merge

#41854 Add shim config for custom runtimes for plugins
  daemon/daemon.go
  daemon/runtime_unix.go
  daemon/runtime_windows.go
  daemon/start_unix.go
  integration/plugin/common/plugin_test.go
Labels: area/runtime, impact/changelog, kind/bugfix, status/2-code-review

#41894 docker info: silence unhandleable warnings
  daemon/info_unix.go
Labels: impact/changelog, status/2-code-review

#41636 Set 127GB default sandbox size for WCOW, and ensure storage-opts is honoured on all paths under WCOW and LCOW
  builder/dockerfile/internals.go
  daemon/create.go
  daemon/graphdriver/lcow/lcow.go
  daemon/graphdriver/windows/windows.go
  hack/make.ps1
  integration/build/build_test.go
  integration/container/mounts_linux_test.go
Labels: impact/changelog, platform/windows, status/2-code-review

#41889 profiles: seccomp: update to Linux 5.11 syscall list
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: area/security/seccomp, impact/changelog, status/4-merge

#41709 testing: update docker-py 4.4.1
  hack/make/test-docker-py
Labels: area/testing, status/4-merge

#41924 swagger.yaml: Remove extra 'the' wrapped by newline
  api/swagger.yaml
Labels: area/api, area/docs, status/4-merge

#41932 Dockerfile.buildx: update buildx to v0.5.1
  Dockerfile.buildx
Labels: area/testing, status/2-code-review

#41892 pkg/archive: allow mknodding FIFO inside userns
  pkg/archive/archive_unix.go
Labels: area/rootless, kind/bugfix, process/cherry-pick, status/4-merge

#41917 TestCgroupNamespacesRunOlderClient: support cgroup v2
  integration/container/run_cgroupns_linux_test.go
Labels: area/testing, status/2-code-review

#41947 rootless: prevent the service hanging when stopping (set systemd KillMode to mixed)
  contrib/dockerd-rootless-setuptool.sh
Labels: area/rootless, area/systemd, impact/changelog, kind/bugfix, status/2-code-review
