Repository moby/moby, pull requests merged in 2021-04, with the labels that each got.

#42219 bump up rootlesskit to v0.14.1 (Fix `DOCKERD_ROOTLESS_ROOTLESSKIT_PORT_DRIVER=slirp4netns` regression)
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, kind/bugfix, process/cherry-pick

#42205 [20.10 backport] vendor: docker/libnetwork b3507428be5b458cb0e2b4086b13531fb0706e46
  hack/dockerfile/install/proxy.installer
  integration-cli/docker_cli_port_test.go
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/bridge/port_mapping.go
  vendor/github.com/docker/libnetwork/iptables/iptables.go
Labels: area/networking, impact/changelog, kind/bugfix, status/2-code-review

#42230 rootless: bind mount: fix "operation not permitted"
  daemon/oci_linux.go
Labels: area/rootless, kind/bugfix, process/cherry-pick

#42189 rootless: fix getCurrentOOMScoreAdj (fix rootless docker in kubernetes)
  rootless/specconv/specconv_linux.go
Labels: area/rootless, kind/bugfix, process/cherry-pick

#42232 [20.10 backport] bump up rootlesskit to v0.14.1 (Fix `DOCKERD_ROOTLESS_ROOTLESSKIT_PORT_DRIVER=slirp4netns` regression)
  hack/dockerfile/install/rootlesskit.installer
Labels: area/rootless, kind/bugfix, status/4-merge

#42188 rootless: overlay2: fix "createDirWithOverlayOpaque(...) ... input/output error"
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_other.go
Labels: area/rootless, area/storage/overlay, kind/bugfix, process/cherry-pick, status/4-merge

#42236 [20.10 backport] rootless: fix getCurrentOOMScoreAdj
  rootless/specconv/specconv_linux.go
Labels: area/rootless, kind/bugfix, status/4-merge

#42235 [20.10 backport] rootless: overlay2: fix "createDirWithOverlayOpaque(...) ... input/output error"
  daemon/graphdriver/overlay2/check.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_other.go
Labels: area/rootless, area/storage/overlay, kind/bugfix

#42233 [20.10 backport] rootless: bind mount: fix "operation not permitted"
  daemon/oci_linux.go
Labels: area/rootless, kind/bugfix, status/4-merge

#42173 libcontainerd: remove unused win32 errors and consts
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client_windows.go
Labels: kind/refactor, platform/windows, status/2-code-review

#42217 check-config.sh: add SELinux and AppArmor
  contrib/check-config.sh
Labels: area/contrib, status/2-code-review

#42203 btrfs: Allow unprivileged user to delete subvolumes (kernel >= 4.18)
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/rootless, area/storage/btrfs, process/cherry-pick

#42245 Use designated test domains (RFC2606) in tests
  cmd/dockerd/daemon_test.go
  daemon/reload_test.go
  integration/system/info_test.go
  registry/auth_test.go
  registry/config_test.go
  registry/registry_test.go
Labels: area/testing, kind/refactor, status/2-code-review

#42251 Fix flaky TestInspect
  integration/service/inspect_test.go
Labels: area/testing, kind/bugfix, process/cherry-picked, status/2-code-review

#41893 rootless: support --pid=host
  integration-cli/docker_cli_run_test.go
  integration/container/pidmode_linux_test.go
  integration/container/run_cgroupns_linux_test.go
  integration/internal/container/ns.go
  rootless/specconv/specconv_linux.go
Labels: area/rootless, kind/bugfix, status/2-code-review

#42210 Use docker media type for plugin layers
  integration/plugin/common/plugin_test.go
  plugin/backend_linux.go
Labels: area/plugins, kind/bugfix, process/cherry-pick, status/2-code-review, status/failing-ci

#42259 testing: update docker-py 5.0.0
  hack/make/test-docker-py
Labels: area/testing, status/2-code-review

#42257 [20.10 backport] Fix TestInspect(), and pin arm64 machines to a specific Ubuntu version
  Jenkinsfile
  integration/service/inspect_test.go
Labels: area/testing, status/2-code-review

#42248 Jenkinsfile: update check-config.sh to latest version
  Jenkinsfile
Labels: area/testing, status/2-code-review

#42256 [20.10 backport] Use docker media type for plugin layers
  integration/plugin/common/plugin_test.go
  plugin/backend_linux.go
Labels: area/plugins, kind/bugfix, status/4-merge

#42253 [20.10 backport] btrfs: Allow unprivileged user to delete subvolumes (kernel >= 4.18)
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/rootless, area/storage/btrfs, status/4-merge

#42109 [20.10 backport] dockerd-rootless-setuptool.sh: create CLI context "rootless"
  contrib/dockerd-rootless-setuptool.sh
Labels: area/rootless, docs/revisit, impact/changelog, impact/documentation, kind/enhancement, status/2-code-review

#42274 Update containerd/containerd to version with go modules
  vendor.conf
  vendor/github.com/containerd/containerd/README.md
  vendor/github.com/containerd/containerd/api/services/tasks/v1/tasks.pb.go
  vendor/github.com/containerd/containerd/api/services/tasks/v1/tasks.proto
  vendor/github.com/containerd/containerd/go.mod
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/rootfs/apply.go
  vendor/github.com/containerd/containerd/runtime/task.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/bundle.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/task.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client.go
  vendor/github.com/containerd/containerd/snapshots/snapshotter.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/task_opts.go
  vendor/github.com/containerd/containerd/unpacker.go
  vendor/github.com/containerd/containerd/vendor.conf
  vendor/github.com/coreos/go-systemd/v22/README.md
  vendor/golang.org/x/sync/semaphore/semaphore.go
Labels: area/runtime, status/2-code-review

#42246 Replace BurntSushi/toml with pelletier/go-toml
  Dockerfile
  hack/dockerfile/install/tomll.installer
  hack/dockerfile/install/tomlv.installer
  hack/validate/toml
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_options.go
  vendor.conf
  vendor/github.com/pelletier/go-toml/LICENSE
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/doc.go
  vendor/github.com/pelletier/go-toml/fuzz.go
  vendor/github.com/pelletier/go-toml/go.mod
  vendor/github.com/pelletier/go-toml/keysparsing.go
  vendor/github.com/pelletier/go-toml/lexer.go
  vendor/github.com/pelletier/go-toml/localtime.go
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/position.go
  vendor/github.com/pelletier/go-toml/token.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/pelletier/go-toml/tomltree_create.go
  vendor/github.com/pelletier/go-toml/tomltree_write.go
Labels: kind/refactor, status/2-code-review

#42268 Fix typo on the v1.41 changelog
  docs/api/version-history.md
Labels: area/api, area/docs, process/cherry-pick, status/4-merge

#41999 Fix for lack of synchronization in daemon/update.go
  daemon/update.go
Labels: area/daemon, kind/bugfix, status/4-merge

#39846 Jenkinsfile: add stage for Windows 2022 (SAC)
  Jenkinsfile
  pkg/archive/changes_test.go
Labels: area/testing, platform/windows, process/cherry-pick, status/2-code-review

#42263 [20.10 backport] Move cgroup v2 out of experimental
  daemon/info_unix.go
Labels: area/cgroup2, impact/changelog

#42276 Use containerd's apparmor package to detect if apparmor can be used
  daemon/apparmor_default.go
  daemon/exec_linux.go
  daemon/exec_linux_test.go
  daemon/oci_linux.go
  vendor.conf
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor.go
  vendor/github.com/containerd/containerd/pkg/apparmor/apparmor_unsupported.go
  vendor/github.com/containerd/containerd/reference/reference.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor.go
  vendor/github.com/opencontainers/runc/libcontainer/apparmor/apparmor_disabled.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
Labels: area/security/apparmor, status/2-code-review

#42273 btrfs: Do not disable quota on cleanup
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/storage/btrfs, impact/changelog, kind/bugfix, status/2-code-review

#41586 Fix hung docker stop if stop signal and daemon.Kill both fail
  daemon/stop.go
Labels: area/runtime, status/2-code-review

#42296 Dockerfile: update yamllint to v1.26.1 to fix build
  Dockerfile
Labels: area/testing, process/cherry-picked, status/2-code-review

#42293 bump up rootlesskit to v0.14.2 (Fix `Timed out proxy starting the userland proxy.` error with `DOCKERD_ROOTLESS_ROOTLESSKIT_PORT_DRIVER=slirp4netns`)
  hack/dockerfile/install/rootlesskit.installer
Labels: area/networking, area/rootless, kind/bugfix, process/cherry-pick

#42272 Fixes subvol delete on a non-btrfs volume
  contrib/nuke-graph-directory.sh
Labels: area/contrib, area/storage/btrfs, status/2-code-review

#42310 Remove needless check
  contrib/dockerd-rootless.sh
Labels: area/rootless, process/cherry-pick, status/4-merge

#42315 dockerd-rootless.sh: use `command -v` instead of `which`
  contrib/dockerd-rootless.sh
Labels: area/rootless, process/cherry-pick

#42297 [20.10 backport] Dockerfile: update yamllint to v1.26.1 to fix build
  Dockerfile
Labels: area/testing, status/4-merge

#42309 Remove myself (lowenna aka jhowardmsft) from maintainers
  MAINTAINERS
Labels: area/project, status/3-docs-review

#42326 Add John Howard to our alumni
  MAINTAINERS
Labels: area/project, status/3-docs-review

#42324 [20.10 backport] dockerd-rootless.sh: use `command -v` instead of `which`
  contrib/dockerd-rootless.sh
Labels: area/rootless, status/2-code-review

#42181 Fix panic in TestExecSetPlatformOpt, TestExecSetPlatformOptPrivileged
  daemon/exec_linux_test.go
Labels: area/security/apparmor, area/testing, kind/bugfix, process/cherry-pick, status/2-code-review

#42182 Fix error-handling in `daemon.ContainerExecStart()` and `daemon.getExecConfig()`
  daemon/exec.go
Labels: area/daemon, kind/bugfix, kind/refactor, status/2-code-review

#42331 hack/dind: fix cgroup v2 evacuation with `docker run --init`
  hack/dind
Labels: area/cgroup2, kind/bugfix, process/cherry-pick

#42294 [20.10 backport] bump up rootlesskit to v0.14.2 (Fix `Timed out proxy starting the userland proxy.` error with `DOCKERD_ROOTLESS_ROOTLESSKIT_PORT_DRIVER=slirp4netns`)
  hack/dockerfile/install/rootlesskit.installer
Labels: area/networking, area/rootless, kind/bugfix
