Repository moby/moby, pull requests merged in 2022-01, with the labels that each got.

#43115 Use syscall.Timespec.Unix
  daemon/graphdriver/copy/copy.go
  pkg/system/chtimes_linux_test.go
Labels: status/2-code-review, kind/refactor

#43107 systemd: start dockerd after time-set.target
  contrib/init/systemd/docker.service
Labels: status/4-merge, area/systemd

#43109 Remove unnecessary exclusions from golangci-lint.yaml
  hack/validate/golangci-lint.yml
Labels: status/4-merge, area/testing

#43061 docker-rootless-setuptools.sh: use context after install
  contrib/dockerd-rootless-setuptool.sh
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/rootless

#41791 vendor: bump etcd v3.3.27
  vendor.conf
  vendor/github.com/coreos/etcd/pkg/fileutil/lock_linux.go
  vendor/github.com/coreos/etcd/version/version.go
Labels: status/4-merge, impact/changelog, process/cherry-pick, kind/bugfix

#43100 vendor: github.com/fluent/fluent-logger-golang v1.9.0
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/version.go
Labels: area/logging, status/2-code-review, impact/changelog, docs/revisit, impact/documentation

#43053 daemon.WithDevices(): use containerd's HostDevices()
  daemon/oci_linux.go
Labels: area/runtime, status/2-code-review, area/daemon, kind/refactor

#43092 seccomp: add support for "swapcontext" syscall in default policy
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, status/4-merge

#43122 Fixing /exec/{id}/resize response code in API documentation
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43084 [20.10 backport] daemon.WithCommonOptions() fix detection of user-namespaces
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration/container/run_linux_test.go
Labels: status/2-code-review, impact/changelog, kind/bugfix

#43105 daemon/logger: refactor followLogs and replace flaky TestFollowLogsHandleDecodeErr
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Labels: area/logging, status/2-code-review, process/cherry-pick

#43138 update containerd binary to v1.5.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog

#43139 awslogs: replace channel-based mocks
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/awslogs/cwlogsiface_mock_test.go
Labels: area/logging, status/2-code-review, area/testing

#43144 Remove some unused ci scripts
  hack/ci/arm
  hack/ci/experimental
  hack/ci/janky
  hack/ci/master
  hack/ci/powerpc
  hack/ci/z
  poule.yml
Labels: status/4-merge, area/testing, kind/refactor

#43143 Jenkinsfile: remove Windows RS1 as it reached end of support
  Jenkinsfile
Labels: platform/windows, status/2-code-review, area/testing, process/cherry-pick

#43152 Update Go to 1.17.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, impact/changelog

#43153 [20.10] update Go to 1.16.13
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, impact/changelog

#43147 [20.10 backport] backport fluentd log driver async connect fix
  daemon/logger/fluentd/fluentd.go
  vendor.conf
  vendor/github.com/fluent/fluent-logger-golang/README.md
  vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
  vendor/github.com/fluent/fluent-logger-golang/fluent/proto.go
Labels: area/logging, status/4-merge, impact/changelog

#43161 Fixed broken links in project documentation files.
  project/BRANCHES-AND-TAGS.md
  project/RELEASE-PROCESS.md
Labels: status/3-docs-review, area/project

#43095 fileutils: Avoid compiling a regexp for simple patterns
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Labels: area/builder, status/2-code-review, kind/bugfix

#43172 api: remove HostConfig.LxcConf field from swagger and docs
  api/swagger.yaml
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43132 test: fix a simple goroutine leak in distribution/xfer
  distribution/xfer/download_test.go
Labels: status/4-merge, area/testing

#43103 Add support for platform (os and architecture) on image import
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  daemon/images/image_import.go
  docs/api/version-history.md
  integration-cli/docker_cli_import_test.go
  integration/image/import_test.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/images, impact/documentation

#43174 distribution: remove RootFSDownloadManager interface, and remove "os" argument from Download()
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/worker/worker.go
  daemon/images/service.go
  distribution/config.go
  distribution/pull_v2.go
  distribution/xfer/download.go
  distribution/xfer/download_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#43165 [20.10 backport] daemon/logger: read the length header correctly
  daemon/logger/local/read.go
  daemon/logger/local/read_test.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/follow_test.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
Labels: area/logging, status/2-code-review, impact/changelog, kind/bugfix
