Repository moby/moby, pull requests merged in 2022-10, with the labels that each got.

#44230 [22.06 backport] replace pkg/fileutils Matching funcs with github.com/moby/patternmatcher
  builder/remotecontext/detect.go
  pkg/archive/archive.go
  pkg/fileutils/deprecated.go
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/patternmatcher/LICENSE
  vendor/github.com/moby/patternmatcher/NOTICE
  vendor/github.com/moby/patternmatcher/patternmatcher.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor

#44232 [22.06 backport] libnetwork/resolvconf: removed unused GetIfChanged() and GetLastModified()
  libnetwork/resolvconf/resolvconf.go
Labels: status/2-code-review

#44233 libnetwork: fix some (linting) issues
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/osl/sandbox.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
Labels: status/2-code-review, area/networking, kind/refactor

#44231 Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Labels: status/2-code-review, process/cherry-pick, kind/bugfix

#43973 containerd-integration: prefer error over panic where possible
  daemon/changes.go
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_history.go
  daemon/containerd/image_import.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/image_search.go
  daemon/containerd/image_squash.go
  daemon/containerd/image_tag.go
  daemon/containerd/service.go
Labels: status/2-code-review, area/images, containerd-integration

#44237 [22.06] Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Labels: status/2-code-review, impact/changelog, area/volumes, kind/bugfix

#44238 [20.10] Fix live-restore w/ restart policies + volume refs
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/daemon/main_test.go
Labels: status/2-code-review, impact/changelog, area/volumes, kind/bugfix

#44241 Update awslogs driver batching documentation.
  daemon/logger/awslogs/cloudwatchlogs.go
Labels: area/logging, status/2-code-review, kind/refactor

#44248 [22.06 backport] Update to go 1.19.2 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, impact/changelog, area/packaging

#44243 libnetwork: remove some outdated comments
  libnetwork/sandbox.go
Labels: status/2-code-review

#44244 docs: swagger: update description for default builder version
  docs/api/v1.42.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#44245 [22.06 backport] docs: swagger: update description for default builder version
  docs/api/v1.42.yaml
Labels: area/api, status/3-docs-review, area/docs

#44252 pkg/fsutils: deprecate in favor of containerd/continuity/fs
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/fsutils/fsutils_linux.go
  pkg/fsutils/fsutils_linux_test.go
Labels: status/2-code-review, kind/refactor

#44216 Volume prune: only prune anonymous volumes by default
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
  hack/make/test-docker-py
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/convert_test.go
  volume/service/opts/opts.go
  volume/service/service.go
  volume/service/service_test.go
Labels: area/api, status/2-code-review, kind/enhancement, impact/changelog, process/cherry-pick, area/volumes

#44258 vendor: github.com/opencontainers/selinux v1.10.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44259 [22.06 backport] Volume prune: only prune anonymous volumes by default
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
  hack/make/test-docker-py
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/convert_test.go
  volume/service/opts/opts.go
  volume/service/service.go
  volume/service/service_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, area/volumes

#44260 [22.06 backport] pkg/fsutils: deprecate in favor of containerd/continuity/fs
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  pkg/fsutils/fsutils_linux.go
  pkg/fsutils/fsutils_linux_test.go
Labels: status/4-merge

#44215 Stop subprocesses from getting unexpectedly killed
  daemon/graphdriver/overlay2/mount.go
  daemon/logger/journald/read.go
  libcontainerd/supervisor/remote_daemon.go
  libnetwork/portmapper/proxy_linux.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/diff_unix.go
  pkg/reexec/command_linux.go
Labels: status/2-code-review, kind/bugfix

#44247 [20.10] Update to go 1.18.7 to address CVE-2022-2879, CVE-2022-2880, CVE-2022-41715
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  vendor/archive/tar/format.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/testdata/pax-bad-hdr-large.tar.bz2
  vendor/archive/tar/writer.go
  vendor/archive/tar/writer_test.go
Labels: status/2-code-review, impact/changelog, area/packaging

#44127 [20.10] Update uses of Image platform fields in OCI image-spec
  builder/builder-next/exporter/writer.go
Labels: area/builder, status/2-code-review, area/builder/buildkit

#44262 [22.06 backport] vendor: github.com/opencontainers/selinux v1.10.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: status/2-code-review, area/security/selinux

#44250 pkg/directory: Size(): add back type-casts to account for platform differences
  pkg/directory/directory_unix.go
Labels: status/2-code-review, kind/bugfix

#44253 pkg/system: remove Umask() utility
  pkg/archive/archive_linux_test.go
  pkg/archive/diff.go
  pkg/archive/diff_unix.go
  pkg/archive/diff_windows.go
  pkg/chrootarchive/diff_unix.go
  pkg/system/umask.go
  pkg/system/umask_windows.go
Labels: status/2-code-review, process/cherry-pick, kind/refactor

#44255 pkg/system: move GetExitCode() to pkg/idtools, and un-export
  pkg/idtools/idtools_unix.go
  pkg/system/exitcode.go
  pkg/system/stat_windows.go
Labels: status/2-code-review, kind/refactor

#44272 Remove some solaris left-overs
  client/client_unix.go
  pkg/system/stat_solaris.go
Labels: status/4-merge, kind/refactor

#44222 pkg: replace some README's with GoDoc package descriptions
  pkg/archive/README.md
  pkg/archive/archive.go
  pkg/reexec/README.md
  pkg/reexec/reexec.go
  pkg/stringid/README.md
  pkg/sysinfo/README.md
  pkg/sysinfo/sysinfo.go
Labels: status/4-merge, area/testing

#44271 pkg/pidfile: windows: replace magic consts for golang.org/x/sys consts
  pkg/pidfile/pidfile_windows.go
Labels: status/2-code-review, kind/refactor

#44278 daemon/graphdriver/overlay2: remove deprecated overrideKernelCheck
  daemon/graphdriver/overlay2/overlay.go
  integration/plugin/graphdriver/external_test.go
Labels: area/storage, area/storage/overlay, impact/deprecation, process/cherry-pick

#44279 [22.06 backport] daemon/graphdriver/overlay2: remove deprecated overrideKernelCheck
  daemon/graphdriver/overlay2/overlay.go
  integration/plugin/graphdriver/external_test.go
Labels: area/storage, area/storage/overlay, status/2-code-review, impact/changelog, impact/deprecation

#44284 cmd/dockerd: replace deprecated windows.IsAnInteractiveSession()
  cmd/dockerd/service_windows.go
Labels: area/cli, platform/windows, status/2-code-review

#44261 remove aliases for deprecated pkg/urlutil, pkg/fsutils, pkg/pubsub
  hack/make.ps1
  hack/validate/pkg-imports
  pkg/fsutils/fsutils_linux.go
  pkg/pubsub/publisher.go
  pkg/urlutil/deprecated.go
Labels: status/2-code-review, kind/refactor

#44280 daemon/graphdriver/windows: use go-winio.GetFileSystemType()
  daemon/graphdriver/windows/windows.go
  vendor/github.com/Microsoft/go-winio/pkg/fs/fs_windows.go
  vendor/modules.txt
Labels: area/storage, platform/windows, status/2-code-review, kind/refactor

#44281 daemon/graphdriver/windows: Remove() don't use defer() in a loop
  daemon/graphdriver/windows/windows.go
Labels: area/storage, platform/windows, status/2-code-review

#44286 cmd/dockerd: use golang.org/x/sys/windows.SetStdHandle()
  cmd/dockerd/service_windows.go
Labels: area/cli, platform/windows, status/2-code-review, area/daemon

#44287 cmd/dockerd: use x/sys Service.SetRecoveryActions(), and update restart delay
  cmd/dockerd/service_windows.go
Labels: area/cli, platform/windows, status/2-code-review, impact/changelog, area/daemon

#44266 pkg/pidfile: remove PIDFile type and cleanup
  cmd/dockerd/daemon.go
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_test.go
Labels: status/2-code-review, kind/refactor

#44265 pkg/system: cleanup, test-fixes and improvements and minor fixes
  pkg/system/chtimes.go
  pkg/system/chtimes_linux_test.go
  pkg/system/chtimes_test.go
  pkg/system/chtimes_windows.go
  pkg/system/chtimes_windows_test.go
  pkg/system/init.go
  pkg/system/lstat_unix_test.go
  pkg/system/stat_unix_test.go
  pkg/system/utimes_unix_test.go
Labels: status/2-code-review, kind/refactor

#44254 pkg/idtools: various cleanups
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/idtools_windows.go
  pkg/idtools/usergroupadd_linux.go
Labels: status/2-code-review, kind/refactor

#44251 pkg/directory: remove unused MoveToSubdir() utility, and some refactoring
  pkg/directory/directory.go
  pkg/directory/directory_test.go
  pkg/directory/directory_unix.go
  pkg/directory/directory_windows.go
Labels: status/2-code-review, process/cherry-pick, kind/refactor

#44305 registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog, process/cherry-pick

#44307 pkg/fileutils: ReadSymlinkedDirectory: preserve underlying error, and improve test-coverage
  pkg/fileutils/fileutils.go
  pkg/fileutils/fileutils_test.go
Labels: status/2-code-review

#44285 Replace overlay2 mount reexec with in-proc impl
  daemon/graphdriver/overlay2/mount.go
Labels: area/storage/overlay, status/2-code-review, kind/refactor

#44314 [22.06 backport] registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog

#44321 [22.06 backport] vendor: github.com/moby/buildkit v0.10.5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/contentutil/buffer.go
  vendor/github.com/moby/buildkit/util/contentutil/source.go
  vendor/github.com/moby/buildkit/util/imageutil/config.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#44313 [20.10 backport] registry: allow "allow-nondistributable-artifacts" for Docker Hub
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog

#44332 [20.10] builder: fix running git commands on Windows
  builder/remotecontext/git/gitutils.go
Labels: platform/windows, status/2-code-review, kind/bugfix

#44268 pkg/idtools: remove CanAccess(), and move to daemon
  daemon/daemon_unix.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Labels: status/2-code-review, kind/refactor

#44308 daemon: add TEST_INTEGRATION_USE_SNAPSHOTTER for CI
  Jenkinsfile
  Makefile
  daemon/daemon.go
  hack/make/.integration-test-helpers
Labels: status/2-code-review, area/testing, containerd-integration

#44336 gha: update buildkit to v0.10.5-6-ge27c8e24 to skip some tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-picked

#44338 [22.06 backport] gha: update buildkit to v0.10.5-6-ge27c8e24 to skip some tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing

#44337 gha: buildkit: remove "skip-integration-tests" from matrix
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-pick

#44324 builder: Isolate Git from local system
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: status/2-code-review

#44325 [22.06 backport] builder: Isolate Git from local system
  builder/remotecontext/git.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: status/2-code-review

#44273 use filepath.WalkDir instead of filepath.Walk
  builder/dockerfile/copy.go
  builder/dockerfile/copy_unix.go
  builder/remotecontext/tarsum.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/deviceset.go
  libnetwork/drivers/overlay/ov_network.go
  oci/devices_linux.go
  pkg/archive/archive.go
  pkg/archive/changes_other.go
  pkg/archive/copy_unix_test.go
  pkg/archive/diff.go
  pkg/archive/utils_test.go
  testutil/daemon/daemon_linux.go
Labels: status/2-code-review, area/performance, kind/refactor

#44297 [22.06 backport] windows cleanups
  cmd/dockerd/service_windows.go
  daemon/graphdriver/windows/windows.go
  vendor/github.com/Microsoft/go-winio/pkg/fs/fs_windows.go
  vendor/modules.txt
Labels: area/cli, platform/windows, status/2-code-review, area/daemon

#44327 Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
  testutil/registry/ops.go
Labels: status/2-code-review, process/cherry-picked

#44328 [22.06 backport] Validate digest in repo for pull by digest
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  integration/image/pull_test.go
  testutil/registry/ops.go
Labels: status/2-code-review

#44341 [22.06 backport] gha: buildkit: remove "skip-integration-tests" from matrix
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing

#44344 builder/remotecontext/git: allow building on go1.18
  builder/remotecontext/git/gitutils.go
Labels: status/2-code-review

#44345 [22.06 backport] builder/remotecontext/git: allow building on go1.18
  builder/remotecontext/git/gitutils.go
Labels: status/2-code-review

#44339 [20.10] vendor: github.com/moby/buildkit eeb7b65ab7d651770a5ec52a06ea7c96eb97a249 (v0.8 branch)
  vendor.conf
  vendor/github.com/armon/circbuf/LICENSE
  vendor/github.com/armon/circbuf/README.md
  vendor/github.com/armon/circbuf/circbuf.go
  vendor/github.com/armon/circbuf/go.mod
  vendor/github.com/moby/buildkit/go.mod
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/source/git/gitsource.go
  vendor/github.com/moby/buildkit/util/progress/logs/logs.go
Labels: status/2-code-review, impact/changelog, area/builder/buildkit

#44326 [20.10 backport] vendor: moby/term, Azure/go-ansiterm for golang.org/x/sys/windows compatibility
  vendor.conf
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/windows/console.go
Labels: status/2-code-review, impact/changelog, kind/bugfix

#44257 fix typo
  daemon/images/image.go
Labels: status/2-code-review

#44351 update containerd binary to v1.6.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#44352 [22.06 backport] update containerd binary to v1.6.9
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44353 [20.10 backport] update containerd binary to v1.6.9
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/4-merge, impact/changelog, area/packaging

#44358 [20.10 backport] integration: download busybox-w32 from GitHub Release
  contrib/busybox/Dockerfile
Labels: status/2-code-review, area/testing

#44357 [22.06 backport] integration: download busybox-w32 from GitHub Release
  contrib/busybox/Dockerfile
Labels: status/2-code-review, area/testing

#44224 Fix force-remove for cluster volumes
  api/server/router/volume/volume_routes.go
  api/server/router/volume/volume_routes_test.go
Labels: status/2-code-review, process/cherry-pick, area/swarm, area/volumes, kind/bugfix

#44310 daemon: getPluginExecRoot(): pass config
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_windows.go
Labels: status/2-code-review, area/plugins, kind/refactor

#44256 replace redundant fmt.Sprintf() with strconv
  client/build_prune.go
  daemon/config/config.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/zfs/zfs.go
  daemon/keys.go
  daemon/kill.go
  daemon/links/links_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/jsonfilelog/jsonfilelog_test.go
  daemon/logger/local/local_test.go
  daemon/logger/splunk/splunk_test.go
  daemon/reload_unix.go
  daemon/resize.go
  daemon/runtime_unix.go
  integration-cli/docker_cli_inspect_test.go
  integration/container/checkpoint_test.go
  layer/filestore.go
  layer/filestore_test.go
  layer/layer_test.go
  layer/layer_unix_test.go
  layer/migration_test.go
  layer/mount_test.go
  layer/ro_layer.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/windows/windows.go
  libnetwork/networkdb/networkdbdiagnostic.go
  libnetwork/service_linux.go
  libnetwork/types/types.go
Labels: status/2-code-review, kind/refactor

#44363 Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  cmd/dockerd/config.go
  daemon/config/config.go
Labels: area/cli, status/4-merge, area/docs, docs/revisit, process/cherry-pick, kind/bugfix

#44376 [22.06 backport] Fix the max-concurrent-downloads and max-concurrent-uploads configs documentation
  cmd/dockerd/config.go
  daemon/config/config.go
Labels: area/cli, status/2-code-review, area/docs, docs/revisit, process/cherry-pick, kind/bugfix
