Repository moby/moby, pull requests merged in 2022-03, with the labels that each got.

#43303 all: fix typos
  Dockerfile
  contrib/download-frozen-image-v2.sh
  contrib/mkimage-yum.sh
Labels: status/3-docs-review

#43308 vendor: update more dependencies in preparation of buildkit and containerd update
  vendor.mod
  vendor.sum
  vendor/github.com/cespare/xxhash/v2/.travis.yml
  vendor/github.com/cespare/xxhash/v2/README.md
  vendor/github.com/cespare/xxhash/v2/xxhash.go
  vendor/github.com/cespare/xxhash/v2/xxhash_amd64.s
  vendor/github.com/cespare/xxhash/v2/xxhash_unsafe.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/moby/sys/mount/mount_errors.go
  vendor/github.com/moby/sys/mount/mounter_unsupported.go
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/device_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/device_freebsd.go
  vendor/github.com/tonistiigi/fsutil/diff_containerd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_freebsd.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unix.go
  vendor/github.com/tonistiigi/fsutil/diskwriter_unixnobsd.go
  vendor/github.com/tonistiigi/fsutil/docker-bake.hcl
  vendor/github.com/tonistiigi/fsutil/prefix/match.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/golang.org/x/lint/README.md
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/sts_exchange.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/urlcredsource.go
  vendor/gotest.tools/v3/assert/assert_go113.go
  vendor/gotest.tools/v3/assert/cmp/compare_go113.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest_unix.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/poll/check.go
  vendor/modules.txt
Labels: status/2-code-review

#43320 pkg/system: move EnsureRemoveAll() to pkg/containerfs
  daemon/delete.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  pkg/containerfs/archiver.go
  pkg/containerfs/rm.go
  pkg/containerfs/rm_nodarwin_test.go
  pkg/containerfs/rm_test.go
  pkg/containerfs/rm_windows.go
  pkg/system/meminfo_linux.go
  plugin/backend_linux.go
  plugin/manager.go
  plugin/manager_linux_test.go
Labels: status/4-merge, kind/refactor

#43277 api: add missing docs for KernelMemoryTCP, and fix error message
  api/swagger.yaml
  daemon/daemon_unix.go
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/2-code-review, area/docs, process/cherry-pick

#43260 [20.10 backport] docs: assorted docs and swagger fixes
  api/swagger.yaml
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#43297 registry: add DefaultRegistryHost const, and improve documentation
  integration/system/login_test.go
  registry/config.go
Labels: area/api, status/2-code-review, kind/enhancement

#43318 layer: remove unused ErrActiveMount, ErrNotMounted, ErrNotSupported
  layer/layer.go
Labels: status/2-code-review, area/images, kind/refactor

#43309 daemon: SystemInfo() extract collecting data to more helper functions
  daemon/auth.go
  daemon/daemon.go
  daemon/events.go
  daemon/info.go
  daemon/reload.go
  daemon/reload_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43264 integration-cli: TestSlowStdinClosing: add logs, and potential naming conflict
  integration-cli/docker_cli_run_test.go
Labels: status/2-code-review, area/testing

#43263 daemon/config: DefaultShmSize: minor tweak and improve docs
  daemon/config/config.go
  daemon/oci_linux.go
  integration-cli/docker_api_containers_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43326 [20.10] update to go 1.16.15 to address CVE-2022-24921
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43328 vendor: github.com/containerd/containerd v1.5.10
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.golangci.yml
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog

#43325 update to go 1.17.8 to address CVE-2022-24921
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog

#43327 update containerd binary to v1.5.10
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/4-merge, impact/changelog, process/cherry-picked, area/packaging

#43329 [20.10 backport] update containerd binary to v1.5.10
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/4-merge, impact/changelog, area/packaging

#43306 daemon/logger: fix data race in LogFile
  api/types/backend/backend.go
  daemon/logger/logger.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_race_test.go
Labels: area/logging, status/4-merge, kind/bugfix

#43323 remove unneeded "digest" alias for "go-digest"
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/exporter/export.go
  builder/builder-next/exporter/writer.go
  builder/builder-next/imagerefchecker/checker.go
  builder/builder-next/worker/worker.go
  builder/remotecontext/tarsum.go
  client/service_create.go
  client/service_create_test.go
  daemon/cluster/executor/container/adapter.go
  daemon/images/image.go
  daemon/images/image_prune.go
  daemon/images/image_pull.go
  daemon/images/service.go
  daemon/images/store.go
  daemon/images/store_test.go
  daemon/list_test.go
  distribution/config.go
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/metadata/v2_metadata_service.go
  distribution/metadata/v2_metadata_service_test.go
  distribution/pull.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/push_v2.go
  distribution/push_v2_test.go
  distribution/xfer/download_test.go
  image/fs.go
  image/fs_test.go
  image/image.go
  image/store.go
  image/tarexport/load.go
  image/tarexport/save.go
  image/v1/imagev1.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_pull_test.go
  integration-cli/docker_cli_save_load_test.go
  layer/empty_test.go
  layer/filestore.go
  layer/filestore_test.go
  layer/layer.go
  layer/layer_store.go
  layer/layer_test.go
  layer/migration.go
  layer/ro_layer.go
  plugin/backend_linux.go
  plugin/fetch_linux.go
  plugin/manager.go
  plugin/manager_linux.go
  plugin/v2/plugin.go
  reference/store.go
  reference/store_test.go
Labels: status/2-code-review, kind/refactor

#43300 API: improve swagger and go-doc for ImageInspect structs
  api/swagger.yaml
  api/types/graph_driver_data.go
  api/types/types.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  image/image.go
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43291 distribution: retry downloading schema config on retryable error
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/xfer/transfer.go
Labels: area/distribution, status/4-merge, kind/enhancement, impact/changelog

#43302 layers: remove layerStore.getWithoutLock()
  layer/layer_store.go
  layer/migration.go
Labels: status/2-code-review, area/images, kind/refactor

#43255 daemon/images: ImageService.Cleanup(): return error instead of logging
  daemon/daemon.go
  daemon/images/service.go
Labels: status/2-code-review, area/images, kind/refactor

#41508 client: use canonical names for HTTP Headers
  client/request.go
Labels: area/api, status/2-code-review

#42129 Correct type of Mounts in ContainerSummary
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43333 [20.10 backport] distribution: retry downloading schema config on retryable error
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/xfer/transfer.go
Labels: area/distribution, status/2-code-review, kind/enhancement, impact/changelog

#43131 daemon: move check for CPU-realtime daemon options
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_freebsd.go
  cmd/dockerd/daemon_linux.go
  cmd/dockerd/daemon_windows.go
  daemon/oci_linux.go
Labels: status/4-merge, impact/changelog, area/daemon

#43136 Add locking to the ZFS driver
  daemon/graphdriver/zfs/zfs.go
Labels: status/2-code-review, area/storage/zfs, kind/bugfix

#41675 daemon: remove v1 shim configuration for containerd
  cmd/dockerd/daemon_unix.go
  daemon/config/config.go
  vendor/github.com/containerd/containerd/pkg/process/deleted_state.go
  vendor/github.com/containerd/containerd/pkg/process/exec.go
  vendor/github.com/containerd/containerd/pkg/process/exec_state.go
  vendor/github.com/containerd/containerd/pkg/process/init.go
  vendor/github.com/containerd/containerd/pkg/process/init_state.go
  vendor/github.com/containerd/containerd/pkg/process/io.go
  vendor/github.com/containerd/containerd/pkg/process/io_util.go
  vendor/github.com/containerd/containerd/pkg/process/process.go
  vendor/github.com/containerd/containerd/pkg/process/types.go
  vendor/github.com/containerd/containerd/pkg/process/utils.go
  vendor/github.com/containerd/containerd/pkg/stdio/platform.go
  vendor/github.com/containerd/containerd/pkg/stdio/stdio.go
  vendor/github.com/containerd/containerd/runtime/events.go
  vendor/github.com/containerd/containerd/runtime/monitor.go
  vendor/github.com/containerd/containerd/runtime/runtime.go
  vendor/github.com/containerd/containerd/runtime/task.go
  vendor/github.com/containerd/containerd/runtime/task_list.go
  vendor/github.com/containerd/containerd/runtime/typeurl.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/bundle.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/process.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/runtime.go
  vendor/github.com/containerd/containerd/runtime/v1/linux/task.go
  vendor/github.com/containerd/containerd/runtime/v1/shim.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/client/client_unix.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/local.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_linux.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/service_unix.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/doc.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/v1/shim/v1/shim.proto
  vendor/github.com/containerd/containerd/sys/reaper/reaper_unix.go
  vendor/github.com/containerd/containerd/sys/reaper/reaper_utils_linux.go
  vendor/modules.txt
Labels: area/runtime, status/4-merge, impact/changelog, kind/refactor

#43301 api: remove deprecated RootFS.BaseLayer from type and docs
  api/swagger.yaml
  api/types/types.go
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, platform/windows, status/2-code-review, area/docs, impact/api, impact/deprecation

#43335 Remove deprecated packages: pkg/mount, pkg/term, pkg/locker, pkg/symlink
  builder/dockerignore/deprecated.go
  pkg/locker/locker.go
  pkg/mount/deprecated.go
  pkg/mount/deprecated_linux.go
  pkg/mount/deprecated_unix.go
  pkg/symlink/deprecated.go
  pkg/term/deprecated.go
  pkg/term/deprecated_unix.go
  pkg/term/windows/deprecated.go
  pkg/term/windows/windows_test.go
Labels: status/2-code-review, impact/deprecation, kind/refactor

#43352 vendor: github.com/docker/distribution v2.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/modules.txt
Labels: area/distribution, status/2-code-review

#42942 update containerd binary to v1.6.1
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog

#43375 ci: simple gha workflow to build docker daemon
  .github/workflows/ci.yml
  docker-bake.hcl
Labels: status/2-code-review, area/testing

#43343 client: add const for environment variables, improve GoDoc, and minor touch-ups
  client/client.go
  client/client_unix.go
  client/client_windows.go
  client/envvars.go
  client/options.go
Labels: area/api, status/2-code-review, kind/refactor

#43344 cleanup swagger multi-examples
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43372 api: swagger: add IPAMConfig on IPAM
  api/swagger.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/2-code-review, area/docs, process/cherry-pick

#43321 pkg/parsers: support Windows 11: report DisplayVersion; drop ProductName
  pkg/parsers/operatingsystem/operatingsystem_windows.go
  pkg/parsers/operatingsystem/windows_os_string.go
  pkg/parsers/operatingsystem/windows_os_string_test.go
Labels: platform/windows, status/2-code-review, kind/bugfix

#43342 client: cleanup and fix some tests
  client/client_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#43362 Remove LCOW (step 9): layer: remove layerstore.setOS(), layerstore.getOS()
  layer/filestore_unix.go
  layer/filestore_windows.go
  layer/layer_store.go
  layer/ro_layer.go
Labels: status/2-code-review, area/lcow, kind/refactor

#43250 Remove opts.QuotedString implementation
  cmd/dockerd/options.go
  cmd/dockerd/options_test.go
  opts/quotedstring.go
  opts/quotedstring_test.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, docs/revisit, area/daemon

#43194 Update golang to 1.18.0
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  daemon/logger/templates/templates.go
  pkg/plugins/pluginrpc-gen/template.go
Labels: status/2-code-review, impact/changelog

#43380 client: ImageSearch(): don't send limit if none was specified
  client/image_search.go
Labels: area/api, area/distribution, area/cli, status/2-code-review

#43214 Remove the deprecated '--kernel-memory' option on API v1.42 and up
  api/server/router/container/container_routes.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/container/host_config.go
  api/types/types.go
  daemon/daemon_unix.go
  docs/api/version-history.md
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation

#43381 docs: cleanup swagger API with multiple examples (v1.25-v1.41)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43385 pkg/system: remove deprecated/unused consts and move IsWindowsClient()
  daemon/daemon_windows.go
  pkg/parsers/operatingsystem/operatingsystem_windows.go
  pkg/system/syscall_windows.go
Labels: status/2-code-review, kind/refactor

#43392 vendor: golang.org/x/crypto v0.0.0-20220315160706-3147a52a75dd
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/ocsp/ocsp.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: status/2-code-review

#43312 API: fix status codes for search, and some refactoring for splitting out
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/network/network_routes.go
  api/server/router/swarm/cluster_routes.go
  api/server/router/volume/volume_routes.go
  api/types/filters/parse.go
  api/types/filters/parse_test.go
  daemon/errors.go
  daemon/images/image_search.go
  daemon/images/image_search_test.go
  daemon/images/locals.go
  daemon/list_test.go
  integration-cli/docker_cli_images_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_search_test.go
  integration-cli/docker_cli_volume_test.go
  plugin/errors.go
  registry/service.go
  registry/session.go
  volume/service/errors.go
Labels: area/api, area/distribution, status/2-code-review, area/images, kind/refactor

#41060 doc: server API Correct ImagesCreate - platform parameter added in 1.32
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs, impact/api

#43394 registry: remove more dead code
  registry/auth.go
  registry/registry_test.go
  registry/service.go
  registry/session.go
Labels: area/distribution, status/2-code-review, kind/refactor

#43399 errdefs: move GetHTTPErrorStatusCode to api/server/httpstatus
  api/server/errorhandler.go
  api/server/httpstatus/status.go
  api/server/httputils/errors_deprecated.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
  errdefs/http_helpers.go
Labels: area/api, status/2-code-review, kind/refactor

#42330 version: add RootlessKit, slirp4netns, and VPNKit version
  daemon/info_unix.go
  hack/dockerfile/install/rootlesskit.installer
  rootless/rootless.go
  vendor.mod
  vendor.sum
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_aix.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/rootless-containers/rootlesskit/LICENSE
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/api.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/client/client.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/openapi.yaml
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/modules.txt
Labels: area/api, kind/enhancement, impact/changelog, area/rootless

#43416 [20.10] vendor: containerd 7cfa023d95d37076d5ab035003d4839f4b6ba791
  vendor.conf
  vendor/github.com/containerd/containerd/oci/spec.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
Labels: area/runtime, status/2-code-review, impact/changelog

#43417 [20.10] update containerd binary to 1.5.11
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog

#43398 client: remove wrapResponseError()
  client/checkpoint_list.go
  client/config_inspect.go
  client/config_remove.go
  client/container_copy.go
  client/container_inspect.go
  client/container_logs.go
  client/container_remove.go
  client/container_remove_test.go
  client/errors.go
  client/image_inspect.go
  client/image_remove.go
  client/image_remove_test.go
  client/network_inspect.go
  client/network_inspect_test.go
  client/network_remove.go
  client/node_inspect.go
  client/node_remove.go
  client/plugin_inspect.go
  client/plugin_list.go
  client/plugin_remove.go
  client/secret_inspect.go
  client/secret_remove.go
  client/service_inspect.go
  client/service_remove.go
  client/service_remove_test.go
  client/task_inspect.go
  client/volume_inspect.go
  client/volume_remove.go
  integration-cli/docker_api_containers_test.go
  integration/container/copy_test.go
Labels: area/api, status/2-code-review, kind/enhancement

#42638 Mount (accessible) host devices in `--privileged` rootless containers
  daemon/oci_linux.go
  integration/container/run_linux_test.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/rootless

#43356 [20.10] Bump swarmkit for change to max config size
  vendor.conf
  vendor/github.com/docker/swarmkit/manager/controlapi/config.go
Labels: status/2-code-review, area/swarm

#43360 [20.10 backport] Only check if route overlaps routes with scope: LINK
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
Labels: status/2-code-review, area/networking

#43422 Remove comment that is no longer relevant
  daemon/images/service.go
Labels: status/4-merge, kind/refactor

#43418 update containerd binary and vendor to v1.6.2
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/oci/spec.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/4-merge, impact/changelog

#43334 api: swagger: use explicit definitions, use inline examples, and fix indentation.
  api/swagger.yaml
  api/types/container/container_wait.go
  api/types/container/container_wait_o_k_body.go
  api/types/container/container_wait_o_k_body_error.go
  api/types/volume/volume_create.go
  api/types/volume/volume_create_body.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  hack/generate-swagger-api.sh
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43366 Finish refactor of UID/GID usage to a new struct
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/builder.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  builder/dockerfile/builder.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_linux.go
  builder/dockerfile/internals_linux_test.go
  builder/dockerfile/internals_windows.go
  contrib/docker-device-tool/device_tool.go
  daemon/archive_tarcopyoptions.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/export.go
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/devmapper/devmapper_test.go
  daemon/graphdriver/devmapper/driver.go
  daemon/graphdriver/driver.go
  daemon/graphdriver/fsdiff.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/plugin.go
  daemon/graphdriver/proxy.go
  daemon/graphdriver/proxy_test.go
  daemon/graphdriver/vfs/copy_unsupported.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/windows/windows.go
  daemon/graphdriver/zfs/zfs.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  integration/image/remove_unix_test.go
  integration/plugin/graphdriver/external_test.go
  layer/layer_store.go
  layer/layer_test.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/changes.go
  pkg/archive/changes_posix_test.go
  pkg/archive/changes_test.go
  pkg/archive/diff.go
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_test.go
  pkg/containerfs/archiver.go
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
Labels: status/2-code-review, kind/refactor

#43406 [20.10] errdefs: move GetHTTPErrorStatusCode to api/server/httpstatus
  api/server/errorhandler.go
  api/server/httpstatus/status.go
  api/server/httputils/errors_deprecated.go
  api/server/httputils/httputils.go
  api/server/router/container/container_routes.go
  api/server/server.go
  errdefs/http_helpers.go
Labels: status/2-code-review

#43379 libnetwork/overlay:fix sandbox deadlock
  libnetwork/drivers/overlay/ov_network.go
Labels: status/4-merge, area/networking, kind/bugfix

#43378 daemon: require storage-driver to be set if the driver is deprecated
  daemon/graphdriver/driver.go
  daemon/info.go
Labels: area/storage/aufs, area/storage/devicemapper, area/storage, area/storage/overlay, status/2-code-review, impact/changelog, impact/deprecation

#43426 [20.10 backport] daemon: use RWMutex for stateCounter
  daemon/metrics.go
Labels: status/2-code-review, area/daemon

#42064 API: add "Swarm" header to _ping endpoint
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/swarm/swarm.go
  api/types/types.go
  client/ping.go
  client/ping_test.go
  daemon/cluster/swarm.go
  docs/api/version-history.md
  integration/system/ping_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#43369 Allow STOPSIGNAL instruction in commit change
  builder/dockerfile/builder.go
Labels: status/4-merge, kind/enhancement, impact/changelog, docs/revisit, impact/documentation

#43428 registry: remove dependency on rootlesskit, add `SetCertsDir()`
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/docker.go
  registry/config.go
  registry/config_unix.go
  registry/config_windows.go
Labels: status/2-code-review, area/rootless, kind/refactor

#43432 vendor: github.com/moby/buildkit d7744bc
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/testing, area/builder/buildkit
