Repository moby/moby, pull requests merged in 2022-02, with the labels that each got.

#43189 pkg/system: remove unused HasWin32KSupport() and rewrite IsWindowsClient()
  pkg/system/syscall_windows.go
  pkg/system/syscall_windows_test.go
Labels: platform/windows, status/2-code-review, kind/refactor

#43211 pkg/namesgenerator: remove names-generator binary
  pkg/namesgenerator/cmd/names-generator/main.go
Labels: status/2-code-review, kind/refactor

#43212 hack/vendor.sh: run "go mod tidy" before vendoring
  hack/validate/vendor
  hack/vendor.sh
Labels: status/2-code-review, area/testing, kind/bugfix

#43200 daemon/graphdriver/fuse-overlayfs: Init(): fix directory permissions (staticcheck)
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
Labels: area/storage, area/storage/overlay, status/2-code-review, process/cherry-pick, area/rootless, kind/bugfix

#43202 client/request.go:157:8: SA1019: err.Temporary is deprecated (staticcheck)
  client/request.go
Labels: area/api, status/2-code-review

#43176 vendor: github.com/docker/distribution v2.8.0
  vendor.mod
  vendor.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.gometalinter.json
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/.travis.yml
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Labels: area/distribution, status/2-code-review

#43177 [20.10] vendor: github.com/docker/distribution v2.8.0
  vendor.conf
  vendor/github.com/docker/distribution/README.md
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/manifest/manifestlist/manifestlist.go
  vendor/github.com/docker/distribution/manifest/ocischema/builder.go
  vendor/github.com/docker/distribution/manifest/ocischema/manifest.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
Labels: area/distribution, status/2-code-review

#43215 [20.10 backport] daemon/graphdriver/fuse-overlayfs: Init(): fix directory permissions (staticcheck)
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
Labels: area/storage, area/storage/overlay, status/2-code-review, area/rootless, kind/bugfix

#43181 daemon/images.NewImageService() don't print debug logs
  daemon/daemon.go
  daemon/images/service.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43243 [20.10] Update Go to 1.16.14
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog

#43238 remove some redundant fmt.Sprintf()'s
  integration-cli/daemon/daemon.go
  integration-cli/docker_utils_test.go
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, kind/refactor

#43242 Update Go to 1.17.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43241 vendor: fsnotify v1.5.1, moby/sys/mountinfo v0.6.0, moby/sys/signal v0.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/.travis.yml
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/signal/signal_windows.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor

#43245 daemon: use RWMutex for stateCounter
  daemon/metrics.go
Labels: status/2-code-review, area/daemon

#43240 vendor.mod: google/go-cmp v0.5.5, golang.org/x/oauth2 v0.0.0-20210514164344-f6687ab2804c, containerd v1.5.9
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort_go17.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort_go18.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/flags.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/internal/value/format.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/value/sort.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_references.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/github.com/google/go-cmp/cmp/report_value.go
  vendor/github.com/google/go-cmp/cmp/reporter.go
  vendor/github.com/google/go-cmp/cmp/unsafe_panic.go
  vendor/github.com/google/go-cmp/cmp/unsafe_reflect.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/sts_exchange.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor

#43142 Do not panic on empty quoted string argument
  opts/quotedstring.go
  opts/quotedstring_test.go
Labels: area/cli, status/2-code-review, area/daemon, kind/bugfix

#43166 [20.10 backport] Fix for lack of syncronization in daemon/update.go
  daemon/update.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#43170 docs: update API v1.41 and v1.40 docs with fixes from api/swagger
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#43171 [20.10 backport] docs: update API v1.41 and v1.40 docs with fixes from api/swagger
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs

#43167 [20.10 backport] Jenkinsfile: remove Windows RS1 as it reached end of support
  Jenkinsfile
Labels: platform/windows, status/2-code-review, area/testing, kind/refactor

#43253 daemon: remove kernel version check and DOCKER_NOWARN_KERNEL_VERSION
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/daemon, kind/refactor

#43187 Remove various leftover LCOW checks
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  daemon/create.go
  daemon/daemon.go
  daemon/delete.go
  daemon/export.go
  daemon/images/image_delete.go
  daemon/images/image_history.go
  daemon/images/image_import.go
  daemon/images/image_inspect.go
  daemon/images/images.go
  daemon/images/service.go
  image/store.go
  image/tarexport/save.go
  integration/image/remove_unix_test.go
  layer/layer_store.go
  layer/layer_test.go
  layer/migration_test.go
  layer/ro_layer.go
Labels: area/builder, status/2-code-review, impact/deprecation, area/images, area/daemon, area/lcow, kind/refactor

#43182 layer: remove unused error return from .Size() and .DiffSize()
  builder/builder-next/adapters/snapshot/snapshot.go
  daemon/images/image_history.go
  daemon/images/image_inspect.go
  daemon/images/image_prune.go
  daemon/images/image_unix.go
  daemon/images/images.go
  daemon/images/service.go
  distribution/config.go
  distribution/push_v2.go
  distribution/xfer/download_test.go
  layer/empty.go
  layer/empty_test.go
  layer/layer.go
  layer/layer_store.go
  layer/layer_test.go
  layer/layer_unix_test.go
  layer/ro_layer.go
Labels: status/2-code-review, kind/refactor

#43130 daemon: load and cache sysInfo on initialization
  daemon/container_linux.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
Labels: status/2-code-review, area/daemon

#43282 Removed mentions of the deprecated Docker CE repo
  docs/contributing/set-up-dev-env.md
Labels: status/3-docs-review, area/project

#43235 Assorted (documentation) fixes for `POST /containers/{id}/wait`
  api/server/router/container/container_routes.go
  api/swagger.yaml
  client/container_wait.go
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, area/docs, impact/api, process/cherry-pick, impact/documentation

#43289 vendor: github.com/Microsoft/hcsshim v0.9.2
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/.gitignore
  vendor/github.com/Microsoft/hcsshim/.golangci.yml
  vendor/github.com/Microsoft/hcsshim/Makefile
  vendor/github.com/Microsoft/hcsshim/README.md
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/attachment.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/container.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/cpu_group_config.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/device.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_container_definition_device.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_device_category.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_device_extension.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_device_instance.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_device_namespace.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_interface_class.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_namespace.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_object_directory.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_object_namespace.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/model_object_symlink.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/virtual_p_mem_mapping.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnspolicy.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/activatelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/createscratchlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/destroylayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/expandscratchsize.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/exportlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getlayermountpath.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/getsharedbaseimages.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/grantvmaccess.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/importlayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerexists.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/legacy.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/nametoguid.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/preparelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/unpreparelayer.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/console.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/memory.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/utils.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/winapi.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/modules.txt
Labels: platform/windows, status/2-code-review

#43280 distribution: remove use of deprecated dial.DualStack
  distribution/registry.go
  registry/registry.go
Labels: area/distribution, status/2-code-review
