Repository moby/moby, pull requests merged in 2022-08, with the labels that each got.

#43888 api: swagger: add missing "platform" query-arg on create
  api/swagger.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#43898 vendor: github.com/Microsoft/hcsshim v0.9.4
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/iocp.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/limits.go
  vendor/github.com/Microsoft/hcsshim/internal/queue/mq.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/system.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#43219 Rewrite journald LogReader and unit test it
  Dockerfile
  daemon/logger/journald/doc.go
  daemon/logger/journald/internal/export/export.go
  daemon/logger/journald/internal/export/export_test.go
  daemon/logger/journald/internal/export/testdata/export-serialization.golden
  daemon/logger/journald/internal/fake/sender.go
  daemon/logger/journald/internal/sdjournal/doc.go
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/journald/journald.go
  daemon/logger/journald/journald_unsupported.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_native.go
  daemon/logger/journald/read_test.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_test.go
  hack/dind-systemd
  hack/test/unit
  vendor.mod
  vendor/gotest.tools/v3/assert/opt/opt.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/modules.txt
Labels: area/logging, status/4-merge, kind/enhancement, kind/bugfix, kind/refactor

#43887 [22.06 backport] daemon: support other containerd runtimes (MVP)
  daemon/daemon_unix.go
  daemon/runtime_unix.go
  daemon/runtime_unix_test.go
  integration-cli/docker_cli_daemon_test.go
  integration/container/run_linux_test.go
  integration/internal/container/ops.go
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/doc.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.pb.go
  vendor/github.com/containerd/containerd/api/services/ttrpc/events/v1/events.proto
  vendor/github.com/containerd/containerd/pkg/shutdown/shutdown.go
  vendor/github.com/containerd/containerd/pkg/ttrpcutil/client.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/publisher.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_darwin.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_freebsd.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_linux.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_unix.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util_windows.go
  vendor/github.com/containerd/containerd/runtime/v2/task/doc.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.pb.go
  vendor/github.com/containerd/containerd/runtime/v2/task/shim.proto
  vendor/github.com/containerd/containerd/sys/reaper/reaper_unix.go
  vendor/github.com/containerd/containerd/sys/reaper/reaper_utils_linux.go
  vendor/modules.txt
Labels: area/runtime, kind/enhancement, impact/changelog

#43820 containerd integration: Implement ImageDelete for containerd
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_delete.go
  daemon/image_service.go
  daemon/images/image_delete.go
  daemon/images/image_prune.go
Labels: status/2-code-review, area/images, containerd-integration

#43903 Update golang to 1.18.5
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#43904 [22.06 backport] Update golang to 1.18.5
  .github/workflows/windows.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43631 api: deprecate BuildCache.Parent, add BuildCache.Parents in API >= v1.42
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  builder/builder-next/builder.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
Labels: area/api, area/builder, status/4-merge, impact/api, impact/changelog, impact/deprecation, process/cherry-picked, area/builder/buildkit

#43908 [22.06 backport] api: deprecate BuildCache.Parent, add BuildCache.Parents in API >= v1.42
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/types.go
  builder/builder-next/builder.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
Labels: area/api, area/builder, status/2-code-review, impact/api, impact/changelog, impact/deprecation, area/builder/buildkit

#43822 containerd integration: Implement load/save
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_exporter.go
  daemon/image_service.go
  daemon/images/image_exporter.go
Labels: status/4-merge, area/images, containerd-integration

#43905 [20.10] Update golang to 1.17.13
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43889 [20.10 backport] api: swagger: add missing "platform" query-arg on create
  api/swagger.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#43890 [22.06 backport] api: swagger: add missing "platform" query-arg on create
  api/swagger.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#43913 api: swagger: fix invalid example value (API v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked, kind/bugfix

#43914 [22.06 backport] api: swagger: fix invalid example value (API v1.39-v1.41)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs, kind/bugfix

#43859 [20.10 backport] Windows: Re-create custom NAT networks after restart if missing from HNS
  daemon/daemon_windows.go
Labels: platform/windows, status/2-code-review, area/networking

#43916 vendor: github.com/containerd/containerd v1.6.7
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Makefile
  vendor/github.com/containerd/containerd/Makefile.linux
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/auth/parse.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#43918 [20.10 backport] update containerd binary to v1.6.7, runc to v1.3.1
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#43919 [22.06 backport] update containerd binary too v1.6.7, runc to v1.3.1
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#43915 [22.06 backport] vendor: github.com/Microsoft/hcsshim v0.9.4
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/iocp.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/jobobject/limits.go
  vendor/github.com/Microsoft/hcsshim/internal/queue/mq.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/jobobject.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/system.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/modules.txt
Labels: status/2-code-review

#43917 update containerd binary to v1.6.7
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#43708 update runc binary to v1.1.3
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked

#43911 [20.10 backport] api: swagger: document BuildCache fields (API v1.39-v1.41)
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/3-docs-review, area/docs

#43934 daemon: rename variables that collided with imports
  builder/dockerfile/evaluator_test.go
  daemon/images/image_commit.go
  daemon/images/image_delete.go
  daemon/list.go
Labels: status/2-code-review, kind/refactor

#43932 [22.06 backport] vendor: github.com/containerd/containerd v1.6.7
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Makefile
  vendor/github.com/containerd/containerd/Makefile.linux
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/auth/parse.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#43922 vendor buildkit 8e2d9b9 (v0.10 branch)
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, process/cherry-picked, area/builder/buildkit

#43901 libcontainerd/supervisor: clean up (dead) code
  cmd/dockerd/daemon.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_options.go
Labels: area/runtime, status/2-code-review, kind/refactor

#43941 pkg/idtools: remove deprecated NewIdentityMapping, UIDS() and GIDS()
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix.go
Labels: status/2-code-review, kind/refactor

#43907 vendor: github.com/moby/swarmkit/v2 v2.0.0-20220721174824-48dd89375d0a, change "csi" to "cluster"
  api/swagger.yaml
  api/types/mount/mount.go
  api/types/volume/cluster_volume.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/validate.go
  docs/api/v1.42.yaml
  docs/cluster_volumes.md
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/exec/errors.go
  vendor/github.com/moby/swarmkit/v2/agent/storage.go
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/defaults/service.go
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/github.com/moby/swarmkit/v2/ca/certificates.go
  vendor/github.com/moby/swarmkit/v2/ca/pkcs8/pkcs8.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/connectionbroker/broker.go
  vendor/github.com/moby/swarmkit/v2/identity/doc.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/ca_rotation.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/config.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/extension.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/node.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/resource.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/secret.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/service.go
  vendor/github.com/moby/swarmkit/v2/manager/dirty.go
  vendor/github.com/moby/swarmkit/v2/manager/dispatcher/dispatcher.go
  vendor/github.com/moby/swarmkit/v2/manager/encryption/encryption.go
  vendor/github.com/moby/swarmkit/v2/manager/manager.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/jobs/global/reconciler.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/restart/restart.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/task.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/taskinit/init.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/update/updater.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/filter.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/scheduler.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/volumes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/membership/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/raft.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/util.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/clusters.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/configs.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/extensions.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/memory.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/networks.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/nodes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/object.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/resources.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/secrets.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/services.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/tasks.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/volumes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/watch.go
  vendor/github.com/moby/swarmkit/v2/node/node.go
  vendor/modules.txt
Labels: area/api, status/2-code-review, impact/api, process/cherry-picked, area/swarm, area/volumes

#43945 libcontainerd/supervisor: refactoring and cleanup in preparation of custom containerd.toml
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_options.go
  libcontainerd/supervisor/remote_daemon_options_linux.go
Labels: area/runtime, status/2-code-review, area/daemon

#43942 cmd/dockerd: fix some minor issues in Windows implementation
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
Labels: platform/windows, status/2-code-review, area/daemon, kind/refactor

#43938 [22.06 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20220721174824-48dd89375d0a, change "csi" to "cluster"
  api/swagger.yaml
  api/types/mount/mount.go
  api/types/volume/cluster_volume.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/validate.go
  docs/api/v1.42.yaml
  docs/cluster_volumes.md
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/exec/errors.go
  vendor/github.com/moby/swarmkit/v2/agent/storage.go
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/defaults/service.go
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/github.com/moby/swarmkit/v2/ca/certificates.go
  vendor/github.com/moby/swarmkit/v2/ca/pkcs8/pkcs8.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/connectionbroker/broker.go
  vendor/github.com/moby/swarmkit/v2/identity/doc.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/ca_rotation.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/config.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/extension.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/node.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/resource.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/secret.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/service.go
  vendor/github.com/moby/swarmkit/v2/manager/dirty.go
  vendor/github.com/moby/swarmkit/v2/manager/dispatcher/dispatcher.go
  vendor/github.com/moby/swarmkit/v2/manager/encryption/encryption.go
  vendor/github.com/moby/swarmkit/v2/manager/manager.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/jobs/global/reconciler.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/restart/restart.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/task.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/taskinit/init.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/update/updater.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/filter.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/scheduler.go
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/volumes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/membership/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/raft.go
  vendor/github.com/moby/swarmkit/v2/manager/state/raft/util.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/clusters.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/configs.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/extensions.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/memory.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/networks.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/nodes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/object.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/resources.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/secrets.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/services.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/tasks.go
  vendor/github.com/moby/swarmkit/v2/manager/state/store/volumes.go
  vendor/github.com/moby/swarmkit/v2/manager/state/watch.go
  vendor/github.com/moby/swarmkit/v2/node/node.go
  vendor/modules.txt
Labels: area/api, status/2-code-review, impact/api, area/swarm, area/volumes

#43906 api: add types/volume.ListOptions for a more consistent API
  client/interface.go
  client/volume_list.go
  client/volume_list_test.go
  integration/container/remove_test.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/volume/volume_test.go
  testutil/environment/clean.go
  testutil/environment/protect.go
Labels: area/api, status/2-code-review, area/volumes, kind/refactor

#43844 fix minor code unreachability error
  libnetwork/ipam/parallel_test.go
Labels: status/2-code-review, area/networking, area/testing

#43883 api/server/router/image: address some linter warnings
  api/server/router/image/image.go
  api/server/router/image/image_routes.go
Labels: area/api, status/2-code-review, kind/refactor

#43949 daemon/config: fix GoDoc for StockRuntimeName
  daemon/config/config_windows.go
Labels: status/2-code-review

#43899 api: api/server/router/build: fix API errors
  api/server/router/build/build_routes.go
Labels: area/api, area/builder, status/2-code-review

#43923 [22.06 backport] vendor buildkit 8e2d9b9 (v0.10 branch)
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#43833 containerd integration: compute image's shared size
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, containerd-integration

#43817 containerd integration: containerd/pull: Use authorization
  daemon/containerd/image_pull.go
  daemon/containerd/resolver.go
Labels: area/distribution, status/2-code-review, containerd-integration

#43912 emptyfs: Use newer image layout
  daemon/containerd/image_exporter.go
  hack/make/.ensure-emptyfs
  integration-cli/docker_cli_inspect_test.go
Labels: status/2-code-review, area/images, containerd-integration

#43756 daemon/config: New(): implement platform-specific defaults
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_unix_test.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/docker.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows.go
  daemon/config/config_windows_test.go
  daemon/runtime_unix_test.go
Labels: status/4-merge, area/daemon, area/rootless, kind/refactor

#43940 daemon: remove some legacy fallbacks, and small refactor
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/images/service.go
Labels: area/storage, status/2-code-review, area/daemon, kind/refactor, containerd-integration

#43975 [20.10 backport] Dockerfile: update golangci-lint v1.44.0
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/worker/gc_unix.go
  builder/dockerfile/builder.go
  client/client.go
  client/request.go
  daemon/cluster/executor/container/adapter.go
  daemon/config/config_unix.go
  daemon/container.go
  daemon/daemon_unix.go
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/devmapper/deviceset.go
  daemon/graphdriver/devmapper/devmapper_test.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/list.go
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/journald/read.go
  daemon/logger/local/local_test.go
  daemon/logger/splunk/splunk.go
  daemon/network.go
  daemon/stats/collector.go
  daemon/top_unix.go
  daemon/volumes_unix_test.go
  distribution/push_v2.go
  hack/dockerfile/install/golangci_lint.installer
  hack/validate/golangci-lint.yml
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_utils_test.go
  integration/build/build_session_test.go
  integration/container/checkpoint_test.go
  integration/internal/network/network.go
  integration/network/service_test.go
  integration/plugin/graphdriver/external_test.go
  libcontainerd/remote/client.go
  oci/oci.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/archive/copy.go
  pkg/devicemapper/devmapper.go
  pkg/jsonmessage/jsonmessage_test.go
  pkg/loopback/loopback.go
  pkg/namesgenerator/names-generator.go
  pkg/system/chtimes_linux_test.go
  pkg/system/stat_linux.go
  plugin/fetch_linux.go
  plugin/v2/plugin.go
  registry/endpoint_v1.go
  testutil/stringutils.go
  volume/drivers/extpoint.go
Labels: status/2-code-review, area/testing

#43977 vendor: github.com/containerd/containerd v1.6.8
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#43972 Makefile: update buildx to v0.9.0
  Makefile
Labels: status/2-code-review, area/testing, process/cherry-pick

#43657 api: set default "Builder-Version" to "2" (BuildKit) on Linux
  api/server/router/build/build.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/system/ping_test.go
Labels: area/api, area/builder, status/2-code-review, impact/api, impact/changelog, area/builder/classic-builder, area/builder/buildkit

#43981 daemon: complete the "--graph" / "-g" deprecation
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
Labels: area/storage, status/2-code-review, impact/changelog, impact/deprecation, process/cherry-picked

#43990 [22.06 backport] daemon: complete the "--graph" / "-g" deprecation
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
Labels: area/storage, status/2-code-review, impact/changelog, impact/deprecation

#43987 seccomp: allow "bpf", "perf_event_open", gated by CAP_BPF, CAP_PERFMON
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp, process/cherry-picked

#43976 [20.10 backport] update to golang 1.18.5
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  daemon/logger/templates/templates.go
  pkg/plugins/pluginrpc-gen/template.go
  vendor/archive/tar/common.go
  vendor/archive/tar/format.go
  vendor/archive/tar/fuzz_test.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/reader_test.go
  vendor/archive/tar/stat_actime1.go
  vendor/archive/tar/stat_actime2.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
  vendor/archive/tar/tar_test.go
  vendor/archive/tar/writer.go
  vendor/archive/tar/writer_test.go
Labels: status/4-merge, impact/changelog, area/packaging

#43991 [20.10 backport] seccomp updates
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp

#43971 daemon: use initialized config struct in more tests
  cmd/dockerd/daemon_test.go
  daemon/config/config_linux_test.go
Labels: status/2-code-review, area/testing, area/daemon

#43988 [22.06 backport] seccomp: allow "bpf", "perf_event_open", gated by CAP_BPF, CAP_PERFMON
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp

#43978 Allow containerd shim refs in default-runtime
  daemon/config/config.go
  daemon/config/config_linux_test.go
  daemon/daemon_unix.go
  daemon/info_unix.go
  daemon/runtime_unix.go
  integration/container/run_linux_test.go
Labels: area/runtime, status/4-merge, impact/changelog, docs/revisit, process/cherry-pick, impact/documentation

#43993 [22.06] Allow containerd shim refs in default-runtime
  daemon/config/config.go
  daemon/config/config_linux_test.go
  daemon/daemon_unix.go
  daemon/info_unix.go
  daemon/runtime_unix.go
  integration/container/run_linux_test.go
Labels: area/runtime, status/2-code-review, kind/feature, impact/changelog, docs/revisit, area/daemon

#43992 [22.06 backport] api: set default "Builder-Version" to "2" (BuildKit) on Linux
  api/server/router/build/build.go
  api/swagger.yaml
  docs/api/version-history.md
  integration/system/ping_test.go
Labels: status/4-merge

#43353 vendor: github.com/bsphere/le_go v0.0.0-20200109081728-fc06dab2caa8
  vendor.mod
  vendor.sum
  vendor/github.com/bsphere/le_go/.travis.yml
  vendor/github.com/bsphere/le_go/le.go
  vendor/modules.txt
Labels: area/logging, status/2-code-review

#43982 ImageService: rename GraphDriverName to StorageDriver, remove daemon.graphdriver
  daemon/container.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/service.go
  daemon/info.go
Labels: area/storage, status/2-code-review, area/images, area/daemon, containerd-integration

#43739 don't use canceled context to send KILL signal to healthcheck process
  daemon/exec.go
  daemon/health.go
  integration/container/health_test.go
Labels: status/2-code-review, kind/bugfix

#44017 ci: print Windows daemon event log timestamps
  .github/workflows/windows.yml
Labels: platform/windows, status/2-code-review, area/testing

#43994 [v22.06 backport] don't use canceled context to send KILL signal to healthcheck process
  daemon/exec.go
  daemon/health.go
  integration/container/health_test.go
Labels: status/2-code-review, impact/changelog, kind/bugfix

#44026 libnetwork/drivers/ipvlan: fix missing IpvlanFlag field in config JSON
  libnetwork/drivers/ipvlan/ipvlan_store.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix

#44025 [22.06 backprot] Test: wait for network changes in TestNetworkDBNodeJoinLeaveIteration
  libnetwork/networkdb/networkdb_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/bugfix

#44024 [22.06 backport] vendor: github.com/containerd/containerd v1.6.8
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#43983 daemon: make the snapshotter configurable
  daemon/containerd/image_exporter.go
  daemon/containerd/image_list.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/oci_linux.go
Labels: area/storage, status/2-code-review, impact/changelog, area/images, containerd-integration

#44027 [22.06 backport] libnetwork/drivers/ipvlan: fix missing IpvlanFlag field in config JSON
  libnetwork/drivers/ipvlan/ipvlan_store.go
Labels: status/2-code-review, area/networking, kind/bugfix

#44011 integration-cli: add utility to check if snapshotters are enabled
  integration-cli/docker_cli_inspect_test.go
  integration-cli/requirements_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#43968 introduce GetImageOpts to manage image inspect data in backend
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/types/image/opts.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/image.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image.go
  daemon/images/image_builder.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_history.go
  daemon/images/image_list.go
  daemon/images/image_pull.go
  daemon/images/image_tag.go
  daemon/list.go
  daemon/oci_windows.go
Labels: status/2-code-review, area/images, kind/refactor, containerd-integration

#44030 daemon: getInspectData(): skip graphdriver data for snapshotters
  daemon/inspect.go
Labels: status/2-code-review, area/images, area/daemon, containerd-integration

#44018 [20.10 backport] daemon: kill exec process on ctx cancel
  daemon/exec.go
  integration/container/health_test.go
Labels: status/4-merge, area/daemon, kind/bugfix

#44020 client: remove deprecated WithDialer() option
  client/options.go
Labels: area/api, area/cli, status/4-merge, impact/deprecation, process/cherry-picked, kind/refactor

#44022 [22.06 backport] client: remove deprecated WithDialer() option
  client/options.go
Labels: area/api, area/cli, impact/deprecation, kind/refactor

#43564 Refactor libcontainerd to minimize containerd RPCs
  api/swagger.yaml
  container/container.go
  container/exec.go
  container/state.go
  container/state_test.go
  daemon/checkpoint.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/delete.go
  daemon/delete_test.go
  daemon/exec.go
  daemon/exec_linux.go
  daemon/exec_linux_test.go
  daemon/exec_windows.go
  daemon/health.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_test.go
  daemon/inspect_windows.go
  daemon/kill.go
  daemon/monitor.go
  daemon/pause.go
  daemon/resize.go
  daemon/resize_test.go
  daemon/start.go
  daemon/top_unix.go
  daemon/top_windows.go
  daemon/unpause.go
  daemon/update.go
  daemon/util_test.go
  integration/container/wait_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/local/process_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
  libcontainerd/replace.go
  libcontainerd/types/types.go
  plugin/executor/containerd/containerd.go
Labels: area/runtime, status/2-code-review

#44028 vendor: github.com/moby/buildkit v0.10.4
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/resolvconf.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/gateway/container.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/session/grpc.go
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, process/cherry-picked, area/builder/buildkit

#44029 [22.06 backport] vendor: github.com/moby/buildkit v0.10.4
  .github/workflows/ci.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/resolvconf.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/build.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/gateway/container.go
  vendor/github.com/moby/buildkit/frontend/gateway/forwarder/forward.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/session/grpc.go
  vendor/github.com/moby/buildkit/solver/errdefs/context.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#44036 Upgrades buildx to 0.9.1
  Makefile
Labels: status/2-code-review, area/testing

#44045 ci: fix broken workflow
  .github/workflows/ci.yml
Labels: area/testing, process/cherry-pick, kind/bugfix

#44046 [22.06 backport] ci: fix broken workflow
  .github/workflows/ci.yml
Labels: status/2-code-review, area/testing, kind/bugfix

#44037 update runc to v1.1.4
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging, kind/bugfix

#44038 [20.10 backport] update runc to v1.1.4
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44040 update containerd binary to v1.6.8
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#44041 [20.10 backport] update containerd binary to v1.6.8
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44042 [22.06 backport] update containerd binary to v1.6.8
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44039 [22.06 backport] update runc to v1.1.4
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44047 validate: add additional validation on YAML files
  Dockerfile
  hack/validate/.swagger-yamllint
  hack/validate/all
  hack/validate/dco
  hack/validate/default
  hack/validate/default-seccomp
  hack/validate/deprecate-integration-cli
  hack/validate/pkg-imports
  hack/validate/swagger
  hack/validate/swagger-gen
  hack/validate/toml
  hack/validate/vendor
  hack/validate/yamllint
  hack/validate/yamllint.yaml
Labels: status/2-code-review, kind/enhancement, area/testing, process/cherry-picked

#44052 pkg/system: make IsAbs() platform-agnostic
  pkg/system/filesys.go
  pkg/system/filesys_unix.go
  pkg/system/filesys_windows.go
Labels: status/2-code-review, kind/refactor

#44014 Fix health check timeout test on Windows+containerd
  daemon/monitor.go
  integration/container/health_test.go
Labels: status/2-code-review, kind/bugfix

#44058 ci: move buildkit tests to a dedicated workflow
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
Labels: status/4-merge, area/testing

#44051 replace pkg/system Sequential funcs with moby/sys/sequential
  image/tarexport/load.go
  image/tarexport/save.go
  pkg/archive/archive.go
  pkg/system/filesys_deprecated.go
  pkg/system/filesys_unix.go
  pkg/system/filesys_windows.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/sequential/LICENSE
  vendor/github.com/moby/sys/sequential/doc.go
  vendor/github.com/moby/sys/sequential/sequential_unix.go
  vendor/github.com/moby/sys/sequential/sequential_windows.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked, kind/refactor

#44049 [22.06 backport] validate: add additional validation on YAML files
  Dockerfile
  hack/validate/.swagger-yamllint
  hack/validate/all
  hack/validate/dco
  hack/validate/default
  hack/validate/default-seccomp
  hack/validate/deprecate-integration-cli
  hack/validate/pkg-imports
  hack/validate/swagger
  hack/validate/swagger-gen
  hack/validate/toml
  hack/validate/vendor
  hack/validate/yamllint
  hack/validate/yamllint.yaml
Labels: status/4-merge, kind/enhancement, area/testing

#44055 [22.06 backport] replace pkg/system Sequential funcs with moby/sys/sequential
  image/tarexport/load.go
  image/tarexport/save.go
  pkg/archive/archive.go
  pkg/system/filesys.go
  pkg/system/filesys_deprecated.go
  pkg/system/filesys_unix.go
  pkg/system/filesys_windows.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/sequential/LICENSE
  vendor/github.com/moby/sys/sequential/doc.go
  vendor/github.com/moby/sys/sequential/sequential_unix.go
  vendor/github.com/moby/sys/sequential/sequential_windows.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor

#44021 client: remove deprecated error-utilities
  client/errors.go
  client/plugin_install.go
Labels: area/cli, status/2-code-review, kind/refactor

#44065 [22.06 backport] assorted CI changes
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  .github/workflows/windows-2019.yml
  .github/workflows/windows-2022.yml
  Dockerfile.windows
  Makefile
  contrib/busybox/Dockerfile
  integration-cli/docker_cli_pull_test.go
Labels: status/4-merge, area/testing

#44043 vendor: github.com/klauspost/compress v1.15.9
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/.gitignore
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/bytereader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo_amd64.go
  vendor/github.com/klauspost/compress/internal/cpuinfo/cpuinfo_amd64.s
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/bytereader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.s
  vendor/github.com/klauspost/compress/zstd/fse_decoder_generic.go
  vendor/github.com/klauspost/compress/zstd/fse_encoder.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/hash.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick
