Repository moby/moby, pull requests merged in 2022-11, with the labels that each got.

#44317 daemon: NewDaemon(): replace system.MkdirAll for os.Mkdir where possible
  daemon/daemon.go
Labels: status/2-code-review, area/daemon

#44375 opts: TestParseLink(): add test-case for legacy format
  opts/opts_test.go
Labels: status/2-code-review, area/testing

#44388 Update to Go 1.19.3 to address CVE-2022-41716
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, process/cherry-pick, area/packaging

#44316 integration-cli: DockerPluginSuite: use gotest.tools compare utilities
  integration-cli/docker_cli_plugins_test.go
Labels: status/2-code-review, area/testing, area/plugins, kind/refactor

#44391 Sort entries in pkg/namesgenerator
  pkg/namesgenerator/names-generator.go
Labels: status/4-merge

#44073 implement docker system df
  api/server/router/system/system_routes.go
  daemon/containerd/service.go
  daemon/images/service.go
Labels: status/2-code-review, containerd-integration

#44383 api/types/filters: add output to example
  api/types/filters/example_test.go
Labels: status/2-code-review, area/testing

#44390 Remove long-deprecated "arm" fallback
  distribution/pull_v2_unix.go
Labels: area/distribution, status/4-merge, impact/changelog, process/cherry-pick, kind/bugfix

#44389 Remove errant "runtime.GOARCH" from debug message
  distribution/pull_v2.go
Labels: area/distribution, status/4-merge, kind/refactor

#44289 daemon/logger/etwlogs: rewrite to use go-winio/pkg/etw
  daemon/logger/etwlogs/etwlogs_windows.go
Labels: area/logging, platform/windows, status/2-code-review, kind/refactor

#44384 pkg/idtools: remove execCmd() utility
  pkg/idtools/idtools_unix.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/usergroupadd_linux.go
  pkg/idtools/utils_unix.go
Labels: status/2-code-review, kind/refactor

#44399 Fix containerd task deletion after failed start
  libcontainerd/remote/client.go
  plugin/executor/containerd/containerd.go
Labels: impact/changelog, process/cherry-pick, kind/bugfix

#44400 [22.06 backport] Fix containerd task deletion after failed start
  libcontainerd/remote/client.go
Labels: process/cherry-picked, kind/bugfix

#44393 pkg/parsers/kernel: remove duplicate GoDoc and un-export Utsname
  pkg/parsers/kernel/kernel_unix.go
  pkg/parsers/kernel/uname_linux.go
  pkg/parsers/kernel/uname_unsupported.go
Labels: status/2-code-review, kind/refactor

#44398 daemon/logger: fix godoc
  daemon/logger/logger.go
Labels: status/2-code-review

#44401 vendor: github.com/moby/swarmkit/v2 v2.0.0-20221102165002-6341884e5fc9
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/volumes.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/volume.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/manager.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick, area/swarm

#44367 distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Labels: area/distribution, status/2-code-review, kind/enhancement, process/cherry-pick

#44365 imageservice: Add context to various methods
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/server/router/swarm/backend.go
  api/server/router/swarm/cluster_routes.go
  builder/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/evaluator.go
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/imagecontext.go
  builder/dockerfile/imagecontext_test.go
  builder/dockerfile/imageprobe.go
  builder/dockerfile/internals.go
  builder/dockerfile/internals_linux.go
  builder/dockerfile/internals_linux_test.go
  builder/dockerfile/internals_windows.go
  builder/dockerfile/mockbackend_test.go
  cmd/dockerd/daemon.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/swarm.go
  daemon/commit.go
  daemon/containerd/cache.go
  daemon/containerd/image_import.go
  daemon/create.go
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image_import.go
  daemon/list.go
  daemon/list_test.go
  daemon/monitor.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  daemon/oci_windows.go
  daemon/restart.go
  daemon/start.go
Labels: status/4-merge, area/images, containerd-integration

#44405 [22.06 backport] distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Labels: area/distribution, kind/enhancement

#44404 [22.06 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20221102165002-6341884e5fc9
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/volumes.go
  vendor/github.com/moby/swarmkit/v2/ca/server.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/cluster.go
  vendor/github.com/moby/swarmkit/v2/manager/controlapi/volume.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/manager.go
  vendor/modules.txt
Labels: status/4-merge, area/swarm

#44356 libnetwork: fix restoring thread network namespaces
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/ipvlan/ipvlan_endpoint.go
  libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/macvlan/macvlan_endpoint.go
  libnetwork/drivers/macvlan/macvlan_joinleave.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/ns/init_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/namespace_windows.go
  libnetwork/osl/sandbox_freebsd.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/testutils/context_unix.go
Labels: status/2-code-review, area/networking, kind/refactor

#44304 pkg/system: move process-functions to pkg/process, improve pkg/pidfile and reduce overlap
  cmd/dockerd/daemon.go
  daemon/container_operations_unix.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
  pkg/pidfile/pidfile.go
  pkg/pidfile/pidfile_darwin.go
  pkg/pidfile/pidfile_test.go
  pkg/pidfile/pidfile_unix.go
  pkg/process/doc.go
  pkg/process/process_test.go
  pkg/process/process_unix.go
  pkg/process/process_windows.go
  pkg/system/process_deprecated.go
  pkg/system/process_unix.go
  pkg/system/process_windows.go
Labels: status/2-code-review, kind/refactor

#44413 [20.10 backport] distribution: Error when pulling OCI artifacts
  distribution/errors.go
  distribution/pull_v2.go
Labels: area/distribution, status/2-code-review, kind/enhancement, impact/changelog

#44411 [22.06 backport] Update to Go 1.19.3 to address CVE-2022-41716
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, impact/changelog, area/packaging

#44412 [20.10] update to Go 1.18.8 to address CVE-2022-41716
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/4-merge, impact/changelog, area/packaging

#44417 vendor: gotest.tools/v3 v3.4.0, github.com/google/go-cmp v0.5.9, remove golang.org/x/xerrors
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/golden/golden.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/skip/skip.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44428 Remove uses of deprecated go-digest.NewDigestFromHex, go-digest.Digest.Hex
  builder/remotecontext/tarsum.go
  daemon/images/image_prune.go
  distribution/metadata/v2_metadata_service.go
  image/fs.go
  image/fs_test.go
  image/store_test.go
  image/tarexport/save.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_save_load_test.go
  layer/filestore.go
  layer/layer_store.go
  layer/layer_test.go
  testutil/registry/registry.go
Labels: area/distribution, status/2-code-review

#44416 [22.06 backport] Revert "validation: temporarily allows changes in integration-cli"
  hack/validate/default
Labels: status/2-code-review, area/testing

#44430 [22.06 backport] replace distribution/digestset with opencontainers/go-digest/digestset
  image/store.go
  vendor/github.com/opencontainers/go-digest/digestset/set.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing

#44414 [22.06 backport] Remove long-deprecated "arm" fallback
  distribution/pull_v2_unix.go
Labels: area/distribution, status/2-code-review, impact/changelog, kind/bugfix

#44418 vendor: update golang.org/x/ dependencies to tagged releases
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/bpf/vm_instructions.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/socket/mmsghdr_unix.go
  vendor/golang.org/x/net/internal/socket/msghdr_linux.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/net/trace/trace.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/sys/cpu/cpu_other_ppc64x.go
  vendor/golang.org/x/sys/unix/asm_bsd_ppc64.s
  vendor/golang.org/x/sys/unix/dirent.go
  vendor/golang.org/x/sys/unix/mkall.sh
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_libc.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/syscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix_gc.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_illumos_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysctl_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsysctl_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_illumos_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44421 go.mod: github.com/miekg/dns v1.1.43
  vendor.mod
  vendor.sum
  vendor/github.com/miekg/dns/.travis.yml
  vendor/github.com/miekg/dns/Makefile.release
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/listen_no_reuseport.go
  vendor/github.com/miekg/dns/listen_reuseport.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/svcb.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/modules.txt
Labels: status/2-code-review

#44446 Fix grammar in README.md
  README.md
Labels: status/4-merge, area/docs

#44432 switch back from golang.org/x/sys/execabs to os/exec
  builder/remotecontext/git/gitutils.go
  pkg/archive/archive.go
Labels: status/2-code-review

#44444 ci(actions): migrate to file-based commands
  .github/workflows/.windows.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: status/2-code-review, area/testing, process/cherry-pick

#44274 integration(-cli): remove uses of pkg/system.Stat()
  integration-cli/docker_cli_cp_to_container_unix_test.go
  integration-cli/docker_cli_userns_test.go
  integration/container/mounts_linux_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#44453 fix vendor.mod: add hashicorp/go-multierror as direct dependency
  vendor.mod
Labels: status/2-code-review

#44452 vendor: github.com/moby/buildkit v0.10.6
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/spec_windows.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/worker/worker.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, process/cherry-picked, area/builder/buildkit

#44456 [22.06 backport] vendor: github.com/moby/buildkit v0.10.6
  .github/workflows/buildkit.yml
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/oci/spec.go
  vendor/github.com/moby/buildkit/executor/oci/spec_unix.go
  vendor/github.com/moby/buildkit/executor/oci/spec_windows.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/worker/worker.go
  vendor/github.com/tonistiigi/fsutil/walker.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#44449 [22.06 backport] vendor: gotest.tools/v3 v3.4.0, github.com/google/go-cmp v0.5.9, remove golang.org/x/xerrors
  hack/go-mod-prepare.sh
  hack/vendor.sh
  pkg/plugins/discovery.go
  pkg/plugins/utils.go
  pkg/plugins/utils_go1.16.go
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/fs/file.go
  vendor/gotest.tools/v3/fs/manifest.go
  vendor/gotest.tools/v3/fs/ops.go
  vendor/gotest.tools/v3/fs/path.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/exitcode.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/assert/result.go
  vendor/gotest.tools/v3/internal/cleanup/cleanup.go
  vendor/gotest.tools/v3/internal/format/diff.go
  vendor/gotest.tools/v3/internal/source/defers.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/internal/source/update.go
  vendor/gotest.tools/v3/internal/source/version.go
  vendor/gotest.tools/v3/skip/skip.go
  vendor/modules.txt
Labels: status/2-code-review

#44419 vendor: golang.org/x/crypto v0.1.0, golang.org/x/oauth2 v0.1.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/cryptobyte/builder.go
  vendor/golang.org/x/crypto/cryptobyte/string.go
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/internal/alias/alias.go
  vendor/golang.org/x/crypto/internal/alias/alias_purego.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/nacl/secretbox/secretbox.go
  vendor/golang.org/x/crypto/nacl/sign/sign.go
  vendor/golang.org/x/crypto/ocsp/ocsp.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/oauth2/AUTHORS
  vendor/golang.org/x/oauth2/CONTRIBUTORS
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/error.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/impersonate.go
  vendor/golang.org/x/oauth2/google/jwt.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44461 vendor: github.com/containerd/containerd v1.6.10
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#44460 update containerd binary to v1.6.10
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-pick, area/packaging

#44463 cleanup: drop .DEREK.yml
  .DEREK.yml
Labels: status/2-code-review, area/testing, process/cherry-pick

#44473 [22.06 backport] update RootlessKit to v1.1.0
  hack/dockerfile/install/rootlesskit.installer
  vendor.mod
  vendor.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, docs/revisit, area/rootless

#44477 [22.06 backport] cleanup: drop .DEREK.yml
  .DEREK.yml
Labels: status/2-code-review, area/testing

#44466 cleanup: drop historical CHANGELOG.md
  CHANGELOG.md
  hack/validate/changelog-date-descending
  hack/validate/changelog-well-formed
  hack/validate/default
Labels: status/4-merge, process/cherry-pick, kind/refactor

#44471 [22.06 backport] update containerd v1.6.10 (binary and vendor)
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44472 [20.10 backport] update containerd binary to v1.6.10
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44480 [22.06 backport] cleanup: drop historical CHANGELOG.md
  CHANGELOG.md
  hack/validate/changelog-date-descending
  hack/validate/changelog-well-formed
  hack/validate/default
Labels: status/4-merge, area/docs, kind/refactor

#44415 [22.06 backport] clean-up various pkg/ changes
  pkg/archive/archive_linux_test.go
  pkg/archive/diff.go
  pkg/archive/diff_unix.go
  pkg/archive/diff_windows.go
  pkg/chrootarchive/diff_unix.go
  pkg/directory/directory.go
  pkg/directory/directory_test.go
  pkg/directory/directory_unix.go
  pkg/directory/directory_windows.go
  pkg/idtools/idtools_unix.go
  pkg/system/exitcode.go
  pkg/system/stat_windows.go
  pkg/system/umask.go
  pkg/system/umask_windows.go
Labels: status/2-code-review, kind/refactor

#43384 libnetwork/iptables: Fix test panic when execute only one test
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, area/testing

#44485 update gotestsum to v1.8.2
  Dockerfile
  Dockerfile.windows
Labels: area/testing, process/cherry-picked, platform/ibm-z

#44486 update github.com/tc-hib/go-winres v0.3.0 to fix schema version in manifest
  Dockerfile
  Dockerfile.windows
Labels: platform/windows, status/2-code-review, process/cherry-pick, area/packaging

#44487 [22.06 backport] update gotestsum to v1.8.2
  Dockerfile
  Dockerfile.windows
Labels: status/2-code-review, area/testing, platform/ibm-z

#44492 [22.06 backport] update github.com/tc-hib/go-winres v0.3.0 to fix schema version in manifest
  Dockerfile
  Dockerfile.windows
Labels: platform/windows, status/2-code-review, area/packaging

#44475 [22.06 backport] daemon/config: use strings.Cut(), fix panic in BuilderGCFilter
  daemon/config/builder.go
  daemon/config/builder_test.go
  daemon/config/config.go
  daemon/keys.go
  daemon/kill.go
  daemon/links/links_test.go
  daemon/reload_unix.go
  daemon/resize.go
  daemon/runtime_unix.go
Labels: area/builder, status/2-code-review, area/daemon, kind/bugfix, area/builder/buildkit

#44496 [22.06 backport] Dockerfile: variant support in frozen-images stage
  Dockerfile
  contrib/download-frozen-image-v2.sh
Labels: status/4-merge, area/packaging, area/contrib

#44498 vendor: remove most "replace" rules and update github.com/armon/go-radix
  vendor.mod
  vendor.sum
  vendor/github.com/armon/go-radix/.travis.yml
  vendor/github.com/armon/go-radix/README.md
  vendor/github.com/armon/go-radix/radix.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked

#44493 Dockerfile: remove hardcoded platforms for vpnkit stage
  Dockerfile
  hack/make/.integration-daemon-start
  hack/make/binary-daemon
Labels: status/2-code-review, process/cherry-pick, area/packaging

#44494 hack: remove obsolete sources for go-autogen
  hack/make/.go-autogen
Labels: status/2-code-review, process/cherry-pick, area/packaging

#44499 [22.06 backport] vendor: remove most "replace" rules and update github.com/armon/go-radix
  vendor.mod
  vendor.sum
  vendor/github.com/armon/go-radix/.travis.yml
  vendor/github.com/armon/go-radix/README.md
  vendor/github.com/armon/go-radix/radix.go
  vendor/modules.txt
Labels: status/2-code-review

#44502 vendor: github.com/moby/term v0.0.0-20221120202655-abb19827d345
  vendor.mod
  vendor.sum
  vendor/github.com/moby/term/tc.go
  vendor/github.com/moby/term/term.go
  vendor/github.com/moby/term/term_windows.go
  vendor/github.com/moby/term/termios.go
  vendor/github.com/moby/term/termios_bsd.go
  vendor/github.com/moby/term/termios_nonbsd.go
  vendor/github.com/moby/term/windows/ansi_reader.go
  vendor/github.com/moby/term/windows/ansi_writer.go
  vendor/github.com/moby/term/windows/console.go
  vendor/github.com/moby/term/winsize.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44465 ignorefiles: cleanup
  .dockerignore
  .gitignore
Labels: status/2-code-review, kind/enhancement, process/cherry-pick

#44522 [22.06 backport] hack: remove obsolete sources for go-autogen
  hack/make/.go-autogen
Labels: status/2-code-review, area/packaging

#44523 [22.06 backport] Dockerfile: remove hardcoded platforms for vpnkit stage
  Dockerfile
  hack/make/.integration-daemon-start
  hack/make/binary-daemon
Labels: status/2-code-review, area/packaging

#44532 Add Sam Thibault (sam-thibault) as curator
  MAINTAINERS
Labels: status/3-docs-review, area/project

#44535 go.mod: golang_protobuf_extensions v1.0.4 - prevent incompatible versions
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick, kind/bugfix

#44536 [22.06 backport] go.mod: golang_protobuf_extensions v1.0.4 - prevent incompatible versions
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review

#44539 ci: define timeout for jobs
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
Labels: status/2-code-review, area/testing, process/cherry-pick

#44527 vendor: update various dependencies in preparation of BuildKit update
  vendor.mod
  vendor.sum
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.s
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/doc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/almost_equal.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/labels.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/timer.go
  vendor/github.com/prometheus/client_model/go/metrics.pb.go
  vendor/golang.org/x/crypto/pkcs12/internal/rc2/rc2.go
  vendor/golang.org/x/crypto/salsa20/salsa/hsalsa20.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa208.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa20_ref.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44380 daemon/config: use strings.Cut(), fix panic in BuilderGCFilter
  daemon/config/builder.go
  daemon/config/builder_test.go
  daemon/config/config.go
Labels: area/builder, process/cherry-picked, area/daemon, kind/bugfix, area/builder/buildkit

#44533 Makefile: always use buildx
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
Labels: status/2-code-review, process/cherry-pick, area/packaging

#44545 Jenkinsfile: Fix dev image build fox ppc64le/s390x archs
  Jenkinsfile
Labels: status/2-code-review, process/cherry-pick, area/packaging, kind/bugfix

#44548 registry: session: remove unused id
  registry/session.go
Labels: area/distribution, status/2-code-review, process/cherry-picked, kind/refactor

#44549 [22.06 backport] registry: session: remove unused id
  registry/session.go
Labels: area/distribution, status/2-code-review, kind/refactor

#44520 daemon/disk_usage: Use context aware singleflight
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/disk_usage.go
  daemon/image_service.go
  daemon/images/image_list.go
  daemon/images/service.go
  vendor.mod
  vendor.sum
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
  vendor/resenje.org/singleflight/LICENSE
  vendor/resenje.org/singleflight/README.md
  vendor/resenje.org/singleflight/singleflight.go
  volume/service/service.go
Labels: status/4-merge, containerd-integration

#44556 [22.06 backport] assorted CI and packaging fixes
  .dockerignore
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  .gitignore
  Jenkinsfile
  Makefile
Labels: status/2-code-review, area/testing, area/packaging

#44462 AUTHORS: regenerate, cleanup, refactor
  .mailmap
  AUTHORS
  hack/generate-authors.sh
Labels: status/2-code-review, process/cherry-picked, area/project, kind/refactor

#44557 [22.06 backport] AUTHORS: regenerate, cleanup, refactor
  .mailmap
  AUTHORS
  hack/generate-authors.sh
Labels: status/2-code-review, area/project, kind/refactor
