Repository moby/moby, pull requests merged in 2022-12, with the labels that each got.

#44514 client/list: Handle SharedSize
  client/image_list.go
  client/image_list_test.go
Labels: area/api, status/2-code-review, process/cherry-picked, kind/bugfix

#44560 [22.06 backport] client/list: Handle SharedSize
  client/image_list.go
  client/image_list_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#44531 update containerd binary to v1.7.0-beta.0
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44562 seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, area/security, impact/changelog

#44563 [23.0 backport] seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp

#44329 Remove trustkey id migration and config.TrustKeyPath
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
  cmd/dockerd/options.go
  daemon/config/config.go
  daemon/daemon.go
  daemon/id.go
  daemon/images/image_push.go
  daemon/images/service.go
  daemon/trustkey.go
  daemon/trustkey_test.go
  distribution/config.go
  distribution/pull_v2.go
  distribution/push_v2.go
  integration-cli/docker_cli_daemon_test.go
  integration/daemon/daemon_test.go
Labels: status/2-code-review, impact/deprecation, area/daemon

#44571 ci(buildkit): update buildkit ref to fix issue with alpine image
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#44572 [23.0 backport] ci(buildkit): update buildkit ref to fix issue with alpine image
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, kind/bugfix

#44567 distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Labels: area/distribution, status/2-code-review, process/cherry-picked, kind/bugfix

#44568 [23.0 backport] distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Labels: area/distribution, status/2-code-review, kind/bugfix

#44537 builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Labels: area/builder, status/2-code-review, area/networking, process/cherry-pick, kind/bugfix, area/builder/buildkit

#44574 [23.0 backport] builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#44564 [20.10 backport] seccomp: block socket calls to AF_VSOCK in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, impact/changelog, area/security/seccomp

#44458 testing: move fuzzers over from OSS-Fuzz
  daemon/logger/jsonfilelog/fuzz_test.go
  daemon/logger/jsonfilelog/jsonlog/fuzz_test.go
  libnetwork/etchosts/fuzz_test.go
  oci/fuzz_test.go
  pkg/archive/fuzz_test.go
  pkg/tailfile/fuzz_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/AdaLogics/go-fuzz-headers/LICENSE
  vendor/github.com/AdaLogics/go-fuzz-headers/README.md
  vendor/github.com/AdaLogics/go-fuzz-headers/consumer.go
  vendor/github.com/AdaLogics/go-fuzz-headers/funcs.go
  vendor/github.com/AdaLogics/go-fuzz-headers/sql.go
  vendor/modules.txt
  volume/mounts/fuzz_test.go
Labels: status/2-code-review, area/testing

#44501 libnetwork: use go-immutable-radix instead of radix
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/networkdb.go
  vendor.mod
  vendor.sum
  vendor/github.com/armon/go-radix/.gitignore
  vendor/github.com/armon/go-radix/.travis.yml
  vendor/github.com/armon/go-radix/LICENSE
  vendor/github.com/armon/go-radix/README.md
  vendor/github.com/armon/go-radix/radix.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking, kind/refactor

#44588 Add Kevin Alvarez ("crazy-max") to curators
  MAINTAINERS
Labels: status/3-docs-review, area/project

#44590 Better not pretend to be an active currator
  MAINTAINERS
Labels: status/3-docs-review, area/project

#44587 Add Bjorn Neergaard to maintainers
  MAINTAINERS
Labels: status/3-docs-review, area/project

#44591 update to go1.19.4
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#44592 [23.0 backport] update to go1.19.4
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#44593 [20.10] update to go1.18.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#44595 [23.0 backport] vendor: github.com/containerd/containerd v1.6.11
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/leases/lease.go
  vendor/github.com/containerd/containerd/rootfs/diff.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44569 [20.10 backport] distribution: checkSupportedMediaType: allow additional media-types
  distribution/pull_v2.go
  distribution/registry.go
Labels: area/distribution, status/2-code-review, kind/bugfix

#44596 [23.0] update containerd binary to v1.6.11
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/packaging

#44597 [20.10] update containerd binary to v1.6.11
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44607 [20.10] update containerd binary to v1.6.12 (addresses CVE-2022-23471)
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44606 vendor: github.com/containerd/containerd v1.6.12
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44476 [20.10] vendor: github.com/moby/libnetwork dcdf8f176d1e13ad719e913e796fb698d846de98
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/README.md
  vendor/github.com/docker/libnetwork/config/config.go
  vendor/github.com/docker/libnetwork/portallocator/portallocator.go
Labels: status/2-code-review, area/networking, kind/bugfix

#44608 [23.0] update containerd binary to v1.6.12 (addresses CVE-2022-23471)
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44612 [23.0 backport] vendor: github.com/containerd/containerd v1.6.12
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: status/2-code-review

#44603 image/store: Use errdefs for errors
  image/store.go
  image/store_test.go
Labels: status/2-code-review, kind/bugfix

#44611 libcontainerd/remote: remove stray import comment
  libcontainerd/remote/client_io_windows.go
Labels: status/2-code-review, kind/refactor

#44566 [23.0 backport] use ad-hoc libtrust trustkey
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker_windows.go
  cmd/dockerd/options.go
  daemon/daemon.go
  daemon/images/image_push.go
  daemon/images/service.go
  daemon/trustkey.go
  daemon/trustkey_test.go
  distribution/config.go
  distribution/pull_v2.go
  distribution/push_v2.go
  integration-cli/docker_cli_daemon_test.go
  integration/daemon/daemon_test.go
Labels: area/distribution, status/2-code-review

#44605 vendor: golang.org/x/net v0.4.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick

#44617 [23.0 backport] image/store: Use errdefs for errors
  builder/remotecontext/tarsum.go
  daemon/images/image_prune.go
  daemon/images/store_test.go
  daemon/logger/loggerutils/cache/log_cache_test.go
  daemon/logger/loggerutils/sharedtemp_test.go
  distribution/metadata/v2_metadata_service.go
  image/fs.go
  image/fs_test.go
  image/store.go
  image/store_test.go
  image/tarexport/save.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_save_load_test.go
  layer/filestore.go
  layer/layer_store.go
  layer/layer_test.go
  testutil/registry/registry.go
Labels: area/api, status/2-code-review, area/images, kind/bugfix

#44459 validate/vendor: always tidy
  hack/go-mod-prepare.sh
  hack/validate/vendor
  hack/vendor.sh
Labels: status/2-code-review, area/testing, process/cherry-pick

#44497 hack: replace go-mod-prepare.sh with wrapper script
  .github/workflows/buildkit.yml
  .gitignore
  hack/buildkit-ref
  hack/go-mod-prepare.sh
  hack/validate/no-module
  hack/vendor.sh
  hack/with-go-mod.sh
Labels: status/2-code-review, area/testing, process/cherry-pick

#44503 List images with multiple since/before filters
  daemon/images/image_list.go
  integration/image/list_test.go
Labels: area/api, impact/changelog, area/images, kind/bugfix

#44629 Prevent containers from being included in List API before they are registered
  daemon/container.go
  daemon/daemon_unix.go
  daemon/start.go
Labels: area/api, kind/bugfix

#44631 [23.0 backport] vendor tooling improvements
  .github/workflows/buildkit.yml
  .gitignore
  hack/buildkit-ref
  hack/go-mod-prepare.sh
  hack/validate/no-module
  hack/validate/vendor
  hack/vendor.sh
  hack/with-go-mod.sh
Labels: status/4-merge

#44633 [23.0 Backport] Prevent containers from being included in List API before they are registered
  daemon/container.go
  daemon/daemon_unix.go
  daemon/start.go
Labels: area/api, status/4-merge, kind/bugfix

#44642 Remove "cli" package (step 1)
  cli/config/configdir.go
  cli/error.go
  cmd/dockerd/cobra.go
  cmd/dockerd/docker.go
  cmd/dockerd/error.go
  cmd/dockerd/options.go
  cmd/dockerd/options_test.go
  cmd/dockerd/required.go
Labels: area/cli, status/2-code-review, area/daemon, kind/refactor

#44625 vendor: update dependencies for fluentd
  vendor.mod
  vendor.sum
  vendor/github.com/philhofer/fwd/README.md
  vendor/github.com/philhofer/fwd/reader.go
  vendor/github.com/philhofer/fwd/writer.go
  vendor/github.com/philhofer/fwd/writer_appengine.go
  vendor/github.com/philhofer/fwd/writer_tinygo.go
  vendor/github.com/philhofer/fwd/writer_unsafe.go
  vendor/github.com/tinylib/msgp/msgp/errors.go
  vendor/github.com/tinylib/msgp/msgp/extension.go
  vendor/github.com/tinylib/msgp/msgp/json.go
  vendor/github.com/tinylib/msgp/msgp/read.go
  vendor/github.com/tinylib/msgp/msgp/read_bytes.go
  vendor/github.com/tinylib/msgp/msgp/unsafe.go
  vendor/github.com/tinylib/msgp/msgp/write.go
  vendor/github.com/tinylib/msgp/msgp/write_bytes.go
  vendor/modules.txt
Labels: area/logging, status/2-code-review, process/cherry-picked

#44626 [23.0 backport] vendor: update dependencies for fluentd
  vendor.mod
  vendor.sum
  vendor/github.com/philhofer/fwd/README.md
  vendor/github.com/philhofer/fwd/reader.go
  vendor/github.com/philhofer/fwd/writer.go
  vendor/github.com/philhofer/fwd/writer_appengine.go
  vendor/github.com/philhofer/fwd/writer_tinygo.go
  vendor/github.com/philhofer/fwd/writer_unsafe.go
  vendor/github.com/tinylib/msgp/msgp/errors.go
  vendor/github.com/tinylib/msgp/msgp/extension.go
  vendor/github.com/tinylib/msgp/msgp/json.go
  vendor/github.com/tinylib/msgp/msgp/read.go
  vendor/github.com/tinylib/msgp/msgp/read_bytes.go
  vendor/github.com/tinylib/msgp/msgp/unsafe.go
  vendor/github.com/tinylib/msgp/msgp/write.go
  vendor/github.com/tinylib/msgp/msgp/write_bytes.go
  vendor/modules.txt
Labels: area/logging, status/2-code-review

#44488 [20.10] update gotestsum to v1.8.2
  Dockerfile.windows
  hack/dockerfile/install/gotestsum.installer
Labels: status/2-code-review, area/testing, platform/ibm-z

#44651 vendor: github.com/moby/swarmkit/v2 v2.0.0-20221215132206-0da442b2780f
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked, area/swarm

#44652 [23.0 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20221215132206-0da442b2780f
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/swarm

#44657 vendor: github.com/containerd/containerd v1.6.13
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/cow/cow.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-picked

#44658 [23.0 backport] vendor: github.com/containerd/containerd v1.6.13
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/cow/cow.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44513 Dockerfile: use TARGETPLATFORM
  Dockerfile
  docker-bake.hcl
Labels: status/2-code-review, process/cherry-pick, area/packaging

#44656 [20.10] update containerd binary to v1.6.13
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44659 [23.0 backport] Dockerfile: use TARGETPLATFORM
  Dockerfile
  docker-bake.hcl
Labels: status/2-code-review, area/packaging

#44655 [23.0] update containerd binary to v1.6.13
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44409 libnetwork: improve tests & fix some bugs
  libnetwork/datastore/datastore.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/drivers/bridge/interface.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/drivers/bridge/setup_ip_tables_test.go
  libnetwork/endpoint_test.go
  libnetwork/firewall_linux_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_test.go
  libnetwork/resolver_test.go
  libnetwork/sandbox_test.go
  libnetwork/service_common_test.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
  libnetwork/testutils/context.go
  libnetwork/testutils/context_unix.go
  libnetwork/testutils/context_windows.go
  libnetwork/testutils/net.go
Labels: status/2-code-review, area/networking, area/testing, process/cherry-pick

#44653 update containerd binary to v1.7.0-beta.1
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/4-merge, area/packaging

#44661 pkg/stringid: optimize performance
  pkg/stringid/stringid.go
  pkg/stringid/stringid_test.go
Labels: status/2-code-review, area/performance, kind/refactor

#44672 [23.0] update containerd binary to v1.6.14
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, area/packaging

#44673 [20.10] update containerd binary to v1.6.14
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44674 vendor: github.com/containerd/containerd v1.6.14
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44675 [23.0 backport] vendor: github.com/containerd/containerd v1.6.14
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44515 pkg/ioutils: TempDir: move to pkg/longpath
  builder/builder-next/adapters/snapshot/layer.go
  builder/dockerfile/copy.go
  builder/remotecontext/archive.go
  container/view.go
  integration-cli/docker_api_containers_test.go
  pkg/ioutils/temp_unix.go
  pkg/ioutils/temp_windows.go
  pkg/ioutils/tempdir_deprecated.go
  pkg/longpath/longpath.go
Labels: status/2-code-review, kind/refactor

#44381 Replace uses of `strings.Split(N)` with `strings.Cut()`
  api/types/filters/parse.go
  api/types/time/timestamp.go
  api/types/types.go
  builder/dockerfile/dispatchers.go
  builder/remotecontext/git/gitutils.go
  client/client.go
  client/ping.go
  cmd/dockerd/daemon.go
  daemon/cluster/executor/container/controller.go
  daemon/cluster/executor/container/executor.go
  daemon/commit.go
  daemon/container_operations.go
  daemon/daemon_unix.go
  daemon/events/testutils/testutils.go
  daemon/graphdriver/windows/windows.go
  daemon/graphdriver/zfs/zfs_freebsd.go
  daemon/info.go
  daemon/links/links.go
  daemon/logger/journald/internal/sdjournal/sdjournal.go
  daemon/logger/loginfo.go
  daemon/oci_linux.go
  daemon/oci_windows.go
  daemon/oci_windows_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_links_test.go
  integration/internal/container/ops.go
  libcontainerd/local/utils_windows.go
  libnetwork/datastore/datastore.go
  libnetwork/etchosts/etchosts.go
  libnetwork/netlabel/labels.go
  libnetwork/sandbox_dns_unix.go
  opts/address_pools.go
  opts/env.go
  opts/hosts.go
  opts/hosts_test.go
  opts/opts.go
  opts/runtime.go
  pkg/parsers/kernel/kernel_darwin.go
  pkg/parsers/operatingsystem/operatingsystem_linux.go
  pkg/parsers/parsers.go
  pkg/parsers/parsers_test.go
  pkg/tarsum/tarsum.go
  pkg/tarsum/versioning.go
  plugin/defs.go
  plugin/v2/settable.go
  runconfig/opts/parse.go
  volume/local/local.go
  volume/mounts/linux_parser.go
  volume/mounts/windows_parser.go
Labels: status/2-code-review, kind/refactor

#44678 errdefs: FromStatusCode() don't log "FIXME" debug message
  errdefs/http_helpers.go
Labels: area/cli, status/2-code-review, process/cherry-picked, kind/bugfix

#44679 [23.0 backport] errdefs: FromStatusCode() don't log "FIXME" debug message
  errdefs/http_helpers.go
Labels: area/cli, status/2-code-review, kind/bugfix

#44684 libnetwork/drivers/bridge: remove "ioctl" fallback code for legacy kernels
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/netlink_deprecated_linux.go
  libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_int8.go
  libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_uint8.go
  libnetwork/drivers/bridge/netlink_deprecated_unsupported.go
  libnetwork/drivers/bridge/setup_device.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/refactor

#44534 layer: layerStore.registerWithDescriptor: rename var to prevent shadowing
  layer/layer_store.go
Labels: status/2-code-review, kind/refactor

#44669 registry: use http.NewServeMux for tests instead of gorilla/mux
  registry/registry_mock_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#44683 libnetwork/netlabel: make consts actual consts, remove redundant utils
  libnetwork/controller.go
  libnetwork/netlabel/labels.go
  libnetwork/netlabel/labels_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#44239 libnetwork: simplify handling of reading resolv.conf
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_windows.go
  libnetwork/sandbox_dns_unix.go
Labels: status/2-code-review, area/networking, kind/refactor

#44667 libnetwork: improve logs for DNS failures
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking

#44627 daemon: CreateNetwork: remove redundant error check
  daemon/network.go
Labels: status/2-code-review, kind/refactor

#44649 daemon/config: rename CommonTLSOptions, and remove RootDeprecated field
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/config/config.go
Labels: area/cli, status/2-code-review, impact/deprecation, area/daemon, kind/refactor

#44663 pkg/system: move memory-info types to pkg/systeminfo, and minor refactor
  daemon/info.go
  daemon/stats_collector.go
  pkg/sysinfo/meminfo.go
  pkg/sysinfo/meminfo_linux.go
  pkg/sysinfo/meminfo_unix_test.go
  pkg/sysinfo/meminfo_unsupported.go
  pkg/sysinfo/meminfo_windows.go
  pkg/sysinfo/numcpu.go
  pkg/sysinfo/numcpu_linux.go
  pkg/sysinfo/numcpu_other.go
  pkg/sysinfo/numcpu_windows.go
  pkg/system/meminfo.go
  pkg/system/meminfo_deprecated.go
  pkg/system/meminfo_unsupported.go
Labels: status/2-code-review, kind/refactor

#44182 client: TestNewClientWithOpsFromEnv(): use sub-tests
  client/client_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#44701 gha: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-picked, kind/bugfix, area/builder/buildkit

#44702 [23.0 backport] gha: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, kind/bugfix, area/builder/buildkit

#44691 [20.10] fix broken vanity-URL for code.cloudfoundry.org
  hack/dockerfile/install/vndr.installer
  vendor.conf
Labels: status/2-code-review, kind/bugfix

#44707 daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/storage/btrfs, status/2-code-review, process/cherry-picked, kind/bugfix

#44699 cmd/docker-proxy: add "-v / --version" flag
  cmd/docker-proxy/main.go
Labels: area/cli, status/2-code-review, kind/enhancement, process/cherry-picked

#44703 [23.0 backport] cmd/docker-proxy: add "-v / --version" flag
  cmd/docker-proxy/main.go
Labels: area/cli, status/2-code-review, kind/enhancement

#44708 [23.0 backport] daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/storage/btrfs, status/2-code-review, kind/bugfix

#44709 [20.10 backport] daemon/graphdriver/btrfs: workaround field rename in btrfs-progs 6.1
  daemon/graphdriver/btrfs/btrfs.go
Labels: area/storage/btrfs, status/2-code-review, kind/bugfix

#44682 [20.10] vendor: github.com/docker/libnetwork 1f3b98be6833a93f254aa0f765ff55d407dfdd69
  vendor.conf
  vendor/github.com/docker/libnetwork/bitseq/sequence.go
  vendor/github.com/docker/libnetwork/datastore/datastore.go
  vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_int8.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_linux_rawsockaddr_data_uint8.go
  vendor/github.com/docker/libnetwork/drivers/bridge/netlink_deprecated_unsupported.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_bridgenetfiltering.go
  vendor/github.com/docker/libnetwork/drivers/bridge/setup_ip_tables.go
  vendor/github.com/docker/libnetwork/drivers/overlay/ostweaks_unsupported.go
  vendor/github.com/docker/libnetwork/drivers/windows/port_mapping.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows_store.go
  vendor/github.com/docker/libnetwork/endpoint_info_unix.go
  vendor/github.com/docker/libnetwork/endpoint_info_windows.go
  vendor/github.com/docker/libnetwork/firewall_others.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_unix.go
  vendor/github.com/docker/libnetwork/ipams/builtin/builtin_windows.go
  vendor/github.com/docker/libnetwork/ipams/remote/api/api.go
  vendor/github.com/docker/libnetwork/netutils/utils_linux.go
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/network_unix.go
  vendor/github.com/docker/libnetwork/network_windows.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.go
  vendor/github.com/docker/libnetwork/networkdb/networkdb.pb.go
  vendor/github.com/docker/libnetwork/osl/kernel/knobs_unsupported.go
  vendor/github.com/docker/libnetwork/osl/namespace_unsupported.go
  vendor/github.com/docker/libnetwork/osl/sandbox_unsupported.go
  vendor/github.com/docker/libnetwork/portmapper/mapper.go
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/resolver_unix.go
  vendor/github.com/docker/libnetwork/resolver_windows.go
  vendor/github.com/docker/libnetwork/sandbox_dns_unix.go
  vendor/github.com/docker/libnetwork/sandbox_dns_windows.go
  vendor/github.com/docker/libnetwork/sandbox_externalkey_unix.go
  vendor/github.com/docker/libnetwork/sandbox_externalkey_windows.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_unsupported.go
  vendor/github.com/docker/libnetwork/store.go
Labels: status/2-code-review, area/networking, kind/bugfix

#44650 [20.10 backport] builder: handle host-gateway with extra hosts
  builder/builder-next/builder.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#44712 [20.10] Revert "seccomp: block socket calls to AF_VSOCK in default profile"
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, area/security, impact/changelog

#44713 Update delve version (carry 44600)
  Dockerfile
Labels: status/2-code-review, process/cherry-picked

#44714 [23.0 backport] Update delve version
  Dockerfile
Labels: status/2-code-review

#44668 api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Labels: area/api, status/2-code-review, process/cherry-pick, kind/bugfix

#44705 daemon: rename vars that collided, and use struct-literals
  daemon/inspect.go
  daemon/inspect_linux.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43285 integration-cli: cleanup some of the test-utilities
  integration-cli/cli/cli.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_utils_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#43060 Check iptables options before looking for ip6tables binary
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix

#44379 api/types/container: refactor to use strings.Cut, DRY, move tests and fix validation
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix_test.go
  runconfig/hostconfig_test.go
Labels: status/2-code-review, impact/changelog, kind/bugfix, kind/refactor

#44722 daemon/logger/gcplogs: remove ensureHomeIfIAmStatic workaround
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gcplogs/gcplogging_linux.go
  daemon/logger/gcplogs/gcplogging_others.go
Labels: area/logging, status/2-code-review, process/cherry-picked

#44724 [23.0 backport] daemon/logger/gcplogs: remove ensureHomeIfIAmStatic workaround
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gcplogs/gcplogging_linux.go
  daemon/logger/gcplogs/gcplogging_others.go
Labels: area/logging, status/2-code-review

#44723 daemon/graphdriver/devicemapper: simplify Udev log, and update link
  daemon/graphdriver/devmapper/deviceset.go
Labels: area/storage/devicemapper, status/2-code-review, process/cherry-picked
