Repository moby/moby, pull requests merged in 2022-04, with the labels that each got.

#43434 distribution: fix matching amd64 variants
  daemon/create.go
  distribution/pull_v2.go
  distribution/pull_v2_unix.go
  vendor.mod
Labels: area/distribution, status/2-code-review, impact/changelog

#43445 update runc to v1.1.1
  hack/dockerfile/install/runc.installer
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-pick

#43462 Updated AUTHORS and .mailmap files
  .mailmap
  AUTHORS
Labels: status/3-docs-review, area/project

#43455 cmd/dockerd: update --ip6tables description to include "experimental"
  cmd/dockerd/config_unix.go
Labels: area/cli, status/2-code-review, area/daemon

#43460 [20.10 backport] docs: assorted fixes in swagger files
  daemon/daemon_unix.go
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#43454 [20.10] vendor: github.com/docker/distribution v2.8.1
  vendor.conf
Labels: area/distribution, status/2-code-review

#43467 Jenkinsfile: allow all ppc64le / s390x stages through checkbox
  Jenkinsfile
Labels: status/2-code-review, area/testing

#43438 client: container ps: don't set "limit" if none was set
  client/container_list.go
  client/container_list_test.go
Labels: area/api, status/2-code-review

#43470 [20.10 backport] testing: install buildx from binary, and update to v0.8.2
  Dockerfile.buildx
  Makefile
Labels: status/2-code-review, area/testing

#43448 daemon/config: move proxy settings to "proxies" struct within daemon.json
  daemon/config/config.go
  daemon/reload.go
  integration/daemon/daemon_test.go
Labels: status/2-code-review, area/daemon

#43472 remove deprecated support for overlay(2) on backing FS without d_type (fstype=1)
  daemon/graphdriver/driver.go
  daemon/graphdriver/overlay/overlay.go
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage, area/storage/overlay, status/2-code-review, impact/changelog, impact/deprecation

#43458 daemon/config: fix TestReloadDefaultConfigNotExist if file exists
  daemon/config/config_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#43473 maintainers: update metadata for samuelkarp
  .mailmap
  AUTHORS
  MAINTAINERS
Labels: status/3-docs-review, area/project

#43457 opts: ParseTCPAddr(): fix validation of hosts to not ignore path elements
  daemon/config/config.go
  daemon/config/config_test.go
  opts/hosts.go
  opts/hosts_test.go
Labels: area/cli, area/daemon, kind/bugfix

#43475 missing windows arm64 arch detection
  pkg/platform/architecture_windows.go
Labels: status/2-code-review

#43476 daemon/logger: remove uses of pkg/urlutil, fix fluentd validation and parsing
  daemon/logger/fluentd/fluentd.go
  daemon/logger/fluentd/fluentd_test.go
  daemon/logger/gelf/gelf.go
  daemon/logger/gelf/gelf_test.go
  daemon/logger/splunk/splunk.go
  daemon/logger/syslog/syslog.go
  daemon/logger/syslog/syslog_test.go
  integration-cli/docker_cli_daemon_test.go
Labels: area/logging, status/2-code-review, area/daemon, kind/bugfix, kind/refactor

#43463 api/server/httputils: add ReadJSON() utility and fix handling of invalid JSON
  api/server/httputils/httputils.go
  api/server/httputils/httputils_test.go
  api/server/httputils/httputils_write_json.go
  api/server/router/checkpoint/checkpoint_routes.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/container/copy.go
  api/server/router/container/exec.go
  api/server/router/network/network_routes.go
  api/server/router/plugin/plugin_routes.go
  api/server/router/swarm/cluster_routes.go
  api/server/router/volume/volume_routes.go
  integration-cli/docker_api_exec_test.go
  integration/container/container_test.go
  integration/network/network_test.go
  integration/plugin/common/plugin_test.go
  integration/volume/volume_test.go
  runconfig/config.go
  runconfig/config_test.go
  runconfig/hostconfig.go
Labels: area/api, status/2-code-review, impact/changelog

#43477 pkg/urlutil: deprecate, and move to builder/remotecontext/urlutil
  builder/dockerfile/copy.go
  builder/remotecontext/detect.go
  builder/remotecontext/urlutil/urlutil.go
  builder/remotecontext/urlutil/urlutil_test.go
  hack/make.ps1
  hack/validate/pkg-imports
  pkg/urlutil/deprecated.go
  pkg/urlutil/urlutil.go
Labels: area/builder, status/2-code-review, impact/deprecation, kind/refactor

#43485 Jenkinsfile: add workaround for CVE-2022-24765
  Jenkinsfile
Labels: status/2-code-review, area/testing, process/cherry-picked, kind/bugfix

#43486 [20.10 backport] Jenkinsfile: add workaround for CVE-2022-24765
  Jenkinsfile
Labels: status/2-code-review, area/testing, kind/bugfix

#43498 update golang to 1.18.1
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43499 [20.10] update golang to 1.17.9
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#43503 client: ContainerKill(): don't send signal query-param if none was set
  client/container_kill.go
Labels: area/api, status/4-merge

#43501 api: swagger: document ImageSummary fields
  api/swagger.yaml
  api/types/image_summary.go
  api/types/types.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
Labels: area/api, status/4-merge, area/docs

#43431 Switch to go-winres to create Windows resources
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Dockerfile.windows
  Makefile
  cli/winresources/README.md
  cli/winresources/docker-proxy/winresources.go
  cli/winresources/docker.ico
  cli/winresources/dockerd/winresources.go
  cli/winresources/event_messages.bin
  cli/winresources/event_messages.mc
  cmd/docker-proxy/genwinres_windows.go
  cmd/dockerd/docker_windows.go
  cmd/dockerd/genwinres_windows.go
  dockerversion/version_lib.go
  hack/ci/windows.ps1
  hack/go-mod-prepare.sh
  hack/make.ps1
  hack/make/.go-autogen
  hack/make/.go-autogen.ps1
  hack/make/.mkwinres
  hack/make/.resources-windows/common.rc
  hack/make/.resources-windows/dockerd.exe.manifest
  hack/make/.resources-windows/dockerd.rc
  hack/make/.resources-windows/resources.go
  vendor.mod
  vendor/modules.txt
Labels: platform/windows, status/4-merge, area/packaging, kind/refactor

#43449 daemon: move more consts for default configuration values to daemon/config
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/daemon.go
  plugin/executor/containerd/containerd.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43471 api/server/router/grpc: fix some nits in NewRouter()
  api/server/router/grpc/grpc.go
Labels: area/api, area/builder, status/2-code-review, kind/refactor, area/builder/buildkit

#43494 client: CopyToContainer(), CopyFromContainer(): remove status-code handling
  client/container_copy.go
  client/container_copy_test.go
  integration/container/copy_test.go
Labels: area/api, area/cli, status/2-code-review

#43502 Fix HNS policylist error "network not found" during network removal
  libnetwork/network.go
  libnetwork/service_common.go
  libnetwork/service_windows.go
Labels: platform/windows, status/2-code-review, area/networking, kind/bugfix

#43505 libnetwork: don't use strings.Fields() to improve performance
  libnetwork/service_linux.go
Labels: status/4-merge, area/networking, area/performance, kind/refactor

#43206 API: add "signal" parameter to container stop and restart endpoints
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/config.go
  api/types/time/duration_convert.go
  api/types/time/duration_convert_test.go
  client/container_restart.go
  client/container_restart_test.go
  client/container_stop.go
  client/container_stop_test.go
  client/interface.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/content.go
  daemon/create.go
  daemon/daemon.go
  daemon/delete.go
  daemon/restart.go
  daemon/seccomp_linux_test.go
  daemon/stop.go
  docs/api/version-history.md
  integration-cli/docker_api_containers_test.go
  integration/container/pause_test.go
  integration/container/rename_test.go
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
  integration/container/wait_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#43511 panic() instead of logrus.Fatal() in init funcs
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/etwlogs/etwlogs_windows.go
  daemon/logger/fluentd/fluentd.go
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/gelf/gelf.go
  daemon/logger/journald/journald.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/logentries/logentries.go
  daemon/logger/splunk/splunk.go
  daemon/logger/syslog/syslog.go
  integration-cli/check_test.go
  libnetwork/ipamutils/utils.go
  pkg/chrootarchive/init_windows.go
Labels: status/4-merge

#43358 plugin: add EndpointResolver interface
  plugin/manager.go
  plugin/registry.go
Labels: status/2-code-review, area/plugins, kind/refactor

#43510 opts: remove hacks for old go versions, and improve coverage
  opts/hosts.go
  opts/hosts_test.go
Labels: status/2-code-review, area/daemon

#43520 api/server: remove "Logging" from config
  api/server/middleware.go
  api/server/server.go
  cmd/dockerd/daemon.go
Labels: area/api, status/2-code-review

#43519 daemon: daemon.networkOptions(): don't pass Config as argument
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/reload_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43521 minor rootless fix-ups
  cmd/dockerd/config_unix.go
  rootless/rootless.go
Labels: status/2-code-review, area/daemon, area/rootless

#43365 distribution: remove v1 leftovers, and refactor to reduce public api/interface
  daemon/images/image_pull.go
  distribution/config.go
  distribution/errors.go
  distribution/errors_test.go
  distribution/pull.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/pull_v2_unix.go
  distribution/pull_v2_windows.go
  distribution/push.go
  distribution/push_v2.go
  distribution/push_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
  distribution/repository.go
Labels: area/distribution, status/2-code-review, kind/refactor

#43332 api: swagger: use explicit definitions for some response types, and move examples per-field
  api/server/router/volume/backend.go
  api/swagger.yaml
  api/types/deprecated.go
  api/types/types.go
  api/types/volume/volume.go
  api/types/volume/volume_list.go
  api/types/volume/volume_list_o_k_body.go
  client/interface.go
  client/volume_create.go
  client/volume_create_test.go
  client/volume_inspect.go
  client/volume_inspect_test.go
  client/volume_list_test.go
  daemon/cluster/executor/backend.go
  daemon/disk_usage.go
  daemon/volumes.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  hack/generate-swagger-api.sh
  integration-cli/docker_cli_external_volume_driver_test.go
  integration/system/disk_usage_test.go
  integration/volume/volume_test.go
  volume/service/convert.go
  volume/service/service.go
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#43509 cmd/dockerd: improve validation to allow early exit
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/options.go
  cmd/dockerd/options_test.go
  daemon/config/config.go
  daemon/config/config_test.go
Labels: status/2-code-review, kind/enhancement, area/daemon

#43538 metrics: DRY metric definitions
  daemon/metrics.go
Labels: status/2-code-review

#43533 update containerd binary to v1.6.3
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, process/cherry-pick, area/packaging

#43433 [20.10 backport] update containerd binary to v1.6.3, runc v1.1.1
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog

#43531 chore: fix linguist for Dockerfile
  .gitattributes
Labels: status/2-code-review, area/testing

#43517 test: use `T.Setenv` to set env vars in tests
  client/client_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/splunk/splunk_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_logout_test.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_run_unix_test.go
  pkg/archive/archive_test.go
  pkg/jsonmessage/jsonmessage_test.go
Labels: status/2-code-review, area/testing

#43535 cmd/dockerd: unify flags, and remove opt.IPOpt()
  cmd/dockerd/config.go
  cmd/dockerd/config_common_unix.go
  cmd/dockerd/config_unix.go
  opts/ip.go
  opts/ip_test.go
Labels: area/cli, status/2-code-review, area/daemon

#43536 daemon: improvements to config (re)loading
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/reload.go
Labels: status/2-code-review, area/daemon

#43530 api/types: cleanup to use more idiomatic names
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  api/server/router/volume/volume_routes.go
  api/swagger.yaml
  api/types/container/container_create.go
  api/types/container/create_response.go
  api/types/container/deprecated.go
  api/types/container/wait_exit_error.go
  api/types/container/wait_response.go
  api/types/deprecated.go
  api/types/volume/create_options.go
  api/types/volume/deprecated.go
  api/types/volume/list_response.go
  api/types/volume/volume.go
  builder/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/dispatchers_test.go
  builder/dockerfile/mockbackend_test.go
  client/container_create.go
  client/container_create_test.go
  client/container_wait.go
  client/container_wait_test.go
  client/interface.go
  client/volume_create.go
  client/volume_create_test.go
  client/volume_inspect_test.go
  client/volume_list.go
  client/volume_list_test.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/container.go
  daemon/create.go
  hack/generate-swagger-api.sh
  integration/internal/container/container.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/system/event_test.go
  integration/volume/volume_test.go
  volume/service/convert.go
Labels: area/api, status/2-code-review

#43525 daemon: daemon.initNetworkController(): dont return the controller
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#43480 Mitigate the impact of slow exec starts on health checks
  daemon/health.go
  daemon/metrics.go
Labels: status/2-code-review, impact/changelog
