Repository moby/moby, pull requests merged in 2023-01, with the labels that each got.

#44426 image: deprecate IDFromDigest(), and some minor fixes/cleanup
  daemon/images/image.go
  daemon/images/image_list.go
  daemon/images/store.go
  daemon/images/store_test.go
  daemon/list_test.go
  distribution/config.go
  image/image.go
  image/store.go
  image/tarexport/save.go
  layer/layer_test.go
Labels: status/2-code-review, area/images

#44546 Dockerfile: use TARGETPLATFORM to build Docker
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  docker-bake.hcl
  dockerversion/version_lib.go
  docs/contributing/README.md
  docs/contributing/ctn-build.md
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
  hack/README.md
  hack/make.sh
  hack/make/.binary
  hack/make/.go-autogen
  hack/make/binary-daemon
  hack/make/binary-proxy
  hack/make/containerutility
  hack/make/cross
  hack/make/cross-platform-dependent
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Labels: status/2-code-review, process/cherry-pick, area/packaging

#44726 [23.0 backport] daemon/graphdriver/devicemapper: simplify Udev log, and update link
  daemon/graphdriver/devmapper/deviceset.go
Labels: area/storage/devicemapper, status/2-code-review

#44718 [20.10 backport] api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#44736 [23.0 backport] Dockerfile: use TARGETPLATFORM to build Docker
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  docker-bake.hcl
  dockerversion/version_lib.go
  docs/contributing/README.md
  docs/contributing/ctn-build.md
  docs/contributing/set-up-dev-env.md
  docs/contributing/test.md
  hack/README.md
  hack/make.sh
  hack/make/.binary
  hack/make/.go-autogen
  hack/make/binary-daemon
  hack/make/binary-proxy
  hack/make/containerutility
  hack/make/cross
  hack/make/cross-platform-dependent
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Labels: status/2-code-review, kind/enhancement, area/packaging, kind/bugfix

#44717 [23.0 backport] api: can marshal and unmarshal when args.fields is empty
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#44719 Fix volume CreatedAt being altered on initialization
  integration/volume/volume_test.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Labels: status/4-merge, impact/changelog, process/cherry-picked, area/volumes, kind/bugfix

#44725 [23.0 backport] Fix volume CreatedAt being altered on initialization
  integration/volume/volume_test.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Labels: status/4-merge, impact/changelog, area/volumes, kind/bugfix

#44742 Clear conntrack entries for published UDP ports
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/iptables/conntrack.go
Labels: area/networking, impact/changelog, kind/bugfix

#44746 hack: restore copy_binaries func
  hack/make/binary-daemon
Labels: status/2-code-review, process/cherry-pick, area/project, kind/bugfix

#44744 Updated outdated docker contributing guidelines link
  CONTRIBUTING.md
Labels: area/docs

#44748 hack/make: Don't add -buildmode=pie with -race
  hack/make/.binary
Labels: kind/enhancement, process/cherry-pick, area/project

#44752 [23.0 backport] Clear conntrack entries for published UDP ports
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/setup_ip_tables.go
  libnetwork/iptables/conntrack.go
Labels: status/4-merge, area/networking, impact/changelog, kind/bugfix

#44753 [23.0 backport] hack/make: Don't add -buildmode=pie with -race
  hack/make/.binary
Labels: kind/enhancement, area/testing, area/project

#44754 Remove reference to "requireRegistryMatch"
  distribution/push_v2.go
Labels: status/2-code-review

#44758 [23.0 backport] hack: restore copy_binaries func
  hack/make/binary-daemon
Labels: status/2-code-review, area/project, area/packaging

#43787 container: ViewDB: cleanup error-types
  container/view.go
  daemon/container.go
  daemon/daemon.go
  daemon/list.go
  daemon/names.go
Labels: status/2-code-review, kind/refactor

#43818 add support for image inspect with containerd-integration
  api/server/router/image/image_routes.go
  daemon/containerd/image.go
  daemon/images/image.go
  image/image.go
  pkg/platforms/platforms.go
Labels: status/2-code-review, area/images, containerd-integration

#44761 graphdriver/btrfs: depend on kernel UAPI instead of libbtrfs
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/version.go
  daemon/graphdriver/btrfs/version_test.go
  project/PACKAGERS.md
Labels: area/storage/btrfs, status/4-merge, impact/changelog, process/cherry-pick, area/packaging, kind/refactor

#44749 integration-cli: Fix hangs in TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Labels: status/2-code-review, area/testing, process/cherry-picked, kind/bugfix

#44764 [23.0 backport] integration-cli: Fix hanging TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#44727 [23.0 backport] Check iptables options before looking for ip6tables binary
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, kind/bugfix

#44766 [23.0] update containerd binary to v1.6.15
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44768 vendor: github.com/containerd/containerd v1.6.15
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-picked

#44769 [23.0 backport] vendor: github.com/containerd/containerd v1.6.15
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44770 daemon/config: ignore UTF-8 BOM in config JSON
  daemon/config/config.go
  daemon/config/config_test.go
Labels: status/4-merge, kind/feature, impact/changelog, process/cherry-pick, area/daemon

#44762 graphdriver/btrfs: needs kernel headers >= 4.12, not >= 4.7
  daemon/graphdriver/btrfs/btrfs.go
  project/PACKAGERS.md
Labels: area/storage/btrfs, status/4-merge, impact/changelog, process/cherry-pick, area/packaging, kind/bugfix

#44733 Use user data path for plugin discovery in rootless mode
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon.go
  cmd/dockerd/docker.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/oci_linux.go
  libnetwork/iptables/iptables.go
  pkg/homedir/homedir_linux.go
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_windows.go
  pkg/rootless/rootless.go
  pkg/rootless/specconv/specconv_linux.go
Labels: status/4-merge, process/cherry-pick, area/plugins, area/rootless

#44772 ci: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#42264 restartmanager: Remove RestartManager interface, and unused error return
  container/container.go
  restartmanager/restartmanager.go
  restartmanager/restartmanager_test.go
Labels: status/4-merge, area/daemon, kind/refactor

#44779 [23.0 backport] ci: update buildkit to fix integration tests
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, kind/bugfix

#44765 [20.10 backport] integration-cli: Fix hanging TestLogsFollowGoroutines*
  integration-cli/docker_cli_logs_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#44599 docs: add 401 to possible status codes of /auth
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#44777 [23.0 backport] daemon/config: ignore UTF-8 BOM in config JSON
  daemon/config/config.go
  daemon/config/config_test.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/daemon

#44778 [23.0 backport] Use user data path for plugin discovery in rootless mode
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_unix_test.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/daemon.go
  cmd/dockerd/docker.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows.go
  daemon/config/config_windows_test.go
  daemon/info_unix.go
  daemon/oci_linux.go
  daemon/runtime_unix_test.go
  libnetwork/iptables/iptables.go
  pkg/homedir/homedir_linux.go
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_windows.go
  pkg/rootless/rootless.go
  pkg/rootless/specconv/specconv_linux.go
Labels: status/4-merge, impact/changelog, area/rootless

#44776 [23.0 backport] graphdriver/btrfs: depend on kernel UAPI instead of libbtrfs
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  daemon/graphdriver/aufs/aufs.go
  daemon/graphdriver/aufs/aufs_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/btrfs/version.go
  daemon/graphdriver/btrfs/version_test.go
  daemon/graphdriver/zfs/zfs.go
  project/PACKAGERS.md
Labels: area/storage, area/storage/btrfs, status/4-merge, impact/changelog, area/packaging, kind/refactor

#44775 [23.0 backport] libnetwork: improve logs for DNS failures
  libnetwork/resolver.go
Labels: status/4-merge, area/networking

#44782 use example.com for tests and examples
  builder/dockerfile/evaluator_test.go
  libnetwork/README.md
  libnetwork/cmd/readme_test/readme.go
  libnetwork/controller.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
Labels: status/4-merge, kind/refactor

#44792 CONTRIBUTING.md: drop reference to the Derek GitHub bot
  CONTRIBUTING.md
Labels: status/4-merge, area/docs

#44797 [20.10] vendor: github.com/docker/libnetwork 374259e8316124ccf1fc38c0c0f3430f8d0e9c76
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/iptables/iptables.go
Labels: status/2-code-review, area/networking, kind/bugfix

#44784 docs: api: synchronise versioned API docs (v1.39 - v1.42)
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
Labels: area/api, status/4-merge, area/docs, process/cherry-picked

#44795 [20.10] update to go1.18.10
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#44793 update to go1.19.5
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#44794 [23.0 backport] update to go1.19.5
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#44785 [23.0 backport] docs: api fixes and updates
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
Labels: area/api, status/3-docs-review, area/docs

#44802 libnetwork: Clean up sysfs-based operations
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/sandbox_linux_test.go
Labels: status/4-merge, area/networking, impact/changelog, kind/refactor

#44756 containerd integration: image pull
  daemon/containerd/image_pull.go
  daemon/containerd/progress.go
  daemon/containerd/resolver.go
  daemon/containerd/service.go
  daemon/daemon.go
  registry/service.go
Labels: area/distribution, status/2-code-review, area/images, containerd-integration

#43225 Work around missing rename support when the backing filesystem is overlayfs
  daemon/runtime_unix.go
Labels: area/storage/overlay, status/4-merge, process/cherry-pick

#44803 libnetwork: Remove iptables nat rule when hairpin is disabled
  libnetwork/drivers/bridge/setup_ip_tables.go
Labels: status/4-merge, area/networking, process/cherry-pick, kind/bugfix

#44791 cmd/dockerd: use default SIGQUIT behaviour
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
Labels: status/2-code-review, process/cherry-pick, area/daemon, kind/refactor

#44628 daemon/c8d: Implement import
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_import.go
  daemon/image_service.go
  daemon/images/image_import.go
Labels: status/1-design-review, area/images, area/daemon, containerd-integration

#44811 [23.0 backport] libnetwork: Remove iptables nat rule when hairpin is disabled
  libnetwork/drivers/bridge/setup_ip_tables.go
Labels: status/4-merge, area/networking, kind/bugfix

#44773 daemon/config: clean up tests to use common helper
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows_test.go
Labels: status/4-merge, process/cherry-pick, area/daemon, kind/refactor

#44805 libnetwork: replace some unnecessary interfaces with their concrete types
  builder/builder-next/builder.go
  builder/builder-next/executor_unix.go
  builder/builder-next/executor_windows.go
  daemon/container_operations.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/network.go
  daemon/network_windows.go
  daemon/rename.go
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/default_gateway.go
  libnetwork/default_gateway_freebsd.go
  libnetwork/default_gateway_linux.go
  libnetwork/default_gateway_windows.go
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/endpoint_info_unix.go
  libnetwork/endpoint_info_windows.go
  libnetwork/endpoint_test.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
  libnetwork/firewall_others.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/resolver_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_externalkey_windows.go
  libnetwork/sandbox_store.go
  libnetwork/sandbox_test.go
  libnetwork/service_common.go
  libnetwork/service_common_test.go
  libnetwork/service_linux.go
  libnetwork/service_unsupported.go
  libnetwork/service_windows.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#44819 vendor: github.com/vishvananda/netns v0.0.1
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_unspecified.go
  vendor/modules.txt
Labels: status/4-merge, area/networking, process/cherry-pick

#44788 homedir: fallback to getpwent(3) if XDG_XX_HOME and HOME are unset
  pkg/homedir/homedir_linux.go
Labels: status/4-merge, kind/enhancement, area/rootless

#44821 [23.0 backport] vendor: github.com/vishvananda/netns v0.0.1
  vendor.mod
  vendor.sum
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_unspecified.go
  vendor/modules.txt
Labels: status/4-merge, area/networking

#44822 vendor: github.com/moby/ipvs v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/ipvs/.golangci.yml
  vendor/github.com/moby/ipvs/LICENSE
  vendor/github.com/moby/ipvs/README.md
  vendor/github.com/moby/ipvs/constants_linux.go
  vendor/github.com/moby/ipvs/ipvs_linux.go
  vendor/github.com/moby/ipvs/netlink_linux.go
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/doc.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking, process/cherry-pick

#44789 plugins: Move SpecPaths into LocalRegistry
  pkg/plugins/discovery.go
  pkg/plugins/discovery_test.go
  pkg/plugins/discovery_unix.go
  pkg/plugins/discovery_unix_test.go
  pkg/plugins/discovery_windows.go
  pkg/plugins/plugin_test.go
  pkg/plugins/plugins.go
  plugin/store.go
Labels: status/4-merge, area/plugins, kind/refactor

#44706 libnetwork: Support IPv6 in arrangeUserFilterRule()
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Labels: status/4-merge, area/networking, kind/bugfix, kind/refactor

#44824 Revert "libnetwork: Support IPv6 in arrangeUserFilterRule()"
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Labels: status/4-merge, kind/bugfix

#44825 libnetwork: Support IPv6 in arrangeUserFilterRule() (redux)
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Labels: status/2-code-review, area/networking, kind/bugfix, kind/refactor

#44831 [23.0 backport] cmd/dockerd: use default SIGQUIT behaviour
  cmd/dockerd/trap/trap.go
  cmd/dockerd/trap/trap_linux_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#44812 hack: name for target ARM architecture not specified
  Dockerfile
  hack/make/.binary
Labels: status/2-code-review, process/cherry-pick, area/packaging, kind/bugfix

#44839 [23.0 backport] hack: name for target ARM architecture not specified
  Dockerfile
  hack/make/.binary
Labels: status/2-code-review, area/packaging, kind/bugfix

#44835 Add GetLibHome stub for non-linux OS
  pkg/homedir/homedir_others.go
Labels: status/4-merge, process/cherry-pick, area/plugins, kind/bugfix

#44832 [23.0 backport] daemon/config: support alternate (common) unicode encodings using a BOM
  daemon/config/config.go
  daemon/config/config_linux_test.go
  daemon/config/config_test.go
  daemon/config/config_windows_test.go
  vendor.mod
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/modules.txt
Labels: platform/windows, status/2-code-review, kind/enhancement, area/daemon

#44829 [23.0 backport] vendor: github.com/moby/ipvs v1.1.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/ipvs/.golangci.yml
  vendor/github.com/moby/ipvs/LICENSE
  vendor/github.com/moby/ipvs/README.md
  vendor/github.com/moby/ipvs/constants_linux.go
  vendor/github.com/moby/ipvs/ipvs_linux.go
  vendor/github.com/moby/ipvs/netlink_linux.go
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/doc.go
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/github.com/vishvananda/netns/netns_others.go
  vendor/github.com/vishvananda/netns/nshandle_linux.go
  vendor/github.com/vishvananda/netns/nshandle_others.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking

#44834 [23.0 backport] Work around missing rename support when the backing filesystem is overlayfs
  daemon/runtime_unix.go
Labels: area/storage/overlay, status/2-code-review

#44818 images: Pass context to commit related operations
  builder/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals.go
  builder/dockerfile/mockbackend_test.go
  daemon/commit.go
  daemon/containerd/image_commit.go
  daemon/image_service.go
  daemon/images/image_commit.go
Labels: status/4-merge, area/daemon, containerd-integration

#44847 Disable chrootarchive.init() on Windows
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_unix.go
Labels: status/2-code-review, process/cherry-pick

#44846 [20.10] vendor: libnetwork 05b93e0d3a95952f70c113b0bc5bdb538d7afdd7
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/network.go
  vendor/github.com/docker/libnetwork/service_common.go
  vendor/github.com/docker/libnetwork/service_windows.go
Labels: platform/windows, status/4-merge, area/networking, kind/bugfix

#44848 [23.0 backport] Disable chrootarchive.init() on Windows
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_unix.go
Labels: status/4-merge

#44841 Dockerfile: use clang to build dockerd/docker-proxy
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
Labels: status/2-code-review, process/cherry-pick, area/packaging, kind/bugfix

#44844 [23.0 backport] Add GetLibHome stub for non-linux OS
  pkg/homedir/homedir_others.go
Labels: status/2-code-review, kind/bugfix

#44850 [23.0 backport] Dockerfile: use clang to build dockerd/docker-proxy
  .github/workflows/test.yml
  Dockerfile
  docker-bake.hcl
Labels: status/2-code-review, area/packaging

#44854 Dockerfile: prefer ld for building against arm64
  Dockerfile
Labels: status/4-merge, process/cherry-picked, area/packaging, kind/bugfix

#44855 [23.0 backport] Dockerfile: prefer ld for building against arm64
  Dockerfile
Labels: status/2-code-review, area/packaging, kind/bugfix

#44845 [23.0 backport] libnetwork: Support IPv6 in arrangeUserFilterRule()
  libnetwork/controller.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix

#43112 fix blockThreshold full deadlock bug
  pkg/ioutils/bytespipe.go
  pkg/ioutils/bytespipe_test.go
Labels: status/2-code-review, impact/changelog, process/cherry-pick, kind/bugfix

#44856 [23.0 backport] Fix bytespipe blockThreshold deadlock bug
  pkg/ioutils/bytespipe.go
  pkg/ioutils/bytespipe_test.go
Labels: status/2-code-review, impact/changelog, kind/bugfix

#44857 vendor: github.com/moby/swarmkit/v2 v2.0.0-20230119195359-904c221ac281
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/storeobject.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/networkallocator.go
  vendor/modules.txt
Labels: status/4-merge, process/cherry-picked, area/swarm

#44858 [23.0 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20230119195359-904c221ac281
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/storeobject.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/networkallocator.go
  vendor/modules.txt
Labels: status/2-code-review, area/swarm

#44861 hack: check if cross-compiling before setting ARM target name
  hack/make/.binary
Labels: status/2-code-review, process/cherry-picked, area/packaging, kind/bugfix

#44862 [23.0 backport] hack: check if cross-compiling before setting ARM target name
  hack/make/.binary
Labels: status/2-code-review, area/packaging, kind/bugfix

#44853 hack: remove -installsuffix build flag
  hack/make.sh
  hack/make/.binary
  hack/make/.go-autogen
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Labels: status/2-code-review, process/cherry-pick, area/packaging, kind/refactor

#44863 [23.0 backport] rootless: support `--ipc=host`
  integration/container/ipcmode_linux_test.go
  pkg/rootless/specconv/specconv_linux.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/rootless, kind/bugfix

#44842 c8d: Fix resolving truncated id to a descriptor
  daemon/containerd/image.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration

#44809 daemon/c8d: Implement image history
  daemon/containerd/image_history.go
Labels: area/api, area/images, containerd-integration

#44868 libnetwork: minor cleanup related to GenerateRandomName
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/windows/overlay/overlay_windows.go
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#44864 libnetwork: split package bitseq
  libnetwork/bitmap/sequence.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/bitseq/store.go
Labels: status/2-code-review, area/networking, kind/refactor

#44827 libnetwork: reduce usage of shared mutable state in ipamutils
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
  libnetwork/drivers/bridge/bridge_test.go
  libnetwork/drivers_ipam.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipams/builtin/builtin_unix.go
  libnetwork/ipams/builtin/builtin_windows.go
  libnetwork/ipamutils/utils.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#44837 c8d/progress: Update progress when finished
  daemon/containerd/progress.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration, area/ux

#44739 client: improve error messaging on crash
  client/container_wait.go
  client/container_wait_test.go
Labels: area/api, area/cli, status/2-code-review, kind/enhancement, process/cherry-pick

#44875 libnetwork: clean up vestigial datastore-related code
  daemon/network.go
  libnetwork/bitmap/sequence.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/bitseq/sequence.go
  libnetwork/bitseq/sequence_test.go
  libnetwork/cmd/ovrouter/ovrouter.go
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/datastore/datastore.go
  libnetwork/datastore/datastore_test.go
  libnetwork/discoverapi/discoverapi.go
  libnetwork/driverapi/driverapi.go
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/brmanager/brmanager.go
  libnetwork/drivers/host/host.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/ipvlan/ivmanager/ivmanager.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/drivers/macvlan/mvmanager/mvmanager.go
  libnetwork/drivers/null/null.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/overlay_test.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/remote/driver.go
  libnetwork/drivers/windows/overlay/overlay_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/drivers_freebsd.go
  libnetwork/drivers_ipam.go
  libnetwork/drivers_linux.go
  libnetwork/drivers_windows.go
  libnetwork/drvregistry/drvregistry.go
  libnetwork/drvregistry/drvregistry_test.go
  libnetwork/drvregistry/ipams.go
  libnetwork/drvregistry/ipams_test.go
  libnetwork/drvregistry/networks.go
  libnetwork/drvregistry/networks_test.go
  libnetwork/endpoint.go
  libnetwork/endpoint_cnt.go
  libnetwork/error.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/parallel_test.go
  libnetwork/ipam/store.go
  libnetwork/ipam/structures.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/builtin/builtin.go
  libnetwork/ipams/builtin/builtin_unix.go
  libnetwork/ipams/builtin/builtin_windows.go
  libnetwork/ipams/null/null.go
  libnetwork/ipams/remote/remote.go
  libnetwork/ipams/windowsipam/windowsipam.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_test.go
  libnetwork/network.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Labels: area/networking, kind/refactor

#44879 vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-picked

#44880 update containerd binary to v1.7.0-beta.3
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44881 [23.0] update containerd binary to v1.6.16
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44882 [20.10] update containerd binary to v1.6.16
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44884 [23.0 backport] hack: remove -installsuffix build flag
  hack/make.sh
  hack/make/.binary
  hack/make/.go-autogen
  hack/make/dynbinary-daemon
  hack/make/dynbinary-proxy
Labels: status/2-code-review, area/packaging

#44890 libnetwork: delete CHANGELOG.md
  libnetwork/CHANGELOG.md
Labels: status/2-code-review, kind/refactor

#44883 [23.0 backport] client: improve error messaging on crash
  client/container_wait.go
  client/container_wait_test.go
Labels: area/api, area/cli, status/2-code-review

#44885 [23.0 backport] vendor: github.com/containerd/containerd v1.6.16
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#44893 Wait longer for exit events on Windows
  daemon/kill.go
  integration/container/wait_test.go
Labels: area/runtime, area/testing, kind/bugfix
