Repository moby/moby, pull requests merged in 2023-04, with the labels that each got.

#45124 c8d/list: Ignore attestation manifests
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, kind/bugfix, area/builder/buildkit, containerd-integration

#45259 c8d: Send event when an image is imported
  daemon/containerd/image_exporter.go
  daemon/containerd/image_import.go
Labels: area/images, containerd-integration

#45263 libcontainerd: close stdin sync if possible
  libcontainerd/remote/client.go
Labels: area/runtime, status/2-code-review, kind/bugfix

#45258 pkg/fileutils: remove aliases for deprecated functions and types
  pkg/fileutils/deprecated.go
Labels: status/2-code-review, impact/deprecation, kind/refactor

#45264 daemon/config: fix default-network-opts in daemon.json
  daemon/config/config.go
  daemon/config/config_linux_test.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#45246 [23.0 backport] daemon: let libnetwork assign default bridge IPAM
  daemon/daemon_linux.go
  daemon/daemon_linux_test.go
  daemon/daemon_unix.go
Labels: status/2-code-review, area/networking, kind/bugfix

#45245 [23.0] update containerd binary to v1.6.20
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#45240 [23.0 backport] libnet/d/windows: log EnableInternalDNS val after setting it
  libnetwork/drivers/windows/windows.go
Labels: status/2-code-review, area/networking, kind/bugfix

#45237 [23.0 backport] update runc binary to v1.1.5
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#45220 [23.0 backport] integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Labels: platform/windows, status/2-code-review, area/testing

#45266 c8d: Send an event when an image is tagged or deleted
  daemon/containerd/image_delete.go
  daemon/containerd/image_tag.go
Labels: area/images, containerd-integration

#45256 integration-cli: rename vars that collided with imports
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_exec_test.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_api_inspect_test.go
  integration-cli/docker_api_logs_test.go
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_info_unix_test.go
  integration-cli/docker_cli_plugins_logdriver_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_volume_test.go
  integration-cli/docker_utils_test.go
  integration-cli/requirements_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#45274 c8d: use the container's configured snapshotter where possible
  daemon/containerd/image_changes.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_list.go
  daemon/containerd/image_pull.go
  daemon/containerd/mount.go
  daemon/containerd/service.go
Labels: area/images, containerd-integration

#45275 update go to go1.20.3
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45277 [23.0] update go to go1.19.8
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45276 [20.10] update go to go1.19.8
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45269 c8d/list: Implement `reference`
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, containerd-integration

#45283 docker-rootless-setuptools.sh: improve readability of messages
  contrib/dockerd-rootless-setuptool.sh
Labels: status/2-code-review, process/cherry-pick, area/rootless

#45281 libnetwork/drivers/overlay: only program xt_bpf rules
  libnetwork/drivers/overlay/bpf.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/encryption_bpf.go
  libnetwork/drivers/overlay/encryption_u32.go
Labels: kind/enhancement, area/networking, impact/changelog

#45290 vendor: re-vendor to add missing file
  vendor/github.com/opencontainers/image-spec/specs-go/v1/artifact.go
Labels: status/2-code-review, kind/bugfix

#45285 c8d: implement GetRepository (split GetRepository from ImageService)
  cmd/dockerd/daemon.go
  daemon/containerd/image_pull.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_pull.go
Labels: area/distribution, status/2-code-review, area/images, containerd-integration

#45265 c8d: Implement Children by comparing diff ids
  daemon/containerd/image_children.go
  daemon/containerd/image_children_test.go
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/service.go
  daemon/list.go
Labels: status/2-code-review, area/images, containerd-integration

#45305 Dockerfile: update xx to 1.2.1
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-pick, area/packaging

#45301 vendor: github.com/ishidawataru/sctp v0.0.0-20230406120618-7ff4192f6ff2
  vendor.mod
  vendor.sum
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking, process/cherry-pick, platform/ibm-z, kind/bugfix

#44510 api/server/backend/build: sanitizeRepoAndTags() check for digest
  api/server/backend/build/tag.go
Labels: area/api, status/2-code-review, kind/refactor

#45312 c8d: Fix checking TLS handshake for insecure registries
  daemon/containerd/resolver.go
Labels: area/images, kind/bugfix, containerd-integration

#45306 Added timeout to validate job in github actions
  .github/workflows/test.yml
Labels: status/2-code-review, area/testing

#45299 daemon: move code related to stats together
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/stats_unix.go
  daemon/stats_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#45324 images/Children: Return error
  daemon/containerd/image_children.go
  daemon/image_service.go
  daemon/images/service.go
  daemon/list.go
Labels: status/2-code-review, area/images, containerd-integration

#45289 c8d/list: Fix `label` (and add `label!`) filter
  daemon/containerd/handlers.go
  daemon/containerd/image_list.go
Labels: status/4-merge, area/images, containerd-integration

#45323 [23.0 backport] vendor: github.com/ishidawataru/sctp v0.0.0-20230406120618-7ff4192f6ff2
  vendor.mod
  vendor.sum
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking, platform/ibm-z, kind/bugfix

#45315 daemon: deprecate --oom-score-adjust for the daemon
  cmd/dockerd/config_unix.go
  cmd/dockerd/daemon_unix.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  libcontainerd/supervisor/remote_daemon_options_linux.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/daemon, impact/documentation

#45325 Fix argv quoting bugs in dockerd-rootless.sh
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, process/cherry-pick, area/rootless, kind/bugfix

#45270 c8d: Implement prune
  daemon/containerd/image_list.go
  daemon/containerd/image_prune.go
  daemon/containerd/service.go
Labels: status/2-code-review, area/images, containerd-integration

#45331 [23.0 backport] Fix argument quoting bugs in dockerd-rootless.sh
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, area/rootless, kind/bugfix

#45330 [23.0] vendor: github.com/moby/buildkit v0.10.7-0.20230412161310-d52b2d584242
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/manager.go
  vendor/github.com/moby/buildkit/cache/opts.go
  vendor/github.com/moby/buildkit/cache/remotecache/local/local.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/util/contentutil/multiprovider.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#45334 c8d: Fix returning errors from snapshotter.Prepare
  daemon/containerd/image_snapshot.go
Labels: status/4-merge, area/images, containerd-integration

#45335 builder-next: fix buildkit version
  builder/builder-next/worker/worker.go
  vendor.mod
Labels: area/builder, status/4-merge, kind/bugfix, area/builder/buildkit

#45329 vendor: github.com/opencontainers/runc v1.1.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#45227 awslogs: fix non-blocking log drop bug
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, status/2-code-review, impact/changelog, process/cherry-pick, kind/bugfix

#45347 c8d: align "Size" and "VirtualSize" for images
  daemon/containerd/image_list.go
  daemon/containerd/service.go
Labels: status/4-merge, area/images, containerd-integration

#45320 Add no-new-privileges to SecurityOptions returned by /info
  api/swagger.yaml
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
  docs/api/version-history.md
Labels: area/api, status/4-merge, impact/api, impact/changelog

#45346 API: deprecate VirtualSize field for /images/json and /images/{id}/json
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/image_summary.go
  api/types/types.go
  daemon/containerd/image_list.go
  daemon/images/image_list.go
  docs/api/version-history.md
  integration/system/disk_usage_test.go
Labels: area/api, status/4-merge, impact/api, impact/changelog, impact/deprecation

#45350 [23.0 backport] awslogs: fix non-blocking log drop bug
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, status/2-code-review

#45354 containerd integration: some test-fixes
  daemon/inspect_test.go
  daemon/oci_linux_test.go
Labels: status/2-code-review, area/testing, kind/bugfix, containerd-integration

#45343 libnet/overlay: clean up iptables rules on network delete
  libnetwork/drivers/overlay/ov_network.go
Labels: status/2-code-review, area/networking, area/swarm

#45310 libnetwork: clean up inDelete network atomically
  libnetwork/network.go
Labels: status/2-code-review, area/networking, impact/changelog, process/cherry-pick, kind/bugfix

#45328 update runc binary to v1.1.6
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, process/cherry-pick, area/packaging

#45349 [20.10 backport] awslogs: fix non-blocking log drop bug
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
Labels: area/logging, status/2-code-review

#45367 vendor: update buildkit to v0.11.6
  builder/builder-next/worker/worker.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_common.go
  vendor/github.com/moby/buildkit/executor/runcexecutor/executor_linux.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/file.go
  vendor/github.com/moby/buildkit/solver/llbsolver/proc/sbom.go
  vendor/github.com/moby/buildkit/util/resolver/authorizer.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#45294 builder-next/prune: Handle `until` filter timestamps
  api/swagger.yaml
  builder/builder-next/builder.go
  daemon/prune.go
Labels: area/builder, status/4-merge, area/images, kind/bugfix, area/builder/buildkit

#45357 pkg/sysinfo: omit Getpid call in numCPU
  pkg/sysinfo/numcpu_linux.go
Labels: area/runtime, status/4-merge, kind/enhancement

#45368 overlay2: remove deprecated overlay2.override_kernel_check option
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/2-code-review, impact/changelog, impact/deprecation

#45390 c8d/list: Initialize capacity instead of length
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#45372 [23.0 backport] client: deprecate NewClient properly
  client/client.go
  client/client_deprecated.go
Labels: status/2-code-review

#45398 [20.10] vendor: github.com/docker/libnetwork 3f0048413d95802b9c6c836eba06bfc54f9dbd03
  hack/dockerfile/install/proxy.installer
  vendor.conf
  vendor/github.com/docker/libnetwork/drivers/overlay/ov_network.go
  vendor/github.com/docker/libnetwork/drivers/windows/windows.go
  vendor/github.com/docker/libnetwork/network.go
Labels: status/4-merge, area/networking

#45366 daemon: set docker0 subpool as the IPAM pool
  daemon/daemon_unix.go
  integration/daemon/daemon_test.go
  libnetwork/drivers/bridge/setup_device.go
Labels: status/2-code-review, area/networking, impact/changelog, area/testing, process/cherry-pick, area/daemon, kind/bugfix

#45362 c8d: add support for removing images by shortID
  daemon/containerd/image.go
  daemon/containerd/image_delete.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#45376 [23.0 backport] libnetwork: clean up inDelete network atomically
  libnetwork/network.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix

#45403 [23.0 backport] daemon: set docker0 subpool as the IPAM pool
  daemon/daemon_unix.go
  integration/daemon/daemon_test.go
  libnetwork/drivers/bridge/setup_device.go
Labels: status/2-code-review, area/networking, impact/changelog, area/testing, area/daemon, kind/bugfix

#45308 libnetwork/drivers/overlay: make VNI matcher IPv6-compatible
  libnetwork/drivers/overlay/bpf.go
  libnetwork/drivers/overlay/bpf_linux_test.go
Labels: status/2-code-review, kind/enhancement, area/networking, area/networking/ipv6

#45373 [23.0 backport] assorted test- and build/packaging fixes
  .github/workflows/test.yml
  Dockerfile
  api/server/httputils/httputils_test.go
  integration/container/logs_test.go
Labels: status/2-code-review, area/testing, area/packaging

#45374 [23.0 backport] Silence GRPC logs unless our log level is debug
  cmd/dockerd/docker.go
  cmd/dockerd/grpclog.go
Labels: area/logging, status/2-code-review, area/builder/buildkit

#45375 [23.0 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20230315203717-e28e8ba9bc83
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/swarm

#45407 [23.0 backport] vendor: github.com/opencontainers/runc v1.1.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#45404 Use the image service instead of the reference store for tagging
  api/server/backend/build/backend.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/exporter/mobyexporter/export.go
  cmd/dockerd/daemon.go
Labels: area/builder, process/cherry-picked, area/images, kind/bugfix, area/builder/buildkit

#45393 containerd integration: Handle nil container.ImageManifest
  daemon/containerd/image_changes.go
  daemon/containerd/image_commit.go
  daemon/containerd/service.go
Labels: status/2-code-review, kind/bugfix, containerd-integration

#45391 integration/TestKillContainer: Bigger timeout on Windows
  integration/container/kill_test.go
Labels: platform/windows, status/2-code-review, area/testing, process/cherry-pick

#45410 [23.0 backport] Use the image service instead of the reference store for tagging
  api/server/backend/build/backend.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/exporter/export.go
  cmd/dockerd/daemon.go
Labels: area/builder, status/4-merge, area/images, kind/bugfix, area/builder/buildkit

#45291 vendor: github.com/moby/swarmkit/v2 v2.0.0-20230406225228-75e92ce14ff7
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/drivers_network_windows.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/manager.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/swarm

#44234 libnetwork/resolvconf: some cleaning up and optimisations
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_linux_test.go
  libnetwork/resolvconf/resolvconf_unix_test.go
  libnetwork/resolvconf/utils.go
  libnetwork/resolvconf/utils_test.go
  libnetwork/sandbox_dns_unix.go
Labels: status/4-merge, area/networking, kind/refactor

#45298 pkg/platform: cleanup, and deprecate OSType
  daemon/info.go
  pkg/platform/architecture_windows.go
  pkg/platform/platform.go
  pkg/platform/platform_unix.go
  pkg/platform/platform_windows.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, kind/refactor

#45361 check-config.sh: do not check for RT_GROUP_SCHED
  contrib/check-config.sh
Labels: status/2-code-review, area/contrib

#45238 [20.10 backport] update runc binary to v1.1.5
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#44382 client: defaultHTTPClient() accept URL
  client/client.go
  client/client_test.go
  client/client_unix.go
  client/client_windows.go
  client/options_test.go
Labels: area/api, area/cli, status/2-code-review, kind/refactor

#45392 inline filters.Args where possible, and use filters.Arg() when constructing
  client/config_list_test.go
  client/container_list_test.go
  client/container_prune_test.go
  client/events_test.go
  client/image_list_test.go
  client/image_prune_test.go
  client/image_search_test.go
  client/network_list_test.go
  client/network_prune_test.go
  client/node_list_test.go
  client/plugin_list_test.go
  client/secret_list_test.go
  client/service_list_test.go
  client/task_list_test.go
  client/volume_list_test.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/filters_test.go
  daemon/cluster/swarm.go
  daemon/list_test.go
  daemon/network/filter_test.go
  integration-cli/daemon/daemon_swarm.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_api_network_test.go
  integration/container/links_linux_test.go
  integration/container/ps_test.go
  integration/internal/swarm/states.go
  integration/service/create_test.go
  integration/service/list_test.go
  integration/service/update_test.go
  integration/system/event_test.go
  testutil/daemon/service.go
  testutil/environment/clean.go
  testutil/environment/environment.go
  testutil/environment/protect.go
  volume/service/convert_test.go
Labels: status/2-code-review, kind/refactor

#45424 [20.10] update containerd binary to v1.6.20
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/packaging

#43506 libnetwork: processSetKeyReexec() remove defer(), and some refactoring
  libnetwork/sandbox_externalkey.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_externalkey_unsupported.go
  libnetwork/sandbox_externalkey_windows.go
Labels: status/4-merge, area/networking, kind/refactor

#45431 c8d: delete dangling image on pull
  daemon/containerd/image_pull.go
Labels: status/4-merge, area/images, containerd-integration

#45422 update runc binary to v1.1.7
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#45426 c8d/import: Don't gc unnamed images
  daemon/containerd/image_exporter.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#45314 cmd/dockerd: gracefully shut down the API server
  api/server/server.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_linux_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/trap/testfiles/main.go
  cmd/dockerd/trap/trap.go
Labels: area/api, status/2-code-review, kind/enhancement

#45435 daemon/containerd: containerConfigToOciImageConfig: add ArgsEscaped
  daemon/containerd/image_import.go
Labels: status/2-code-review, area/images, containerd-integration

#45423 vendor: github.com/opencontainers/runc v1.1.7
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/runtime, status/2-code-review
