Repository moby/moby, pull requests merged in 2023-03, with the labels that each got.

#45084 [23.0] update containerd binary to v1.6.19
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#45087 registry: acquire mutex in IsInsecureRegistry
  registry/service.go
Labels: area/distribution, area/images, kind/bugfix, containerd-integration

#45083 api/server: drop unused Config struct
  api/server/server.go
  api/server/server_test.go
  cmd/dockerd/daemon.go
Labels: area/cli, kind/refactor

#45088 api/server: delete Wait method
  api/server/server.go
  cmd/dockerd/daemon.go
Labels: area/api, area/daemon, kind/refactor

#45085 vendor: github.com/Microsoft/hcsshim v0.9.7, github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#45091 daemon/config: remove AuthzMiddleware field
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/daemon.go
Labels: area/cli, status/2-code-review, area/daemon, kind/refactor

#44989 containerd integration: handle multi-platform images
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, containerd-integration

#43197 Introduce config option for default generic network options of newly created networks
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/network.go
  integration/network/network_test.go
  opts/opts.go
  opts/opts_test.go
Labels: status/2-code-review, kind/feature, area/networking, impact/changelog, area/daemon

#44968 libnetwork/ipam: refactor all the things
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/parallel_test.go
  libnetwork/ipam/structures.go
  libnetwork/ipam/utils.go
  libnetwork/ipbits/ipbits.go
  libnetwork/ipbits/ipbits_test.go
  libnetwork/ipbits/uint128.go
Labels: area/networking, kind/refactor

#45032 daemon: allow shimv2 runtimes to be configured
  api/types/types.go
  daemon/container_unix_test.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/runtime_unix.go
  daemon/runtime_unix_test.go
  daemon/runtime_windows.go
  daemon/start_unix.go
  libcontainerd/shimopts/convert.go
  plugin/executor/containerd/containerd.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/api.pb.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/api.proto
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/doc.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, kind/feature, impact/changelog, docs/revisit, area/daemon, impact/documentation

#45097 builder: Remove buildkit's build information
  builder/builder-next/exporter/export.go
  builder/builder-next/exporter/writer.go
Labels: area/builder, impact/changelog, impact/deprecation, area/builder/buildkit

#45095 vendor: buildkit v0.11.4-0.20230228113103-218e934edfba
  builder/builder-next/exporter/writer.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remote.go
  vendor/github.com/moby/buildkit/client/llb/definition.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/executor/oci/user.go
  vendor/github.com/moby/buildkit/exporter/containerimage/exptypes/types.go
  vendor/github.com/moby/buildkit/exporter/containerimage/opts.go
  vendor/github.com/moby/buildkit/snapshot/diffapply_unix.go
  vendor/github.com/moby/buildkit/solver/jobs.go
  vendor/github.com/moby/buildkit/util/buildinfo/buildinfo.go
  vendor/github.com/moby/buildkit/util/buildinfo/types/types.go
  vendor/github.com/moby/buildkit/util/imageutil/buildinfo.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#45099 [23.0 backport] vendor: github.com/Microsoft/hcsshim v0.9.7, github.com/containerd/containerd v1.6.19
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#45100 [23.0 backport] libnet/ipam: fix racy, flaky unit test
  libnetwork/ipam/allocator_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/bugfix

#45092 c8d/list: Support dangling filter
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, containerd-integration

#44958 containerd integration: `docker commit`
  container/container.go
  daemon/containerd/image.go
  daemon/containerd/image_commit.go
  daemon/containerd/service.go
  daemon/create.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image.go
Labels: status/4-merge, area/images, containerd-integration

#45108 regenerate AUTHORS
  AUTHORS
Labels: status/3-docs-review, area/project

#45110 [23.0] vendor: github.com/moby/buildkit v0.10.7-0.20230306143919-70f2ad56d3e5
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/util/buildinfo/buildinfo.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#45109 vendor: github.com/moby/buildkit v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/capture.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/predicate.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#45103 TestLogs: Increase stop check poll timeout on Windows
  integration/container/logs_test.go
  integration/container/stop_test.go
  integration/container/wait_test.go
Labels: area/logging, area/testing, process/cherry-pick, kind/bugfix

#44934 containerd integration: compute containers layer size
  api/server/router/container/backend.go
  api/server/router/container/inspect.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/image_unix.go
  daemon/images/image_windows.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_windows.go
  daemon/list.go
  daemon/prune.go
Labels: status/2-code-review, area/images, containerd-integration

#44732 reference: assorted fixes and cleanups
  reference/store.go
  reference/store_test.go
Labels: area/distribution, status/2-code-review, area/images

#44894 layer: NewStoreFromOptions(): include driver-name in error message
  layer/layer_store.go
Labels: area/storage, status/2-code-review, kind/enhancement

#45107 [23.0 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20230302163403-80a528a86877
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/agent/csi/plugin/plugin.go
  vendor/github.com/moby/swarmkit/v2/internal/csi/capability/capability.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/convert.go
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/constraintenforcer/constraint_enforcer.go
  vendor/github.com/moby/swarmkit/v2/manager/orchestrator/jobs/orchestrator.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/swarm, kind/bugfix

#45130 vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/swarm

#45132 Fix listener parsering regression when no addr set
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_linux_test.go
  cmd/dockerd/main_linux_test.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#45131 [23.0 backport] vendor: github.com/moby/swarmkit/v2 v2.0.0-20230309194213-a745a8755ce3
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/swarm

#45123 c8d/builder: Store untagged images as dangling
  builder/builder-next/exporter/overrides/wrapper.go
Labels: area/builder, status/4-merge, area/images, kind/bugfix, area/builder/buildkit, containerd-integration

#45135 update to go1.20.2
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45137 [23.0] update to go1.19.7
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45139 update containerd binary to v1.7.0
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#45147 Fix pruning anon volume created from image config
  daemon/create_unix.go
  daemon/create_windows.go
  integration/internal/build/build.go
  integration/internal/container/container.go
  integration/volume/volume_test.go
Labels: status/2-code-review, process/cherry-pick, area/volumes, kind/bugfix

#45155 [23.0 backport] volumes: fix error-handling when removing volumes with swarm enabled
  api/server/router/volume/volume_routes.go
  daemon/cluster/volumes.go
  integration/volume/volume_test.go
Labels: status/2-code-review, area/volumes, kind/bugfix

#45159 [23.0 backport] Fix pruning anon volume created from image config
  daemon/create_unix.go
  daemon/create_windows.go
  integration/internal/build/build.go
  integration/internal/container/container.go
  integration/volume/volume_test.go
Labels: status/2-code-review, area/volumes, kind/bugfix

#44282 daemon/graphdriver/windows: various cleanups and fixes
  daemon/graphdriver/windows/windows.go
Labels: area/storage, platform/windows, status/4-merge, kind/refactor

#45161 integration: fix some duplicate imports
  integration/plugin/common/plugin_test.go
  integration/volume/volume_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#45163 libnetwork: devirtualize package `internal/setmatrix`
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/network.go
  libnetwork/service.go
Labels: status/4-merge, area/networking, kind/refactor

#44949 pkg/sysinfo: move MemInfo and ReadMemInfo to a separate package
  daemon/info.go
  daemon/stats_collector.go
  pkg/meminfo/meminfo.go
  pkg/meminfo/meminfo_linux.go
  pkg/meminfo/meminfo_unix_test.go
  pkg/meminfo/meminfo_unsupported.go
  pkg/meminfo/meminfo_windows.go
  pkg/system/meminfo_deprecated.go
Labels: status/4-merge, impact/changelog, kind/refactor

#44908 ci: enable BuildKit tests with containerd integration worker
  .github/workflows/buildkit.yml
  vendor.mod
Labels: status/2-code-review, area/testing, area/builder/buildkit, containerd-integration

#45112 [23.0 backport] builder-next: temporarily disable mergeop and diffop
  .github/workflows/buildkit.yml
  builder/builder-next/controller.go
Labels: area/builder, status/2-code-review, impact/changelog, kind/bugfix, area/builder/buildkit

#45157 [23.0 backport] Dockerfile: Update shfmt to 3.6.0
  Dockerfile
  contrib/dockerize-disk.sh
Labels: status/2-code-review, area/testing

#45167 api/types/container: fix handling of "container" mode, increase test-coverage
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#45185 registry/search: pass User-Agent through headers
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  registry/endpoint_test.go
  registry/endpoint_v1.go
  registry/registry_test.go
  registry/search.go
Labels: area/distribution, status/2-code-review, kind/refactor

#45191 vendor: github.com/moby/swarmkit/v2 v2.0.0-20230315203717-e28e8ba9bc83
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/csi/plugin.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick, area/swarm

#45196 [backport 23.0] TestDaemonRestartKillContainers: Fix races
  integration/container/restart_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, kind/bugfix

#45195 dockerversion: DockerUserAgent(): use sync.Once to construct User-Agent
  dockerversion/useragent.go
Labels: area/api, status/4-merge, area/performance, kind/refactor

#45211 libnet/d/windows: log EnableInternalDNS val after setting it
  libnetwork/drivers/windows/windows.go
Labels: status/4-merge, area/networking, process/cherry-pick, kind/bugfix

#45212 Update delve version
  Dockerfile
Labels: status/4-merge, area/testing, process/cherry-pick, area/project

#45164 libnetwork/d/overlay: handle peer ops directly
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
Labels: status/2-code-review, area/networking, kind/refactor

#45203 client: Add buildkit ClientOpts
  client/buildkit.go
Labels: area/api, area/cli, status/2-code-review, kind/enhancement

#45197 [backport 20.10] TestDaemonRestartKillContainers: Fix races
  integration/container/restart_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, kind/bugfix

#45218 Add Laura and Albin as curator
  MAINTAINERS
Labels: status/3-docs-review, area/project

#45186 integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Labels: platform/windows, area/testing, process/cherry-picked

#44990 [20.10 backport] update to go1.19.6
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
  vendor/archive/tar/common.go
  vendor/archive/tar/reader.go
  vendor/archive/tar/stat_unix.go
  vendor/archive/tar/strconv.go
Labels: status/2-code-review, area/packaging

#45219 [20.10 backport] integration-cli: Enable TestExecStartFails on Windows
  integration-cli/docker_cli_exec_test.go
Labels: platform/windows, status/2-code-review, area/testing

#45198 Prefer loading `docker-init` from an appropriate "libexec" directory
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/oci_linux.go
Labels: status/2-code-review, impact/changelog

#45187 Silence GRPC logs unless our log level is debug
  cmd/dockerd/docker.go
  cmd/dockerd/grpclog.go
Labels: area/logging, status/2-code-review, process/cherry-pick, area/builder/buildkit

#45216 [20.10 backport] Upgrade containerd/fifo to v1.1.0
  vendor.conf
  vendor/github.com/containerd/fifo/errors.go
  vendor/github.com/containerd/fifo/fifo.go
  vendor/github.com/containerd/fifo/go.mod
  vendor/github.com/containerd/fifo/handle_linux.go
  vendor/github.com/containerd/fifo/handle_nolinux.go
  vendor/github.com/containerd/fifo/mkfifo_nosolaris.go
  vendor/github.com/containerd/fifo/raw.go
  vendor/github.com/containerd/fifo/readme.md
  vendor/github.com/containerd/fifo/utils.go
Labels: status/4-merge, impact/changelog, kind/bugfix

#45234 c8d/commit: Use manifest digest for dangling image name
  daemon/containerd/image_commit.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration

#44964 containerd integration: `docker diff`
  .github/workflows/buildkit.yml
  api/server/router/container/backend.go
  api/server/router/container/container_routes.go
  daemon/changes.go
  daemon/containerd/image_changes.go
  daemon/image_service.go
  daemon/images/image_changes.go
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.golangci.yml
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/api/services/containers/v1/containers.pb.go
  vendor/github.com/containerd/containerd/api/services/containers/v1/containers.proto
  vendor/github.com/containerd/containerd/api/services/content/v1/content.proto
  vendor/github.com/containerd/containerd/api/services/images/v1/images.pb.go
  vendor/github.com/containerd/containerd/api/services/images/v1/images.proto
  vendor/github.com/containerd/containerd/api/services/introspection/v1/introspection.pb.go
  vendor/github.com/containerd/containerd/api/services/introspection/v1/introspection.proto
  vendor/github.com/containerd/containerd/api/services/snapshots/v1/snapshots.pb.go
  vendor/github.com/containerd/containerd/api/services/snapshots/v1/snapshots.proto
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/archive/tar_unix.go
  vendor/github.com/containerd/containerd/archive/tarheader/tarheader.go
  vendor/github.com/containerd/containerd/archive/tarheader/tarheader_unix.go
  vendor/github.com/containerd/containerd/containerstore.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/diff/walking/differ.go
  vendor/github.com/containerd/containerd/image_store.go
  vendor/github.com/containerd/containerd/images/converter/default.go
  vendor/github.com/containerd/containerd/metadata/boltutil/helpers.go
  vendor/github.com/containerd/containerd/mount/mount.go
  vendor/github.com/containerd/containerd/mount/temp.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/oci/spec_opts_linux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_nonlinux.go
  vendor/github.com/containerd/containerd/oci/spec_opts_unix.go
  vendor/github.com/containerd/containerd/oci/spec_opts_windows.go
  vendor/github.com/containerd/containerd/oci/utils_unix.go
  vendor/github.com/containerd/containerd/pkg/runtimeoptions/v1/doc.go
  vendor/github.com/containerd/containerd/reference/docker/reference.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/shim.go
  vendor/modules.txt
Labels: status/2-code-review, area/images, containerd-integration

#45239 vendor: github.com/opencontainers/runc v1.1.5
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#45224 Move buildkit client opts to new package
  client/buildkit.go
  client/buildkit/buildkit.go
Labels: area/cli, status/2-code-review, kind/refactor

#45242 [20.10 backport] update to go1.19.7
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#45122 c8d/inspect: Add digested reference to details
  daemon/containerd/image.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration

#44963 c8d: Implement push
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
  daemon/containerd/store.go
  daemon/image_service.go
  daemon/images/image_push.go
Labels: area/api, status/2-code-review, area/images, containerd-integration

#45241 c8d: Add the events services to the containerd image service
  daemon/containerd/image_events.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/image_service.go
  daemon/images/image_events.go
Labels: area/images, containerd-integration

#44242 libnetwork: sbState: rename ExtDNS2 back to ExtDNS
  libnetwork/sandbox_store.go
Labels: status/2-code-review, area/networking, kind/refactor

#45247 libnetwork/netutils: drop ElectInterfaceAddresses
  libnetwork/netutils/utils_freebsd.go
  libnetwork/netutils/utils_windows.go
Labels: status/2-code-review, area/networking, kind/refactor

#45243 c8d: push: addressing some nits
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Labels: status/2-code-review, area/images, kind/refactor, containerd-integration

#45244 vendor: github.com/containerd/containerd v1.6.20
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick

#45250 client: deprecate NewClient properly
  client/client.go
  client/client_deprecated.go
Labels: kind/enhancement, area/docs, impact/deprecation, process/cherry-pick
