Repository moby/moby, pull requests merged in 2023-11, with the labels that each got.

#46754 builder/dockerfile: errmsg: quote build target
  builder/dockerfile/builder.go
  integration-cli/docker_cli_build_test.go
Labels: area/builder, status/4-merge, kind/enhancement, area/builder/classic-builder

#46755 libnetwork/ipam: refactor prefix-overlap checks
  libnetwork/ipam/allocator.go
  libnetwork/ipam/structures.go
Labels: area/networking, kind/refactor, area/networking/ipam

#46751 integration: make TestSaveRepoWithMultipleImages less flaky
  integration/image/save_test.go
Labels: status/2-code-review, area/testing

#46685 c8d: Return the "tag does not exist error"
  daemon/containerd/image_push.go
Labels: status/2-code-review, area/images, containerd-integration

#46762 seccomp: block io_uring_* syscalls in default profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, area/docs, impact/changelog, area/security/seccomp

#46764 Fix case where health start interval is 0 uses default
  daemon/health.go
Labels: status/4-merge, kind/bugfix

#46759 Skip TestPullManifestList when using containerd
  integration-cli/docker_cli_pull_local_test.go
Labels: area/distribution, status/2-code-review, area/images, containerd-integration

#46758 Skip the busybox digest check when containerd is enabled
  integration-cli/docker_cli_by_digest_test.go
Labels: status/2-code-review, area/images, containerd-integration

#46517 c8d: test a backend dependent error on pull
  integration-cli/docker_cli_pull_test.go
Labels: area/distribution, status/2-code-review, area/testing, area/images, containerd-integration

#46766 integration/system: update TestInfoAPI to not use string-matching
  integration/system/info_test.go
Labels: status/2-code-review, area/testing, area/daemon, kind/bugfix

#46531 integration: Add a new networking integration test suite
  integration/networking/bridge_test.go
  integration/networking/main_test.go
Labels: status/2-code-review, area/networking, area/testing

#46628 #46621 ensure that errors reading the response body are returned to the caller
  client/container_wait.go
  client/container_wait_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#46668 libnetwork: svc record update without store
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/network.go
  libnetwork/sandbox.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
Labels: status/4-merge, area/networking, kind/refactor

#46663 ci: Setup otel tracing for windows integration tests
  .github/actions/setup-tracing/action.yml
  .github/workflows/.windows.yml
Labels: status/2-code-review, area/testing

#46768 daemon/config: Put params for the default network into a dedicated struct
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_test.go
  daemon/config/config_windows.go
Labels: status/4-merge, area/networking, area/daemon, kind/refactor

#46774 Update container-device-interface to v0.6.2
  cmd/dockerd/daemon.go
  daemon/cdi.go
  vendor.mod
  vendor.sum
  vendor/github.com/container-orchestrated-devices/container-device-interface/specs-go/oci.go
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/LICENSE
  vendor/tags.cncf.io/container-device-interface/internal/multierror/multierror.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/objectmeta.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/validation.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/validate.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/annotations.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/doc.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/qualified-device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/registry.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec-dirs.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_linux.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_other.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/version.go
  vendor/tags.cncf.io/container-device-interface/pkg/parser/parser.go
  vendor/tags.cncf.io/container-device-interface/specs-go/LICENSE
  vendor/tags.cncf.io/container-device-interface/specs-go/config.go
  vendor/tags.cncf.io/container-device-interface/specs-go/oci.go
Labels: status/2-code-review

#46778 Revert "libcontainerd: work around exec start bug in c8d"
  libcontainerd/remote/client.go
  project/PACKAGERS.md
Labels: area/runtime, status/4-merge, kind/enhancement

#45905 api: Add a field MacAddress to EndpointSettings
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/config.go
  api/types/network/endpoint.go
  client/container_create.go
  daemon/container_operations.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/network.go
  docs/api/version-history.md
  integration-cli/docker_cli_netmode_test.go
  integration-cli/docker_cli_run_test.go
  integration/container/create_test.go
  integration/container/run_linux_test.go
  integration/internal/container/ops.go
  runconfig/hostconfig.go
Labels: area/api, status/2-code-review, kind/enhancement, area/networking, impact/api, impact/changelog

#46783 integration/networking: fix TestBridgeICC
  integration/networking/bridge_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/bugfix

#46777 docs/api: update redirect metadata for hugo
  docs/api/v1.18.md
  docs/api/v1.19.md
  docs/api/v1.20.md
  docs/api/v1.21.md
  docs/api/v1.22.md
  docs/api/v1.23.md
  docs/api/v1.24.md
Labels: status/3-docs-review, area/docs, process/cherry-pick, kind/bugfix

#46784 c8d: cleanup imports in the image builder file
  daemon/containerd/image_builder.go
Labels: area/builder, status/2-code-review, area/builder/classic-builder

#46788 daemon: ContainerRename: use named error-return
  daemon/rename.go
Labels: area/daemon, kind/refactor

#46681 libnetwork/datastore: miscellaneous code cleanups
  libnetwork/datastore/cache.go
  libnetwork/datastore/datastore.go
  libnetwork/datastore/datastore_test.go
  libnetwork/datastore/mockstore_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/ipvlan/ipvlan_store.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/windows/windows_store.go
  libnetwork/endpoint.go
  libnetwork/endpoint_cnt.go
  libnetwork/internal/kvstore/boltdb/boltdb.go
  libnetwork/internal/kvstore/kvstore.go
  libnetwork/network.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
Labels: status/2-code-review, area/networking, kind/refactor

#46781 Update API README to include port in URL for locally built Swagger docs
  api/README.md
Labels: area/api, status/3-docs-review, area/docs

#46713 docs(API): Add reason to network connect 403 error
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs

#41084 Bump go-connections for TLS 1.3 support
  vendor.mod
  vendor.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/sort.go
  vendor/github.com/docker/go-connections/sockets/proxy.go
  vendor/github.com/docker/go-connections/sockets/sockets.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/sockets_windows.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_go113.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_other.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/proxy/dial.go
  vendor/golang.org/x/net/proxy/direct.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/modules.txt
Labels: status/2-code-review, kind/enhancement, impact/changelog

#46797 Fix missing import for "scope" package
  libnetwork/sandbox_store.go
  libnetwork/store.go
Labels: status/4-merge, area/networking, kind/bugfix

#46799 vendor: github.com/docker/go-connections fa09c952e3ea (v0.5.0-dev)
  client/client_test.go
  integration-cli/docker_cli_daemon_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/docker/go-connections/nat/nat.go
  vendor/github.com/docker/go-connections/nat/parse.go
  vendor/github.com/docker/go-connections/sockets/sockets_unix.go
  vendor/github.com/docker/go-connections/sockets/unix_socket.go
  vendor/github.com/docker/go-connections/tlsconfig/certpool.go
  vendor/github.com/docker/go-connections/tlsconfig/certpool_other.go
  vendor/github.com/docker/go-connections/tlsconfig/config.go
  vendor/github.com/docker/go-connections/tlsconfig/config_client_ciphers.go
  vendor/github.com/docker/go-connections/tlsconfig/config_legacy_client_ciphers.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_go113.go
  vendor/github.com/docker/go-connections/tlsconfig/versions_other.go
  vendor/modules.txt
Labels: status/2-code-review

#46801 opts: ValidateIPAddress: improve error, godoc, and tests
  daemon/config/config_test.go
  opts/opts.go
  opts/opts_test.go
Labels: area/cli, status/2-code-review, area/daemon, kind/refactor

#46785 c8d: handle user namespace remapping on commit
  daemon/containerd/image_commit.go
  daemon/containerd/image_snapshot_unix.go
  daemon/containerd/image_snapshot_windows.go
  integration/image/commit_test.go
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
Labels: status/2-code-review, area/images, containerd-integration

#46684 contrib/check-config: Only add color if output is a terminal.
  contrib/check-config.sh
Labels: status/2-code-review, kind/enhancement, area/contrib

#46805 update runc binary to v1.1.10
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, area/testing, process/cherry-picked, area/packaging, process/cherry-pick/20.10

#46808 vendor: github.com/opencontainers/runc v1.1.10
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: area/runtime, status/4-merge, process/cherry-pick, process/cherry-pick/23.0, process/cherry-pick/24.0

#46807 [23.0 backport] update runc binary to v1.1.10
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#46806 [24.0 backport] update runc binary to v1.1.10
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#46724 New `host_ipv6` bridge option to SNAT IPv6 connections
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/netlabel/labels.go
Labels: status/2-code-review, area/networking, area/networking/ipv6

#46812 graphdriver/copy: faster copy of hard links
  daemon/graphdriver/copy/copy.go
Labels: area/storage, status/2-code-review, area/performance, kind/bugfix

#46818 client: update example in readme
  client/README.md
Labels: area/api, status/2-code-review, area/docs, kind/bugfix

#46803 daemon/config: change DNSConfig.DNS to a []net.IP
  builder/builder-next/executor_linux.go
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/container_operations.go
Labels: status/2-code-review, area/daemon, kind/refactor

#46814 update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/2-code-review, area/packaging

#46154 ci(bin-image): skip dco on push tag events
  .github/workflows/bin-image.yml
Labels: status/2-code-review, area/project, kind/bugfix, process/cherry-pick/24.0

#46831 update containerd binary to v1.7.9
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, area/testing, process/cherry-pick, area/packaging

#46444 Plumb context through info endpoint
  api/server/router/system/backend.go
  api/server/router/system/system_routes.go
  daemon/cluster/cluster.go
  daemon/cluster/configs.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/networks.go
  daemon/cluster/nodes.go
  daemon/cluster/secrets.go
  daemon/cluster/services.go
  daemon/cluster/swarm.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/daemon_windows.go
  daemon/events.go
  daemon/image_service.go
  daemon/images/service.go
  daemon/info.go
  daemon/info_unix.go
  daemon/info_windows.go
  daemon/network.go
  errdefs/is.go
  libnetwork/controller.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/store.go
  pkg/fileutils/fileutils_linux.go
  pkg/fileutils/fileutils_test.go
  pkg/fileutils/fileutils_windows.go
Labels: status/2-code-review, kind/enhancement, area/daemon

#46833 vendor: github.com/Microsoft/hcsshim v0.11.4
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/go-winio/tools/mkwinsyscall/doc.go
  vendor/github.com/Microsoft/go-winio/tools/mkwinsyscall/mkwinsyscall.go
  vendor/github.com/Microsoft/hcsshim/.gitignore
  vendor/github.com/Microsoft/hcsshim/.golangci.yml
  vendor/github.com/Microsoft/hcsshim/Protobuild.toml
  vendor/github.com/Microsoft/hcsshim/internal/log/format.go
  vendor/github.com/Microsoft/hcsshim/internal/log/hook.go
  vendor/github.com/Microsoft/hcsshim/tools.go
  vendor/modules.txt
Labels: status/2-code-review

#46835 Dockerfile: update buildx to v0.12.0
  Dockerfile
Labels: status/2-code-review

#46481 api/t/swarm: Fix deprecation for ServiceSpec.Networks
  api/swagger.yaml
  api/types/swarm/service.go
  daemon/cluster/convert/service.go
  daemon/cluster/networks.go
  docs/api/version-history.md
Labels: area/api, status/2-code-review, impact/api, impact/deprecation, area/swarm, kind/refactor

#46368 testing: update docker-py to 7.0.0b1
  hack/make/test-docker-py
Labels: status/2-code-review, area/testing

#46839 [24.0 backport] update containerd binary to v1.7.9, gowinres 0.3.1
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, area/testing, area/packaging

#46227 libcontainerd/supervisor: explicitly ignore process kill errors
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_windows.go
Labels: area/runtime, status/2-code-review, kind/refactor

#46790 libnetwork/drivers/overlay: support IPv6 transport
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
Labels: kind/enhancement, area/networking, impact/changelog, area/networking/ipv6, area/networking/d/overlay

#46843 daemon: build ports-related ep options in a dedicated func
  daemon/network.go
Labels: status/2-code-review, area/networking, area/daemon, kind/bugfix

#46844 daemon: windows: set DNS config on all adapters
  daemon/network.go
Labels: platform/windows, area/networking, area/daemon, kind/bugfix

#46846 daemon: ContainerRename: move log args to log fields
  daemon/rename.go
Labels: status/4-merge, area/daemon, kind/refactor

#46447 api: Add consts for predefined networks
  api/types/container/hostconfig.go
  api/types/container/hostconfig_unix.go
  api/types/container/hostconfig_windows.go
  api/types/network/network.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/inspect.go
  runconfig/hostconfig.go
  runconfig/hostconfig_unix.go
  runconfig/hostconfig_windows.go
  testutil/environment/clean.go
Labels: status/2-code-review, kind/refactor

#46770 daemon/c8d: Unmount container fs after unclean shutdown
  daemon/containerd/mount.go
  daemon/snapshotter/mount.go
Labels: status/2-code-review, area/daemon, kind/bugfix, containerd-integration

#46854 quota: increase sparse test-image to 300MB
  quota/testhelpers.go
Labels: status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#46855 integration-cli/TestCrossRepositoryLayerPush: Change repo name
  integration-cli/docker_cli_push_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46848 c8d/integration: Adjust TestSaveCheckTimes
  integration/image/save_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46852 hack/dind-systemd: make AppArmor work with systemd enabled
  hack/dind
  hack/dind-systemd
Labels: area/security/apparmor, status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#46861 builder-next: fix timing filter for default policy
  builder/builder-next/worker/gc.go
Labels: area/builder, status/2-code-review, process/cherry-pick, kind/bugfix, area/builder/buildkit

#46859 integration-cli: fix TestDaemonICC tests for newer iptables versions
  integration-cli/docker_cli_daemon_test.go
Labels: status/2-code-review, area/testing

#46857 liverestore: Don't remove `--rm` containers on restart
  daemon/daemon.go
  integration/daemon/daemon_test.go
  integration/internal/process/wait.go
Labels: area/runtime, process/cherry-picked, kind/bugfix

#46863 cifs volume resolves hostname correctly
  volume/local/local_unix.go
Labels: status/2-code-review, kind/enhancement, area/volumes, kind/bugfix

#46867 daemon: kill: use log level to "warn" if container doesn't exit in time
  daemon/kill.go
Labels: status/2-code-review, kind/enhancement, area/daemon

#46865 c8d/integration-cli: Adjust DockerRegistryAuthTokenSuite
  integration-cli/docker_cli_push_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#45789 Dockerfile: update to Debian "bookworm", and update frozen images to debian:bookworm-slim
  Dockerfile
  Dockerfile.simple
  cli/winresources/README.md
  contrib/nnp-test/Dockerfile
  contrib/syscall-test/Dockerfile
  hack/dockerfiles/generate-files.Dockerfile
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/fixtures_linux_daemon_test.go
  integration/build/build_userns_linux_test.go
  testutil/environment/protect.go
Labels: status/2-code-review, area/testing, area/packaging

#46849 Explicitly set MTU on bridge devices.
  integration/network/network_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_device_linux.go
Labels: status/2-code-review, kind/enhancement, area/networking
