Repository moby/moby, pull requests merged in 2023-09, with the labels that each got.

#46265 docs(api): rephrase description for /images/create
  api/swagger.yaml
Labels: status/3-docs-review, area/docs

#46396 libnetwork/osl: remove dead code
  libnetwork/osl/sandbox_unsupported_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/bugfix

#46384 c8d: Print the tag, digest and size after push
  daemon/containerd/image_push.go
Labels: status/2-code-review, area/testing, containerd-integration

#46398 integration-cli/build: Parse multiline images -q output
  integration-cli/docker_cli_build_test.go
Labels: status/4-merge, area/testing, kind/refactor

#46407 [24.0 backport] Fixing dockerd-rootless-setuptools.sh when user name contains a backslash
  contrib/dockerd-rootless-setuptool.sh
Labels: status/4-merge, area/contrib, area/rootless

#46408 [23.0 backport] Fixing dockerd-rootless-setuptools.sh when user name contains a backslash
  contrib/dockerd-rootless-setuptool.sh
Labels: status/4-merge, area/contrib, area/rootless, kind/bugfix

#46405 c8d: Add image events
  daemon/containerd/image_exporter.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
Labels: status/2-code-review, area/images, containerd-integration

#46414 daemon: daemon.createSpec: remove uses of logrus
  daemon/oci_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#46417 pkg/idtools: remove sync.Once, and include lookup error
  pkg/idtools/idtools_unix.go
Labels: status/2-code-review, process/cherry-pick/24.0

#46415 distribution: filterManifests split complicated condition
  distribution/pull_v2_windows.go
Labels: area/distribution, status/2-code-review, kind/refactor

#46418 c8d/import: Don't close compressed stream twice
  daemon/containerd/image_import.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration, process/cherry-pick/24.0

#46416 pkg/system: deprecate IsOSSupported() and ErrNotSupportedOperatingSystem, and implement image.CheckOS
  builder/dockerfile/dispatchers.go
  builder/dockerfile/evaluator.go
  daemon/containerd/image_builder.go
  daemon/images/image_builder.go
  daemon/images/image_import.go
  daemon/images/image_list.go
  daemon/images/image_windows.go
  daemon/oci_windows.go
  distribution/config.go
  distribution/pull_v2.go
  distribution/pull_v2_windows.go
  image/image_os.go
  image/store.go
  image/tarexport/load.go
  image/tarexport/save.go
  pkg/system/errors.go
  pkg/system/image_os.go
  pkg/system/image_os_deprecated.go
Labels: status/2-code-review, area/images, kind/refactor

#46433 c8d: Remove the panic from UpdateConfig
  daemon/containerd/service.go
Labels: status/2-code-review, area/images, containerd-integration

#46431 Use process substitution to redirect to tee
  hack/make/test-docker-py
  hack/make/test-integration
Labels: status/2-code-review, area/testing

#46435 c8d/image: Allow truncated id to have sha256: prefix
  daemon/containerd/image.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46432 integration-cli: Skip TestRmiParentImageFail when using c8d snapshotters
  integration-cli/docker_cli_rmi_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46422 integration/container: fix flaky resize tests, and some cleaning up
  integration/container/resize_test.go
Labels: status/2-code-review, area/testing, kind/bugfix, kind/refactor

#46441 [24.0]: Update buildkit to fix source policy order
  builder/builder-next/worker/worker.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#46439 hack: compile w/o optimizations & inlining when debugging
  hack/make/.binary
Labels: status/2-code-review, kind/enhancement, process/cherry-pick, area/contrib

#46412 c8d: Better pull progress
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Labels: status/4-merge, area/images, containerd-integration

#46434 hack: Add TEST_IGNORE_CGROUP_CHECK
  Makefile
  hack/make/.integration-daemon-start
Labels: status/4-merge, kind/enhancement, area/testing

#46442 integration: don't poll for containers to be running
  integration/container/checkpoint_test.go
  integration/container/devices_windows_test.go
  integration/container/kill_test.go
  integration/container/nat_test.go
  integration/container/pause_test.go
  integration/container/pidmode_linux_test.go
  integration/container/rename_test.go
  integration/container/run_cgroupns_linux_test.go
  integration/container/run_linux_test.go
  integration/container/stats_test.go
  integration/container/stop_linux_test.go
  integration/container/update_linux_test.go
  integration/container/wait_test.go
  integration/plugin/authz/authz_plugin_test.go
Labels: status/2-code-review, area/testing

#46423 c8d/builder: Store parent in c8d image label
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_list.go
  daemon/containerd/image_tag.go
  integration-cli/docker_cli_build_test.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46375 c8d: Handle userns properly
  daemon/containerd/image_snapshot.go
  daemon/containerd/image_snapshot_unix.go
  daemon/containerd/image_snapshot_windows.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/snapshotter/mount.go
  integration-cli/docker_cli_userns_test.go
Labels: area/runtime, status/2-code-review, area/security/userns, kind/bugfix, containerd-integration, process/cherry-pick/24.0

#46454 c8d: disable schema1 registry integration tests
  integration-cli/check_test.go
Labels: status/4-merge, area/testing, containerd-integration

#46455 daemon: automatically set network EnableIPv6 if needed
  api/types/network/ipam.go
  api/types/network/ipam_test.go
  daemon/network.go
Labels: status/2-code-review, kind/enhancement, area/daemon

#46411 daemon: GetImageAndReleasableLayer: simplify "FROM scratch" case
  daemon/containerd/image_builder.go
  daemon/images/image_builder.go
Labels: area/builder, area/images, area/builder/classic-builder, containerd-integration

#46413 daemon/containerd: use "DiffID" type for diff fields
  daemon/containerd/image_builder.go
Labels: area/builder, status/4-merge, area/images, area/builder/classic-builder, containerd-integration

#46397 libnetwork/osl: Namespace.DeleteNeighbor: assorted cleanups, and ignore "non-exist" warnings
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/osl/neigh_linux.go
Labels: status/2-code-review, area/networking, kind/refactor

#46443 go mod tidy
  vendor.mod
Labels: status/2-code-review, kind/refactor

#46440 vendor: github.com/cncf-tags/container-device-interface v0.6.1
  vendor.mod
  vendor.sum
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/cache.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/container-edits_unix.go
  vendor/modules.txt
Labels: status/2-code-review

#46453 update to go1.20.8
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/testing, process/cherry-pick, area/packaging, process/cherry-pick/20.10, process/cherry-pick/23.0, process/cherry-pick/24.0

#46460 [23.0 backport] update to go1.20.8
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#46458 vendor: resenje.org/singleflight v0.4.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/resenje.org/singleflight/singleflight.go
  vendor/resenje.org/singleflight/withoutcancel.go
  vendor/resenje.org/singleflight/withoutcancel_go121.go
Labels: status/2-code-review, area/daemon

#46251 libnet: Make sure network names are unique
  api/swagger.yaml
  api/types/types.go
  client/network_create.go
  client/network_create_test.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/executor.go
  daemon/network.go
  docs/api/version-history.md
  hack/make/test-docker-py
  integration-cli/docker_api_network_test.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/internal/network/ops.go
  integration/network/delete_test.go
  integration/network/inspect_test.go
  integration/network/network_test.go
  integration/network/service_test.go
  integration/service/create_test.go
  libnetwork/controller.go
Labels: area/api, status/2-code-review, kind/enhancement, area/networking, impact/api, impact/changelog

#46347 libnetwork: Network: add some early returns
  libnetwork/agent.go
Labels: status/2-code-review, area/networking, kind/refactor

#46446 Fix host_ipv4 bridge option when IPv6 and ip6tables are enabled
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix, area/networking/d/bridge

#46472 Add dmcgowan as curator
  MAINTAINERS
Labels: status/3-docs-review, area/project

#46474 libnetwork/portmapper: Remove unused arg from New(), and un-export PortMapper.Allocator
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/windows/overlay/ov_network_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/portmapper/mapper.go
  libnetwork/portmapper/mapper_linux.go
  libnetwork/portmapper/mapper_linux_test.go
  libnetwork/portmapper/mapper_windows.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/portmapping

#46406 daemon: fix under what conditions container's mac-address is applied
  daemon/container_operations.go
  daemon/network.go
  integration/container/run_linux_test.go
  integration/internal/container/container.go
  integration/internal/container/ops.go
Labels: status/2-code-review, area/networking, process/cherry-pick, area/daemon, kind/bugfix, process/cherry-pick/24.0

#46471 daemon: overlay2: Write layer metadata atomically
  daemon/graphdriver/overlay2/overlay.go
Labels: area/storage/overlay, status/2-code-review, process/cherry-pick

#46478 [backport 24.0] daemon: fix under what conditions container's mac-address is applied
  daemon/container_operations.go
  daemon/network.go
  integration/container/run_linux_test.go
  integration/internal/container/container.go
  integration/internal/container/ops.go
Labels: status/2-code-review, area/networking, area/daemon, kind/bugfix

#46477 contrib: outline purpose of download-frozen-images-v2.sh
  contrib/download-frozen-image-v2.sh
Labels: status/4-merge, area/contrib

#46475 Add support for registry token in containerd pull logic
  daemon/containerd/resolver.go
Labels: area/distribution, status/2-code-review, containerd-integration, area/authentication

#46482 [24.0 backport] ipam: Replace ChildSubnet with parent Subnet when its mask is bigger
  libnetwork/ipam/allocator.go
Labels: area/api, status/2-code-review, area/networking, kind/bugfix, area/networking/ipam

#45906 api: Allow ContainerCreate to take several EndpointsConfig for >= API 1.44
  api/server/router/container/container_routes.go
  api/swagger.yaml
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/container.go
  daemon/create.go
  docs/api/version-history.md
  integration-cli/docker_api_containers_test.go
  integration/container/create_test.go
  integration/internal/container/ops.go
  integration/internal/network/network.go
  integration/network/bridge_test.go
Labels: area/api, status/2-code-review, kind/enhancement, area/networking, impact/api, impact/changelog, area/ux

#46485 c8d/push: Support pushing all tags
  daemon/containerd/image_push.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46488 vendor: github.com/containerd/containerd v1.6.24
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/options.go
  daemon/config/config.go
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/osversion/platform_compat_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/github.com/containerd/containerd/BUILDING.md
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/archive/tar.go
  vendor/github.com/containerd/containerd/content/helpers.go
  vendor/github.com/containerd/containerd/content/local/store.go
  vendor/github.com/containerd/containerd/diff/walking/differ.go
  vendor/github.com/containerd/containerd/images/archive/importer.go
  vendor/github.com/containerd/containerd/leases/id.go
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/mount/losetup_linux.go
  vendor/github.com/containerd/containerd/pkg/randutil/randutil.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/rootfs/apply.go
  vendor/github.com/containerd/containerd/snapshots/overlay/overlayutils/check.go
  vendor/github.com/containerd/containerd/unpacker.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, process/cherry-pick, process/cherry-pick/23.0, process/cherry-pick/24.0

#46489 remove more direct uses of logrus
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/docker_unix.go
  cmd/dockerd/docker_windows.go
  cmd/dockerd/grpclog.go
  cmd/dockerd/service_windows.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/controllers/plugin/controller_test.go
  daemon/config/config.go
  daemon/container_unix_test.go
  daemon/daemon.go
  daemon/daemon_unix_test.go
  daemon/graphdriver/overlayutils/randomid.go
  daemon/health_test.go
  daemon/logger/loggerutils/follow.go
  daemon/reload_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_linux.go
  libcontainerd/remote/client_windows.go
  libcontainerd/supervisor/remote_daemon.go
  plugin/executor/containerd/containerd.go
  plugin/manager.go
Labels: status/4-merge, kind/refactor

#46486 update containerd binary to v1.7.6
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging

#46487 [24.0 backport] update containerd binary to v1.7.6
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging

#46492 c8d: Refuse images with digest algo when tagging
  api/server/router/image/image_routes.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46494 c8d: Fix pull progress update
  daemon/containerd/image_pull.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46437 distribution: newRepository: remove naked return and intermediate vars
  distribution/registry.go
Labels: area/distribution, status/2-code-review, kind/refactor

#46499 libcontainer: client.processEventStream: use locally scoped variables
  libcontainerd/remote/client.go
Labels: area/runtime, status/2-code-review, kind/refactor

#46476 libcontainerd/windows: Fix cleanup on `newIOFromProcess` error
  libcontainerd/local/local_windows.go
Labels: platform/windows, status/2-code-review, process/cherry-picked, kind/bugfix

#46506 deprecate pkg/loopback (utility package for devicemapper)
  pkg/loopback/attach_loopback.go
  pkg/loopback/loopback.go
Labels: area/storage/devicemapper, status/2-code-review, impact/deprecation

#46509 registry: remove jsonmessage dependency
  registry/search_session.go
Labels: status/2-code-review, kind/refactor

#46436 registry: assorted fixes for search
  registry/registry_mock_test.go
  registry/registry_test.go
  registry/search_endpoint_v1.go
  registry/search_endpoint_v1_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#46183 daemon: Improve NetworkingConfig & EndpointSettings validation
  api/swagger.yaml
  api/types/network/endpoint.go
  api/types/network/endpoint_test.go
  api/types/network/ipam.go
  api/types/network/network.go
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/create.go
  daemon/create_test.go
  docs/api/version-history.md
  integration-cli/docker_cli_network_unix_test.go
  libnetwork/network.go
Labels: kind/enhancement, impact/api, area/daemon, area/ux

#46512 Don't run tests twice
  integration/config/main_test.go
  integration/network/macvlan/main_test.go
  integration/plugin/common/main_test.go
Labels: status/2-code-review, area/testing

#46513 c8d/pull: Support legacy schema1 prettyjws manifests
  daemon/containerd/image_pull.go
  distribution/errors.go
  distribution/pull_v2.go
Labels: status/2-code-review, kind/enhancement, area/images, containerd-integration

#46511 c8d: Number of containers using an image
  daemon/containerd/image_list.go
Labels: status/2-code-review, area/images, containerd-integration

#46479 api/pull: Move reference parsing from imageService, validate repo
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_pull.go
  daemon/image_service.go
  daemon/images/image_pull.go
Labels: area/api, status/2-code-review, area/images, kind/bugfix, containerd-integration

#46505 [24.0 backport] libcontainerd/windows: Fix cleanup on `newIOFromProcess` error
  libcontainerd/local/local_windows.go
Labels: platform/windows, kind/bugfix

#46342 libnetwork: nwAgent.bindAddr: change to net.IP
  libnetwork/agent.go
Labels: status/2-code-review, area/networking, kind/refactor

#46315 libnetwork/osl: Namespace: assorted cleanups
  libnetwork/osl/interface_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/neigh_linux.go
  libnetwork/osl/options_linux.go
  libnetwork/osl/route_linux.go
Labels: status/2-code-review, area/networking, kind/refactor

#46515 c8d/pull: Fix stale Downloading progress
  daemon/containerd/image_pull.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration, area/ux

#46495 c8d: Fix getting image with platform
  daemon/containerd/image.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#46463 client: negotiate api version before handling version-specific code
  client/build_prune.go
  client/client.go
  client/config_create.go
  client/config_inspect.go
  client/config_list.go
  client/config_remove.go
  client/config_update.go
  client/container_create.go
  client/container_exec.go
  client/container_prune.go
  client/container_restart.go
  client/container_stop.go
  client/container_wait.go
  client/distribution_inspect.go
  client/errors.go
  client/image_build.go
  client/image_list.go
  client/image_prune.go
  client/network_create.go
  client/network_prune.go
  client/plugin_upgrade.go
  client/secret_create.go
  client/secret_inspect.go
  client/secret_list.go
  client/secret_remove.go
  client/secret_update.go
  client/service_create.go
  client/service_update.go
  client/volume_prune.go
  client/volume_remove.go
  client/volume_update.go
Labels: area/api, area/cli, status/2-code-review, kind/bugfix

#46502 c8d: Fix `docker diff`
  daemon/containerd/image_changes.go
  daemon/containerd/image_snapshot.go
  daemon/containerd/image_snapshot_unix.go
  daemon/containerd/image_snapshot_windows.go
  daemon/containerd/service.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/image.go
  integration/container/diff_test.go
Labels: status/2-code-review, kind/bugfix, containerd-integration

#46365 libnetwork: Endpoint: fixing some nits
  libnetwork/endpoint_info.go
Labels: status/2-code-review, area/networking, kind/refactor

#46521 Fix graphdriver lookup in makefile
  Makefile
Labels: status/4-merge, area/testing, kind/bugfix

#46348 libnetwork: rewrite Network.isClusterEligible to return agent
  libnetwork/agent.go
Labels: status/4-merge, area/networking, kind/refactor

#46525 daemon: strongly type containerd log.OutputFormat
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/config/config.go
  libcontainerd/supervisor/remote_daemon_options.go
Labels: status/2-code-review, area/daemon

#46526 builder-next: make stub executor generic
  builder/builder-next/executor_linux.go
  builder/builder-next/executor_nolinux.go
  builder/builder-next/executor_windows.go
Labels: area/builder, status/2-code-review, kind/refactor, area/builder/buildkit

#46534 c8d/integration-cli: Skip graphdriver specific tests
  integration-cli/docker_cli_save_load_test.go
Labels: status/4-merge, area/testing, containerd-integration

#46484 daemon: containers list code refactor
  daemon/list.go
Labels: status/4-merge, area/daemon, kind/refactor

#46536 integration-cli/TestSaveAndLoadRepoFlags: Ignore LastTagTime difference
  integration-cli/docker_cli_save_load_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46535 integration-cli/SaveLoad: Don't check `repositories` file
  integration-cli/docker_cli_save_load_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46386 Add support for swarm seccomp and apparmor
  api/server/router/swarm/helpers.go
  api/swagger.yaml
  api/types/swarm/container.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  docs/api/version-history.md
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/api/api.pb.txt
  vendor/github.com/moby/swarmkit/v2/api/types.pb.go
  vendor/github.com/moby/swarmkit/v2/api/types.proto
  vendor/modules.txt
Labels: status/2-code-review, kind/feature, impact/api, impact/changelog, impact/cli, docs/revisit, area/swarm

#46540 [24.0 backport] daemon/cluster: format code with gofumpt
  daemon/cluster/cluster.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/convert/network.go
  daemon/cluster/convert/node_test.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/adapter_test.go
  daemon/cluster/listen_addr.go
  daemon/cluster/utils.go
Labels: status/2-code-review, kind/refactor

#46541 hack: Run integration tests through Delve
  docs/contributing/debug.md
  hack/make/.integration-test-helpers
Labels: status/2-code-review, kind/enhancement, area/contrib

#46530 libnetwork: assorted cleanups in Sandbox
  libnetwork/sandbox.go
  libnetwork/sandbox_store.go
Labels: status/2-code-review, area/networking, kind/refactor

#46544 api: Add method and path to trace operation string
  api/server/server.go
Labels: status/4-merge, area/daemon, kind/bugfix

#46549 libnetwork: nwAgent: un-export mutex
  libnetwork/agent.go
Labels: status/2-code-review, area/networking, kind/refactor

#46548 libnetwork: inline populateSpecial NetworkWalker
  libnetwork/controller.go
  libnetwork/store.go
Labels: status/2-code-review, area/networking, kind/refactor

#46547 libnetwork: Controller: remove mutex for "store"
  libnetwork/store.go
Labels: status/2-code-review, area/networking, kind/refactor

#46545 libnetwork: Controller.NetworkByID: remove redundant error-handling
  libnetwork/controller.go
Labels: status/2-code-review, area/networking, kind/refactor

#46546 libnetwork: Controller.cleanupLocalEndpoints, sandboxCleanup: return errors
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/sandbox_store.go
Labels: status/2-code-review, area/networking, kind/refactor

#46554 remove some intermediate vars, and small refactor for error-handling
  daemon/daemon_windows.go
  daemon/network.go
  libnetwork/agent.go
  libnetwork/datastore/datastore.go
Labels: status/2-code-review, area/networking, kind/refactor

#46552 internal: Add compatcontext.WithoutCancel
  internal/compatcontext/cancel.go
  internal/compatcontext/cancel_go121.go
Labels: status/2-code-review, kind/enhancement

#46555 fix faulty tests for distribution-client
  distribution/pull_v2_test.go
  integration-cli/docker_cli_push_test.go
Labels: area/distribution, status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#46561 c8d: Adjust some integration-cli tests
  integration-cli/docker_cli_by_digest_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46562 vendor.mod: bump go line to 1.20
  hack/with-go-mod.sh
  vendor.mod
Labels: status/2-code-review, area/packaging

#46069 update to go1.21.1, default to GOTOOLCHAIN=local
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#46559 [24.0 backport] rename uses of "max", "min", which are now builtins in go1.21
  api/types/versions/compare.go
  daemon/health.go
  daemon/images/image_windows.go
  integration/internal/swarm/states.go
  pkg/archive/changes_test.go
  pkg/plugins/client.go
  pkg/sysinfo/sysinfo.go
  pkg/tailfile/tailfile_test.go
  restartmanager/restartmanager.go
Labels: status/2-code-review, kind/refactor

#46519 c8d: Skip the test that checks Config.Image
  integration-cli/docker_cli_by_digest_test.go
Labels: area/testing, area/images, containerd-integration

#46543 c8d: Fix getting the platform of a single-platform image
  daemon/containerd/image.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration, process/cherry-pick/24.0
