Repository moby/moby, pull requests merged in 2023-08, with the labels that each got.

#46122 Fix TestDaemonProxy integration tests
  integration/daemon/daemon_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, kind/bugfix

#46115 [24.0 backport] api/types/filters: fix errors not being matched by errors.Is()
  api/types/filters/parse.go
  api/types/filters/parse_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#46109 libnetwork/driver: remove discoverAPI from Windows and Windows overlay
  libnetwork/drivers/windows/overlay/overlay_windows.go
  libnetwork/drivers/windows/windows.go
Labels: platform/windows, status/2-code-review, area/networking, kind/refactor

#46123 swap logrus types for their containerd/logs aliases
  api/server/httpstatus/status.go
  api/server/middleware.go
  api/server/router/swarm/cluster_routes.go
  cli/debug/debug.go
  cli/debug/debug_test.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/docker.go
  daemon/cluster/controllers/plugin/controller.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/executor.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/containerd/image_children.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_import.go
  daemon/containerd/image_list.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_tag.go
  daemon/containerd/resolver.go
  daemon/containerd/service.go
  daemon/daemon.go
  daemon/images/store.go
  daemon/list.go
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/loggerutils/follow.go
  daemon/logs.go
  daemon/monitor.go
  daemon/mounts.go
  daemon/network.go
  daemon/reload.go
  distribution/pull_v2.go
  image/store.go
  integration-cli/docker_cli_logs_test.go
  libcontainerd/local/local_windows.go
  libcontainerd/remote/client.go
  libcontainerd/remote/client_io_windows.go
  libnetwork/cmd/diagnostic/main.go
  libnetwork/cmd/networkdb-test/testMain.go
  libnetwork/diagnostic/server.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/networkdb/networkdbdiagnostic.go
  libnetwork/resolver.go
  pkg/archive/archive.go
  plugin/executor/containerd/containerd.go
  plugin/manager.go
  registry/config.go
  volume/local/local.go
  volume/mounts/mounts.go
Labels: status/4-merge, kind/refactor

#46100 libnetwork: rename vars that collided with builtin and type
  libnetwork/network.go
Labels: status/2-code-review, area/networking, kind/refactor

#46121 [23.0 backport] vendor: gotest.tools/v3 v3.5.0
  hack/validate/golangci-lint.yml
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/ops.go
  vendor/gotest.tools/v3/poll/check.go
  vendor/gotest.tools/v3/poll/poll.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing

#46120 [24.0 backport] vendor: gotest.tools/v3 v3.5.0
  hack/validate/golangci-lint.yml
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/assert/cmp/result.go
  vendor/gotest.tools/v3/assert/opt/opt.go
  vendor/gotest.tools/v3/env/env.go
  vendor/gotest.tools/v3/icmd/command.go
  vendor/gotest.tools/v3/icmd/ops.go
  vendor/gotest.tools/v3/poll/check.go
  vendor/gotest.tools/v3/poll/poll.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing

#46139 update to go1.20.7
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#46140 [24.0 backport] update to go1.20.7
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#46141 [23.0 backport] update to go1.20.7
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#46142 [20.10] update to go1.19.12
  Dockerfile
  Dockerfile.e2e
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#46143 docs/api: remove stray underscore in version-history.md
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs, kind/bugfix

#46055 daemon: cleanup buildCreateEndpointOptions
  daemon/network.go
Labels: status/2-code-review, area/networking, area/daemon, kind/refactor

#46144 daemon: Remove unneeded error wrapping in verifyNetworkingConfig
  daemon/create.go
  daemon/create_test.go
Labels: status/4-merge, area/daemon, kind/refactor

#46133 client: some cleanups
  client/buildkit/buildkit.go
  client/client.go
  client/hijack.go
  client/transport.go
Labels: status/2-code-review, kind/refactor

#46130 bakefile: Remove default value of DOCKER_GITCOMMIT
  docker-bake.hcl
Labels: status/2-code-review, area/project

#46135 [23.0 backport] Improve test daemon logging, and fix TestDaemonProxy integration tests
  integration/daemon/daemon_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, kind/enhancement, area/testing, kind/bugfix

#46134 [24.0 backport] Improve test daemon logging, and fix TestDaemonProxy integration tests
  integration/daemon/daemon_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, kind/enhancement, area/testing, kind/bugfix

#46157 pkg/plugins: Guard storage and unparallel racy tests
  pkg/plugins/plugin_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#46056 daemon: assorted cleanups
  daemon/container_operations.go
  daemon/network.go
Labels: status/2-code-review, area/networking, area/daemon, kind/refactor

#46004 Add CDISpecDirs to Info output
  api/swagger.yaml
  api/types/system/info.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/cdi.go
  daemon/config/config.go
  daemon/info.go
  docs/api/version-history.md
  integration/container/cdi_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#46058 daemon: cleanup Daemon.buildSandboxOptions
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
  daemon/oci_windows.go
  libnetwork/sandbox.go
Labels: status/2-code-review, area/networking, area/daemon, kind/refactor

#46080 pkg/plugins: some cleaning up (step 2)
  integration-cli/docker_cli_external_volume_driver_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/plugin/graphdriver/external_test.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/ipams/remote/remote_test.go
  libnetwork/libnetwork_test.go
  pkg/plugins/client.go
  pkg/plugins/transport/mimetype.go
  volume/drivers/proxy_test.go
Labels: status/4-merge, area/testing, area/plugins, kind/refactor

#46165 api: Remove duplicated check on CheckDuplicate
  api/server/router/network/network_routes.go
  libnetwork/error.go
Labels: area/api, status/2-code-review, kind/refactor

#46039 libnetwork/drivers/bridge: assorted cleanups
  libnetwork/drivers/bridge/bridge.go
  libnetwork/drivers/bridge/link.go
  libnetwork/drivers/bridge/link_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/d/bridge

#46170 daemon/network.go: Remove github.com/pkg/errors pkg
  daemon/network.go
Labels: status/4-merge, area/daemon, kind/refactor

#46166 pkg/plugins: override timeouts during tests
  pkg/plugins/client.go
  pkg/plugins/client_test.go
  pkg/plugins/plugin_test.go
  pkg/plugins/plugins.go
Labels: status/4-merge, area/testing

#46051 libnetwork/ipam: assorted cleanup and refactor
  libnetwork/ipam/allocator.go
  libnetwork/ipam/allocator_test.go
  libnetwork/ipam/structures.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/null/null.go
  libnetwork/ipams/null/null_test.go
  libnetwork/ipams/remote/remote.go
  libnetwork/ipams/windowsipam/windowsipam.go
  libnetwork/network.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/ipam

#46173 libnet/ipamapi: Remove unused errors
  libnetwork/ipamapi/contract.go
Labels: status/2-code-review, area/networking, kind/refactor

#46075 libnetwork: remove Network.Info() and remove NetworkInfo interface
  daemon/cluster/networks.go
  daemon/container_operations.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/network.go
  daemon/prune.go
  libnetwork/agent.go
  libnetwork/network.go
  libnetwork/network_windows.go
Labels: status/2-code-review, area/networking, kind/refactor

#46174 libnetwork/osl: remove redundant locks, and assorted cleanups
  libnetwork/osl/interface_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/sandbox.go
  libnetwork/osl/sandbox_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#46169 hack/test: Fix `TEST_FILTER` with regex matching integration and integration-cli tests
  hack/make/.integration-test-helpers
Labels: status/2-code-review, area/testing, kind/bugfix

#46168 hack/test: Don't fail-fast before integration-cli
  hack/make/.integration-test-helpers
Labels: status/2-code-review, area/testing, process/cherry-pick, kind/bugfix

#46175 pkg/plugins: Rewrite with assert.Check
  pkg/plugins/plugin_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#46178 [23.0 backport] hack/test: Don't fail-fast before integration-cli
  hack/make/.integration-test-helpers
Labels: area/testing, kind/bugfix

#46179 [24.0 backport] integration/windows: Unskip some kill tests
  integration/container/kill_test.go
Labels: platform/windows, area/testing

#46176 integration/tag: Use subtests, make parallel and move to client unit test
  client/image_tag_test.go
  integration/image/tag_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#46181 test/volume: Replace Check with NilError where suitable
  volume/mounts/lcow_parser_test.go
  volume/mounts/linux_parser_test.go
  volume/mounts/parser_test.go
  volume/mounts/windows_parser_test.go
  volume/service/store_test.go
Labels: status/2-code-review, area/testing

#46182 daemon/create.go: Supersede github.com/pkg/errors
  daemon/create.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_run_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#46171 client: Client.buildRequest: use http.NewRequestWithContext
  client/hijack.go
  client/ping.go
  client/request.go
Labels: status/2-code-review, kind/refactor

#46193 daemon: Daemon.containerStart(): add comment to clarify error-type
  daemon/start.go
Labels: status/2-code-review, area/daemon

#46191 integration/container: refactor some test-utilities and fix var-names shadowing imports
  integration/container/attach_test.go
  integration/container/cdi_test.go
  integration/container/checkpoint_test.go
  integration/container/copy_test.go
  integration/container/create_test.go
  integration/container/daemon_linux_test.go
  integration/container/daemon_test.go
  integration/container/devices_windows_test.go
  integration/container/diff_test.go
  integration/container/exec_linux_test.go
  integration/container/exec_test.go
  integration/container/export_test.go
  integration/container/health_test.go
  integration/container/inspect_test.go
  integration/container/ipcmode_linux_test.go
  integration/container/kill_test.go
  integration/container/links_linux_test.go
  integration/container/logs_test.go
  integration/container/mounts_linux_test.go
  integration/container/nat_test.go
  integration/container/pause_test.go
  integration/container/pidmode_linux_test.go
  integration/container/ps_test.go
  integration/container/remove_test.go
  integration/container/rename_test.go
  integration/container/resize_test.go
  integration/container/restart_test.go
  integration/container/run_cgroupns_linux_test.go
  integration/container/run_linux_test.go
  integration/container/stats_test.go
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
  integration/container/update_linux_test.go
  integration/container/update_test.go
  integration/internal/container/container.go
  integration/internal/container/exec.go
  integration/internal/container/ns.go
  integration/internal/container/states.go
Labels: status/2-code-review, kind/enhancement, area/testing, kind/refactor

#46187 libnetwork: move some code to platform-specific files
  internal/testutils/netnsutils/context.go
  internal/testutils/netnsutils/context_unix.go
  internal/testutils/netnsutils/context_windows.go
  libnetwork/resolver.go
  libnetwork/resolver_test.go
  libnetwork/resolver_unix_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_unix_test.go
  libnetwork/sandbox_dns_windows.go
  libnetwork/service_common_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#46208 oci: DefaultLinuxSpec: use OCI-spec consts for namespaces
  oci/defaults.go
Labels: area/runtime, status/2-code-review, kind/refactor

#46209 integration/internal/container: add WithPIDMode option
  integration/container/pidmode_linux_test.go
  integration/internal/container/ops.go
Labels: status/2-code-review, kind/enhancement, area/testing

#46192 update runc to v1.1.9
  Dockerfile
  hack/dockerfile/install/runc.installer
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: area/runtime, impact/changelog, area/testing, process/cherry-pick, area/packaging, process/cherry-pick/20.10, process/cherry-pick/23.0, process/cherry-pick/24.0

#46224 Remove s390x and ppc64le Jenkins pipelines
  Jenkinsfile
Labels: status/2-code-review, area/testing, process/cherry-pick, platform/ibm-power, platform/ibm-z, kind/refactor

#46231 [24.0 backport] remove s390x and ppc64ls pipelines
  Jenkinsfile
Labels: status/2-code-review, area/testing

#46228 [24.0 backport] update runc binary to v1.1.9
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#46221 [24.0 backport] Do not drop effective&permitted set
  integration/capabilities/capabilities_linux_test.go
  integration/capabilities/main_linux_test.go
  integration/internal/container/ops.go
  oci/oci.go
Labels: area/runtime, status/2-code-review, impact/changelog, kind/bugfix

#46219 [24.0 backport] hack: use Git-free ROOTDIR
  Dockerfile
  hack/generate-authors.sh
  hack/make/.binary
  hack/validate/no-module
  hack/with-go-mod.sh
Labels: status/2-code-review, area/packaging

#46218 [24.0 backport] vendor: github.com/containerd/containerd v1.6.22
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/.mailmap
  vendor/github.com/containerd/containerd/Makefile
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/diff.go
  vendor/github.com/containerd/containerd/log/context.go
  vendor/github.com/containerd/containerd/pkg/atomicfile/file.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo_linux.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo_other.go
  vendor/github.com/containerd/containerd/platforms/database.go
  vendor/github.com/containerd/containerd/plugin/context.go
  vendor/github.com/containerd/containerd/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/runtime/v2/shim/util.go
  vendor/github.com/containerd/containerd/task.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#46215 [24.0 backport] windows: fix --register-service when executed from within binary directory
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#46214 [24.0 backport] libnet/d/bridge: Allow IPv6 ICC from any IP address
  libnetwork/drivers/bridge/setup_ip_tables.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix, area/networking/ipv6, area/networking/firewalld

#46198 libnetwork: rename and merge unix-only testfiles
  libnetwork/endpoint_unix_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/libnetwork_test.go
  libnetwork/sandbox_unix_test.go
  libnetwork/service_common_unix_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor

#46197 libnetwork/drivers/bridge: rename some linux-only files
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/interface_linux.go
  libnetwork/drivers/bridge/interface_linux_test.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_device_linux.go
  libnetwork/drivers/bridge/setup_device_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/bridge/setup_ipv4_linux.go
  libnetwork/drivers/bridge/setup_ipv4_linux_test.go
  libnetwork/drivers/bridge/setup_ipv6_linux.go
  libnetwork/drivers/bridge/setup_ipv6_linux_test.go
  libnetwork/drivers/bridge/setup_verify_linux.go
  libnetwork/drivers/bridge/setup_verify_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#46229 [23.0 backport] update runc binary to v1.1.9
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#46236 libnetwork/drivers/bridge: setupIPChains(): name output variables
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/d/bridge

#46195 daemon: Daemon.ContainerStart(): make validateState a regular function, and remove containerNotModifiedError
  daemon/errors.go
  daemon/start.go
  daemon/stop.go
Labels: status/2-code-review, area/daemon, kind/refactor

#46257 ci(bin-image): populate DOCKER_GITCOMMIT
  .github/workflows/bin-image.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, area/packaging

#46242 vendor: github.com/moby/swarmkit/v2 v2.0.0-20230815220644-3f2e40b3ed51
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/manager.go
  vendor/github.com/moby/swarmkit/v2/manager/allocator/cnmallocator/networkallocator.go
  vendor/modules.txt
Labels: status/2-code-review, area/swarm

#46259 ci(bin-image): populate DOCKER_GITCOMMIT, take 2
  .github/workflows/bin-image.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, area/packaging

#46243 libnetwork/datastore: remove deprecated scope consts
  libnetwork/datastore/datastore.go
Labels: status/2-code-review, area/networking, impact/deprecation, kind/refactor

#46261 volume/local: Fix debug log typo
  volume/local/local.go
Labels: status/2-code-review, process/cherry-pick, area/volumes, kind/bugfix

#46260 [24.0 backport] Fix DOCKER_GITCOMMIT in moby-bin
  .github/workflows/bin-image.yml
  docker-bake.hcl
Labels: status/4-merge, area/packaging, kind/bugfix

#46263 [24.0 backport] volume/local: Fix debug log typo
  volume/local/local.go
Labels: status/4-merge, area/volumes, kind/bugfix

#46189 c8d integration: Use refcount mounter for diff and export
  daemon/containerd/image_changes.go
  daemon/containerd/image_exporter.go
  integration/container/overlayfs_linux_test.go
Labels: area/runtime, status/2-code-review, kind/bugfix, containerd-integration, process/cherry-pick/24.0

#46238 c8d/inspect: Ignore manifest with missing config
  daemon/containerd/image.go
Labels: area/images, kind/bugfix, containerd-integration, process/cherry-pick/24.0

#46244 [24.0 backport] c8d/inspect: Ignore manifest with missing config
  daemon/containerd/image.go
Labels: status/4-merge, area/images, kind/bugfix, containerd-integration

#46146 api: Convert libnet's errors into HTTP status code
  libnetwork/controller.go
  libnetwork/datastore/datastore.go
  libnetwork/datastore/mockstore_test.go
  libnetwork/driverapi/ipamdata.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/errors.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/ipvlan/ipvlan_state.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/macvlan/macvlan_state.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/drivers/windows/overlay/ov_network_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/drivers/windows/windows_test.go
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/error.go
  libnetwork/errors_test.go
  libnetwork/ipam/allocator.go
  libnetwork/ipam/structures.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/null/null.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/network.go
  libnetwork/sandbox.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/types/types.go
  libnetwork/types/types_test.go
Labels: area/api, status/2-code-review, impact/api, kind/refactor

#46273 ci(bin-image): check repo origin
  .github/workflows/bin-image.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, area/packaging, process/cherry-pick/24.0

#46266 [24.0 backport] c8d integration: Use refcount mounter for diff and export
  daemon/containerd/image_changes.go
  daemon/containerd/image_exporter.go
  integration/container/overlayfs_linux_test.go
Labels: area/runtime, status/4-merge, kind/bugfix, containerd-integration

#46137 distribution: update warning for deprecated image formats
  distribution/pull_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation

#45534 fix: Normalize `RLIMIT_NOFILE` to sensible defaults
  contrib/init/openrc/docker.confd
  contrib/init/openrc/docker.initd
  contrib/init/systemd/docker.service
  contrib/init/sysvinit-debian/docker
Labels: status/2-code-review, area/systemd, status/needs-attention, impact/changelog, process/cherry-pick, area/packaging, process/cherry-pick/20.10, process/cherry-pick/23.0, process/cherry-pick/24.0

#46206 libnetwork: implement Controller.GetSandbox, remove Controller.WalkSandboxes and related code
  daemon/container_operations.go
  libnetwork/controller.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_externalkey_unix.go
  libnetwork/sandbox_unix_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#46271 bin-image: metadata cleanup, take two
  .github/workflows/bin-image.yml
  Makefile
  docker-bake.hcl
  hack/make.sh
Labels: status/2-code-review, area/testing, process/cherry-pick, area/packaging, process/cherry-pick/24.0

#46290 [24.0 backport] distribution: update warning for deprecated image formats
  distribution/pull_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation

#46286 [24.0 backport] gha: set 10-minute timeout on "report" actions
  .github/workflows/test.yml
Labels: status/2-code-review, area/testing

#46287 [23.0 backport] gha: set 10-minute timeout on "report" actions
  .github/workflows/test.yml
Labels: status/2-code-review, area/testing

#46239 libnetwork: rename vars that collided
  libnetwork/agent.go
  libnetwork/controller.go
  libnetwork/drvregistry/ipams_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#45759 Validate IPAM config before handing it over to libnetwork
  api/swagger.yaml
  api/types/network/ipam.go
  api/types/network/ipam_test.go
  api/types/network/network.go
  daemon/network.go
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/version-history.md
  hack/make/test-docker-py
  libnetwork/ipam/allocator.go
Labels: area/api, status/4-merge, kind/enhancement, area/networking, impact/api, impact/changelog, area/networking/ipam

#44704 api/types/container: add RestartPolicyMode type and enum
  api/types/container/errors.go
  api/types/container/hostconfig.go
  api/types/container/hostconfig_test.go
  api/types/container/hostconfig_unix_test.go
  daemon/container.go
  daemon/create.go
  daemon/daemon.go
  integration/container/daemon_linux_test.go
  integration/container/kill_test.go
  integration/container/stop_test.go
  integration/daemon/daemon_test.go
  integration/internal/container/ops.go
Labels: area/api, status/2-code-review, kind/refactor

#46296 replace dockerfile/dockerignore with patternmatcher/ignorefile
  builder/remotecontext/detect.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/patternmatcher/ignorefile/ignorefile.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, process/cherry-pick

#46279 libnetwork/osl: remove Sandbox.Info()
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/sandbox.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/sandbox.go
  libnetwork/service_linux.go
Labels: status/2-code-review, area/networking, kind/refactor

#46264 libnetwork: move all SandboxOptions to a separate file
  libnetwork/sandbox.go
  libnetwork/sandbox_options.go
Labels: status/2-code-review, area/networking, kind/refactor

#46247 libnetwork/iptables: un-export ZoneSettings, and slight refactor
  libnetwork/iptables/firewalld.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/firewalld

#46240 libnetwork: Controller.NewNetwork, Controller.NewSandbox: use named error-return
  libnetwork/controller.go
Labels: status/2-code-review, area/networking, kind/refactor

#46226 libnetwork/iptables: reduce DeleteConntrackEntriesXX debug logs
  libnetwork/iptables/conntrack.go
Labels: status/2-code-review, area/networking, kind/refactor

#46205 libnetwork: cleanup SetBasePath, un-export SetExternalKey and other cleanups
  libnetwork/config/config.go
  libnetwork/config/config_freebsd.go
  libnetwork/config/config_linux.go
  libnetwork/config/config_unsupported.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/namespace_unsupported.go
  libnetwork/osl/namespace_windows.go
  libnetwork/osl/sandbox_freebsd.go
  libnetwork/sandbox_externalkey_unix.go
Labels: status/2-code-review, area/networking, kind/refactor

#46262 libnetwork: resolve: assorted cleanups
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/dns

#46289 [24.0 backport] ci(bin-image): GHA and metadata improvements
  .github/workflows/bin-image.yml
  Dockerfile.e2e
  Makefile
  docker-bake.hcl
  hack/make.sh
  hack/make/.detect-daemon-osarch
  hack/make/.integration-daemon-setup
  hack/make/.integration-daemon-start
  hack/make/.integration-test-helpers
  hack/make/build-integration-test-binary
  hack/make/test-integration
  hack/make/test-integration-cli
  hack/make/test-integration-shell
  hack/test/e2e-run.sh
Labels: status/2-code-review, area/testing, area/packaging

#46293 Don't return lease not found errors on platform mismatch
  daemon/images/image.go
Labels: status/2-code-review, process/cherry-pick, area/images, kind/bugfix

#46300 [24.0 backport] Don't return an error if the lease is not found
  daemon/images/image.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix

#46284 c8d: Fix building Dockerfiles that have `FROM scratch`
  daemon/containerd/image_commit.go
  daemon/containerd/image_snapshot.go
  daemon/delete.go
  pkg/archive/diff.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/classic-builder, containerd-integration

#46246 libnetwork/iptables: fix TestFirewalldInit
  libnetwork/iptables/firewalld_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/bugfix, area/networking/firewalld

#46207 daemon: withLibnetwork(): return early if networking is disabled
  daemon/oci_linux.go
Labels: area/runtime, status/2-code-review, area/networking, kind/refactor

#46201 libnetwork: remove unused err-return, and minor refactor around Sandbox creating
  daemon/container_operations.go
  daemon/inspect.go
  daemon/network/settings.go
  libnetwork/controller.go
Labels: status/2-code-review, area/networking, area/daemon, kind/refactor

#46245 libnetwork/iptables: ProgramChain: don't fail if interface not found
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/iptables.go
Labels: status/2-code-review, area/networking, area/networking/firewalld

#46302 [24.0 backport] c8d: Fix building Dockerfiles that have `FROM scratch`
  daemon/containerd/image_commit.go
  daemon/containerd/image_snapshot.go
  daemon/delete.go
  pkg/archive/diff.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/classic-builder, containerd-integration

#46303 TestDiskUsage: don't panic if results don't match
  integration/system/disk_usage_test.go
Labels: status/2-code-review, area/testing, containerd-integration

#46149 libnetwork/osl: remove Interface Interface and other funny stories
  libnetwork/controller.go
  libnetwork/controller_linux.go
  libnetwork/controller_others.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/interface_unsupported.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/neigh_linux.go
  libnetwork/osl/options_linux.go
  libnetwork/osl/route_linux.go
  libnetwork/osl/sandbox.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_dns_windows.go
  libnetwork/sandbox_linux.go
  libnetwork/sandbox_store.go
  libnetwork/sandbox_unsupported.go
Labels: status/2-code-review, area/networking, kind/refactor

#46301 c8d/legacybuilder: Fix `mismatched image rootfs` errors
  daemon/containerd/image_builder.go
  image/image.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/classic-builder, containerd-integration, process/cherry-pick/24.0

#46307 test: update registry version to latest
  Dockerfile
  testutil/registry/registry.go
Labels: status/2-code-review, area/testing

#46213 daemon: cleanupContainer: don't fail if container is already stopped
  daemon/delete.go
  daemon/delete_test.go
  daemon/errors.go
  daemon/errors_test.go
  hack/make/test-docker-py
  integration-cli/docker_api_containers_test.go
  integration/container/remove_test.go
Labels: status/2-code-review, area/daemon

#46310 [24.0 backport] c8d/legacybuilder: Fix `mismatched image rootfs` errors
  daemon/containerd/image_builder.go
  image/image.go
Labels: area/builder, kind/bugfix, area/builder/classic-builder, containerd-integration

#46312 test/integration: Download the registry binary
  Dockerfile
Labels: status/2-code-review, area/testing

#46305 libnetwork/osl: remove Sandbox and Info interfaces
  libnetwork/controller.go
  libnetwork/controller_linux.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/namespace_unsupported.go
  libnetwork/osl/namespace_windows.go
  libnetwork/osl/neigh_linux.go
  libnetwork/osl/route_linux.go
  libnetwork/osl/sandbox.go
  libnetwork/osl/sandbox_freebsd.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/osl/sandbox_unsupported.go
  libnetwork/osl/sandbox_unsupported_test.go
  libnetwork/sandbox.go
  libnetwork/sandbox_linux.go
  libnetwork/sandbox_unsupported.go
Labels: status/2-code-review, area/networking, kind/refactor

#46304 libnetwork/iptables: (Add|Del)InterfaceFirewalld: check firewalld status
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/iptables.go
Labels: status/2-code-review, kind/enhancement, area/networking, area/networking/firewalld

#46314 libnetwork: add godoc to Endpoint
  libnetwork/endpoint_info.go
Labels: status/2-code-review, area/networking, kind/refactor

#46211 daemon: WithNamespaces(): improve error-handling, and assorted cleanups
  daemon/container.go
  daemon/container_operations_unix.go
  daemon/oci_linux.go
  integration/container/pidmode_linux_test.go
Labels: area/runtime, status/2-code-review, area/daemon, kind/refactor

#46317 Format code with gofumpt
  api/server/router/container/container_routes.go
  builder/builder-next/controller.go
  container/container.go
  container/container_unix.go
  container/view_test.go
  contrib/apparmor/main.go
  daemon/config/config_test.go
  daemon/runtime_unix.go
  daemon/snapshotter/mount.go
  image/fs.go
  image/fs_test.go
  image/tarexport/save.go
  integration/build/build_test.go
  integration/capabilities/capabilities_linux_test.go
  integration/config/config_test.go
  integration/daemon/daemon_test.go
  integration/secret/secret_test.go
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_freebsd.go
  pkg/chrootarchive/archive_linux.go
  pkg/containerfs/rm_test.go
  pkg/fileutils/fileutils.go
  pkg/loopback/attach_loopback.go
  pkg/stack/stackdump.go
  pkg/sysinfo/sysinfo_linux_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, kind/refactor

#46316 remove some remaining pre-go1.17 build-tags
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/copy/copy_test.go
  daemon/graphdriver/overlayutils/overlayutils.go
  daemon/graphdriver/overlayutils/randomid.go
  daemon/graphdriver/overlayutils/userxattr.go
  daemon/graphdriver/windows/windows.go
  daemon/initlayer/setup_unix.go
  internal/tools/tools.go
  internal/unshare/unshare_linux.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ipvlan_endpoint.go
  libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/ipvlan/ipvlan_setup.go
  libnetwork/drivers/ipvlan/ipvlan_setup_test.go
  libnetwork/drivers/ipvlan/ipvlan_state.go
  libnetwork/drivers/ipvlan/ipvlan_store.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/macvlan/macvlan_endpoint.go
  libnetwork/drivers/macvlan/macvlan_joinleave.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/macvlan/macvlan_setup.go
  libnetwork/drivers/macvlan/macvlan_setup_test.go
  libnetwork/drivers/macvlan/macvlan_state.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/iptables/conntrack.go
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
  pkg/loopback/attach_loopback.go
  pkg/loopback/loopback.go
  profiles/apparmor/apparmor.go
  profiles/apparmor/template.go
Labels: status/2-code-review, kind/refactor

#46321 update golangci-lint to v1.54.2
  Dockerfile
  daemon/logger/splunk/splunk.go
  hack/validate/golangci-lint.yml
  testutil/environment/special_images.go
Labels: status/2-code-review, area/testing, process/cherry-pick

#46324 Dockerfile: Windows: update Golang download domains to cut down redirects
  Dockerfile.windows
  hack/make.ps1
  hack/make.sh
Labels: status/2-code-review, area/testing, process/cherry-picked, area/packaging

#46323 docs: update links to Go documentation
  CONTRIBUTING.md
  api/swagger.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick

#46325 [24.0 backport] Dockerfile: Windows: update Golang download domains to cut down redirects
  Dockerfile.windows
  hack/make.ps1
  hack/make.sh
Labels: status/2-code-review, area/testing, area/packaging

#46326 [23.0 backport] Dockerfile: Windows: update Golang download domains to cut down redirects
  Dockerfile.windows
  hack/make.ps1
  hack/make.sh
Labels: status/2-code-review, area/testing, area/packaging

#46331 [24.0 backport] update golangci-lint to v1.54.2
  Dockerfile
  daemon/logger/splunk/splunk.go
  hack/validate/golangci-lint.yml
  testutil/environment/special_images.go
Labels: status/2-code-review, area/testing

#46330 [24.0 backport] docs: update links to Go documentation
  CONTRIBUTING.md
  api/swagger.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
Labels: area/api, status/3-docs-review, area/docs

#46333 hack, Dockerfile: remove devicemapper leftover, build-tags, and libdevmapper-dev dependency
  Dockerfile
  Dockerfile.simple
  hack/make.sh
  hack/test/unit
Labels: area/storage/devicemapper, area/storage, status/4-merge, impact/deprecation, area/testing, area/packaging

#46340 Update example in README.md to close cli object (carry 46292)
  .mailmap
  client/README.md
Labels: status/3-docs-review, area/docs

#46349 Dockerfile: update crun binary to v1.8.7
  Dockerfile
Labels: area/runtime, status/2-code-review, area/testing, area/packaging

#46339 rename uses of "max", "min", which are now builtins in go1.21
  api/types/versions/compare.go
  daemon/health.go
  daemon/images/image_windows.go
  integration/internal/swarm/states.go
  pkg/archive/changes_test.go
  pkg/plugins/client.go
  pkg/sysinfo/sysinfo.go
  pkg/tailfile/tailfile_test.go
  restartmanager/restartmanager.go
Labels: status/2-code-review, kind/refactor

#46338 daemon: clean up event handling-code, and remove some dead code
  daemon/events.go
  daemon/events/events_test.go
  integration/container/pause_test.go
  integration/system/event_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#46334 api/server/router/network: remove empty file
  api/server/router/network/filter.go
Labels: area/api, status/2-code-review, kind/refactor

#46352 api: ValidateRestartPolicy: improve errors for invalid policies
  api/types/container/hostconfig.go
  api/types/container/hostconfig_test.go
  integration-cli/docker_api_containers_test.go
Labels: area/api, status/2-code-review, kind/enhancement, impact/api, impact/changelog, area/ux

#46336 Remove uses of deprecated "Status", "ID", and "From" fields for events
  client/events_test.go
  daemon/events/events_test.go
  daemon/events_test.go
  daemon/health_test.go
  integration-cli/docker_cli_events_test.go
  integration/container/pause_test.go
Labels: area/api, status/2-code-review, impact/deprecation, kind/refactor

#46350 api/types/events: make events.Type an actual type
  api/types/events/events.go
  client/events_test.go
  daemon/cluster/executor/container/container.go
  daemon/events/filter.go
  daemon/events/testutils/testutils.go
  integration/container/pause_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#46335 api/types: move checkpoint-types to api/types/checkpoint
  api/server/router/checkpoint/backend.go
  api/server/router/checkpoint/checkpoint_routes.go
  api/types/checkpoint/list.go
  api/types/checkpoint/options.go
  api/types/client.go
  api/types/types.go
  api/types/types_deprecated.go
  client/checkpoint_create.go
  client/checkpoint_create_test.go
  client/checkpoint_delete.go
  client/checkpoint_delete_test.go
  client/checkpoint_list.go
  client/checkpoint_list_test.go
  client/interface_experimental.go
  daemon/checkpoint.go
  integration/container/checkpoint_test.go
Labels: area/api, status/2-code-review, kind/refactor

#46354 daemon/events; fix TestLoadBufferedEventsOnlyFromPast
  daemon/events/events_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#46345 libnetwork: remove Endpoint.Interface()
  libnetwork/endpoint_info.go
  libnetwork/network.go
Labels: status/2-code-review, area/networking, kind/refactor

#46343 libnetwork/drivers/bridge: tests: remove some dead-code and return concrete type
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor, area/networking/d/bridge

#46344 libnetwork/drivers/remote: tests: cleanup dead code, and return concrete types
  libnetwork/drivers/remote/driver.go
  libnetwork/drivers/remote/driver_test.go
Labels: status/2-code-review, area/networking, area/testing, kind/refactor

#46357 distribution: use registry consts for API version in tests
  distribution/pull_v2_test.go
  distribution/registry_unit_test.go
Labels: area/distribution, area/testing, kind/refactor

#46356 registry: simplify `trimV1Address`
  registry/endpoint_test.go
  registry/endpoint_v1.go
Labels: area/distribution, status/2-code-review, kind/refactor

#46359 registry: deprecate APIEndpoint.Version and APIVersion type
  distribution/pull_v2_test.go
  distribution/push_v2_test.go
  distribution/registry_unit_test.go
  registry/service.go
  registry/service_v2.go
  registry/types.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation

#46361 registry: update some godoc
  registry/auth.go
  registry/config.go
  registry/service.go
Labels: area/distribution, status/2-code-review

#46364 libnetwork: notify another driver registerer
  libnetwork/controller.go
  libnetwork/drvregistry/networks.go
Labels: status/2-code-review, area/networking, kind/refactor

#46311 libnetwork: fix missing imports, code comment, and minor comment change (dupwords)
  libnetwork/drivers_freebsd.go
  libnetwork/drivers_unsupported.go
  libnetwork/service_common.go
Labels: status/2-code-review, area/networking, kind/bugfix, kind/refactor

#46253 volume/local: Don't unmount, restore mounted status
  integration/daemon/daemon_test.go
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Labels: area/volumes, kind/bugfix, process/cherry-pick/23.0, process/cherry-pick/24.0

#46366 [24.0 backport] volume/local: Don't unmount, restore mounted status
  integration/daemon/daemon_test.go
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Labels: status/2-code-review, impact/changelog, area/volumes, kind/bugfix

#46320 daemon/containerd: some fixes and enhancements
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_import.go
  daemon/containerd/image_push.go
Labels: status/2-code-review, area/images, containerd-integration

#43998 testing: update docker-py 6.1.3
  hack/make/test-docker-py
Labels: status/2-code-review, area/testing, process/cherry-pick

#46222 [23.0 backport] Do not drop effective&permitted set
  daemon/daemon_unix.go
  daemon/oci_linux.go
  daemon/oci_linux_test.go
  daemon/oci_opts.go
  daemon/oci_utils.go
  daemon/seccomp_linux.go
  daemon/update_linux.go
  daemon/update_linux_test.go
  integration/capabilities/capabilities_linux_test.go
  integration/capabilities/main_linux_test.go
  integration/internal/container/ops.go
  libcontainerd/remote/client_linux.go
  libcontainerd/types/types_linux.go
  oci/namespaces.go
  oci/oci.go
  pkg/rootless/specconv/specconv_linux.go
Labels: area/runtime, status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#46367 [23.0 backport] volume/local: Don't unmount, restore mounted status
  integration/daemon/daemon_test.go
  volume/local/local.go
  volume/local/local_unix.go
  volume/local/local_windows.go
Labels: status/2-code-review, impact/changelog, area/volumes, kind/bugfix

#46370 image/spec: minor fixes and touch-ups in markdown files
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
Labels: status/3-docs-review, area/docs, area/images

#46371 image/specs: add missing OnBuild (v1.0), ArgsEscaped (v1.1), and Shell (v1.2) fields
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
Labels: status/3-docs-review, area/docs

#46369 daemon: Daemon.killWithSignal(): don't fully discard errors, but log them
  daemon/kill.go
Labels: status/2-code-review, area/daemon

#46216 [23.0 backport] windows: fix --register-service when executed from within binary directory
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#46217 [20.10 backport] windows: fix --register-service when executed from within binary directory
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, area/daemon, kind/bugfix
