Repository moby/moby, pull requests merged in 2024-05, with the labels that each got.

#47749 apparmor: Allow confined runc to kill containers
  profiles/apparmor/template.go
Labels: area/security/apparmor, impact/changelog, area/packaging, kind/bugfix

#47656 Makefile: refactoring .PHONY
  Makefile
Labels: status/2-code-review, dco/no, area/testing, kind/refactor

#47797 Makefile: bundles is not PHONY
  Makefile
Labels: status/2-code-review, kind/bugfix

#47703 [25.0 backport] ci/validate-pr: Use `::error::` command to print errors
  .github/workflows/validate-pr.yml
Labels: status/2-code-review, area/testing

#47651 API: bump version to 1.46
  api/common.go
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, status/4-merge, impact/api

#47003 Move StartedAt time to before starting the container
  container/state.go
  container/state_test.go
  daemon/delete_test.go
  daemon/monitor.go
  daemon/start.go
  integration/container/daemon_linux_test.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#47745 Add firewalld policy "docker-forwarding".
  libnetwork/iptables/firewalld.go
Labels: status/2-code-review, kind/enhancement, area/networking, impact/changelog, impact/documentation, area/networking/firewalld

#47805 update to go1.21.10
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, process/cherry-picked, area/packaging, area/dependencies

#47806 [26.1 backport] update to go1.21.10
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, area/dependencies

#47810 libnet: don't check if ctrler store is nil
  libnetwork/endpoint_cnt.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
Labels: status/2-code-review, area/networking, kind/refactor

#47788 Fix/remove broken integration-cli IPv6 tests
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/requirements_test.go
Labels: area/cli, status/2-code-review, area/networking, area/testing, kind/bugfix

#47819 libnet/d/remote: replace errorWithRollback
  libnetwork/drivers/remote/driver.go
Labels: area/networking, kind/refactor

#47821 Forward DNS requests into --internal networks
  integration/networking/resolvconf_test.go
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix, area/networking/dns, version/26.0, process/cherry-pick/26.1

#47829 [26.1 backport] apparmor: Allow confined runc to kill containers
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/2-code-review, impact/changelog, area/packaging, kind/bugfix

#47629 tarexport: Plumb ctx, add OTEL spans, handle cancellation
  daemon/images/image_exporter.go
  image/image.go
  image/tarexport/load.go
  image/tarexport/save.go
  internal/ioutils/copy.go
  internal/ioutils/copy_test.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/images, area/metrics, area/metrics/otel

#47833 [26.1 backport] Do not forward DNS requests to self.
  integration/internal/container/ops.go
  integration/network/dns_test.go
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, kind/bugfix, area/networking/dns

#47832 [26.1 backport] Forward DNS requests into --internal networks
  integration/networking/resolvconf_test.go
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix, area/networking/dns

#47830 [25.0 backport] apparmor: Allow confined runc to kill containers
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/2-code-review, impact/changelog, area/packaging, kind/bugfix

#47831 [23.0 backport] apparmor: Allow confined runc to kill containers
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/2-code-review, impact/changelog, area/packaging

#47796 Explicity write http headers on streaming endpoints
  api/server/httputils/write_log_stream.go
  api/server/router/container/container_routes.go
  api/server/router/system/system_routes.go
  api/types/backend/backend.go
  daemon/stats.go
Labels: status/2-code-review, impact/changelog, kind/bugfix, area/metrics, area/metrics/otel, process/cherry-pick/26.1

#47818 libnet/d/bridge: don't parse the MacAddress netlabel
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/netutils/utils.go
Labels: area/networking, kind/refactor

#47820 libnet: Controller: more c.store clean-ups
  libnetwork/controller.go
  libnetwork/endpoint_cnt.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Labels: status/4-merge, area/networking, kind/refactor

#47826 Default to "windows-dns-proxy":true
  daemon/container_operations_windows.go
  integration/networking/resolvconf_test.go
Labels: platform/windows, kind/feature, area/networking, area/networking/dns

#47840 Dockerfile: update containerd binary to v1.7.17 (static binaries and CI only)
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  integration/system/disk_usage_test.go
Labels: status/2-code-review, impact/changelog, area/dependencies, process/cherry-pick/26.1

#47838 Update containerd to v1.7.17
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/hcsshim/computestorage/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/hcn/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/utils.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/interop/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/regstate/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/security/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/vmcompute/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/zsyscall_windows.go
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/images/converter/default.go
  vendor/github.com/containerd/containerd/images/diffid.go
  vendor/github.com/containerd/containerd/images/mediatypes.go
  vendor/github.com/containerd/containerd/metadata/snapshot.go
  vendor/github.com/containerd/containerd/mount/losetup_linux.go
  vendor/github.com/containerd/containerd/mount/mount_linux.go
  vendor/github.com/containerd/containerd/oci/spec_opts.go
  vendor/github.com/containerd/containerd/pkg/unpack/unpacker.go
  vendor/github.com/containerd/containerd/services/server/config/config.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: status/4-merge, area/dependencies

#47841 [26.1 backport] Dockerfile: update containerd binary to v1.7.16 (static binaries and CI only)
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  integration/system/disk_usage_test.go
Labels: status/2-code-review, impact/changelog, area/dependencies

#47808 [25.0 backport] update to go1.21.10
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: impact/changelog, area/packaging, area/dependencies

#47837 libnet/i/defaultipam: Disambiguate PoolID string format
  libnetwork/ipams/defaultipam/allocator_test.go
  libnetwork/ipams/defaultipam/structures.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/ipam

#47768 libnet/ipams/default: introduce a linear allocator
  daemon/config/config_test.go
  daemon/info.go
  libnetwork/cnmallocator/drivers_ipam.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/internal/netiputil/netiputil.go
  libnetwork/internal/netiputil/netiputil_test.go
  libnetwork/ipamapi/contract.go
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipams/defaultipam/address_space_test.go
  libnetwork/ipams/defaultipam/allocator.go
  libnetwork/ipams/defaultipam/allocator_test.go
  libnetwork/ipams/defaultipam/parallel_test.go
  libnetwork/ipams/defaultipam/structures.go
  libnetwork/ipams/defaultipam/structures_test.go
  libnetwork/ipams/remote/remote.go
  libnetwork/ipamutils/utils.go
  libnetwork/ipamutils/utils_test.go
  libnetwork/ipbits/ipbits.go
  libnetwork/ipbits/ipbits_test.go
  libnetwork/ipbits/uint128.go
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_freebsd.go
  libnetwork/netutils/utils_linux.go
  libnetwork/netutils/utils_linux_test.go
  libnetwork/netutils/utils_windows.go
  libnetwork/network.go
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_unix_test.go
  opts/address_pools.go
Labels: status/2-code-review, kind/enhancement, area/networking, impact/changelog, area/networking/ipam

#47854 Fix issue where node promotion could fail
  daemon/cluster/noderunner.go
Labels: status/2-code-review, area/swarm, kind/bugfix, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#47747 Enable 'ip6tables' by default, don't require 'experimental'.
  cmd/dockerd/config_unix.go
  daemon/daemon_unix.go
  integration-cli/docker_api_swarm_test.go
  integration-cli/docker_cli_logs_test.go
  integration/container/daemon_linux_test.go
  integration/container/daemon_test.go
  integration/container/restart_test.go
  integration/daemon/daemon_test.go
  integration/image/import_test.go
  integration/networking/bridge_test.go
  integration/networking/etchosts_test.go
  integration/networking/resolvconf_test.go
  integration/plugin/logging/logging_linux_test.go
  integration/plugin/logging/read_test.go
  integration/plugin/logging/validation_test.go
  integration/plugin/volumes/mounts_test.go
  integration/system/cgroupdriver_systemd_test.go
  integration/system/disk_usage_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, kind/enhancement, area/networking, impact/changelog, impact/documentation, area/networking/ipv6

#47860 integration/internal/swarm, testutil/fakestorage: fix minor (linting) issues
  integration/internal/swarm/service.go
  testutil/fakestorage/storage.go
Labels: status/2-code-review, area/testing, kind/refactor

#47861 integration/system, integration/container: minor cleanups
  integration/container/exec_test.go
  integration/system/event_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#47092 update docker-py to 7.1.0
  hack/make/test-docker-py
Labels: status/2-code-review, area/testing, process/cherry-pick/26.1

#45313 Deprecate dockerd api-cors-header parameter
  api/server/middleware/cors.go
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/info.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation

#47865 api: networking: document Scope, ConfigOnly, ConfigFrom, Peers
  api/swagger.yaml
  api/types/types.go
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
Labels: area/api, status/3-docs-review, area/docs, area/networking, process/cherry-pick, process/cherry-pick/26.1

#47686 Per-interface sysctls
  api/server/router/container/container_routes.go
  api/server/router/container/container_routes_test.go
  api/swagger.yaml
  api/types/network/endpoint.go
  daemon/container_operations.go
  docs/api/version-history.md
  integration/networking/bridge_test.go
  libnetwork/endpoint.go
  libnetwork/netlabel/labels.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/options_linux.go
  libnetwork/sandbox_linux.go
Labels: kind/enhancement, area/networking, impact/changelog

#47868 [23.0 backport] Fix issue where node promotion could fail
  daemon/cluster/noderunner.go
Labels: status/4-merge, area/swarm, kind/bugfix

#47870 [26.1 backport] Fix issue where node promotion could fail
  daemon/cluster/noderunner.go
Labels: status/2-code-review, area/swarm, kind/bugfix

#47869 [25.0 backport] Fix issue where node promotion could fail
  daemon/cluster/noderunner.go
Labels: status/2-code-review, area/swarm, kind/bugfix

#47873 api/types: move more networking-types to api/types/network
  api/server/router/network/backend.go
  api/server/router/network/network_routes.go
  api/swagger.yaml
  api/types/network/create_response.go
  api/types/network/network.go
  api/types/types.go
  api/types/types_deprecated.go
  client/interface.go
  client/network_connect.go
  client/network_connect_test.go
  client/network_create.go
  client/network_create_test.go
  client/network_disconnect.go
  client/network_disconnect_test.go
  client/network_inspect.go
  client/network_inspect_test.go
  daemon/network.go
  daemon/network/filter_test.go
  hack/generate-swagger-api.sh
  integration-cli/docker_api_network_test.go
  integration-cli/docker_api_swarm_test.go
  integration/container/daemon_linux_test.go
  integration/internal/network/states.go
  integration/network/inspect_test.go
  integration/network/network_test.go
  integration/network/service_test.go
  integration/service/update_test.go
Labels: area/api, status/2-code-review, area/networking
