Repository moby/moby, pull requests merged in 2024-02, with the labels that each got.

#47222 [25.0 backport] pkg/ioutils: Make subsequent Close attempts noop
  pkg/ioutils/readers.go
  pkg/ioutils/writers.go
Labels: status/2-code-review, kind/bugfix

#47225 [25.0 backport] Fix HasResource inverted boolean error - vendor swarmkit v2.0.0-20240125134710-dcda100a8261
  vendor.mod
  vendor.sum
  vendor/code.cloudfoundry.org/clock/README.md
  vendor/github.com/moby/swarmkit/v2/api/genericresource/validate.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/swarm, kind/bugfix

#47263 ci: bump remaining gha to latest stable
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/bin-image.yml
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
Labels: area/testing, process/cherry-pick/23.0, process/cherry-pick/24.0, process/cherry-pick/25.0

#47296 [25.0 backport] docs: remove dead links from api verison history
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#47298 [25.0 backport] Assert temp output directory is not an empty string
  Makefile
Labels: status/2-code-review, area/testing

#47259 api: Document `version` in `/build`
  api/swagger.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
Labels: status/3-docs-review, area/docs, impact/documentation

#47295 [25.0 backport] api: Document `version` in `/build`
  api/swagger.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
Labels: status/3-docs-review, area/docs, impact/documentation

#47300 libcontainerd/supervisor: fix data race
  libcontainerd/supervisor/remote_daemon.go
Labels: process/cherry-pick, area/daemon, kind/bugfix, process/cherry-pick/24.0, process/cherry-pick/25.0

#47201 [25.0 backport] De-flake TestSwarmClusterRotateUnlockKey... again... maybe?
  integration-cli/check_test.go
  integration-cli/docker_cli_swarm_test.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing

#47242 Remove unused params from etchosts.Build()
  libnetwork/etchosts/etchosts.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/sandbox_dns_unix.go
Labels: status/2-code-review, area/networking, kind/refactor

#47285 libnetwork: share a single datastore with drivers
  daemon/oci_linux_test.go
  daemon/reload_test.go
  libnetwork/controller.go
  libnetwork/datastore/datastore.go
  libnetwork/discoverapi/discoverapi.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/ipvlan/ipvlan_store.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/windows/windows_store.go
  libnetwork/firewall_linux_test.go
  libnetwork/internal/kvstore/boltdb/boltdb.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/resolver_unix_test.go
  libnetwork/sandbox_dns_unix_test.go
  libnetwork/service_common_unix_test.go
  libnetwork/store_linux_test.go
Labels: kind/enhancement, area/networking

#47293 Add internal n/w bridge to firewalld docker zone
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix, process/cherry-pick/25.0

#47306 Revert "daemon: automatically set network EnableIPv6 if needed"
  api/types/network/ipam.go
  api/types/network/ipam_test.go
  daemon/network.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix, process/cherry-pick/25.0

#47256 daemon/logger/journald: quit waiting when the logger closes
  daemon/logger/journald/internal/fake/sender.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_test.go
  daemon/logger/loggertest/logreader.go
Labels: area/logging, area/systemd, kind/bugfix, process/cherry-pick/25.0

#47303 [25.0 backport] Add internal n/w bridge to firewalld docker zone
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, kind/bugfix

#47304 [25.0 backport] Only restore a configured MAC addr on restart.
  api/types/network/endpoint.go
  daemon/container_operations.go
  daemon/inspect.go
  daemon/network.go
  daemon/network/settings.go
  integration/networking/mac_addr_test.go
Labels: area/networking, kind/bugfix

#47302 libnet: boltdb: remove PersistConnection
  libnetwork/datastore/datastore.go
  libnetwork/internal/kvstore/boltdb/boltdb.go
  libnetwork/internal/kvstore/kvstore.go
  libnetwork/store_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#47310 [25.0 backport] Revert "daemon: automatically set network EnableIPv6 if needed"
  api/types/network/ipam.go
  api/types/network/ipam_test.go
  daemon/network.go
Labels: area/networking, kind/bugfix

#47309 libnet: bridge: ignore EINVAL when configuring bridge MTU
  libnetwork/drivers/bridge/setup_device_linux.go
  libnetwork/drivers/bridge/setup_device_linux_test.go
Labels: area/networking, process/cherry-pick, kind/bugfix, area/networking/d/bridge, process/cherry-pick/25.0

#47311 [25.0 backport] libnet: bridge: ignore EINVAL when configuring bridge MTU
  libnetwork/drivers/bridge/setup_device_linux.go
  libnetwork/drivers/bridge/setup_device_linux_test.go
Labels: area/networking, kind/bugfix, area/networking/d/bridge

#47243 [25.0 backport] logger/journald: fix tailing logs with systemd 255
  daemon/logger/journald/internal/fake/sender.go
  daemon/logger/journald/read.go
  daemon/logger/journald/read_test.go
  daemon/logger/loggertest/logreader.go
Labels: area/logging, area/systemd, impact/changelog, kind/bugfix

#47220 [25.0 backport] add more //go:build directives to prevent downgrading to go1.16 language
  daemon/container_operations.go
  daemon/inspect.go
  internal/sliceutil/sliceutil.go
  libnetwork/endpoint.go
Labels: status/2-code-review, kind/bugfix

#47313 [25.0 backport] libcontainerd/supervisor: fix data race
  libcontainerd/supervisor/remote_daemon.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#47314 [24.0 backport] libcontainerd/supervisor: fix data race
  libcontainerd/supervisor/remote_daemon.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#47315 Dockerfile: update docker-cli to v25.0.2, docker compose v2.24.5
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-picked

#47319 Fix broken links in project
  project/README.md
  project/REVIEWING.md
Labels: status/3-docs-review, area/docs, process/cherry-pick, area/project

#47299 plugins: Fix panic when fetching by digest
  integration/plugin/common/plugin_test.go
  plugin/fetch_linux.go
Labels: status/2-code-review, process/cherry-pick, area/plugins, kind/bugfix, process/cherry-pick/23.0, process/cherry-pick/24.0, process/cherry-pick/25.0

#47323 [25.0 backport] plugins: Fix panic when fetching by digest
  integration/plugin/common/plugin_test.go
  plugin/fetch_linux.go
Labels: status/2-code-review, area/plugins, kind/bugfix

#47324 [24.0 backport] plugins: Fix panic when fetching by digest
  integration/plugin/common/plugin_test.go
  plugin/fetch_linux.go
Labels: status/2-code-review, area/plugins, kind/bugfix

#47316 [25.0 backport] Dockerfile: update docker-cli to v25.0.2, docker compose v2.24.5
  Dockerfile
Labels: status/2-code-review, area/testing

#47325 [23.0 backport] plugins: Fix panic when fetching by digest
  integration/plugin/common/plugin_test.go
  plugin/fetch_linux.go
Labels: status/2-code-review, area/plugins, kind/bugfix

#47232 image/save: Fix untagged images not present in index.json
  daemon/containerd/image_exporter.go
  image/tarexport/save.go
  integration/image/save_test.go
  internal/testutils/archive.go
  internal/testutils/specialimage/load.go
  internal/testutils/specialimage/multilayer.go
Labels: status/2-code-review, process/cherry-pick, area/images, kind/bugfix, containerd-integration, process/cherry-pick/25.0

#47294 [25.0 backport] image/save: Fix untagged images not present in index.json
  daemon/containerd/image_exporter.go
  image/tarexport/save.go
  integration/image/save_test.go
  internal/testutils/archive.go
  internal/testutils/specialimage/load.go
  internal/testutils/specialimage/multilayer.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#47332 Update Rootlesskit to v2.0.1
  Dockerfile
  hack/dockerfile/install/rootlesskit.installer
  vendor.mod
  vendor.sum
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/version7.go
  vendor/modules.txt
Labels: process/cherry-picked, area/rootless

#47330 image/cache: Ignore Build and Revision on Windows
  image/cache/cache.go
  image/cache/compare.go
  image/cache/compare_test.go
Labels: area/builder, platform/windows, process/cherry-pick, kind/bugfix, area/builder/buildkit, process/cherry-pick/23.0, process/cherry-pick/24.0, process/cherry-pick/25.0

#47341 profiles/seccomp: add syscalls for kernel v5.17 - v6.6, match containerd's profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/security/seccomp, process/cherry-pick, process/cherry-pick/24.0, process/cherry-pick/25.0

#47342 image/cache: Use Platform from ocispec
  image/cache/compare_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#47344 [25.0 backport] profiles/seccomp: add syscalls for kernel v5.17 - v6.6, match containerd's profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/security/seccomp

#47336 c8d: Use the same logic to get the present images
  daemon/containerd/image.go
  daemon/containerd/image_history.go
Labels: area/images, containerd-integration

#47348 [25.0 backport] c8d: Use the same logic to get the present images
  daemon/containerd/image.go
  daemon/containerd/image_history.go
Labels: status/2-code-review, area/images, kind/bugfix

#47155 api: remove deprecated API versions (API < v1.24)
  api/common.go
  api/server/errorhandler.go
  api/server/httputils/decoder.go
  api/server/middleware/version.go
  api/server/middleware/version_test.go
  api/server/router/build/build_routes.go
  api/server/router/container/backend.go
  api/server/router/container/container.go
  api/server/router/container/container_routes.go
  api/server/router/container/copy.go
  api/server/router/container/exec.go
  api/server/server.go
  api/server/server_test.go
  api/types/backend/backend.go
  api/types/versions/README.md
  api/types/versions/v1p19/types.go
  api/types/versions/v1p20/types.go
  builder/builder.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/mockbackend_test.go
  cmd/dockerd/daemon.go
  daemon/archive.go
  daemon/archive_unix.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_windows.go
  daemon/create.go
  daemon/daemon_unix.go
  daemon/daemon_unix_test.go
  daemon/daemon_windows.go
  daemon/inspect.go
  daemon/inspect_linux.go
  daemon/inspect_windows.go
  daemon/start.go
  daemon/stats.go
  hack/make/.integration-daemon-start
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_exec_test.go
  integration-cli/docker_api_inspect_test.go
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_api_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_deprecated_api_v124_test.go
  integration-cli/docker_deprecated_api_v124_unix_test.go
  integration/container/container_test.go
  integration/container/inspect_test.go
  integration/container/kill_test.go
  integration/system/info_linux_test.go
  runconfig/config.go
  runconfig/config_test.go
  runconfig/fixtures/unix/container_config_1_14.json
  runconfig/fixtures/unix/container_config_1_17.json
  runconfig/fixtures/unix/container_hostconfig_1_14.json
  runconfig/fixtures/unix/container_hostconfig_1_19.json
  runconfig/hostconfig.go
  runconfig/hostconfig_test.go
Labels: area/api, status/4-merge, impact/api, impact/changelog, impact/deprecation, docs/revisit, impact/documentation

#47346 [23.0 backport] profiles/seccomp: add syscalls for kernel v5.17 - v6.6, match containerd's profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/security/seccomp

#47345 [24.0 backport] profiles/seccomp: add syscalls for kernel v5.17 - v6.6, match containerd's profile
  profiles/seccomp/default.json
  profiles/seccomp/default_linux.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/security/seccomp

#47359 vendor: github.com/containerd/containerd v1.7.13
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/content/content.go
  vendor/github.com/containerd/containerd/images/archive/exporter.go
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review

#47362 migrate image spec to github.com/moby/docker-image-spec
  api/types/container/config.go
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_import.go
  daemon/containerd/imagespec.go
  image/spec/README.md
  image/spec/spec.md
  image/spec/specs-go/v1/image_deprecated.go
  image/spec/specs-go/version_deprecated.go
  image/spec/v1.1.md
  image/spec/v1.2.md
  image/spec/v1.md
  vendor.mod
  vendor.sum
  vendor/github.com/moby/docker-image-spec/LICENSE
  vendor/github.com/moby/docker-image-spec/specs-go/v1/image.go
  vendor/github.com/moby/docker-image-spec/specs-go/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/images, kind/refactor

#47371 vendor: github.com/containerd/nydus-snapshotter v0.13.7
  vendor.mod
  vendor.sum
  vendor/cloud.google.com/go/.release-please-manifest-individual.json
  vendor/cloud.google.com/go/.release-please-manifest-submodules.json
  vendor/cloud.google.com/go/.release-please-manifest.json
  vendor/cloud.google.com/go/CHANGES.md
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/go.work
  vendor/cloud.google.com/go/go.work.sum
  vendor/cloud.google.com/go/logging/CHANGES.md
  vendor/cloud.google.com/go/logging/apiv2/README.md
  vendor/cloud.google.com/go/logging/apiv2/config_client.go
  vendor/cloud.google.com/go/logging/apiv2/doc.go
  vendor/cloud.google.com/go/logging/apiv2/gapic_metadata.json
  vendor/cloud.google.com/go/logging/apiv2/logging_client.go
  vendor/cloud.google.com/go/logging/apiv2/loggingpb/log_entry.pb.go
  vendor/cloud.google.com/go/logging/apiv2/loggingpb/logging.pb.go
  vendor/cloud.google.com/go/logging/apiv2/loggingpb/logging_config.pb.go
  vendor/cloud.google.com/go/logging/apiv2/loggingpb/logging_metrics.pb.go
  vendor/cloud.google.com/go/logging/apiv2/metrics_client.go
  vendor/cloud.google.com/go/logging/internal/version.go
  vendor/cloud.google.com/go/logging/logging.go
  vendor/cloud.google.com/go/longrunning/CHANGES.md
  vendor/cloud.google.com/go/longrunning/autogen/doc.go
  vendor/cloud.google.com/go/longrunning/autogen/longrunningpb/operations.pb.go
  vendor/cloud.google.com/go/longrunning/autogen/operations_client.go
  vendor/cloud.google.com/go/release-please-config-individual.json
  vendor/cloud.google.com/go/release-please-config-yoshi-submodules.json
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/constant.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_unix.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/convert_windows.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/tool/builder.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/tool/feature.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/converter/types.go
  vendor/github.com/containerd/nydus-snapshotter/pkg/label/label.go
  vendor/github.com/googleapis/gax-go/v2/.release-please-manifest.json
  vendor/github.com/googleapis/gax-go/v2/CHANGES.md
  vendor/github.com/googleapis/gax-go/v2/callctx/callctx.go
  vendor/github.com/googleapis/gax-go/v2/header.go
  vendor/github.com/googleapis/gax-go/v2/internal/version.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/field_info.pb.go
  vendor/google.golang.org/genproto/googleapis/longrunning/alias.go
  vendor/modules.txt
Labels: status/2-code-review

#47375 Set up DNS names for Windows default network
  daemon/container_operations.go
Labels: kind/bug, area/networking, area/networking/dns, version/25.0, process/cherry-pick/25.0

#47385 update to go1.21.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, process/cherry-pick, area/packaging, process/cherry-pick/25.0

#47374 Set `Created` to `0001-01-01T00:00:00Z` on older API versions
  api/server/router/image/image_routes.go
  api/swagger.yaml
  docs/api/v1.44.yaml
  docs/api/version-history.md
Labels: area/api, status/4-merge, impact/api, impact/changelog, process/cherry-pick, process/cherry-pick/25.0

#47387 [25.0 backport] Set `Created` to `0001-01-01T00:00:00Z` on older API versions
  api/server/router/image/image_routes.go
  api/swagger.yaml
  docs/api/v1.44.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#47382 Run the macvlan/ipvlan integration tests
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
Labels: status/2-code-review, area/networking, process/cherry-pick, kind/bugfix

#47356 Make 'internal' bridge networks accessible from host
  integration/networking/bridge_test.go
  libnetwork/drivers/bridge/setup_ipv4_linux.go
  libnetwork/drivers/bridge/setup_verify_linux.go
Labels: area/networking, process/cherry-pick, kind/bugfix, process/cherry-pick/25.0

#47361 Don't enforce new validation rules for existing networks
  api/server/router/network/network_routes.go
  daemon/network.go
Labels: status/2-code-review, area/networking, process/cherry-pick, area/networking/ipam, version/25.0, process/cherry-pick/25.0

#47339 [23.0 backport] image/cache: Ignore Build and Revision on Windows
  image/cache/cache.go
  image/cache/compare.go
  image/cache/compare_test.go
Labels: area/builder, platform/windows, status/2-code-review, impact/changelog, kind/bugfix, area/builder/classic-builder

#47338 [24.0 backport] image/cache: Ignore Build and Revision on Windows
  image/cache/cache.go
  image/cache/compare.go
  image/cache/compare_test.go
Labels: area/builder, platform/windows, status/2-code-review, impact/changelog, kind/bugfix, area/builder/classic-builder

#47417 libnetwork: resolve: use structured logs for DNS error
  libnetwork/resolver.go
Labels: status/2-code-review, kind/enhancement, area/networking, area/networking/dns

#47409 ci: set codecov token
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  .github/workflows/windows-2019.yml
  .github/workflows/windows-2022.yml
Labels: status/2-code-review, area/testing, process/cherry-pick, process/cherry-pick/23.0, process/cherry-pick/24.0, process/cherry-pick/25.0

#47405 validate/vendor: Disable pager for git diff
  .github/workflows/test.yml
  Makefile
Labels: status/2-code-review, area/testing, kind/bugfix

#47426 vendor: github.com/containerd/continuity v0.4.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/continuity/fs/copy.go
  vendor/github.com/containerd/continuity/fs/dir.go
  vendor/modules.txt
Labels: status/2-code-review

#47433 libnet/ds: remove extra space in error msg
  libnetwork/datastore/datastore.go
Labels: status/2-code-review, area/networking, kind/refactor

#47175 builder/dockerfile: ADD with best-effort xattrs
  builder/dockerfile/copy.go
Labels: area/builder, status/2-code-review, impact/changelog, process/cherry-pick, area/builder/classic-builder, process/cherry-pick/25.0

#47410 integration/TestDaemonProxy: Remove OTEL span
  integration/daemon/daemon_test.go
Labels: status/2-code-review, area/testing, kind/bugfix, process/cherry-pick/25.0

#47423 ci: Require changelog description
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/validate-pr.yml
Labels: status/2-code-review, area/testing, area/project

#47432 c8d/pull: Progress fixes
  daemon/containerd/image_pull.go
  daemon/containerd/progress.go
  pkg/streamformatter/streamformatter.go
Labels: area/distribution, status/4-merge, process/cherry-pick, kind/bugfix, containerd-integration, process/cherry-pick/25.0

#45967 c8d: Adjust "image list" to return only a single item for each image store entry
  daemon/containerd/image_list.go
Labels: status/4-merge, area/images, containerd-integration

#47450 api: omit missing Created field from ImageInspect response
  api/swagger.yaml
  api/types/types.go
  docs/api/v1.44.yaml
  docs/api/version-history.md
Labels: area/api, status/4-merge, impact/api, impact/changelog, process/cherry-picked

#47451 [25.0 backport] api: omit missing Created field from ImageInspect response
  api/swagger.yaml
  api/types/types.go
  docs/api/v1.44.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#47455 c8d/windows: Temporarily skip two failing tests
  integration-cli/docker_cli_build_test.go
  integration/container/copy_test.go
Labels: platform/windows, area/testing, containerd-integration, process/cherry-pick/25.0

#47391 api/pre-1.44: Default `ReadOnlyNonRecursive` to true
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/backend/backend.go
  daemon/container.go
  daemon/create.go
  daemon/volumes.go
  integration-cli/docker_cli_inspect_test.go
  integration/container/mounts_linux_test.go
  volume/mounts/linux_parser.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, process/cherry-picked, kind/bugfix

#47456 libcontainerd: change the digest used when restoring
  libcontainerd/remote/client.go
Labels: status/2-code-review, kind/experimental, process/cherry-pick, kind/bugfix, process/cherry-pick/25.0

#47461 vendor: github.com/moby/buildkit v0.13.0-rc3
  builder/builder-next/worker/worker.go
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/moby/buildkit/cache/remote.go
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/chains.go
  vendor/github.com/moby/buildkit/cache/remotecache/v1/parse.go
  vendor/github.com/moby/buildkit/executor/resources/cpu.go
  vendor/github.com/moby/buildkit/executor/resources/io.go
  vendor/github.com/moby/buildkit/executor/resources/memory.go
  vendor/github.com/moby/buildkit/executor/resources/monitor.go
  vendor/github.com/moby/buildkit/executor/resources/pids.go
  vendor/github.com/moby/buildkit/executor/resources/sys.go
  vendor/github.com/moby/buildkit/executor/resources/sys_linux.go
  vendor/github.com/moby/buildkit/executor/resources/sys_nolinux.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/buildconfig.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/capture.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/predicate.go
  vendor/github.com/moby/buildkit/solver/llbsolver/provenance/types/types.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/types.go
  vendor/github.com/moby/buildkit/source/containerimage/identifier.go
  vendor/github.com/moby/buildkit/source/git/identifier.go
  vendor/github.com/moby/buildkit/source/http/identifier.go
  vendor/github.com/moby/buildkit/source/local/identifier.go
  vendor/github.com/moby/buildkit/util/contentutil/multiprovider.go
  vendor/github.com/spdx/tools-golang/spdx/v2/common/package.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_2/document.go
  vendor/github.com/spdx/tools-golang/spdx/v2/v2_3/document.go
  vendor/modules.txt
Labels: area/builder, impact/changelog, area/builder/buildkit, containerd-integration, area/dependencies

#47462 integration: Reset `OTEL_EXPORTER_OTLP_ENDPOINT` for sub-daemons
  integration/daemon/daemon_test.go
Labels: status/4-merge, area/testing, kind/bugfix

#47459 disable pulling legacy image formats by default
  api/server/router/distribution/distribution_routes.go
  daemon/containerd/image_pull.go
  distribution/errors.go
  distribution/manifest.go
  distribution/manifest_test.go
  distribution/pull_v2.go
  hack/make/.integration-daemon-start
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation

#47440 client: fix connection-errors being shadowed by API version errors
  client/client.go
  client/client_test.go
  client/container_create.go
  client/container_create_test.go
  client/container_exec.go
  client/container_exec_test.go
  client/container_restart.go
  client/container_restart_test.go
  client/container_stop.go
  client/container_stop_test.go
  client/container_wait.go
  client/container_wait_test.go
  client/errors.go
  client/image_list.go
  client/image_list_test.go
  client/network_create.go
  client/network_create_test.go
  client/ping.go
  client/ping_test.go
  client/request.go
  client/service_create.go
  client/service_create_test.go
  client/service_update.go
  client/service_update_test.go
  client/volume_remove.go
  client/volume_remove_test.go
Labels: area/api, status/2-code-review, impact/changelog, process/cherry-pick, kind/bugfix, process/cherry-pick/25.0

#47041 Refactor 'resolv.conf' generation.
  daemon/container_operations_unix.go
  integration-cli/docker_cli_run_test.go
  integration/networking/resolvconf_test.go
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/resolvconf/resolvconf_path.go
  libnetwork/internal/resolvconf/resolvconf_test.go
  libnetwork/internal/resolvconf/testdata/.gitattributes
  libnetwork/internal/resolvconf/testdata/TestRCInvalidNS.golden
  libnetwork/internal/resolvconf/testdata/TestRCModify/Add_option_no_overrides.golden
  libnetwork/internal/resolvconf/testdata/TestRCModify/Empty_overrides.golden
  libnetwork/internal/resolvconf/testdata/TestRCModify/No_content_no_overrides.golden
  libnetwork/internal/resolvconf/testdata/TestRCModify/No_overrides.golden
  libnetwork/internal/resolvconf/testdata/TestRCModify/Overrides.golden
  libnetwork/internal/resolvconf/testdata/TestRCSetHeader.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/Extra_required_options.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost,_IPv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost,_IPv6_private,_IPv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost,_IPv6_private,_IPv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_localhost_override.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv4_only.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/IPv6_addr,_IPv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver,_iv6.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver,_no_iv6.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_host,_override_and_required.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_missing_but_required.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/ndots_present_and_required.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_and_IPv6_localhost,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_IPv6_routeable,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/IPv4_localhost,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Override_nameservers.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_disabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_and_IPv6,_ipv6_enabled.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForLegacyNw/Routable_IPv4_only.golden
  libnetwork/internal/resolvconf/testdata/TestRCUnknownDirectives.golden
  libnetwork/libnetwork_linux_test.go
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_unix_test.go
  libnetwork/resolvconf/utils.go
  libnetwork/resolvconf/utils_test.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
  libnetwork/sandbox_store.go
Labels: status/2-code-review, kind/enhancement, area/networking, area/networking/dns

#47458 ci: Make `find` for test reports more specific
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
Labels: status/2-code-review, kind/enhancement, area/testing, kind/bugfix

#47457 ci: Update `teststat` to v0.1.25
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
Labels: area/testing, process/cherry-pick, process/cherry-pick/25.0, area/dependencies

#47475 distribution/xfer: fix pull progress message
  distribution/xfer/download.go
  distribution/xfer/download_test.go
Labels: area/distribution, status/4-merge, kind/bugfix

#47470 [25.0 backport] client: fix connection-errors being shadowed by API version errors
  client/client.go
  client/client_test.go
  client/container_create.go
  client/container_create_test.go
  client/container_exec.go
  client/container_exec_test.go
  client/container_restart.go
  client/container_restart_test.go
  client/container_stop.go
  client/container_stop_test.go
  client/container_wait.go
  client/container_wait_test.go
  client/errors.go
  client/image_list.go
  client/image_list_test.go
  client/network_create.go
  client/network_create_test.go
  client/ping.go
  client/ping_test.go
  client/request.go
  client/service_create.go
  client/service_create_test.go
  client/service_update.go
  client/service_update_test.go
  client/volume_remove.go
  client/volume_remove_test.go
Labels: area/api, status/2-code-review, impact/changelog, kind/bugfix

#47352 Allow to enable host loopback and use 10.0.2.2 to connect to the host (OPTIONALLY)
  contrib/dockerd-rootless.sh
Labels: area/networking, area/rootless

#47476 [25.0 backport] ci: Update `teststat` to v0.1.25
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
Labels: status/2-code-review, status/4-merge, area/testing, area/dependencies
