Repository moby/moby, pull requests merged in 2024-06, with the labels that each got.

#47882 api/types: migrate NetworkListOptions to api/types/network
  api/types/client.go
  api/types/network/network.go
  api/types/types_deprecated.go
  client/interface.go
  client/network_list.go
  client/network_list_test.go
  integration-cli/requirements_test.go
  integration/network/delete_test.go
  integration/network/helpers.go
  integration/network/helpers_windows.go
  testutil/environment/clean.go
  testutil/environment/protect.go
Labels: area/api, area/networking, kind/refactor

#47886 api/server/httpstatus: FromError: remove redundant checks and cleanup
  api/server/httpstatus/status.go
Labels: area/api, status/2-code-review, kind/refactor

#47888 opts: remove alias for ipamutils
  opts/address_pools.go
Labels: status/2-code-review, kind/refactor

#47890 [25.0 backport] don't depend on containerd platform.Parse to return a typed error
  api/server/router/image/image_routes.go
  builder/builder-next/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals_windows.go
  integration/image/import_test.go
Labels: status/2-code-review, kind/refactor

#47889 [26.1 backport] don't depend on containerd platform.Parse to return a typed error
  api/server/router/image/image_routes.go
  builder/builder-next/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals_windows.go
  integration/image/import_test.go
Labels: status/2-code-review, kind/refactor

#47893 [26.1 backport] update docker-py to 7.1.0
  hack/make/test-docker-py
Labels: status/2-code-review, area/testing

#47892 [26.1 backport] api: networking: document Scope, ConfigOnly, ConfigFrom, Peers
  api/swagger.yaml
  api/types/types.go
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
Labels: area/api, status/2-code-review, area/docs, area/networking

#47891 [23.0 backport] don't depend on containerd platform.Parse to return a typed error
  api/server/router/image/image_routes.go
  builder/builder-next/builder.go
  builder/dockerfile/builder.go
  builder/dockerfile/dispatchers.go
  builder/dockerfile/internals_windows.go
  integration/image/import_test.go
Labels: status/2-code-review, kind/refactor

#47853 libnet/i/defaultipam: use ULA prefix by default
  daemon/daemon.go
  daemon/daemon_test.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/reload_test.go
  integration/network/bridge_test.go
  libnetwork/ipams/defaultipam/allocator.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/resolver_unix_test.go
  libnetwork/sandbox_unix_test.go
  libnetwork/service_common_unix_test.go
Labels: status/2-code-review, kind/enhancement, area/networking, impact/changelog, impact/documentation, area/networking/ipam

#47897 integration/network: remove used of deprecated NetworkInspectOptions
  integration/network/bridge_test.go
Labels: status/2-code-review, area/networking, area/testing

#47900 api/types: remove aliases for deprecated Image types
  api/types/types_deprecated.go
Labels: area/api, status/2-code-review

#47901 daemon/cluster: remove Cluster.getRequestContext()
  daemon/cluster/cluster.go
  daemon/cluster/configs.go
  daemon/cluster/networks.go
  daemon/cluster/nodes.go
  daemon/cluster/secrets.go
  daemon/cluster/services.go
  daemon/cluster/swarm.go
Labels: status/2-code-review, area/swarm, kind/refactor

#47902 update to go1.21.11
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, process/cherry-picked, area/packaging

#47904 [26.1 backport] update to go1.21.11
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#47905 [23.0 backport] update to go1.21.11
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging

#47910 update containerd binary to v1.7.18
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0

#47911 [26.1 backport] update containerd binary to v1.7.18
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging

#47887 api/types: migrate NetworkResource to api/types/network
  api/server/router/network/backend.go
  api/server/router/network/network_routes.go
  api/types/network/network.go
  api/types/types.go
  api/types/types_deprecated.go
  client/interface.go
  client/network_inspect.go
  client/network_inspect_test.go
  client/network_list.go
  client/network_list_test.go
  daemon/cluster.go
  daemon/cluster/convert/network.go
  daemon/cluster/networks.go
  daemon/network.go
  daemon/network/filter.go
  daemon/network/filter_test.go
  integration-cli/docker_api_network_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration/network/delete_test.go
  integration/network/network_test.go
Labels: area/api, status/2-code-review, kind/refactor

#47602 Add resolver for default bridge, remove default nameservers
  daemon/config/config_linux.go
  daemon/container_operations_unix.go
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/network.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/networking/resolvconf_test.go
  libnetwork/endpoint.go
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/resolvconf/resolvconf_test.go
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver,_iv6.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver.golden
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
Labels: kind/enhancement, area/networking, impact/changelog, impact/documentation, area/networking/dns

#47867 api: Make EnableIPv6 optional (impl #1 - pointer-based)
  api/types/types.go
  client/network_create_test.go
  daemon/cluster/convert/network.go
  daemon/cluster/executor/container/container.go
  daemon/network.go
  integration/internal/network/ops.go
  integration/network/bridge_test.go
Labels: status/2-code-review, kind/enhancement, area/networking, area/networking/ipv6

#47920 vendor: google.golang.org/appengine v1.6.8
  vendor.mod
  vendor.sum
  vendor/google.golang.org/appengine/.travis.yml
  vendor/google.golang.org/appengine/CONTRIBUTING.md
  vendor/google.golang.org/appengine/README.md
  vendor/google.golang.org/appengine/appengine.go
  vendor/google.golang.org/appengine/appengine_vm.go
  vendor/google.golang.org/appengine/identity.go
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/appengine/internal/api_classic.go
  vendor/google.golang.org/appengine/internal/api_common.go
  vendor/google.golang.org/appengine/internal/identity.go
  vendor/google.golang.org/appengine/internal/identity_classic.go
  vendor/google.golang.org/appengine/internal/identity_flex.go
  vendor/google.golang.org/appengine/internal/identity_vm.go
  vendor/google.golang.org/appengine/internal/main.go
  vendor/google.golang.org/appengine/internal/main_vm.go
  vendor/google.golang.org/appengine/internal/transaction.go
  vendor/google.golang.org/appengine/namespace.go
  vendor/google.golang.org/appengine/socket/socket_classic.go
  vendor/google.golang.org/appengine/socket/socket_vm.go
  vendor/google.golang.org/appengine/timeout.go
  vendor/google.golang.org/appengine/travis_install.sh
  vendor/google.golang.org/appengine/travis_test.sh
  vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#47922 vendor: update buildkit to v0.14.0-rc2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/contenthash/checksum.go
  vendor/github.com/moby/buildkit/cache/contenthash/path.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/commands.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/instructions/parse.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/ruleset.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/solver/llbsolver/proc/provenance.go
  vendor/github.com/moby/buildkit/solver/llbsolver/proc/sbom.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/modules.txt
Labels: area/builder, status/4-merge, area/builder/buildkit, area/dependencies

#47921 api/types: move NetworkCreate, NetworkCreateRequest, NetworksPruneReport to api/types/network
  api/server/router/network/backend.go
  api/server/router/network/network_routes.go
  api/types/network/network.go
  api/types/types.go
  api/types/types_deprecated.go
  client/interface.go
  client/network_create.go
  client/network_create_test.go
  client/network_prune.go
  client/network_prune_test.go
  daemon/cluster/convert/network.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/executor.go
  daemon/cluster/networks.go
  daemon/cluster/provider/network.go
  daemon/network.go
  daemon/prune.go
  integration-cli/docker_api_network_test.go
  integration-cli/docker_api_swarm_test.go
  integration/container/rename_test.go
  integration/internal/network/network.go
  integration/internal/network/ops.go
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
  integration/network/network_test.go
  integration/networking/bridge_test.go
Labels: area/api, status/2-code-review, kind/refactor

#47924 api/types/network: make CheckDuplicate optional
  api/swagger.yaml
  api/types/network/network.go
  client/network_create.go
Labels: area/api, status/2-code-review, area/networking, kind/refactor

#47866 api/server: ContainerList returns container annotations
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/types.go
  container/view.go
  docs/api/version-history.md
  integration/container/list_test.go
  integration/internal/container/ops.go
Labels: area/api, status/1-design-review, impact/api, impact/changelog

#47926 Revert "libnet/i/defaultipam: Disambiguate PoolID string format"
  libnetwork/ipams/defaultipam/allocator_test.go
  libnetwork/ipams/defaultipam/structures.go
Labels: area/networking, kind/refactor, area/networking/ipam

#47928 Add Rob Murray (@robmry) as maintainer
  MAINTAINERS
Labels: status/3-docs-review, area/project

#47918 Allow startup with no kernel support for ip6_tables
  libnetwork/drivers/bridge/bridge_linux.go
Labels: status/4-merge, kind/bugfix, area/networking/ipv6, area/networking/firewalling

#47807 [26.0 backport] update to go1.21.10
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: impact/changelog, area/packaging, area/dependencies

#47933 vendor: go.etcd.io/bbolt v1.3.10
  vendor.mod
  vendor.sum
  vendor/go.etcd.io/bbolt/.go-version
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/unsafe.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-pick/23.0, process/cherry-pick/25.0, area/dependencies, process/cherry-pick/26.1

#47934 vendor: github.com/distribution/reference v0.6.0
  vendor.mod
  vendor.sum
  vendor/github.com/distribution/reference/README.md
  vendor/github.com/distribution/reference/normalize.go
  vendor/github.com/distribution/reference/reference.go
  vendor/modules.txt
Labels: area/distribution, status/2-code-review, area/dependencies

#47731 chore: fix function names in comment
  integration/container/ipcmode_linux_test.go
Labels: status/2-code-review

#47862 api/server/router/container: minor nits in exec router
  api/server/router/container/exec.go
Labels: area/api, status/2-code-review, kind/refactor

#47938 vendor: github.com/creack/pty v1.1.21
  vendor.mod
  vendor.sum
  vendor/github.com/creack/pty/.golangci.yml
  vendor/github.com/creack/pty/Dockerfile.golang
  vendor/github.com/creack/pty/Dockerfile.riscv
  vendor/github.com/creack/pty/ioctl.go
  vendor/github.com/creack/pty/ioctl_inner.go
  vendor/github.com/creack/pty/ioctl_legacy.go
  vendor/github.com/creack/pty/ioctl_solaris.go
  vendor/github.com/creack/pty/ioctl_unsupported.go
  vendor/github.com/creack/pty/pty_darwin.go
  vendor/github.com/creack/pty/pty_dragonfly.go
  vendor/github.com/creack/pty/pty_freebsd.go
  vendor/github.com/creack/pty/pty_linux.go
  vendor/github.com/creack/pty/pty_netbsd.go
  vendor/github.com/creack/pty/pty_openbsd.go
  vendor/github.com/creack/pty/pty_solaris.go
  vendor/github.com/creack/pty/test_crosscompile.sh
  vendor/github.com/creack/pty/winsize.go
  vendor/github.com/creack/pty/winsize_unix.go
  vendor/github.com/creack/pty/ztypes_freebsd_riscv64.go
  vendor/github.com/creack/pty/ztypes_ppc.go
  vendor/github.com/creack/pty/ztypes_sparcx.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing, area/dependencies

#47939 docs: api: image inspect: remove Container and ContainerConfig
  api/swagger.yaml
  docs/api/v1.45.yaml
Labels: area/api, status/3-docs-review, area/docs, impact/api, process/cherry-pick/26.1

#47940 [26.1 backport] docs: api: image inspect: remove Container and ContainerConfig
  api/swagger.yaml
  docs/api/v1.45.yaml
Labels: area/api, status/3-docs-review, area/docs, impact/api

#47931 daemon/graphdriver: remove redundant Mounted function
  daemon/graphdriver/driver.go
  daemon/graphdriver/driver_freebsd.go
  daemon/graphdriver/driver_linux.go
Labels: area/storage, status/2-code-review, area/daemon, kind/refactor

#47937 client: fix typos in test-names and godoc
  client/client_test.go
Labels: status/2-code-review, area/testing

#47932 pkg/reexec: cleanup and remove some dependencies
  pkg/reexec/command_linux.go
  pkg/reexec/command_other.go
  pkg/reexec/command_unix.go
  pkg/reexec/command_unsupported.go
  pkg/reexec/command_windows.go
  pkg/reexec/reexec.go
  pkg/reexec/reexec_test.go
Labels: status/2-code-review, kind/refactor

#47919 otel: remove deprecated usages of `otelgrpc`
  api/server/router/grpc/grpc.go
  daemon/daemon.go
  libcontainerd/supervisor/remote_daemon.go
  vendor.mod
  vendor.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.gitignore
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.travis.yml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CONTRIBUTING.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/LICENSE
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/makefile
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/slack.png
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/wrappers.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor, area/metrics, area/metrics/otel

#47927 ci: enable debug for buildkit container builder
  .github/workflows/.test.yml
  .github/workflows/bin-image.yml
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: status/2-code-review, kind/enhancement, area/testing

#47799 Changed default value of the startInterval to 5s
  daemon/health.go
Labels: area/runtime, status/4-merge, impact/changelog, kind/bugfix, process/cherry-pick/26.1

#47942 docs: api: use separate definition for Image.Config (api v1.39 - v1.45)
  api/swagger.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#47679 c8d/push: Support `--platform` switch
  api/server/httputils/form.go
  api/server/httputils/form_test.go
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/auxprogress/push.go
  api/types/image/opts.go
  client/image_push.go
  daemon/containerd/image_list_test.go
  daemon/containerd/image_manifest.go
  daemon/containerd/image_push.go
  daemon/containerd/image_push_test.go
  daemon/containerd/progress.go
  daemon/containerd/service.go
  daemon/image_service.go
  daemon/images/image_push.go
  docs/api/version-history.md
  internal/testutils/specialimage/multiplatform.go
  internal/testutils/specialimage/twoplatform.go
  vendor.mod
Labels: area/api, status/2-code-review, impact/api, impact/changelog, docs/revisit, area/images, area/ux

#47605 rootless: overlay2: support native overlay diff when using rootless-mode in kernel 5.11 and above
  daemon/graphdriver/overlay2/check.go
  pkg/archive/archive_linux.go
Labels: area/storage/overlay, kind/enhancement, impact/changelog, area/rootless

#47941 api: deprecate erroneous Config fields in `GET /images/{name}/json` response
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, area/docs, impact/api, impact/changelog, impact/deprecation

#47500 seccomp: allow specifying a custom profile with `--privileged`
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
  integration/container/run_linux_test.go
Labels: status/4-merge, impact/changelog, area/security/seccomp, docs/revisit, impact/documentation

#47943 c8d/push: Fix small whoopsies
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#47959 Dockerfile: update buildx to v0.15.0
  Dockerfile
Labels: status/2-code-review, area/dependencies

#47956 daemon: cleanup getDefaultNetworkSettings
  daemon/inspect.go
Labels: status/2-code-review, area/networking, kind/refactor

#47963 Remove ipv6 disable escape hatch
  integration/networking/bridge_test.go
  libnetwork/osl/namespace_linux.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/ipv6, version/26.1

#47871 Portmapper improvements, and options to disable NAT
  daemon/daemon.go
  daemon/network.go
  integration/internal/container/ops.go
  integration/networking/bridge_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/labels.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_firewalld.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/windows/port_mapping.go
  libnetwork/firewall_linux.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_test.go
  libnetwork/portmapper/mapper.go
  libnetwork/portmapper/mapper_linux.go
  libnetwork/portmapper/mapper_linux_test.go
  libnetwork/portmapper/mock_proxy_test.go
  libnetwork/portmapper/proxy.go
  libnetwork/portmapper/proxy_linux.go
  libnetwork/portmapper/proxy_windows.go
  libnetwork/types/types.go
Labels: status/1-design-review, status/2-code-review, kind/feature, area/networking, impact/changelog, impact/documentation, kind/bugfix, area/networking/ipv6, area/networking/portmapping

#47970 remove internal/compatcontext and use context instead
  builder/builder-next/exporter/mobyexporter/export.go
  daemon/cluster/networks.go
  daemon/cluster/services.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_delete.go
  daemon/containerd/image_import.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/image_tag.go
  daemon/containerd/progress.go
  daemon/containerd/soft_delete.go
  daemon/containerfs_linux.go
  daemon/create_unix.go
  daemon/daemon.go
  daemon/restart.go
  daemon/start.go
  daemon/stop.go
  daemon/volumes_unix.go
  daemon/volumes_windows.go
  internal/compatcontext/cancel.go
  internal/compatcontext/cancel_go121.go
  internal/safepath/join_windows.go
Labels: status/2-code-review, kind/refactor

#47971 hack/vendor.sh: remove redundant -compat 1.18
  hack/vendor.sh
Labels: status/2-code-review, kind/refactor

#47973 Add more go:build statements to prevent downgrading Go language version, and update to go1.21
  api/server/router/grpc/grpc.go
  api/server/router/system/system.go
  builder/builder-next/adapters/containerimage/pull.go
  container/view.go
  daemon/container_operations.go
  daemon/containerd/image_push_test.go
  daemon/daemon.go
  daemon/info.go
  daemon/inspect.go
  internal/sliceutil/sliceutil.go
  libnetwork/config/config.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/endpoint.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipamutils/utils.go
  libnetwork/netutils/utils.go
  libnetwork/netutils/utils_linux.go
  libnetwork/network.go
  libnetwork/options/options.go
  libnetwork/portallocator/portallocator.go
  libnetwork/service.go
  plugin/v2/plugin_linux.go
  testutil/helpers.go
Labels: status/2-code-review, kind/bugfix

#47977 vendor: golang.org/x/sys v0.19.0, golang.org/x/crypto v0.22.0, golang.org/x/net v0.24.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sys/unix/mmap_nomremap.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#47976 update runc binary and vendor to v1.1.13
  Dockerfile
  hack/dockerfile/install/runc.installer
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#47979 builder/builder-next: gofmt
  builder/builder-next/builder.go
  builder/builder-next/executor_nolinux.go
Labels: status/2-code-review, kind/refactor

#47981 cli/debug: move to "cmd/dockerd/debug"
  cmd/dockerd/daemon.go
  cmd/dockerd/debug/debug.go
  cmd/dockerd/debug/debug_test.go
  daemon/info.go
Labels: area/cli, status/2-code-review, kind/refactor

#47985 builder/mobyexporter: Add missing nil check
  builder/builder-next/exporter/mobyexporter/writer.go
  builder/builder-next/exporter/mobyexporter/writer_test.go
Labels: area/builder, status/2-code-review, process/cherry-picked, kind/bugfix, area/builder/buildkit

#47986 [26.1 backport] builder/mobyexporter: Add missing nil check
  builder/builder-next/exporter/mobyexporter/writer.go
  builder/builder-next/exporter/mobyexporter/writer_test.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#47987 [25.0 backport] builder/mobyexporter: Add missing nil check
  builder/builder-next/exporter/mobyexporter/writer.go
  builder/builder-next/exporter/mobyexporter/writer_test.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#47989 Don't log an error about route-add for IPv6 bridge
  libnetwork/drivers/bridge/setup_ipv6_linux.go
Labels: status/4-merge, area/networking, kind/bugfix, area/networking/ipv6, area/networking/d/bridge

#47984 daemon: restore: clear net state for stopped containers
  daemon/container_operations.go
  daemon/daemon.go
  integration-cli/docker_api_swarm_test.go
  integration/container/daemon_test.go
  testutil/daemon/daemon.go
Labels: status/4-merge, area/networking, impact/changelog, area/daemon, kind/bugfix

#47991 api: adjust health start interval on swarm update
  api/server/router/swarm/cluster_routes.go
  api/server/router/swarm/helpers.go
Labels: area/api, process/cherry-pick, area/swarm, kind/bugfix, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#47988 [23.0 backport] builder/mobyexporter: Add missing nil check
  builder/builder-next/exporter/writer.go
  builder/builder-next/exporter/writer_test.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#46809 Rebase #36720 "Add exec option to tmpfs"
  api/server/router/swarm/helpers.go
  api/server/router/swarm/helpers_test.go
  api/swagger.yaml
  api/types/mount/mount.go
  daemon/cluster/convert/container.go
  daemon/cluster/convert/container_test.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/container_test.go
  docs/api/version-history.md
  volume/mounts/linux_parser.go
  volume/mounts/linux_parser_test.go
Labels: area/api, status/2-code-review, impact/api, area/swarm

#48002 pkg/archive: deprecate NewTempArchive, TempArchive
  pkg/archive/archive.go
Labels: status/2-code-review, impact/deprecation, area/pkg

#48001 pkg/archive: deprecate CanonicalTarNameForPath
  pkg/archive/archive.go
Labels: status/2-code-review, impact/deprecation, area/pkg

#47999 pkg/dmesg: deprecate, and use internal utility instead
  integration/container/overlayfs_linux_test.go
  pkg/dmesg/dmesg_linux.go
Labels: status/2-code-review, impact/deprecation, area/pkg

#48006 libnetwork: remove special handling for Windows 14393 (RS1, V1607, LTSC2016)
  libnetwork/drivers/windows/overlay/ov_endpoint_windows.go
  libnetwork/drivers/windows/overlay/peerdb_windows.go
Labels: platform/windows, status/2-code-review, area/networking, area/swarm, area/networking/d/overlay

#48005 pkg/archive: TestChangesDirsEmpty, TestChangesDirsMutated: no kernel-version check
  pkg/archive/changes_test.go
Labels: status/2-code-review, area/testing, kind/refactor, area/pkg

#47995 pkg/stringid: deprecate ValidateID, IsShortID
  image/v1/imagev1.go
  pkg/stringid/stringid.go
Labels: status/2-code-review, impact/deprecation, area/images, kind/refactor

#48003 pkg/archive: assorted minor refactors and cleanups
  pkg/archive/archive.go
  pkg/archive/changes.go
  pkg/archive/changes_other.go
  pkg/archive/changes_test.go
Labels: status/2-code-review, kind/refactor, area/pkg

#48007 runconfig: remove code for API < v1.18, deprecate SetDefaultNetModeIfBlank, ContainerConfigWrapper
  api/server/router/container/container_routes.go
  api/types/container/create_request.go
  daemon/container.go
  daemon/create.go
  integration-cli/docker_api_containers_test.go
  runconfig/config.go
  runconfig/config_test.go
  runconfig/config_unix.go
  runconfig/config_windows.go
  runconfig/hostconfig.go
Labels: area/api, status/2-code-review, impact/deprecation, kind/refactor, area/pkg

#47997 pkg/archive, pkg/chrootarchive: remove dependency on pkg/longpath
  pkg/archive/archive.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_windows.go
  pkg/chrootarchive/archive_windows.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/diff_windows.go
Labels: status/2-code-review, kind/refactor, area/pkg

#48000 pkg/archive. pkg/tarsum: format #nosec comments to standard format
  pkg/archive/archive_linux.go
  pkg/archive/diff.go
  pkg/tarsum/tarsum.go
Labels: status/2-code-review, kind/refactor

#47993 builder/dockerfile: assorted linting fixes, and remove LCOW leftover
  builder/dockerfile/copy.go
  builder/dockerfile/internals.go
Labels: area/builder, status/2-code-review, area/lcow, kind/refactor, area/builder/classic-builder

#48012 daemon: rename variables that shadowed imports
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#45052 Fix attach goroutine/fd leak when no I/O is ready
  api/server/router/container/container_routes.go
  api/server/router/container/notify_linux.go
  api/server/router/container/notify_unsupported.go
  api/types/backend/backend.go
  container/stream/attach.go
  container/stream/attach_test.go
  daemon/attach.go
  integration/container/attach_test.go
  integration/internal/system/goroutines.go
  internal/unix_noeintr/epoll_linux.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#48013 api/types/container: reformat to align windows and unix implementations
  api/types/container/hostconfig_unix.go
  api/types/container/hostconfig_windows.go
Labels: area/api, status/2-code-review, area/networking, kind/refactor

#48014 daemon: rename some inconsistent import aliases
  daemon/cluster/executor/container/adapter.go
  daemon/rename.go
Labels: status/2-code-review, area/daemon, kind/refactor

#47239 Set containerd container image ref
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/system/info.go
  daemon/containerd/image.go
  daemon/info.go
  daemon/start.go
  docs/api/version-history.md
  integration/container/create_test.go
Labels: area/api, area/runtime, status/4-merge, impact/api, impact/changelog, containerd-integration

#48020 Revert internal resolver for default bridge
  daemon/config/config_linux.go
  daemon/container_operations_unix.go
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/daemon_unsupported.go
  daemon/daemon_windows.go
  daemon/network.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_swarm_test.go
  integration/networking/resolvconf_test.go
  libnetwork/endpoint.go
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/resolvconf/resolvconf_test.go
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver,_iv6.golden
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_host_nameserver,_no_iv6.golden
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
Labels: kind/bug, area/networking, area/networking/dns

#48022 daemon, daemon/cluster, integration/container: minor linting issues and cleanups
  daemon/cluster/executor/container/container.go
  daemon/cluster/tasks.go
  daemon/cluster/volumes.go
  integration/container/list_test.go
Labels: status/2-code-review, kind/refactor

#48016 runconfig/opts: deprecate ConvertKVStringsToMap and move internal
  builder/dockerfile/buildargs.go
  builder/dockerfile/builder.go
  builder/dockerfile/evaluator.go
  daemon/cluster/filters.go
  daemon/cluster/services.go
  daemon/cluster/utils.go
  runconfig/opts/parse.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#48024 update AUTHORS
  AUTHORS
Labels: status/3-docs-review, area/docs

#48019 daemon/cluster/executor/container: fix error-handling
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/controller.go
Labels: status/2-code-review, area/swarm, kind/bugfix

#48023 api/types/container: provide alias for github.com/docker/go-units.Ulimit
  api/server/router/build/build_routes.go
  api/server/router/swarm/helpers_test.go
  api/types/client.go
  api/types/container/hostconfig.go
  api/types/swarm/container.go
  builder/builder-next/builder.go
  client/image_build_test.go
  daemon/cluster/convert/container.go
  daemon/cluster/executor/container/container.go
  daemon/config/config_linux.go
  daemon/config/config_linux_test.go
  integration-cli/docker_cli_build_unix_test.go
  opts/ulimit.go
  opts/ulimit_test.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#48028 vendor: update buildkit to v0.14.1
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/exporter/containerimage/export.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/linter.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/ruleset.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/frontend/subrequests/lint/lint.go
  vendor/github.com/moby/buildkit/util/resolver/resolver.go
  vendor/modules.txt
Labels: area/builder, status/4-merge, area/builder/buildkit, area/dependencies

#47318 Allow multiple macvlan networks to share a parent
  integration/internal/network/ops.go
  integration/network/helpers.go
  integration/network/macvlan/macvlan_test.go
  libnetwork/drivers/macvlan/macvlan_network.go
Labels: status/2-code-review, kind/feature, area/networking, impact/changelog, area/networking/d/macvlan

#48025 Fix hairpin between networks with mapped port
  integration/networking/bridge_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, kind/bugfix

#47994 libnetwork: ipvlan, macvlan: cleanup getDummyName utility
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/ipvlan/ipvlan_setup.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/macvlan/macvlan_setup.go
Labels: status/4-merge, area/networking, kind/refactor, area/networking/d/ipvlan, area/networking/d/macvlan

#48030 Dockerfile: update buildx to v0.15.1
  Dockerfile
Labels: status/4-merge, area/testing

#48032 update .mailmap and AUTHORS
  .mailmap
  AUTHORS
Labels: status/3-docs-review, area/project

#48031 vendor: github.com/spf13/cobra v1.8.1
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/modules.txt
Labels: area/cli, status/2-code-review, area/dependencies

#48035 update one more entry in mailmap and AUTHORS
  .mailmap
  AUTHORS
Labels: status/3-docs-review, area/project

#48041 api/types: rename container.StatsResponse to StatsResponseReader
  api/types/container/container.go
  api/types/types_deprecated.go
  client/container_stats.go
  client/interface.go
  integration-cli/docker_api_containers_test.go
Labels: status/2-code-review, kind/refactor, area/go-sdk, impact/go-sdk

#48039 api/types: fix typo in GoDoc
  api/types/client.go
Labels: area/api, status/2-code-review

#48033 docs/api: update some example values to be more accurate (API v1.46)
  api/swagger.yaml
  docs/api/v1.46.yaml
Labels: area/api, status/3-docs-review, area/docs

#48037 registry: minor cleanups
  registry/auth.go
  registry/search.go
Labels: area/distribution, status/2-code-review, kind/refactor, area/authentication

#48040 api/types: move stats-types to api/types/container
  api/types/container/container.go
  api/types/container/stats.go
  api/types/types_deprecated.go
  daemon/stats.go
  daemon/stats/collector.go
  daemon/stats_unix.go
  daemon/stats_windows.go
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_stats_test.go
  integration-cli/docker_cli_update_unix_test.go
  integration/container/stats_test.go
Labels: area/api, impact/api, area/go-sdk, impact/go-sdk

#48011 runconfig: deprecate IsPreDefinedNetwork
  daemon/cluster/networks.go
  daemon/network.go
  daemon/network/filter.go
  daemon/network/network_mode.go
  daemon/network/network_mode_unix.go
  daemon/network/network_mode_windows.go
  daemon/prune.go
  runconfig/hostconfig_unix.go
  runconfig/hostconfig_windows.go
Labels: status/2-code-review, impact/deprecation, area/go-sdk, impact/go-sdk

#47961 client: Make version negotiation thread-safe
  client/client.go
Labels: area/api, status/2-code-review, kind/bugfix

#48046 cmd/dockerd: initMiddlewares: use containerd/logs
  cmd/dockerd/daemon.go
Labels: status/2-code-review, area/daemon, kind/refactor

#48045 vendor: github.com/containerd/ttrpc v1.2.5
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/ttrpc/README.md
  vendor/github.com/containerd/ttrpc/client.go
  vendor/github.com/containerd/ttrpc/server.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48049 api: swagger: fix definition of TmpFsOptions (API v1.46)
  api/swagger.yaml
  docs/api/v1.46.yaml
Labels: area/api, status/2-code-review, area/docs, kind/bugfix

#48050 deprecate experimental Graphdriver plugins, and disable by default
  daemon/graphdriver/plugin.go
  integration/plugin/graphdriver/external_test.go
Labels: area/storage, status/2-code-review, impact/changelog, impact/deprecation, area/plugins

#48058 update golangci-lint to v1.59.1
  Dockerfile
  builder/remotecontext/remote.go
  pkg/archive/archive_linux.go
Labels: status/2-code-review, area/testing, process/cherry-picked

#48061 [27.0 backport] update golangci-lint to v1.59.1
  Dockerfile
  builder/remotecontext/remote.go
  pkg/archive/archive_linux.go
Labels: status/2-code-review, area/testing

#48055 api/types: deprecate ContainerJSONBase.Node, ContainerNode
  api/types/types.go
  api/types/types_deprecated.go
  client/container_inspect_test.go
Labels: area/api, status/2-code-review, impact/deprecation, process/cherry-picked, area/go-sdk

#48060 [27.0 backport] api/types: deprecate ContainerJSONBase.Node, ContainerNode
  api/types/types.go
  api/types/types_deprecated.go
  client/container_inspect_test.go
Labels: area/api, status/2-code-review, impact/api, impact/deprecation, area/go-sdk

#48071 daemon/graphdriver, layer: rename vars that shadowed imports
  daemon/graphdriver/fsdiff.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  layer/layer_test.go
Labels: area/storage, status/2-code-review, area/daemon, kind/refactor

#48073 Dockerfile: update compose to v2.28.1, update cli to v27.0.2
  Dockerfile
Labels: status/2-code-review, process/cherry-picked

#48074 [27.0 backport] Dockerfile: update compose to v2.28.1, update cli to v27.0.2
  Dockerfile
Labels: status/2-code-review, area/testing

#48072 daemon/graphdriver: remove support for external graphdriver plugins
  daemon/daemon.go
  daemon/graphdriver/driver.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/graphdriver/plugin.go
  daemon/graphdriver/proxy.go
  daemon/graphdriver/proxy_test.go
  daemon/graphdriver/vfs/vfs_test.go
  integration/image/remove_unix_test.go
  integration/plugin/graphdriver/external_test.go
  integration/plugin/graphdriver/main_test.go
  layer/layer_store.go
  layer/layer_test.go
  plugin/manager.go
Labels: area/storage, kind/experimental, impact/changelog, impact/deprecation, docs/revisit, area/plugins, impact/documentation

#48079 daemon/graphdriver: deprecate GetDriver(), and remove its use
  daemon/graphdriver/driver.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/graphdriver/vfs/vfs_test.go
  layer/layer_test.go
Labels: area/storage, status/2-code-review, area/daemon, area/go-sdk, impact/go-sdk

#48084 Fix duplicate subnet allocations
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipams/defaultipam/address_space_test.go
Labels: area/networking, kind/bugfix, area/networking/ipam, process/cherry-pick/27.0, version/27.0

#48080 fix some gofmt issues reported by goreportcard
  api/server/router/swarm/helpers_test.go
  daemon/cluster/convert/container_test.go
  daemon/cluster/executor/container/container_test.go
  integration/image/save_test.go
Labels: status/2-code-review, area/testing, process/cherry-picked

#48089 [27.0 backport] Fix duplicate subnet allocations
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipams/defaultipam/address_space_test.go
Labels: area/networking, kind/bugfix, area/networking/ipam, version/27.0

#48083 daemon/graphdriver/overlay2: set TarOptions.InUserNS for native differ (fix "failed to Lchown "/dev/console")
  daemon/graphdriver/overlay2/overlay.go
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_other.go
  pkg/archive/archive_unix.go
Labels: area/storage, area/storage/overlay, status/2-code-review, impact/changelog, process/cherry-picked, area/rootless, kind/bugfix

#48088 Fix incorrect validation of port mapping
  integration/networking/bridge_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
Labels: area/networking/ipv6, area/networking/d/bridge, area/networking/portmapping, process/cherry-pick/27.0, version/27.0

#48087 [27.0 backport] fix some gofmt issues reported by goreportcard
  api/server/router/swarm/helpers_test.go
  daemon/cluster/convert/container_test.go
  daemon/cluster/executor/container/container_test.go
  integration/image/save_test.go
Labels: status/2-code-review, area/testing

#48086 [27.0 backport] daemon/graphdriver/overlay2: set TarOptions.InUserNS for native differ (fix "failed to Lchown "/dev/console")
  daemon/graphdriver/overlay2/overlay.go
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_other.go
  pkg/archive/archive_unix.go
Labels: area/storage, area/storage/overlay, status/2-code-review, impact/changelog, area/rootless, kind/bugfix

#48090 [27.0 backport] Fix incorrect validation of port mapping
  integration/networking/bridge_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
Labels: status/4-merge, area/networking, kind/bugfix, area/networking/ipv6, area/networking/d/bridge, area/networking/portmapping

#48095 cleanup: Remove unnecessary return value
  cmd/dockerd/config.go
  cmd/dockerd/config_unix.go
  cmd/dockerd/config_unix_test.go
  cmd/dockerd/config_windows.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/docker.go
Labels: area/cli, status/2-code-review, kind/refactor
