Repository moby/moby, pull requests merged in 2024-11, with the labels that each got.

#48806 client: add utilities to encode platforms
  client/image_history.go
  client/image_load.go
  client/image_save.go
  client/utils.go
  client/utils_test.go
Labels: status/2-code-review, kind/refactor

#48722 c8d/save: Add tests
  daemon/containerd/image_save_test.go
  internal/testutils/specialimage/partial.go
Labels: status/2-code-review, area/testing, containerd-integration

#48819 client: Client.ImageHistory: don't decorate error twice, and improve tests
  client/image_history.go
  client/image_history_test.go
Labels: status/2-code-review, area/go-sdk

#48821 Remove function isLinkable
  daemon/container_operations_unix.go
  daemon/container_operations_windows.go
Labels: area/networking, kind/refactor

#48812 fix(systemd): start Docker engine *after* DNS resolution is ready
  contrib/init/systemd/docker.service
Labels: status/2-code-review, area/systemd, area/packaging

#48813 chore: fix function name
  integration/service/jobs_test.go
Labels: status/4-merge

#48826 fix vendor of github.com/containerd/containerd
  vendor/github.com/containerd/containerd/remotes/docker/config/hosts.go
Labels: area/runtime, status/2-code-review, area/dependencies

#48824 fix, and update golangci-lint config, and fix some linting issues
  .golangci.yml
  integration/image/remove_unix_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  pkg/archive/changes_linux.go
Labels: status/2-code-review, area/testing

#48357 api/swagger: Improve description for platform in images/push
  api/swagger.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/4-merge, area/docs, process/cherry-picked

#48829 [27.x backport] api/swagger: Improve description for platform in images/push
  api/swagger.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/4-merge, area/docs

#48827 vendor: github.com/containerd/typeurl v2.2.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/containerd/typeurl/v2/types_gogo.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48823 Improve /etc/hosts generation
  integration/networking/etchosts_test.go
  libnetwork/docs/vagrant.md
  libnetwork/endpoint.go
  libnetwork/endpoint_unix_test.go
  libnetwork/etchosts/etchosts.go
  libnetwork/etchosts/etchosts_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
Labels: status/2-code-review, area/networking, kind/refactor

#48825 golangci: enable all govet linters, run gosec on tests as well
  .golangci.yml
  builder/builder-next/builder.go
  builder/builder-next/exporter/mobyexporter/writer.go
  builder/dockerfile/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/dispatchers.go
  client/hijack_test.go
  daemon/containerd/image_delete.go
  daemon/containerd/image_import.go
  daemon/containerd/image_test.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/images/image.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/splunk/splunkhecmock_test.go
  daemon/monitor.go
  distribution/manifest.go
  distribution/push_v2.go
  distribution/push_v2_test.go
  distribution/xfer/download_test.go
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_utils_test.go
  integration/plugin/logging/cmd/discard/driver.go
  layer/ro_layer.go
  libnetwork/bitmap/sequence_test.go
  libnetwork/datastore/mockstore_test.go
  libnetwork/service_linux.go
  pkg/authorization/authz_unix_test.go
  pkg/idtools/idtools.go
  pkg/idtools/idtools_test.go
  pkg/idtools/usergroupadd_linux.go
  pkg/plugins/discovery_unix_test.go
  pkg/plugins/plugins.go
  pkg/tarsum/tarsum_test.go
  plugin/backend_linux.go
  plugin/manager_linux_test.go
  volume/mounts/linux_parser_test.go
Labels: status/2-code-review, area/testing

#48831 update to go1.23.3
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#48323 IPv6 only: changes to bridge driver and gateway Endpoint selection
  integration/networking/bridge_linux_test.go
  libnetwork/default_gateway.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/bridge/setup_verify_linux.go
  libnetwork/endpoint.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/netlabel/labels.go
  libnetwork/network_windows.go
  libnetwork/sandbox.go
  libnetwork/sandbox_linux.go
  libnetwork/sandbox_windows.go
  libnetwork/service_linux.go
Labels: kind/enhancement, area/networking, area/networking/ipv6, area/networking/d/bridge, area/networking/portmapping

#48834 all: Remove redundant `units` alias for `go-units`
  api/types/container/hostconfig.go
  builder/builder-next/controller.go
  container/container.go
  container/state.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/windows/windows.go
  daemon/logger/factory.go
  daemon/logger/fluentd/fluentd.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/top_windows.go
  opts/opts.go
  opts/ulimit.go
  pkg/jsonmessage/jsonmessage.go
  volume/local/local_unix.go
Labels: status/2-code-review, kind/refactor

#48832 [27.x] update to go1.22.9
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#48836 vendor: update buildkit to v0.17.1
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit, area/dependencies, process/cherry-pick/27.x

#48840 [27.4] libnet: don't put external DNS answers in OTel spans
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, kind/bugfix, area/networking/dns

#48846 chore(libnetwork): fix some comments
  libnetwork/docs/network.md
  libnetwork/netutils/utils_linux.go
Labels: status/2-code-review

#48848 Dockerfile: update registry to v3.0.0-rc.1
  Dockerfile
Labels: area/distribution, status/2-code-review, area/testing

#48862 deprecate pkg/platform and move internal
  daemon/info.go
  daemon/stats_windows.go
  internal/platform/platform.go
  internal/platform/platform_unix.go
  internal/platform/platform_windows.go
  pkg/platform/platform.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#48860 hack: Add explicit containerd feature to `daemon.json`
  hack/dockerfile/etc/docker/daemon.json
Labels: area/testing, containerd-integration

#48866 Dockerfile: update buildx to v0.18.0, compose to v2.30.3
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-picked

#48867 [27.x backport] Dockerfile: update buildx to v0.18.0, compose to v2.30.3
  Dockerfile
Labels: status/2-code-review, area/testing

#48864 [27.x backport] Increase test handler sleep, replace deprecated assert
  pkg/plugins/client_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#48863 [27.x backport] deprecate pkg/platform and move internal
  daemon/info.go
  daemon/stats_windows.go
  internal/platform/platform.go
  internal/platform/platform_unix.go
  internal/platform/platform_windows.go
  pkg/platform/platform.go
Labels: status/2-code-review, impact/changelog, area/go-sdk, impact/go-sdk

#48842 [27.x]: Make log reading more robust to errors
  daemon/attach.go
  daemon/logger/adapter.go
  daemon/logger/adapter_test.go
  daemon/logger/journald/read.go
  daemon/logger/jsonfilelog/read.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/read.go
  daemon/logger/logger.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_race_test.go
  daemon/logger/loggerutils/logfile_test.go
  daemon/logger/loggerutils/sharedtemp.go
  daemon/logger/ring.go
  daemon/logs.go
  pkg/tailfile/tailfile.go
Labels: area/logging, status/2-code-review, impact/changelog, kind/bugfix

#48861 c8d/list: Return `Descriptor`
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/image/summary.go
  daemon/containerd/image_list.go
  daemon/containerd/image_list_test.go
  docs/api/version-history.md
Labels: area/api, impact/api, impact/changelog, containerd-integration

#48875 [26.1 backport] update to go1.22.9
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, area/packaging

#48876 [25.0 backport] update to go1.22.9
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, area/packaging

#48854 Only masquerade access to own published ports for userland-proxy=false
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noproxy.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap-noproxy.md
  integration/networking/port_mapping_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
Labels: kind/enhancement, area/networking, impact/changelog, area/networking/firewalling, area/networking/portmapping

#47955 Windows: Run containerd as managed process
  .github/workflows/.windows.yml
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  daemon/config/config_windows.go
  daemon/daemon_windows.go
  daemon/start_windows.go
  libcontainerd/supervisor/remote_daemon.go
  libcontainerd/supervisor/remote_daemon_linux.go
  libcontainerd/supervisor/remote_daemon_options.go
  libcontainerd/supervisor/remote_daemon_windows.go
  pkg/system/init_windows.go
Labels: area/runtime, platform/windows, status/2-code-review, impact/changelog, containerd-integration

#48857 Fix /etc/hosts update for net disconnect
  integration/internal/container/ops.go
  integration/networking/etchosts_test.go
  integration/networking/testdata/TestEtcHostsDisconnect1.golden
  integration/networking/testdata/TestEtcHostsDisconnect2.golden
  integration/networking/testdata/TestEtcHostsDisconnect3.golden
  integration/networking/testdata/TestEtcHostsDisconnect4.golden
  integration/networking/testdata/TestEtcHostsDisconnect5.golden
  libnetwork/endpoint.go
  libnetwork/etchosts/etchosts.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
  libnetwork/sandbox_dns_unix.go
  libnetwork/sandbox_dns_windows.go
Labels: area/networking, impact/changelog, kind/bugfix

#48873 Move Austin Vazquez (austinvazquez) to maintainers
  MAINTAINERS
Labels: status/3-docs-review, area/project

#48884 fix missing go:build tags
  api/server/router/container/inspect.go
  daemon/containerd/image_inspect.go
  libnetwork/sandbox.go
Labels: status/2-code-review, kind/bugfix, area/go-sdk

#48885 [27.x] update go:build tags to use go1.22, fix missing go:build tags
  api/server/router/grpc/grpc.go
  api/server/router/system/system.go
  builder/builder-next/adapters/containerimage/pull.go
  container/view.go
  daemon/container_operations.go
  daemon/containerd/image.go
  daemon/containerd/image_list.go
  daemon/containerd/image_push_test.go
  daemon/daemon.go
  daemon/info.go
  daemon/inspect.go
  daemon/logger/loggerutils/logfile.go
  internal/sliceutil/sliceutil.go
  libnetwork/config/config.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/endpoint.go
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipamutils/utils.go
  libnetwork/netutils/utils_linux.go
  libnetwork/network.go
  libnetwork/networkdb/networkdb.go
  libnetwork/options/options.go
  libnetwork/portallocator/portallocator.go
  libnetwork/service.go
  plugin/v2/plugin_linux.go
  testutil/helpers.go
Labels: status/2-code-review, kind/bugfix, area/go-sdk

#48886 [27.x] vendor: tags.cncf.io/container-device-interface v0.8.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/oci.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/version.go
  vendor/tags.cncf.io/container-device-interface/specs-go/config.go
  vendor/tags.cncf.io/container-device-interface/specs-go/oci.go
Labels: status/2-code-review, area/dependencies

#48888 EnableIPv4 will be in API 1.48, not 1.47
  api/server/router/network/network_routes.go
  docs/api/version-history.md
Labels: area/networking, kind/bugfix, area/networking/ipv6

#48887 daemon/logger: logDriverError: use WithFields for logs
  daemon/logger/logger_error.go
Labels: status/2-code-review, kind/refactor

#48895 Makefile: don't automatically inherit graph-driver from host
  Makefile
Labels: status/2-code-review, area/testing

#48894 c8d/image/inspect: Return `Descriptor`
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/image/image_inspect.go
  daemon/containerd/image_inspect.go
  docs/api/version-history.md
  integration/image/inspect_test.go
Labels: area/api, impact/api, impact/changelog, area/images, containerd-integration

#48891 remove logentries check and migration code
  api/server/router/swarm/cluster_routes.go
  daemon/create.go
  daemon/daemon.go
Labels: area/logging, status/2-code-review, impact/deprecation, kind/refactor

#48898 vendor: google.golang.org/grpc v1.66.3
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked, area/dependencies

#48899 [27.x backport] vendor: google.golang.org/grpc v1.66.3
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48766 runc-1.2.0 merge followups
  .golangci.yml
  integration/container/nat_test.go
Labels: status/4-merge, area/testing

#48855 c8d/container/inspect: Return `ImageManifestDescriptor`
  Dockerfile
  api/server/router/container/inspect.go
  api/swagger.yaml
  api/types/container/container.go
  container/container.go
  daemon/commit.go
  daemon/container.go
  daemon/containerd/image_commit.go
  daemon/create.go
  daemon/exec_windows.go
  daemon/export.go
  daemon/health.go
  daemon/images/image_commit.go
  daemon/info.go
  daemon/inspect.go
  daemon/migration.go
  daemon/migration_test.go
  docs/api/version-history.md
  integration/container/inspect_test.go
  testutil/environment/protect.go
Labels: area/api, status/4-merge, kind/enhancement, impact/api, impact/changelog, containerd-integration

#48596 Make containers on routed-mode networks accessible from other bridge networks
  integration/network/bridge/iptablesdoc/generated/new-daemon.md
  integration/network/bridge/iptablesdoc/generated/usernet-internal.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noproxy.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-routed.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/network/bridge/iptablesdoc/templates/new-daemon.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap-routed.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap.md
  integration/networking/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, area/networking/portmapping, version/27.0

#48900 vendor: github.com/opencontainers/runc v1.2.2
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48901 update golangci-lint to v1.62.0
  Dockerfile
Labels: status/2-code-review, area/testing

#48902 client: support multiple platforms on save and load
  api/server/router/image/image_routes.go
  api/types/image/opts.go
  client/image_load.go
  client/image_load_test.go
  client/image_save.go
  client/image_save_test.go
  integration/image/save_test.go
Labels: status/2-code-review, containerd-integration, area/go-sdk

#48897 client: ImageImport: omit empty query-parameters
  client/image_import.go
  client/image_import_test.go
Labels: area/cli, status/2-code-review, kind/refactor

#48911 vendor: github.com/golang-jwt/jwt/v4@v4.5.1
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: area/dependencies, process/cherry-pick/26.1, process/cherry-pick/27.x

#48914 [26.1 backport] vendor: github.com/golang-jwt/jwt/v4@v4.5.1
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#47666 Dockerfile: update to runc v1.2.2
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, area/testing, area/packaging

#48916 volume/testutils: simplify fakePluginGetter
  volume/testutils/testutils.go
Labels: status/2-code-review, area/testing, area/volumes, kind/refactor

#48918 Dockerfile: update containerd v1.7.24
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, area/testing, area/packaging

#48919 [27.x backport] Dockerfile: update containerd v1.7.24, runc v1.2.2
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging

#48920 [25.0 backport] vendor: github.com/golang-jwt/jwt/v4@v4.5.1
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48925 vendor: github.com/containerd/continuity v0.4.5
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/continuity/fs/stat_darwinbsd.go
  vendor/github.com/containerd/continuity/fs/stat_unix.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48929 integration/container: TestCDISpecDirsAreInSystemInfo: use fixtures
  integration/container/cdi_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#48932 vendor: github.com/tonistiigi/go-actions-cache 394979b8119e
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v5/.gitignore
  vendor/github.com/golang-jwt/jwt/v5/LICENSE
  vendor/github.com/golang-jwt/jwt/v5/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v5/claims.go
  vendor/github.com/golang-jwt/jwt/v5/doc.go
  vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v5/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v5/errors.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go1_20.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go_other.go
  vendor/github.com/golang-jwt/jwt/v5/hmac.go
  vendor/github.com/golang-jwt/jwt/v5/map_claims.go
  vendor/github.com/golang-jwt/jwt/v5/none.go
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/parser_option.go
  vendor/github.com/golang-jwt/jwt/v5/registered_claims.go
  vendor/github.com/golang-jwt/jwt/v5/rsa.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v5/signing_method.go
  vendor/github.com/golang-jwt/jwt/v5/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/github.com/golang-jwt/jwt/v5/token_option.go
  vendor/github.com/golang-jwt/jwt/v5/types.go
  vendor/github.com/golang-jwt/jwt/v5/validator.go
  vendor/github.com/tonistiigi/go-actions-cache/.gitignore
  vendor/github.com/tonistiigi/go-actions-cache/Dockerfile
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/docker-bake.hcl
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit, area/dependencies

#48926 [27.x backport] vendor: github.com/containerd/continuity v0.4.5
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/continuity/fs/stat_darwinbsd.go
  vendor/github.com/containerd/continuity/fs/stat_unix.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#48930 vendor: resenje.org/singleflight v0.4.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/resenje.org/singleflight/.golangci.yaml
  vendor/resenje.org/singleflight/README.md
  vendor/resenje.org/singleflight/singleflight.go
Labels: status/2-code-review, area/dependencies

#48931 [27.x backport] vendor: resenje.org/singleflight v0.4.3
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/resenje.org/singleflight/.golangci.yaml
  vendor/resenje.org/singleflight/README.md
  vendor/resenje.org/singleflight/singleflight.go
Labels: status/2-code-review, area/dependencies

#48933 [27.x backport] vendor: github.com/tonistiigi/go-actions-cache 394979b8119e
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v5/.gitignore
  vendor/github.com/golang-jwt/jwt/v5/LICENSE
  vendor/github.com/golang-jwt/jwt/v5/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/v5/claims.go
  vendor/github.com/golang-jwt/jwt/v5/doc.go
  vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  vendor/github.com/golang-jwt/jwt/v5/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519.go
  vendor/github.com/golang-jwt/jwt/v5/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/v5/errors.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go1_20.go
  vendor/github.com/golang-jwt/jwt/v5/errors_go_other.go
  vendor/github.com/golang-jwt/jwt/v5/hmac.go
  vendor/github.com/golang-jwt/jwt/v5/map_claims.go
  vendor/github.com/golang-jwt/jwt/v5/none.go
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/parser_option.go
  vendor/github.com/golang-jwt/jwt/v5/registered_claims.go
  vendor/github.com/golang-jwt/jwt/v5/rsa.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v5/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/v5/signing_method.go
  vendor/github.com/golang-jwt/jwt/v5/staticcheck.conf
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/github.com/golang-jwt/jwt/v5/token_option.go
  vendor/github.com/golang-jwt/jwt/v5/types.go
  vendor/github.com/golang-jwt/jwt/v5/validator.go
  vendor/github.com/tonistiigi/go-actions-cache/.gitignore
  vendor/github.com/tonistiigi/go-actions-cache/Dockerfile
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/docker-bake.hcl
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit, area/dependencies

#48928 [25.0 backport] daemon: use OwnCgroupPath in withCgroups
  daemon/oci_linux.go
Labels: area/runtime, status/2-code-review

#48906 Disallow "network generic data" with type options.Generic
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/sandbox_unix_test.go
Labels: area/networking, kind/refactor

#48942 [27.x] vendor: github.com/moby/buildkit v0.17.2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/solver/pb/ops.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit

#48945 api/types/filters: rewrite / improve some tests
  api/types/filters/parse_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#48954 [27.x] vendor: github.com/moby/buildkit 80e01a9dc7c1 (v0.17.3-dev)
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/metadata/metadata.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, kind/bugfix, area/builder/buildkit

#48910 Fix lease management during pull and export
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_snapshot.go
  daemon/containerd/leases.go
Labels: status/4-merge, kind/enhancement, impact/changelog, process/cherry-picked, area/images, kind/bugfix, containerd-integration

#48957 [27.x backport] Fix lease management during pull and export
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_snapshot.go
  daemon/containerd/leases.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix, containerd-integration

#48953 Remove buildkit init timeout
  cmd/dockerd/daemon.go
Labels: area/builder, status/2-code-review, process/cherry-picked, kind/bugfix, area/builder/buildkit, process/cherry-pick/25.0, process/cherry-pick/26.1

#48961 vendor: update buildkit to v0.18.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit

#48960 Fix br_netfilter module loading logic
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, process/cherry-pick/27.x, version/27.3

#48807 IPv6 only: Allow IPv4 and IPv6 host-gateway-ip addresses
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_linux_test.go
  daemon/container_operations.go
  daemon/daemon_unix.go
  integration/network/network_linux_test.go
  integration/network/network_test.go
  internal/opts/host_gateway_opts.go
  internal/opts/named_iplist_opts.go
Labels: kind/feature, area/networking, impact/changelog, impact/documentation, area/networking/ipv6, area/networking/d/bridge

#48940 integration: add wait
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/container/cdi_test.go
  integration/container/diff_test.go
  integration/container/nat_test.go
  integration/image/commit_test.go
  integration/networking/port_mapping_linux_test.go
  integration/plugin/logging/read_test.go
Labels: status/2-code-review, area/testing, process/cherry-picked, process/cherry-pick/25.0, process/cherry-pick/26.1

#48956 integration: remove default poll delay and timeouts
  integration/capabilities/capabilities_linux_test.go
  integration/container/checkpoint_test.go
  integration/container/create_test.go
  integration/container/diff_test.go
  integration/container/export_test.go
  integration/container/health_test.go
  integration/container/kill_test.go
  integration/container/logs_test.go
  integration/container/mounts_linux_test.go
  integration/container/nat_test.go
  integration/container/pause_test.go
  integration/container/remove_test.go
  integration/container/rename_test.go
  integration/container/restart_test.go
  integration/container/run_linux_test.go
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
  integration/container/update_test.go
  integration/container/wait_test.go
  integration/network/dns_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#48969 [27.x backport] integration: add wait
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/container/cdi_test.go
  integration/container/diff_test.go
  integration/container/nat_test.go
  integration/image/commit_test.go
  integration/networking/bridge_test.go
  integration/plugin/logging/read_test.go
Labels: status/2-code-review, area/testing

#48966 [27.x backport] Fix br_netfilter module loading logic
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
Labels: status/4-merge, area/networking, impact/changelog, kind/bugfix, area/networking/d/bridge, area/networking/firewalld

#48968 [27.x backport] daemon/graphdriver/zfs: ignore non-existent dataset on removal
  daemon/graphdriver/zfs/zfs.go
Labels: area/storage, status/4-merge, area/storage/zfs

#48978 gofumpt code
  daemon/daemon_unix.go
  daemon/hosts.go
  daemon/migration_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/ipams/null/null.go
Labels: status/2-code-review, kind/refactor

#48980 cmd/dockerd: newRouterOptions: rename arg that shadowed import
  cmd/dockerd/daemon.go
Labels: status/2-code-review, area/daemon, kind/refactor

#48981 daemon: getCD: remove use of parsers.ParseKeyValueOpt
  daemon/daemon_unix.go
Labels: status/2-code-review, area/daemon, kind/refactor

#48985 daemon/config: some refactor and deprecate Config.ValidatePlatformConfig
  daemon/config/config.go
  daemon/config/config_linux.go
  daemon/config/config_windows.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#48984 daemon: Daemon.RegistryHosts: use internal method to get daemon config
  daemon/hosts.go
Labels: status/2-code-review, area/daemon, kind/refactor

#48986 cmd/dockerd: change routerOptions.Build to a regular func
  cmd/dockerd/daemon.go
Labels: area/cli, status/2-code-review, kind/refactor

#48936 api: add GwPriority field to EndpointSettings
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/network/endpoint.go
  container/view.go
  daemon/network.go
  docs/api/version-history.md
  integration/network/network_linux_test.go
Labels: area/api, status/2-code-review, kind/feature, area/networking, impact/api, impact/changelog

#48988 Add --host-gateway-ip to the dockerd manpage
  man/dockerd.8.md
Labels: status/3-docs-review, kind/enhancement, area/networking

#48993 Jenkinsfile: modprobe br_netfilter
  Jenkinsfile
Labels: status/2-code-review, area/testing, process/cherry-picked

#48995 [27.x backport] Jenkinsfile: modprobe br_netfilter
  Jenkinsfile
Labels: status/2-code-review, area/testing

#48998 [26.1 backport] Jenkinsfile: modprobe br_netfilter
  Jenkinsfile
Labels: status/2-code-review, area/testing

#48997 [25.0 backport] Jenkinsfile: modprobe br_netfilter
  Jenkinsfile
Labels: status/2-code-review, area/testing

#48996 [23.0 backport] Jenkinsfile: modprobe br_netfilter
  Jenkinsfile
Labels: status/2-code-review, area/testing

#49002 [26.1 backport] gha: more limits, update alpine version, and some minor improvements
  .github/workflows/.dco.yml
  .github/workflows/.windows.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: status/4-merge, area/testing

#49001 [25.0 backport] integration: add wait
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/container/cdi_test.go
  integration/container/diff_test.go
  integration/container/nat_test.go
  integration/image/commit_test.go
  integration/plugin/logging/read_test.go
Labels: status/4-merge, area/testing

#49000 [26.1 backport] integration: add wait
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/container/cdi_test.go
  integration/container/diff_test.go
  integration/container/nat_test.go
  integration/image/commit_test.go
  integration/plugin/logging/read_test.go
Labels: status/2-code-review, area/testing
