Repository moby/moby, pull requests merged in 2024-09, with the labels that each got.

#48414 c8d/pull: Same error message for non-matching platform
  daemon/containerd/image_pull.go
  integration-cli/docker_cli_pull_test.go
Labels: status/2-code-review, area/images, area/ux, process/cherry-pick/27.2

#48415 [27.x backport] c8d/pull: Same error message for non-matching platform
  daemon/containerd/image_pull.go
  integration-cli/docker_cli_pull_test.go
Labels: status/2-code-review, area/images, containerd-integration, area/ux

#46982 update to go1.22.6
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/make/.binary
Labels: status/2-code-review, impact/changelog, area/packaging, process/cherry-pick/27.2

#48422 docs/api: add documentation for API v1.47
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#48423 [27.x backport] docs/api: add documentation for API v1.47
  docs/api/v1.47.yaml
Labels: area/api, status/2-code-review, area/docs

#48424 update runc binary to 1.1.14
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: status/2-code-review, impact/changelog, area/testing, process/cherry-picked, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1

#48426 [27.x backport] update runc binary to 1.1.14
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#47983 Make log reading more robust to errors
  daemon/attach.go
  daemon/logger/adapter.go
  daemon/logger/adapter_test.go
  daemon/logger/journald/read.go
  daemon/logger/jsonfilelog/read.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/local/read.go
  daemon/logger/logger.go
  daemon/logger/loggertest/logreader.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/logger/loggerutils/follow.go
  daemon/logger/loggerutils/logfile.go
  daemon/logger/loggerutils/logfile_race_test.go
  daemon/logger/loggerutils/logfile_test.go
  daemon/logger/loggerutils/sharedtemp.go
  daemon/logger/ring.go
  daemon/logs.go
  pkg/tailfile/tailfile.go
Labels: area/logging, status/2-code-review, impact/changelog, kind/bugfix

#48421 hack/make/.binary: enable pie mode on windows/arm64
  hack/make/.binary
Labels: platform/windows, status/2-code-review, area/packaging, kind/refactor

#48425 vendor: github.com/opencontainers/runc v1.1.14
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: status/2-code-review, process/cherry-picked

#48430 [27.x backport] vendor: github.com/opencontainers/runc v1.1.14
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: status/2-code-review

#48397 [23.0 backport] Update to go1.22.6
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  builder/remotecontext/remote.go
  cli/winresources/README.md
  contrib/nnp-test/Dockerfile
  contrib/syscall-test/Dockerfile
  hack/dind
  hack/dind-systemd
  hack/make/.binary
  integration-cli/docker_cli_daemon_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/fixtures_linux_daemon_test.go
  integration/build/build_userns_linux_test.go
  pkg/archive/archive_linux.go
  quota/testhelpers.go
  testutil/environment/protect.go
  vendor.mod
  vendor.sum
  vendor/github.com/Microsoft/go-winio/fileinfo.go
  vendor/modules.txt
Labels: status/2-code-review, area/packaging

#48427 [26.1 backport] update to go1.22.6
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  api/server/router/container/container_routes.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/container/hostconfig.go
  builder/dockerfile/internals_linux.go
  builder/remotecontext/remote.go
  cmd/dockerd/required.go
  container/stream/streams.go
  daemon/daemon.go
  hack/dockerfiles/generate-files.Dockerfile
  hack/make/.binary
  integration-cli/benchmark_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  integration-cli/docker_utils_test.go
  internal/cleanups/composite_test.go
  layer/layer.go
  libnetwork/cnmallocator/drivers_ipam.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/sandbox_dns_unix_test.go
  libnetwork/sandbox_externalkey_unix.go
  pkg/archive/archive_linux.go
  volume/testutils/testutils.go
Labels: status/2-code-review, impact/changelog, area/packaging

#48432 update to go1.22.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  api/swagger.yaml
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, process/cherry-pick, process/cherry-pick/23.0, process/cherry-pick/25.0, area/dependencies, process/cherry-pick/26.1

#48433 [27.x backport] update to go1.22.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  api/swagger.yaml
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/dependencies

#48436 [26.1 backport] update to go1.22.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  api/swagger.yaml
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, area/dependencies

#48437 [25.0 backport] update to go1.22.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  api/swagger.yaml
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, area/dependencies

#48442 [23.0 backport] update to go1.22.7
  .github/workflows/.windows.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
Labels: status/2-code-review, impact/changelog, area/packaging, area/dependencies

#48434 add more //go:build directives to prevent downgrading to go1.16
  daemon/logger/loggerutils/logfile.go
  libnetwork/networkdb/networkdb.go
Labels: status/4-merge, kind/bugfix

#48450 gha/bin-image: Also run on branches like `27.x`
  .github/workflows/bin-image.yml
Labels: status/4-merge, area/testing, process/cherry-picked, kind/bugfix

#48451 [27.x backport] gha/bin-image: Also run on branches like `27.x`
  .github/workflows/bin-image.yml
Labels: status/4-merge, area/testing, kind/bugfix

#48435 container/stream: Config.CloseStreams(): use errors.Join
  container/stream/streams.go
Labels: status/4-merge, kind/refactor

#48453 internal/unix_noeintr: fix godoc for package
  internal/unix_noeintr/fs_unix.go
Labels: status/2-code-review, kind/refactor

#48455 seccomp: add riscv64 mapping to seccomp_linux.go
  profiles/seccomp/seccomp_linux.go
Labels: status/2-code-review, area/security/seccomp, kind/bugfix, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.2

#48465 [25.0 backport] seccomp: add riscv64 mapping to seccomp_linux.go
  profiles/seccomp/seccomp_linux.go
Labels: status/2-code-review, area/security/seccomp, kind/bugfix

#48458 Dockerfile/vendor: update containerd to v1.7.22
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-picked, area/packaging, area/dependencies

#48468 [27.x backport] Dockerfile/vendor: update containerd to v1.7.22
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/Vagrantfile
  vendor/github.com/containerd/containerd/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, impact/changelog, area/packaging, area/dependencies

#48472 vendor: update buildkit to v0.16.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#48473 integration/system: rename vars to prevent shadowing imports
  integration/system/disk_usage_test.go
  integration/system/event_test.go
  integration/system/info_linux_test.go
  integration/system/info_test.go
  integration/system/login_test.go
  integration/system/ping_test.go
  integration/system/version_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#48446 api/swagger: update deprecation version for erroneous fields
  api/swagger.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#48470 [27.x backport] api/swagger: update deprecation version for erroneous fields
  api/swagger.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs

#48459 [27.x backport] api: swagger: fix documentation for image push endpoint
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs

#48476 API: bump version to 1.48
  api/common.go
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#48461 layer: layerStore.deleteLayer(): remove redundant error-check
  layer/layer_store.go
Labels: status/2-code-review, kind/refactor

#48467 image/tarexport: fix some minor linting issues
  image/tarexport/save.go
Labels: status/2-code-review, kind/refactor

#48475 Dockerfile: Update CLI, buildx and compose
  Dockerfile
Labels: status/4-merge, area/testing, process/cherry-picked

#48477 [27.x backport] Dockerfile: Update CLI, buildx and compose
  Dockerfile
Labels: status/2-code-review, area/testing

#48172 update RootlessKit to v2.3.1
  Dockerfile
  hack/dockerfile/install/rootlesskit.installer
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/4-merge, area/rootless, area/dependencies

#48480 TestIPRangeAt64BitLimit: remove colon after XFAIL to help grepping
  integration/network/bridge_test.go
Labels: status/2-code-review, area/testing, process/cherry-pick/27.x

#48482 Explicitly disable nvidia device injection for --gpus=0
  daemon/nvidia_linux.go
Labels: area/runtime, status/2-code-review, impact/changelog, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#48483 [27.x backport] Explicitly disable nvidia device injection for --gpus=0
  daemon/nvidia_linux.go
Labels: area/runtime, status/2-code-review, impact/changelog

#48479 [27.x backport] Dockerfile: update RootlessKit to v2.3.1
  Dockerfile
  hack/dockerfile/install/rootlesskit.installer
Labels: status/2-code-review, impact/changelog, area/packaging, area/rootless

#48076 c8d/prune: Keep the last tagged image instead of creating dangling image
  daemon/containerd/image_prune.go
  integration/image/prune_test.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration, process/cherry-pick/27.x

#48295 c8d: Add `platform` parameter to history, save and load
  api/server/router/image/backend.go
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/image/opts.go
  client/image_history.go
  client/image_history_test.go
  client/image_load.go
  client/image_load_test.go
  client/image_save.go
  client/image_save_test.go
  client/interface.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_history.go
  daemon/containerd/image_push.go
  daemon/image_service.go
  daemon/images/image_exporter.go
  daemon/images/image_history.go
  docs/api/version-history.md
  image/tarexport/load.go
  image/tarexport/save.go
  image/tarexport/tarexport.go
  integration-cli/docker_api_images_test.go
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/image/save_test.go
  integration/plugin/authz/authz_plugin_test.go
  internal/testutils/specialimage/load.go
  testutil/daemon/daemon.go
  testutil/fixtures/load/frozen.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/images, containerd-integration, area/go-sdk, impact/go-sdk

#48485 [27.x backport] TestIPRangeAt64BitLimit: remove colon after XFAIL to help grepping
  integration/network/bridge_test.go
Labels: status/4-merge, area/testing

#48487 [27.x backport] Add feature to daemon flags
  cmd/dockerd/config.go
  daemon/config/config.go
  daemon/config/config_linux_test.go
  integration/daemon/daemon_test.go
  internal/opts/opts.go
  internal/opts/opts_test.go
Labels: area/cli, status/2-code-review, kind/enhancement, impact/changelog, area/daemon, impact/documentation, containerd-integration

#48486 man: update dockerd man-page to include --feature flag
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon, process/cherry-pick/27.x

#48490 [27.x backport] man: update dockerd man-page to include --feature flag
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon

#48488 [27.x backport] c8d/prune: Keep the last tagged image instead of creating dangling image
  daemon/containerd/image_prune.go
  integration/image/prune_test.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix, containerd-integration

#48299 IPv6 only: macvlan and ipvlan drivers
  integration/network/ipvlan/ipvlan_test.go
  integration/network/macvlan/macvlan_test.go
  libnetwork/drivers/ipvlan/ipvlan_endpoint.go
  libnetwork/drivers/ipvlan/ipvlan_joinleave.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/macvlan/macvlan_endpoint.go
  libnetwork/drivers/macvlan/macvlan_joinleave.go
  libnetwork/drivers/macvlan/macvlan_network.go
Labels: kind/feature, area/networking, impact/changelog, area/networking/ipv6, area/networking/d/ipvlan, area/networking/d/macvlan

#48493 [25.0 backport] Explicitly disable nvidia device injection for --gpus=0
  daemon/nvidia_linux.go
Labels: area/runtime, status/2-code-review, impact/changelog

#48497 Update dlv in the dev-env
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#48499 [27.x backport] Update dlv in the dev-env
  Dockerfile
Labels: status/2-code-review, area/testing

#48500 [26.1 backport] Update dlv in the dev-env
  Dockerfile
Labels: status/2-code-review, area/testing

#48502 dockerd: fix docs, improve validation and improve coverage of "--feature" flag
  internal/opts/opts.go
  internal/opts/opts_test.go
  man/dockerd.8.md
Labels: area/cli, status/2-code-review, area/docs, process/cherry-picked, area/daemon

#48503 [27.x backport] dockerd: fix docs, improve validation and improve coverage of "--feature" flag
  internal/opts/opts.go
  internal/opts/opts_test.go
  man/dockerd.8.md
Labels: area/cli, status/2-code-review, area/docs, area/daemon

#48501 [25.0 backport] Update dlv in the dev-env
  Dockerfile
Labels: status/2-code-review, area/testing

#48505 man: dockerd: add description for --log-format option
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, process/cherry-picked, area/daemon

#48504 man: remove docs for deprecated --api-cors-header
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon

#48460 remove deprecated image/spec package
  image/spec/specs-go/v1/image_deprecated.go
  image/spec/specs-go/version_deprecated.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk

#48506 [27.x backport] man: dockerd: add description for --log-format option
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon

#48508 [26.1 backport] man: dockerd: add description for --log-format option
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon

#48492 Only enable bridge netfiltering when needed
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/ipv6, area/networking/firewalling, area/networking/d/bridge, process/cherry-pick/27.x

#48507 [25.0 backport] man: dockerd: add description for --log-format option
  man/dockerd.8.md
Labels: status/3-docs-review, area/docs, area/daemon

#48511 [27.x backport] Only enable bridge netfiltering when needed
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/ipv6, area/networking/firewalling, area/networking/d/bridge

#48509 Dockerfile: update buildx to v0.17.1, compose to v2.29.4
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-picked

#48510 [27.x backport] Dockerfile: update buildx to v0.17.1, compose to v2.29.4
  Dockerfile
Labels: status/2-code-review, area/testing

#48407 Retry on EINTR from netlink dump calls
  .golangci.yml
  daemon/cluster/listen_addr_linux.go
  daemon/daemon_unix.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_swarm_test.go
  internal/nlwrap/nlwrap_linux.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/interface_linux.go
  libnetwork/drivers/bridge/interface_linux_test.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/setup_device_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/bridge/setup_ipv4_linux_test.go
  libnetwork/drivers/bridge/setup_ipv6_linux_test.go
  libnetwork/drivers/bridge/setup_verify_linux_test.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ov_utils.go
  libnetwork/iptables/conntrack.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/netutils/utils_linux.go
  libnetwork/ns/init_linux.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/sandbox_linux_test.go
Labels: area/networking, kind/bugfix

#48075 Do not DNAT packets from WSL2's loopback0
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: status/1-design-review, kind/feature, area/networking, area/lcow, area/networking/firewalling, area/networking/d/bridge, process/cherry-pick/27.x

#48515 Fix merge problem
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: status/4-merge, area/networking, kind/bugfix

#48514 [27.x backport] Do not DNAT packets from WSL2's loopback0
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: kind/feature, area/networking, area/networking/firewalling, area/networking/d/bridge

#47412 cmd/dockerd: assorted changes to improve context-passing, config loading
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_linux.go
  cmd/dockerd/daemon_test.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/docker.go
  cmd/dockerd/docker_unix.go
  cmd/dockerd/docker_windows.go
  cmd/dockerd/options.go
  cmd/dockerd/service_windows.go
Labels: area/cli, status/2-code-review, area/daemon, kind/refactor

#48489 IPv6 only: bug fix - enableIPv4 for old networks
  libnetwork/network.go
Labels: area/networking, kind/bugfix, area/networking/ipv6, area/networking/d/bridge, version/28.0

#48513 cmd/dockerd: use golang.org/x/sys/windows/service param-change consts
  cmd/dockerd/service_windows.go
Labels: platform/windows, status/2-code-review, kind/refactor

#48524 gha: govulncheck: make sure read permissions are set
  .github/workflows/ci.yml
Labels: area/testing, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#48525 [27.x backport] gha: govulncheck: make sure read permissions are set
  .github/workflows/ci.yml
Labels: status/2-code-review, area/testing

#47034 gha: add CodeQL Analysis workflow
  .github/workflows/codeql.yml
Labels: status/2-code-review, area/testing

#47992 libnet/ds, libnet/config: various cleanups
  libnetwork/config/config.go
  libnetwork/controller.go
  libnetwork/datastore/datastore.go
  libnetwork/datastore/datastore_test.go
  libnetwork/firewall_linux_test.go
  libnetwork/internal/kvstore/boltdb/boltdb.go
  libnetwork/internal/kvstore/kvstore.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/resolver_unix_test.go
  libnetwork/sandbox_dns_unix_test.go
  libnetwork/sandbox_unix_test.go
  libnetwork/service_common_unix_test.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#48537 Dockerfile: update docker CLI to v27.3.1, compose to v2.29.7
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-pick/27.x

#48540 daemon: add IPv6 loopback as insecure registry
  api/swagger.yaml
  daemon/reload_test.go
  integration/system/info_test.go
  registry/config.go
Labels: area/distribution, status/2-code-review, impact/changelog, docs/revisit, area/daemon, area/networking/ipv6

#48553 client.ContainerCreate: use container.CreateRequest instead of local type
  client/container_create.go
  client/container_create_test.go
Labels: area/api, status/2-code-review, kind/refactor, area/go-sdk

#48548 [25.0 backport] bump containerd v1.7.22
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: area/runtime, status/2-code-review, impact/changelog, area/testing, area/packaging

#48546 Update download-frozen-image-v2.sh added OCI v1 support (carry 48533)
  contrib/download-frozen-image-v2.sh
Labels: status/2-code-review, kind/enhancement, area/contrib

#48554 runconfig: validateNetContainerMode: simplify validation
  runconfig/hostconfig.go
Labels: status/2-code-review, area/networking, kind/refactor

#48478 api: info: deprecate "Commit.Expected" fields
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/system/info.go
  daemon/info_unix.go
  docs/api/version-history.md
  integration/system/info_linux_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation, area/go-sdk

#48552 daemon/exec: don't overwrite exit code if set
  daemon/exec.go
  hack/make/test-docker-py
  integration/container/exec_linux_test.go
Labels: area/daemon, kind/bugfix
