Repository moby/moby, pull requests merged in 2024-12, with the labels that each got.

#48921 [25.0 backport] Dockerfile: update containerd v1.7.24, runc v1.2.2
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
  hack/dockerfile/install/runc.installer
Labels: impact/changelog, area/testing, area/packaging

#49004 registry: remove deprecated APIEndpoint.Version and APIVersion type
  registry/service.go
  registry/service_v2.go
  registry/types.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49006 registry: deprecate RepositoryInfo.Class
  distribution/registry.go
  registry/types.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk, process/cherry-pick/27.x

#49009 c8d/tag: Don't log a warning if the source image is not dangling
  daemon/containerd/image_tag.go
Labels: impact/changelog, process/cherry-picked, area/images, kind/bugfix, containerd-integration

#49010 [27.x backport] c8d/tag: Don't log a warning if the source image is not dangling
  daemon/containerd/image_tag.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix, containerd-integration

#49012 [26.1 backport] c8d/tag: Don't log a warning if the source image is not dangling
  daemon/containerd/image_tag.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix, containerd-integration

#49011 [25.0 backport] c8d/tag: Don't log a warning if the source image is not dangling
  daemon/containerd/image_tag.go
Labels: status/2-code-review, impact/changelog, area/images, kind/bugfix, containerd-integration

#49013 [27.x backport] registry: deprecate RepositoryInfo.Class
  distribution/registry.go
  registry/types.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49019 daemon/daemon_linux.go: Fix a typo in comment
  daemon/daemon_linux.go
Labels: status/4-merge, area/daemon

#48999 registry: isCIDRMatch: avoid performing DNS lookups if not needed
  registry/config.go
  registry/registry_mock_test.go
  registry/registry_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49015 registry: remove assignment of default values in some tests
  distribution/pull_v2_test.go
  distribution/registry_unit_test.go
Labels: area/distribution, status/2-code-review, area/testing, kind/refactor

#48541 Dockerd rootless: make {/etc,/var/run}/cdi available
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, area/rootless

#49024 [27.x] vendor: github.com/moby/buildkit v0.17.3
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit, area/dependencies

#49025 update to go1.23.4
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, area/dependencies

#49026 [27.x] update to go1.22.10
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, area/dependencies, process/cherry-pick/26.1

#49027 [27.x backport] Dockerd rootless: make {/etc,/var/run}/cdi available
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, impact/changelog, area/contrib, area/rootless

#49028 [26.1 backport] Dockerd rootless: make {/etc,/var/run}/cdi available
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, impact/changelog, area/contrib, area/rootless

#49029 [25.0 backport] Dockerd rootless: make {/etc,/var/run}/cdi available
  contrib/dockerd-rootless.sh
Labels: status/2-code-review, impact/changelog, area/contrib, area/rootless

#49021 distribution: verifySchema1Manifest: pass through context
  distribution/pull_v2.go
  distribution/pull_v2_test.go
Labels: area/distribution, status/2-code-review

#49031 vendor: google.golang.org/protobuf v1.35.2
  vendor.mod
  vendor.sum
  vendor/google.golang.org/protobuf/cmd/protoc-gen-go/internal_gengo/main.go
  vendor/google.golang.org/protobuf/compiler/protogen/protogen.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49038 Try to load kernel modules, without modprobe
  Jenkinsfile
  hack/make/run
  internal/modprobe/modprobe_linux.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
  libnetwork/ns/init_linux.go
Labels: status/2-code-review, status/4-merge, kind/enhancement, area/networking, impact/changelog, area/daemon, area/networking/ipv6, process/cherry-pick/27.x

#49022 Ignore kernel-assigned LL addrs when selecting "bip6"
  daemon/daemon_unix.go
  integration/daemon/daemon_linux_test.go
  libnetwork/drivers/bridge/setup_device_linux.go
Labels: area/networking, kind/bugfix, area/networking/ipv6, area/networking/d/bridge

#49048 [25.0] update to go1.22.10
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: impact/changelog, area/packaging, area/dependencies

#49047 [26.1] update to go1.22.10
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: impact/changelog, area/packaging, area/dependencies

#49045 api/types/network: add godoc for EndpointSettings.GwPriority
  api/types/network/endpoint.go
Labels: area/api, status/3-docs-review, area/networking, area/go-sdk

#49053 cmd/dockerd: ignore some unhandled errors
  cmd/dockerd/daemon.go
Labels: area/cli, status/2-code-review, kind/refactor

#49052 daemon: remove Daemon.NetworkControllerEnabled
  cmd/dockerd/daemon.go
  daemon/network.go
Labels: area/api, status/2-code-review, area/networking, area/daemon, kind/refactor

#49049 daemon/containerd: hostsWrapper: remove unused regService argument
  daemon/containerd/resolver.go
Labels: area/distribution, status/2-code-review, area/daemon, kind/refactor

#49005 registry: deprecate APIEndpoint.TrimHostname
  distribution/pull_v2_test.go
  distribution/push_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
  registry/service.go
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49055 chore: fix some function names in comment
  client/container_create_test.go
  client/utils.go
Labels: status/2-code-review, status/4-merge, kind/refactor

#49051 api/server/router: fix debug routes, and refactor
  api/server/router/debug/debug.go
  api/server/server.go
  cmd/dockerd/daemon.go
  docs/api/version-history.md
Labels: area/api, status/4-merge, impact/api, impact/changelog

#49058 update xx to v1.6.1 for compatibility with alpine 3.21
  Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#49050 registry: some optimizations to reduce network connections and DNS lookups if not needed
  registry/auth.go
  registry/service.go
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, kind/refactor, area/authentication

#48316 daemon/containerd: Extract `createOrReplaceImage`
  daemon/containerd/image_builder.go
  daemon/containerd/image_import.go
  daemon/containerd/image_tag.go
Labels: status/4-merge, area/images, kind/bugfix, kind/refactor, containerd-integration

#49059 man: vendor: github.com/cpuguy83/go-md2man v2.0.5
  man/go.mod
  man/go.sum
  man/vendor/github.com/cpuguy83/go-md2man/v2/go-md2man.1.md
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/debug.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  man/vendor/modules.txt
Labels: status/2-code-review, area/docs, process/cherry-pick/25.0, area/dependencies, process/cherry-pick/26.1, process/cherry-pick/27.x

#49070 vendor: update golang.org/x/ dependencies
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49071 Dockerfile: update runc binary to v1.2.3
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#49067 Dockerfile: remove dpkg-dev, libudev-dev, libsecret-1-dev, libbtrfs-dev dependencies
  Dockerfile
Labels: status/2-code-review, area/packaging, kind/refactor

#49078 otel: Avoid excessive memory allocations if not configured
  api/server/router/grpc/grpc.go
  cmd/dockerd/daemon.go
  integration/build/build_traces_test.go
  internal/otelutil/provider.go
  testutil/helpers.go
Labels: status/4-merge, process/cherry-picked, area/performance, kind/bugfix, area/metrics/otel

#49065 remove support for configuring pushing non-distributable artifacts and deprecate API fields and config
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/registry/registry.go
  api/types/registry/registry_test.go
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_test.go
  daemon/reload.go
  daemon/reload_test.go
  distribution/push_v2.go
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/version-history.md
  integration-cli/docker_cli_events_unix_test.go
  man/dockerd.8.md
  registry/config.go
  registry/config_test.go
  registry/registry_test.go
  registry/service.go
  registry/service_v2.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49079 [27.x backport] otel: Avoid excessive memory allocations if not configured
  api/server/router/grpc/grpc.go
  cmd/dockerd/daemon.go
  integration/build/build_traces_test.go
  internal/otelutil/provider.go
  testutil/helpers.go
Labels: status/2-code-review, area/performance, kind/bugfix, area/metrics/otel

#49064 c8d/pull: Show `Extracting` layer status
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, containerd-integration, area/ux

#49084 [27.x backport] man: vendor: github.com/cpuguy83/go-md2man v2.0.5
  man/go.mod
  man/go.sum
  man/vendor/github.com/cpuguy83/go-md2man/v2/go-md2man.1.md
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/debug.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  man/vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  man/vendor/modules.txt
Labels: status/2-code-review, area/docs, area/packaging

#49080 [27.x backport] update xx to v1.6.1 for compatibility with alpine 3.21
  Dockerfile
Labels: status/2-code-review, area/packaging

#49085 [27.x backport] Dockerfile: update runc binary to v1.2.3
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: area/runtime, status/2-code-review, area/testing, area/packaging

#49043 [27.x backport] Try to load kernel modules, without modprobe
  Jenkinsfile
  hack/make/run
  internal/modprobe/modprobe_linux.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_bridgenetfiltering.go
  libnetwork/ns/init_linux.go
Labels: kind/enhancement, area/networking, impact/changelog, area/daemon, area/networking/ipv6

#49089 daemon: info: remove bridge-nf-call-iptables / ip6tables warnings
  api/swagger.yaml
  daemon/info_unix.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, kind/enhancement, area/networking, impact/api, impact/changelog, process/cherry-picked

#49090 [27.x backport] daemon: info: remove bridge-nf-call-iptables / ip6tables warnings
  api/swagger.yaml
  daemon/info_unix.go
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, area/networking, impact/api, impact/changelog

#49092 libnet/d/bridge: unconditionally error out if LinkSetMTU fails
  libnetwork/drivers/bridge/setup_device_linux.go
  libnetwork/drivers/bridge/setup_device_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/d/bridge

#49094 vendor: golang.org/x/net v0.32.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49077 vendor: github.com/cyphar/filepath-securejoin v0.3.5, github.com/opencontainers/runc v1.2.3
  vendor.mod
  vendor.sum
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49081 [26.1 backport] update xx to v1.6.1 for compatibility with alpine 3.21
  Dockerfile
Labels: status/2-code-review, area/packaging

#49082 [25.0 backport] update xx to v1.6.1 for compatibility with alpine 3.21
  Dockerfile
Labels: status/2-code-review, area/packaging

#49083 [23.0 backport] update xx to v1.6.1 for compatibility with alpine 3.21
  Dockerfile
Labels: status/2-code-review, process/cherry-picked, area/packaging

#49093 libnet/iptables: deprecate type IPV
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
Labels: area/networking, kind/refactor

#49061 integration-cli: don't skip AppArmor tests on SLES
  integration-cli/requirements_test.go
Labels: area/security/apparmor, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#49096 libnet/iptables: remove mutex-based serialization
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/firewalling

#49054 Accurately reflect the canonical casing of `API-Version` and `OS-Type` headers
  api/server/middleware/version.go
  api/server/middleware/version_test.go
  api/swagger.yaml
  client/client_test.go
  client/ping.go
  client/ping_test.go
  integration/system/ping_test.go
Labels: area/api, status/2-code-review, area/docs, process/cherry-pick/27.x

#49099 libnet/osl: drop netns path GC
  integration-cli/docker_cli_daemon_test.go
  libnetwork/controller.go
  libnetwork/endpoint_unix_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/namespace_unsupported.go
  libnetwork/osl/namespace_windows.go
  libnetwork/osl/sandbox_freebsd.go
  libnetwork/osl/sandbox_linux_test.go
  libnetwork/sandbox_unix_test.go
Labels: status/2-code-review, area/networking, kind/refactor

#49102 integration/build: make TestBuildEmitsImageCreateEvent less noisy
  integration/build/build_test.go
Labels: area/builder, status/2-code-review, kind/enhancement, area/testing

#49101 pkg/archive: replace uses of pkg/errors for stdlib errors
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
Labels: status/2-code-review, kind/refactor

#49100 [27.x backport] pkg/system: deprecate types and functions that are only used internally
  .golangci.yml
  pkg/system/lstat_unix.go
  pkg/system/lstat_windows.go
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_unix.go
  pkg/system/stat_linux.go
  pkg/system/stat_unix.go
  pkg/system/stat_windows.go
Labels: status/2-code-review, area/go-sdk, impact/go-sdk

#49105 [27.x backport] integration-cli: don't skip AppArmor tests on SLES
  integration-cli/requirements_test.go
Labels: area/security/apparmor, status/2-code-review, area/testing

#49103 docs/api: document correct case for Api-Version header
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#49109 libnetwork/drivers/bridge: setupIPChains: fix defer checking wrong err
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: area/networking, process/cherry-picked, kind/bugfix, area/networking/d/bridge

#49110 [27.x backport] libnetwork/drivers/bridge: setupIPChains: fix defer checking wrong err
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, kind/bugfix, area/networking/d/bridge

#49104 [27.x backport] docs/api: document correct case for Api-Version header
  api/server/middleware/version.go
  api/server/middleware/version_test.go
  api/swagger.yaml
  client/client_test.go
  client/ping.go
  client/ping_test.go
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  integration/system/ping_test.go
Labels: area/api, status/3-docs-review, area/docs

#49112 [25.0 backport] libnetwork/drivers/bridge: setupIPChains: fix defer checking wrong err
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/2-code-review, area/networking, kind/bugfix, area/networking/d/bridge

#49073 Decouple pkg/archive from pkg/ioutils
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/diff_test.go
Labels: status/2-code-review, kind/refactor, area/go-sdk

#49113 docs/api: version-history.md: fix markdown
  docs/api/version-history.md
Labels: area/api, status/3-docs-review, area/docs

#48640 Create static iptables rules during bridge driver init
  daemon/daemon_unix.go
  integration/network/bridge/bridge_linux_test.go
  integration/network/bridge/iptablesdoc/generated/new-daemon.md
  integration/network/bridge/iptablesdoc/generated/swarm-portmap.md
  integration/network/bridge/iptablesdoc/generated/usernet-internal.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-natunprot.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noproxy.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-routed.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/network/bridge/iptablesdoc/index.md
  integration/network/bridge/iptablesdoc/iptablesdoc_linux_test.go
  integration/network/bridge/iptablesdoc/templates/new-daemon.md
  integration/network/bridge/iptablesdoc/templates/swarm-portmap.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap.md
  integration/networking/port_mapping_linux_test.go
  internal/testutils/networking/l3_segment_linux.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
  libnetwork/firewall_others.go
  libnetwork/service_linux.go
  libnetwork/testdata/TestUserChain_iptables-false_append-false_fwdafter4
  libnetwork/testdata/TestUserChain_iptables-false_append-false_fwdafter6
  libnetwork/testdata/TestUserChain_iptables-false_append-false_fwdinit4
  libnetwork/testdata/TestUserChain_iptables-false_append-false_fwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_usrafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_usrafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_usrafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_usrafter6
Labels: kind/enhancement, area/networking, area/networking/firewalling, area/networking/d/bridge

#49115 libnetwork/iptables: deprecate Passthrough
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#48641 Combine Outgoing and ICC=true iptables rules
  integration/network/bridge/iptablesdoc/generated/new-daemon.md
  integration/network/bridge/iptablesdoc/generated/swarm-portmap.md
  integration/network/bridge/iptablesdoc/generated/usernet-internal.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-natunprot.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noproxy.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-routed.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/network/bridge/iptablesdoc/iptablesdoc_linux_test.go
  integration/network/bridge/iptablesdoc/templates/new-daemon.md
  integration/network/bridge/iptablesdoc/templates/usernet-internal.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap.md
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: kind/enhancement, area/networking, area/networking/firewalling, area/networking/d/bridge

#49118 pkg/reexec: some cleaning up in preparation of moving to a separate module
  pkg/reexec/command_linux.go
  pkg/reexec/command_other.go
  pkg/reexec/command_unsupported.go
  pkg/reexec/reexec.go
  pkg/reexec/reexec_linux.go
  pkg/reexec/reexec_other.go
  pkg/reexec/reexec_test.go
Labels: status/2-code-review, kind/refactor, area/go-sdk, impact/go-sdk

#49107 libnet/iptables: split ProgramChain and move to bridge driver
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/firewalling

#49121 libnetwork/iptables: remove deprecated IPV, Iptables, IP6Tables, Passthrough()
  libnetwork/iptables/firewalld.go
Labels: status/2-code-review, area/networking, impact/deprecation, area/go-sdk, impact/go-sdk

#49114 Deprecate BridgeNfIptables and BridgeNfIp6tables fields
  api/swagger.yaml
  api/types/system/info.go
  daemon/info.go
  docs/api/v1.47.yaml
  docs/api/version-history.md
  integration-cli/requirements_unix_test.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49123 [master forward-port] libnet: don't put external DNS answers in OTel spans
  libnetwork/resolver.go
Labels: status/2-code-review, area/networking, kind/bugfix, area/networking/dns

#49128 Enable external DNS if a network has an IPv6 gateway
  integration/network/dns_test.go
  libnetwork/endpoint_info.go
Labels: area/networking, kind/bugfix, area/networking/ipv6, area/networking/dns

#49062 builder: fall back to defaultKeepStorage if keepStorage is unset for GC policy
  builder/builder-next/controller.go
Labels: area/builder, status/2-code-review, area/daemon, kind/bugfix, area/builder/buildkit

#48943 [27.x backport] vendor: github.com/go-logr/logr v1.4.2, github.com/cenkalti/backoff/v4 v4.3.0
  vendor.mod
  vendor.sum
  vendor/github.com/cenkalti/backoff/v4/README.md
  vendor/github.com/cenkalti/backoff/v4/exponential.go
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49129 pkg/reexec: deprecate and migrate to github.com/moby/sys/reexec
  builder/dockerfile/copy_windows.go
  builder/dockerfile/evaluator_test.go
  builder/remotecontext/tarsum_test.go
  cmd/dockerd/daemon_linux_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/main_linux_test.go
  daemon/graphdriver/windows/windows.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/sandbox_externalkey_unix.go
  pkg/chrootarchive/archive_unix_nolinux.go
  pkg/chrootarchive/archive_unix_nolinux_test.go
  pkg/reexec/reexec_deprecated.go
  pkg/reexec/reexec_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/reexec/LICENSE
  vendor/github.com/moby/sys/reexec/reexec.go
  vendor/github.com/moby/sys/reexec/reexec_linux.go
  vendor/github.com/moby/sys/reexec/reexec_other.go
  vendor/modules.txt
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#49106 libcontainer: ReplaceContainer: fix var shadowing import
  libcontainerd/replace.go
Labels: status/2-code-review, kind/refactor

#49125 libnet/d/bridge: move iptRule to iptables pkg
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/firewalling

#49135 [27.x backport] pkg/reexec: deprecate and migrate to github.com/moby/sys/reexec
  api/types/container/hostconfig.go
  builder/builder-next/controller.go
  builder/dockerfile/copy_windows.go
  builder/dockerfile/evaluator_test.go
  builder/remotecontext/tarsum_test.go
  cmd/dockerd/daemon_linux_test.go
  cmd/dockerd/docker.go
  cmd/dockerd/main_linux_test.go
  container/container.go
  container/state.go
  daemon/graphdriver/btrfs/btrfs.go
  daemon/graphdriver/graphtest/graphtest_unix.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/graphdriver/vfs/driver.go
  daemon/graphdriver/windows/windows.go
  daemon/logger/factory.go
  daemon/logger/fluentd/fluentd.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/local/local.go
  daemon/logger/loggerutils/cache/local_cache.go
  daemon/top_windows.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/sandbox_externalkey_unix.go
  opts/opts.go
  opts/ulimit.go
  pkg/chrootarchive/archive_unix_nolinux.go
  pkg/chrootarchive/archive_unix_nolinux_test.go
  pkg/jsonmessage/jsonmessage.go
  pkg/reexec/command_linux.go
  pkg/reexec/command_other.go
  pkg/reexec/command_unsupported.go
  pkg/reexec/reexec_deprecated.go
  pkg/reexec/reexec_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/reexec/LICENSE
  vendor/github.com/moby/sys/reexec/reexec.go
  vendor/github.com/moby/sys/reexec/reexec_linux.go
  vendor/github.com/moby/sys/reexec/reexec_other.go
  vendor/modules.txt
  volume/local/local_unix.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#48616 api: Allow for an empty string for Isolation in Swagger specs
  api/swagger.yaml
Labels: area/api, status/2-code-review, area/docs, process/cherry-pick/27.x

#49138 api: Remove unused imageStore and layerStore
  api/server/router/image/image.go
  cmd/dockerd/daemon.go
Labels: area/api, status/2-code-review, kind/refactor, containerd-integration

#49137 [27.x backport] builder: fall back to defaultKeepStorage if keepStorage is unset for GC policy
  builder/builder-next/controller.go
Labels: area/builder, status/2-code-review, area/daemon, kind/bugfix, area/builder/buildkit

#49122 docs: Update example section for SwarmJoinRequest
  api/swagger.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-pick/27.x

#49133 image: Remove `GetImageManifest`
  daemon/containerd/image.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/image.go
  image/image.go
Labels: status/2-code-review, area/images, kind/refactor, containerd-integration

#49146 vendor: golang.org/x/net v0.33.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49144 docs/api: allow for an empty string for Isolation (api v1.25-v1.47)
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked

#49072 Decouple pkg/archive from pkg/system
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_linux_test.go
  pkg/archive/archive_other.go
  pkg/archive/archive_test.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_unix_test.go
  pkg/archive/archive_windows.go
  pkg/archive/archive_windows_test.go
  pkg/archive/changes.go
  pkg/archive/changes_linux.go
  pkg/archive/changes_other.go
  pkg/archive/changes_posix_test.go
  pkg/archive/changes_test.go
  pkg/archive/changes_unix.go
  pkg/archive/changes_windows.go
  pkg/archive/copy.go
  pkg/archive/copy_unix.go
  pkg/archive/copy_unix_test.go
  pkg/archive/copy_windows.go
  pkg/archive/dev_freebsd.go
  pkg/archive/dev_unix.go
  pkg/archive/diff.go
  pkg/archive/diff_test.go
  pkg/archive/time.go
  pkg/archive/time_linux.go
  pkg/archive/time_nonwindows.go
  pkg/archive/time_unsupported.go
  pkg/archive/time_windows.go
  pkg/archive/utils_test.go
  pkg/archive/whiteouts.go
  pkg/archive/wrap.go
  pkg/archive/wrap_test.go
  pkg/archive/xattr_supported.go
  pkg/archive/xattr_supported_linux.go
  pkg/archive/xattr_supported_unix.go
  pkg/archive/xattr_unsupported.go
  pkg/system/lstat_unix.go
  pkg/system/lstat_unix_test.go
  pkg/system/lstat_windows.go
  pkg/system/mknod.go
  pkg/system/mknod_freebsd.go
  pkg/system/mknod_unix.go
  pkg/system/stat_bsd.go
  pkg/system/stat_darwin.go
  pkg/system/stat_illumos.go
  pkg/system/stat_linux.go
  pkg/system/stat_openbsd.go
  pkg/system/stat_unix.go
  pkg/system/stat_unix_test.go
  pkg/system/stat_windows.go
Labels: status/2-code-review, kind/refactor, area/go-sdk

#49145 [27.x backport] swagger / API-docs updates
  api/swagger.yaml
  docs/api/v1.25.yaml
  docs/api/v1.26.yaml
  docs/api/v1.27.yaml
  docs/api/v1.28.yaml
  docs/api/v1.29.yaml
  docs/api/v1.30.yaml
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
Labels: area/api, status/3-docs-review, area/docs

#49032 vendor: github.com/containerd/cgroups v3.0.5
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/cgroups/v3/Protobuild.toml
  vendor/github.com/containerd/cgroups/v3/cgroup1/cgroup.go
  vendor/github.com/containerd/cgroups/v3/cgroup1/memory.go
  vendor/github.com/containerd/cgroups/v3/cgroup1/opts.go
  vendor/github.com/containerd/cgroups/v3/cgroup1/pids.go
  vendor/github.com/containerd/cgroups/v3/cgroup1/subsystem.go
  vendor/github.com/containerd/cgroups/v3/cgroup1/utils.go
  vendor/github.com/containerd/cgroups/v3/cgroup2/devicefilter.go
  vendor/github.com/containerd/cgroups/v3/cgroup2/manager.go
  vendor/github.com/containerd/cgroups/v3/cgroup2/utils.go
  vendor/github.com/containerd/cgroups/v3/utils.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49140 daemon/c8d: Fix duplicate containerd/images import
  .golangci.yml
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/localinlinecache/inlinecache.go
  builder/builder-next/worker/worker.go
  daemon/containerd/handlers.go
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_children.go
  daemon/containerd/image_delete.go
  daemon/containerd/image_delete_test.go
  daemon/containerd/image_events.go
  daemon/containerd/image_exporter.go
  daemon/containerd/image_history.go
  daemon/containerd/image_import.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_list.go
  daemon/containerd/image_list_test.go
  daemon/containerd/image_manifest.go
  daemon/containerd/image_prune.go
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/image_push_test.go
  daemon/containerd/image_snapshot.go
  daemon/containerd/image_tag.go
  daemon/containerd/image_test.go
  daemon/containerd/progress.go
  daemon/containerd/service.go
  daemon/containerd/soft_delete.go
  daemon/images/image.go
  image/tarexport/save.go
  integration/image/pull_test.go
  integration/plugin/common/plugin_test.go
  libcontainerd/remote/client.go
  plugin/backend_linux.go
  plugin/fetch_linux.go
Labels: status/2-code-review, kind/refactor, containerd-integration

#49151 pkg/chrootarchive: use stdlib errors, remove "// import" comments
  pkg/chrootarchive/archive.go
  pkg/chrootarchive/archive_linux.go
  pkg/chrootarchive/archive_test.go
  pkg/chrootarchive/archive_unix.go
  pkg/chrootarchive/archive_unix_nolinux.go
  pkg/chrootarchive/archive_unix_nolinux_test.go
  pkg/chrootarchive/archive_windows.go
  pkg/chrootarchive/chroot_linux.go
  pkg/chrootarchive/diff.go
  pkg/chrootarchive/diff_unix.go
  pkg/chrootarchive/diff_windows.go
Labels: status/2-code-review, kind/refactor, area/go-sdk

#49147 builder: don't fall back to defaultKeepStorage when set to zero
  builder/builder-next/controller.go
Labels: area/builder, status/2-code-review, area/builder/classic-builder

#49158 libnet: pass store as an arg to netdrivers
  internal/testutils/storeutils/store.go
  libnetwork/controller.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ipvlan_store.go
  libnetwork/drivers/ipvlan/ipvlan_test.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/macvlan/macvlan_store.go
  libnetwork/drivers/macvlan/macvlan_test.go
  libnetwork/drivers/windows/windows.go
  libnetwork/drivers/windows/windows_store.go
  libnetwork/drivers/windows/windows_test.go
  libnetwork/drivers_linux.go
  libnetwork/drivers_windows.go
  libnetwork/netlabel/labels.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/d/bridge, area/networking/d/ipvlan, area/networking/d/macvlan

#49162 pkg/system: deprecate MkdirAll and remove custom volume GUID handling
  builder/dockerfile/copy.go
  cmd/dockerd/daemon.go
  container/container_windows.go
  daemon/daemon.go
  daemon/graphdriver/windows/windows.go
  daemon/runtime_unix.go
  libcontainerd/supervisor/remote_daemon.go
  pkg/idtools/idtools_windows.go
  pkg/system/filesys.go
  pkg/system/filesys_unix.go
  pkg/system/filesys_windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#49117 Remove use of `pkg/pools` in archive
  integration-cli/docker_cli_import_test.go
  pkg/archive/archive.go
  pkg/archive/archive_test.go
  pkg/archive/changes.go
  pkg/archive/copy.go
  pkg/archive/diff.go
  pkg/chrootarchive/archive_unix_test.go
Labels: status/2-code-review, kind/refactor

#49173 [25.0 backport] Dockerfile: update runc binary to v1.2.3
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: impact/changelog, area/testing, area/packaging
