Repository moby/moby, pull requests merged in 2025-02, with the labels that each got.

#48850 Fix concurrency issue in dind
  hack/dind
Labels: status/4-merge, kind/enhancement, area/contrib

#49361 gha/validate-pr: Also run when PR has new commits
  .github/workflows/validate-pr.yml
Labels: status/2-code-review, area/testing, process/cherry-picked

#49383 [27.x backport] gha/validate-pr: Also run when PR has new commits
  .github/workflows/validate-pr.yml
Labels: status/2-code-review, area/testing

#48720 builder: wire up new gc types for buildkit prune functionality
  api/server/router/build/build_routes.go
  api/swagger.yaml
  api/types/types.go
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  builder/builder-next/worker/gc.go
  builder/builder-next/worker/gc_unix.go
  builder/builder-next/worker/gc_windows.go
  client/build_prune.go
  daemon/config/builder.go
  daemon/config/builder_test.go
  docs/api/version-history.md
Labels: area/builder, status/2-code-review, impact/changelog, area/daemon, area/builder/buildkit, release-blocker

#49384 [27.x backport] github: Clarify release notes description
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/validate-pr.yml
Labels: status/2-code-review, area/testing

#49391 errdefs: touch-up godoc for helpers
  errdefs/helpers.go
  errdefs/is.go
Labels: status/2-code-review, kind/enhancement, area/docs

#49389 client: deprecate ErrorConnectionFailed helper
  client/errors.go
  client/request.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49388 client: deprecate CommonAPIClient interface, add HijackDialer, SwarmManagementAPIClient interfaces
  client/buildkit/buildkit.go
  client/checkpoint.go
  client/client.go
  client/client_interfaces.go
  client/hijack.go
  client/interface_stable.go
  integration/internal/swarm/states.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#49262 Add gateway mode "isolated"
  integration/network/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/interface_linux.go
  libnetwork/drivers/bridge/setup_ipv4_linux.go
  libnetwork/drivers/bridge/setup_ipv6_linux.go
  libnetwork/drivers/bridge/setup_verify_linux.go
Labels: kind/feature, area/networking, impact/changelog, docs/revisit, area/networking/d/bridge

#49390 implement missing "Unwrapper" interface on errors that implemented "Causer" interface
  daemon/cluster/executor/container/controller.go
  distribution/errors.go
  volume/service/errors.go
Labels: status/2-code-review, kind/bugfix

#49372 Implement GwAllocChecker for the remote network driver
  libnetwork/docs/remote.md
  libnetwork/drivers/remote/api/api.go
  libnetwork/drivers/remote/driver.go
  libnetwork/drivers/remote/driver_test.go
Labels: kind/feature, area/networking, impact/changelog, impact/documentation

#49393 update to go1.23.6
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/dependencies

#48798 Implement mount from image
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/mount/mount.go
  daemon/containerd/image_delete.go
  daemon/containerd/image_snapshot.go
  daemon/image_service.go
  daemon/images/image_delete.go
  daemon/images/service.go
  daemon/mounts.go
  daemon/volumes.go
  docs/api/version-history.md
  integration/daemon/daemon_test.go
  integration/volume/mount_test.go
  layer/mounted_layer.go
  testutil/daemon/daemon.go
  volume/mounts/linux_parser.go
  volume/mounts/mounts.go
  volume/mounts/parser_test.go
  volume/mounts/validate_test.go
Labels: status/1-design-review, kind/feature, impact/api, impact/changelog, area/volumes, release-blocker

#49394 [27.x] update to go1.22.12
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, process/cherry-pick/23.0, area/dependencies, process/cherry-pick/26.1

#49400 [25.0 backport] update to go1.22.12
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/test.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
Labels: status/2-code-review, impact/changelog, area/dependencies

#48264 c8d/inspect: Add `Manifests` field
  api/server/router/image/image_routes.go
  api/swagger.yaml
  api/types/backend/backend.go
  api/types/image/image_inspect.go
  api/types/image/opts.go
  client/client_interfaces.go
  client/image_inspect.go
  client/image_inspect_test.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_list.go
  docs/api/version-history.md
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_inspect_test.go
  integration/build/build_squash_test.go
  integration/build/build_test.go
  integration/container/create_test.go
  integration/container/inspect_test.go
  integration/image/commit_test.go
  integration/image/import_test.go
  integration/image/inspect_test.go
  integration/image/list_test.go
  integration/image/prune_test.go
  integration/image/pull_test.go
  integration/image/remove_test.go
  integration/image/remove_unix_test.go
  integration/image/save_test.go
  integration/image/tag_test.go
  integration/volume/mount_test.go
  testutil/fixtures/load/frozen.go
Labels: area/api, impact/api, impact/changelog, impact/deprecation, area/images, containerd-integration, area/go-sdk, release-blocker

#49040 cmd/dockerd: refactor buildkit init in daemon startup
  cmd/dockerd/daemon.go
Labels: status/4-merge, area/daemon, kind/refactor, area/builder/buildkit

#49392 Wait for a route to ff02::1 before sending NAs
  libnetwork/osl/interface_linux.go
Labels: area/networking, kind/bugfix, area/networking/ipv6

#49405 pkg/idtools: un-deprecate Windows consts for now
  pkg/idtools/idtools_windows.go
Labels: status/2-code-review, area/go-sdk

#49406 add //go:build directives to prevent downgrading to go1.16 language
  libnetwork/internal/l2disco/unsol_arp_linux.go
  libnetwork/internal/l2disco/unsol_na_linux.go
  libnetwork/osl/interface_linux.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, area/testing, kind/bugfix

#49416 Dockerfile: update golangci-lint to v1.63.4
  Dockerfile
Labels: status/2-code-review, area/testing, area/dependencies

#49423 update authors and mailmap
  .mailmap
  AUTHORS
Labels: status/2-code-review, area/packaging

#49422 client: fix deprecation comment for ImageInspectWithRaw
  client/client_interfaces.go
  client/image_inspect.go
Labels: status/2-code-review, kind/bugfix, area/go-sdk

#49426 Dockerfile: update docker CLI to v28.0.0-rc.1
  Dockerfile
Labels: status/2-code-review, area/testing, area/dependencies

#49425 Dockerfile: update buildx v0.20.1
  Dockerfile
Labels: status/2-code-review, area/testing, area/dependencies

#49424 Dockerfile: bump gotest.tools/gotestsum v1.12.0
  Dockerfile
  Dockerfile.windows
Labels: status/2-code-review, area/testing, area/dependencies

#49421 vendor: gotest.tools/v3 v3.5.2
  .golangci.yml
  vendor.mod
  vendor.sum
  vendor/gotest.tools/v3/assert/assert.go
  vendor/gotest.tools/v3/assert/cmp/compare.go
  vendor/gotest.tools/v3/fs/report.go
  vendor/gotest.tools/v3/internal/assert/assert.go
  vendor/gotest.tools/v3/internal/difflib/difflib.go
  vendor/gotest.tools/v3/internal/source/bazel.go
  vendor/gotest.tools/v3/internal/source/source.go
  vendor/gotest.tools/v3/poll/poll.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing, area/dependencies

#49409 daemon: configureMaxThreads: remove unused arg
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#49411 vendor: cloud.google.com/go/compute/metadata v0.5.2
  vendor.mod
  vendor.sum
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49415 client: custom trace options
  client/client.go
  client/options.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/metrics, area/metrics/otel, area/go-sdk

#49442 api/types/container: rename ContainerUpdateOKBody to UpdateResponse, ContainerTopOKBody to TopResponse
  api/server/router/container/backend.go
  api/swagger.yaml
  api/types/container/container.go
  api/types/container/container_top.go
  api/types/container/container_update.go
  api/types/container/top_response.go
  api/types/container/update_response.go
  client/client_interfaces.go
  client/container_top.go
  client/container_top_test.go
  client/container_update.go
  client/container_update_test.go
  daemon/top_unix.go
  daemon/top_windows.go
  daemon/update.go
  hack/generate-swagger-api.sh
Labels: status/2-code-review, impact/deprecation, area/go-sdk, impact/go-sdk

#49444 api/types/container: introduce CommitResponse, ExecCreateResponse types
  api/server/router/container/container_routes.go
  api/server/router/container/exec.go
  api/swagger.yaml
  api/types/common/id_response.go
  api/types/container/commit.go
  api/types/container/exec.go
  api/types/types_deprecated.go
  client/client_interfaces.go
  client/container_commit.go
  client/container_commit_test.go
  client/container_exec.go
  client/container_exec_test.go
  hack/generate-swagger-api.sh
Labels: status/2-code-review, impact/changelog, area/go-sdk, impact/go-sdk

#49443 Restore new iptables rules on firewalld reload
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: status/4-merge, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, area/networking/portmapping, area/networking/firewalld, version/28.0

#49446 api/types: deprecate IDResponse
  api/types/types_deprecated.go
Labels: status/4-merge, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49447 Fix deprecation of "error" and "progress" fields in streaming responses
  api/swagger.yaml
  docs/api/version-history.md
  pkg/jsonmessage/jsonmessage.go
Labels: area/api, status/4-merge, impact/api, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#49448 vendor: google.golang.org/grpc v1.69.4
  vendor.mod
  vendor.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer.pb.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpclb_picker.go
  vendor/google.golang.org/grpc/balancer/pickfirst/internal/internal.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirstleaf/pickfirstleaf.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/balancer/subconn.go
  vendor/google.golang.org/grpc/balancer_wrapper.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codec.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/altscontext.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/transport_security_common.pb.go
  vendor/google.golang.org/grpc/credentials/google/google.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/experimental/stats/metricregistry.go
  vendor/google.golang.org/grpc/experimental/stats/metrics.go
  vendor/google.golang.org/grpc/grpclog/internal/loggerv2.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/server_stream.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_slice.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stats/metrics.go
  vendor/google.golang.org/grpc/stats/stats.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49450 vendor: github.com/spf13/pflag v1.0.6
  vendor.mod
  vendor.sum
  vendor/github.com/spf13/pflag/.golangci.yaml
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/ip.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/modules.txt
Labels: area/cli, status/2-code-review, area/dependencies

#49351 Add experimental feature warning for image mount
  api/server/router/container/container_routes.go
  daemon/container.go
Labels: area/api, status/2-code-review, impact/api

#49407 API: add Platform (OS and Architecture) to /containers/json
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/container.go
  container/view.go
  daemon/disk_usage.go
  docs/api/version-history.md
  integration/container/ps_test.go
  integration/system/disk_usage_test.go
Labels: area/api, impact/api, impact/changelog, containerd-integration

#49454 vendor: github.com/miekg/dns v1.1.61
  vendor.mod
  vendor.sum
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/svcb.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/xfr.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking/dns, area/dependencies

#49417 Fix linting issues to allow enabling more linters
  api/server/router/volume/volume_routes_test.go
  container/state.go
  container/stream/unbuffered_test.go
  daemon/cluster/convert/container.go
  daemon/cluster/convert/service.go
  daemon/cluster/convert/volume.go
  daemon/cluster/executor/container/adapter.go
  daemon/cluster/executor/container/container.go
  daemon/cluster/executor/container/controller.go
  daemon/cluster/services.go
  daemon/containerd/image_exporter.go
  daemon/events.go
  daemon/events/events.go
  daemon/list.go
  daemon/logger/templates/templates.go
  daemon/monitor.go
  daemon/reload.go
  distribution/xfer/download_test.go
  errdefs/helpers_test.go
  integration-cli/docker_cli_attach_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_exec_unix_test.go
  integration-cli/docker_cli_external_volume_driver_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_update_unix_test.go
  integration/image/remove_test.go
  integration/internal/swarm/states.go
  integration/networking/bridge_linux_test.go
  integration/plugin/logging/cmd/discard/driver.go
  libnetwork/bitmap/sequence.go
  libnetwork/cnmallocator/networkallocator.go
  libnetwork/diagnostic/server.go
  libnetwork/driverapi/ipamdata.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/endpoint.go
  libnetwork/endpoint_info.go
  libnetwork/internal/kvstore/boltdb/boltdb.go
  libnetwork/internal/resolvconf/resolvconf_test.go
  libnetwork/network.go
  libnetwork/networkdb/delegate.go
  libnetwork/networkdb/nodemgmt.go
  opts/hosts_test.go
  pkg/archive/changes_linux.go
  pkg/jsonmessage/jsonmessage.go
  pkg/plugins/client.go
  pkg/plugins/client_test.go
  pkg/plugins/pluginrpc-gen/parser_test.go
  pkg/plugins/plugins.go
  pkg/pools/pools_test.go
  pkg/tailfile/tailfile_test.go
  plugin/executor/containerd/containerd.go
  plugin/fetch_linux.go
  runconfig/config_test.go
  volume/mounts/linux_parser.go
  volume/mounts/windows_parser.go
Labels: status/2-code-review, kind/bugfix, kind/refactor

#49419 golangci-lint: enable more linters
  .golangci.yml
Labels: status/2-code-review, kind/enhancement, area/testing

#49464 Dockerfile: update runc binary to v1.2.5
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/26.1, process/cherry-pick/27.x

#49418 daemon: use structured logs for printing reloaded config, move to cli
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/reload.go
  integration/daemon/daemon_test.go
Labels: status/2-code-review, area/daemon, kind/refactor

#49466 client: Change `ImageHistory`, `ImageLoad` and `ImageSave` to use variadic functional options
  client/client_interfaces.go
  client/image_history.go
  client/image_history_opts.go
  client/image_history_test.go
  client/image_inspect.go
  client/image_inspect_opts.go
  client/image_load.go
  client/image_load_opts.go
  client/image_load_test.go
  client/image_save.go
  client/image_save_opts.go
  client/image_save_test.go
  integration-cli/docker_api_images_test.go
  integration/build/build_squash_test.go
  integration/build/build_userns_linux_test.go
  integration/image/save_test.go
  integration/plugin/authz/authz_plugin_test.go
  internal/testutils/specialimage/load.go
  testutil/daemon/daemon.go
  testutil/fixtures/load/frozen.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/go-sdk, impact/go-sdk

#49462 vendor: update buildkit to v0.20.0-rc2
  builder/builder-next/controller.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/moby/buildkit/exporter/verifier/platforms.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert_norundevice.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_disabled.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/copy_chmod_non_octal_enabled.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec.go
  vendor/github.com/moby/buildkit/solver/llbsolver/ops/exec_binfmt.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/solver/result/result.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_windows.go
  vendor/github.com/package-url/packageurl-go/Makefile
  vendor/github.com/package-url/packageurl-go/README.md
  vendor/github.com/package-url/packageurl-go/packageurl.go
  vendor/modules.txt
Labels: area/builder, impact/changelog, area/builder/buildkit

#49467 Don't create iptables rules when iptables is disabled
  libnetwork/drivers/bridge/port_mapping_linux.go
Labels: area/networking, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, version/28.0

#49469 container: ensure image manifest is deep copied from the container into the snapshot
  container/view.go
Labels: status/4-merge, kind/bugfix

#49470 c8d/progress: Fix panic when pulling some images
  daemon/containerd/progress.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration, release-blocker

#49472 daemon/logger: assorted minor (linting) fixes and cleanups
  daemon/logger/fluentd/fluentd.go
  daemon/logger/gcplogs/gcplogging.go
  daemon/logger/jsonfilelog/jsonfilelog.go
  daemon/logger/loginfo.go
  daemon/logger/splunk/splunk.go
Labels: area/logging, status/2-code-review, area/daemon, kind/refactor

#49471 container: Container.StopSignal: fix handling of invalid signals and cleanup tests
  container/container.go
  container/container_test.go
  container/container_unix.go
  container/container_windows.go
  container/env_test.go
  container/view_test.go
Labels: status/2-code-review, area/testing, kind/bugfix

#49468 project: update status of branches
  project/BRANCHES-AND-TAGS.md
Labels: status/3-docs-review, area/docs, area/project

#49481 Dockerfile: update golangci-lint to v1.64.5
  Dockerfile
Labels: status/2-code-review, area/testing

#49479 api/swagger: inline Exec example values
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs

#49484 golangci-lint: ignore "nested context" (fatcontext) in tests
  .golangci.yml
Labels: status/4-merge, area/testing, release-blocker

#49478 api/swagger: remove custom example from /containers/{id}/json endpoint
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs

#49477 api/swagger: remove custom example from /containers/json endpoint
  api/swagger.yaml
Labels: area/api, status/4-merge, area/docs

#49487 [27.x backport] Dockerfile: update runc binary to v1.2.5
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging

#49490 Dockerfile: fix linting warnings
  Dockerfile
Labels: status/2-code-review, area/testing

#49491 vendor: github.com/moby/buildkit v0.20.0-rc3
  builder/builder-next/controller.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/config.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/solver/llbsolver/bridge.go
  vendor/github.com/moby/buildkit/solver/llbsolver/cdidevices/manager.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/llbsolver/vertex.go
  vendor/github.com/moby/buildkit/util/entitlements/entitlements.go
  vendor/modules.txt
Labels: status/2-code-review, area/builder/buildkit, area/dependencies

#49495 vendor: github.com/moby/buildkit v0.20.0
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/cache/remotecache/gha/gha.go
  vendor/github.com/tonistiigi/go-actions-cache/cache.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/builder/buildkit, area/dependencies

#49507 daemon: handleContainerExit: ignore networking errors
  daemon/container_operations.go
  daemon/monitor.go
  daemon/start_linux.go
  integration/network/bridge/bridge_linux_test.go
Labels: area/networking, impact/changelog, process/cherry-pick, area/daemon, kind/bugfix, process/cherry-pick/28.x

#49510 contrib/check-config: add ipset related flags
  contrib/check-config.sh
Labels: status/2-code-review, area/networking, impact/changelog, area/contrib

#49514 Fix v28 regression `protocol "tcp" is not supported by the RootlessKit port driver "slirp4netns"`
  libnetwork/drivers/bridge/internal/rlkclient/rootlesskit_client_linux.go
  libnetwork/drivers/bridge/port_mapping_linux.go
Labels: impact/changelog, area/rootless, area/networking/portmapping, process/cherry-pick/28.x

#49526 libnet/d/bridge: fix compilation on i386
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_386.go
  libnetwork/drivers/bridge/port_mapping_linux_others.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix, area/networking/d/bridge, area/networking/portmapping

#49520 Fix network inspect IPv6 gateway address format
  daemon/network.go
  integration/daemon/daemon_linux_test.go
  integration/networking/bridge_linux_test.go
Labels: impact/changelog, area/networking/ipv6, area/networking/ipam, version/27.0, process/cherry-pick/27.x

#49524 Better error message for missing ip_set kernel modules
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: area/networking, impact/changelog, kind/bugfix, version/28.0

#49531 vendor: tags.cncf.io/container-device-interface v0.8.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
Labels: status/2-code-review, kind/bugfix, area/dependencies

#49521 Fix --config-from creation of swarm networks
  daemon/network.go
  integration/internal/network/ops.go
  integration/service/network_test.go
  libnetwork/controller.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/network.go
Labels: area/networking, impact/changelog, area/swarm, kind/bugfix, version/28.0

#49525 Fix daemon startup on a no-IPv6 host
  libnetwork/drivers/bridge/bridge_linux.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/ipv6, area/networking/d/bridge, version/28.0

#49518 Add chain DOCKER-FORWARD
  integration-cli/docker_cli_daemon_test.go
  integration/network/bridge/iptablesdoc/generated/new-daemon.md
  integration/network/bridge/iptablesdoc/generated/swarm-portmap.md
  integration/network/bridge/iptablesdoc/generated/usernet-internal.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-lo.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-natunprot.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noicc.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-noproxy.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-routed.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/network/bridge/iptablesdoc/iptablesdoc_linux_test.go
  integration/network/bridge/iptablesdoc/templates/new-daemon.md
  integration/network/bridge/iptablesdoc/templates/swarm-portmap.md
  integration/network/bridge/iptablesdoc/templates/usernet-internal.md
  integration/network/bridge/iptablesdoc/templates/usernet-portmap.md
  integration/networking/bridge_linux_test.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/firewall_linux_test.go
  libnetwork/iptables/iptables.go
  libnetwork/testdata/TestUserChain_iptables-true_append-false_dockerfwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_dockerfwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_dockerfwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_dockerfwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-false_fwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_dockerfwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_dockerfwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_dockerfwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_dockerfwdinit6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdafter4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdafter6
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdinit4
  libnetwork/testdata/TestUserChain_iptables-true_append-true_fwdinit6
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, version/28.0

#49533 c8d/list&inspect: Better handle images without any platform blobs available locally
  daemon/containerd/image.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_inspect_test.go
  daemon/containerd/image_list.go
  daemon/containerd/image_list_test.go
Labels: status/2-code-review, impact/api, impact/changelog, area/images, kind/bugfix, containerd-integration

#49535 c8d/manifests: Fix Content size including missing content
  daemon/containerd/image_list.go
  daemon/containerd/image_list_test.go
Labels: status/2-code-review, impact/api, impact/changelog, area/images, kind/bugfix, containerd-integration

#49517 [23.0 backport] update actions
  .github/workflows/.dco.yml
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: status/4-merge, area/testing

#49545 Revert "contrib/check-config: add ipset related flags"
  contrib/check-config.sh
Labels: area/networking, area/contrib

#49538 Jump to DOCKER-INGRESS from DOCKER-FORWARD
  integration/network/bridge/iptablesdoc/generated/swarm-portmap.md
  integration/network/bridge/iptablesdoc/templates/swarm-portmap.md
  libnetwork/service_linux.go
Labels: area/networking, impact/changelog, area/swarm, kind/bugfix, area/networking/firewalling, version/28.0

#49550 Dockerfile: update docker CLI to v28.0.1, docker compose to v2.33.1
  Dockerfile
Labels: status/2-code-review, area/testing

#49546 builder/dockerfile: remove intermediate var that shadowed
  builder/dockerfile/copy.go
Labels: status/2-code-review, kind/refactor

#49547 Check swarm's jump to DOCKER-INGRESS
  integration/service/network_linux_test.go
  integration/service/testdata/TestDockerIngressChainPosition_docker_forward.golden
  testutil/daemon/daemon.go
  testutil/daemon/ops.go
  testutil/daemon/swarm.go
Labels: kind/enhancement, area/networking, area/swarm, area/networking/firewalling

#49551 libcontainerd/local: remove unused code and arguments
  daemon/daemon_windows.go
  libcontainerd/libcontainerd_windows.go
  libcontainerd/local/local_windows.go
Labels: platform/windows, status/2-code-review, kind/refactor
