Repository moby/moby, pull requests merged in 2025-06, with the labels that each got.

#50124 libnetwork/resolvconf: Build: decorate error for invalid nameservers and use table-tests
  libnetwork/resolvconf/resolvconf.go
  libnetwork/resolvconf/resolvconf_unix_test.go
Labels: status/2-code-review, kind/enhancement, area/networking

#50059 dockerd-rootless-setuptool.sh: Fix silent stop on error due to using output redirection together wit…
  contrib/dockerd-rootless-setuptool.sh
Labels: impact/changelog, area/rootless, kind/bugfix, process/cherry-pick/28.x

#50051 nftables: don't create DOCKER-USER iptables chains
  libnetwork/firewall_linux.go
  libnetwork/firewall_linux_test.go
Labels: kind/feature, area/networking, area/networking/firewalling

#50127 api/swagger: quote maxUint64 example value
  api/swagger.yaml
  docs/api/v1.48.yaml
  docs/api/v1.49.yaml
  docs/api/v1.50.yaml
Labels: area/api, status/3-docs-review, area/docs

#50147 Set EnableIPv4=true in overlay network inspect response
  daemon/cluster/convert/network.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/d/overlay, version/28.0

#50154 Only "prune" Windows networks created by Docker
  daemon/daemon_windows.go
  daemon/prune.go
  libnetwork/drivers/windows/labels.go
  libnetwork/network_unix.go
  libnetwork/network_windows.go
Labels: platform/windows, area/networking, impact/changelog, kind/bugfix

#49950 Add contributor guidelines for where to put source code in packages
  CONTRIBUTING.md
Labels: area/project

#50135 api: image inspect: add back fields that did not omitempty
  api/server/router/image/image_routes.go
  api/server/router/image/inspect_response.go
  api/server/router/image/inspect_response_test.go
  integration-cli/docker_cli_build_test.go
Labels: area/api, status/2-code-review, kind/bugfix

#50144 all: remove redundant import-aliases for "go-winio"
  builder/dockerfile/copy_windows.go
  daemon/graphdriver/windows/windows.go
  daemon/listeners/listeners_windows.go
  integration-cli/docker_api_containers_windows_test.go
  libcontainerd/remote/client_io_windows.go
  testutil/request/npipe_windows.go
Labels: status/4-merge, kind/refactor

#49952 Added support for AMD GPUs in "docker run --gpus".
  daemon/devices_amd_linux.go
  daemon/devices_nvidia_linux.go
Labels: status/2-code-review, impact/changelog, area/daemon

#50078 daemon: Configure default CDI cache
  builder/builder-next/builder.go
  builder/builder-next/controller.go
  cmd/dockerd/daemon.go
  daemon/cdi.go
  daemon/daemon.go
Labels: area/daemon, kind/refactor, area/builder/buildkit, area/cdi

#50115 libnetwork/networkdb: always shut down memberlist
  libnetwork/networkdb/cluster.go
Labels: impact/changelog, kind/bugfix, area/networking/d/overlay

#50178 daemon/containerd: fix minor linting issue, and update link to error message
  daemon/containerd/image_pull.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50136 fix: daemon: state of stopped container visible to other queries when container is stopped
  daemon/stop.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#50198 vendor: github.com/containerd/containerd/v2 v2.1.2
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/core/mount/mount_linux.go
  vendor/github.com/containerd/containerd/v2/core/unpack/unpacker.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, area/dependencies

#50169 [28.x]: Revert overlay bug fixes / refactoring
  daemon/cluster/executor/container/executor.go
  libnetwork/agent.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_endpoint.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/drivers/overlay/peerdb_test.go
  libnetwork/drivers/overlay/types.go
  libnetwork/drivers/overlay/types_test.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/internal/setmatrix/setmatrix_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/network.go
  libnetwork/networkdb/delegate.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/networkdb/watch.go
  libnetwork/networkdb/watch_test.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/namespace_linux.go
  libnetwork/osl/neigh_linux.go
  libnetwork/service.go
Labels: area/networking, impact/changelog, area/swarm, kind/bugfix, area/networking/d/overlay, version/28.2

#50202 vendor: github.com/moby/swarmkit/v2 v2.0.0-20250613170222-a45be3cac15c
  vendor.mod
  vendor.sum
  vendor/github.com/moby/swarmkit/v2/manager/scheduler/scheduler.go
  vendor/modules.txt
Labels: impact/changelog, area/swarm, kind/bugfix

#50104 nftables: add initial/outline nftabler
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/internal/nftabler/endpoint.go
  libnetwork/drivers/bridge/internal/nftabler/link.go
  libnetwork/drivers/bridge/internal/nftabler/network.go
  libnetwork/drivers/bridge/internal/nftabler/nftabler.go
  libnetwork/drivers/bridge/internal/nftabler/port.go
  libnetwork/drivers/bridge/internal/nftabler/wsl2.go
Labels: kind/feature, area/networking, area/networking/firewalling, area/networking/d/bridge

#50119 docs(client/ContainerExecAttach): add a mention to stdcopy.StdCopy
  client/container_exec.go
Labels: status/3-docs-review, area/docs, area/go-sdk

#50214 vendor: update buildkit to v0.13.0-rc2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/util/resolver/pool.go
  vendor/modules.txt
Labels: impact/changelog, process/cherry-picked, area/builder/buildkit

#50217 [28.x backport] vendor: update buildkit to v0.13.0-rc2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/util/resolver/pool.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit, area/dependencies

#50222 vendor: github.com/moby/buildkit v0.23.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/builder/buildkit, area/dependencies, process/cherry-pick/28.x

#50209 pkg/idtools: deprecate IdentityMapping, Identity.Chown
  .golangci.yml
  pkg/idtools/idtools.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, process/cherry-picked, area/go-sdk

#50218 api/types/container: deprecate ExecOptions.Detach
  api/types/container/exec.go
  integration/container/exec_test.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50193 libnetwork/networkdb: prioritize local table broadcasts over event rebroadcasts
  libnetwork/networkdb/broadcast.go
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/delegate.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/networkdb_test.go
  libnetwork/networkdb/networkdbdiagnostic.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/d/overlay

#50210 [28.x backport] pkg/idtools: deprecate IdentityMapping, Identity.Chown
  .golangci.yml
  pkg/idtools/idtools.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50219 [28.x backport] api/types/container: deprecate ExecOptions.Detach
  api/types/container/exec.go
  integration/container/exec_test.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50229 libnetwork: fix flaky Swarm service DNS
  libnetwork/agent.go
Labels: area/networking, area/swarm, kind/bugfix, area/networking/d/overlay, area/networking/dns, process/cherry-pick/25.0, process/cherry-pick/28.x

#50237 Update containerd to v2.1.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/core/content/helpers.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/v2/core/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/v2/core/transfer/proxy/transfer.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies, process/cherry-pick/28.x

#50233 daemon/config: Validate: add missing validation for registry mirrors and improve errors
  daemon/config/config.go
  daemon/config/config_test.go
  registry/config.go
  registry/config_test.go
Labels: area/distribution, status/2-code-review, kind/enhancement, impact/changelog, area/daemon, process/cherry-pick/28.x

#50231 vendor: github.com/opencontainers/cgroups v0.0.3
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/cgroups/config_linux.go
  vendor/github.com/opencontainers/cgroups/utils.go
  vendor/modules.txt
Labels: status/2-code-review, kind/bugfix, area/dependencies, process/cherry-pick/28.x

#50238 vendor: update buildkit to v0.23.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: impact/changelog, area/builder/buildkit, process/cherry-pick/28.x

#50226 libnet: split ProgramExternalConnectivity/RevokeExternalConnectivity out of driverapi
  libnetwork/cnmallocator/manager.go
  libnetwork/driverapi/driverapi.go
  libnetwork/drivers/bridge/brmanager/brmanager.go
  libnetwork/drivers/host/host.go
  libnetwork/drivers/ipvlan/ipvlan.go
  libnetwork/drivers/ipvlan/ivmanager/ivmanager.go
  libnetwork/drivers/macvlan/macvlan.go
  libnetwork/drivers/macvlan/mvmanager/mvmanager.go
  libnetwork/drivers/null/null.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/windows/overlay/ov_network_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/endpoint.go
  libnetwork/libnetwork_internal_test.go
Labels: area/networking, kind/refactor, area/networking/d/bridge, area/networking/portmapping

#50239 [28.x backport] Update containerd to v2.1.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/core/content/helpers.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/errcode.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/fetcher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/resolver.go
  vendor/github.com/containerd/containerd/v2/core/remotes/errors/errors.go
  vendor/github.com/containerd/containerd/v2/core/transfer/proxy/transfer.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

#50242 [28.x backport] daemon: containerStop: fix ordering of "stop" and "die" events
  daemon/stop.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#50240 [28.x backport] daemon/config: Validate: add missing validation for registry mirrors and improve errors
  daemon/config/config.go
  daemon/config/config_test.go
  registry/config.go
  registry/config_test.go
Labels: area/distribution, status/2-code-review, kind/enhancement, impact/changelog, area/daemon

#50177 gha: lower timeouts on "build" and "merge" steps
  .github/workflows/bin-image.yml
Labels: status/2-code-review, area/testing

#50243 [28.x backport] vendor: update buildkit to v0.23.1
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/builder/buildkit

#50245 docs: cut api docs for v1.51
  docs/api/v1.51.yaml
Labels: status/3-docs-review, area/docs, process/cherry-pick/28.x

#50224 daemon: LogContainerEventWithAttributes: minor optimisation
  daemon/events.go
Labels: status/2-code-review, area/performance, kind/refactor

#50255 dockerfile: update govulncheck to v1.1.4
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, area/testing, process/cherry-pick/25.0, process/cherry-pick/28.x

#50091 libnetwork/d/overlay: simplify the encryption logic
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
Labels: area/networking, kind/refactor, area/networking/d/overlay, process/cherry-pick/25.0

#50257 integration/container: TestCreateByImageID: minor improvements
  integration/container/create_test.go
Labels: status/2-code-review, area/testing

#50269 cmd: fix winresources and move them out cli package
  .dockerignore
  .gitignore
  Dockerfile
  cli/winresources/README.md
  cmd/dockerd/builtins/builtins.go
  cmd/dockerd/builtins/genwinres_windows.go
  cmd/dockerd/main.go
  cmd/dockerd/main_windows.go
  cmd/dockerd/winresources/Dockerfile
  cmd/dockerd/winresources/docker.ico
  cmd/dockerd/winresources/event_messages.bin
  cmd/dockerd/winresources/event_messages.h
  cmd/dockerd/winresources/event_messages.mc
  cmd/dockerd/winresources/event_messages.rc
  cmd/dockerd/winresources/winresources.go
  hack/make/.binary
  hack/make/.go-autogen.ps1
  hack/make/.mkwinres
Labels: platform/windows, status/2-code-review, area/packaging, kind/bugfix

#50270 Remove dependency on httputil for client hijack test
  client/hijack_test.go
Labels: status/2-code-review, kind/refactor

#50271 Remove dependency on testutil from client
  client/image_tag_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#50225 Add TestRoutedNonGateway
  integration/networking/port_mapping_linux_test.go
Labels: kind/enhancement, area/networking, area/testing, area/networking/firewalling, area/networking/d/bridge, area/networking/portmapping

#49920 pluginrpc-gen: align generator with generated
  .golangci.yml
  pkg/plugins/pluginrpc-gen/README.md
  pkg/plugins/pluginrpc-gen/fixtures/foo.go
  pkg/plugins/pluginrpc-gen/parser.go
  pkg/plugins/pluginrpc-gen/parser_test.go
  pkg/plugins/pluginrpc-gen/template.go
  pkg/plugins/pluginrpc-gen/template_test.go
  volume/drivers/extpoint.go
  volume/drivers/proxy.go
Labels: status/2-code-review, area/testing, area/plugins, kind/refactor
