Repository moby/moby, pull requests merged in 2025-04, with the labels that each got.

#49609 client: keep image refs in canonical format where possible
  client/container_commit.go
  client/container_commit_test.go
  client/image_create.go
  client/image_create_test.go
  client/image_pull.go
  client/image_pull_test.go
  client/image_push.go
  client/image_push_test.go
  client/image_tag.go
  client/image_tag_test.go
Labels: area/api, status/2-code-review, impact/changelog, area/go-sdk, impact/go-sdk

#49718 api: bump API version to 1.49
  api/common.go
  api/swagger.yaml
  docs/api/version-history.md
Labels: area/api, status/2-code-review, impact/api, impact/changelog

#49726 Add missing platform parameter to ImageGet api docs and add it under Image tag
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs

#49735 docs: API v1.48: Add missing platform parameter to ImageGet api docs and add it under Image tag
  docs/api/v1.48.yaml
Labels: area/api, status/3-docs-review, area/docs

#49714 distribution: cleanup tests, and remove unused fields
  distribution/push_v2.go
  distribution/registry_unit_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49727 Rootless setup: check for module nf_tables
  contrib/dockerd-rootless-setuptool.sh
Labels: status/4-merge, impact/changelog, area/contrib, area/rootless, kind/bugfix, process/cherry-pick/28.x

#49650 containerd: ensure overwritten images from load are left dangling
  daemon/containerd/image_exporter.go
  integration/image/load_test.go
Labels: status/2-code-review, area/images, kind/bugfix, containerd-integration

#49739 registry: minor fixes and cleanups
  registry/config.go
  registry/registry.go
  registry/search_session.go
  registry/service.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49566 Update `github.com/moby/sys/user` and use of idtools
  .golangci.yml
  daemon/archive_tarcopyoptions.go
  daemon/container_operations_unix.go
  daemon/create_unix.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/export.go
  daemon/info.go
  daemon/oci_linux.go
  daemon/volumes_unix.go
  daemon/workdir.go
  internal/usergroup/add_linux_test.go
  internal/usergroup/lookup_unix.go
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/idtools_windows.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/user/idtools.go
  vendor/github.com/moby/sys/user/idtools_unix.go
  vendor/github.com/moby/sys/user/idtools_windows.go
  vendor/modules.txt
Labels: status/2-code-review, kind/refactor, area/dependencies

#49741 pkg/atomicwriter: disallow symlinks for now, add more tests and touch-up GoDoc
  pkg/atomicwriter/atomicwriter.go
  pkg/atomicwriter/atomicwriter_test.go
Labels: status/2-code-review, kind/enhancement

#49737 update to go1.23.8 (fix CVE-2025-22871)
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#49748 deprecate pkg/atomicwriter, migrate to github.com/moby/sys/atomicwriter
  container/container.go
  daemon/cluster/utils.go
  daemon/graphdriver/overlay2/overlay.go
  daemon/id.go
  daemon/runtime_unix.go
  distribution/metadata/metadata.go
  image/fs.go
  layer/filestore.go
  libnetwork/internal/resolvconf/resolvconf.go
  pkg/atomicwriter/atomicwriter_deprecated.go
  pkg/atomicwriter/atomicwriter_test.go
  pkg/ioutils/fswriters_deprecated.go
  plugin/manager.go
  reference/store.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
  volume/local/local.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk

#49751 vendor: github.com/klauspost/compress v1.18.0
  vendor.mod
  vendor.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/internal/le/le.go
  vendor/github.com/klauspost/compress/internal/le/unsafe_disabled.go
  vendor/github.com/klauspost/compress/internal/le/unsafe_enabled.go
  vendor/github.com/klauspost/compress/s2sx.mod
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/seqenc.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49750 vendor: github.com/google/go-cmp v0.7.0
  vendor.mod
  vendor.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49753 pkg/idtools: MkdirAllAndChownNew: improve deprecation message
  pkg/idtools/idtools.go
Labels: status/3-docs-review

#49757 pkg/archive: fix linting issues
  pkg/archive/changes.go
  pkg/archive/changes_test.go
  pkg/archive/diff_test.go
Labels: status/2-code-review, area/testing

#49724 libnet: fix duplicated port mappings in overlay networks
  integration/network/overlay/overlay_test.go
  libnetwork/endpoint_info_unix.go
Labels: status/2-code-review, area/networking, impact/changelog, area/swarm, kind/bugfix, area/networking/d/overlay, area/networking/portmapping

#49736 libnet: Controller: cache networks & endpoints in-memory
  internal/maputil/maputil.go
  libnetwork/controller.go
  libnetwork/endpoint.go
  libnetwork/endpoint_cnt.go
  libnetwork/endpoint_store.go
  libnetwork/endpoint_store_test.go
  libnetwork/network.go
  libnetwork/network_store.go
  libnetwork/network_store_test.go
  libnetwork/sandbox_store.go
  libnetwork/store.go
Labels: area/networking, impact/changelog, kind/refactor

#49746 c8d/pull: Show progress for non-layer blobs
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/progress.go
Labels: impact/changelog, area/images, kind/bugfix, containerd-integration, area/ux

#49586 image/inspect: Add platform selection
  api/server/router/image/image_routes.go
  api/types/backend/backend.go
  api/types/image/image_inspect.go
  api/types/image/opts.go
  client/image_inspect.go
  client/image_inspect_opts.go
  client/image_inspect_test.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_inspect_test.go
  daemon/images/image_inspect.go
  docs/api/version-history.md
  integration/image/inspect_test.go
  internal/testutils/specialimage/multiplatform.go
  internal/testutils/specialimage/partial.go
  internal/testutils/specialimage/random.go
  internal/testutils/specialimage/twoplatform.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, area/images, containerd-integration

#49734 Fix docker stats parsing with large amount of interrupts
  daemon/stats_unix.go
  daemon/stats_unix_test.go
  daemon/testdata/stat
Labels: area/runtime, status/2-code-review, kind/bugfix

#49767 vendor: github.com/moby/sys/atomicwriter v0.1.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49763 registry: wire up contexts in some places, and remove some intermediate vars
  registry/auth.go
  registry/registry.go
  registry/search.go
  registry/search_session.go
  registry/search_test.go
  registry/service.go
  registry/service_v2.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49732 Add utils for manipulating nftables rules
  libnetwork/internal/nftables/nftables_linux.go
  libnetwork/internal/nftables/nftables_linux_test.go
  libnetwork/internal/nftables/testdata/TestChain_created.golden
  libnetwork/internal/nftables/testdata/TestChain_deleted.golden
  libnetwork/internal/nftables/testdata/TestChain_modified.golden
  libnetwork/internal/nftables/testdata/TestSet_created4.golden
  libnetwork/internal/nftables/testdata/TestSet_created46.golden
  libnetwork/internal/nftables/testdata/TestSet_deleted4.golden
  libnetwork/internal/nftables/testdata/TestSet_deleted46.golden
  libnetwork/internal/nftables/testdata/TestTable_created.golden
  libnetwork/internal/nftables/testdata/TestTable_created4.golden
  libnetwork/internal/nftables/testdata/TestTable_created46.golden
  libnetwork/internal/nftables/testdata/TestVMap_created.golden
  libnetwork/internal/nftables/testdata/TestVMap_deleted.golden
Labels: kind/feature, area/networking/firewalling

#49728 Stop firewalld reload re-creating rules for deleted networks
  integration/network/bridge/bridge_linux_test.go
  internal/testutils/networking/iptables.go
  libnetwork/controller_linux.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_firewalld.go
  libnetwork/iptables/firewalld.go
  testutil/daemon/daemon.go
Labels: impact/changelog, kind/bugfix, version/20.10, area/networking/firewalling, area/networking/d/bridge, area/networking/firewalld

#48563 dockerfile: dind target to build docker image for testing
  .github/workflows/ci.yml
  Dockerfile
  docker-bake.hcl
Labels: status/2-code-review, area/testing

#49749 api: /info: omit non-distributable-artifacts fields for API >= 1.49
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/registry/registry.go
  api/types/registry/registry_test.go
  docs/api/version-history.md
Labels: area/api, impact/api, impact/changelog, impact/deprecation

#49769 libnet/d/bridge: trace createNetwork
  api/server/router/network/backend.go
  api/server/router/network/network_routes.go
  api/server/server.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/network.go
  daemon/oci_linux_test.go
  daemon/reload_test.go
  internal/otelutil/baggage.go
  internal/otelutil/provider.go
  internal/otelutil/status.go
  libnetwork/cnmallocator/manager.go
  libnetwork/controller.go
  libnetwork/default_gateway_linux.go
  libnetwork/driverapi/driverapi.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/brmanager/brmanager.go
  libnetwork/drivers/bridge/network_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/bridge/setup.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/drivers/host/host.go
  libnetwork/drivers/host/host_test.go
  libnetwork/drivers/ipvlan/ipvlan_network.go
  libnetwork/drivers/ipvlan/ivmanager/ivmanager.go
  libnetwork/drivers/macvlan/macvlan_network.go
  libnetwork/drivers/macvlan/mvmanager/mvmanager.go
  libnetwork/drivers/null/null.go
  libnetwork/drivers/null/null_test.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/ovmanager/ovmanager.go
  libnetwork/drivers/remote/driver.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/drivers/windows/overlay/ov_network_windows.go
  libnetwork/drivers/windows/windows.go
  libnetwork/drivers/windows/windows_test.go
  libnetwork/endpoint_store_test.go
  libnetwork/firewall_linux_test.go
  libnetwork/libnetwork_internal_test.go
  libnetwork/libnetwork_linux_test.go
  libnetwork/network_store_test.go
  libnetwork/resolver_unix_test.go
  libnetwork/sandbox_dns_unix_test.go
  libnetwork/sandbox_unix_test.go
  libnetwork/service_common_unix_test.go
  libnetwork/store_linux_test.go
  libnetwork/store_test.go
  vendor.mod
  vendor.sum
  vendor/go.opentelemetry.io/contrib/processors/baggagecopy/LICENSE
  vendor/go.opentelemetry.io/contrib/processors/baggagecopy/doc.go
  vendor/go.opentelemetry.io/contrib/processors/baggagecopy/processor.go
  vendor/modules.txt
Labels: kind/enhancement, area/networking, area/networking/d/bridge, area/metrics/otel, release-blocker

#49774 libnet/osl: independent OTel trace for advertiseAddrs
  libnetwork/osl/interface_linux.go
Labels: kind/enhancement, area/networking, area/metrics/otel

#49773 libnet: add ep name in 'has active endpoints' error
  libnetwork/error.go
  libnetwork/network.go
Labels: status/2-code-review, kind/enhancement, area/networking, impact/changelog

#47733 otel: simple OTEL collector/Jaeger/Aspire stack for testing purposes
  contrib/otel/README.md
  contrib/otel/compose.yaml
  contrib/otel/otelcol.yaml
Labels: status/4-merge, kind/enhancement, impact/changelog, area/testing, area/contrib, area/metrics, area/metrics/otel

#49759 replace uses of idtools.MkdirAllAndChown, MkdirAllAndChownNew
  .golangci.yml
  container/container.go
  daemon/initlayer/setup_unix.go
  libcontainerd/remote/client_linux.go
  volume/local/local.go
  volume/mounts/mounts.go
Labels: status/2-code-review, kind/refactor

#49777 vendor: update golang.org/x/.. dependencies
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_loong64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.s
  vendor/golang.org/x/sys/cpu/parse.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/svc/eventlog/log.go
  vendor/golang.org/x/sys/windows/svc/mgr/config.go
  vendor/golang.org/x/sys/windows/svc/mgr/mgr.go
  vendor/golang.org/x/sys/windows/svc/mgr/recovery.go
  vendor/golang.org/x/sys/windows/svc/mgr/service.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49762 registry: remove deprecated ServiceConfig.AllowNondistributableArtifacts
  cmd/dockerd/config.go
  cmd/dockerd/daemon.go
  daemon/config/config.go
  daemon/config/config_linux_test.go
  registry/config.go
Labels: area/distribution, kind/refactor

#49666 api, client: produce human-readable errors for unsupported API versions (< v1.24)
  api/server/server.go
  client/request.go
  client/request_test.go
  integration-cli/docker_api_test.go
Labels: area/api, area/cli, status/2-code-review, kind/enhancement

#48556 api: info: omit deprecated "Commit.Expected" fields on API >= 1.49
  api/server/router/system/system_routes.go
  api/swagger.yaml
  api/types/system/info.go
  docs/api/version-history.md
  integration/system/info_linux_test.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation

#49765 Put bridge driver's top-level iptables config in a separate object
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: kind/refactor, area/networking/firewalling, area/networking/d/bridge

#49778 Fix removal of legacy links
  integration-cli/docker_cli_daemon_test.go
  integration/network/bridge/bridge_linux_test.go
  libnetwork/endpoint.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/d/bridge, version/28.0

#49770 Add registry error handling for push and pull
  daemon/containerd/image_pull.go
  daemon/containerd/image_push.go
  daemon/containerd/registry_errors.go
  integration-cli/docker_cli_push_test.go
Labels: area/distribution, status/2-code-review, kind/enhancement, impact/changelog, containerd-integration

#49790 [25.0] vendor: github.com/golang-jwt/jwt/v4 v4.5.2
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49785 api/server/middleware: fix debug-logs missing form-data
  api/server/middleware/debug.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#49787 Dockerfile: update registry to v3.0.0
  Dockerfile
Labels: status/2-code-review, area/testing

#49677 integration-cli: Update default CLI version to v18.06.3-ce
  Dockerfile
  hack/dockerfile/install/dockercli.installer
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_swarm_test.go
Labels: status/2-code-review, area/testing

#49789 daemon: containerCreate, containerStart: add filtered labels to OTel span
  daemon/create.go
  daemon/start.go
Labels: status/2-code-review, kind/enhancement, area/daemon, area/metrics/otel

#49783 API: /info: remove BridgeNfIptables, BridgeNfIp6tables fields
  api/server/router/system/system_routes.go
  api/types/system/info.go
  docs/api/version-history.md
  integration/system/info_linux_test.go
  pkg/sysinfo/sysinfo.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation

#49793 docs/api: add documentation for API v1.49
  docs/api/v1.49.yaml
Labels: area/api, area/docs

#49795 Revert "API: /info: remove BridgeNfIptables, BridgeNfIp6tables fields"
  api/server/router/system/system_routes.go
  api/types/system/info.go
  docs/api/version-history.md
  integration/system/info_linux_test.go
  pkg/sysinfo/sysinfo.go
Labels: status/2-code-review

#49797 vendor: github.com/moby/buildkit v0.21.0-rc2
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/client/build.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/frontend/gateway/gateway.go
  vendor/github.com/moby/buildkit/session/exporter/exporter.pb.go
  vendor/github.com/moby/buildkit/session/exporter/exporter.proto
  vendor/github.com/moby/buildkit/session/exporter/exporter_grpc.pb.go
  vendor/github.com/moby/buildkit/session/exporter/exporter_vtproto.pb.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/llbsolver/solver.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/source/local/identifier.go
  vendor/github.com/moby/buildkit/source/local/source.go
  vendor/github.com/tonistiigi/fsutil/buffer.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit

#49800 profiles/seccomp: use stdlib for asserting, remove "// import" comments
  profiles/seccomp/default_linux.go
  profiles/seccomp/seccomp.go
  profiles/seccomp/seccomp_linux.go
  profiles/seccomp/seccomp_test.go
Labels: status/2-code-review, area/testing, area/security/seccomp, kind/refactor

#49802 integration/TestStopContainerWithTimeout: Attempt to fix flakiness
  integration/container/stop_test.go
Labels: status/2-code-review, area/testing

#49809 vendor: update buildkit to v0.21.0
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: area/builder, impact/changelog, area/builder/buildkit, area/dependencies

#49812 Store an endpoint count for networks, for downgrade
  libnetwork/controller.go
  libnetwork/endpoint_cnt.go
  libnetwork/network.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/d/bridge, release-blocker

#49782 container: Container.SetupWorkingDirectory: remove use of pkg/idtools
  container/container.go
  daemon/create_unix.go
  daemon/oci_linux.go
  daemon/workdir.go
Labels: status/2-code-review, kind/refactor

#49814 daemon/initlayer: Setup: remove uses of idtools.Identity
  daemon/create.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/initlayer/setup_unix.go
  plugin/manager_linux.go
Labels: status/2-code-review, area/daemon, kind/refactor

#49815 docs/api: update image tarball format
  api/swagger.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/v1.48.yaml
  docs/api/v1.49.yaml
Labels: status/3-docs-review, area/docs, area/images

#49799 profiles/apparmor: add some optimisations and tests
  profiles/apparmor/apparmor.go
  profiles/apparmor/apparmor_linux_test.go
  profiles/apparmor/template.go
Labels: area/security/apparmor, status/2-code-review, area/testing, kind/refactor

#49827 Warn when no external DNS nameservers are found
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/resolvconf/resolvconf_test.go
  libnetwork/internal/resolvconf/testdata/TestRCTransformForIntNS/No_config.golden
  libnetwork/sandbox_dns_unix.go
Labels: kind/enhancement, area/networking, impact/changelog, area/networking/d/bridge, area/networking/dns, version/28.0

#49833 contrib/rootless-setuptool: Fix iptables detection
  contrib/dockerd-rootless-setuptool.sh
Labels: status/4-merge, impact/changelog, area/contrib, area/rootless, kind/bugfix

#49837 vendor: github.com/containerd/containerd v2.0.5, golang.org/x/oauth2 v0.29.0
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/client/container.go
  vendor/github.com/containerd/containerd/v2/client/task.go
  vendor/github.com/containerd/containerd/v2/client/task_opts.go
  vendor/github.com/containerd/containerd/v2/client/task_opts_unix.go
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_linux.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_unix.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49834 cleanup ignore files
  .dockerignore
  .gitignore
Labels: status/2-code-review, area/testing, kind/refactor

#49588 update go:build tags to go1.23 to align with vendor.mod
  api/server/router/container/inspect.go
  api/server/router/grpc/grpc.go
  api/server/router/system/system.go
  api/server/router/system/system_routes.go
  api/types/registry/registry.go
  api/types/registry/registry_test.go
  builder/builder-next/adapters/containerimage/pull.go
  container/view.go
  daemon/container_operations.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_push_test.go
  daemon/create.go
  daemon/daemon.go
  daemon/daemon_unix.go
  daemon/info.go
  daemon/inspect.go
  daemon/logger/loggerutils/logfile.go
  internal/gocompat/modulegenerator.go
  internal/maputil/maputil.go
  internal/platform/platform_linux.go
  internal/sliceutil/sliceutil.go
  libnetwork/config/config.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/overlay/peerdb.go
  libnetwork/endpoint.go
  libnetwork/endpoint_store.go
  libnetwork/internal/l2disco/unsol_arp_linux.go
  libnetwork/internal/l2disco/unsol_na_linux.go
  libnetwork/internal/nftables/nftables_linux.go
  libnetwork/internal/resolvconf/resolvconf.go
  libnetwork/internal/setmatrix/setmatrix.go
  libnetwork/ipams/defaultipam/address_space.go
  libnetwork/ipamutils/utils.go
  libnetwork/iptables/iptables.go
  libnetwork/netutils/utils_linux.go
  libnetwork/network.go
  libnetwork/network_store.go
  libnetwork/networkdb/networkdb.go
  libnetwork/options/options.go
  libnetwork/osl/interface_linux.go
  libnetwork/osl/route_linux.go
  libnetwork/portallocator/portallocator.go
  libnetwork/sandbox.go
  libnetwork/service.go
  oci/defaults.go
  plugin/v2/plugin_linux.go
  testutil/daemon/daemon.go
  testutil/helpers.go
Labels: status/2-code-review

#49844 vendor: github.com/vbatts/tar-split v0.12.1
  vendor.mod
  vendor.sum
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/github.com/vbatts/tar-split/archive/tar/writer.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49839 Dockerfile: update cli to v28.1.1, buildx v0.33.0, compose v0.35.1, syntax: docker/dockerfile:1
  Dockerfile
Labels: status/2-code-review

#49838 builder/remotecontext: MakeGitContext: use "WithFields" for logs
  builder/remotecontext/git.go
Labels: area/builder, status/2-code-review, kind/refactor

#49817 CI: deduplicate execution of unit tests
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/test.yml
Labels: area/testing, kind/refactor

#49846 fix duplicate import, and force consistent alias for bolt
  .golangci.yml
  builder/builder-next/controller.go
  daemon/containerd/image_test.go
  daemon/content.go
  daemon/daemon.go
  daemon/images/store_test.go
Labels: status/2-code-review, kind/refactor

#49788 Move bridge driver iptables code into its own package
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/internal/iptabler/iptabler.go
  libnetwork/drivers/bridge/internal/iptabler/iptabler_test.go
  libnetwork/drivers/bridge/internal/iptabler/link.go
  libnetwork/drivers/bridge/internal/iptabler/network.go
  libnetwork/drivers/bridge/internal/iptabler/network_test.go
  libnetwork/drivers/bridge/internal/iptabler/port.go
  libnetwork/drivers/bridge/internal/iptabler/wsl2.go
  libnetwork/drivers/bridge/internal/iptabler/wsl2_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: area/networking, kind/refactor, area/networking/firewalling, area/networking/d/bridge

#49823 Reset default bridge addresses after integration tests
  integration/network/dns_test.go
  integration/network/service_test.go
  integration/networking/bridge_linux_test.go
  testutil/environment/clean.go
  testutil/environment/protect.go
  testutil/environment/protect_linux.go
  testutil/environment/protect_others.go
Labels: area/networking, area/testing, kind/bugfix, area/networking/d/bridge

#49843 builder/remotecontext: Deprecate Rel()
  builder/dockerfile/copy.go
  builder/remotecontext/lazycontext.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#49829 iptables: Direct routing DROP rules per-container, not per-port
  integration/network/bridge/iptablesdoc/generated/usernet-portmap-lo.md
  integration/network/bridge/iptablesdoc/generated/usernet-portmap.md
  integration/networking/testdata/TestSkipRawRules/skip=false_ipv4.golden
  integration/networking/testdata/TestSkipRawRules/skip=false_ipv6.golden
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/internal/iptabler/endpoint.go
  libnetwork/drivers/bridge/internal/iptabler/port.go
Labels: area/networking, kind/refactor, area/networking/firewalling, area/networking/d/bridge

#49776 Dockerfile: Fetch vpnkit from moby org
  Dockerfile
Labels: status/2-code-review, area/rootless, kind/refactor

#49857 integration/build: Unskip TestBuildEmitsImageCreateEvent for c8d
  integration/build/build_test.go
Labels: area/builder, area/builder/buildkit, containerd-integration

#49863 Add TestLegacyLink
  integration/network/bridge/bridge_linux_test.go
Labels: kind/enhancement, area/networking, area/testing, area/networking/d/bridge

#49866 Drop "-o com.docker.network.enable_ipv[46]" if overridden
  daemon/network.go
  integration/network/bridge/bridge_linux_test.go
Labels: area/networking, impact/changelog, kind/bugfix, version/27.0

#49869 builder: use t.TempDir() in tests
  builder/dockerfile/copy_test.go
  builder/dockerfile/evaluator_test.go
  builder/dockerfile/internals_linux_test.go
  builder/dockerfile/internals_test.go
  builder/dockerfile/utils_test.go
  builder/remotecontext/detect_test.go
  builder/remotecontext/remote_test.go
  builder/remotecontext/tarsum_test.go
  builder/remotecontext/utils_test.go
Labels: status/2-code-review, area/testing

#49875 use consts for health-status in tests
  container/view_test.go
  integration-cli/docker_cli_health_test.go
  integration/container/health_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#49879 volume/*: use Go's native t.TempDir() in tests
  volume/local/local_test.go
  volume/mounts/parser_test.go
  volume/service/db_test.go
  volume/service/restore_test.go
  volume/service/service.go
  volume/service/service_linux_test.go
  volume/service/service_test.go
  volume/service/store_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#49878 api, builder, client, container: reduce named (error)-returns, naked returns and some minor linting-fixes
  api/server/backend/build/tag.go
  api/server/router/grpc/grpc.go
  api/types/time/timestamp.go
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/builder.go
  builder/builder-next/exporter/overrides/overrides.go
  builder/dockerfile/containerbackend.go
  builder/dockerfile/evaluator.go
  builder/remotecontext/archive.go
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/remote.go
  client/plugin_install.go
  container/archive_windows.go
  container/container_unix.go
  container/stream/attach.go
Labels: status/2-code-review, kind/refactor

#49889 hack: Update broken link from README
  hack/README.md
Labels: status/3-docs-review, area/docs

#49877 pkg/*: reduce named (error)-returns and some minor linting-fixes
  container/stream/unbuffered.go
  container/stream/unbuffered_test.go
  pkg/fileutils/fileutils.go
  pkg/ioutils/readers.go
  pkg/ioutils/readers_test.go
  pkg/ioutils/writeflusher.go
  pkg/parsers/parsers.go
  pkg/pidfile/pidfile.go
  pkg/progress/progressreader.go
  pkg/stdcopy/stdcopy.go
  pkg/stdcopy/stdcopy_test.go
Labels: status/2-code-review, kind/refactor

#49876 api/types/container: define HealthStatus "pseudo" type
  api/types/container/health.go
  container/health.go
  container/state.go
  container/state_test.go
  integration/container/health_test.go
Labels: area/api, status/2-code-review, impact/changelog, kind/refactor, area/go-sdk

#49892 Dockerfile.windows: update github.com/tc-hib/go-winres to v0.3.3
  Dockerfile.windows
Labels: platform/windows, status/2-code-review, area/dependencies

#49902 vendor: github.com/moby/buildkit v0.21.1
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/control/control.go
  vendor/github.com/moby/buildkit/frontend/dockerui/build.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, area/builder/buildkit
