Repository moby/moby, pull requests merged in 2025-03, with the labels that each got.

#49564 vendor: github.com/containerd/containerd v2.0.3
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/core/content/proxy/content_writer.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49563 daemon/graphdriver: rename vars that shadowed
  daemon/graphdriver/driver.go
Labels: status/2-code-review, kind/refactor

#49558 testutil/environment: Execution.Clean: remove redundant condition
  testutil/environment/clean.go
Labels: status/2-code-review, area/testing, kind/refactor

#49544 fix some errors for windows containers
  container/container.go
  container/container_unix.go
  container/container_windows.go
  integration/container/update_test.go
  libcontainerd/local/local_windows.go
Labels: area/api, status/2-code-review

#49549 daemon/cluster: some cleanups in initialisation
  cmd/dockerd/daemon.go
  daemon/cluster/cluster.go
  daemon/cluster/noderunner.go
  daemon/cluster/swarm.go
Labels: status/2-code-review, area/swarm, area/daemon, kind/refactor

#49512 libnet/portallocator: un-export errors that were not used as sentinel errors
  libnetwork/portallocator/portallocator.go
  libnetwork/portallocator/portallocator_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/portmapping

#49567 registry: deprecate RepositoryInfo.Official field
  registry/registry_test.go
  registry/types.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#49568 registry: refactor to allow splitting out logic for CLI
  registry/config.go
  registry/registry_test.go
  registry/search.go
  registry/service.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49570 golangci-lint: enforce "is" alias for gotest.tools/v3/assert/cmp
  .golangci.yml
  daemon/logger/loggerutils/logfile_test.go
  distribution/manifest_test.go
  integration-cli/checker/checker.go
  integration-cli/docker_cli_history_test.go
  integration-cli/docker_utils_test.go
  integration/container/logs_test.go
  integration/image/save_test.go
  integration/network/helpers.go
  volume/service/convert_test.go
Labels: status/2-code-review, area/testing

#49559 testutil: remove isErrNotFoundSwarmClassic
  testutil/environment/clean.go
Labels: status/2-code-review, area/testing, kind/refactor

#49571 registry: improve test-coverage, and some minor fixes
  registry/config.go
  registry/config_test.go
  registry/registry_mock_test.go
  registry/registry_test.go
Labels: area/distribution, status/2-code-review, area/testing

#49573 integration/volume: remove some debug logs and minor fixes/cleanups
  integration/volume/mount_test.go
Labels: status/2-code-review, area/testing, area/volumes

#49493 golangci-lint: enable nakedret linter
  .golangci.yml
  api/server/router/build/build_routes.go
  api/types/registry/registry.go
  builder/dockerfile/builder.go
  builder/dockerfile/copy.go
  builder/dockerfile/imagecontext.go
  builder/remotecontext/archive.go
  builder/remotecontext/detect.go
  container/stream/bytespipe/bytespipe.go
  daemon/cluster/cluster.go
  daemon/daemon.go
  daemon/daemon_linux.go
  daemon/graphdriver/fsdiff.go
  daemon/graphdriver/fuse-overlayfs/fuseoverlayfs.go
  daemon/logger/awslogs/cloudwatchlogs.go
  daemon/logger/proxy.go
  daemon/logs.go
  daemon/stats_unix.go
  image/tarexport/load.go
  integration-cli/check_test.go
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_cli_cp_utils_test.go
  integration-cli/docker_cli_logs_test.go
  internal/mod/mod.go
  internal/unix_noeintr/fs_unix.go
  layer/layer_store.go
  layer/migration.go
  layer/ro_layer.go
  libnetwork/cmd/networkdb-test/dbclient/ndbClient.go
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/remote/driver_test.go
  libnetwork/ipams/remote/remote_test.go
  libnetwork/osl/namespace_linux.go
  libnetwork/types/types.go
  pkg/archive/archive.go
  pkg/archive/archive_linux.go
  pkg/archive/archive_unix.go
  pkg/archive/archive_windows.go
  pkg/archive/changes.go
  pkg/archive/copy.go
  pkg/archive/copy_unix_test.go
  pkg/archive/diff_test.go
  pkg/archive/time_nonwindows.go
  pkg/archive/wrap.go
  pkg/chrootarchive/diff_unix.go
  pkg/pools/pools.go
  pkg/stdcopy/stdcopy.go
  pkg/stdcopy/stdcopy_test.go
  pkg/tarsum/versioning.go
  plugin/backend_linux.go
  registry/auth.go
  registry/search_session.go
  registry/service.go
Labels: status/2-code-review, area/testing, kind/refactor

#49582 Flush iptables chains DOCKER-CT, DOCKER-BRIDGE on startup
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: area/networking, kind/bugfix, area/networking/d/bridge, version/28.0

#49580 update to go1.23.7
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, impact/changelog, area/packaging

#49587 vendor: update buildkit to v0.20.1
  builder/builder-next/controller.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  vendor/github.com/tonistiigi/go-actions-cache/cache_v2.go
  vendor/modules.txt
Labels: area/builder, status/2-code-review, impact/changelog, area/builder/buildkit

#49465 vendor: github.com/opencontainers/runc v1.2.5, cyphar/filepath-securejoin v0.4.1
  vendor.mod
  vendor.sum
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_go120.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_go121.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/procfs_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49543 vendor: golang.org/x/crypto v0.35.0, golang.org/x/oauth2 v0.27.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49589 integration/net: Deflake TestAccessPublishedPortFromAnotherNetwork
  integration/networking/port_mapping_linux_test.go
Labels: status/2-code-review, area/networking, area/testing

#49578 Update governance and maintainers file
  Dockerfile
  MAINTAINERS
  hack/validate/default
  hack/validate/toml
  project/GOVERNANCE.md
Labels: status/3-docs-review, area/project

#49597 cmd/dockerd: assorted cleanups on config handling
  cmd/dockerd/daemon.go
  cmd/dockerd/daemon_linux.go
  cmd/dockerd/daemon_unix.go
  cmd/dockerd/daemon_windows.go
  cmd/dockerd/options.go
Labels: area/cli, status/2-code-review, area/daemon, kind/refactor

#49598 layer: remove StoreOptions.MetadataStorePathTemplate
  daemon/daemon.go
  integration/image/remove_unix_test.go
  layer/layer_store.go
Labels: status/2-code-review, area/daemon, kind/refactor

#49581 vendor: golang.org/x/net v0.36.0
  vendor.mod
  vendor.sum
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/ctxhttp/ctxhttp.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49606 api: improve docs for Secret and Config data fields
  api/swagger.yaml
  api/types/swarm/config.go
  api/types/swarm/secret.go
  docs/api/v1.31.yaml
  docs/api/v1.32.yaml
  docs/api/v1.33.yaml
  docs/api/v1.34.yaml
  docs/api/v1.35.yaml
  docs/api/v1.36.yaml
  docs/api/v1.37.yaml
  docs/api/v1.38.yaml
  docs/api/v1.39.yaml
  docs/api/v1.40.yaml
  docs/api/v1.41.yaml
  docs/api/v1.42.yaml
  docs/api/v1.43.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/v1.48.yaml
Labels: area/api, status/3-docs-review, area/docs

#49607 pkg/atomicwriter: New(): prevent creating temp-file on errors, and use absolute paths
  pkg/atomicwriter/atomicwriter.go
Labels: status/2-code-review, kind/refactor

#49590 container/stream: Don't log error when streams are properly closed
  container/stream/streams.go
Labels: status/2-code-review, impact/changelog, area/daemon

#49613 client: add API-version dependent validation for mount options
  client/container_create.go
  client/service_create.go
Labels: area/cli, status/2-code-review

#49584 daemon/c8d: Refactor singlePlatformSize into separate functions
  daemon/containerd/image_list.go
  daemon/containerd/image_manifest.go
Labels: status/2-code-review, area/images, kind/refactor, containerd-integration

#49614 update RootlessKit to v2.3.4
  Dockerfile
  hack/dockerfile/install/rootlesskit.installer
  vendor.mod
  vendor.sum
  vendor/github.com/containernetworking/plugins/pkg/ns/README.md
  vendor/github.com/containernetworking/plugins/pkg/ns/ns_linux.go
  vendor/modules.txt
Labels: area/rootless

#45365 integration: Deduplicate TestStopContainerWithTimeout
  integration/container/stop_linux_test.go
  integration/container/stop_test.go
  integration/container/stop_windows_test.go
Labels: platform/windows, status/2-code-review, area/testing

#49622 Include CONFIG_IP_NF_RAW and IP6 iptables modules in check-config
  contrib/check-config.sh
Labels: area/networking, impact/changelog, area/contrib, kind/bugfix, version/28.0

#49610 registry: rewrite ParseRepositoryInfo to not depend on IndexInfo
  registry/config.go
  registry/registry_test.go
  registry/search.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49612 registry: deprecate SetCertsDir, HostCertsDir
  cmd/dockerd/config_unix.go
  cmd/dockerd/docker.go
  registry/config.go
  registry/registry.go
Labels: area/distribution, status/2-code-review, impact/deprecation, kind/refactor

#49605 runconfig/errors: split `ErrConflictHostNetwork`
  daemon/container_operations.go
  integration-cli/docker_cli_network_unix_test.go
  runconfig/errors.go
Labels: kind/enhancement, impact/changelog, area/go-sdk, impact/go-sdk

#49626 daemon: Fix panic on Windows when restoring pre v28 container
  daemon/container.go
  daemon/migration.go
Labels: platform/windows, impact/changelog, area/daemon, kind/bugfix

#49603 daemon: Fix giving up too early while connecting to containerd socket
  daemon/daemon.go
  libcontainerd/supervisor/remote_daemon.go
Labels: status/2-code-review, impact/changelog, area/daemon, kind/bugfix

#49365 Improve performance of daemon.Containers()
  daemon/list.go
  daemon/list_test.go
  integration/container/list_test.go
  integration/container/ps_test.go
  integration/internal/container/container.go
Labels: status/2-code-review, kind/enhancement, impact/changelog, area/performance, containerd-integration

#49553 Dockerfile: update containerd binary to v1.7.26
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/27.x

#49560 Mask Linux thermal interrupt info in /proc and /sys.
  integration/container/create_test.go
  internal/platform/platform.go
  internal/platform/platform_linux.go
  internal/platform/platform_linux_test.go
  internal/platform/platform_windows.go
  oci/defaults.go
Labels: area/runtime, status/2-code-review, kind/enhancement, impact/changelog, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/27.x

#49618 integration/container: Deflake TestWaitBlocked and TestWaitRestartedContainer
  integration/container/wait_test.go
Labels: status/2-code-review, area/testing

#49649 cmd/docker-proxy: UDP: fix race & aggressive GC
  cmd/docker-proxy/udp_proxy_linux.go
  cmd/docker-proxy/udp_proxy_linux_test.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix, area/networking/proxy, area/networking/d/bridge, area/networking/portmapping

#49652 vendor: github.com/containerd/containerd/v2 v2.0.4
  vendor.mod
  vendor.sum
  vendor/github.com/containerd/containerd/v2/client/client.go
  vendor/github.com/containerd/containerd/v2/core/images/image.go
  vendor/github.com/containerd/containerd/v2/core/images/mediatypes.go
  vendor/github.com/containerd/containerd/v2/core/remotes/handlers.go
  vendor/github.com/containerd/containerd/v2/pkg/oci/spec_opts.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: status/2-code-review, impact/changelog, area/dependencies

#49602 layer: remove StoreOptions.ExperimentalEnabled
  daemon/daemon.go
  daemon/graphdriver/driver.go
  integration/image/remove_unix_test.go
  layer/layer_store.go
Labels: status/2-code-review, kind/refactor

#49656 Dockerfile: update containerd binary to v1.7.27
  Dockerfile
  Dockerfile.windows
  hack/dockerfile/install/containerd.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/28.x

#49648 Combine bridge firewalld reload calls
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/setup_firewalld.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
Labels: area/networking, kind/refactor, area/networking/d/bridge

#49660 daemon/logger/journald: rename func that shadowed builtin
  daemon/logger/journald/journald.go
  daemon/logger/journald/read_test.go
Labels: area/logging, status/2-code-review, kind/refactor

#49619 pkg/atomicwriter: fix tempfiles cleanup, improve tests, and validate destination path
  pkg/atomicwriter/atomicwriter.go
  pkg/atomicwriter/atomicwriter_test.go
Labels: status/2-code-review, kind/bugfix

#49670 integration-cli: minor fixes
  integration-cli/docker_api_attach_test.go
  integration-cli/docker_api_build_test.go
  integration-cli/docker_api_test.go
Labels: status/2-code-review, area/testing

#49682 Dockerfile: update runc binary to v1.2.6
  Dockerfile
  hack/dockerfile/install/runc.installer
Labels: status/2-code-review, impact/changelog, area/testing, area/packaging, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/27.x

#49675 Dockerfile.simple: avoid `Could not find installer for "proxy"`
  Dockerfile.simple
Labels: status/2-code-review, area/packaging

#49681 vendor: github.com/opencontainers/runc v1.2.6
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/modules.txt
Labels: area/runtime, status/2-code-review, area/dependencies

#49687 Dockerfile: upgrade Delve to v1.24.1
  Dockerfile
Labels: status/2-code-review, area/testing

#49690 vendor: github.com/golang-jwt/jwt/v5 v5.2.2
  vendor.mod
  vendor.sum
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49689 Dockerfile: update registry to v3.0.0-rc.4
  Dockerfile
Labels: status/2-code-review, area/testing

#49692 remove some redundant import-aliases
  daemon/exec_linux_test.go
  daemon/oci_windows_test.go
  daemon/seccomp_linux_test.go
  oci/fuzz_test.go
  plugin/manager_linux_test.go
Labels: status/2-code-review, kind/refactor

#49562 switch to github.com/opencontainers/cgroups
  daemon/oci_linux.go
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/cgroups/CODEOWNERS
  vendor/github.com/opencontainers/cgroups/CONTRIBUTING.md
  vendor/github.com/opencontainers/cgroups/GOVERNANCE.md
  vendor/github.com/opencontainers/cgroups/LICENSE
  vendor/github.com/opencontainers/cgroups/MAINTAINERS
  vendor/github.com/opencontainers/cgroups/MAINTAINERS_GUIDE.md
  vendor/github.com/opencontainers/cgroups/README.md
  vendor/github.com/opencontainers/cgroups/RELEASES.md
  vendor/github.com/opencontainers/cgroups/cgroups.go
  vendor/github.com/opencontainers/cgroups/config_blkio_device.go
  vendor/github.com/opencontainers/cgroups/config_hugepages.go
  vendor/github.com/opencontainers/cgroups/config_ifprio_map.go
  vendor/github.com/opencontainers/cgroups/config_linux.go
  vendor/github.com/opencontainers/cgroups/config_rdma.go
  vendor/github.com/opencontainers/cgroups/config_unsupported.go
  vendor/github.com/opencontainers/cgroups/devices/config/device.go
  vendor/github.com/opencontainers/cgroups/devices/config/mknod_unix.go
  vendor/github.com/opencontainers/cgroups/file.go
  vendor/github.com/opencontainers/cgroups/getallpids.go
  vendor/github.com/opencontainers/cgroups/stats.go
  vendor/github.com/opencontainers/cgroups/utils.go
  vendor/github.com/opencontainers/cgroups/v1_utils.go
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/configs_fuzzer.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/intelrdt.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_syscall.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_syscall_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/network.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/device_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#49691 vendor: github.com/opencontainers/selinux v1.12.0
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/modules.txt
Labels: status/2-code-review, area/security/selinux, area/dependencies

#49698 vendor: github.com/moby/buildkit v0.20.2
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/4-merge, area/builder/buildkit, area/dependencies

#49700 Add missing go1.22 build constraints
  internal/platform/platform_linux.go
  oci/defaults.go
Labels: status/2-code-review, kind/bugfix, kind/refactor

#49678 c8d/builder: Fix missing `image tag` event with BuildKit
  builder/builder-next/exporter/wrapper.go
  integration-cli/docker_cli_build_test.go
Labels: area/runtime, status/2-code-review, impact/changelog, kind/bugfix, area/builder/buildkit, containerd-integration

#49693 Update `interface{}` to `any`
  container/view.go
  daemon/daemon.go
  daemon/daemon_unix.go
  libnetwork/config/config.go
  libnetwork/endpoint.go
  libnetwork/network.go
  libnetwork/options/options.go
  libnetwork/sandbox.go
  testutil/daemon/daemon.go
Labels: status/2-code-review, kind/refactor

#49704 vendor: github.com/opencontainers/image-spec v1.1.1
  vendor.mod
  vendor.sum
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#46941 implement module compatibility check
  hack/validate/gocompat
  internal/gocompat/.gitignore
  internal/gocompat/Makefile
  internal/gocompat/generate.go
  internal/gocompat/modulegenerator.go
  vendor/golang.org/x/mod/modfile/print.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/modfile/work.go
  vendor/modules.txt
Labels: status/2-code-review, area/testing, area/go-sdk

#49688 Dockerfile: disable saving Golang telemetry in dev-container
  Dockerfile
Labels: status/2-code-review, area/testing

#49671 Run systemd/rootless when systemd/rootless unit testing
  .github/workflows/.test.yml
  hack/dind
  hack/dind-systemd
Labels: area/networking, area/testing, kind/bugfix

#49696 refactor and simplify various code-paths related to distribution / authentication
  daemon/containerd/image_builder.go
  daemon/containerd/service.go
  daemon/images/image_builder.go
  distribution/config.go
  distribution/pull.go
  distribution/pull_v2.go
  distribution/pull_v2_test.go
  distribution/push.go
  distribution/push_v2.go
  distribution/push_v2_test.go
  distribution/registry.go
  distribution/registry_unit_test.go
  distribution/repository.go
  registry/service.go
Labels: area/distribution, status/2-code-review, kind/refactor, area/authentication

#49706 registry: deprecate APIEndpoint.Official field
  registry/service.go
Labels: area/distribution, status/2-code-review, impact/deprecation, area/go-sdk, impact/go-sdk

#49659 Run firewalld in CI
  .github/workflows/.test.yml
  Dockerfile
  Makefile
  hack/dind-systemd
  integration/network/bridge/bridge_linux_test.go
  integration/network/bridge/iptablesdoc/iptablesdoc_linux_test.go
  integration/networking/bridge_linux_test.go
  integration/networking/port_mapping_linux_test.go
  integration/service/network_linux_test.go
  internal/testutils/networking/iptables.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
  libnetwork/iptables/firewalld.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables_test.go
Labels: area/networking, area/testing, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, area/networking/firewalld

#49668 Bridge: factor out creation of network-level iptables rules
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/setup_firewalld.go
  libnetwork/drivers/bridge/setup_ip_tables_linux.go
  libnetwork/drivers/bridge/setup_ip_tables_linux_test.go
Labels: area/networking, kind/refactor, area/networking/d/bridge

#49713 registry: session.searchRepositories: pass through context
  registry/search.go
  registry/search_session.go
  registry/search_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49715 registry: ValidateMirror: touch-up GoDoc and improve test-coverage
  registry/config.go
  registry/config_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#49710 Simplify bridge legacy links
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/link.go
  libnetwork/drivers/bridge/link_test.go
  libnetwork/iptables/firewalld_test.go
  libnetwork/iptables/iptables.go
  libnetwork/iptables/iptables_test.go
Labels: area/networking, kind/refactor, area/networking/firewalling

#49608 pkg/atomicwriter: use sequential file access on Windows
  pkg/atomicwriter/atomicwriter.go
Labels: platform/windows, status/2-code-review, kind/enhancement
