Repository moby/moby, pull requests merged in 2025-07, with the labels that each got.

#50284 integration-cli: remove uses of deprecated dockerCmdWithResult utility
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_inspect_test.go
  integration-cli/docker_cli_network_unix_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_volume_test.go
  integration-cli/docker_utils_test.go
Labels: status/2-code-review, area/testing

#50301 remove project dev "reports"
  reports/2017-05-01.md
  reports/2017-05-08.md
  reports/2017-05-15.md
  reports/2017-06-05.md
  reports/2017-06-12.md
  reports/2017-06-26.md
  reports/builder/2017-05-01.md
  reports/builder/2017-05-08.md
  reports/builder/2017-05-15.md
  reports/builder/2017-05-22.md
  reports/builder/2017-05-29.md
  reports/builder/2017-06-05.md
  reports/builder/2017-06-12.md
  reports/builder/2017-06-26.md
  reports/builder/2017-07-10.md
  reports/builder/2017-07-17.md
Labels: status/3-docs-review, area/docs, area/project

#50297 contrib: remove mkimage-xxx scripts
  contrib/mkimage-alpine.sh
  contrib/mkimage-arch-pacman.conf
  contrib/mkimage-arch.sh
  contrib/mkimage-archarm-pacman.conf
  contrib/mkimage-crux.sh
  contrib/mkimage-pld.sh
  contrib/mkimage-yum.sh
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/contrib

#50294 daemon/listeners: extract utility for DACL, and improve docs
  daemon/listeners/listeners_windows.go
Labels: platform/windows, status/2-code-review, area/daemon

#50287 builder/dockerfile: BuildFromConfig: combine loops
  builder/dockerfile/builder.go
Labels: status/2-code-review, kind/refactor

#50306 image: remove special handling for legacy "layers+base" windows images
  image/rootfs.go
Labels: platform/windows, status/2-code-review, area/images

#50310 libnet/diag: remove /stackdump endpoint
  libnetwork/diagnostic/server.go
Labels: status/2-code-review, area/networking, kind/refactor

#50303 distribution/xfer: LayerDownloadManager.Download: remove initialRootFS arg
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/worker/worker.go
  distribution/pull_v2.go
  distribution/xfer/download.go
  distribution/xfer/download_test.go
Labels: area/distribution, status/2-code-review, kind/refactor

#50311 pkg/stack: suppress some unhandled errors
  pkg/stack/stackdump.go
Labels: status/2-code-review

#50283 Tell libnet's drivers which endpoints have been selected as gateways
  libnetwork/driverapi/driverapi.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
  libnetwork/drivers/remote/driver.go
  libnetwork/endpoint.go
Labels: kind/refactor, area/networking/d/bridge, area/networking/portmapping

#50314 gha: remove GO_VERSION build-arg from builds
  .github/workflows/.windows.yml
  .github/workflows/buildkit.yml
Labels: status/2-code-review, area/testing, process/cherry-pick/23.0, process/cherry-pick/25.0, process/cherry-pick/28.x

#45415 integration-cli: debug TestPushToCentralRegistryUnauthorized
  integration-cli/docker_cli_push_test.go
Labels: area/distribution, status/2-code-review, area/testing

#50323 deprecate layer.CreateChainID for OCI identity
  builder/builder-next/adapters/containerimage/pull.go
  builder/builder-next/adapters/snapshot/layer.go
  builder/builder-next/adapters/snapshot/snapshot.go
  builder/builder-next/exporter/mobyexporter/export.go
  builder/builder-next/worker/worker.go
  builder/dockerfile/internals_test.go
  daemon/containerd/cache.go
  daemon/containerd/image_builder.go
  daemon/containerd/imagespec.go
  daemon/images/image_prune.go
  distribution/metadata/v2_metadata_service.go
  distribution/metadata/v2_metadata_service_test.go
  distribution/xfer/download_test.go
  image/image_test.go
  image/rootfs.go
  image/store_test.go
  image/tarexport/save.go
  layer/empty.go
  layer/empty_test.go
  layer/filestore.go
  layer/filestore_test.go
  layer/layer.go
  layer/layer_store.go
  layer/layer_test.go
  layer/migration.go
  layer/ro_layer.go
Labels: status/2-code-review, area/images, kind/refactor

#50333 api: swagger: Tweak type of GwPriority to integer
  api/swagger.yaml
  docs/api/v1.48.yaml
  docs/api/v1.49.yaml
  docs/api/v1.50.yaml
  docs/api/v1.51.yaml
Labels: area/api, status/3-docs-review, area/docs, kind/bugfix, process/cherry-pick/28.x

#50335 integration-cli: remove uses of legacy distribution types
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_pull_local_test.go
Labels: status/2-code-review, kind/refactor, go-modules

#50328 layer: remove LogReleaseMetadata utility
  daemon/images/image_builder.go
  daemon/images/service.go
  layer/layer.go
Labels: status/2-code-review, kind/refactor

#50086 vendor: code.cloudfoundry.org/clock v1.37.0
  vendor.mod
  vendor.sum
  vendor/code.cloudfoundry.org/clock/CODEOWNERS
  vendor/code.cloudfoundry.org/clock/README.md
  vendor/code.cloudfoundry.org/clock/clock.go
  vendor/code.cloudfoundry.org/clock/fakeclock/fake_clock.go
  vendor/modules.txt
Labels: area/logging, status/4-merge, area/dependencies

#50349 [28.x backport] dockerfile: update govulncheck to v1.1.4
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, area/testing

#50316 contrib: add Wireshark plugins for NetworkDB
  contrib/wireshark/README.md
  contrib/wireshark/memberlist.lua
  contrib/wireshark/moby-networkdb.lua
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/debug.go
Labels: area/contrib, area/networking/d/overlay

#50307 libnet/d/bridge: pass SCTP sock to the proxy
  cmd/docker-proxy/main_linux.go
  cmd/docker-proxy/network_proxy_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  vendor.mod
  vendor.sum
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/modules.txt
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/portmapping

#50353 Update to go1.24.5
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: impact/changelog, area/dependencies, process/cherry-pick/28.x

#50318 Remove client buildkit dep
  client/buildkit/buildkit.go
  integration/build/build_traces_test.go
Labels: impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#50340 libnet/d/bridge: split NATed and routed port mappings
  integration/networking/port_mapping_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
  libnetwork/drivers/bridge/port_mapping_linux_test.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/portmapping

#50344 libnetwork/networkdb: fix broadcast queue deadlocks
  libnetwork/networkdb/cluster.go
  libnetwork/networkdb/event_delegate.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/nodemgmt.go
Labels: area/networking, process/cherry-pick, area/swarm, kind/bugfix, area/networking/d/overlay, process/cherry-pick/25.0, process/cherry-pick/28.x

#50342 libn/networkdb: stop forging tombstone entries
  libnetwork/networkdb/delegate.go
  libnetwork/networkdb/networkdb.go
  libnetwork/networkdb/tableevent_test.go
Labels: area/networking, impact/changelog, process/cherry-pick, area/swarm, kind/bugfix, area/networking/d/overlay, process/cherry-pick/25.0, process/cherry-pick/28.x

#50260 libnetwork/d/overlay: fix logical race conditions
  libnetwork/drivers/overlay/encryption.go
  libnetwork/drivers/overlay/joinleave.go
  libnetwork/drivers/overlay/ov_endpoint.go
  libnetwork/drivers/overlay/ov_network.go
  libnetwork/drivers/overlay/overlay.go
  libnetwork/drivers/overlay/peerdb.go
Labels: kind/enhancement, area/networking, impact/changelog, kind/bugfix, kind/refactor, area/networking/d/overlay

#50371 daemon/server: remove compatibility with API v1.4 auth-config on push
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
  daemon/server/router/image/image_routes.go
Labels: area/api, status/2-code-review, impact/api

#50375 api/types/registry: remove deprecated fields for non-distributable artifacts
  api/types/registry/registry.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50377 daemon/graphdriver: remove deprecated GetDriver(), redundant `init()`, and leftovers for graphdriver-plugins
  daemon/graphdriver/driver.go
Labels: area/storage, status/2-code-review, impact/deprecation, area/daemon

#50358 Remove iptables rules when using nftables, and vice-versa
  integration/network/bridge/bridge_linux_test.go
  libnetwork/drivers/bridge/bridge_linux.go
  libnetwork/drivers/bridge/bridge_store.go
  libnetwork/drivers/bridge/internal/firewaller/firewaller.go
  libnetwork/drivers/bridge/internal/iptabler/cleaner.go
  libnetwork/drivers/bridge/internal/iptabler/iptabler.go
  libnetwork/drivers/bridge/internal/iptabler/network.go
  libnetwork/drivers/bridge/internal/nftabler/cleaner.go
  libnetwork/drivers/bridge/internal/nftabler/endpoint.go
  libnetwork/drivers/bridge/internal/nftabler/network.go
  libnetwork/drivers/bridge/internal/nftabler/nftabler.go
  libnetwork/drivers/bridge/internal/nftabler/port.go
Labels: kind/feature, area/networking, area/networking/firewalling, area/networking/d/bridge

#50378 daemon/container: remove deprecated types and functions
  daemon/container/state.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/daemon, area/go-sdk, impact/go-sdk

#50373 registry: remove deprecated `HostCertsDir()` and `SetCertsDir()`
  registry/config.go
  registry/config_unix.go
  registry/config_windows.go
  registry/registry.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50406 Dockerfile: upgrade Delve to v1.25.0
  Dockerfile
Labels: status/2-code-review, area/testing

#50390 migrate test api images history integration cli test to integration test
  integration-cli/docker_api_images_test.go
  integration/image/history_test.go
Labels: area/testing, kind/refactor

#50392 api/types/registry: add some tests for encoding/decoding authconfig
  api/types/registry/authconfig_test.go
Labels: area/api, status/2-code-review, area/testing, area/authentication

#50208 pkg/* remove deprecated functions and packages
  pkg/archive/archive_deprecated.go
  pkg/archive/changes_deprecated.go
  pkg/archive/copy_deprecated.go
  pkg/archive/diff_deprecated.go
  pkg/archive/path_deprecated.go
  pkg/archive/utils.go
  pkg/archive/whiteouts_deprecated.go
  pkg/archive/wrap_deprecated.go
  pkg/atomicwriter/atomicwriter_deprecated.go
  pkg/chrootarchive/archive_deprecated.go
  pkg/chrootarchive/diff_deprecated.go
  pkg/ioutils/fswriters_deprecated.go
  pkg/parsers/parsers.go
  pkg/parsers/parsers_test.go
  pkg/platform/platform.go
  pkg/reexec/reexec_deprecated.go
  pkg/system/filesys.go
Labels: status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50362 libnet/portallocator: introduce OSAllocator
  daemon/libnetwork/drivers/bridge/port_mapping_linux.go
  daemon/libnetwork/drivers/bridge/port_mapping_linux_test.go
  daemon/libnetwork/portallocator/osallocator_linux.go
  daemon/libnetwork/portallocator/osallocator_linux_test.go
  daemon/libnetwork/portallocator/sctp_linux_386.go
  daemon/libnetwork/portallocator/sctp_linux_others.go
Labels: status/2-code-review, area/networking, kind/refactor, area/networking/portmapping

#50410 vendor: github.com/opencontainers/cgroups v0.0.4
  vendor.mod
  vendor.sum
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#50397 minor cleanups and reduce logs in tests
  integration-cli/docker_cli_network_unix_test.go
  testutil/daemon/daemon.go
Labels: kind/enhancement, area/testing

#50411 client: ContainerExecAttach: update GoDoc links
  client/container_exec.go
Labels: status/3-docs-review, area/docs

#50268 daemon: Fix mounting same image multiple times with different destinations
  daemon/volumes.go
  integration/volume/mount_test.go
Labels: impact/changelog, area/volumes, area/images, kind/bugfix, release-blocker

#50417 Remove integration test using daemon internals
  integration/image/remove_unix_test.go
Labels: area/testing, kind/refactor

#50415 client: always send (empty) body on push
  client/image_push.go
Labels: area/distribution, status/2-code-review, kind/bugfix, area/authentication, process/cherry-pick/25.0, process/cherry-pick/28.x

#50423 builder/remotecontext/git: fix linting issues
  builder/remotecontext/git/gitutils.go
  builder/remotecontext/git/gitutils_test.go
Labels: area/builder, status/2-code-review

#50405 Dockerfile: update CLI to v28.3.2, Buildx v0.25.0, compose v2.38.2
  Dockerfile
Labels: status/2-code-review, area/testing

#50426 api/types/registry: EncodeAuthConfig: use empty string for zero value
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Labels: status/2-code-review, impact/changelog, area/go-sdk, impact/go-sdk

#50434 libnet/internal/resolvconf: don't use rc.WriteFile in tests
  daemon/libnetwork/internal/resolvconf/resolvconf.go
  daemon/libnetwork/internal/resolvconf/resolvconf_test.go
Labels: status/2-code-review, area/testing

#50437 api: deprecate NoBaseImageSpecifier
  api/common.go
  daemon/builder/dockerfile/dispatchers.go
  daemon/server/router/image/image_routes.go
  distribution/pull.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50452 api/types: remove deprecated aliases
  api/types/types_deprecated.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation, area/go-sdk, impact/go-sdk

#50453 daemon: killProcessDirectly: use "WithFields" for logging
  daemon/container_operations_unix.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50436 daemon: define default (and maximum) API version
  daemon/command/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/info.go
  daemon/server/middleware/version.go
  daemon/server/middleware/version_test.go
  daemon/server/server_test.go
Labels: area/api, status/2-code-review, impact/changelog, area/daemon, release-blocker, go-modules

#50464 internal/platform: remove NumProcs() stub for Linux
  internal/platform/platform_unix.go
Labels: status/2-code-review, kind/refactor

#50456 pkg/idtools: remove deprecated functions and types
  .golangci.yml
  pkg/idtools/idtools.go
  pkg/idtools/idtools_unix_test.go
  pkg/idtools/idtools_windows.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#50461 oci: deprecate SetCapabilities, and some minor cleanups/fixes
  daemon/oci_linux.go
  oci/caps/utils.go
  oci/defaults.go
  oci/oci.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk

#50460 pkg/tailfile: rename vars that shadowed type
  pkg/tailfile/tailfile.go
Labels: status/2-code-review

#50465 remove uses of lazyregexp in tests, test-utilities and packages used externally
  .golangci.yml
  integration-cli/docker_cli_by_digest_test.go
  internal/testutils/networking/firewall.go
  registry/config.go
  testutil/environment/clean.go
Labels: status/2-code-review, kind/refactor

#50454 pkg/process: separate exported funcs from implementation, and fix build-tag for implementation
  pkg/process/process.go
  pkg/process/process_linux.go
  pkg/process/process_nolinux.go
  pkg/process/process_unix.go
  pkg/process/process_windows.go
Labels: status/2-code-review, kind/refactor

#50455 daemon/server: rename vars that shadowed imports
  daemon/server/router/image/image_routes.go
  daemon/server/router/volume/volume_routes.go
Labels: status/2-code-review, area/daemon, kind/bugfix

#50281 Add HealthStatus attribute on the docker ps command
  api/swagger.yaml
  api/types/container/container.go
  api/types/container/health.go
  daemon/container/view.go
  daemon/server/router/container/container_routes.go
  integration/container/list_test.go
  vendor/github.com/moby/moby/api/swagger.yaml
  vendor/github.com/moby/moby/api/types/container/container.go
  vendor/github.com/moby/moby/api/types/container/health.go
Labels: area/api, status/4-merge, kind/feature, impact/changelog

#50448 client: fix datarace when accessing cli.Version field
  client/container_exec.go
  client/container_list.go
  client/events.go
Labels: impact/changelog, kind/bugfix, area/go-sdk, impact/go-sdk

#50477 fix vendor
  vendor/github.com/moby/moby/client/container_exec.go
  vendor/github.com/moby/moby/client/container_list.go
  vendor/github.com/moby/moby/client/events.go
Labels: status/2-code-review, kind/bugfix

#50481 profiles/apparmor, seccomp: migrate to separate module
  daemon/apparmor_default.go
  daemon/seccomp_linux.go
  daemon/seccomp_linux_test.go
  integration-cli/docker_cli_run_unix_test.go
  oci/seccomp_test.go
  profiles/apparmor/apparmor_deprecated.go
  profiles/apparmor/apparmor_linux_test.go
  profiles/seccomp/fixtures/conditional_include.json
  profiles/seccomp/fixtures/default-old-format.json
  profiles/seccomp/fixtures/example.json
  profiles/seccomp/generate.go
  profiles/seccomp/kernel_linux_test.go
  profiles/seccomp/seccomp_deprecated.go
  profiles/seccomp/seccomp_deprecated_linux.go
  profiles/seccomp/seccomp_test.go
  vendor.mod
  vendor.sum
  vendor/github.com/moby/profiles/apparmor/LICENSE
  vendor/github.com/moby/profiles/apparmor/apparmor.go
  vendor/github.com/moby/profiles/apparmor/template.go
  vendor/github.com/moby/profiles/seccomp/LICENSE
  vendor/github.com/moby/profiles/seccomp/default.json
  vendor/github.com/moby/profiles/seccomp/default_linux.go
  vendor/github.com/moby/profiles/seccomp/kernel_linux.go
  vendor/github.com/moby/profiles/seccomp/seccomp.go
  vendor/github.com/moby/profiles/seccomp/seccomp_linux.go
  vendor/modules.txt
Labels: area/security/apparmor, status/2-code-review, impact/deprecation, area/security/seccomp, area/go-sdk, impact/go-sdk, go-modules

#50482 api/types/container: add missing type for exec-inspect response.
  api/types/backend/backend.go
  api/types/container/exec.go
  vendor/github.com/moby/moby/api/types/backend/backend.go
  vendor/github.com/moby/moby/api/types/container/exec.go
Labels: area/api, status/2-code-review

#50479 integration-cli: migrate TestAPIClientVersionOldNotSupported to integration
  integration-cli/docker_api_test.go
  integration/system/version_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#50393 libnetwork, libn/d/overlay: handle coalesced updates from NetworkDB
  daemon/libnetwork/agent.go
  daemon/libnetwork/agent_test.go
  daemon/libnetwork/cmd/networkdb-test/dummyclient/dummyClient.go
  daemon/libnetwork/cnmallocator/manager.go
  daemon/libnetwork/driverapi/driverapi.go
  daemon/libnetwork/drivers/bridge/bridge_linux.go
  daemon/libnetwork/drivers/bridge/brmanager/brmanager.go
  daemon/libnetwork/drivers/host/host.go
  daemon/libnetwork/drivers/ipvlan/ipvlan.go
  daemon/libnetwork/drivers/ipvlan/ivmanager/ivmanager.go
  daemon/libnetwork/drivers/macvlan/macvlan.go
  daemon/libnetwork/drivers/macvlan/mvmanager/mvmanager.go
  daemon/libnetwork/drivers/null/null.go
  daemon/libnetwork/drivers/overlay/joinleave.go
  daemon/libnetwork/drivers/overlay/ov_endpoint.go
  daemon/libnetwork/drivers/overlay/ov_network.go
  daemon/libnetwork/drivers/overlay/overlay.go
  daemon/libnetwork/drivers/overlay/ovmanager/ovmanager.go
  daemon/libnetwork/drivers/overlay/peer.go
  daemon/libnetwork/drivers/overlay/peerdb.go
  daemon/libnetwork/drivers/overlay/types.go
  daemon/libnetwork/drivers/overlay/types_test.go
  daemon/libnetwork/drivers/remote/driver.go
  daemon/libnetwork/drivers/windows/overlay/joinleave_windows.go
  daemon/libnetwork/drivers/windows/overlay/ov_network_windows.go
  daemon/libnetwork/drivers/windows/overlay/overlay.pb.go
  daemon/libnetwork/drivers/windows/overlay/overlay.proto
  daemon/libnetwork/drivers/windows/overlay/overlay_windows.go
  daemon/libnetwork/drivers/windows/overlay/peerdb_windows.go
  daemon/libnetwork/drivers/windows/windows.go
  daemon/libnetwork/internal/hashable/net.go
  daemon/libnetwork/internal/hashable/net_test.go
  daemon/libnetwork/libnetwork_internal_test.go
  daemon/libnetwork/networkdb/delegate.go
  daemon/libnetwork/networkdb/event_delegate.go
  daemon/libnetwork/networkdb/networkdb.go
  daemon/libnetwork/networkdb/networkdb_test.go
  daemon/libnetwork/networkdb/tableevent_test.go
  daemon/libnetwork/networkdb/watch.go
  internal/iterutil/iterutil.go
  internal/iterutil/iterutil_test.go
Labels: area/networking, impact/changelog, process/cherry-pick, area/swarm, kind/bugfix, area/networking/d/overlay, process/cherry-pick/25.0, process/cherry-pick/28.x

#50492 api/types/container: remove deprecated Stats type
  api/types/container/stats.go
  vendor/github.com/moby/moby/api/types/container/stats.go
Labels: area/api, status/2-code-review, impact/deprecation, area/go-sdk, impact/go-sdk

#50497 contrib: remove gitdm
  contrib/gitdm/aliases
  contrib/gitdm/domain-map
  contrib/gitdm/generate_aliases.sh
  contrib/gitdm/gitdm.config
Labels: status/2-code-review, area/contrib, kind/refactor

#50491 api: move docs to api module
  api/README.md
  api/docs/CHANGELOG.md
  api/docs/README.md
  api/docs/v1.24.md
  api/docs/v1.25.yaml
  api/docs/v1.26.yaml
  api/docs/v1.27.yaml
  api/docs/v1.28.yaml
  api/docs/v1.29.yaml
  api/docs/v1.30.yaml
  api/docs/v1.31.yaml
  api/docs/v1.32.yaml
  api/docs/v1.33.yaml
  api/docs/v1.34.yaml
  api/docs/v1.35.yaml
  api/docs/v1.36.yaml
  api/docs/v1.37.yaml
  api/docs/v1.38.yaml
  api/docs/v1.39.yaml
  api/docs/v1.40.yaml
  api/docs/v1.41.yaml
  api/docs/v1.42.yaml
  api/docs/v1.43.yaml
  api/docs/v1.44.yaml
  api/docs/v1.45.yaml
  api/docs/v1.46.yaml
  api/docs/v1.47.yaml
  api/docs/v1.48.yaml
  api/docs/v1.49.yaml
  api/docs/v1.50.yaml
  api/docs/v1.51.yaml
  docs/api/README.md
  vendor/github.com/moby/moby/api/README.md
Labels: area/api, status/2-code-review, area/docs

#50496 docs: remove old rootless placeholder
  docs/rootless.md
Labels: status/3-docs-review

#50487 remove, update tests for deprecated API versions
  integration-cli/docker_api_containers_test.go
  runconfig/config_test.go
  runconfig/fixtures/unix/container_config_1_19.json
  runconfig/fixtures/unix/container_config_1_24.json
  runconfig/fixtures/windows/container_config_1_19.json
  runconfig/fixtures/windows/container_config_1_24.json
Labels: status/2-code-review, area/testing

#50498 registry: remove deprecated RepositoryInfo.Official, Class fields
  registry/config.go
  registry/types.go
Labels: area/distribution, status/2-code-review, impact/deprecation, impact/go-sdk

#50404 daemon: ContainerExtractToDir: make AllowOverwriteDirWithFile opt-in
  daemon/archive.go
  daemon/archive_tarcopyoptions.go
  daemon/archive_tarcopyoptions_unix.go
  daemon/archive_unix.go
  daemon/archive_windows.go
  daemon/server/router/container/backend.go
  daemon/server/router/container/copy.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50503 pkg/stringid: TruncateID: touch-up doc
  pkg/stringid/stringid.go
Labels: status/2-code-review

#50506 [28.x backport] Fix firewalld reload for per-endpoint rules
  integration/networking/bridge_linux_test.go
  libnetwork/drivers/bridge/port_mapping_linux.go
Labels: area/networking, impact/changelog, kind/bugfix, area/networking/firewalling, area/networking/d/bridge, area/networking/firewalld, version/28.2

#50514 [28.x backport] remove, update obsolete tests
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_cli_run_test.go
  runconfig/config_test.go
  runconfig/fixtures/unix/container_config_1_19.json
  runconfig/fixtures/unix/container_config_1_24.json
  runconfig/fixtures/windows/container_config_1_19.json
  runconfig/fixtures/windows/container_config_1_24.json
Labels: status/2-code-review, area/testing

#50510 api/types: move client.go contents into moby/moby/client
  api/types/backend/backend.go
  api/types/client.go
  client/client_interfaces.go
  client/container_attach.go
  client/container_exec.go
  client/hijack.go
  client/hijack_test.go
  client/plugin_create.go
  client/plugin_disable.go
  client/plugin_disable_test.go
  client/plugin_enable.go
  client/plugin_enable_test.go
  client/plugin_install.go
  client/plugin_remove.go
  client/plugin_remove_test.go
  client/plugin_upgrade.go
  daemon/pkg/plugin/backend_linux.go
  daemon/pkg/plugin/backend_unsupported.go
  daemon/server/router/plugin/backend.go
  daemon/server/router/plugin/plugin_routes.go
  integration-cli/docker_cli_daemon_test.go
  integration/internal/container/container.go
  integration/internal/swarm/service.go
  integration/plugin/authz/authz_plugin_v2_test.go
  integration/plugin/common/plugin_test.go
  integration/plugin/logging/logging_linux_test.go
  integration/plugin/logging/read_test.go
  integration/plugin/logging/validation_test.go
  integration/plugin/volumes/mounts_test.go
  integration/service/plugin_test.go
  testutil/environment/clean.go
  testutil/fixtures/plugin/plugin.go
  vendor/github.com/moby/moby/api/types/backend/backend.go
  vendor/github.com/moby/moby/api/types/client.go
  vendor/github.com/moby/moby/client/client_interfaces.go
  vendor/github.com/moby/moby/client/container_attach.go
  vendor/github.com/moby/moby/client/container_exec.go
  vendor/github.com/moby/moby/client/hijack.go
  vendor/github.com/moby/moby/client/plugin_create.go
  vendor/github.com/moby/moby/client/plugin_disable.go
  vendor/github.com/moby/moby/client/plugin_enable.go
  vendor/github.com/moby/moby/client/plugin_install.go
  vendor/github.com/moby/moby/client/plugin_remove.go
  vendor/github.com/moby/moby/client/plugin_upgrade.go
Labels: area/api, kind/refactor, release-blocker

#50528 daemon/server/router/checkpoint: remove unused httputils.ContainerDecoder
  daemon/command/daemon.go
  daemon/server/router/checkpoint/checkpoint.go
Labels: status/2-code-review, area/daemon

#50537 cli/ is not in moby repo (anymore)
  api/README.md
Labels: area/docs

#50458 daemon/server/router/container: postCommit: only decode Config
  daemon/server/router/container/container_routes.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50532 runconfig: remove exported errors
  daemon/container_operations.go
  daemon/create.go
  daemon/daemon_unix.go
  daemon/server/router/container/container_routes.go
  runconfig/config.go
  runconfig/errors.go
  runconfig/hostconfig.go
  runconfig/hostconfig_unix.go
Labels: status/2-code-review, kind/refactor

#50539 iptables: remove deprecated SCTP checksum rule
  daemon/libnetwork/drivers/bridge/internal/iptabler/port.go
Labels: area/networking, impact/changelog, kind/refactor, area/networking/firewalling

#50495 api/types/container: move StateStatus, NewStateStatus internal again
  api/types/container/state.go
  daemon/builder/builder.go
  daemon/builder/dockerfile/mockbackend_test.go
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/container/state.go
  daemon/server/router/container/backend.go
  daemon/wait.go
  vendor/github.com/moby/moby/api/types/container/state.go
Labels: area/api, status/2-code-review, release-blocker

#50548 remove pkg/stringid, pkg/stdcopy as they moved to the client and api modules
  pkg/stdcopy/stdcopy_deprecated.go
  pkg/stringid/alias.go
Labels: status/2-code-review, kind/refactor, go-modules

#50547 pkg/stack: move to daemon/internal
  daemon/cluster/cluster.go
  daemon/cluster/swarm.go
  daemon/debugtrap_unix.go
  daemon/debugtrap_windows.go
  daemon/internal/stack/stackdump.go
  daemon/internal/stack/stackdump_test.go
Labels: status/2-code-review, area/daemon, kind/refactor, go-modules

#50550 pkg/rootless: move to daemon/internal
  daemon/command/daemon.go
  daemon/command/docker.go
  daemon/config/config_linux.go
  daemon/info_unix.go
  daemon/internal/rootless/rootless.go
  daemon/libnetwork/iptables/iptables.go
  pkg/plugins/discovery_unix.go
Labels: status/2-code-review, kind/refactor, go-modules

#50556 daemon/builder/remotecontext: remove detection of system.XattrError
  daemon/builder/remotecontext/archive.go
Labels: status/2-code-review, kind/refactor

#50559 pkg/system: move to daemon/internal
  daemon/builder/dockerfile/copy.go
  daemon/builder/dockerfile/copy_windows.go
  daemon/container_operations_windows.go
  daemon/daemon_windows.go
  daemon/graphdriver/copy/copy.go
  daemon/graphdriver/copy/copy_test.go
  daemon/graphdriver/overlay2/check.go
  daemon/internal/image/tarexport/os_path.go
  daemon/internal/image/tarexport/save.go
  daemon/internal/system/chtimes.go
  daemon/internal/system/chtimes_linux_test.go
  daemon/internal/system/chtimes_nowindows.go
  daemon/internal/system/chtimes_test.go
  daemon/internal/system/chtimes_windows.go
  daemon/internal/system/chtimes_windows_test.go
  daemon/internal/system/filesys_windows.go
  daemon/internal/system/utimes_unix.go
  daemon/internal/system/utimes_unix_test.go
  daemon/internal/system/xattrs_linux.go
  pkg/system/args_windows.go
  pkg/system/errors.go
  pkg/system/filesys.go
  pkg/system/filesys_unix.go
  pkg/system/utimes_unsupported.go
  pkg/system/xattrs.go
  pkg/system/xattrs_unsupported.go
Labels: status/2-code-review, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk, go-modules

#50561 api/types/filters: remove deprecated ToParamWithVersion
  api/types/filters/parse.go
  api/types/filters/parse_test.go
  client/container_list.go
  client/image_list.go
  client/network_list.go
  client/plugin_list.go
  client/system_events.go
  client/utils.go
  client/utils_test.go
  client/volume_list.go
  vendor/github.com/moby/moby/api/types/filters/parse.go
  vendor/github.com/moby/moby/client/container_list.go
  vendor/github.com/moby/moby/client/image_list.go
  vendor/github.com/moby/moby/client/network_list.go
  vendor/github.com/moby/moby/client/plugin_list.go
  vendor/github.com/moby/moby/client/system_events.go
  vendor/github.com/moby/moby/client/utils.go
  vendor/github.com/moby/moby/client/volume_list.go
Labels: area/api, status/2-code-review, impact/deprecation, area/go-sdk, impact/go-sdk

#50571 Add separate const for daemon httputils to avoid jsonmessage import
  daemon/server/httputils/write_log_stream.go
Labels: status/2-code-review, kind/refactor

#50570 pkg/jsonmessage: remove github.com/morikuni/aec dependency
  pkg/jsonmessage/jsonmessage.go
  vendor.mod
Labels: status/2-code-review, kind/refactor, area/dependencies

#50573 api/types/container: add aliases for go-connections/nat types
  api/types/container/config.go
  api/types/container/hostconfig.go
  api/types/container/nat_aliases.go
  api/types/container/network_settings.go
  vendor/github.com/moby/moby/api/types/container/config.go
  vendor/github.com/moby/moby/api/types/container/hostconfig.go
  vendor/github.com/moby/moby/api/types/container/nat_aliases.go
  vendor/github.com/moby/moby/api/types/container/network_settings.go
Labels: area/api, status/2-code-review

#49264 pkg/jsonmessage: stop printing deprecated progressDetail, errorDetail, remove DisplayJSONMessagesToStream and Stream interface
  api/swagger.yaml
  client/pkg/jsonmessage/jsonmessage.go
  client/pkg/jsonmessage/jsonmessage_test.go
  vendor/github.com/moby/moby/api/swagger.yaml
  vendor/github.com/moby/moby/client/pkg/jsonmessage/jsonmessage.go
Labels: area/api, status/2-code-review, kind/refactor, area/go-sdk, impact/go-sdk

#50583 Revert "api/types/registry: EncodeAuthConfig: use empty string for zero value"
  api/types/registry/authconfig.go
  api/types/registry/authconfig_test.go
Labels: area/api, area/distribution, status/2-code-review, kind/bugfix, release-blocker
