Repository moby/moby, pull requests merged in 2025-09, with the labels that each got.

#50871 [28.x backport] graphdriver/windows: Potential fix for access denied
  daemon/graphdriver/windows/windows.go
Labels: platform/windows, status/2-code-review, impact/changelog, area/images, kind/bugfix

#50877 Bump go.mod minimum-go-version to 1.24
  daemon/libnetwork/portallocator/osallocator_linux_test.go
  go.mod
Labels: kind/enhancement, area/packaging

#50874 daemon: backfill empty PBs slices for backward compat
  api/docs/CHANGELOG.md
  daemon/container/container.go
  daemon/server/router/container/container_routes.go
  integration/network/bridge/bridge_linux_test.go
  testutil/daemon/daemon.go
Labels: area/api, status/2-code-review, area/networking, impact/api, impact/changelog, impact/deprecation, area/daemon, kind/refactor, area/networking/portmapping

#48955 integration-cli: TestConcurrentPush: refactor to improve failure logs
  integration-cli/docker_cli_push_test.go
Labels: status/2-code-review, kind/enhancement, area/testing, kind/refactor

#50880 daemon/srv/r/ctr: handlePortBindingsBC: fix warning
  daemon/server/router/container/container_routes.go
  integration/network/bridge/bridge_linux_test.go
Labels: area/api, status/4-merge, area/networking, kind/bugfix, area/networking/portmapping

#50845 nftables: iterate over rules
  daemon/libnetwork/internal/nftables/nftables_linux.go
Labels: area/networking, kind/refactor, area/networking/firewalling

#50885 vendor: update buildkit to v0.24.0
  go.mod
  go.sum
  hack/buildkit-ref
  vendor/github.com/moby/buildkit/frontend/dockerfile/builder/caps.go
  vendor/modules.txt
Labels: area/builder, kind/feature, impact/changelog, process/cherry-picked, area/builder/buildkit, area/dependencies

#50890 [28.x backport] update to go1.24.7
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, area/security, impact/changelog, kind/bugfix, area/dependencies

#50881 daemon: Daemon.ContainerExecStart: fix typo in log field
  daemon/exec.go
Labels: status/2-code-review, area/daemon, ci/validate-only

#50883 libcontainerd/remote: assorted cleanups
  daemon/internal/libcontainerd/remote/client.go
Labels: area/runtime, status/2-code-review, kind/refactor

#50825 api/types/system: move `SecurityOpt` and `DecodeSecurityOptions` to client mod
  client/pkg/security/security_opts.go
  client/pkg/security/security_opts_test.go
  daemon/server/router/system/system_routes.go
  daemon/server/systembackend/security_opts.go
  vendor/github.com/moby/moby/api/types/system/security_opts.go
Labels: area/api, impact/api, kind/refactor, release-blocker

#50587 api: remove unused DefaultVersion, MinSupportedAPIVersion consts
  api/common.go
  client/client.go
  client/client_test.go
  client/options.go
  client/options_test.go
  daemon/command/daemon.go
  daemon/config/config.go
  daemon/config/config_test.go
  daemon/info.go
  daemon/server/middleware/version.go
  daemon/server/middleware/version_test.go
  daemon/server/server.go
  daemon/server/server_test.go
  integration/container/mounts_linux_test.go
  integration/image/list_test.go
  vendor/github.com/moby/moby/api/README.md
  vendor/github.com/moby/moby/api/common.go
  vendor/github.com/moby/moby/api/swagger-gen.yaml
  vendor/github.com/moby/moby/api/swagger.yaml
  vendor/github.com/moby/moby/client/client.go
  vendor/github.com/moby/moby/client/options.go
  vendor/modules.txt
Labels: area/api, status/2-code-review, impact/changelog, kind/refactor, release-blocker

#50856 hack: use heredocs in generate-swagger-api.sh
  hack/generate-swagger-api.sh
Labels: area/api, kind/refactor

#50850 d/libn/internal/addrset: add popcount methods
  daemon/libnetwork/internal/addrset/addrset.go
  daemon/libnetwork/internal/addrset/addrset_test.go
Labels: status/4-merge, kind/enhancement, area/networking, area/networking/ipam, release-blocker

#50799 image delete: inline some variables, and touch-up TODOs
  daemon/containerd/image_delete.go
  integration/image/remove_test.go
Labels: status/2-code-review, kind/refactor

#50901 vendor github.com/spf13/pflag v1.0.10, github.com/spf13/cobra v1.10.1
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/pflag/README.md
  vendor/github.com/spf13/pflag/bool_func.go
  vendor/github.com/spf13/pflag/count.go
  vendor/github.com/spf13/pflag/errors.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/func.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/text.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: status/2-code-review, area/daemon, area/dependencies

#50905 api/types/checkpoint: move checkpoint options to client
  api/types/checkpoint/create_request.go
  api/types/checkpoint/options.go
  client/checkpoint.go
  client/checkpoint_create.go
  client/checkpoint_create_test.go
  client/checkpoint_delete.go
  client/checkpoint_delete_test.go
  client/checkpoint_list.go
  client/checkpoint_list_test.go
  daemon/checkpoint.go
  daemon/server/backend/checkpoint.go
  daemon/server/router/checkpoint/backend.go
  daemon/server/router/checkpoint/checkpoint_routes.go
  integration/container/checkpoint_test.go
  vendor/github.com/moby/moby/api/types/checkpoint/create_request.go
  vendor/github.com/moby/moby/api/types/checkpoint/options.go
  vendor/github.com/moby/moby/client/checkpoint.go
  vendor/github.com/moby/moby/client/checkpoint_create.go
  vendor/github.com/moby/moby/client/checkpoint_delete.go
  vendor/github.com/moby/moby/client/checkpoint_list.go
Labels: area/api, area/cli, status/2-code-review, impact/api, impact/changelog, kind/refactor, impact/go-sdk, go-modules

#50855 api/types/network: generate network-inspect struct definitions from Swagger spec
  api/swagger.yaml
  api/templates/schema.gotmpl
  api/templates/serializers/marshalbinaryserializer.gotmpl
  api/templates/structfield.gotmpl
  api/types/network/config_reference.go
  api/types/network/endpoint_resource.go
  api/types/network/inspect.go
  api/types/network/network.go
  api/types/network/network_types.go
  api/types/network/peer_info.go
  api/types/network/summary.go
  api/types/network/task.go
  hack/generate-swagger-api.sh
  vendor/github.com/moby/moby/api/types/network/config_reference.go
  vendor/github.com/moby/moby/api/types/network/endpoint_resource.go
  vendor/github.com/moby/moby/api/types/network/inspect.go
  vendor/github.com/moby/moby/api/types/network/network.go
  vendor/github.com/moby/moby/api/types/network/network_types.go
  vendor/github.com/moby/moby/api/types/network/peer_info.go
  vendor/github.com/moby/moby/api/types/network/summary.go
  vendor/github.com/moby/moby/api/types/network/task.go
Labels: area/api, impact/changelog, kind/refactor

#50911 api/docs: sync v1.52 docs with latest
  api/docs/v1.52.yaml
Labels: area/api, status/3-docs-review, area/docs, ci/validate-only

#50910 api/docs: remove temporary "full" example for image config
  api/docs/v1.50.yaml
  api/docs/v1.51.yaml
  api/docs/v1.52.yaml
  api/swagger.yaml
Labels: area/api, area/docs, process/cherry-pick/28.x, ci/validate-only

#50919 update AUTHORS
  AUTHORS
Labels: status/2-code-review, area/project, ci/validate-only

#50914 testutil/daemon: fix some footguns for running integration tests interactively
  testutil/daemon/daemon.go
Labels: status/4-merge, area/testing, kind/bugfix

#50920 errdefs: remove deprecated IsXXX utilities
  errdefs/http_helpers.go
  errdefs/http_helpers_test.go
  errdefs/is.go
Labels: status/2-code-review, kind/refactor

#50921 daemon: GetContainerStats: use errdefs for error-type handling
  daemon/stats.go
Labels: status/2-code-review, kind/refactor

#50939 [25.0 backport] Dockerfile.windows: remove deprecated 7Zip4Powershell
  Dockerfile.windows
Labels: platform/windows, status/2-code-review, area/testing, kind/bugfix

#50940 [23.0 backport] Dockerfile.windows: remove deprecated 7Zip4Powershell
  Dockerfile.windows
Labels: platform/windows, status/2-code-review, area/testing, kind/bugfix

#50928 go.mod: re-add replace github.com/moby/moby/api
  go.mod
  go.sum
  vendor/github.com/moby/moby/api/LICENSE
  vendor/modules.txt
Labels: status/2-code-review, area/daemon, area/dependencies, ci/validate-only

#50958 daemon: remove some deprecated functions
  daemon/builder/remotecontext/lazycontext.go
  daemon/config/config_linux.go
  daemon/config/config_windows.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50959 api/types/container: remove deprecated ExecOptions.Detach
  api/types/container/exec.go
  vendor/github.com/moby/moby/api/types/container/exec.go
Labels: area/api, status/2-code-review, release-blocker, module/api

#50981 API: /info: remove magic `<unknown>` values for API < 1.39
  daemon/server/router/system/system_routes.go
Labels: area/api, status/2-code-review, area/daemon

#50982 API: /info: remove `SecurityOptions` re-formatting for API < 1.25
  daemon/info.go
  daemon/server/router/system/system_routes.go
  daemon/server/systembackend/security_opts.go
Labels: area/api, status/2-code-review, area/daemon, kind/refactor

#50987 move endpoint API version constraints to API server
  client/build_prune.go
  client/config_create.go
  client/config_create_test.go
  client/config_inspect.go
  client/config_inspect_test.go
  client/config_list.go
  client/config_list_test.go
  client/config_remove.go
  client/config_remove_test.go
  client/config_update.go
  client/config_update_test.go
  client/container_prune.go
  client/distribution_inspect.go
  client/distribution_inspect_test.go
  client/image_prune.go
  client/network_prune.go
  client/plugin_upgrade.go
  client/secret_create.go
  client/secret_create_test.go
  client/secret_inspect.go
  client/secret_inspect_test.go
  client/secret_list.go
  client/secret_list_test.go
  client/secret_remove.go
  client/secret_remove_test.go
  client/secret_update.go
  client/secret_update_test.go
  client/volume_prune.go
  client/volume_update.go
  daemon/server/router/build/build.go
  daemon/server/router/container/container.go
  daemon/server/router/distribution/distribution.go
  daemon/server/router/image/image.go
  daemon/server/router/local.go
  daemon/server/router/network/network.go
  daemon/server/router/plugin/plugin.go
  daemon/server/router/swarm/cluster.go
  daemon/server/router/volume/volume.go
  vendor/github.com/moby/moby/client/build_prune.go
  vendor/github.com/moby/moby/client/config_create.go
  vendor/github.com/moby/moby/client/config_inspect.go
  vendor/github.com/moby/moby/client/config_list.go
  vendor/github.com/moby/moby/client/config_remove.go
  vendor/github.com/moby/moby/client/config_update.go
  vendor/github.com/moby/moby/client/container_prune.go
  vendor/github.com/moby/moby/client/distribution_inspect.go
  vendor/github.com/moby/moby/client/image_prune.go
  vendor/github.com/moby/moby/client/network_prune.go
  vendor/github.com/moby/moby/client/plugin_upgrade.go
  vendor/github.com/moby/moby/client/secret_create.go
  vendor/github.com/moby/moby/client/secret_inspect.go
  vendor/github.com/moby/moby/client/secret_list.go
  vendor/github.com/moby/moby/client/secret_remove.go
  vendor/github.com/moby/moby/client/secret_update.go
  vendor/github.com/moby/moby/client/volume_prune.go
  vendor/github.com/moby/moby/client/volume_update.go
Labels: area/api, status/2-code-review

#50989 remove support for deprecated kernel memory limit
  api/docs/v1.24.md
  api/docs/v1.25.yaml
  api/docs/v1.26.yaml
  api/docs/v1.27.yaml
  api/docs/v1.28.yaml
  api/docs/v1.29.yaml
  api/docs/v1.30.yaml
  api/docs/v1.31.yaml
  api/docs/v1.32.yaml
  api/docs/v1.33.yaml
  api/docs/v1.34.yaml
  api/docs/v1.35.yaml
  api/docs/v1.38.yaml
  api/docs/v1.39.yaml
  api/types/container/hostconfig.go
  api/types/system/info.go
  client/container_create.go
  daemon/container/container_unix.go
  daemon/container/container_windows.go
  daemon/daemon_unix.go
  daemon/daemon_windows.go
  daemon/info_unix.go
  daemon/server/router/container/container_routes.go
  daemon/server/router/system/system_routes.go
  daemon/update_linux.go
  pkg/sysinfo/cgroup2_linux.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
  vendor/github.com/moby/moby/api/types/container/hostconfig.go
  vendor/github.com/moby/moby/api/types/system/info.go
  vendor/github.com/moby/moby/client/container_create.go
Labels: area/api, status/2-code-review, kind/refactor, release-blocker

#50994 integration-cli: remove startContainerGetOutput, runCommandWithOutput
  integration-cli/docker_cli_cp_to_container_unix_test.go
  integration-cli/docker_cli_cp_utils_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_save_load_test.go
  integration-cli/utils_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#51003 client: rename validateAPIVersion to validateServiceSpecForAPIVersion
  client/service_create.go
  vendor/github.com/moby/moby/client/service_create.go
Labels: status/2-code-review, ci/validate-only, module/client

#50997 client: separate exec methods to ExecAPIClient interface
  client/client_interfaces.go
  vendor/github.com/moby/moby/client/client_interfaces.go
Labels: impact/changelog, kind/refactor, area/go-sdk, module/client

#50996 daemon/server: minor refactor and cleanup
  daemon/server/router/local.go
  daemon/server/server.go
Labels: status/2-code-review, area/daemon, kind/refactor

#50530 explicitly access Container.State instead of through embedded struct
  daemon/archive_windows.go
  daemon/attach.go
  daemon/changes.go
  daemon/commit.go
  daemon/container/container.go
  daemon/container/state.go
  daemon/container/state_test.go
  daemon/container/view.go
  daemon/container/view_test.go
  daemon/container_operations.go
  daemon/container_operations_unix.go
  daemon/containerd/image_delete.go
  daemon/daemon.go
  daemon/delete.go
  daemon/delete_test.go
  daemon/exec.go
  daemon/export.go
  daemon/health.go
  daemon/health_test.go
  daemon/images/image_delete.go
  daemon/inspect.go
  daemon/inspect_test.go
  daemon/kill.go
  daemon/list_test.go
  daemon/logs.go
  daemon/monitor.go
  daemon/mounts.go
  daemon/pause.go
  daemon/prune.go
  daemon/rename.go
  daemon/restart.go
  daemon/start.go
  daemon/start_unix.go
  daemon/stats.go
  daemon/stop.go
  daemon/top_unix.go
  daemon/top_windows.go
  daemon/unpause.go
  daemon/update.go
  daemon/wait.go
  integration/container/daemon_linux_test.go
  internal/testutil/daemon/daemon.go
Labels: status/2-code-review, kind/refactor

#51020 client: Client.negotiateAPIVersionPing: trim v-prefix before handling
  client/client.go
  client/client_test.go
  client/ping_test.go
  vendor/github.com/moby/moby/client/client.go
Labels: status/2-code-review, kind/refactor, module/client

#51018 project: mark 23.0 branch as unmaintained (EOL)
  project/BRANCHES-AND-TAGS.md
Labels: status/3-docs-review, area/docs, area/project, ci/validate-only

#51034 [28.x backport] api/docs: remove temporary "full" example for image config
  api/swagger.yaml
  docs/api/v1.50.yaml
  docs/api/v1.51.yaml
Labels: area/api, status/2-code-review, area/docs, ci/validate-only

#51035 [28.x backport] ipams: Re-enable legacy remote plugins support
  libnetwork/ipams/drivers.go
Labels: platform/windows, status/2-code-review, area/networking, impact/changelog, area/plugins, kind/bugfix, area/networking/ipam

#51045 use t.Context() instead of context.TODO() in various tests
  daemon/builder/dockerfile/dispatchers_test.go
  daemon/builder/dockerfile/evaluator_test.go
  daemon/builder/dockerfile/internals_linux_test.go
  daemon/builder/dockerfile/internals_test.go
  daemon/containerd/image_delete_test.go
  daemon/containerd/image_inspect_test.go
  daemon/containerd/image_list_test.go
  daemon/containerd/image_load_test.go
  daemon/containerd/image_push_test.go
  daemon/containerd/image_save_test.go
  daemon/containerd/image_test.go
  daemon/libnetwork/drivers/windows/windows_test.go
  daemon/libnetwork/libnetwork_linux_test.go
  daemon/libnetwork/network_windows_test.go
  daemon/libnetwork/networkdb/networkdb_test.go
  daemon/libnetwork/osl/kernel/knobs_linux_test.go
  daemon/logger/adapter_test.go
  daemon/logger/awslogs/cloudwatchlogs_test.go
  daemon/logger/jsonfilelog/read_test.go
  daemon/logger/loggerutils/logfile_test.go
  daemon/oci_linux_test.go
  daemon/reload_test.go
  daemon/resize_test.go
  dockerversion/useragent_test.go
  integration/network/bridge/bridge_linux_test.go
Labels: status/2-code-review, kind/enhancement, area/testing

#51050 client/checkpoint_list: Wrap result in a struct
  client/checkpoint.go
  client/checkpoint_list.go
  client/checkpoint_list_test.go
  integration/container/checkpoint_test.go
  vendor/github.com/moby/moby/client/checkpoint.go
  vendor/github.com/moby/moby/client/checkpoint_list.go
Labels: kind/refactor, go-modules, module/client

#51051 api/checkpoint: Don't return null if no checkpoints
  daemon/server/router/checkpoint/checkpoint_routes.go
Labels: area/api, impact/changelog, process/cherry-picked, kind/bugfix

#50857 Add container inspect storage field
  api/docs/v1.52.yaml
  api/swagger.yaml
  api/types/container/container.go
  api/types/storage/root_f_s_storage.go
  api/types/storage/root_f_s_storage_snapshot.go
  api/types/storage/storage.go
  daemon/inspect.go
  hack/generate-swagger-api.sh
  integration-cli/docker_api_inspect_test.go
  integration/daemon/default_storage_test.go
  vendor/github.com/moby/moby/api/types/container/container.go
  vendor/github.com/moby/moby/api/types/storage/root_f_s_storage.go
  vendor/github.com/moby/moby/api/types/storage/root_f_s_storage_snapshot.go
  vendor/github.com/moby/moby/api/types/storage/storage.go
Labels: area/api, kind/enhancement, impact/api, area/daemon, release-blocker, module/api

#51052 [28.x backport] api/checkpoint: Don't return null if no checkpoints
  api/server/router/checkpoint/checkpoint_routes.go
Labels: area/api, status/2-code-review, impact/changelog, kind/bugfix

#51046 vendor: github.com/opencontainers/cgroups v0.0.5
  go.mod
  go.sum
  vendor/github.com/opencontainers/cgroups/cgroups.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#51048 vendor: github.com/hashicorp/go-memdb v1.3.5
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-memdb/CODEOWNERS
  vendor/github.com/hashicorp/go-memdb/LICENSE
  vendor/github.com/hashicorp/go-memdb/changes.go
  vendor/github.com/hashicorp/go-memdb/filter.go
  vendor/github.com/hashicorp/go-memdb/index.go
  vendor/github.com/hashicorp/go-memdb/memdb.go
  vendor/github.com/hashicorp/go-memdb/schema.go
  vendor/github.com/hashicorp/go-memdb/txn.go
  vendor/github.com/hashicorp/go-memdb/watch.go
  vendor/github.com/hashicorp/go-memdb/watch_few.go
  vendor/modules.txt
Labels: status/2-code-review, area/dependencies

#51060 api/docs: remove email field from example auth
  api/docs/v1.25.yaml
  api/docs/v1.26.yaml
  api/docs/v1.27.yaml
  api/docs/v1.28.yaml
  api/docs/v1.29.yaml
  api/docs/v1.30.yaml
  api/docs/v1.31.yaml
  api/docs/v1.32.yaml
  api/docs/v1.33.yaml
  api/docs/v1.34.yaml
  api/docs/v1.35.yaml
  api/docs/v1.36.yaml
  api/docs/v1.37.yaml
  api/docs/v1.38.yaml
  api/docs/v1.39.yaml
  api/docs/v1.40.yaml
  api/docs/v1.41.yaml
  api/docs/v1.42.yaml
  api/docs/v1.43.yaml
  api/docs/v1.44.yaml
  api/docs/v1.45.yaml
  api/docs/v1.46.yaml
  api/docs/v1.47.yaml
  api/docs/v1.48.yaml
  api/docs/v1.49.yaml
  api/docs/v1.50.yaml
  api/docs/v1.51.yaml
Labels: area/api, status/2-code-review, status/3-docs-review, area/docs, process/cherry-picked, process/cherry-pick/25.0, ci/validate-only, module/api

#51062 Eliminate warning about endpoint count store delete
  daemon/libnetwork/network.go
Labels: area/networking, impact/changelog, kind/bugfix, process/cherry-pick/28.x

#51063 daemon/libnetwork/internal/kvstore: remove unused `BOLTDB`, `Backend` type, and `ErrBackendNotSupported`
  daemon/libnetwork/internal/kvstore/kvstore.go
Labels: status/2-code-review, area/networking, area/daemon, kind/refactor

#51064 [28.x backport] Eliminate warning about endpoint count store delete
  libnetwork/network.go
Labels: status/2-code-review, area/networking, impact/changelog, kind/bugfix

#51067 [28.x backport] api: deprecate `KernelMemoryTCP` support
  api/server/router/container/container_routes.go
  api/swagger.yaml
  api/types/container/hostconfig.go
  api/types/system/info.go
  daemon/daemon_unix.go
  daemon/info_unix.go
  docs/api/v1.50.yaml
  docs/api/v1.51.yaml
  docs/api/version-history.md
  pkg/sysinfo/sysinfo.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, kind/refactor, ci/validate-only

#51068 api: swagger: remove VirtualSize fields for API > v1.43
  api/docs/v1.44.yaml
  api/docs/v1.45.yaml
  api/docs/v1.46.yaml
  api/docs/v1.47.yaml
  api/docs/v1.48.yaml
  api/docs/v1.49.yaml
  api/docs/v1.50.yaml
  api/docs/v1.51.yaml
  api/docs/v1.52.yaml
  api/swagger.yaml
Labels: area/api, status/3-docs-review, area/docs, process/cherry-picked, ci/validate-only, module/api

#51069 [28.x backport] api: swagger: remove VirtualSize fields for API > v1.43
  api/swagger.yaml
  docs/api/v1.44.yaml
  docs/api/v1.45.yaml
  docs/api/v1.46.yaml
  docs/api/v1.47.yaml
  docs/api/v1.48.yaml
  docs/api/v1.49.yaml
  docs/api/v1.50.yaml
  docs/api/v1.51.yaml
Labels: area/api, status/3-docs-review, area/docs, ci/validate-only, module/api
