Repository moby/moby, pull requests merged in 2025-10, with the labels that each got.

#51070 daemon/server: implement image-inspect with "compat" package
  daemon/server/router/image/image_routes.go
Labels: status/2-code-review, area/daemon, kind/refactor

#51091 [28.x] Add back vendor.sum
  vendor.sum
Labels: area/packaging, kind/bugfix

#50953 fix content-type declared by /events API
  api/docs/CHANGELOG.md
  api/swagger.yaml
  api/types/types.go
  client/internal/json-stream.go
  client/internal/json-stream_test.go
  client/system_events.go
  daemon/server/httputils/json-seq.go
  daemon/server/router/system/system_routes.go
  vendor/github.com/moby/moby/api/types/types.go
  vendor/github.com/moby/moby/client/internal/json-stream.go
  vendor/github.com/moby/moby/client/system_events.go
  vendor/modules.txt
Labels: area/api, status/2-code-review, impact/api, impact/changelog, kind/bugfix, module/api, module/client

#51072 api: omit legacy fields from image inspect if not set
  api/docs/CHANGELOG.md
  api/docs/v1.52.yaml
  api/swagger.yaml
  api/types/image/image_inspect.go
  daemon/server/router/image/image_routes.go
  vendor/github.com/moby/moby/api/types/image/image_inspect.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, kind/refactor, module/api

#51104 api/types/image: InspectResponse: deprecate Parent, DockerVersion
  api/docs/CHANGELOG.md
  api/docs/v1.51.yaml
  api/docs/v1.52.yaml
  api/swagger.yaml
  api/types/image/image_inspect.go
  daemon/containerd/image_inspect.go
  daemon/images/image_inspect.go
  daemon/server/router/image/image_routes.go
  integration-cli/docker_api_build_test.go
  vendor/github.com/moby/moby/api/types/image/image_inspect.go
Labels: area/api, status/2-code-review, impact/api, impact/changelog, impact/deprecation, process/cherry-picked, kind/refactor, area/go-sdk, release-blocker, module/api

#51106 integration-cli: remove deprecated buildImageSuccessfully, buildImage utilities
  integration-cli/docker_api_containers_test.go
  integration-cli/docker_api_images_test.go
  integration-cli/docker_cli_build_test.go
  integration-cli/docker_cli_build_unix_test.go
  integration-cli/docker_cli_by_digest_test.go
  integration-cli/docker_cli_create_test.go
  integration-cli/docker_cli_events_test.go
  integration-cli/docker_cli_events_unix_test.go
  integration-cli/docker_cli_exec_test.go
  integration-cli/docker_cli_health_test.go
  integration-cli/docker_cli_history_test.go
  integration-cli/docker_cli_images_test.go
  integration-cli/docker_cli_ps_test.go
  integration-cli/docker_cli_pull_local_test.go
  integration-cli/docker_cli_push_test.go
  integration-cli/docker_cli_rmi_test.go
  integration-cli/docker_cli_run_test.go
  integration-cli/docker_cli_run_unix_test.go
  integration-cli/docker_cli_save_load_test.go
  integration-cli/docker_cli_save_load_unix_test.go
  integration-cli/docker_cli_volume_test.go
  integration-cli/docker_utils_test.go
Labels: status/2-code-review, area/testing, kind/refactor

#51102 daemon/server: move GetImageOpts, ImageInspectOpts to imagebackend
  daemon/cluster/executor/backend.go
  daemon/cluster/executor/container/adapter.go
  daemon/containerd/cache.go
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_events.go
  daemon/containerd/image_inspect.go
  daemon/containerd/image_inspect_test.go
  daemon/containerd/image_list.go
  daemon/containerd/image_load_test.go
  daemon/create.go
  daemon/image_service.go
  daemon/images/cache.go
  daemon/images/image.go
  daemon/images/image_builder.go
  daemon/images/image_delete.go
  daemon/images/image_events.go
  daemon/images/image_history.go
  daemon/images/image_inspect.go
  daemon/images/image_list.go
  daemon/images/image_pull.go
  daemon/images/image_push.go
  daemon/list.go
  daemon/migration.go
  daemon/oci_windows.go
  daemon/server/backend/backend.go
  daemon/server/imagebackend/image.go
  daemon/server/router/image/backend.go
  daemon/server/router/image/image_routes.go
  daemon/volumes.go
Labels: status/2-code-review, area/daemon, kind/refactor

#51099 use consistent alias for docker image spec
  .golangci.yml
  daemon/containerd/image.go
  daemon/containerd/image_builder.go
  daemon/containerd/image_commit.go
  daemon/containerd/image_import.go
  daemon/containerd/image_inspect.go
  daemon/containerd/imagespec.go
  daemon/images/imagespec.go
Labels: status/2-code-review, kind/refactor, ci/validate-only

#51108 Dockerfile: update docker CLI v28.5.0, buildx v0.29.1, compose v2.40.0
  Dockerfile
Labels: status/2-code-review, area/testing

#51109 api/types/plugin: deprecate Config.DockerVersion field
  api/docs/CHANGELOG.md
  api/docs/v1.51.yaml
  api/docs/v1.52.yaml
  api/swagger.yaml
  api/types/plugin/plugin.go
  daemon/pkg/plugin/backend_linux.go
  vendor/github.com/moby/moby/api/types/plugin/plugin.go
Labels: area/api, status/4-merge, impact/changelog, impact/deprecation, area/plugins, kind/refactor, area/go-sdk, impact/go-sdk, process/cherry-pick/28.x, module/api

#51096 Rework Go mod tidy/vendor checks
  hack/validate/vendor
  hack/vendor.sh
Labels: kind/refactor, area/ci

#51116 [28.x] Rework Go mod tidy/vendor checks
  hack/validate/vendor
  hack/vendor.sh
Labels: kind/bugfix, area/ci

#51101 daemon: stop propagating Image.DockerVersion, Plugin.Config.DockerVersion fields
  daemon/containerd/imagespec.go
  daemon/images/image_import.go
  daemon/internal/image/cache/cache.go
  daemon/internal/image/image.go
  daemon/pkg/plugin/backend_linux.go
Labels: status/2-code-review, kind/refactor, release-blocker

#51126 [28.x backport] ci: fix cache for go modules
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
Labels: status/2-code-review, area/testing, ci/validate-only

#51128 [28.x backport] builder: use proper percentage calculations for default gc policy
  builder/builder-next/worker/gc.go
Labels: area/builder, status/2-code-review, kind/bugfix, area/builder/buildkit

#51117 [25.0] Rework Go mod tidy/vendor checks
  hack/validate/vendor
  hack/vendor.sh
Labels: kind/bugfix, area/ci

#51132 update to go1.24.8
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/.vm.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  TESTING.md
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/security, impact/changelog, process/cherry-picked, kind/bugfix, process/cherry-pick/25.0, area/dependencies

#51133 [28.x backport] update to go1.24.8
  .github/workflows/.test-unit.yml
  .github/workflows/.test.yml
  .github/workflows/.windows.yml
  .github/workflows/arm64.yml
  .github/workflows/buildkit.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  .golangci.yml
  Dockerfile
  Dockerfile.simple
  Dockerfile.windows
  TESTING.md
  hack/dockerfiles/generate-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
Labels: status/2-code-review, area/security, impact/changelog, kind/bugfix, area/dependencies

#51103 api/types/image: InspectResponse: remove deprecated fields
  api/types/image/image_inspect.go
  daemon/containerd/image_inspect.go
  daemon/image_service.go
  daemon/images/image_inspect.go
  daemon/server/imagebackend/image.go
  daemon/server/router/image/backend.go
  daemon/server/router/image/image_routes.go
  integration-cli/docker_api_build_test.go
  vendor/github.com/moby/moby/api/types/image/image_inspect.go
Labels: area/api, status/2-code-review, impact/changelog, impact/deprecation, kind/refactor, area/go-sdk, impact/go-sdk, release-blocker, ci/validate-only, module/api

#51134 Don't copy old network IPAM state to network config on daemon restart
  daemon/libnetwork/controller.go
  daemon/libnetwork/network.go
Labels: area/networking, kind/refactor, area/networking/ipam
